[2021-04-08 11:42] bfleischer commented on #796
There was Google MacFUSE, which died more than a decade ago. I forked the project and continued working on it under the name "FUSE for OS X/macOS" and used osxfuse as the identifier for the GitHub organization. The original Google MacFUSE maintainer asked me to use a different name than MacFUSE, because it was highly associated with Google.

When I started working on the project, Apple used the te

[2021-04-08 11:42] #796 closed, assigned to bfleischer

[2021-04-08 21:07] Timmmm commented on #796
Ah very clear, thanks! Maybe worth adding to the readme/website.

[2021-04-09 13:54] sircharlesgrey opened #797 "Kextload problem under Big Sur 11.3 B6"
Veracrypt ( latest build) doesn't start with Big nur 11.3 and Macfuse 4.10
It says kextload problems

Ist working fine with 11.2.3 and below

[2021-04-10 01:19] Chasapple4 commented on #779
Rebooted last week and broken again.

How do you force macOS to load macFUSE?

[2021-04-10 01:23] bfleischer commented on #779
@Chasapple4 Upgrade to macOS 11.3 beta 4 or later and the issue will disappear. There really is no other way.

[2021-04-10 11:38] sircharlesgrey commented on #797
sorry today there are no issues...
I changed nothing since yesterday

[2021-04-10 11:38] #797 closed, assigned to nobody

[2021-04-10 11:38] sircharlesgrey commented on #797
works fine at the moment

[2021-04-10 13:29] Chasapple4 commented on #779
Might be as last time after hours of waiting macOS did something and it was loaded.

[2021-04-11 19:10] alexshavelev92 commented on #705
hey there

tried both installations via brew and macfuse.dm, allowed at system preferences

[code]

but always got same error

[code]

Big Sur

Does someone have any suggestions?

[2021-04-11 19:39] alexshavelev92 commented on #705
solved, seemed it was more `brew` issue as installing from sshfs.dmg worked fine

[2021-04-12 08:52] invokermoon commented on #793
I experienced the same issues in Mac book pro 16 (11.2.3 Big Sur).
When I install the macFuse and sshfs, when I want type sshfs with a long parameters,  my Mac will block in most Application, and disconnect with Internet。

[2021-04-14 21:21] GeigerPost opened #798 "OS X 10.14.6 "Allow" security button never appears"
I cannot, for the life of me, get FUSE approved on this one machine.
MacPro2013 running 10.14.6.
The SysPrefs "Allow" button never appears.

Steps attempted:

1. Close SysPrefs, reopen

2. Switch to other tabs, return to the General tab

3. Reboot

4. Uninstall using the Extras/uninstaller app; reboot, reinstall

5. Uninstall using the SysPrefs pane; reboot, reinstall

6. Check System Information

[2021-04-15 08:48] gregBerthelot opened #799 "MacFuse preference panel issue"
Hi there.

I just installed MacFuse on a new Macbook M1. When I want to open MacFuse preference panel I get a popup saying
[code]

Any help would be appreciated

<img width="383" alt="ScreenShot 2021-04-15 at 10 49 15" src="https://user-images.githubusercontent.com/19594443/114841543-3f929580-9dd8-11eb-9c0f-3797fb293c90.png">

[2021-04-15 12:21] gregBerthelot commented on #792
Same issue here https://github.com/osxfuse/osxfuse/issues/799

[2021-04-15 12:28] bfleischer commented on #792
Did you install Rosetta 2?

[2021-04-15 12:44] gregBerthelot commented on #792
No. I was waiting your native version to install macFuse so for my use case I don't want to install Rosetta since we can't remove it.

[2021-04-15 12:53] themiguelamador commented on #792
Got the error not on M1.

On Thu, Apr 15, 2021, 13:44 Greg ***@***.***> wrote:

[2021-04-15 12:57] bfleischer commented on #792
Do you still get this error after rebooting?

[2021-04-15 13:07] gregBerthelot commented on #792
For myself yes

[2021-04-15 13:11] bfleischer commented on #792
Can you open Console.app and check the log messages when you click on the macFUSE preference pane? This might tell us what's causing the issue.

In the sidebar of Console.app there should be a crash log section. Could you check if it contains any macFUSE related crashes? If this is the case, it would be great if you could attach the crash log to this ticket.

[2021-04-15 13:14] gregBerthelot commented on #792
[macfuse-prefs-crash-report.txt](https://github.com/osxfuse/osxfuse/files/6318247/macfuse-prefs-crash-report.txt)

[2021-04-15 13:22] bonifatius5 commented on #792
I will also create a crash report later today and make it available. I have a virgin Apple M1 without Rosetta2 in use.

[2021-04-15 15:01] bonifatius5 commented on #792
[legacyLoader-arm64_2021-04-15-155255_MacBook-Pro-von-Sebastian.txt](https://github.com/osxfuse/osxfuse/files/6318965/legacyLoader-arm64_2021-04-15-155255_MacBook-Pro-von-Sebastian.txt)

here is my crash report

[2021-04-15 15:04] gregBerthelot commented on #799
Duplicate https://github.com/osxfuse/osxfuse/issues/792

[2021-04-15 15:04] #799 closed, assigned to nobody

[2021-04-15 19:26] PATPARIS opened #800 "TRESORIT on BIG SUR"
osxfuse is not yet working on Mac BIG SUR, when will be an update ?

[2021-04-15 19:59] bfleischer commented on #800
Possibly a duplicate of #780

macFUSE has supported Big Sur from day one. Please raise this issue with the Tresorit team. This is something they need to look into.

Please know that Tresorit is not contributing to the continued development of the macFUSE software. I asked the Tresorit team for financial support, in order to be able to continue maintaining macFUSE in the future, but they declined.

[2021-04-15 19:59] #800 closed, assigned to bfleischer

[2021-04-16 06:28] williamhoney commented on #763
@bfleischer is there still 'no way around it' — i.e. we need to "allow loading  third party kernel extensions in recovery mode before you will be able to use macFUSE"?

And if so, can we go and disable third party kernel extensions after installing macfuse then?

[2021-04-16 12:41] bfleischer commented on #763
@williamhoney Currently there is only one API for developing full-featured file systems and this is the VFS kernel API that macFUSE uses. There is no alternative API. Apple needs to create such an alternative API first, before I can update macFUSE to use this new API instead of the old kernel API. Until Apple introduces such a new API, there is no way around enabling loading third-party kernel ext

[2021-04-18 00:09] dnicolson commented on #45
This issue does not appear to be specific to sshfs. When using [ifuse](https://github.com/libimobiledevice/ifuse) if a device is disconnected the `ifuse` process needs to be killed and the path unmounted to resolve the issue.

[2021-04-18 05:27] jhihn commented on #45
That might be true, but that's not how it presents to the user. Back when I found this issue, because I was having it, I had no idea about the inner workings, despite mounting fss for years.

As for how this applies to sshfs, can it detect that is the unmount fails, it at least has a force option that does what you describe?

[2021-04-18 08:48] darelover commented on #616
For this same reason, I am thinking of maintaining [this tap](https://github.com/darelover/homebrew-ntfs-3g) for people who still want to get `ntfs-3g` using homebrew

[2021-04-18 10:33] stefangeneralao commented on #570
My apologies as well for bumping this issue. Has anyone found a fix?

@maxcaibm did you find a fix?

[2021-04-19 13:14] darkclyan opened #801 "sshfs has been disabled because it requires fuse"
Hello, someone could help me ?

I'm using telepresence to connect to a remote proxy. But, yesterday when I started telepresence appears the messages bellow:
`sshfs has been disabled because it requires fuse`

I tried all the steps in another issues, here in github.

1. Reinstall Big Sur and enables SIP -> No effect.
2. Reinstall Big Sur and enables SIP and reinstall osxfuse -> Got the same error a

[2021-04-19 18:59] bfleischer commented on #801
Please raise this issue with the telepresence team. The error message "sshfs has been disabled because it requires fuse" seems to originate from Homebrew. There is nothing I can do about that.

You can download (a slightly outdated version of) sshfs from https://osxfuse.github.io. This sshfs build works fine Big Sur. But judging from your description, telepresence tries to install its own version

[2021-04-19 18:59] #801 closed, assigned to bfleischer

[2021-04-20 09:58] henrychea opened #802 "Unable to install nfts-3g after install macFuse on Catalina 10.15.7"
I have tried installing the older version 3.1.x as well but it displays the same error.
<img width="697" alt="Screen Shot 2021-04-20 at 4 56 17 PM" src="https://user-images.githubusercontent.com/40254517/115377227-9d204b00-a1f9-11eb-929a-946e49f2bd1e.png">

[2021-04-20 10:30] bfleischer commented on #802
Please raise this issue with the Homebrew team. There is nothing I can do from my end.

[2021-04-20 10:30] #802 closed, assigned to bfleischer

[2021-04-25 02:22] Artoria2e5 commented on #759
I added a section on https://github.com/osxfuse/osxfuse/wiki/NTFS-3G#big-sur-and-the-ssv to talk about how effed up SSV makes things now. I think the way forward is to write a `/Library/Filesystems/ntfs_3g.fs/Contents/Info.plist` instead of doing file replacement, but in typical Apple fashion none of that is documented.

(To be really fair, file replacement has always been a big hack...)

[2021-04-26 22:21] Chasapple4 commented on #779
macOS 11.3 is out (around 6GB update), looks to have fixed it tho had to run the installer for VirtualBox again as the system extension was not loaded right by macOS

[2021-04-26 22:26] mixtly87 opened #803 "When did moveItemAtPath become deprecated?"
I noticed a line in my app's log:

[code]

When did `moveItemAtPath` became deprecated and what is the alternative?

[2021-04-26 23:14] cpcallen opened #804 "Unable to load osxfues 3.11.2 on macOS 10.14.6: Memory allocation failure (?)"
I am unable to load osxfuse 3.11.2 on Mojave, either on demand by `simple-mtpfs` or manually:

[code]

Console reports… well, a lot of stuff, but the relevant bit seems to be:
[code]

I don't get any kind of pop-up as I've seen (in other bug reports or in previous use) telling me to enable it in System Preferences, and indeed there is no such button displayed there.  (I did check to make sure it w

[2021-04-27 03:27] kavehv commented on #793
I run into the same issues with sshfs + macfuse (4.1.0) on 11.2.3.  I'm also confused as I thought the whole point of non-kernel-space drivers like this was to prevent something like this from killing the system slowly like this.

[2021-04-27 07:31] bfleischer commented on #804
Version 3.11.2 works on macOS 10.5 (Intel and PowerPC) to macOS 11 (Intel only).

Disabling SIP is not required.

Although the logs you posted do not contain any osxfuse specific lines, they don't look good either. There seem to be many kernel extensions that cannot be staged (or loaded) on your system. You could try fixing permissions. If this does not work you might want to consider reinstalling

[2021-04-27 07:31] #804 closed, assigned to bfleischer

[2021-04-27 07:36] bfleischer commented on #803
Please check the releases notes for version 4.0.0 and the framework headers. The new callback is:

[code]

The new moveItemAtPath:... callback adds support for renamex_np(2) calls.

[2021-04-27 07:36] #803 closed, assigned to bfleischer

[2021-04-27 21:57] E-Baler commented on #798
Hello same problem here same Mac OS version mbp 15 late 2015!

[2021-04-27 22:04] E-Baler commented on #763
Same problem on intel mojave..

[2021-04-28 15:24] panolens opened #805 "Updating to bigSur 11.3 solved the problem for me - M1 - MacBook Air"
Cryptomator with macFUSE 4.1
Now I can write to cryptomator again without crashing my MacBook-Air

[2021-04-28 15:26] panolens commented on #763
Updating to bigSur 11.3 solved the problem for me - M1 - MacBook Air

with macFUSE 4.1.
Now I can write to cryptomator again without crashing my MacBook Air

[2021-04-28 15:47] gregBerthelot commented on #792
@bfleischer will the issue been fixed in next release?

[2021-04-28 15:52] bonifatius5 commented on #792
That would be great if it could be fixed with the next release

[2021-04-28 19:49] AyaanZaveri commented on #805
Me too! I had the problem but now it's fixed. https://github.com/osxfuse/osxfuse/issues/795

[2021-04-28 19:51] AyaanZaveri opened #806 "Do you guys have a database of icons for the mount?"
Is there a way I could change the default icon for the mount?
<img width="94" alt="Screen Shot 2021-04-28 at 3 51 05 PM" src="https://user-images.githubusercontent.com/63752541/116464093-8b622780-a839-11eb-9945-583c744c3d59.png">
 If so, do you guys have a database of icons?

[2021-04-29 18:28] mhawila commented on #574
Thanks works like charm.

[2021-04-30 03:40] Artoria2e5 commented on #806
The current icon should be somewhere like `/Library/Filesystems/fusefs.fs/Contents/Volume.icns`. Replacing that would replace the default icon for all FUSE mounts. I am not aware of a mechanism to have per-filesystem "personality" icons, but macFUSE allows you to inject a [volicon](https://github.com/osxfuse/osxfuse/wiki/Mount-options#volicon) option.

The `.VolumeIcon.icns` file, when put in the

[2021-04-30 07:39] bfleischer commented on #806
The volicon option is the way to go.

[2021-04-30 07:39] #806 closed, assigned to bfleischer

[2021-04-30 07:40] #805 closed, assigned to nobody

[2021-04-30 19:24] Chasapple4 commented on #779
@bfleischer Not fully fixed on 11.3, just got it where macOS is not loading macFuse.

[2021-05-01 19:31] Isaac2k1 opened #807 "Fuse 3.5 does not run on Mac OS 11.3 and v4.1.0 does not install"
The installer runs, but Fuse is not installed and not visible in the preferences as it was before. As a result VeraCrypt does not run too.

[2021-05-02 20:45] bfleischer commented on #807
Version 3.5 is years old and very much outdated. It does not support Big Sur.

Version 4.1.0 works fine on macOS 11.3. This is probably an issue on your end. Did you try restarting your Mac after completing the installation?

[2021-05-03 21:59] ashleyvansp commented on #793
I have the same experience with SSHFS 2.5 / macFUSE 4.1.0 / Mac OS Catalina 10.15.7. When using sshfs Terminal hangs and my Mac blocks most other applications & internet access until I do a hard reboot.

[2021-05-03 23:41] Chasapple4 commented on #779
@bfleischer macOS 11.3.1 and it is still not loading.

Is there a way to do a full uninstall of macFuse and do a reinstall?

[2021-05-04 06:49] Isaac2k1 commented on #807
Dear Benni,
Many thanks for your reply and for your work on osxfuse.
I‘ve assumed that V3.5 is way to old for Big Sur and have tried first the update button in the Fuse Control Panel, which did not work at all. Then I‘ve downloaded the most recent V4.1.0 which did not install at all and then I made the entry on GitHub. Finally I found someone in a forum to recommend V4.0.2 and I gave it a try and

[2021-05-04 09:11] felix-ht commented on #807
~~I have the same issue with 4.1. The installer start and finishes but the app does not get installed.~~
Was user error - everything worked fine.

[2021-05-04 09:35] #807 closed, assigned to bfleischer

[2021-05-04 12:19] woncheol-kim opened #808 "File/dir names longer than 255 bytes"
Hi, I've recently started to use rclone on my Mac and found that I can not access some of directories from network drives mounted with it.

According to Nick Craig-Wood at the link below, unlike fuse for linux, macfuse seems to limit file/dir names to maximum 255 bytes:

https://forum.rclone.org/t/rclone-mount-and-utf-8-problem-on-macos/23929/8

Some of my files/dirs (actually many) are much longe

[2021-05-05 17:55] slawek-es commented on #779
I can confirm what @Chasapple4 reported - macOS 11.3.1 does _not_ work with macFUSE 4.0.2 or 4.0.5, with the same issue as in 11.2. Meanwhile, version 11.4 Beta works fine. Looks like the fix was taken out at the last minute?

I am aware that this is none of your fault @bfleischer of course; but do you know any details behind the apparent regression?

[2021-05-05 18:23] xavierd opened #809 "Hang on ctrl+c on BigSur"
I'm on BigSur 11.3.1, with osxfuse 3.11.2, it appears that interrupting filesystem operations with ctrl+c leads to the application both hanging, as well as using 100% of the CPU. An easy way to repro:

Loopback mount a directory with sshfs: `sshfs -d xavierd@localhost:/Users/xavierd/Applications sshfs`.
In a different terminal: `cd ~/sshfs; find .`. After a few seconds simply ctrl+c, find will jus

[2021-05-05 18:24] xavierd commented on #809
Looking at all issues, #314 looks extremely similar.

[2021-05-05 18:44] bfleischer commented on #809
You are using an outdated version of FUSE. Please update to the latest version.

[2021-05-05 18:46] #314 closed

[2021-05-05 22:26] bfleischer commented on #779
macFUSE 4.1.0 (and EFS FUSE 4.1.0) work just fine for me on macOS 11.3.1 on Intel and Apple Silicon hardware.

[2021-05-06 04:50] Chasapple4 commented on #779
Does it still work after you restart your computer?  (a restart and macOS will refuse to load it even after it has been approved, reinstall and the panic trigger from recovery do not work)

[2021-05-06 10:34] gromgit commented on #801
@darkclyan Homebrew has disabled all FUSE formulae on macOS for reasons, but I've revived most of them in [my own tap](https://github.com/gromgit/homebrew-fuse). Try:
[code]
then try telepresence again to see if it works now.

[2021-05-06 10:37] gromgit commented on #781
Homebrew has disabled all FUSE formulae on macOS for reasons, but I've revived most of them in [my own tap](https://github.com/gromgit/homebrew-fuse). Try:
[code]

[2021-05-08 17:27] bfleischer commented on #779
I don't see any issues after restarting any of my test machines running macOS 11.3.1. The kernel extension loads without any issues.

[2021-05-08 18:08] Chasapple4 commented on #779
Strange for me it will not load and sometimes after 12 to 20+ hours of having the machine on macOS might load the system extension.  Is there a terminal command for forcing macOS to load it?

Tried just now (few days later) and can't load a Win 10 VM (it BSOD or greens screens) because macFUSE system extension is not loaded (it is already approved)

[2021-05-09 04:21] queglay opened #810 "After installing macfuse, bindfs command is not available."
I had a a go at using this today, but bindfs was not available from the terminal after installation in macOS 11.3.1.
Is bindfs supposed to be added to the PATH variable by the installer?  If it is missing how should I fix it?

Thanks for any help.

[2021-05-12 09:35] eliselucotte opened #811 "sshfs with macfuse doesn't work on BigSur 11.3.1"
Hi,
I am aware that this issue was previously raised, but the solutions did not work for me.
Big Sur 11.3.1
sshfs 2.5
macfuse 4.1 (both downloaded from https://osxfuse.github.io/)

When I used sshfs to mount a distant server, I get this error:
[code]
I also tried to install sshfs using brew
[code]
And I get the following error when it gets to the "make install" step:
[code]
Any idea how to fix it

[2021-05-12 09:41] bfleischer commented on #811
The sshfs 2.5.0 release from https://osxfuse.github.io worked fine in my tests on Big Sur. Could you please post your sshfs command? The "Operation not permitted" error could mean that there is something wrong with the way you call sshfs.

[2021-05-12 10:02] eliselucotte commented on #811
Thanks for the quick reply !
Here is my command:
[code]
It does the same without the sudo chown command.
The same command works for Sierra 10.12.6.

[2021-05-12 10:38] bfleischer commented on #811
You don't need sudo. The following commands work fine for me:

[code]

Why are you using `$eliselucotte` and `$elise`? The shell will interpret both as variables. Can you make sure that /Users/eliselucotte/Desktop/server1 is actually owned by the user that is running the sshfs command?

[2021-05-12 10:43] eliselucotte commented on #811
I just removed the sudo before the mkdir and it works ! THANK YOU ! I've been working on this for hours !!
Actually the $elise was a copy paste mistake (I used a variable uname=elise, and then $uname within the command line).
Thank you again !

[2021-05-12 10:43] #811 closed, assigned to bfleischer

[2021-05-12 20:37] pratapaprasanna opened #812 "Operation not supported on socket"
Hi all,

I have been trying to mount a directory onto my mac book
version: MacOs Catalina 10.15.7

[code]
I see that the directory is mounted and things are fine.

However, post that I can only create a directory if I copy a directory only directory structure gets created but the files won't go in and I cannot create/copy a file

<img width="659" alt="Screenshot 2021-05-13 at 2 06 36 AM" src="http

[2021-05-13 09:50] pratapaprasanna commented on #812
attaching sshfs logs for your convenience

[code]

[code]

[2021-05-13 16:56] artgoldberg opened #813 "How to unmount sshfs mounted on FUSE filesystem"
Hello osxfuse

Following the directions in [SSHFS](https://github.com/osxfuse/osxfuse/wiki/SSHFS), I've mounted a remote directory on a local directory.

The line in the mount table is

    uid@xxx:/var/opt/leafapi/ on /Users/arthur_at_sinai/gitOnMyLaptopLocal/sc_repos/leafapi_on_vm (macfuse, nodev, nosuid, synchronous, mounted by arthur_at_sinai)

The connection has gone stale and I'd like to rem

[2021-05-14 02:51] k4r1 commented on #812
It might be worth raising this with https://github.com/osxfuse/sshfs/ first - although since this issue is only present on Mac OS it may well point to the underlying issue being with `osxfuse`.

FWIW this is the behaviour I'm seeing:
[code]

Other things of note:
- The SFTP server @pratapaprasanna is talking about is a managed AWS Transfer Server, as such we are [not able to configure](https://uni

[2021-05-14 10:05] mixtly87 opened #814 "Is there a chance Apple will improve UX on enabling kernel extensions?"
Currently, in order to finish macFUSE installation, user needs to reboot his M1, enter Startup Security Utility, select 'Reduced Security', then reboot again, goto Security & Privacy and Allow the extension.

It's a lot of steps with unfortunate wording (ie 'Reduced Security'). Do we know if there is any chance Apple will make this process with less friction?
Ordinary people installing software wh

[2021-05-16 00:03] bfleischer commented on #810
bindfs is a completely different project and not a part of the macFUSE package. Please raise bindfs related issues with the bindfs team.

[2021-05-16 00:03] #810 closed, assigned to bfleischer

[2021-05-16 00:05] bfleischer commented on #809
I'm closing this ticket. Feel free to reopen it in case you can reproduce the issue with the latest version of macFUSE.

[2021-05-16 00:05] #809 closed, assigned to bfleischer

[2021-05-16 01:00] bfleischer commented on #792
The crash should be addressed in the new 4.1.1 release. Please re-open the ticket in case you can still reproduce the issue with the new release.

[2021-05-16 01:00] #792 closed, assigned to nobody

[2021-05-16 06:50] bonifatius5 commented on #792
Ich hatte gehofft, dass die neue Version das Problem löst. Leider ist es auch mit der neuen Version 4.1.1 so, wie beschrieben. Bitte den Fall wieder öffnen.

I had hoped that the new version would solve the problem. Unfortunately, even with the new version 4.1.1 it is as described. Please open the case again.

[2021-05-16 10:09] bfleischer commented on #792
@bonifatius5 Please send me a new crash log for version 4.1.1.

[2021-05-16 18:34] bonifatius5 commented on #792
Hier ist der gewünschte Absturz Bericht. Hier noch ergänzend Details zu meiner Hard- und Software:
Here is the desired crash report. Here are some additional details about my hardware and software:

macOS BigSur (11.3.1)
MacBook Pro (13", M1, 2020)
Rosetta 2 wurde nicht installiert (soll auch so bleiben / should stay that way)
[legacyLoader-arm64_2021-05-16-202726_MacBook-Pro-von-Sebastian.txt](ht

[2021-05-16 21:42] bfleischer commented on #792
Please try again with version 4.1.2

[2021-05-16 21:55] bfleischer commented on #779
No, there is not. You can simply ask macOS to load the kernel extension. This is what macFUSE does. The terminal command you are looking for is `kmutil`.

macFUSE is not responsible for your Windows 10 VM crashing. macFUSE is a macOS kernel extension, not a Windows kernel extension. macFUSE is not loaded inside your VM.

[2021-05-16 22:15] Chasapple4 commented on #779
@bfleischer what would be the terminal command to tell macOS to load it?

macFuse not loading is the reason for the Win 10 VM crashing (for me not having macFuse loading prevents me from booting any Win 10 VM) VirtualBox uses macFuse (they have an older OSXFuse in the installer, 3.0.4 if I recall right)

Oracle Virtaulbox
https://www.virtualbox.org/ticket/19963 & https://forums.virtualbox.org/view

[2021-05-16 22:49] bfleischer commented on #779
vboximg-mount is a tool for mounting a VirtualBox virtual disk in macOS when the virtual machine is not running. vboximg-mount is an optional component, that is not required for running virtual machines.

The links you posted do not indicate that macFUSE might be responsible for your VM crashing.

[2021-05-16 23:59] Chasapple4 commented on #779
macFuse not loading is what is causing them to crash, VirtualBox uses macFuse to load the VMs, when macFuse is loaded the VMs don't crash on start up.  The only thing that changed is macFuse not loading.  When it works right now it is hard to restart as then macFuse may not load and macOS might not load it at all (last time it was loaded was about 2 weeks ago).

Already tried a reinstall and the t

[2021-05-17 07:33] bfleischer commented on #779
macFUSE is a VFS kernel plugin for macOS. It has absolutely nothing to do with virtual machines. macFUSE is used to build file systems for macOS. In VirtualBox's case (vboximg-mount) this allows you to access a VM's virtual disk from within the context of macOS without having to start the VM. That's all. macFUSE is in no way required to start VMs and it is most definitely not to blame for your VMs

[2021-05-17 12:03] FranzKnut commented on #570
Bump

[2021-05-17 12:46] bonifatius5 commented on #792
Es kam die Meldung 'Systemerweiterungscache neu anlegen' vor dem Neustart. Dann 2 x Neustart. Jetzt klappt es :-)
<img width="875" alt="Bildschirmfoto 2021-05-17 um 14 44 44" src="https://user-images.githubusercontent.com/81188743/118490819-a29c8280-b71e-11eb-9509-eaf458c584c0.png">

[2021-05-17 16:23] tbrodbeck commented on #668
Same problem still and sshutil does not work at all... How can I activate logs?

sshfs gives me no output at all and I have to restart to be able to use my system again.. :(

[2021-05-17 17:22] leedrake5 opened #815 "Constant "remote host has disconnected""
This is with an M1 Mac, so perhaps the issue is documented elsewhere. But the "remote host has disconnected" appears every time I try to mount a volume using an M1 Mac, and it works fine on all other systems when the same volume is accessed.

[2021-05-17 17:23] #815 closed, assigned to nobody

[2021-05-17 18:18] n0kovo commented on #390
Just chiming in to say that this would make a lot of people including myself very happy. Any progress since 2017?

[2021-05-17 18:59] Chasapple4 commented on #779
On macOS Virtuabox uses it to start the VM (mainly Windows 10), I have done the terminal command to list system extensions and macFuse is not being allowed to load.  When macFuse is not loaded I get a BSOD in Windows 10 (Win XP boots but hangs a lot).  This is what I have observed since December of 2020.  Even tho it is approved in macOS, macOS is not letting it load (the supposed fix was pulled f

[2021-05-17 20:37] bfleischer commented on #779
I'll try one last time. VirtualBox does not use or need macFUSE in order to start virtual machines. I can start a Windows 10 VM without macFUSE even being installed. Your VM crashing is not caused by the macFUSE kernel extension not being loaded. This makes absolutely no sense.

That being said, the macFUSE kernel extension not being loaded and your VM crashing might have a common cause, but macFU

[2021-05-17 20:52] grischard commented on #668
macFUSE 4.1.1, released a few days ago, fixed "an issue when mounting a volume that can, in rare cases, result in the file system process crashing". Does this still happen in 4.1.2 which was released today?

[2021-05-17 23:26] Chasapple4 commented on #779
Others on Twitter mentioned the system extension bug fix was pulled from 11.3 update.

macFuse not being loaded by macOS is why they are crashing (I have not changed any VM settings in years (been using one for 6 years with the same VM settings), when I ran the panic in recovery mode to get macFuse to load back in February that worked until I restarted the computer and macFuse which Virtualbox use

[2021-05-18 02:31] ksherlock opened #816 "M1 / macOS 11.3.1 hang with -oiosize?"
M1 w/ MacOS 11.3.1, osxfuse  4.1.0 and 4.0.5.

running hello or hello_ll from the example file systems, compiled for M1.

`hello -odebug /tmp/xxx`

stat /tmp/hello.txt reports a 65536 block size which seems a little excessive.

`hello -odebug -iosize=4096 /tmp/xxx`

stat /tmp/hello.txt reports a 4096 block size. However reading /tmp/hello.txt hangs the reading process and screws up MacOS pretty go

[2021-05-18 02:36] ksherlock commented on #816
[code]

[2021-05-18 07:16] tbrodbeck commented on #668
Yes I am using macFUSE 4.1.12

[2021-05-18 15:36] TraceyC77 commented on #798
I've also got this problem on a new MacBook after transferring my account from another one via Migration Assistant.
MacFUSE (an older version) was installed successfully on the old machine and I was able to use it normally
The first time I tried to mount an sshfs volume, I got the prompt to allow the extension in the Security & Privacy System Preferences pane. There is no "Allow" button there.

I

[2021-05-18 18:05] tbrodbeck commented on #668
Okay I found the reason for my freeze.
In my case I was calling `zsh; exit` in my bashrc (because the server was using bash by default). This caused my sshfs to freeze!

[2021-05-18 18:25] bfleischer commented on #798
Assuming file permissions are not damaged, this issue in most likely caused by a third-party tool that is able to generate mouse or keyboard input events. If such a tool is loaded macOS does not display the Allow button as a security measure to make sure that the button click is not automated. So your best option is disabling all such tools, restarting your Mac and then trying to load macFUSE agai

[2021-05-18 19:31] Andrysky commented on #668
🤣🤣👍🔥

[2021-05-19 14:36] TraceyC77 commented on #798
I tried what you suggested, but the problem persists. The only software I know of on this laptop that would qualify as generating mouse & keyboard input events are aText (text expander) and PresButan (allow delete in Finder with Delete key).

I'm not sure what you meant by "disabling", or how any of the problematic software would be completely disabled for this purpose. I uninstalled PresButan and

[2021-05-20 03:51] odeng888 opened #817 "mac install libfuse Error!"
#brew install libfuse
libfuse: Linux is required for this software.
Error: An unsatisfied requirement failed this build.

env: mac 11.2.3

[2021-05-20 07:33] bfleischer commented on #817
You can install macFUSE by downloading and running the installer from https://osxfuse.github.io. Please raise Homebrew issues with the Homebrew team.

[2021-05-20 07:33] #817 closed, assigned to bfleischer

[2021-05-20 17:09] grischard commented on #668
Can anyone else reproduce this with 4.1.2?

[2021-05-24 12:15] jackeyxiang opened #818 "Error: ntfs-3g has been disabled because it requires FUSE!"
#: brew install ntfs-3g
Error: ntfs-3g has been disabled because it requires FUSE!

[2021-05-24 12:18] bfleischer commented on #818
Please raise this issue with the Homebrew team. There is nothing I can do from this end.

You can download macFUSE from https://osxfuse.github.io.

[2021-05-24 12:18] #818 closed, assigned to bfleischer

[2021-05-24 15:01] jackeyxiang commented on #818
thank you very much，I already raise this issue with the Homebrew team；

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "osxfuse/osxfuse"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月24日(星期一) 晚上8:18

[2021-05-25 22:02] rvazquezglez commented on #798
I'm having the same issue on 10.15.7 (Catalina).

I tried disabling all apps on Accessibility and Input Monitoring (and restarting) but got the same result.
![image](https://user-images.githubusercontent.com/373814/119574345-37d0f400-bd7b-11eb-924b-71df5eb3c222.png)

[2021-05-26 09:59] NelsonVides commented on #793
I've had the same issues on osxfuse, macfuse, macos catalina, and bigsur, and many combinations of the previous thereof. The whole OS filesystem hangs and the computer doesn't even turn off, all I can do is a hard restart, not even hours of waiting can fix the issue.

[2021-05-27 05:47] msurdi commented on #791
I had the same problem. What fixed it for me was:

    sudo kextutil /Library/Filesystems/osxfuse.fs/Contents/Extensions/10.16/osxfuse.kext

Then I was asked to reboot, after the reboot it started to work again.

[2021-05-27 08:11] slawek-es commented on #779
I have just checked and macFUSE works for me without issue on the recently released macOS version 11.4. Looks like the fix might have landed in that version after all.

[2021-06-01 11:05] trankov commented on #45
[code]
All chars before `on /path/to/mount/folder` is the volume name. It looks like `name@server:/path`. Copy them. Then
[code]
If it doesn't helps, any other methods are useless, because `umount -f` is hardest way possible. Type `reboot`.

[2021-06-03 00:10] sainadfensi commented on #798
same problem here after upgrading the system. Has anyone solved it ?

[2021-06-03 21:47] sgielen opened #819 "Under load, files appearing twice or disappearing when running `ls`, unless `readdir` is sorted"
I've been investigating an issue where an application I developed seemed to occasionally list files twice, or not list them at all, under load. I've troubleshooted down the stack, and can now reproduce the issue directly against macfuse 4.1.2.

Seeing as the sources aren't available anymore, I hope you're willing to debug this further :-)

The issue only occurs if `readdir` always calls the `fille

[2021-06-05 19:44] ghost opened #820 "kernel extension problem: missing __TEXT segment"
Hi,
The macfuse 4.1.2  fails to load the kernel extension. The common internet wisdom that in "Security & Privacy" there should be an option to authorize the extension, but it does not appear. Another common wisdom is that one should try to install this with "reduced security", but my Mac has no T2 chip, and as a Intel machine there are no options like that.

Password:
Error Domain=KMErrorDomain C

[2021-06-05 21:31] bfleischer commented on #820
Let me start by saying that this is not a bug in macFUSE.

According to the error message above `/Library/Extensions/spl.kext` is responsible for the error. spl.kext belongs to OpenZFS, but the version of spl.kext installed on your Mac is not compatible with the running version of macOS. The incompatible version of spl.kext will prevent other third-party kernel extensions like macFUSE from loading

[2021-06-05 21:31] #820 closed, assigned to bfleischer

[2021-06-06 03:00] bfleischer commented on #819
The source code for libfuse is available on https://github.com/osxfuse/fuse/commits/master.

A variant of the patch in #564 (https://github.com/osxfuse/fuse/commit/06fc40705f23cb7e9af4df2febae8e6889b1a95d) found its way in the upstream Linux libfuse codebase in libfuse version 2.9.9. I might have overlooked something, but the logic of the upstream patch seems to be flawed. File systems that are ca

[2021-06-08 06:19] Scvairy opened #821 "Update to support macOS 12"
Looks like it has software restriction for major macOS updates. When will it updated? =)
<img width="372" alt="Screen Shot 2021-06-08 at 11 18 51" src="https://user-images.githubusercontent.com/8327460/121133048-4fb07980-c84b-11eb-92d3-904d5176effa.png">

[2021-06-08 09:01] dohe0342 commented on #821
please 😭

[2021-06-08 15:56] TwanLuttik commented on #818
i have experienced the same issue

[2021-06-08 15:56] macos120 commented on #821
please please please please please

[2021-06-08 15:58] bfleischer commented on #821
Working on it. Be patient.

[2021-06-08 16:11] misku commented on #821
@macos120

Did you actually join github 20 minutes ago just to write this comment? 🤣

[2021-06-08 16:24] macos120 commented on #821
Hi

I certainly did

Cannot upgade and test without fuse

________________________________
From: misku ***@***.***>
Sent: Tuesday, June 8, 2021, 6:12 PM
To: osxfuse/osxfuse
Cc: macos120; Mention
Subject: Re: [osxfuse/osxfuse] Update to support macOS 12 (#821)

@macos120<https://github.com/macos120>

please please please please please

Did you actually joined github 20 minutes ago just to write thi

[2021-06-08 23:32] bfleischer commented on #819
The patch from #564 does not fix the "`ls` returns less than 28 entries" issue.

[2021-06-09 01:04] sciencegirl100 commented on #821
Lol, I want to use VSCode to work on stuff, but that needs my SSH keys....
My SSH keys are stored in KeyBase... which can't install filesystem support on M1 Monterey...
So I need to install the latest Fuse...

Yeah, I'm eagerly waiting for this.

[2021-06-09 15:28] GPopZach commented on #821
Is there an ETA on this? If not, would you consider releasing the source for 4.1.2 so I can make the necessary changes myself? I'd like KBFS to work on my development machine, and I'm more than happy to save you the work as I'm off the next couple weeks myself.

[2021-06-10 08:44] hijiri-yoshida opened #822 "sshfs is not available on macOS12"
sshfs is not available on 12.0 Beta (21A5248p).
<img width="372" alt="スクリーンショット 2021-06-10 17 37 41" src="https://user-images.githubusercontent.com/11865376/121494114-6acde580-ca13-11eb-8c54-758ae74b9e3a.png">

[2021-06-10 09:04] bfleischer commented on #822
Duplicate of #821. Closed.

[2021-06-10 09:04] #822 closed, assigned to bfleischer

[2021-06-10 11:55] sgielen commented on #819
Ah, I did not realize that this part of fuse was still open source. In that case, I can try delving into it further.

Just out of curiosity, can you also reproduce the issue with the testcase on your end?

[2021-06-10 12:05] bfleischer commented on #819
Yes, I can reproduce the issue with your C++ testcase.

The kernel extension uses offsets when querying the directory contents from user space. One explanation for the missing files could be that the cached directory entries in libfuse have been reordered between calls from the kernel extension. This might result in the kernel extension receiving the same directory entry more than once. I assume t

[2021-06-12 08:33] jaspervanbrian commented on #818
Hello, experiencing the same issue as well. Any workaround for this?

[2021-06-12 09:36] GPopZach commented on #821
@bfleischer
Soooo, I'm guessing the whole "oh if another developer experienced in kext development would help I'd be glad but nobody will" is a load of crap? I've been writing kernelspace code for 15 years, and I'm happy to help you with the laundry list of modernization work you listed a while back, and I expect zero monetary compensation. All I ask in return is that you let me fix mah damn Keyba

[2021-06-12 14:28] bfleischer commented on #564
Thanks. The fix will land in version 4.2.0 as part of the upstream commit https://github.com/osxfuse/fuse/commit/06fc40705f23cb7e9af4df2febae8e6889b1a95d.

The fix exposed a bug in the loopback file system. As a result readdir returns EIO. It took me some time to figure out what's causing readdir to fail.

[2021-06-12 14:28] #564 closed, assigned to bfleischer

[2021-06-12 15:23] bfleischer commented on #819
I spent some more time looking into this. The patch in #564 and the upstream libfuse patch https://github.com/osxfuse/fuse/commit/06fc40705f23cb7e9af4df2febae8e6889b1a95d are completely fine. What lead to my confusion is an important implementation difference between Linux and macOS. telldir() returns zero for the first directory entry (at least on APFS volumes). This is the reason the readdir cal

[2021-06-12 15:59] bfleischer commented on #816
I think you are referring to the st_blksize field when calling stat with the -s option. `st_blksize` is 65536 by default, but it is not the size of the file in blocks. `st_blksize` is the optimal size for doing I/O operations. The optimal I/O size can be set by the fuse file system on a per file basis. The hello file system uses the value from the iosize option which defaults to 65536.

A high ios

[2021-06-12 18:00] bfleischer commented on #821
The new macFUSE 4.2.0 release adds experimental support for macOS 12. In case you run into any issues on macOS 12, please open a new ticket.

[2021-06-12 18:00] #821 closed, assigned to bfleischer

[2021-06-12 19:32] ksherlock commented on #816
I'm still seeing the same behavior with macOS 11.4 and macFUSE 4.1.2.

[code]

Reproducing:

Terminal 1:

[code]

Terminal 2:
[code]
At this point, the `cat`'s `read()` never returns, `hello` won't quit, macOS won't shut down cleanly, etc.

For comparison, the log without `-oiosize`:

[code]

Terminal 2:

[code]

[2021-06-12 19:33] tormodwill commented on #813
Hi.
I use
$ sudo umount /Volumes/xxxxxx
This works ok, but I use sshfs 2.10,  I could only mount as /Volumes from sshfs version 2.9, i belive.
This did not work for me at sshfs version 2.5.

[2021-06-12 19:48] tormodwill commented on #813
It is also possible to right click on the "network volume icon" on the desktop. Then you get a menu with unmount...

[2021-06-12 20:10] tormodwill commented on #529
I use the solution in this link :
https://github.com/osxfuse/sshfs/issues/57
worked for me.

[2021-06-12 20:23] tormodwill commented on #529
Line 1724 in sshfs.c   ( SSHFS version 2.10 )
[code]

Set sshfs.sync_read = 0
This will force  sync read.

This change helped the speed on my line.

[2021-06-12 22:06] bfleischer commented on #821
@Zachpocalypse

Thanks for offering to help.

You are taking my two-year-old comment out of context. Back when macFUSE was still open source, I was looking for help, but there were no regular contributors besides me. Long story short, the only remaining option was going closed source to improve the project's funding so that I could spend more time working on it. I accepted that this would prevent

[2021-06-13 20:16] sashabeep commented on #818
The same issue here, @jackeyxiang can you provide the link to brew issue?

[2021-06-16 15:34] ghost commented on #818
https://github.com/Homebrew/homebrew-core/issues/77932

[2021-06-16 20:50] GPopZach commented on #821
I'm sorry, I believe you misunderstood me, I was only offering help as far as updating osxfuse to run on macOS Monterey, not making a commitment to help out long-term. As you've moved to a for-profit model, I'd think it goes without saying I'm not going to be taking on any financial strain the project maintainer was not willing to.

I don't disagree with you looking to make a living off your work,

[2021-06-17 21:58] mrjayberry commented on #754
@someone857 did you ever find a solution to getting macFUSE working on your 2nd partition?
Extension won't install running 11.4 Big Sur on an external SSD, and the question of approving it from Security & Privacy just never appears.
Yet it installs (and asks for approval) just fine on the OS running from the internal SSD. Both instances are otherwise identical clean installs.

I've tried quite eve

[2021-06-18 01:36] Zirro commented on #814
Apple has indicated that they want to move away from kernel extensions for a while now. They've done this in part by implementing alternative APIs but also by making kernel extensions increasingly difficult to use. They are often quicker when it comes to doing the latter, unfortunately.

Essentially, the added friction is likely intentional and meant to discourage both developers and users from de

[2021-06-18 13:17] feiticeir0 commented on #705
I can't get ntfs-3g to install.
Every time, I get the error:
`error ntfs-3g has been disabled because it requires fuse`

I have a M1 Mac Air . I've installed the latest version of macFuse, version 4.1.2

I never get any security prompts or anything at system preferences... What am I doing wrong ?

[2021-06-18 13:45] vszakats commented on #814
What is the reason MacFUSE requires a `.kext`? Is this a technical requirement or a matter of effort in reimplementing MacFUSE in a different way?

[2021-06-18 15:37] bfleischer commented on #705
@feiticeir0 Please raise this issue with the Homebrew team. ntfs-3g, homebrew and macFUSE are separate projects. You are running into a problem installing ntfs-3g using Homebrew. So the logical place to raise the issue would be the Homebrew project.

[2021-06-18 15:41] feiticeir0 commented on #705
Thank you  ! Will do.

[2021-06-18 15:49] bfleischer commented on #814
@vszakats (I just noticed you edited your post) Microsoft NTFS by Tuxera is based on FUSE and ships a kernel extension. It can be found at /Library/Filesystems/tuxera_ntfs.fs/Contents/Resources/Support/10.9/tuxera_ntfs.kext

Apple did not announce a new non-kernel API for developing full-featured file systems like macFUSE. That's why file systems kernel extension have not been deprecated by Apple.

[2021-06-18 16:24] vszakats commented on #814
@bfleischer: Thank you for jumping in! (I had indeed deleted the Tuxera reference, after quickly finding out it also has a `.kext`.)

This means macOS (Monterey included) is in a terrible state in this regard now. Because, even though FS kernel extensions are not deprecated per se, using them is made so cumbersome (by requiring _degraded security_ settings and a reboot to load/unload them), that i

[2021-06-19 10:46] vszakats commented on #814
@bfleischer: Do you think it'd be technically feasible to re-implement MacFUSE as a local NFS (or possibly WebDAV) server acting as a gateway for FUSE filesystems?

The NFS method is used by commercial products offering remote filesystem mounts, and there are some open-source projects [1][2] using this method. Having said that, my personal impression was that even NFS is not a first-class citizen

[2021-06-22 03:26] Feuermurmel commented on #814
Does that mean that support for NFS, SMB, WebDAV etc. is also going to be removed in future versions of macOS?

[2021-06-22 08:37] epaterlini commented on #793
Same problem here.
If I try to mount an sshfs folder and make a typo in the password, the system also hangs.
The system hangs if I don't nicely unmount sshfs folder.
Reboot is the only solution....very hard to work in this scenario...

Please help!!!

[2021-06-22 08:49] vszakats commented on #814
@Feuermurmel: We can only guess, but I wouldn't think so. For example SMB now [became to replace](https://eclecticlight.co/2020/12/04/how-fast-is-an-m1-target-disk/) Target Disk mode. It was also the successor of AFP in macOS. An opinion, but SMB is a generally slow, unstable, complex, proprietary, non-routable, has a spotty security record and it has hard-to-predict compatibility issues due to va

[2021-06-22 13:30] riga commented on #793
Have to pile up on this one ...

I tested with a fresh MacOS 11.4 (BigSur) on a M1 MBP, a non-M1 MBP and a M1 Mini, all with latest XCode.
`sshfs --version` tells me

[code]

and I checked both the currently recommended 4.1.2 release and the 4.2.0 pre-release.
As soon as I start to mount the normal way via

[code]

and the password prompt appears, my system already blocks, i.e. mails will not load

[2021-06-22 21:27] Wolf49803 opened #823 "How do I install oxfuse"
Downloading the zip file and opening it with the desktop app does nothing. Please make installation instructions clearer.

[2021-06-23 07:33] yadomi commented on #823
There is literally Installation instruction on the wiki, it can't be more clear https://github.com/osxfuse/osxfuse/wiki/SSHFS#installation

[2021-06-23 08:08] kikht opened #824 "Possible vnode data race"
Hello! In #299 is was decided that `remove` vnop should acquire both parent and child vnode locks. It was eventually implemented in https://github.com/osxfuse/kext/commit/176e6fbda9d0cd35a05b8651c5311cd180b1d750

It seems to me that the same logic should be applied to `rmdir` and `link` vnops. As far as I can tell right now only child vnode lock is acquired by these ops:
* https://github.com/osxfu

[2021-06-24 03:47] FranklinYu commented on #814
I believe the NFS idea works in some use case, but I doubt that we can still call this FUSE. FUSE has a [very specific meaning](https://en.wikipedia.org/wiki/Filesystem_in_Userspace). If someone want to follow this local-NFS idea, I would recommend that to be a new project with a different name (such as “libnfs”).

This [nfsdLib](https://www.ee.ryerson.ca/~courses/ee8205/Data-Sheets/Tornado-VxWork

[2021-06-24 04:00] ovcluster opened #825 "Trouble with installing gcsfuse"
I am facing the following error "gcsfuse has been disabled because it requires FUSE!", while trying to install gcsfuse. Kindly advise what would be the ideal solution for the problem.

[2021-06-24 10:59] vszakats commented on #814
@FranklinYu: What I meant is that if Apple continues this path, existing KEXT-based solutions will stop working (or become too burdensome to _actually use_) and one option _may_ be if MacFUSE would appear as an NFS server (e.g. by using `nfsdLib` or something similar), acting as a gateway/translator for the existing FUSE API. Such NFS server could be mounted natively by users as a filesystem local

[2021-06-24 14:34] FGasper opened #826 "Forget VPN == macFUSE locks up the OS"
1. Attempt to `sshfs -o noapplexattr -o noappledouble root@felipe.dev.cpanel.net:/whatever /some/local/path`. Note that sshfs will stall. CTRL-C to end it.

2. Type `mount`, and see that the mount table lists the mount, even though the SSH connection will have failed.

3. Note that Chrome, Brave, et al. fail to load anything … they sit there spinning for a long time but never actually load a page.

[2021-06-24 14:41] FGasper commented on #826
I note that the same behaviour manifests if I *do* have the VPN on but neglect to `ssh-add` the key then also CTRL-C out when sshfs asks me to `Enter passphrase for key …`.

I believe this bug wasn’t formerly _quite_ so reliable, but I don’t know for certain.

[2021-06-25 11:26] bfleischer commented on #824
HFS and NFS lock the vnode itself and the directory vnode in rmdir and link. macFUSE currently only locks the vnode.

Are you running into any issues with the current implementation?

[2021-06-25 13:30] kikht commented on #824
I'm experiencing some strange behaviour with directory deletion. Sometimes directories appear existing for some time after successful RMDIR op. Unfortunately, I cannot reproduce this reliably, it only happens under load. Trying to debug this lead me to vnode lock inconsistency.

[2021-06-25 19:04] bfleischer commented on #816
The issue is caused by setting iosize to 4096 bytes on M1 Macs. The page size on M1 Macs is 16384 bytes and the system expects the iosize to be a multiple of the page size. The next macFUSE release will require iosize to be at least 16384 bytes on M1 Macs.

[2021-06-25 19:04] #816 closed, assigned to bfleischer

[2021-06-25 19:11] bfleischer commented on #825
macFUSE, gcsfuse and Homebrew are three separate projects. You are running into an issue installing gcsfuse using Homebrew. Please raise the issue with the Homebrew team or gcsfuse team.

You can download the macFUSE installer package from https://osxfuse.github.io.

[2021-06-25 19:11] #825 closed, assigned to bfleischer

[2021-06-25 19:23] bfleischer commented on #823
@Wolf49803

Download the macFUSE installer from https://osxfuse.github.io and run it. This installs macFUSE.

Then you will probably want to install a third party macFUSE-based file systems. Please see the installation instructions for the particular third-party file system or ask the team maintaining the file system for support. They should be able to help you.

[2021-06-25 19:24] #823 closed, assigned to bfleischer

[2021-06-25 20:11] bfleischer commented on #814
It's certainly not ideal. In my opinion, the current workflow for using third party file systems on macOS is very user unfriendly and it certainly does not represent the ease of use most users come to expect from Apple products. It's unclear if and when they will announce a non-kernel API for developing full-featured file systems.

Apple announces that all kernel extensions are "bad" and makes usi

[2021-06-25 20:14] bfleischer commented on #824
Are you seeing these issues using libfuse or a different user space FUSE library?

[2021-06-26 02:10] kikht commented on #824
I've seen this problem with both libfuse and my own userspace implementation.

[2021-06-26 02:14] kikht commented on #824
It usually happens while deleting large directory trees while having some parallel read operations, e.g. removing directories in IDE while it runs indexing.

[2021-06-27 14:01] ekaulberg commented on #741
The solution @GregDunn1953 and @williamhoney mentioned (from StoneJT's suggestion in a different product's issue) worked for me, on a fresh install of macOS Mojave 10.14.6 with no SIP changes trying to use macFUSE 4.1.2.

[2021-06-30 15:24] couatl commented on #705
Where is exactly you need to add permission?
In my System Preferences > Security & Privacy > General tab no fields about permission to osxfuse
Am I missing something?
It has only fields about "a login password has been set to this user" and "Allow apps downloaded from store"

[2021-07-01 08:25] billziss-gh commented on #819
@bfleischer thank you for the explanation for this problem.

[2021-07-02 16:28] PascalHbr commented on #705
I have the same problem as @couatl

[2021-07-02 16:31] darsnack commented on #705
You need to actually run the program (`sshfs`) and let it fail. After that you open up Settings.

[2021-07-04 09:15] bakwc commented on #818
Is there some alternative way to install ntfs3g? Currently all tutorials refers to: `brew install ntfs-3g` and it's not working :(

[2021-07-05 08:18] sashabeep commented on #818
Looks like ntfs and mtp could not been installed because of some "political" reasons in brew. So i dunno what is the purpose of this project

[2021-07-05 08:22] ghost commented on #818
If you check the linked homebrew-core issue someone [offers a workaround](https://github.com/Homebrew/homebrew-core/issues/77932#issuecomment-847105678).

[2021-07-06 03:29] yin-ori commented on #763
I have actually setup everything according to manual, updated on the new fuse 4.2 and yet my MacBook m1 breaks completely and by completely I mean finder is crashing on start (pCloud used to be a startprogram and I cannot change that now as finder crashes and won’t reopen on restart). Please help 😭

It worked until one month ago, then started to not be able to open pCloud from time to time and whe

[2021-07-13 14:40] pslack commented on #826
I had a similar freeze experience, my reproducible step; trying to mount on local /Volumes, that seems to be a very bad idea but I didn't have any info to say otherwise, as soon as I mounted outside of that (ex I used /opt/somemountpoint) I was fine, no more freezing

[2021-07-15 21:45] locknauth commented on #578
Please download the files below

https://www.lacie.com/ca/en/support/usb-keys/moskeyto/

Solution provided by warlordjc is bang on! Worked perfectly for me

![image](https://user-images.githubusercontent.com/5922682/125861912-e5eae730-9cd5-4530-8a61-9303b5a079d1.png)

[2021-07-15 23:05] cdevers-es commented on #821
Can you please comment on the status of macFUSE’s use of kernel extensions (kexts) in macOS 12 Monterey?

I’m looking at Apple’s [Deprecated Kernel Extensions and System Extension Alternatives](https://developer.apple.com/support/kernel-extensions/) article, as well as
[ZDNet | Apple deprecating macOS kernel extensions (KEXTs) is a great win for security](https://www.zdnet.com/article/apple-deprec

[2021-07-16 08:45] bfleischer commented on #821
@cdevers-es

Apple has not deprecated file system kernel extensions. There is no system extension API for developing full-featured file systems. When trying to load a kernel extension that uses deprecated kernel API, macOS displays a warning informing the user that the kernel extension needs to be upgrade. There is no such warning when trying to load the macFUSE kernel extension.

Support for kern

[2021-07-18 19:34] tyzhnenko commented on #668
Got the same :(

[code]

[code]

both freeze :(

macFUSE – 4.1.2

[2021-07-19 11:10] BrandoZhang commented on #791
Met the same problem and fixed via updating osxfuse.

[2021-07-19 15:19] cdevers-es commented on #821
Thank you for clarifying!

[2021-07-20 02:18] AlesBucek commented on #705
My macFUSE is blocked:
_System Extension Blocked. The system extension required for mounting macFUSE volumes could not be loaded. Please open the Security & Privacy System Preferences pane, go to the General preferences and allow loading system software from developer "Benjamin Fleischer". A restart might be required before the system extension can be loaded._

But it does not show up under "Allow

[2021-07-20 11:15] hwx-code opened #827 "cant write NTFS for macOS 12."
in Macfuse 4.2.0  Add experimental support for macOS 12. But I found that I can't read and write NTFS file after installation

[2021-07-21 21:00] Thireus opened #828 "macOS 11.5 - The system extension required for mounting macFUSE volumes could not be loaded."
On macOS 11.5, the v4.1.2 extension cannot be loaded, even when the extension is allowed.

The following message is displayed no matter what:
[code]

[2021-07-21 21:24] bfleischer commented on #828
Did you restart your Mac?

[2021-07-21 23:08] Thireus commented on #828
Yes. It was already installed on 11.4. I've upgraded to 11.5 and the kext won't load. I tried to reinstall & restart, still won't load.

4.2.0 works fine though.

[2021-07-23 05:15] col-panic commented on #705
Same problem here!

[2021-07-23 07:50] titver968 commented on #828
I have the same problem.

[2021-07-23 07:53] bfleischer commented on #828
@titver968 Which version of macFUSE are you using? Did you try updating to 4.2.0?

[2021-07-23 07:56] titver968 commented on #828
I use the stable Version 4.1.2. I will try the 4.2 now.

[2021-07-23 08:02] titver968 commented on #828
Th, it’s works with 4.2.0

Best regards
Titus

Am 23.07.2021 um 09:53 schrieb Benjamin Fleischer ***@***.******@***.***>>:

@titver968<https://github.com/titver968> Which version of maFUSE are you using? Did you try updating to 4.2.0?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/osxfuse/osxfuse/issues/828#issuecomment-8854

[2021-07-23 15:06] FGasper opened #829 "MacFUSE won’t load in 10.14.6"
![image](https://user-images.githubusercontent.com/844867/126801899-865d9d53-9706-4041-a513-f15501ee3c33.png)
^^ I see the following with both 4.1.2 and 4.2.0.

All I see in the referent part of System Preferences is:
![image](https://user-images.githubusercontent.com/844867/126802003-f8bd7b7d-15b2-4930-a237-1d2b4f39601a.png)

There’s nowhere (that I can see … ?) to add “Benjamin Fleischer”.

[2021-07-23 15:26] FGasper commented on #828
I’ve had the same problem with 10.14.5 -> 10.14.6, but 4.2.0 does *not* fix the problem for me.

[2021-07-23 15:40] FGasper commented on #798
Same issue here on 10.14.6 with 4.1.2 and 4.2.0 both.

[2021-07-24 11:57] artmg commented on #828
Thanks @FGasper you were right to raise your problem as separate issue #829 because you DON'T have the same problem - the title of this issue clearly states **macOS 11.5**, and so far everyone reporting the issue with that os version says that it was **fixed** by moving to macFUSE 4.2.0

[2021-07-24 15:22] NYC-Jim commented on #829
I have the same iussue after updating to Big Sur 11.5.  I also noted that in the Security & Privacy settings, under the Privacy tab, and the Files and Folders settings, the VeraCrypt.app is grayed-out, and no way to enable it (even with the settings are unlocked) - Blocked from working... thanks Apple!
<img width="626" alt="Screen Shot 2021-07-24 at 11 19 33 AM" src="https://user-images.githubuser

[2021-07-26 18:36] FGasper commented on #829
Looks like this was a result of restrictions imposed from outside my system. (This is a work laptop.) Once Benjamin’s team ID was added to the allow-list I was able to use the extension again.

Closing. Thank you for maintaining macFUSE!

[2021-07-26 18:36] #829 closed, assigned to nobody

[2021-07-27 08:37] koolerking730 commented on #763
Any more news on Apple releaseing API for Fuse? We use Lucid Link for all our production workflow!

[2021-07-27 12:11] vszakats commented on #814
Just found a project that promises to act as a WebDAV gateway for FUSE filesystems. It seems well made, but abandoned some years ago (for example the macOS `DYLD_*` trick no longer works), and seems to miss some FUSE APIs (e.g. `fuse_opt_add_arg()`), which prevented making it work in my tests. The general concecpt may be viable though (not sure about performance).

A mirror still to be found on Gi

[2021-07-28 10:27] danielslyman commented on #754
Is there any news on this?

[2021-07-30 07:37] Alanreid11 opened #830 "Unsupported MacOS Version"
Running MacFUSE 4.2.0
Catalina 10.15.7 Mac Pro 2019
Using Editshare Connect for EFS

Error showing The installed version of EFSFUSE is too old for the operating system. Please upgrade your EFSFUSE installation to one that is compatible with the currently running version of macOS.
![Screenshot 2021-07-30 at 08 30 09](https://user-images.githubusercontent.com/88183423/127618262-b3c34139-d78d-41fd-bc

[2021-07-30 07:46] bfleischer commented on #830
Editshare is using a custom version of macFUSE. Please update your Editshare software to the latest version. If this does not fix the issue, please raise the issue with the Editshare support team.

[2021-07-30 07:46] #830 closed, assigned to bfleischer

[2021-07-30 07:59] bfleischer commented on #827
macFUSE 4.2.0 does not support writing NTFS volumes on its own. It is a framework for building actual file systems. NTFS-3G is such a file system and probably what you are looking for. NTFS-3G is based on macFUSE and allows you to write NTFS volumes. So, you need both macFUSE and NTFS-3G.

Installing NTFS-3G can be tricky on newer versions of macOS, but this is beyond the scope of the macFUSE proj

[2021-07-30 07:59] #827 closed, assigned to bfleischer

[2021-07-31 19:19] vszakats commented on #793
Had this after upgrading to Big Sur from Catalina. With an active `sshfs` mount, sometimes Safari stopped loading pages, then eventually Finder, other network and filesystem activity, and the whole machine locking up in strange ways (as described above) with only reboot as a temporary remedy. At one point it became bad enough to make the machine unusable.

Then I made these steps (in order of susp

[2021-08-02 01:41] Dhakshith commented on #363
Navigating with ../../ worked for me. No idea why.

[2021-08-03 14:50] alydevs commented on #818
@bfleischer Could I suggest creating a homebrew tap repository containing at least a formula for ntfs-3g, and then updating the wiki documentation to indicate that said tap should be added first? Or just updating the documentation so it works in the meantime using this tap that has ntfs-3g as `ntfs-3g-mac` https://github.com/gromgit/homebrew-fuse

Something like this in the wiki:

with the tap rep

[2021-08-03 14:58] bfleischer commented on #818
@alyssadev I'm fine with third-party workarounds. I don't have the time to maintain a tap. The Wiki page is editable. Feel free to add the required information.

[2021-08-03 17:25] nickcone opened #831 "Write method not called"
So I currently have my file system fully working on Windows, I can add/delete files/directories and everything works as it should. The write method that I am using is not actually writing to the file system, It takes the image buffer and writes it to a temporary file. Then the temporary file is posted to a website, after it is posted to the website, the image appears in my file system. When I run

[2021-08-03 20:50] bfleischer commented on #831
Please post questions like these in our [Google Group](https://groups.google.com/forum/#!forum/osxfuse-group). This tracker is intended for tracking bugs.

[2021-08-03 20:50] #831 closed, assigned to bfleischer

[2021-08-04 02:31] kikht opened #832 "v_name race in mkdir"
I've found a race in kext. When we run two syscalls `mkdir(parent)` and `mkdir(parent/child)` concurrently, it is possible for `mkdir(parent/child)` to fail with `EINVAL`. This result is not documented for this syscall and confuses userspace tools, e.g. nodejs when it tries to create directories recursively like `mkdir -p` does.

`EINVAL` appears to come from `build_path_with_parent` kernel functi

[2021-08-05 13:27] kikht commented on #824
This race can be reproduced on loopbackfs with the following program. It either can `stat` just removed dir without `ENOENT`, or some `stat` call fails with `ENXIO`. Problem disappears when filesystem server is run in single-threaded mode (`-s`) or without vnode name cache (`-onovncache`).

[code]

[2021-08-06 13:41] atYuguo commented on #754
Just for the `kmutil` command, you might need `sudo` in front of it for permissions, that is:
[code]

[2021-08-06 13:44] atYuguo commented on #754
To install kernel extensions on a M1 Macbook, you need to run the system under "reduced security", see:

https://support.apple.com/guide/deployment-reference-macos/startup-security-ior2b1833593/web

[2021-08-07 06:10] mrjayberry commented on #754
Thanks for your suggestion, I think it would have helped. :). Eventually I
returned the M1 and upgraded for another with larger internal SSD. So I
didn’t need to run the OS on an external SSD anymore.  Problem not solved,
but avoided.

On August 6, 2021 at 7:41:59 AM, Yuguo ***@***.***) wrote:

[2021-08-07 06:10] mrjayberry commented on #754
Thanks for your suggestion, I think it would have helped. :). Eventually I returned the M1 and upgraded for another with larger internal SSD. So I didn’t need to run the OS on an external SSD anymore. Problem not solved, but avoided.

On August 6, 2021 at 7:41:59 AM, Yuguo ***@***.******@***.***)) wrote:

[2021-08-09 01:43] keithy opened #833 "Mounting a server with portforwarding works, but not socket forwarding"
When a server has portforwarding configured in .ssh/config mounting the filesystem, also sets up the port forwarding, but it doesnt forward sockets. (sshfs)

[2021-08-10 06:45] JHoahg commented on #705
Installing this pre-release fixed the issue for me:
https://github.com/osxfuse/osxfuse/releases/tag/macfuse-4.2.0

[2021-08-10 18:11] feiticeir0 commented on #705
It worked ! It finally worked on Big Sur 11.5 M1

Thank you ! After installing this version, I was able to install ntfs-3g without problems with homebrew

[2021-08-12 19:57] neurodroid commented on #828
This issue was fixed for me in Big Sur up to 11.5.1 by macFUSE version 4.2.0.
But now it just re-appeared when I upgraded to Big Sur 11.5.2 - no entry in the developers section any longer even after a re-install of 4.2.0.

[2021-08-12 20:01] neurodroid commented on #828
After a system reboot, macFUSE 4.2.0 is now simply working without any complaints on Big Sur 11.5.2. There's still no entry in the approved developers section though.

[2021-08-20 06:47] katzlbt commented on #828
Even macFUSE 4.1.2 works on Big Sur 11.5.2 after a simple system reboot after the upgrade (for me). No need to install a new version. The extra reboot does the trick.

[2021-08-20 09:44] artmg commented on #828
Likewise. The first time I attempt to mount a volume after upgrading to macOS 11.5.2, the error appears, but there is **no** need to allow anything in Security & Privacy Preferences, it simply needs a reboot. Slightly annoying to have a couple of extra steps after upgrade:

* attempt a macFUSE mount,
* dismiss the error,
* restart macOS

but as long as you know and expect this, it's pretty quick t

[2021-08-20 20:15] FirefighterBlu3 opened #834 "osxfuse or macfuse?"
comments here suggest that osxfuse replaces macfuse. this repo documentation has macfuse everywhere. brew recipe states macfuse replaces osxfuse. should we be trying to use osxfuse or macfuse?

[2021-08-20 22:57] bfleischer commented on #834
Please see https://github.com/macfuse/macfuse/wiki/History

[2021-08-20 22:57] #834 closed, assigned to bfleischer

[2021-08-22 16:38] Thireus commented on #828
Thanks for the tip @artmg, I upgraded to 11.5.2 as well and rebooting the machine after the message appears solves it.

[2021-08-23 06:35] youzeliang commented on #801
I also got  it , and  I found the source code

#on_macos do
#disable! date: "2021-04-08", because: "requires FUSE"
#end

a simple way to fix it   is  that  edit the formula file and remove the fuse restriction temporarily,

[2021-08-24 09:45] ropg opened #835 "MacOS 11.5.2: On 4.20 Kext won't load, on 4.1.2 it does."
Seems the opposite of #828: there the upgrade from MacOS 11.4 to MacOS 11.5 broke MacFuse 4.1.2 but 4.20 worked, now on upgrade to MacOS 11.5.2 MacFuse 4.2.0 breaks and 4.1.2 works again.

[2021-08-24 09:47] bfleischer commented on #835
You need to do a reboot after installing the macOS update. 4.1.2 and 4.2.0 both work just fine.

[2021-08-24 09:47] #835 closed, assigned to bfleischer

[2021-08-24 10:38] ropg commented on #835
Ah. That makes sense, I indeed did not try a(n additional) reboot, figured the MacOS upgrade process had done that. Sorry for spurious report.

[2021-08-26 13:45] jrbgit commented on #791
Howdy all -- This problem happened to me while using the current beta release (4.2.0) and downgrading to the current stable release (4.1.2) and rebooting resolved the issue. Hope that helps someone.

Edit:
Big Sur v. 11.5.2

Edit2:
My issue specifically was:
`kext load failed: -603946996
mount_macfuse: the file system is not available (255)`
and a google search landed me here -- so just dropping t

[2021-08-27 08:47] ilya-kozyr commented on #791
In my case it was vice a versa in comparison to @jrbgit : I had the error
<pre>kext load failed: -603947007
mount_osxfuse: the file system is not available (255)</pre>
when was trying to use `sshfs` 4.1.2 on macOS 11.5.2. After updating to sshfs 4.2.0 the error was gone.

[2021-08-29 18:18] Phenek commented on #801
This issue should be open.

[code]
What should we do to install it from brew?

Workaround: I had to install sshfs from Release Page => [https://github.com/osxfuse/sshfs/releases](https://github.com/osxfuse/sshfs/releases)

[2021-08-29 18:29] bfleischer commented on #801
@Phenek As I explained before, the error message "sshfs has been disabled because it requires closed-source macFUSE" originates from Homebrew. The Homebrew team decided to stop shipping sshfs. Please raise this issue with them. There is nothing I can do about it. That's why I closed the issue.

[2021-08-30 08:09] aknoerig commented on #793
One more here. In my case, the cause turned out to be a duplicate entry in my `.ssh/config` file. Once I cleaned that up, everything worked fine again.

Also looking at other reported issues, it seems that it's crucial to not cause any error (password, vpn connection, ssh config,...) during the connection process.

[2021-08-31 23:03] FFroehlich commented on #828
I am on 11.5.2 and have reinstalled osxfuse 4.2.0 and rebootet multiple times but the error message is not going away.

[2021-08-31 23:12] artmg commented on #828
@FFroehlich please describe the steps you take, one by one, and write out any error message you receive, all in the order it happens. That will help others diagnose your issue. Thanks

[2021-09-01 11:43] invokermoon commented on #793
Need help...

[2021-09-01 16:06] FFroehlich commented on #828
1) install macFUSE 4.2.0 via the system preferences pane (checking show beta versions to not install 4.1.2) – I also tried installing by downloading installer from webpage
2) reboot
3) call sshfs via command line
4) receive the error message mentioned above (also attached)

<img width="261" alt="image" src="https://user-images.githubusercontent.com/14923969/131705116-068705f0-2424-4fe1-b376-7a5781

[2021-09-01 16:28] artmg commented on #828
Ok, thanks @FFroehlich, so if you

5. Press Cancel and disregard the error
6. reboot macOS
7. call SSHFS via the command line

Do you still get the same "System Extension Blocked" error?

The important thing about the reboot is it should be **after you try to use macFUSE** not just after you have installed it. Get the error - reboot - try and hopefully it should work.

[2021-09-01 18:39] johndonor3 commented on #829
@FGasper I'm having the same issue on a work laptop, I assume I'll need to bug IT (though in theory I'm supposed to have full admin privileges). Can you please share the details of what had to be changed?

I see a very similar screen to @NYC-Jim, with the +/- buttons greyed out and unclickable, even with the screen "unlocked". But even if I could add something I'm not sure it would I should add.

[2021-09-01 20:55] jasonehines opened #836 "Can't install on MacOS 12.0 Beta"
I get this message from the wizard: The macFUSE installation package is not compatible with this version of macOS.

I realize I'm running the beta and it's probably not supported, but if you need a tester, let me know.

[2021-09-02 00:29] FFroehlich commented on #828
Yes, the error persist after another reboot.

[2021-09-02 12:46] artmg commented on #828
How unfortunate. Everyone else in this thread using macFUSE 4.2.0 on macOS 11.5 seems to find the reboot fixes their issue, so we need to find out what is different in your case.

Although no-one here says they are using sshfs, recent comments in issue #705 say that sshfs users got things working with 4.2.0 on Big Sur. Are there any side issues mentioned in there that might apply to you?

Is your

[2021-09-04 16:38] FFroehlich commented on #828
I tried running `/Library/Filesystems/macfuse.fs/Contents/Resources/load_macfuse; echo $?`, which returns 1, indicating that the macfuse cannot be loaded, which makes me believe the issue is not related to sshfs. Is there a better way to test macfuse independent of sshfs?

[2021-09-05 13:23] artmg commented on #828
I cannot find any documentation on how you could diagnose why `load_macfuse` is failing ... perhaps the developer @bfleischer may be able to help?

[2021-09-08 12:43] luckydonald commented on #590
did it work out yet?

[2021-09-10 01:48] Demannu commented on #828
I can add to the list of users on macOS 11.5.2 in which macFUSE 4.2.0 does not load. It presents the System Preferences window but the steps described above did not work
- Dismiss notification
- Reboot
- Attempt to mount again
It also doesn't at any point show Ben's name for approval, if you hit approve it just asks to restart and starts the process over again

[2021-09-10 03:56] quantimnot commented on #390
containers/fuse-overlayfs requires fuse3

[2021-09-10 11:37] viking1304 commented on #754
On my Intel MacBook Pro both 4.1.2 and 4.2.0 worked without any problem, but when I got M1 last week I had to overcome few problems before it stated working.

The main problem is that disabling Gatekeeper and allowing extension is not enough for M1 Macs. You need to modify security settings in the Recovery Environment first (as atYuguo wrote). You can find more information how to do that on this [

[2021-09-11 02:39] #763 closed, assigned to nobody

[2021-09-14 10:02] MircoT commented on #791
I had the same problem with `macfuse` and this solved my problem too (reboot required):

[code]
Remember to check out the latest extension folder in `Library/Filesystems/macfuse.fs/Contents/Extensions`.

[2021-09-15 12:59] YorikSar opened #837 "macFUSE suggest update from 4.2.0 to 4.1.2"
I've just installed 4.2.0 version and in System Preferences it suggests to update to 4.1.2:
<img width="780" alt="Screen Shot 2021-09-15 at 16 59 04" src="https://user-images.githubusercontent.com/428074/133437705-2cbf129d-78b0-4d60-b2e1-93e7d6e06ca9.png">

I guess smth broken in upgrade detection.

[2021-09-16 00:07] imraan1901 commented on #828
What I did to get macFUSE to work was to
1) Uninstall macFUSE
2) Disable System Integrity Protection https://developer.apple.com/documentation/security/disabling_and_enabling_system_integrity_protection
3) While System Integrity Protection is disabled, install macFUSE
4) Do a restart without enabling System Integrity Protection and load/approve the macFUSE Extension in the Security Pane
4) Enable

[2021-09-16 13:10] jogan-r commented on #785
Did you ever find a solution or workaround for this? I'm having the same problem.

[2021-09-16 18:01] mforbes commented on #793
This is still a major issue.  For the record, I am using Mojave 0.14.6 (18G9323)

[code]

[2021-09-16 21:51] shera-amit commented on #828
I have the same issue. It persists even after reboot.

[2021-09-17 12:42] bgruberg commented on #798
I had a similar issue when updating my system from macOS Catalina to Big Sur. I have gone through the steps listed above without success. Has anyone had success with solving this issue?

[2021-09-17 16:26] artmg commented on #828
_**Update December 2024**
I compiled this list of instructions back in September 2021 in order to help people trying to make sense of this thread in the absence of other documentation. I have [now been informed](https://github.com/macfuse/macfuse/issues/828#issuecomment-2502486206) that step 9 should not be followed. However, come to think of it, all the software in this stack has evolved so much

[2021-09-19 23:43] gamvrosi commented on #828
FYI, for anyone having the same issue with macOS 11.6, @artmg's approach still works.

[2021-09-20 10:06] tobihagemann commented on #785
- Workaround 1: Don't mount at `/Volumes`.
- Workaround 2: Create a symlink to `/Volumes/...` and add the symlink to the sidebar. Downside: You can't eject the drive from the sidebar.

[2021-09-20 10:48] davidnewcomb opened #838 "The downloads link takes you to the release page and not the download page!"
On page: https://osxfuse.github.io/
Click "Downloads" from the nav bar.
I am taken to the release notes page. There are no links to download anything here.

The Downloads link should point to https://osxfuse.github.io/archive.html because this page contains links to actual downloads.

While there is a link to the stable release on the front page, I didn't see it . There was a download button which

[2021-09-21 15:37] nicolettacommins commented on #791
I am still having this issue is well and uninstall/reinstalling macfuse or changing between 4.1.2 and 4.2.0 aren't working. ```csrutil enable --without kext``` worked but I got a warning that this might break in the future. I tried doing this and allowing macfuse, then re-enabling csrutil with kext but the issue came back again.

I also tried:

```sudo kextutil /Library/Filesystems/macfuse.fs/Cont

[2021-09-22 13:46] Clovenhoofblues commented on #828
Not sure if the issue somehow relates to "managed devices" but I had the same issue; there was a prompt to approve but no "button" in Security Prefs.
We use Jamf so I added a config with allowed system/kernel extensions of ID 3T5GSNBU6W (no need to add io.macfuse.filesystems.macfuse) and it works now without going for the @artmg solution.
(ID based on; codesign -dv /Library/Filesystems/macfuse.fs/

[2021-09-23 09:16] artmg commented on #828
That's really useful, @Clovenhoofblues , seeing the ID (and how to get it), as that could be relevant to any organisation using an Apple MDM vendor solution to lock down its endpoints, whether it's Jamf, Kandji, JumpCloud, IBM, Hexnode, or one of the many others. Thanks

[2021-09-24 16:40] j-martin commented on #837
My understanding is that it's because 4.2.0 is considered to be a beta version (rightfully or not) and you got that box unchecked.

Checking `Show Beta Versions` will show that there is no updates available.

[2021-09-27 17:13] joernhees commented on #616
hmmpf... i stumbled into this issue as a user of ext4fuse after brew now says:
[code]

From what i read, this seems like an unfortunate and pretty stuck situation in which both parties blame the other.
The license / closed-source issues and powerplay now however seems to result in macfuse to be defacto unusable for standard / noob users (e.g., those who just want to mount an ext2/ext4 SD card).

I

[2021-09-27 22:16] ipatch commented on #616
@joernhees

i leave this here, for you, and _for future me_ 👴🏼

https://github.com/gromgit/homebrew-fuse

just tap that repo, and should be able to mount your sd card with an ext* filesystem.

[2021-09-28 20:04] bfleischer commented on #838
There are download links. You just need to click on the little arrow next to "Assets" under each release. This is the standard GitHub releases view.

[2021-09-28 20:04] #838 closed, assigned to bfleischer

[2021-09-28 20:05] bfleischer commented on #837
Martin is right. 4.2.0 is a beta release. Since the beta checkbox is not checked, the updater suggests the latest stable version, which is 4.1.2 right now.

[2021-09-28 20:05] #837 closed, assigned to bfleischer

[2021-09-28 20:07] bfleischer commented on #836
macFUSE 4.2.0, which was released shortly after WWDC in June, supports macOS 12. Older releases do not support macOS 12.

[2021-09-28 20:07] #836 closed, assigned to bfleischer

[2021-09-28 20:18] bfleischer commented on #833
I think this is something that might need to be addressed from the sshfs end. It might be worth raising this issue on the sshfs issue tracker (https://github.com/libfuse/sshfs). Socket forwarding is a ssh feature, so I don't think this is a macFUSE issue.

[2021-09-28 20:18] #833 closed, assigned to bfleischer

[2021-09-28 20:24] YorikSar commented on #837
@bfleischer Maybe it should show updates only if there's a non-beta update with newer version in this case? Recommending downgrade from beta to stable doesn't seem intuitive.
Also - maybe beta releases should have "beta" checkbox set by default?

[2021-09-28 21:49] bfleischer commented on #828
Disabling System Integrity Protection should not be required to use macFUSE. If you can't make it work without disabling System Integrity Protection, you should raise the issue with Apple. All macFUSE releases are signed and notarized and I test every new release. They all load fine for me without disabling System Integrity Protection.

[2021-09-28 21:55] bfleischer commented on #808
Extending the file name limit beyond 255 bytes won't be possible. Certain macOS kernel data structures only provide room for  up to 255 bytes. The Unicode normalization form plays an important role here for non-latin characters. All Apple file systems are limited to 255 byte file names (in NFC form).

[2021-09-28 21:55] #808 closed, assigned to bfleischer

[2021-09-29 10:44] DanielRonnstam commented on #828
I have done all you tell above, I'm on Big Sur 11.6, Installed MacFUSE 4.2.0, SSHFS 2.5.0 with disabled SIP and I have approved the extension and rebooted a lot of times. But, when I enter the blow in Terminal the folder to mount server stuff into, disappears. When I reboot, it's back again but with no content. I have tested the login credentials in FileZilla and they work.

Anyone else having the

[2021-09-29 10:48] DanielRonnstam commented on #828
Then when I try to enter the command again, I get this message;

mount_macfuse: mount point /Users/dannes/Documents/FoundryHDD is itself on a macFUSE volume

[2021-09-29 10:55] DanielRonnstam commented on #828
I searched and found that the folder exists but has changed some permissions or something. Now it looks like this when I try to get info, and say in the bottom that "You have unknown access"

![image](https://user-images.githubusercontent.com/48160813/135255463-c2797ee2-d2a9-44bd-b926-d84c1c1fe7a8.png)

[2021-09-29 13:09] bfleischer commented on #832
Thank you very much for your work. This is a really great bug report.

Filling `vnfs_cnp` in `FSNodeGetOrCreateFileVNodeByID()` seems to be the best solution in my opinion. We need to make sure that the file name is not cached automatically. But since we are already setting `vnfs_flags` to `VNFS_NOCACHE` (apparently for no reason) we don't need to worry about that.

With this change in place, your

[2021-09-29 13:09] #832 closed, assigned to bfleischer

[2021-09-29 14:06] bfleischer commented on #824
The fix is in the upcoming 4.2.1 release. Thank you very much for your work.

[2021-09-29 14:06] #824 closed, assigned to bfleischer

[2021-09-30 02:48] jlmuir commented on #814
@bfleischer, am I right in understanding that you consider the [File Provider](https://developer.apple.com/documentation/fileprovider) framework to not be suitable for implementing macFUSE?  (I haven't evaluated the File Provider framework, but based on your comments, I'm guessing you have evaluated it and have concluded that there are important things you can do with the VFS kernel API that you c

[2021-09-30 14:01] bfleischer commented on #814
@jlmuir

File Providers are no file systems. In simple terms, File Providers sync files more or less transparently and store them burried in the the user's home directory. There is no (virtual) volume. macFUSE on the other hand allows you to write full-featured file systems. The File Provider framework lacks many features that macFUSE relies on. Therefore it is not possible to implement macFUSE us

[2021-09-30 14:22] bfleischer commented on #828
@DanielRonnstam Don't use `sudo` when calling sshfs and look into the `defer_permisions` (https://github.com/osxfuse/osxfuse/wiki/Mount-options#default_permissions-and-defer_permissions) option. Please post questions like this on our Google group (https://groups.google.com/g/osxfuse-group).

[2021-09-30 14:23] jlmuir commented on #814
@bfleischer, understood.  Thanks!

[2021-09-30 15:47] vitalif opened #839 "Backwards compatibility silently broken around 4.x"
Hi
In these commits:
https://github.com/osxfuse/fuse/commit/f95e93946e0577ad91a055554773a5c0ff7e8f70
https://github.com/osxfuse/fuse/commit/3ec24b88be617ada78ac7f288836d7010bf984f8
You added a field into the Rename operation format. Now the kernel **by default** sends rename requests that are **incompatible** with FS servers that don't support the newest ABI, including older versions of your own l

[2021-09-30 15:52] bfleischer commented on #839
The kernel extension only sends the additional flags when the user space server sets FUSE_CAP_RENAME_SWAP or FUSE_RENAME_EXCL. At least that's how it is supposed to work. How does this break 3rd party bindings?

[2021-09-30 16:27] jlmuir commented on #814
@bfleischer, I just came across [Alternative for Virtual file system (VFS) kernel extension](https://developer.apple.com/forums/thread/681325) on the Apple Developer Forums.  In that post, an Apple Developer Technical Support representative replied suggesting that the best thing to do is to file bugs with Apple to ensure that the Apple developers working on moving away from macOS kernel extensions

[2021-09-30 17:17] vitalif commented on #839
Hm. Can these flags conflict with something else? For example with an older flag value? I updated @jacobsa/fuse Go binding to work with macfuse 4.x (it didn't work because it used the old mounting method without COMMFD) and the app started to receive renames in the new format...

[2021-09-30 17:36] vitalif commented on #839
As I understand it's not the userspace server that sets these flags, I receive it in initOp.Flags and I send 1<<5 | 1<<22 back i.e.  InitBigWrites | InitMaxPages. See https://github.com/vitalif/fusego/blob/macfuse-commfd/connection.go#L160

After that I get "new" renames.

I.e. from my point of view it seems that the **kernel** sends these flags to userspace and doesn't check if userspace actually

[2021-09-30 17:44] bfleischer commented on #814
@jlmuir Apple is aware of the situation. I've worked with Apple before to get several issues in Big Sur resolved that were blocking macFUSE.

[2021-09-30 17:52] bfleischer commented on #839
The kernel sends all supported flags to user space:

[code]

The FUSE server running in user space then needs to respond with the flags that it supports. If you don't send FUSE_RENAME_SWAP and FUSE_RENAME_EXCL back, the kernel will not send new rename messages to user space.

[2021-09-30 17:55] bfleischer commented on #839
How do you know that you receive "new" renames?

[2021-09-30 18:00] bfleischer commented on #839
Oh, I think I know what you mean.  The offset of the file names is not the same as before (FUSE for macOS 3) in case the user space server uses ABI version 7.19, but does not support FUSE_RENAME_SWAP or FUSE_RENAME_EXCL.

[2021-09-30 18:14] kikht commented on #839
If you will decide to change something here, please consider that some applications have already adopted this change. E.g. they might implement something similar to https://github.com/osxfuse/fuse/blob/master/lib/fuse_lowlevel.c#L1299-L1305 Current state of affairs makes it possible to write code that works correctly across 3.x/4.x versions by checking against flags provided in INIT message. Simpl

[2021-09-30 18:15] bfleischer commented on #839
We would need to increment the FUSE ABI version to address this properly. But this won't be possible because the next ABI version already exists for FUSE on Linux and comes with new feature requirements that macFUSE does not support right now. So incrementing the ABI version is not an option.

The libfuse version that ships with macFUSE 4 supports the old 7.19 ABI without renamex support and the n

[2021-09-30 18:17] bfleischer commented on #839
That was the intention of the flags. There really is no pretty solution to the problem without being able to increment the ABI version number.

[2021-09-30 19:00] bfleischer commented on #839
The offset change is transparent to file systems linking against libfuse. All third party FUSE libraries needed or need to be updated anyway to call `mount_macfuse` (instead of the old `mount_osxfuse`) or to open the new `/dev/macfuse` devices directly (instead of the old `/dev/osxfuse` devices).

This means that the ABI modification is "technically" not breaking backwards compatibility, since old

[2021-09-30 19:12] bfleischer commented on #839
@kikht I agree, modifying the ABI now would do more harm than good. The update from version 3 to version 4 introduced several breaking changes for third party FUSE libraries. However, macFUSE 4 is binary compatible with legacy file systems that were built using version 3 (linked against libosxfuse.2.dylib or OSXFUSE.framework).

@vitalif I'm going to close this issue. I don't think there is anythi

[2021-09-30 19:12] #839 closed, assigned to bfleischer

[2021-09-30 21:00] vitalif commented on #839
[code]

[2021-09-30 21:07] vitalif commented on #839
How is that possible if old versions also don't know about the offset? :) or do they? :)

[2021-09-30 21:09] etsiaDigital commented on #668
Froze everything for me.  Kind of hard to troubleshoot...  hard freeze.  Had to recycle everything.  I don't know if it was the egg or the chicken and I don't have the time right now to hunt or chase.  Same versions as  tyzhnenko
bummer

[2021-10-01 08:54] bfleischer commented on #839
libfuse is a shared library and knows about the new offset. Old apps are linking against libfuse. This means that the app (or file system implementation, to be more specific) does not need to know about the offset change.

[2021-10-03 08:54] changhongyan123 commented on #791
I tried
`sudo kextutil /Library/Filesystems/osxfuse.fs/Contents/Extensions/11/osxfuse.kext`
 and it works for me after rebooting.

[2021-10-04 23:15] elvey commented on #814
Perhaps `bputil` would be useful in making enabling kernel extensions easier?

Manpage excerpts:
[code]

[2021-10-07 08:38] bfleischer commented on #814
@elvey The "interesting" options will only work in the recovery environment. The manage states for the `--enable-kexts` option: `Boot environment requirements: 1TR.`

[2021-10-07 18:28] bfleischer commented on #616
macFUSE is not an end user product. It's a software component that is used primarily by software developers who integrate it into their product and ship it as part of their (commercial) software to end users. Many end users don't even know that the product they are using is based on macFUSE. And you can't expect them to donate to a project that is used by the software they already paid for. Very f

[2021-10-07 19:22] d235j commented on #616
@bfleischer It would have been nice if you informed users who clicked "Update" of the license change when it happened.

I brought this up above at https://github.com/osxfuse/osxfuse/issues/616#issuecomment-532422690 and the response was a deafening silence. The README for this repository was only updated in October 2020, nearly a year and a half after the license change.

Ultimately I am hoping th

[2021-10-07 19:50] bfleischer commented on #616
@d235j The update mechanism is very old and does not support displaying messages. However, the release notes of all releases between 3.10.0 and 4.1.2 (roughly one year) contain a note about the license change. This means that all users who cared about the changes from one release to the next were (and still are) able to find this information. It's not like I have been hiding the license change. In

[2021-10-08 09:30] schthms commented on #793
any news on this one?

[2021-10-09 15:52] emmajarv commented on #828
I have the same issue that macFUSE is not working after several re-boot attempts. I got it working through these instruction but when I enable System Integrity Protection, the same problem persists. Is there anything else I could do as I don't want to permanently disable SIP?

[2021-10-09 20:38] gmuth commented on #783
"Allow" does not appear because the system finds a "true" already in the KextPolicy db.
It first looked like a bug of Apple's kext security management when still not loading the kext but at the same time not showing the option to enable the kext.

In my case the kext has been enabled when running macOS HighSierra. After upgrading to Mojave (and macfuse) I was unable to use sshfs and no "Allow" app

[2021-10-09 21:03] gmuth commented on #828
Have you tried [deleting /private/var/db/KernelExtensionManagement in recovery mode](https://github.com/osxfuse/osxfuse/issues/783)?
This should allow creating fresh kext settings as required by the current version of macfuse and macos.

[2021-10-10 10:45] emmajarv commented on #828
@gmuth Thanks for the help! Unfortunately, after I uninstalled macFUSE, deleted this folder and reinstalled macFUSE, the problem is still there.

In my working group, we have three Macs with same version of Big Sur but only mine shows this problem. I'm running out of ideas.

[2021-10-11 13:20] castiellian opened #840 "MacFuse 4.2.1 works on Big Sur 11.6 perfectly! None work on Monterey beta5 or Later"
macfuse 4.2.1 works on Big Sur and Monterey!

[2021-10-11 15:37] FFroehlich commented on #828
I am also unable to get macFUSE to work while SIP is enabled. Following the guide described above, I was able to click the "allow" button in systems preferences after disabling SIP. Following a reboot, macFUSE works and I can mount drives via sshfs. However, macFUSE/sshfs stop working as soon as I re-enable SIP.

[2021-10-12 08:40] gmuth commented on #828
To verify that the kext is enabled run:

[code]

My output is: (team_id,bundle_id,allowed,developer_name,flags)

[code]

What is your output?
1 in column 3 means "allowed"
flags in column 5 should be 12 (bits 8+4, where can I find a description of the flag bits?)

@bfleischer, does your kext use two bundle-ids? If you use only one I assume "io.macfuse" is the latest.

(Rebuilding the kextpolicy db

[2021-10-12 15:08] emmajarv commented on #828
Here's my output
`3T5GSNBU6W|com.github.osxfuse.filesystems.osxfuse|1|Benjamin Fleischer|5
3T5GSNBU6W|io.macfuse.filesystems.macfuse|1|Benjamin Fleischer|1`

[2021-10-12 15:26] gmuth commented on #828
You could try to update via sql the flags-value to 12 or remove both entries to trigger the allow-dialog.
Could you please have your coworkers run the command and provide their output as well?
If their output is different as well we probably have the cause and can fix it.

[2021-10-13 11:13] Lusitaniae commented on #616
I guess at this point just make a final statement and close the issue / block new messages.

And make any additional updates to README to clarify the current situation if you think worthwhile.

[2021-10-13 20:31] maraqa-chu92 commented on #840
I get:
zsh: parse error near `end'

and
zsh: parse error near `then'

when I try to do steps 3 and 4
Please advise!

[2021-10-13 21:33] bfleischer commented on #808
See https://github.com/macfuse/macfuse/wiki/Unicode-Normalization-Forms for details.

[2021-10-14 06:24] alexkutsan commented on #791
Have problem after
[code]
What can I do?

[2021-10-14 13:06] jrbgit commented on #791
I think now you need to go into System Preferences and Allow the application.

[2021-10-14 13:12] nicolettacommins commented on #791
I was finally able to fix the problem by uninstalling my institution's security software, then I was able to allow the system extension. I was then able to reinstall the security software and macfuse still works. Hope this helps some people who might be having the same issue.

[2021-10-14 16:13] castiellian commented on #840
macfuse 4.2.1 works on Big Sur and Monterey!
https://bbs.pcbeta.com/viewthread-1906630-1-1.html

[2021-10-14 19:17] msilin commented on #793
Any workaround for this?

[2021-10-17 16:09] johnsalmon commented on #793
This is not a problem with sshfs or squashfuse.  Even the most trivial
FUSE filesystems, compiled from hello.c, null.c or hello_ll.c in the
examples/ directory of the fuse library can cause system-wide trouble.

Lacking the source code to both MacOS and MacFUSE, it's difficult to
be sure what's going on.  After compiling and running some code based
on hello_ll.c with some extra logging thrown in,

[2021-10-17 16:41] aleksandrs-ledovskis commented on #793
@johnsalmon Thank you for bringing this detailed technical insight to light. You write about some special patch of "hello_ll.c" but no file/diff is to be found in your post. Could you share that too?

[2021-10-17 17:48] johnsalmon commented on #793
Sorry, this should have been appended to my last post.
[code]

[2021-10-18 05:09] castiellian commented on #840
@maraqa-chu92
Please run this command on step 3 and find the correct phase.You probably find wrong line code.

`vi brew formula ntfs-3g`
`search ：/on_mac do`
`find out this：`
`on_macos do`
`disable! date: "2021-04-08", because: "requires closed-source macFUSE"`
`end`
`disable limitation：`
`# on_macos do`
`# disable! date: "2021-04-08", because: "requires closed-source macFUSE"`
`# end`

[2021-10-19 00:01] EricNepean commented on #829
I'm trying to Install MacFuse 4.2.1 on a MacBook Air running MacOS 10.14.6, and getting the same error message as F Gasper. On the Security&Privacy Window>General window, I also do not see the option to enable Software Install by Benjamin Fleischer as per FGasper.

I tried restarting, the problem is unchanged.

I'm unable to install MacFuse, and therefore unable to run applications that depend on

[2021-10-19 00:22] johndonor3 commented on #829
I had to appeal to my IT department (that manage my mac) and they ended up having to create a policy for me. We got the info we needed from this post (it looks like they discuss "policies" a little bit but I'll be honest I don't know much about that): https://support.lucidlink.com/support/solutions/articles/31000144507-filespace-fails-to-mount-macos

Note: I was able to install MacFuse, I just cou

[2021-10-19 04:42] EricNepean commented on #829
After restarting the Mac, and a failed install with no button to "enable Software Install by Benjamin Fleischer", I let the machine skit for a while, and tried once again (to verify the previous fail). Instead it worked.
MacFuse 4.2.1 is installed and apparently runs (because Veracrypt now runs)

[2021-10-19 15:26] johnsalmon commented on #826
The inability to unmount makes me wonder if this is related:  https://github.com/osxfuse/osxfuse/issues/793#issuecomment-945151674  If a FUSE client "successfully" mounts, but then doesn't respond to getattr, statfs, etc., it can make it impossible to shut down.

[2021-10-20 04:54] muaaz0412 commented on #616
I emailed you asking about the purchasing of the license can you please tell me about it.

[2021-10-20 19:15] #616 closed, assigned to bfleischer

[2021-10-20 19:16] #840 closed, assigned to nobody

[2021-10-20 19:19] bfleischer commented on #828
Since version 4.0 the bundle identifier starts with `io.macfuse`. In older releases it starts with `com.github.osxfuse`.

[2021-10-20 22:53] hackerb9 opened #841 "License and trust"
Hello! Thank you for having created FUSE for MacOS. I've recommended it in the past to people who need sshfs on their Macs. Today, I discovered that one cannot compile the source code using brew because, apparently, the source code is no longer available.

I have a couple questions that I do not see answered in the long threads I read here:

1. How are we supposed to trust macFUSE if the source co

[2021-10-20 23:37] bfleischer commented on #841
Simply using a copyleft license like the GPL won't work. macFUSE is not statically linked, so this means that companies would only need to open-source the modified macFUSE source code, not the source code of their product in its entirety. But most importantly, the GPL allows commercial use at a large scale.

I learned a few things while maintaining macFUSE:

* The great majority of developers of c

[2021-10-20 23:41] bfleischer commented on #841
I don't think there would be any legal objections.

The last open-source version of macFUSE does not support newer versions of macOS and it is missing features and bugfixes that have been implemented in the meantime.

[2021-10-21 04:00] hackerb9 commented on #841
Not being statically linked does not affected the GPL as long as it is a "combined work". (See http://www.gnu.org/licenses/gpl-faq.en.html#GPLStaticVsDynamic). How do these commercial developers "integrate" macFUSE in their programs? What matters is whether the product they sell is a combined work or a mere aggregation.

Yes, the GPL does allow commercial use at a large scale as long as it is non-

[2021-10-21 10:51] bfleischer commented on #841
It's more complicated than that. I'm not a lawyer, but I'm not convinced that a commercial product incorporating the macFUSE kernel extension would classify as combined work. The kernel extension is not "linked" with the commercial product. At the very least this is a grey area and I'm not willing to bet my funding on this.

Your argument is based on the "combined work" assumption. Without this as

[2021-10-21 21:03] psihonavt opened #842 "SSHFS automatically unmounts when MacBook goes to sleep."
Hello,

First of all, thank you for developing macFUSE.

I have the following situation. I have several VirtualBox Linux guests on my host system (OS X Big Sur). I use macFUSE + sshfs to mount certain folders from these virtual machines on the host FS. Everything works fine; however, when MacBook goes to sleep, the mounted folders get unmounted (and I need to do `umount <local endpoint> && sshfs .

[2021-10-22 06:30] hackerb9 commented on #841
It sounds like I read too much into this comment:

You are, of course, correct that if macFUSE is merely bundled as an adjacent program, then the GNU GPL would not apply. I had hoped that would be an easy solution for regaining trust, but it sounds like the situation is rather messy on MacOS, especially with the Apple Developer Certificates.

I wish you luck.

[2021-10-22 06:30] #841 closed, assigned to bfleischer

[2021-10-23 12:08] mcat-ee commented on #791
Could you clarify where the repo containing the latest extension dir is? (Unless i'm misundestanding?

I got this error - I think it could potentially be caused due to my old OSX version ( 10.13.6 )

And then:

[2021-10-26 10:41] user5201973 opened #843 "Unsupported macOS Version"
Get the following error after upgrade to macOS 12.0.1 when launching Amazon Workdocs Drive

The installed version of macFUSE is too old for the operating system. Please upgrade your macFUSE installation to one that is compatible with the currently running version of macOS
![Screen Shot 2021-10-26 at 6 41 38 AM](https://user-images.githubusercontent.com/93193947/138862216-86d24da7-b231-4855-89f5-a1

[2021-10-26 11:21] bfleischer commented on #843
Amazon uses a custom version of macFUSE. Please update Amazon Workdocs Drive to the latest version. If this does not resolve the issue, please report it to Amazon.

[2021-10-26 11:21] #843 closed, assigned to bfleischer

[2021-10-29 09:54] alexios-y opened #844 "Issue with kernel extension on mac Monterey"
It would block installing kernel extensions in this new mac os by default. Users need to reduce security level to install extensions. Just wondering if there is any plan to use alternative extensions rather than kernel extensions in the future? Also Apple seems to ditch support for legacy system extensions some time later too.

[2021-10-29 10:18] bfleischer commented on #844
Unfortunately, Apple has not announced an alternative API for developing full-featured file systems. I would love migrating macFUSE to a new non-kernel API, but currently there is none. That's the reason Apple has not deprecated file system kernel extensions, yet. Feel free to raise this issue with Apple.

Apple will not drop support for file system kernel extensions before they announce a new non

[2021-10-29 10:18] #844 closed, assigned to bfleischer

[2021-10-29 19:29] adamcweiner opened #845 "sshfs mounting broken once upgraded to macOS Monterey"
I upgraded to macOS Monterey v12.0.1 but can no longer mount to my desired remote server.

The command I'm running is:
[code]

and the error message I get is
[code]

I can still ssh into the server just fine so I don't think this is an issue with any of the keys in my `.ssh/` folder. Is any one else having this issue or can help me out?

Best,
Adam

[2021-10-29 19:40] adamcweiner commented on #845
Never mind I figured it out by reading https://github.com/osxfuse/osxfuse/issues/315... Just had to install the latest version of macFUSE (v4.2.1) and restart my laptop.

[2021-10-29 19:40] #845 closed, assigned to nobody

[2021-11-02 11:59] ruanhailiang opened #846 "12.0.1 montery"
It is not work. on version 12.0.1 montery

[2021-11-02 12:08] bfleischer commented on #846
macFUSE 4.2.0 and later support macOS Monterey. Could you please provide more information?

[2021-11-02 12:34] delfer commented on #846
use macFUSE instead of osxfuse
```brew install --cask macfuse```

[2021-11-02 18:59] bFanek commented on #846
Some tools do not work on macFUSE 4.x, but work under 3.x
3.11.2 used to work on Big Sur (macOS 11), but refuses to load or install on Monetary (macOS 12)

Is there a way to get 3.x working on Monetary?

Thanks

[2021-11-02 20:26] bfleischer commented on #846
Which tools are you referring to? All "native" file systems that were built with version 3 should work on version 4 as well.

No, macFUSE 4 is the future.

[2021-11-02 20:29] bFanek commented on #846
Plexdrive does not work with 4.x
More details: https://github.com/plexdrive/plexdrive/issues/390

[2021-11-02 21:01] bfleischer commented on #846
I commented on the Plexdrive issue. Plexdrive uses a third-party FUSE library which was never updated to add support for the Linux-style mount process that was introduced in version 3.3.0 of FUSE for macOS, more than 5 years ago. The relevant code is open source. Updating the third-party library does not require any "reverse engineering" and should be easy.

[2021-11-03 08:09] windtear commented on #846
+1
VeraCrypt info：
kext load failed: -603947007
mount_osxfuse: the file system is not available (255)

[2021-11-03 09:03] windtear commented on #846
Update:
after I reinstall macfuse 4.2.1
It works for me!

It seems that macfuse must be reinstalled for every boot.

[2021-11-03 12:05] mwort commented on #668
Same here, this is really annoying and I'm not getting any output from sshfs:
[code]

[2021-11-03 17:41] RayOei commented on #846
I have issues with Keybase (see similar reports here: https://github.com/keybase/client/issues/24668) not sure if it is a MacFuse or Keybase issue.
Reinstalling MacFuse, which normally worked after a MacOS upgrade, did not this time.

[2021-11-04 14:12] 3cooper opened #847 "API Documentation"
We have an Electron app, and were using a package called fuse-native to work with osxfuse.  fuse-native has not been updated and is not compatible with recent versions.  Is there documentation for the osxfuse API for us to use to troubleshoot the issues this other library is having?

[2021-11-05 08:32] Gregory-Skurko opened #848 "MacOS 12.0.1 (M1) Incompatible architecture (fuse 4.2.0-4.2.1)"
To use fuse, we copy `*.fs` into our app package at `*.app/Contents/Resources/*.fs`. If I try to run the app from `/Applications`, the macOS cannot load the fuse kext, `Console` shows that `kernelmanagerd` is trying to check extensions for all versions of macOS and displays errors `Incompatible architecture: Binary is for x86_64, but needed arch arm64e` (even if trying to load 12 `*.kext` version

[2021-11-06 03:25] bFanek commented on #846
Thank you @bfleischer  I ended up switching to rclone instead of Plexdrive. rclone works fine under macFUSE 4.x and macOS Monetary, I’ll use that for now until plexdrive is updated. Cheers.

[2021-11-07 11:46] veepers037 commented on #846
I just upgraded to the Monterey system and my Vera Crypt no longer opens any files.  It keeps sending me in a loop of messages stating when I try to install OSXFUSE 2.5.0: "This release of OSXFUSE is not compatible with the version of OS X you are running" or stating "Vera Crypt requires OSXFUSE 2.5 or above."  The MacFuse currently installed (and just re-installed) is 4.2.1 which worked great unt

[2021-11-07 21:43] veepers037 commented on #846
Tried reinstalling VeraCrypt and it is now functioning normally.  Hope this helps others who found the same problem after upgrading to Monterey.

[2021-11-08 12:41] true-Grand opened #849 "Sidebar Icon"
I Don't Know where to put this so hopefully someone sees this and fix it
<img width="135" alt="Screen Shot 2021-11-08 at 8 38 56 PM" src="https://user-images.githubusercontent.com/78011648/140743698-edad866c-eaae-4666-94d4-06a4df3133ed.png">
. A mounted drive using Fuse isn't displaying a proper sidebar icon. Hopefully someone can fix it..

[2021-11-08 22:27] bfleischer commented on #847
I've never used Electron or fuse-native, so my knowledge in this regard is very limited. The FUSE API is documented in the public libfuse headers. There is no separate macFUSE specific API documentation. The public macFUSE API has not changed is a long time. However, due to the rebranding a few paths have changed.

Can you tell me more about the specific issues you are running into? Maybe I can pr

[2021-11-09 15:50] ericswpark opened #850 "macFUSE kernel extension stops working until reload"
The macFUSE kernel extension sometimes ~~gets unloaded~~ stops working after running the system for some time. When this happens, applications that rely on macFUSE stop working. Cryptomator shows a generic FUSE error indicating that it is unable to use macFUSE, while VeraCrypt shows a `mount_macfuse: the macFUSE kernel extension is not loaded` error when attempting to mount a volume.

~~When this

[2021-11-10 16:48] AlexC127 opened #851 "Error: mount_macfuse: the macFUSE kernel extension is not loaded"
after upgrade to MacOS 12 on MBA M1,  I have upgraded macFUSE to 4.2.1
Security has been granted.
macFUSE is able to use only once using Veracrypt.
In the next attempt, it prompts the subject error.
I have to reboot the MBA  everytime

[2021-11-10 19:24] peterVG commented on #315
FYI. The bash script from https://github.com/osxfuse/osxfuse/issues/315#issuecomment-271548072 above did not work for me, like it seems to have for many others. I'm on Big Sur 11.6. However, these instructions did work for me (essentially uninstall and reinstall macFuse: https://sourceforge.net/p/veracrypt/discussion/general/thread/b7cd930cf7/#5033

[2021-11-12 04:17] wesdunn commented on #848
I work with a custom branded version of osxfuse and have experienced the same issue with 12.0.1. I have not dug into console logs, but saw this earlier and ended up deciding to try removing the 10.9-10.15/x86_64-only binaries as @luciys mentioned here...

I deleted them all from my app bundle, re-signed everything, and then re-tried getting the kext installed via my app's normal means... I **FINAL

[2021-11-12 15:50] Gregory-Skurko commented on #848
@wesdunn
I think I found a better solution
It might work for you too

For version 4.2.1 (maybe for 4.2.0 too, didn't check it), need to replace DTPlatformVersion value in Info.plist from 11.1 to GM in:
\*.fs/Contents/Extensions/10.9/\*.kext/Contents/Info.plist
\*.fs/Contents/Extensions/10.11/\*.kext/Contents/Info.plist
\*.fs/Contents/Extensions/10.12/\*.kext/Contents/Info.plist

Then you don't nee

[2021-11-12 16:45] wesdunn commented on #848
@luciys oh, interesting! Thanks for letting me know, I will definitely give that a try... I know there's a 4.2.2 in pre-release right now, but I was hoping to get an update out to our customers today so that things will work for the M1/macOS 12 folks we have. If this works out, I may proceed down this path, so **THANK YOU!**

One point of clarification before I try it out... you're changing the `D

[2021-11-13 06:37] johnnyatlaval opened #852 "Running latest prerelease"
<img width="318" alt="Skärmavbild 2021-11-13 kl  07 43 10" src="https://user-images.githubusercontent.com/11561240/141609098-cdbf10df-4c6e-4019-9888-3b07ced0ba3a.png">

Hdutils attached fail - filesystem cannot be mounted. I get this error updating to your lastest release with the newest install from Apple Monterey 12.0.1 but if I try another time it works as magic.

[2021-11-13 07:05] ericswpark commented on #850
Just found out that the kernel extension _is_ loaded when the error occurs, as the output of `kextstat` shows:

[code]

**Unloading the kernel extension fixes the error.** You can unload the kext by running: `sudo kextunload -b io.macfuse.filesystems.macfuse`.

You do not need to re-load the kernel extension; it gets reloaded automatically when running any application that relies on macFUSE.

So i

[2021-11-13 07:08] ericswpark commented on #851
@AlexC127, this might be a duplicate of #850. Can you check if the unload kext command [in this comment](https://github.com/osxfuse/osxfuse/issues/850#issuecomment-967795637) works for you or not?

[2021-11-13 21:46] alex-moreno commented on #791
same issue using Big Sur. Just upgrade and should be fixed

[2021-11-15 02:16] Cubytus opened #853 "The system extension required for mounting FUSE volumes could not be loaded"
Hi there,

after upgrading to Mojave (No Catalina for now as I still have un-replaced 32 bits apps, and I feel that a new OS every year is too fast), I wanted to check a VeraCrypt volume. VC starts, but can't mount encrypted volumes. So I proceeded on reinstalling macFUSE 4.2.1, and found the following error:

Which I did, only to find out that I already allowed installation of software from any s

[2021-11-15 08:23] Gregory-Skurko commented on #848
@wesdunn Yes, I noticed that the previous version we were using contained `GM`

[2021-11-16 00:22] anonymousguy96 opened #854 "pkg installation failed issue"
Hi, I'm trying to install an audio plugin with no success cause its pkg file presents an error of failed installation.

Do you know how to fix it?
I'ma drop os info and the installer log here

Have a good day :)

macOS Mojave 10.14.6

Installer log:

Nov 16 01:15:44 IPNs-MBP Installer[916]: @(#)PROGRAM:Install  PROJECT:Install-1000
Nov 16 01:15:44 IPNs-MBP Installer[916]: @(#)PROGRAM:Installer  PR

[2021-11-16 00:28] bfleischer commented on #854
Please raise this issue with the developers of the audio plugin. This is the wrong issue tracker.

[2021-11-16 00:28] #854 closed, assigned to bfleischer

[2021-11-16 14:02] bfleischer commented on #853
The setting you are referring to is not the same as allowing macOS to load a specific kernel extension from a third-party developer. You should see an "Allow" button on the Security & Privacy System Preferences pane when you are promoted by the macFUSE installer to go to system preferences.

If you are not seeing the "Allow" button, then you might be using some third-party software that is capable

[2021-11-16 14:05] bfleischer commented on #852
Please raise issues involving VeraCrypt with the VeraCrypt team. I have no way of debugging this and it might be a VeraCrypt issue after all.

[2021-11-16 16:22] j-rahman commented on #850
This does not work in my case. I get the following error.
`Executing: /usr/bin/kmutil unload -b io.macfuse.filesystems.macfuse
Error Domain=KMErrorDomain Code=71 "Kernel request failed: (libkern/kext) kext (kmod) start/stop routine failed (-603946985)" UserInfo={NSLocalizedDescription=Kernel request failed: (libkern/kext) kext (kmod) start/stop routine failed (-603946985)}`

[2021-11-16 16:40] bfleischer commented on #850
@j-rahman The kernel extension cannot be unloaded in case a macFUSE volume is still mounted.

[2021-11-16 16:47] bfleischer commented on #850
@ericswpark The error message you are seeing is returned in case the macOS system function getvfsbyname() reports that the macFUSE VFS plugin ist not available. There is no code in the macFUSE kernel extension to unload the VFS plugin (without the kernel extension being unloaded). This means there is probably more to the story. Can you describe in as much detail as possible what you did leading up

[2021-11-16 16:56] j-rahman commented on #850
@bfleischer There are currently no mounted volumes. I have encountered this problem a couple of times before on macOS 12.0.1. Reinstalling and restarting or simply restarting the system often solves the issue. However, it is very inconvenient to have to restart in the middle of work.

Right now, I tried to mount a remote directory and got a `mount_macfuse: the macFUSE kernel extension is not loade

[2021-11-16 16:59] bfleischer commented on #850
@j-rahman Just to be sure, can you run `mount` in Terminal?

[2021-11-16 17:05] j-rahman commented on #850
@bfleischer Yes, I can.

I even tried running `sudo kextload /Library/Filesystems/macfuse.fs/Contents/Extensions/12/macfuse.kext`, but it won't help. I get the same error `mount_macfuse: the macFUSE kernel extension is not loaded` whenever I try to use `sshfs` again. Perhaps I will have to restart. ☹️

[2021-11-16 17:29] ericswpark commented on #850
@bfleischer It usually happens after some time has elapsed since the last mount that utilizes macFUSE.

For example, when I reboot my Mac and start using VeraCrypt and Cryptomator, everything will work for a while. I'll unmount everything, eject the external drive, and then put my Mac to sleep, although I'm not sure if this is the exact trigger for the problem. On wake, I re-connect the external d

[2021-11-16 17:31] ericswpark commented on #850
@j-rahman I think your issue is slightly different from mine but possibly related. The kext unload command _always_ works for me whenever I encounter this error.

I'm running macOS build 21A559, in case we're running different macOS builds and that's causing the discrepency. But I think this might be a separate issue altogether. In any case there are definite incompatibilities with Monterey and ma

[2021-11-17 17:37] ericv-hs commented on #849
Hello. Same issue on MacOS 12.0.1 (with pCloud).
In fact, network drive icon comes and goes away, replaced by a file icon. I didn't figure yet when and why.

[2021-11-17 23:23] johnnyatlaval commented on #852
Ok, I will try to raise the issue there. It is difficult to know for me as a user but, thank you for your answer!

[2021-11-18 01:38] bfleischer commented on #848
Version 4.2.3 contains a workaround for this issue.

The "incompatible architecture" error is a bug in macOS. Apple seems to have introduced this bug in one of the last Monterey beta releases. In some cases loading the kexts worked fine and in other cases it did not work at all. It seems pretty random. The kexts are obviously fine because they can be loaded without any issues when placed outside o

[2021-11-18 01:38] #848 closed, assigned to bfleischer

[2021-11-18 01:41] #852 closed, assigned to bfleischer

[2021-11-18 07:46] Cubytus commented on #853
Interesting. In fact, I DID have two software that could match this description: Karabiner, needed for mapping a non-Apple keyboard, and AnyDesk. I uninstalled them both for the sake of this test, tried to reinstall macFUSE 4.2.3, to no avail. Still no "Allow" button.

Is Mac OS X 10.14 known to consider these software as potentially emulating keyboard or mouse? Password managers, maybe? That's pr

[2021-11-19 03:07] WGroleau commented on #771
Here you are saying it's closed source, yet the installer asked me to agree to a license that allowed me to use, modify, or distribute the code if I don't change the copyright.

[2021-11-19 03:13] WGroleau commented on #841
Does any of this mean that those selling derivatives **in the app store** are violating your copyright?

[2021-11-19 03:44] WGroleau opened #855 "Broken after reboot on macOS 12.0.1"
Ian macOS 12.0.1,  ran the macFUSE 4.2.3 installer, and rebooted to activate it.  I then ran the sshfs 2.5.0 installer.

It worked (without sudo) when I was the owner of the mount point and gave me full access to everything in the shell.  owner and group were mine locally and were still correct on the server.  I edited and saved a text file, and it did not change owner or group on the server.  Gre

[2021-11-19 07:40] WGroleau commented on #855
?!? An hour or so after posting this as an issue, it is again working as expected.  ?!?

[2021-11-19 11:44] davidnic1 commented on #855
Lucky dog. Fresh install in a fresh m1 Mac just hangs for me.

[2021-11-19 13:33] davidnic1 opened #856 "sshfs hangs terminal on brand new Mac M1"
Brand new Mac (OS 12.0.1, M1 chipset) sshfs and Fuse installed from https://osxfuse.github.io. I do:

The terminal hangs, can't ^C the process.

It works fine on my Intel Mac.

Any ideas what I've done wrong?

[2021-11-20 00:42] mixman68 commented on #846
I have issues with MacBook Air M1 and macFuse 4.2.3

My system has a load average around 400 with macFuse activated, when I click on Remove FUSE button, the system cool down instant.

I have FileVault on

[2021-11-21 17:43] rdoubleug commented on #791
New to all of this, however, I can't get this working while using Monterey. `sudo kextutil` command from above just gives me the following error:

`Executing: /usr/bin/kmutil load --bundle-path /Library/Filesystems/macfuse.fs/Contents/Extensions/11/macfuse.kext
Error Domain=KMErrorDomain Code=71 "Could not find: Unable to get contents of boot kernel collection collection at /System/Volumes/Preboot

[2021-11-22 09:46] kakserpom opened #857 "Incompatible architecture: Cannot find arm64e in fat binary"
I cannot mount FAT on a new M1 Mac.

[2021-11-23 07:19] InakyMartinez opened #858 "Monterey - System extension"
Hi All,
We're using macfuse as a key component for our LucidLink installs. The issue is coming up with Monterey, with Catalina and BigSur, we used to supervise these installs via kernel extensions within a configuration profile, but due to recent kernel extensions deprecation by apple for Monterey, we're not being to replicate the same workaround via system extension. Is there anyone else facing t

[2021-11-25 01:36] zanjie1999 commented on #754
if you want to install some "requires closed-source macFUSE" software, such as bindfs, use:
[code]
and find
[code]
delete it and Ctrl+x to save file, then you can install

[2021-11-25 10:05] AlexC127 commented on #850
I have uninstalled macFUSE 4.2.1 and installed the latest 4.2.3.  However, still encounter the same problem.
Using below command to force proper unload.   When macFUSE is called next time, it is loaded.

$sudo kextunload -b io.macfuse.filesystems.macfuse

This happen after the Monterey upgrade,

[2021-11-25 13:38] vespasian99 opened #859 "macfuse-4.2.3.sha256 signed with expired key"
% gpg --verify macfuse-4.2.3.sha256.sig
gpg: assuming signed data in 'macfuse-4.2.3.sha256'
gpg: Signature made Tue 16 Nov 12:50:54 2021 GMT
gpg:                using RSA key 135F164B411BAA1F4A4BCD37617A3461802608A1
gpg: Good signature from "Benjamin Fleischer <fleiben@gmail.com>" [expired]
gpg: Note: This key has expired!
Primary key fingerprint: 0093 B21E F45D 6352 84F6  A147 53C9 18C1 A281 8875

[2021-11-25 14:42] bfleischer commented on #859
You need to update the key from a key server (e.g. https://keys.openpgp.org/search?q=fleiben%40gmail.com) or download it from https://osxfuse.github.io/static/53C918C1A2818875.asc.

[2021-11-25 14:42] #859 closed, assigned to bfleischer

[2021-11-26 04:03] minimondo opened #860 "Installing MacFuse on Apple silicon Monterey (macOS 12.0.1) breaks Apple Pay (security issue)"
I'm raising this more as a question: can anyone please confirm this on their M1 w/ Monterey?

MacFuse causes no issues on my Intel Monterey; Apple Pay works fine.

On my M1 Monterey, MacFuse also works perfectly, but trying to open the "Apple Pay" pane in sys prefs gives a security error. The op sys doesn't appear to trust the installed filesystem/KEXT. Please see screen dump.

FYI, the same issue

[2021-11-26 04:31] minimondo commented on #860
I was sent the following link regarding the tightened security on the M1 platform, and how some KEXTs can break Apple Pay:

https://support.apple.com/en-au/guide/security/sec8e454101b/web
![M1-Mac-Extensions-ApplePay](https://user-images.githubusercontent.com/139458/143526979-1944c0c6-828a-4ff8-8951-9b0dee495bcc.jpg)

[2021-11-26 04:31] #860 closed, assigned to nobody

[2021-11-26 08:05] bfleischer commented on #860
I can confirm that Apple Pay works fine on macOS Monterey 12.0.1 on my Apple Silicon powered MacBook Pro with macFUSE being installed. It's definitely not macFUSE that is causing the issues for you.

Regarding the link you were sent by Apple:

All macFUSE releases since May 2019 have been reviewed and approved by Apple (Apple's notarization service). Installing macFUSE does not require you to disa

[2021-11-26 10:00] minimondo commented on #860
Thanks for your rapid and helpful response.

Yes, I can’t understand my issue, as I know that MacFuse is notarised. I know it’s not a MacFuse problem, but FYI this is what happens to me:

1) clean fresh 12.0.1 (re)install on 16” MBP (Apple silicon); Apple Pay works fine.
2) install MacFuse; permit the installation of the kext/driver; reboot.
3) FUSE fs works fine; Apple Pay gives a “security chang

[2021-11-26 11:00] minimondo commented on #860
Out of courtesy, I'm writing to detail my fix. The issue had nothing to do with MacFuse. I simply removed my 3 credit cards from the old Intel macbook (from which I migrated my account to the new M1 mac). Fixed. Thanks for your time; I hope this may help someone else.

[2021-11-27 19:23] AbeKh commented on #45
I was running into this issue; `pgrep` approach was able to quick fix. As others have pointed out, this could be a ssh server timeout issue. I was able to reproduce the issue when using `-o reconnect` without any `ServerAlive` inputs. After server timeout, which is 8 hours on my server, this issue is presented.

[This post at serverault](https://serverfault.com/a/639735) explained what I was facin

[2021-11-28 01:10] bfleischer commented on #858
Apple makes it increasingly harder to use file system kernel extensions. But at the same time, file system kernel extensions have not been deprecated and Apple has not yet introduced (or even announced) a new non-kernel API for developing full-featured file systems.  This is a major issue, but there is very little I can do about it.

From what I can tell, Monterey contains traces of a new non-kern

[2021-11-28 01:19] bfleischer commented on #857
This is a bug in Monterey. Version 4.2.3 contains a workaround for the issue. Make sure to use the latest version.

[2021-11-28 01:19] #857 closed, assigned to bfleischer

[2021-11-28 01:26] bfleischer commented on #853
Karabiner is known to cause issues with the Allow button.

Similar issues have been raised a few times before. Please see https://github.com/osxfuse/osxfuse/issues/654, https://github.com/osxfuse/osxfuse/issues/437, https://github.com/osxfuse/osxfuse/issues/667, https://github.com/osxfuse/osxfuse/issues/783

[2021-11-28 01:28] bfleischer commented on #847
For lack of a response, I'm closing the issue.

[2021-11-28 01:28] #847 closed, assigned to bfleischer

[2021-11-28 01:31] bfleischer commented on #798
Similar issues: https://github.com/osxfuse/osxfuse/issues/654, https://github.com/osxfuse/osxfuse/issues/437, https://github.com/osxfuse/osxfuse/issues/667, https://github.com/osxfuse/osxfuse/issues/783

[2021-11-28 04:46] Cubytus commented on #853
The problematic software-hardware you posted in #654 boils down to "practically anything can trigger this undesirable behaviour. I mean, although I don't, many people have Chrome. I also have VLC, Screen Sharing activated, and never thought of these as generating "input events", much less as a security risk.

I tried the solution pointed out in [https://github.com/osxfuse/osxfuse/issues/783#issuec

[2021-11-28 09:08] #853 closed, assigned to nobody

[2021-12-03 18:33] vesper8 commented on #818
This worked for me, but first I had to run `brew install --cask macfuse`

So all in all

[code]

[2021-12-03 22:52] harshitgindra commented on #791
When I run this command `sudo kextutil /Library/Filesystems/macFuse.fs/Contents/Extensions/11/macfuse.kext`, I'm facing the same error as this [post](https://github.com/osxfuse/osxfuse/issues/791#issuecomment-950142994). I'm running ` macFuse 4.2.1` on `MAC OSX Catalina`.

When you say upgrade, do you mean upgrade the `xcode` or something else?
Any other suggestions/thoughts

[2021-12-03 23:57] jrbgit commented on #791
I was able to resolve this issue without running any `kextutil` commands by either enabling the beta version or stepping back from the beta version of macFUSE in the System Preferences settings.

To be honest, since then I have moved my dev environment into Visual Studio Code and I no longer use macFUSE. I generally mount large projects and used to use macFUSE with Sublime. It generally worked fin

[2021-12-04 17:43] fridary commented on #828
For me nothing above helped, because of using M1 chip, but rebooting Mac with changing security settings on the startup disk solved problem https://support.apple.com/guide/mac-help/change-security-settings-startup-disk-a-mac-mchl768f7291/mac

[2021-12-04 20:53] BradKollmyer commented on #828
I can confirm the same thing fixed the issue on my M1 Mac. I got it set on an Intel Mac and did not have to do this step.

[2021-12-04 22:33] harshitgindra commented on #791
Thanks for sharing. Unfortunately I'm working on a project where mounting drive is a very important feature and right now, I can't get around without using MacFuse. For development, I completely agree with you on using VSCode all the way. One stop shop.

[2021-12-06 07:06] xxandy commented on #741
From the posts above, assembled this workaround that got me unstuck:

### kill the zombie, non-working one
sudo kextunload /Library/StagedExtensions/Library/Filesystems/macfuse.fs/Contents/Extensions/11/macfuse.kext

### confirm it is gone
kextstat | grep -i fuse

### bring a fresh one back to life
sudo kextload /Library/StagedExtensions/Library/Filesystems/macfuse.fs/Contents/Extensions/11/macfus

[2021-12-07 00:29] benlieb commented on #45
Same issues. At first I tried `sudo diskutil umount force relative/mount/path`. This didn't work. But `sudo diskutil umount force /full/mount/path` worked.

[2021-12-07 12:47] wookayin commented on #828
@BradKollmyer @fridary Did you use Reduced Security - Allow user management of kernel extensions from identified developers? I am still stuck (on a M1 mac) with the error 'System Extension Blocked' and 'New system extensions require a restart before they can b eused' for numberless of reboots.

[2021-12-07 13:55] gmuth commented on #828
With my M1 (2021) the procedure to allow the new system extension indeed needed a reboot. however I did not have to disable system security but merely just allow the new extension and than reboot.

[2021-12-09 01:08] jdmarlow0 commented on #828
I’m on Big Sur 11.5.2 with Intel Mac Mini struggling with this same exact issue with MacFUSE.  It works when SIP is disabled but as soon as SIP is reenabled it stops working and I am required to allow the extension again.  I get stuck in loops of allowing, rebooting, allowing, rebooting.  It never sticks.  I’m leaving SIP disabled so that I can work but would love to know another way if it exists.

[2021-12-09 15:38] Eifelziege opened #861 "kext load failed: -603946986 ... using VeraCrypt with OS12.0.1"
OS 12.0.1
Macfuse 4.2.3
VeraCrypt 1.25.4
Any idea, what needs to be done to Mount a VeraCrypt Volume which was generated by VeraCrypt ?
I do get this error message even after installing different versions of both tools.
I also tried to install with csrutil disable  ...
<img width="258" alt="Bildschirmfoto 2021-12-09 um 16 25 20" src="https://user-images.githubusercontent.com/95870408/145426646-c47

[2021-12-10 18:44] xerxes24mg opened #862 "MacFuse pane in preferences on mac m1"
In the System Preferences on my macbookpro m1 there is no macFUSE pane? On my Intel macbook I can see it. Is that normal?
Thanks for help.

[2021-12-10 19:56] RamRS opened #863 "sshfs stopped working on Monterey"
I upgraded recently to macOS Monterey and macFuse 4.2.3. `sshfs` stopped working at that point, with the error that it was unable to locate a `libosxfuse` dylib:

[code]

I sym-linked libfuse as libosxfuse like so:

[code]

And now the output is:

[code]

The Fuse version is obviously wrong. **Should I sym-linking a different dylib**?

When I try mounting something, I see the following error:

[co

[2021-12-10 20:06] RamRS commented on #863
Looks like I was one step from solving this:

The symlink `/usr/local/lib/libosxfuse_i64.2.dylib` was supposed to point to `/usr/local/lib/libfuse.dylib`, which is itself a symlink to `/usr/local/lib/libfuse.2.dylib`. I re-ran the `kextutil ... /12/macfuse.kext` just in case, and things fell into place.

[2021-12-10 20:06] #863 closed, assigned to nobody

[2021-12-11 10:00] zhylmzr commented on #759
I write a script for automount only need to disable SIP
https://gist.github.com/zhylmzr/8d83b7171ea9ec2936c0f14c69e56208

[2021-12-11 22:20] Teivaz opened #864 "Cannot uninstall OSXFUSE 2.8.3"
I have M1 MacBook Pro with MacOS 12.0.1 Monterey. The OSXFUSE migrated along with all stuff from mu old mac but the extension seems to be completely outdated and none of the buttons work. I get "Unable to contact update server" message for both.
When pressing the "Remove OSXFUSE" button the progress indicator appears with text "Removing OSXFUSE..." but the next moment it changes to "Unable to cont

[2021-12-13 10:08] paulfreeman commented on #849
Seeing the same issue (in my case with pCloud).  Creates a sense of mistrust in a filesystem out of proportion to the symptom. Is this a sign of a larger underlying issue?

[2021-12-13 11:02] bfleischer commented on #864
Version 2.8.3 is not compatible with Monterey. The easiest way to remove it, is to download the installer disk image for an up to date version from https://osxfuse.github.io, open it and run the uninstaller in the Extras directory on the disk image. This should remove the incompatible version from your Mac.

[2021-12-15 04:59] adityagi02 commented on #862
I was having the same question, and I can say it's normal in m1s. many other preference panes are also not present in mine System Preferences that were there in intel's.

[2021-12-15 09:28] stupalov opened #865 "Input/output error on write or copy operations (macOS Monterey 12.1 on M1)."
When safe or copy any _not zero size_ files get error "Input/output error"
I mean I can create zero size files `touch sassada`, but when try to change it and save I get such error.
(Same error when trying to copy file `cp from to_sshfs` - file will created with zero size and broke with error.

When I mounted same location with debug option I found this (part of output, see flush and lock operation

[2021-12-16 06:56] stupalov commented on #865
`$ sshfs -o volname=observium <sshhost>:/opt/observium /Users/mike/observium`
[code]

[2021-12-16 14:49] stupalov commented on #865
Sorry, I'm idiot :)
Lost space on remote host.

[2021-12-16 14:49] #865 closed, assigned to nobody

[2021-12-19 22:14] bfleischer commented on #862
After installing an up-to-date version of macFUSE (that supports M1 Macs) you will see the macFUSE preference pane. It's exactly the same on Intel machines.

Which version of macFUSE did you install?

[2021-12-19 22:15] #864 closed, assigned to bfleischer

[2021-12-19 22:20] bfleischer commented on #861
This means the macFUSE kernel extension could not be loaded. Directly after you see this error message go to System Preferences > Security & Privacy (General tab) and check if there is an "Allow" button to allow loading system software from Benjamin Fleischer. Make sure to press the button.

If you are on an M1 Mac you might need to enable support for third-party kernel extension from the recovery

[2021-12-20 05:44] rryan commented on #668
Fresh install of macFUSE 4.2.3 and SSHFS 2.5.0 today on macOS 11.6.1:
[code]

I hit ^C at the password prompt and it triggered this hang. Had to hard reboot.

**Edit:** Hm, it appears I had version 3.11.2 of osxfuse from Homebrew installed. Removed and the `--version` output is the same.

[2021-12-20 08:21] slackero opened #866 "Link to the macFUSE website broken in the system pane on Monterey 12.1"
No real problem, but the link to the **macFUSE website** isn't working
<img width="875" alt="Bildschirmfoto 2021-12-20 um 11 09 32" src="https://user-images.githubusercontent.com/15139/146734943-5323cb20-f96a-42ac-b47f-d608306e06e9.png">
<img width="409" alt="Bildschirmfoto 2021-12-20 um 11 09 26" src="https://user-images.githubusercontent.com/15139/146734948-1ca3321f-feaa-4e97-8863-8881647a8698.p

[2021-12-20 08:46] Eifelziege commented on #861
Unfortunately, this does not work – this is what I already tried (I am not on M1).
I was expecting this message during installation – but even there, it did not appear.
Any other idea ?

Von: Benjamin Fleischer ***@***.***>
Datum: Sonntag, 19. Dezember 2021 um 23:21
An: osxfuse/osxfuse ***@***.***>
Cc: Eifelziege ***@***.***>, Author ***@***.***>
Betreff: Re: [osxfuse/osxfuse] kext load failed: -6

[2021-12-20 11:00] xerxes24mg commented on #862
I‘ve installed version 4.2.3 and I can‘t see the preference pane.

[2021-12-20 13:14] bfleischer commented on #862
@xerxes24mg Did you try restarting your mac after installing macFUSE?

[2021-12-20 14:42] bfleischer commented on #866
Works fine for me. Are you by any chance using a different browser than Safari?

[2021-12-20 14:46] slackero commented on #866
Sure, Safari is completely unused here – it's not the default browser. And as I wrote, it works now – opening my default browser.

[2021-12-20 14:53] #866 closed, assigned to bfleischer

[2021-12-21 20:43] xerxes24mg commented on #862
@bfleischer Yes, I did, but couldn't never see the pane.

[2021-12-22 06:37] nvmnghia opened #867 "User mapping for triple boot?"
After running `ntfsusermap` on macOS, I can't write to my NTFS drive in Linux anymore. For example

- `touch new_file` does create `new_file`, but it complains `setting times of 'new_file': Permission denied`.
- `rm new_file` complains `remove write-protected regular empty file 'new_file'`. `rm -f` works.

I think this `ntfsusermap` is the problem, I've never touched the permission on Windows.

[2021-12-25 13:45] EvanHKatz opened #868 "Confirmed macFUSE Bug -- Causes Consistent Crashes in Time Machine (Apple macOS)"
I have confirmed, reproduced and reported to Apple one or two (see below) bugs in macFUSE.

Specifically, after installing on December 20, 2021 the then newly released and updated version of macFuse, Time Machine would cause the Mac to crash and reboot on any and all Macs on which the new version of macFUSE had been installed.

After my extensive testing, and my multiple conversations with an Appl

[2021-12-25 21:57] bfleischer commented on #868
Hi Evan,

macFUSE loads the correct version of the kernel extension on macOS 12. There is just one kernel extension for macOS 11 and macOS 12. The "folder" named 12 in your last screenshot is just a symlink to the folder 11. In the lower left corner of the folder icon you can see a little arrow that indicates that this is a symlink and not a real folder. This means `/Library/Filesystems/macfuse.fs

[2021-12-26 09:32] erdengk commented on #862
@xerxes24mg   I have a similar problem. I installed macfuse 4.2.4 .  The pane can only be seen in the dock, but it cannot be displayed on the screen normally.

[2021-12-27 17:36] joshcarter06 commented on #828
I tried to install 4.2.4 on a brand new MacBook Pro (Monterey 12.0.1, Apple M1 Max) and I got the same System Extension Blocked error. I was prompted to reduce the security settings in Recovery Mode, but I declined.

[2021-12-27 17:50] jdmarlow0 commented on #828
My experience so far has been that you cannot successfully install and use MacFUSE on Big Sur and later without disabling SIP and keeping it disabled permanently.  I wish there was another way around this but I have not come across one.

[2021-12-27 18:32] joshcarter06 commented on #828
Yikes. I'm trying to use macFUSE to install VeraCrypt to make some files even more secure, so I'm not willing to disable SIP. Thanks for the update @jdmarlow0

[2021-12-28 01:01] bfleischer commented on #828
@jdmarlow0 Disabling System Integrity Protection is **NOT** required to use macFUSE. Please stop spreading false information. Earlier releases of macOS 11 contained several bugs that prevented third-party kernel extensions from loading. Apple addressed many of these issues in 11.3. All macFUSE releases are signed and notarized. I test every release and they all load fine for me on M1 and Intel Mac

[2021-12-28 01:24] jdmarlow0 commented on #828
@bfleischer thanks for confirming that MacFUSE does work with SIP enabled.  I’m just reporting anecdotal evidence from my Mac.  It could be something specific to my system but I cannot afford to do a fresh OS install to test that theory.

[2021-12-28 02:53] joshcarter06 commented on #828
@bfleischer Thank you for the clarification! I understand Apple's walled garden. Enabling 3rd Party extensions is a big difference from disabling SIP. Thanks for your good work!

[2021-12-28 14:21] niklasmato commented on #862
Did you load the kernel extension?

[2021-12-29 19:50] StephanieSunshine commented on #856
I can confirm this. I installed for the first time today on a new Apple M1 MacOS 12.1 Macfuse 4.2.4 and SSHFS 2.5.0.  When I try to connect to a machine it just hangs, I can't control+c the process, manually killing the process with kill doesn't fully kill it, and when I went to reboot the machine hung at the end and forced me to hard reset it.  I have yet to have a problem with this machine even

[2021-12-30 12:55] Dodelo commented on #654
I would like to add that I encountered this issue on macOS Mojave 10.14.6, and that it was probably triggered by incorrect flags set on the folder /private/var/db/KernelExtensionManagement/Staging, some details are in this thread:
https://github.com/pqrs-org/Karabiner-Elements/issues/2373#issuecomment-745646992
What fixed it for me was moving that folder to the Trash; since the user can't empty th

[2022-01-07 02:52] cdevers-es commented on #828
Hi, @bfleischer —

We’re getting some reports that the FUSE software (v4.2.3) is not installing & loading properly on macOS 11.6.2 Big Sur, on Intel Macs that had apparently been working fine with 11.6.0, and inconsistent reports as to whether turning SIP off is helping. (Turning off SIP is of course the wrong approach, but as a short-term workaround, it has been considered, but apparently turning

[2022-01-07 08:23] gmuth commented on #828
Hi all,
When I ran into the same issue (though on another system version of macos) I found varies answers which did not sound logic to me. The difficult part of this issue is: How can someone reproduce it?

* hypothesis:

1. Fresh installs
Installing macfuse works fine when FIRST installed on any(?) compatible version of macOS.

2. Update installs
When upgrading macOS it is likely that you also up

[2022-01-07 17:46] bfleischer commented on #828
I have never been able to reproduce these issues on any of my Macs. That being said, possible reasons on macOS 11 and macOS 12 are:

* `/var/db/SystemPolicyConfiguration/KextPolicy` is damaged
* `/var/db/SystemPolicyConfiguration/KextPolicy` has the wrong owner or mode
* `/var/db/SystemPolicyConfiguration/KextPolicy` is missing the restricted flag
* The kernel extension staging directory `/Library

[2022-01-07 18:03] cdevers-es commented on #828
Thank you! I have relayed this to our tech support team, and we’ll dig there on computers where the problem has been reproduced.

We tried reproducing the problem on an in-house macOS 11.6.2 VM today, and could _not_ reproduce the problem, so we agree with you that it “should” work, and it’s a matter of identifying what’s different about the Macs that won't load the software at runtime.

I wasn’t

[2022-01-07 18:08] bfleischer commented on #828
The bundle ID changed in version 4.0.0. But it is highly unlikely for this to cause kernel extension loading issues.

What do you mean by "the allowed flags changed"?

If yes - you could document "before updating macOS I recommend to uninstall macos fuse first"

What exactly do you mean by "sip permissions"?

macOS handles user consent. The only way to reset this would be booting into the recovery

[2022-01-08 16:06] xerxes24mg commented on #862
@niklasmato I did load the kernel extension, otherwise I would not be able to use the app that is dependent on the extension. But fortunately the app works. It's just the pref pane that has disappeared.

[2022-01-08 17:23] nean-0 commented on #828
I had this issue and I tried many of of the prop

[2022-01-08 17:33] nean-0 commented on #828
Just wanted to add how it was resolved for me.

I upgraded to Monterey from Catalina (10.15.7  -> 12.1) a week ago. I had this problem that macfuse wouldn't load even if I allowed it from the "Security and Privacy" dialog. I tried many of the proposals I found googling around, but no. In the end it got resolved after I had disabled SIP in recovery mode and then allowed it in the "Security and Priv

[2022-01-08 18:40] bfleischer commented on #828
While I agree that the great majority of users simply upgrade to newer versions of macOS, a clean install is the only clearly defined state I can use for comparison. The facts that there don't seem to be any issues on clean installs of macOS and macFUSE working just fine for the great majority of users who upgraded macOS, points to this not being a general issue. It would be interesting to find ou

[2022-01-08 21:06] abarraza-grubhub commented on #828
I have the same issue.
Attached screenshots.

My computer is running Monterey v12.1 on an Apple M1 Pro.

I first installed macFUSE using brew and my goal is to use it with s3fs.
I ran the following commands on a terminal with Rosetta enabled.

`brew install macfuse`

`brew install gromgit/fuse/s3fs-mac`

I have installed, uninstalled, and reinstalled, I have done several resets, different combinat

[2022-01-09 00:57] bfleischer commented on #828
@abarraza-grubhub macOS prompts you to enable loading third-party kernel extensions in the recovery environment before you can use third-party kernel extensions like macFUSE. There is no way around this, if you want to use third-party kernel extensions on Apple Silicon Macs. This step is not required on Intel Macs. It's not very intuitive, but that's the way Apple designed the process. Enabling su

[2022-01-09 02:57] hukevinxiaochen commented on #828
Worked for me on macOS 12.1 and macFUSE 4.2.4 on an Intel-based mac from 2017 recently upgraded to 12.1 without a clean install. Just to be clear, SIP is not disabled permanently. I did disable it temporarily to install macFUSE and work through steps 11-14. I am now able to use Cryptomator (which depends on macFUSE) without issue.

Reading past @artmg 's post, it looks like disabling SIP, whether

[2022-01-09 03:02] gavineadie commented on #828
For what it’s worth, macFUSE is not the only software that has to deal with this.  Rogue Amoeba’s sound applications also need to install such software to give deeper control over managing access the Mac’s sound processing internals.  There’s may be other software that hits this impediment .. certainly macFUSE is in good company.

[2022-01-10 14:27] dieideealisten opened #869 "VeraCrypt does not run on MacOS 12.0.1.de"
We use Veracrypt and MacFuse to encrypt USB-Volumes. After updating to 12.0 Veracypt/MacFuse doesn't work.

[2022-01-10 16:08] bfleischer commented on #869
macFUSE 4.2.4 supports macOS 12. Please make sure to install the latest updates for macOS 12 and VeryCrypt. If the issue persists, please raise it with the VeryCrypt team.

[2022-01-10 16:44] dieideealisten commented on #869
yep ... but Monterey seems to block MacFuse ... Veracrypt runs fine

[2022-01-10 19:03] bfleischer commented on #869
You need to follow the instructions displayed by macFUSE and macOS to allow loading third-party kernel extensions (if you are on an Apple Silicon Mac) and more specifically the macFUSE kernel extension (Intel and Apple Silicon). Where exactly are you stuck?

[2022-01-10 19:05] bfleischer commented on #868
Are there any news regarding the panic logs?

[2022-01-10 19:09] bfleischer commented on #867
Please raise this issue with the NTFS-3G project. macFUSE and NTFS-3G are two different projects and judging from your description this sounds more like an NTFS issue than a macFUSE issue.

[2022-01-10 19:09] #867 closed, assigned to bfleischer

[2022-01-10 19:11] dieideealisten commented on #869
Unfortunately the alerts after the installing routine were quit. We can not get into the security settings again ... :(
(Intel-Macbook//MacOS12.0.1). Unfortunately, reinstalling MacFuse did not bring up any kernel security setting windows.

[2022-01-10 19:15] bfleischer commented on #869
You should see an alert every time you try to load the macFUSE kernel extension (i.e. every time you try to mount a VeraCrypt volume) until you allow loading the kernel extension. Try to mount your VeraCrypt volume. When it fails, open the Security and Privacy preference pane and switch to the General tab. There should be an "Allow" button.

[2022-01-10 19:37] dieideealisten commented on #869
nope ... there's no allow-button

[2022-01-10 20:32] bfleischer commented on #869
Then it's most likely not a macFUSE issue. You should see an "Allow" button in case the macFUSE kernel extension cannot be loaded.

[2022-01-10 21:51] jnchaba commented on #856
Same issue on my machine. Hard reset it the _only_ way to resolve this.

[2022-01-11 03:47] abarraza-grubhub commented on #828
@bfleischer Thank you for the feedback. Sorry for the confusion.
I restarted my computer, entered recovery mode and enabled the permissions in the attached picture. This seems to have solved my issue.
I'm sorry there is no way around this. It feels wrong to leave the computer with 'Reduced Security'. However, if I set my computer back to 'Full Security' macFUSE doesn't work anymore.
Thank you for

[2022-01-11 08:44] bfleischer commented on #828
Enabling "Allow remote management of kernel extension and automatic software updates" is not required for using macFUSE. Only the first option "Allow user management ..." is required.

* The "Reduced Security" mode on Apple Silicon Macs is the default for Intel Macs. There is no "Full Security" mode on Intel Macs. This means an Apple Silicon Mac will not be less secure than any Intel Mac ever ship

[2022-01-11 23:44] abarraza-grubhub commented on #828
Thanks @bfleischer, your comment is very informative, helpful and reassuring 👍

[2022-01-12 15:15] DUOLabs333 opened #870 "Use UNIX-style symlinks, not MacOS aliases"
When running on MacOS, fuse-ext2 uses aliases, not symlinks. Many programs (like rsync), can't handle this, and it breaks compatibility on other systems. So, you should replace the use of aliases with symlinks. I'm not sure this is because of how `osxfuse` presents symlinks, or with how `fuse-ext2` works.

[2022-01-12 20:44] bfleischer commented on #870
macFUSE support creating symlinks. If you are using Finder (or other high level macOS tools) to create links you will end up with a macOS alias, just like on any other macOS file system. If you are using `ln -s` you end up with a standard unix symlink.

[2022-01-12 21:32] DUOLabs333 commented on #870
So, is the default symlinks?

[2022-01-12 21:38] bfleischer commented on #870
It depends on how you create the link. Finder creates aliases, not symlinks. You can create symlinks using low-level tools like `ln -s`.

[2022-01-12 21:40] DUOLabs333 commented on #870
I use `fuse-ext2`, so I'm assuming that it should be symlinks.

[2022-01-12 21:46] bfleischer commented on #870
Finder creates aliases not symlinks. If you want that to change, you need to raise the issue with Apple.

[2022-01-12 21:46] #870 closed, assigned to bfleischer

[2022-01-12 21:50] DUOLabs333 commented on #870
But Finder has nothing to do with this -- it doesn't mount, unless it has deeper hooks into the kernel than I thought?

[2022-01-12 23:18] bfleischer commented on #870
It does not matter who (or which process) mounts the volume. All that matters is how the link is created on the volume. If the application creating the link (e.g. Finder) creates an alias then there will be an alias on your ext2 volume. If the application creates a symlink, then there will be symlink on your volume. It all depends on the application that creates the link. There is nothing macFUSE

[2022-01-12 23:33] DUOLabs333 commented on #870
I see. But why is Finder creating an alias?

[2022-01-12 23:36] cdevers-es commented on #870
If I may — the application decides whether to create a file, an alias, or a symlink.

Finder on Mac OS X / OSX / macOS has _never_ supported creating Unix symlinks. Apple has had over twenty years to implement symlink support in Finder, but are still using aliases. They must have their reasons.

As @bfleischer says, if you can create a symlink with `ln -s …`, then things are working as expected.

[2022-01-13 00:05] DUOLabs333 commented on #870
Wait -- I'm mounting a disk image, how does Finder play in this?

[2022-01-13 00:18] cdevers-es commented on #870
Please state the steps you’re using the reproduce the problem you’re asking about. That should clarify things.

[2022-01-13 00:30] DUOLabs333 commented on #870
I attach my disk image with `hdiutil attach -imagekey diskimage-class=CRawDiskImage -nomount $DISKIMAGE`
I then mount it with `sudo fuse-ext2 -o ro`
I then rsync the directory with `rsync -avh --no-compress --no-whole-file --inplace --progress`

[2022-01-13 11:11] samit4me commented on #856
Same issue here with m1 and MacOS 12.01 (hangs until a timeout).
It seems fine on intel mac.

[2022-01-13 13:34] samit4me commented on #856
Not sure if this will help anyone, but `sshfs` was hanging on my m1 mac, but is now working 🎉

Unsure what fixed the issue but I did the following:

- Removed macFUSE (installed from https://osxfuse.github.io/)
- Restart
- Updated macOS from `12.0.1` to `12.1`
- Install macFUSE via brew (e.g. `brew install --cask macfuse`)
- Restart
- Then `sshfs` working

Sorry if that doesn't resolve your issue,

[2022-01-13 15:33] Jaxon10117 opened #871 "I installed MacFUSE on macos12 but I get a problem trying to run aa command"
I installed the extensions everything but when I run in terminal "brew install ext4fuse" it returns to me "Error: ext4fuse has been disabled because it requires closed-source macFUSE!" any help?

[2022-01-13 19:07] DUOLabs333 commented on #870
It seems that I was mistaken -- it does use symlinks, it just that Finder doesn't show them properly (using `zsh` shows the symbolic links). Sorry for wasting your time.

[2022-01-13 21:12] bfleischer commented on #871
This is a Homebrew issue. They disabled the macFUSE formula due to macFUSE not being open-source. This means all formulas depending on macFUSE have been disabled as well. Please raise this issue with the Homebrew team. There is nothing I can do about it from the macFUSE end.

It might be worth checking out https://github.com/gromgit/homebrew-fuse.

[2022-01-13 21:12] #871 closed, assigned to bfleischer

[2022-01-13 21:16] bfleischer commented on #868
I'm closing the ticket for lack of feedback.

[2022-01-13 21:16] #868 closed, assigned to bfleischer

[2022-01-20 17:20] kleajmp commented on #871
I understand its a brew issue, but I guess the only solution is to compile it with the make command? But how? Is there an exact tutorial for non experienced compilers?

[2022-01-22 10:43] emmajarv commented on #828
Just wanted to inform that my problem was solved after upgrade to Monterey and reinstallation of macFUSE.

[2022-01-23 17:11] maxiller commented on #855
Did you do anything to make it work? Including reboot?
I can't even remove the mount point dir...

UPD (after a minute): I figured it out myself — managed to reset the mount point by unmounting it with diskutil.
`diskutil unmount /path/to/mount/point`

[2022-01-23 20:20] WGroleau commented on #855
Been a long time, so I've done  lot of things since.  What I have now is a script that cron calls every four minutes.  This script looks in one of the remote directories.  An error would indicates it is not mounted.  In that case, an unmount command is issued to get past the weird state it gets in after a timeout.  If it's already fully unmounted, the error message doesn't hurt.  Either way, it is

[2022-01-24 02:35] connorbrand commented on #828
Thank you @bfleischer, this is super helpful! One thing to note, this "Reduced Security" mode breaks Apple Pay. I'm getting this error message in System Preferences: "Card is unavailable to use with Apple Pay. Apple Pay has been disabled because the security settings of this Mac were modified."

[2022-01-24 03:31] danijar commented on #45
When my MacBook has sshfs running and goes to sleep for too long, after resume all internet connections will time out (e.g. when trying to access websites in the browser or even just `ping google.com` on the command line).

The following works for me (running the same command twice):

[code]

[2022-01-24 08:21] maxiller commented on #855
Thanks for that. Let's take the use case when mounts are made with some tool such as rclone.
I still wouldn't call that a bug, it is rather the way it happens when rclone (either fg or daemonized) crashes.
I think the workaround with unmounting works pretty well if the one knows what to check against _device is not configured_ error. Though, the error being thrown is not actual rclone's error — it

[2022-01-24 08:28] bfleischer commented on #828
@connorbrand I'm using Apple Pay on an M1 Mac in Reduced Security mode. It's definitely possible to use Apple Pay and macFUSE at the same time. This issue was raised before in https://github.com/osxfuse/osxfuse/issues/860.

[2022-01-25 11:35] emmarrem opened #872 "MacFuse NTFS-3g doesn't work on Mac OS 12.1"
After successful installation of the version 4.2.3 and upon using the command :
sudo mkdir /Volumes/NTFS
sudo /usr/local/bin/ntfs-3g /dev/disk1s1 /Volumes/NTFS -o local -o allow_other -o auto_xattr -o auto_cache

I get the following error: sudo: /usr/local/bin/ntfs-3g: command not found

This issue was not prevalent on any previous versions of Mac OS

[2022-01-25 11:37] bfleischer commented on #872
Did you install NTFS-3G? Looks like the `ntfs-3g` binary does not exist in `/usr/local/bin/`.

[2022-01-25 11:51] emmarrem commented on #872
Yes I have installed the latest version of Macfuse 4.2.4.

Usually in the last iterations of the MacOs and Macfuse, after succesful install and then a restart, would be able to use the mount command.

however now it shows that ntfs-3g command is not found.

Do i have to do something different?

Thank you

[2022-01-25 11:55] bfleischer commented on #872
macFUSE and NTFS-3G are two separate projects. NTFS-3G is based on macFUSE and needs to be installed separately. Check out https://github.com/osxfuse/osxfuse/wiki/NTFS-3G.

[2022-01-25 11:55] #872 closed, assigned to bfleischer

[2022-01-25 21:10] chasegiunta commented on #856
Wow, uninstalling and reinstalling via `brew install --cask macfuse` surprisingly works for me too!

[2022-01-26 18:24] GregDunn1953 commented on #828
I'm using VeraCrypt (latest) and MacFUSE 4.2.4 on OS 11.6.1, and MacFUSE worked perfectly until the 11.6.1 update (was formerly on 11.5).  I tried the complete procedure that @artmg listed above, and (1) after seeing the kext load error dialog, I do not get the approval option in Preferences, (2) FUSE works fine with SIP disabled, (3) as soon as I re-enable SIP FUSE fails to load again.

I went th

[2022-01-26 18:30] Pysis868 commented on #771
This one? https://github.com/osxfuse/osxfuse/blob/releases/LICENSE.txt

Must be a comprehensive one where only some cases may apply, but could  apply in the future and is easy to use in whole without harm.

[2022-01-27 00:25] WGroleau commented on #771
I'm not going to download another installer just to compare.  But I do recall that the license it showed to me was NOT closed source.

[2022-01-27 20:50] bfleischer commented on #771
@Pysis868 That's the license that is displayed by the installer

@WGroleau Only parts of the macFUSE code base are closed source. The license does not make a statement regarding the availability of the complete code base. It's a standard BSD license with an additional clause that disallows some cases of commercial use without specific prior written permission.

[2022-01-28 10:16] yannpub opened #873 "MacOS 12.3"
I've read here and there that kernel extensions for remote files will mostly be deprecated into the next version of MacOS 12.3
Dropbox, Onedrive and most probably other will be impacted. Will MacFuse continue to work with MacOS12.3, as it also use kernel extensions ?

[2022-01-28 10:32] bfleischer commented on #873
Apple is deprecating / phasing out the private com.apple.fileutils API that is (or was) used by Microsoft OneDrive and Dropbox. To my knowledge this is not about kernel extensions. OneDrive and Dropbox do not ship kernel extensions. The com.apple.fileutils API seems to predate the File Provider API and was made available exclusively to Microsoft and Dropbox. This means, only OneDrive and Dropbox w

[2022-01-28 10:32] #873 closed, assigned to bfleischer

[2022-01-28 13:34] torarnv commented on #821
Will macFUSE be affected by the upcoming changes/restrictions on kernel extensions in macOS 12.3?

[2022-01-28 14:03] bfleischer commented on #821
@torarnv Please see https://github.com/osxfuse/osxfuse/issues/873

[2022-01-29 20:02] HealsCodes commented on #849
Same issue here - latest MacFuse 4.2.4 on an M1 MacBook Air with macOS 12.1

It somehow feels like an issue with how macFuse handles drive icons.
I'm also running Cloud Mounter (as is visible in the screenshot) and it has no such issue adding it's two cloud volumes with proper icons.

I also noted that MacFuse Volumes generally ignore the normal sort order set for finder and appear at the top of t

[2022-01-31 10:58] DaveFlowberries commented on #851
I have the same issue when trying to mount an existing volume or create a new volume:

"mount_macfuse: the macFUSE kernel extension is not loaded"

Tried with Veracrypt 1.25.7 and 1.24 versions, same issue.
System is:
M1 Max MacBook Pro
OSX 12.1 (21C52)

Only workaround I found is to run this every time I need to mount or create a volume:

sudo kextunload -b io.macfuse.filesystems.macfuse

That wi

[2022-01-31 10:59] DaveFlowberries commented on #850
I have the same issue when trying to mount an existing volume or create a new volume:

"mount_macfuse: the macFUSE kernel extension is not loaded"

Tried with Veracrypt 1.25.7 and 1.24 versions, same issue.
System is:
M1 Max MacBook Pro
OSX 12.1 (21C52)

Only workaround I found is to run this every time I need to mount or create a volume:

sudo kextunload -b io.macfuse.filesystems.macfuse

That wi

[2022-01-31 11:51] DaveFlowberries commented on #850
Updating OSX to 12.2 (21D49) solved the issue for me.

EDIT: Never mind, still have the issue after a day of using it without issues....

[2022-01-31 11:52] DaveFlowberries commented on #851
Updating OSX to 12.2 (21D49) solved the issue for me.

EDIT: Never mind, still have the issue after a day of using it without issues....

[2022-02-01 09:02] akodocumaster commented on #856
I tried removing macFuse, restarting and installing macFuse via brew (brew install --cask macfuse) and then restarting. sshfs crashes when I try to mount a volume.

Were you actually able to mount volumes @chasegiunta and @samit4me ?

System: MacBook Pro 13-inch, M1, 2020, macOs 12.2

[2022-02-01 09:25] bfleischer commented on #856
brew installs the same macFUSE releases you can download from GitHub or the macFUSE website. There should not be any difference.

[2022-02-01 09:28] samit4me commented on #856
So for me and my work colleagues, the issue seemed to disappear after updating to macOS 12.1.

After updating macOS, I actually uninstalled macFuse/SSHFS, rebooted and then installed them both again from https://osxfuse.github.io/ and everything seems to be working.

Sometimes I have issues if the remote host goes offline. To fix it, I have to reboot, then umount the drives, then reboot and re mou

[2022-02-01 09:34] akodocumaster commented on #856
Sorry about deleting the original message, didn't expect to get answers this quick :) I got it working but everything hangs and the only solution seems to be a reboot if it can't reach the host for some reason.

[2022-02-01 09:42] samit4me commented on #856
Yep same here, people with Intel Mac's don't seem to have the same issue.

[2022-02-01 22:26] cdevers-es commented on #828
Following up on [my query from last month](https://github.com/osxfuse/osxfuse/issues/828#issuecomment-1007099303), the customer who reported the FUSE kernel extension loading problem on “all” of their macOS 11.6.2 Big Sur workstations has finally gotten back to us, indicating that the problem is now resolved for the Macs he manages.

Earlier, we had the customer do this, which he claims was unsucc

[2022-02-01 22:40] ghost commented on #828
I would assume that those steps lead to rebuilding file kextallow, which includes bundle-ids:

[code]

[2022-02-02 00:35] GregDunn1953 commented on #828
Just tried @cdevers-es solution.  No change.  Then I tried it again, but uninstalled MacFUSE instead of VeraCrypt. After re-enabling SIP I installed MacFUSE again, and when I tried to load it I finally(!) got the "allow" option in Preferences.  I hit the button, followed instructions to reboot again, and... nope.  MacFUSE still fails to load and the "allow" button is gone again.

I'm going to try

[2022-02-03 13:09] Martin-Pitt commented on #828
I was referring to this github issue thread during research for a similar issue in other software (Egnyte). I don't know if MacFUSE has a similar problem but the symptoms were identical to mine. I found another thread which helped resolve the issue by removing kext for other macOS versions and only keeping the latest for mine. You can check via System Information -> Extensions.

https://boxcryptor

[2022-02-03 19:33] GregDunn1953 commented on #828
I checked, and there is only one copy of MacFUSE loaded, and it's the correct version. (Obviously I have SIP disabled, or it wouldn't be loading at all)

[2022-02-04 13:03] stefancars commented on #860
Hi. I'm not sure if Mac OS 12.2 is starting to cause issues, after upgrade to 12.2 my Apple Pay is now disabled.  I tried reinstalling the mac and ONLY thing i did was "lower" security settings and installed MacFUSE and Apple Pay is now disabled..

[2022-02-04 13:53] stefancars commented on #860
And now, after just idling 1 hour and re-login to Apple ID, it works.... weird.

[2022-02-05 01:59] minimondo commented on #860
Hi Stefan,

Monterey 12.2 hasn’t fixed the original issue. This issue has nothing to do with OSXFuse; any time the boot security on M1 Monterey is lowered, the code involved has some kind of leak/corruption which may cause somewhat random errors (usually only on M1 Pro/Max silicon). Usually Apple Pay and/or Time Machine stop working. I’m glad that your system is working again, but in my experience

[2022-02-07 14:03] ilirium commented on #590
Dear @bfleischer, may be do you have a plan to establish a paid version of macFUSE?

For example, I am going to use https://restic.net/ to back my data and it is uses FUSE to mount backups. And I am ready to buy macFUSE if it makes possible for Restic to mount backups by macFUSE. I do not known what it will be a good price for macFUSE, but NTFS driver from Paragon costs $20/version and as I unders

[2022-02-07 17:04] prullens commented on #813
Right mouse click on mounted folder and click "Eject "folder_name""

[2022-02-07 19:03] jjstickel commented on #828
I am also getting "System Extension Blocked", but no "allow button" in system preferences. This is macOS 11.6.3 and macFUSE 4.2.4. It worked with SIP disabled, but not again after SIP is re-enabled.

[2022-02-08 13:29] artpaul opened #874 "macFUSE 4.2.4 hungs on Monterey in case of invalid params"
Hi,

I wonder to know if the 4.2.4 release on Monterey is still compatible with `https://github.com/osxfuse/fuse`?

I'm trying to build a custom filesystem on top of macFuse, but I have some issues with mounting. When I statically link my binary with code from `github.com/osxfuse/fuse` I have a hung while mounting my fs. But when I dynamically linking with a library from `/usr/local/lib/libfuse.2.

[2022-02-08 13:43] bfleischer commented on #874
macFUSE 4.2.4 includes https://github.com/osxfuse/fuse (commit 16861a640619e4c13415a76587f9bb0eac8df10b). You might be missing some build flags when building your static version of libfuse. macFUSE has never shipped a static version of libfuse and I don't think I ever tried building a static version of the library.

That being said, I don't recommend shipping your own version of libfuse. This will

[2022-02-08 21:28] artpaul commented on #874
Vielen Dank!

Actually, I found that the problem arises when the process terminates during initialization in case of some errors (ex. invalid params). Can be reproduced (at least at my machine) with the example binaries from `https://github.com/osxfuse/fuse`

Execution of
`./configure && make && ./example/hello <some-dir> -x`

will lead to
`fuse: unknown option '-x'`

and to the process stucked in

[2022-02-09 02:57] jjstickel commented on #828
It seems like I got it working! I basically did something similar to what is described here (in the first comment by CodeBlazer):
https://gist.github.com/fcoclavero/431123c7708e42de63eb75264a44de02

The step that I didn't see in the discussion here and was the key for me is (in Recovery mode):
`/usr/sbin/spctl kext-consent add 3T5GSNBU6W`
I tried all the other steps previously, and I was till gett

[2022-02-09 04:24] GregDunn1953 commented on #828
Still no bueno.  Added the developer ID without a problem (and yes, I checked to make sure it was the same value on my machine).

sudo kextload /Library/Filesystems/macfuse.fs/Contents/Extensions/11/macfuse.kext  worked if SIP was disabled, but not if it was enabled.  And if it failed (the error message asked for a reboot, which didn't help), so did the loading of MacFUSE requested by Veracrypt.

[2022-02-09 15:41] ysmolski commented on #623
Confirming this issue is still present. I use MacFuse 4.2.4 and gocrypts 2.2.1. Any clue where to start looking to fix it? I'm new to OSXFUSE.

[2022-02-09 17:41] Quorum75 commented on #785
People who are not familiar with Terminal, I will recommend to use:

https://github.com/nickzman/symboliclinker/releases

[2022-02-09 20:53] brokolyce commented on #828
Apple states on their support page (https://support.apple.com/en-ng/guide/security/sec7d92dc49f/web):
"developers are being strongly encouraged to adopt system extensions before kext support is removed from macOS for future Mac computers with Apple silicon."

You stated here (https://github.com/osxfuse/osxfuse/issues/828#issuecomment-1001817061):
"There is no other way to use third-party file syst

[2022-02-09 21:08] cdevers-es commented on #828
[brokolyce](https://github.com/brokolyce) —

This is a FAQ.

Yes, Apple is phasing out support for most “kernel” extensions, and wants developers to switch to “system” extensions.

No, this does not yet affect MacFUSE, because Apple has not yet provided suitable functionality that would enable implementation of filesystems as system extensions.

Yes, Apple is aware of this, and is working on it (o

[2022-02-10 02:58] rodfersou opened #875 "Introduce osx-ntfs-rw"
I come up with [this utility](https://github.com/rodfersou/osx-ntfs-rw) to automate the [remount procedure](https://github.com/osxfuse/osxfuse/wiki/NTFS-3G)

[2022-02-10 08:25] #875 closed, assigned to nobody

[2022-02-10 10:13] ceavestone opened #876 "4.2.4, Monterey 12.2 bugs"
Using Forklift 3.5.4 to mount a FTP disk, the operation has work brilliant until after the latest OS update.

The disk is mounted but saving operations is not commited through externat apps like VS CODE. Need to restart VS CODE and hopefully it works.

I can see that Forklift is not detecting the disk as mounted but it is still mounted on desktop.

[2022-02-10 10:23] kehoe commented on #876
Same here on Monterey 12.1

Volume is mounted as sftp but saving operations not possible. Bug in VS Code or macFUSE?

[2022-02-10 10:30] ceavestone commented on #876
When using Plain FTP , not TLS , it works better

[2022-02-10 14:25] octomike commented on #874
Can confirm. I'm trying to find a solution to improve transfer speeds beyond 128KB/s.. A call to `sshfs` with invalid options leaves the OS (12.2, osxfuse 4.2.4) in an unusable state. Can't `umount`, `diskutil unmount force` etc.. I have to hard reset the machine.

Probably duplicate of #793

[2022-02-15 16:50] troubleatmill opened #877 "Installing Macfuse on 10.14.6"
Trying to install Macfuse via the LucidLink app but the the message to allow Benjamin Fleischer never appears - I've re-installed a few times, rebooted after attempted to launch, installing MacFuse separately but getting no further…

BUT

When I look in System Report/Software/Extensions an older OSXFuse is listed but the Developer ID is Box.com (I have a Box account on this Mac:

<string>/Library/

[2022-02-22 04:32] alltom opened #878 "Kernel panic when reading many files sequentially in Go"
I have 735 text files in an [Upspin](https://upspin.io) directory, 408kB total. I can `grep foo *` and `cat *` without issue, but a simple Go loop like this kernel panics before it can finish, nearly every time, even if I sleep between reads:

[code]

[The kernel panic trace is here](https://drive.google.com/file/d/1xls-Lo_YKq5XoMBAn2srZrI-nstEBRWn/view). The headline is "panic(cpu 4 caller 0xffff

[2022-02-22 08:57] bfleischer commented on #878
Thanks for the bug report. Can you post an Intel panic log and the exact repro steps including the source code and an example directory of text files?

[2022-02-22 17:00] MrSuaz commented on #821
Hi,

How do we approve this at an MDM level? Seems the installation of macFUSE requires admin approval and a rebuild/restart before loading.

[2022-02-24 06:51] alltom commented on #878
I don't have an Intel Mac any more, but I've created a public Upspin directory that reproduces the error for me:

* cd into tom@alltom.com/macfuseissue878
* `go run main.go`

There are 735 small text files with identical contents numbered 1 through 735. There's an Access file that makes the directory public. Then there's main.go with the contents:

[code]

[2022-02-24 13:11] TK5-Tim opened #879 "Whitelisting of the MacFuse System Extension is not working"
Hello everyone,

We are looking to distribute MacFuse to our Users so they can use VeraCrypt properly on their Mac devices. To be able to use MacFuse the system extension has to be approved. Using a MDM profile with the Team Identifier and Identifier of the System Extension to whitelist it in the system.
But unfortunately whitelisting does not have the effect it should and instead it still needs e

[2022-02-26 16:15] GuillaumeHullin commented on #851
For me the following steps work:
1. Verify that Terminal has Full Disk Access: <kbd>System Preference</kbd> > <kbd>Security & Privacy</kbd> > <kbd>Privacy</kbd> > <kbd>Full Disk Access</kbd>
1. Run `sudo kextunload -b io.macfuse.filesystems.macfuse`

macOS 12.1

[2022-02-28 16:59] sycam0r-e commented on #850
Just to chime in, I just encountered the same issue as ericswpark when using VeraCrypt. Executing `sudo kextunload -b io.macfuse.filesystems.macfuse` as they suggested solved the problem (for now). Before the error occurred, I had my Macbook running for 14 days (with intervals in sleep mode). VeraCrypt was not running (I have no other application that uses macFUSE).

OS: macOS 12.1 (21C52)
Kernel

[2022-03-01 18:32] scottwils opened #880 "rclone error : Fatal error: failed to mount FUSE fs: exit status 255"
rclone is working fine with other sync protocols but the mount protocol is not working and i get the following errors.

[code]

I am not sure how to troubleshoot macFUSE as this is new to me.

[2022-03-01 18:54] jzombie commented on #876
@ceavestone This Microsoft-provided VSCode extension may be useful for you: https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh

[2022-03-01 19:42] scottwils commented on #880
should is see more os versions listed below

[code]

[2022-03-07 14:44] tomdvies opened #881 "mv from gnuutils doesnt work on a mounted file system."
I get the error
`mv: cannot move 'filename1' to 'filename2': Function not implemented`
when using mv from gnuutils on a mounted filesystem, but if i use the stock mv it works fine. I'm unsure if this issue belongs here or on the gnutils issue tracker.

[2022-03-09 19:25] StormRU opened #882 "sshfs 100% CPU load on Monterey 12.2.1"
SSHFS process ALWAYS eats up over 100% CPU while running Visual Studio Code (which uses sshfs mounted remote filesystem)

Monterey 12.2.1.

[2022-03-11 13:58] 3s1d opened #883 "sshfs + standby -> breaks kernel module???"
Hi,

I have the following versions: macOS12.2.1 + macFuse4.2.4

I have mounted my server via sshfs and everything worked fine. After lunch---the mac went into standby---the mount was no longer valid. A umount + remount (umount ... + sshfs ...) returned to following error:
`mount_macfuse: the macFUSE kernel extension is not loaded`

None seems to help... Like:
[code]

Exists there any solution? Is

[2022-03-12 23:20] HUGHUSR commented on #741
**I have a fix.** The problem is that Mojave updates have whacked some flags on critical directories. You can find the fix here: https://discussions.apple.com/thread/253737669

The problem is that it is a pain to fix, as both directories are sandbox protected, AND you have to boot into safe mode after the flags are fixed, as the missing flags have busted a ton of other permissions as well.

I hope

[2022-03-13 05:21] GregDunn1953 commented on #741
OK, so I ran the ls command.  According to the Apple forum message, I should see:

[code]
But here's what I see:
[code]

They're different, in that Staging has additional attributes.  Do I clear them in Safe mode?  If so, how?  The Apple forum message hints that you have to use chflags, but omits any details as to how this is achieved.

[2022-03-16 02:18] GregDunn1953 commented on #741
Well, folks, I finally just gave up.  Figuring I'd spend a few hours or days trying to fix this, as well as some other application installation problems I'd been having with this laptop, I just re-formatted the HD and restored all my stuff from a backup.

Everything works perfectly now.  It took just under 2 hours to format and restore everything, plus updating FUSE.  It's clear that installing a

[2022-03-18 21:54] djhshih commented on #381
Same problem here.

SSHFS version 2.5 (OSXFUSE SSHFS 2.5.0)
FUSE library version: 2.9.9
MacOS 11.6.4

The network admin notified us yesterday that there were 80,000 ssh requests recently from my workstation to the remote server.
I have been browsing directories with 200-300 files and refreshing the directories for new/updated PDF files as I work.

I have decided to switch to using X11 forwarding a

[2022-03-24 04:21] zenghua-git commented on #801
This one works perfectly for me (Mac OS 12 with M1). Thank you! All other solutions, like installing MacFUSE or sshfs from source code didn't work for me.

[2022-03-25 23:50] mkultracreative commented on #858
So we simply can't install fuse

[2022-03-29 15:58] johalun opened #884 "Can't install due to SentinelOne"
The SentinelOne security software adds files to /usr/local that are owned by root and can not be changed to be own by another user.

When running `brew install --cask macfuse` it tries to change owner of /usr/local recursively
[code]
which first, it shouldn't have to. `/usr/local/{bin,lib}` are already owned by me. Just the one file from sentinel is not. Secondly, brew prefix is `/opt/homebrew` so

[2022-03-29 16:53] bfleischer commented on #884
Let me start by saying that `/usr/local/` should not be owned by you. By default the directory is owned by `root:wheel`. The macFUSE installer makes sure that `/usr/local/include` and `/usr/local/lib` are world-readable (as those directories should be) by running the following commands:

    chmod u+rx,g+rx,o+rx "/usr/local/include"
    chmod u+rx,g+rx,o+rx "/usr/local/lib"

The failed command fro

[2022-03-29 16:58] johalun commented on #884
Ok, got it. Yeah makes sense that it's in /usr/local for a shared library. I'll check with the brew formula. Thanks!

[2022-03-29 17:00] #884 closed, assigned to bfleischer

[2022-03-30 04:16] bnetz commented on #850
Same problem (and solution: executing `sudo kextunload -b io.macfuse.filesystems.macfuse` for me ). Error appears sporadically independent of how long OS has been running, but always directly after waking up the OS from sleep mode.

macOS 12.1 (21C52), Darwin Kernel Version 21.2.0
mac FUSE 4.2.4
VeraCrypt 1.25.9

[2022-03-31 10:24] tcpekin commented on #850
I have the same problem as @bfleischer above - I cannot unload the kernel extension, it has the same exact error, nothing is mounted, and when running sshfs, I get the same `mount_macfuse: the macFUSE kernel extension is not loaded`.

macOS 12.3 (21E230)
mac FUSE 4.2.4

[code]

[2022-03-31 20:10] notDavid commented on #751
In case anyone else stumbles upon this error after compiling sshfs 2.5:
`(process:77242): GLib-CRITICAL **: 21:40:21.772: g_slice_set_config: assertion 'sys_page_size == 0' failed`

Removing these lines fixes it: https://github.com/libfuse/sshfs/pull/27/files

[2022-04-04 18:06] bfleischer commented on #881
Please raise this issue with the coreutils/gnulib team. It seems they are calling a file system operation that is not supported by the macFUSE file system you are using. I took a brief look at the relevant coreutils and gnulib code and I think the operation might be renameatx_np(). Looks like there have been some changes to the relevant gnulib code recently. It might be worth making sure you are a

[2022-04-04 18:06] #881 closed, assigned to bfleischer

[2022-04-04 18:15] bfleischer commented on #880
Seems you are using a very outdated version of macFUSE. Depending on the version of macOS you are running, you might need to update macFUSE. Currently, the latest version is 4.2.4. You seem to be using version 3.

If updating to the latest version of macFUSE does not help, please run the following commands in Terminal

[code]

and post the results here.

[2022-04-04 22:15] bfleischer commented on #878
I've tried taking another shot at this. It took several attempts until I was able to create an upspin account. But now upspin claims macFUSE is not installed, which is not true. Which version of upspin are you using?

As far as I can tell, there is no documentation from Apple on how to symbolicate M1 kernel panic logs. It does not work the same way as symbolicating Intel panic logs. Unfortunately,

[2022-04-06 20:19] bfleischer commented on #878
I managed to mount upspin, with an old version of macFUSE. The upspin build from the official website does not seem to support macFUSE version 4. Now I'm getting a permission denied error when trying to access your directory. I'm stuck.

[code]

[2022-04-07 22:48] FuturePilot commented on #860
This is a strange situation. I have an M1 MBA and MacFuse and Apple Pay play just fine together. After installing and lowering the security settings on my Mac Studio, it disabled Apple Pay. Nothing I tried could get Apple Pay to re-enable except changing the security settings back to full.

[2022-04-08 00:13] bfleischer commented on #878
I'm pretty sure I found the race condition that is responsible for the crashes. The new 4.2.5 release contains  a fix. However, I'm not able to verify this since I'm unable to make Upspin work. For lack of feedback, I'm going to close the ticket.

[2022-04-08 00:13] #878 closed, assigned to bfleischer

[2022-04-08 01:26] minimondo commented on #860
Yes, there was an issue with macOS and the bigger M1 chips (probably to do with a memory leak). All 3rd-party kernel extensions were impacted (along with Time Machine). The problem should have gone with Monterey 12.2.1 and later.

[2022-04-08 03:34] FuturePilot commented on #860
I'm on 12.3.1. I'm more than happy to provide and troubleshooting information, logs, etc.

[2022-04-08 14:30] minimondo commented on #860
Please try the following. NOTE to any readers - The problem is within macOS, not MacFuse or other extensions…

1) Uninstall MacFuse via the pref pane. Also, uninstall ALL other 3rd-party extensions, including the Rogue Amoeba ACE ( this is a hardware- abstraction-layer audio extension), if you have it.

2) Shutdown, boot into RecoveryOS. Run the Terminal from the Utilities menu. Enter and run this

[2022-04-08 22:41] FuturePilot commented on #860
I followed those instructions but the problem persisted so I continued with the re-installation of 12.3.1 part, but it is still disabling Apple Pay when the MacFuse extension is loaded. That is the only extension I have installed on my system.

[2022-04-09 05:28] alltom commented on #878
I can't wait to try it. Thanks so much for perservering on this. I wish I could help more. [I asked on the Upspin list if anyone could contribute Intel logs](https://groups.google.com/g/upspin/c/bLYMpwQ1HN4/m/Tb5HrGRdAAAJ), but it seems like the active users are probably also on Apple silicon already.

Just FYI, Upspin requires some patches to account for the rename to macFUSE, and the deprecation

[2022-04-09 05:36] alltom commented on #878
My directory really is just files named "1" through "735" each containing "All work and no play makes Jack a dull boy", so even though it appears I set up my shared directory incorrectly, you can probably reproduce easily now that Upspin runs. :)

[2022-04-11 11:09] bolemo commented on #519
Any progress on that?

I have the exact same problem, and I cannot copy or move any file to the mounted sshfs volume using the Finder, as it cancels the whole process if the hidden files can't be written. I have to use the terminal with cp and ignore the error.

[2022-04-12 07:42] minimondo commented on #860
Does your Mac Studio have an M1 Ultra CPU? If so, does it have 64 or 128GB of RAM? Asking because my MBP with M1 Max & 64GB is OK. Back in Oct 2021 it seemed to be RAM size that broke Apple Pay, etc.

[2022-04-12 14:12] FuturePilot commented on #860
I have the M1 Ultra with 64GB of RAM.

[2022-04-15 08:29] minimondo commented on #860
I need to give you further advice in private. I have just written to what I think is your email address via your blog. Can you please check and respond if I got it right?

Michael Sanders

[2022-04-15 16:58] FuturePilot commented on #860
I did not receive any email. You can send me an email at futurepilot at gmx[dot]us

[2022-04-19 07:43] murriiot opened #885 "I'm a noob I guess 🤦‍♀️"
==> Installing Cask macfuse
==> Running installer for macfuse; your password may be necessary.
Package installers may write to any location; options such as `--appdir` are ignored.
installer: Package name is macFUSE
installer: Upgrading at base path /
installer: The upgrade was successful.
==> Changing ownership of paths required by macfuse; your password may be necessary.
🍺  macfuse was successfu

[2022-04-19 07:50] bfleischer commented on #885
For a workaround see https://github.com/osxfuse/osxfuse/issues/818. Feel free to raise this issue with the Homebrew team.

[2022-04-19 07:50] #885 closed, assigned to bfleischer

[2022-04-23 04:09] unsound commented on #874
Also seems to affect macFUSE 4.2.5, I'm getting a hang for passing an incorrect ```max_read``` value (```max_read=5324```). @bfleischer ping me if you want some help with this one. :)

[2022-04-30 00:41] mostafa0017 commented on #760
`sudo mount -u -w "/Volumes/YourDriveName"`
ie:
`sudo mount -u -w "/Volumes/Macintosh HD"`
The use of `-u` changes the status of an already mounted file system and `-w` will mount it as `read-write`.

[2022-05-01 05:50] ferdnyc commented on #879
I think the problem is that MDM whitelisting [is for System Extensions](https://developer.apple.com/documentation/systemextensions/implementing_drivers_system_extensions_and_kexts), which are different from kernel extensions (kexts) – there doesn't seem to be any whitelisting or automated management of those anymore, since Apple is clearly trying hard to phase them out entirely.

So [filesystem ke

[2022-05-02 09:45] TK5-Tim commented on #879
Thank you for your answer. Unfortunately we cannot use this workaround in our situation.

Is there any roadmap to migrate from a kernel extension to a system extension or is that not feasible?

Thank you very much once again for the information.

[2022-05-02 09:53] bfleischer commented on #879
@TK5-Tim Currently, there is no system extension API for developing full-featured file systems. Until Apple makes such an API available, macFUSE needs to rely on the VFS kernel API.

[2022-05-04 04:52] ferdnyc commented on #879
(Actually, @bfleischer, I guess based on the license terms, GitHub/Microsoft would require permission to bundle a preinstalled MacFuse kext with any of their MacOS runner images for GitHub Actions.

In the _very_ unlikely event that they could be convinced to do so, would you be open to granting them authorization? It's not even worth pursuing if the answer is "No". :grin: )

[2022-05-06 13:06] Sierkinhane commented on #846
I have tried it, but it didn't work.

[2022-05-06 13:48] BilyZ98 commented on #791
I went to macfuse website and download the macfusion , execute uninstall binary first, and then I execute the install binary
again.
Now everthing works fine for me .

https://osxfuse.github.io/

[2022-05-07 07:07] yashkant commented on #856
I got this to work on macOS Monterey (12.3.1) and M1 chip by using sshfs (version 2.5.0) and macfuse (version 4.2.0) both installed from .dmg, and not brew.

[2022-05-07 14:07] eengstrom commented on #390
@bfleischer - It looks as if there has been steady progress on version 4.x of macFuse (developer releases), and I'm wondering if that version supports all the libfuse3 features?     If there is a pointer to a 4.x readme or changelog, that'd be great too.

At the moment, I'm running a convoluted set of hand-compiled versions of sshfs and other fuse based tools on top of macFuse 4.2.4, and afraid to

[2022-05-09 09:07] lwoggardner commented on #677
For anyone coming to this later I encountered and solved this dilemma while writing ruby bindings (ffi-libfuse).

The trick for me was that the event loop needs to continue to run **DURING** the execution of `fuse_unmount()`, ie you cannot unmount from the event thread.

Also, if you are using `fuse_exited()` (or the session equivalents) to control the event loop, `fuse_exit()` should not be calle

[2022-05-09 21:46] slaqr-mel commented on #828
I can confirm that [this procedure](https://github.com/osxfuse/osxfuse/issues/828#issuecomment-1027348679) also worked for me as well. We spent about 6 hours of troubleshooting on this, refusing to believe that disabling SIP would be the solution (I even performed the nuclear option of completely removing the Mosyle MDM profiles from our affected machine, thinking there might be an unknown TCC iss

[2022-05-10 13:32] flodetan opened #886 "NO effect on Mac OS monterey 12.1"
i tried to install V 4.2.5 and v 4.3.1,  i still can not Write files to NTFS disk,  read from NTFS disk no problem.

OS: mac os monterey 12.1
software:

<img width="662" alt="image" src="https://user-images.githubusercontent.com/3078244/167640170-10d922b7-b479-4184-92f3-aee5028d5eaf.png">

when i create a file in NTFS disk, it shows error:  create file failed becuase  MacintosHD is read-only file

[2022-05-11 10:24] lwoggardner opened #887 "fgetattr after create fails with input/output error"
Hello,  I am working on Ruby bindings for FUSE (ffi-libfuse) and (finally) getting it running on MacOS.

I'm almost there but having one issue with the fgetattr() call received after create().

Unlike callbacks to plain getattr() the `stat` struct in the call following create() has not been zeroed,  and although the stat struct is filled appropriately (I think), and zero is returned,  the fgetattr

[2022-05-13 10:09] porg opened #888 "Meta: Confusion between repos macfuse and osxfuse plus outdated info how to give feedback"
I reported and meanwhile closed a [Mac FUSE related issue](https://github.com/libfuse/libfuse/issues/678) at the wrong place due to misinformation in the `README.md`
at https://github.com/macfuse/library which states:

## Inquiries

1. If you are the same people, or at least connected, could you please update that info, so that Mac specific issues land where they should, so supposedly here at http

[2022-05-13 10:18] porg commented on #883
No solution I know of.

But the root cause seems to be not necessarily the sleep/standby of your Mac per se /which happens after a certain longer time), but rather the termination of your ssh connection (which also happens after a certain longer time), which many many users testify at #45

If you concur with this analysis, you may close this issue here as duplicate and chime in over there.

[2022-05-13 10:20] porg commented on #842
Maybe related to #45 ?

[2022-05-13 10:22] porg commented on #842
It is called "SSHFS" and not "SSFS".

You may change the typo in your issue title, so that it has better chances for being found.

[2022-05-13 10:28] porg commented on #850
I browsed and searched through the issues here as I also have issues with long term stability of macFUSE when a sshfs filesystem is mounted.

Maybe the root cause for this is #45?
- So not necessarily the sleep/standby of your Mac, which happens after a certain longer time,
- But rather the termination of your ssh connection, which may also happen after a certain longer time.

[2022-05-13 10:51] porg opened #889 "Remain stable after sleep/standby/wake or ssh connection termination. Or aid situation with auto unmount/remount for remote filesystems"
## Reproduction 1
1) Mount remote filesystem via macFUSE — In my case sshfs.
2) Put Mac to sleep — In my case via System Menu (Apple Symbol) > Sleep
3) Wake it shortly later (8min) — I can confirm it indeed slept with `pmset -g log`
[code]
- **Expected**: You can continue browsing the remote webspace in Finder or in Terminal.
- **Actual**: It works that way.

## Reproduction 2
- Ad 3) Sleep longer

[2022-05-13 13:38] ericswpark commented on #850
@porg I don’t think that is related as I only use VeraCrypt and Cryptomator, both of which do not use sshfs. I can also confirm that none of the volumes/vaults reside on a remote connection, so it is unlikely to be the issue.

[2022-05-13 13:54] porg commented on #850
Thanks for the additional information.

[2022-05-16 03:59] nufeng1999 opened #890 "Why did the volume label name become like this?"
Why did the volume label name become like this?

![https://github.com/nufeng1999/imgs/blob/main/img/DC0F0B07BD1739AAC17B6B323D1016D0.png?raw=true](https://github.com/nufeng1999/imgs/blob/main/img/DC0F0B07BD1739AAC17B6B323D1016D0.png?raw=true)

[2022-05-16 04:08] #890 closed, assigned to nobody

[2022-05-16 05:56] nammminn2 commented on #529
where do I find this?

[2022-05-17 11:14] oldbinky commented on #851
Thanks [GuillaumeHullin](https://github.com/GuillaumeHullin)
That worked

[2022-05-17 12:23] GuillaumeHullin commented on #851
You're welcome @oldbinky
@AlexC127 I guess you can close this issue?

[2022-05-18 13:16] MarcoR83 commented on #874
unusable!  using 4.2.4 just was forced to hard reboot 2 times already monterey 12.4 x86

[2022-05-19 23:31] bfleischer commented on #886
macFUSE is a framework for building file systems. NTFS-3G is such a file system for reading and writing NTFS volumes. On macOS, NTFS-3G relies on macFUSE. So you would need to install NTFS-3G and macFUSE to mount NTFS volumes with support for writing files. This is a complicated set up and beyond the scope of the macFUSE project and this issue tracker.

Please note that NTFS-3G and macFUSE are ind

[2022-05-19 23:31] #886 closed, assigned to bfleischer

[2022-05-20 01:21] tormodwill commented on #529
Hi

This is from the file sshfs.c  ( the source code for the sshfs program )  in c programming language.

I have made a pkg file of the sshfs version 2.10.  ( self installing file )

You can test it, and see if it works for you.

Link :

https://e1.pcloud.link/publink/show?code=XZsBVRZvGPHwvr4sYzFPlO4gRXVeLbrag6k <https://e1.pcloud.link/publink/show?code=XZsBVRZvGPHwvr4sYzFPlO4gRXVeLbrag6k>

Best