[2018-09-28 10:33] gvansanden commented on #542
I just noticed a 3.8 version on the site, but the auto-updater does not pick it up (with or without beta selected).  Fuse works now

[2018-09-28 12:29] dkbarto opened #543 "Building Macports version of osxfuse/sshfs fails for 10.13.2"
The tail of the log file shows the fault.

Using MacOS
	10.13.6

Xcode
	10.0 (10A255)

Clang
	Apple LLVM version 10.0.0 (clang-1000.11.45.2)
	Target: x86_64-apple-darwin17.7.0
	Thread model: posix
	InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

cd "/opt/local/var/macports/build/_opt_local_var_macports_sources_rsync.macports.org_macports_releas

[2018-09-28 15:35] yurikoles commented on #543
I think this should be reported downstream to macports.

[2018-09-28 16:05] dkbarto commented on #543
MacPorts says that since no updates have appeared there for over a year, that the port is no longer ‘maintained’ and should be reported upstream.

Apparently no one wants this information.

	David

[2018-09-28 16:57] dongepulango commented on #542
Same here, FUSE is not working anymore after updating to macOS Mojave . I'm in v3.8.2

[2018-09-28 18:34] ChrisCarrick1728 commented on #542
It is also not working for me after I updated to Mojave. I'm on v3.7.1

[2018-09-28 19:12] bfleischer commented on #542
Chris, you need to update to version 3.8.2. 3.7.1 does not Support nacOS Mojave.

[2018-09-28 19:24] bfleischer commented on #543
I don‘t know who maintains the osxfuse MacPorts port, but FUSE for macOS 3.8.2 is compatible with Mojave. Updating the port should be all that is needed. I‘m sorry, but there is nothing I can do. This is clearly a MacPorts issue.

I recommend using the official FUSE installer instead of MacPorts.

[2018-09-28 19:29] ChrisCarrick1728 commented on #542
Updating to 3.8.2 worked for me. I had to download and install the .dmg as the update tool in the system preferences pane did not work. Thanks for the quick reply bfleischer!

[2018-09-29 03:22] ivancitin commented on #535
Hello Benjamin,

Appreciate taking the time yourself to directly respond, I was mostly interested for my personal testing (kind of a hobby) to avoid conflicts with other newer or older versions, but i desisted. Sorry for inconveniences. Your work with this project is really appreciated.

[2018-09-29 03:22] #535 closed, assigned to bfleischer

[2018-09-29 05:51] HelmoHass commented on #511
HelmoHass commented on 26 Jun
and
bfleischer commented 2 days ago
🥇

[2018-09-30 12:10] amirrajan opened #544 "Heads up/warning: BridgeSupport doesn't seem to compile on Mojave"
Just a heads up (I know at least indirectly y'all rely on BridgeSupport). It looks like `gen_bridge_metadata` segfaults using system Ruby. There was a workaround where using ruby `2.3.7` wouldn't cause the segfault, but that doesn't seem to work either now. Compiling BridgeSupport from source also fails.

This is a reference to BridgeSupport targeting clang 7.0: https://github.com/hipbyte/bridgesu

[2018-09-30 12:14] soulne4ny commented on #310
It is a cumbersome requirement to have a spotlight on to build a project from its source code, isn't it?

[2018-10-01 09:22] amirrajan commented on #544
Using this older fork does work: https://github.com/amirrajan/BridgeSupport

[2018-10-01 09:25] amirrajan commented on #544
Currently, you'll get the following error if you try to execute `gen_bridge_metadata`:

[code]

I haven't tried it yet, but I'm assuming the symlink fix detailed here will work for Mojave too:

https://trac.macports.org/ticket/54939

Specifically:

[code]

Except maybe changing it to `OSX10.14.xctoolchain`. Will update once I verify this workaround works.

Edit:

The `OSX10.14.xctoolchain` workaro

[2018-10-01 13:21] peter-donov commented on #537
I can provide additional information if needed. I looked for guidelines for submitting an issue, but I couldn't find any.

[2018-10-01 15:24] amirrajan commented on #544
Related: https://github.com/amirrajan/rubymotion-applied/issues/106

[2018-10-01 17:39] swhobbit commented on #310
I did a Mac Ports install. How the port chose to install it was beyond my control.

[2018-10-01 18:28] eglxiang commented on #45
Just reboot your computer and try the command again. Normally it works!

[2018-10-01 18:31] ickc commented on #45
See https://github.com/osxfuse/osxfuse/issues/45#issuecomment-21943107

[2018-10-02 01:55] eduardomart commented on #508
Just installed 3.8.2 and ForkLift disklets seem to be working again! 🎉

[2018-10-03 02:31] pabloberrios commented on #542
I have a Macbook Pro (13-inch, 2017) with Mojave 10.14 and not work osxfuse v3.8.2. The NTFS Disks still appear read only.
Anyone have some tips?

[2018-10-03 21:40] moreplavec commented on #508
I tried to install 3.8.1 and 3.8.2, but installer stops with step to click Install. Clicking the button, but nothing happens.

[2018-10-04 01:17] ppharrington opened #545 "Using Fuse with pCloud Client prevents OS X simple restart or shutdown"
I'm not convince that it comes from pCloud client, bit I've reported to them anyway. On every computer with these active on it, the usual shutting down or restarting of the computer mostly often fails and I have to use Terminal to shut down or restart the computer.
This issue has always been there since pCloud client v3.5.9 (and fuse 3.6) and from OS X Sierra to Mojave, no matter which computer.
I

[2018-10-04 16:21] modpr0be opened #546 "osxfuse conflicts with VMware Fusion 11"
osxfuse 3.8.2 conflicts with VMware Fusion Pro 11

## Condition 1: osxfuse extension already loaded, VMware Fusion Pro runs later
[code]
### Results from kernel log
[code]
![proof image](http://i63.tinypic.com/suyn0h.png)

## Condition 2: VMware run first and try to load the osxfuse extension.
[code]
### Results from kernel log
[code]

## Condition 3: VMware run first and try to load a disk using

[2018-10-05 02:24] OfficerPlod commented on #545
I've also been using pCloud since v3.5.9 and gone through various versions, including Fuse upgrades and never had this problem. I'm still running High Sierra.
My issue has always been pCloud not mounting after a restart. I have to log in and out a few times before it mounts or, at worse, reinstall pCloud!
Sounds like we both have problems - just totally different problems.
I run a 'blessed' User F

[2018-10-06 07:30] amirrajan commented on #544
One of my colleagues built the following on his Mojave machine:

https://www.dropbox.com/s/ixryj9ne9o7c83h/bridge_support_2.tgz?dl=0

The binaries above plus the following line fixed BridgeSupport on Mojave:

[code]

The binaries were compiled off of this repo: https://github.com/amirrajan/BridgeSupport

To clarify, I'm not sure how much this will help y'all. But in the past, we've both (RubyMotio

[2018-10-08 12:20] aleksandr-skobelev-epam commented on #546
It can be that the all free device numbers were used on your machine. Look at the output of kextstat and decide what you can unload.

See also: https://github.com/osxfuse/osxfuse/issues/254

[2018-10-09 00:20] jotlord5 opened #547 "FUSE 3.8.2 not working with LaCie Private-Public on OSX Mojave"
Hi,

I can't access my Private-Public partition anymore on my LaCie Porsche's design disks. I keep getting the error message that Fuse needs to be installed and that it could not be installed correctly. However, I am running version 3.8.2.

I tried to uninstall and reinstall but it won't work. Could anyone help please?

[2018-10-09 16:05] stubevan commented on #508
I can confirm that 3.82 works.  3.8.0 did not.  The upgrade resolves that

[2018-10-11 13:03] wouthezx commented on #375
I have this same issue where the mounted volume gets thebasename of the remote directory, and the volname is ignored. Very very very rarely it does show the specified volname. I'm on High Sierra 10.13.6 which means i cant go back any further than osxfuse 3.6.0 because lower versions give me a message that the version is too old for the OS. The earlier mentioned 3.6.0 with sshfs 2.5.0 didnt work ei

[2018-10-11 22:23] mcolburn commented on #547
I also have the same problem.

[2018-10-12 03:14] ivancitin opened #548 "Microsoft Word not working in a FUSE drive"
Hi,

I found a weird behavior with Microsoft Word and a FUSE drive. Steps to reproduce it:
-  Open Word, version 16.16.2 (180910)
- Start from a blank document and type something
- Hit the close x
- Select to save the document into the FUSE drive

The document should be saved and Word closed, but instead, something happen in the save, it fails and Word comes back, only and empty file is created. I

[2018-10-12 19:30] eduardsui commented on #542
Same problem with Mojave. Using version 3.8.2, tried also to reinstall, still not working.

[2018-10-12 20:23] eduardsui commented on #542
It works now, it was a race condition in my code.

[2018-10-13 08:56] eduardsui commented on #542
If it helps with debugging this, I've noticed that on Mojave, `getattr(/)` gets called when mounting, so this code:
[code]
This doesn't work anymore (before Mojave, when using libfuse or dokany this worked). Now, `fuse_mount` results in a query for `getattr("/")`, which returns, in my case, ENOENT (because the network thread is not yet initialized). I've adjusted the code by ensuring the network t

[2018-10-15 03:13] #507 closed, assigned to nobody

[2018-10-16 11:35] radupopescu opened #549 "File system unmounts, gives error "no path for address""
Hello,

I'm one of the developers of CernVM-FS, a read-only file system based on FUSE, used for software distribution (https://github.com/cvmfs/cvmfs).

A user is experiencing a strange problem on a couple of older Mac mini machines with magnetic (non-fusion storage). He is running OSXFUSE 3.8.2 and CernVM-FS.
At a certain point, under load, CernVM-FS becomes unmounted on these machines. The mount

[2018-10-16 19:11] diversys opened #550 "Respect Dark theme in Mojave"
Mojave sports a new dark theme which is not respected in pref panel.

[2018-10-17 11:26] modpr0be commented on #546
Noted and problem solved after unload some kext. Thanks.

[2018-10-17 11:26] #546 closed, assigned to nobody

[2018-10-18 23:25] virtualritz commented on #437
I can confirm this for macOS 10.13. The `Allow` button is dysfunctional.

I just updated macOS and it works as expected in 10.14. But that's hardly a fix as one can't expect people to upgrade their macOS just to run osxFUSE.

[2018-10-19 05:27] kode54 commented on #437
And as I’ve already stated, this effect is accompanied by notices in the system log, accessible from Console.app, which identify the process id of the offending global hook which is blocking the Allow button. If it’s not that, then it may be disallowing USB mouse input on a laptop, so you’ll have to use the trackpad.

[2018-10-20 15:05] cristianmenghi commented on #508
Hi, can't work automount with mojave and 3.8.2 from brew cask.

[2018-10-20 15:10] cristianmenghi commented on #542
Same problem, installing from brew cask v 3.8.2 can't mount NTFS

[2018-10-22 02:35] xmfbit commented on #542
Update to 3.8.2 just solved my problem.

[2018-10-25 01:13] ITguyAtlanta commented on #542
Same issue.
Upgraded to Mojave 10.14, upgraded Fuse to 3.8.2
Getting failure to mount error
Says this edition of Fuse is too old for the OS
Any help appreciated.

[2018-10-25 09:02] KobeLuo opened #551 "The name length of file is confused on mac"
Hi @bfleischer ，**we found the name length of file  is confused when oxsfuse work on different language on mac system.**

For example:
- Under the Korean system, the maximum name characters is about 35.
- Under the English system, the maximum name characters is about 250.
- Under the Chinese or Japan system, the maximum name characters is about 83.

the screenshot is as following:
![5ddac7a7-fe52-

[2018-10-26 00:45] YehudaBialik commented on #437
Booting into safe mode was the trick for me. Then the Allow button opened a window with check boxes beside a whole list of software that has never been allowed, and obviously not functioning properly (thanks Apple). Selected the ones I wanted to allow, clicked Okay, rebooted and the software in question now works properly.  Good luck.

[2018-10-26 18:15] ITguyAtlanta commented on #508
I updated to Mojave, installed Fuse 3.8.2, but still getting mounting error and "Fuse too old for OS" error when trying to us Gladinet Cloud Suite Mac Client.
Any thoughts?

[2018-10-28 16:13] nifker commented on #341
I can confirm that 'sshfs -oIdentityFile=ssh-key ...' prompts for a password even though I strictly disabled password auth on the server.

[2018-10-28 16:28] asapkov commented on #542
Unable to upgrade to 3.8.2. Downloaded dmg installer from the site. Everything is fine until "Click install to perform a standard installation blah-blah" message. Clicking on "install" does nothing. No errors or crashes, but no installation as well.

[2018-10-29 08:09] ghost commented on #542
@asapkov, you could see errors and messages in `/var/log/install.log` with **Console** application.

[2018-10-29 18:11] JayMayJay opened #552 "I upgraded to OS Lion and cannot mount a Veracrypt Drive"
<img width="420" alt="screen shot 2018-10-29 at 11 10 20 am" src="https://user-images.githubusercontent.com/44584703/47670773-43c88b00-db6b-11e8-99e1-f0babc7edb13.png">

My installed version of Fuse is 3.7.1 and I believe it to be the most recent version.

[2018-10-29 18:32] JayMayJay commented on #552
Nevermind.  I uninstalled FUSE and reinstalled.  Didn't have the latest version.

[2018-10-29 19:32] mkexc commented on #542
Not working for me also.

[2018-10-31 10:14] GerZah commented on #508
Yeah, I also upgraded to macOS 10.14 Mojave and found my VeryCrypt dysfunctional due to FUSE 3.7.1 reFUSEing to work (pun intended).

Believe me: I'd rarely blindly follow a "sudo cp -R /Library/…" instruction. But then again, I know my way around in the terminal.

I read from the other posters that FUSE often requires to be patched from one major OS version to the next. But then I checked my /Lib

[2018-10-31 10:42] bfleischer commented on #508
@GerZah I explained this multiple times. The FUSE kernel extension checks the version of macOS at runtime and acts accordingly. The version of FUSE you are using is too old for Mojave and does not contain a code path for Mojave. That's why there is no symlink. Version 3.7.1 does **NOT** support Mojave! The kernel extension accesses private kernel structs, that have changed in Mojave. Please stop a

[2018-10-31 10:51] GerZah commented on #508
@bfleischer Sorry for stepping on your toes. I hear what you are saying, all I can say is: As 3.7.1 did not offer the 3.8.2 update (I had to manually download and install, which I did only afterwards), so I dabbled around with symlinking 3.11 support to 3.14 in 3.7.1 … which should not have worked, but believe it or not, it did.

Anyway – what do you want me to do? Should I delete my followup post

[2018-10-31 11:09] KizzyCode commented on #508
@GerZah Oh, it may have worked but you have a huge risk of undefined behavior – the KEXT misinterprets and even worse creates invalid structures that can go rogue in the kernel.

If sth. goes wrong (because a more exotic feature is used which is placed at the wrong location in a structure etc.) the damage could range from a simple kernel panic over irreparable (silent) damage in your FUSE-volumes

[2018-10-31 12:09] caozilu commented on #542
works as read-only, unable to do write actions

[2018-11-02 19:55] amirrajan commented on #544
More updates. **Mojave's system Ruby is _definitely_ broken.** Here are the steps to recreate along with information: https://github.com/amirrajan/RubyMotionBridgeSupport/issues/1

[2018-11-04 19:53] pdgehrke commented on #341
pjetr3k fix worked for me when nothing else did for me on macOS Mojave 10.14 .
 Here is a good link:  https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/

[2018-11-06 00:04] strib opened #553 "A moved node retains its old parent directory if its NodeId is reused"
This bug came to my attention because of https://github.com/keybase/kbfs/issues/1881.  In some osxfuse-based file systems (say, mounted at `/mnt/fs`), a user can have this problem:

[code]

The last line returns an `ENOENT` error.  Drilling down into logs when this happens, it seems like in the path `../a/c.txt`, the `..` component is still being resolved to b's original parent, rather than its ne

[2018-11-10 11:32] bfleischer commented on #553
Thank you very much for looking into the issue! It's indeed caused by a bug or non-feature in the FUSE kernel extension. When a file (or a directory) is renamed FUSE does not revoke the vnode. Then when the vnode is reused it points to the wrong parent.  When renaming a file or directory there are two possibilities regarding the lifespan of the corresponding vnode:

* The file system server return

[2018-11-10 11:32] #553 closed, assigned to bfleischer

[2018-11-10 11:35] bfleischer commented on #466
Thank you very much for looking into the issue and the pull request! The bug should be fixed in the soon to be released version 3.8.3.

[2018-11-10 11:35] #466 closed, assigned to bfleischer

[2018-11-10 11:42] #552 closed, assigned to bfleischer

[2018-11-10 11:45] bfleischer commented on #547
Please report the issue to LaCie. FUSE 3.8.2 works fine on Mojave. This is something the LaCie team needs to look into.

[2018-11-10 11:45] #547 closed, assigned to bfleischer

[2018-11-10 11:47] #543 closed, assigned to nobody

[2018-11-10 11:54] bfleischer commented on #542
Everyone with NTFS issues, please read https://github.com/osxfuse/osxfuse/wiki/NTFS-3G. You need NTFS-3G and FUSE for be able to write on NTFS volumes. FUSE for macOS 3.8.2 works fine on macOS Mojave.

Please know the comments like "Same problem" or "Same issue" are not very helpful. Be more specific. Which file system (or applications) are you trying to use?

[2018-11-10 15:25] shubham-prasad opened #554 "remote folder accessible in finder but not through terminal"
<img width="1280" alt="screenshot 2018-11-10 at 8 56 21 pm" src="https://user-images.githubusercontent.com/6239536/48303025-244a3e80-e52b-11e8-8622-cb6ee8f02f69.png">

command used
sshfs Dan@192.168.11.108:/ ~/danny -ovolname=Dan -o defer_permissions

shubhams-MacBook-Pro:~ shubham$ uname -a
Darwin shubhams-MacBook-Pro.local 18.2.0 Darwin Kernel Version 18.2.0: Fri Oct  5 19:41:49 PDT 2018; root:x

[2018-11-13 07:23] mpechner commented on #504
Yup.  "System software from developer "Benjamin Fleischer" was blocked from loading"  I unlock the panel and click allow aaannnddd click allow annddd....

Paid for SyncMate and this is a require component.  Open a ticket with them as well.

[2018-11-14 04:36] siftuser opened #555 "MacFUSE compatibility layer"
I enabled  "MacFUSE compatibility layer". Also restarted the system.

When I run `ls -lh /usr/local/include/macfuse*`, it shows `No such file or directory`

Is there any other way to confirm this feature is installed ? Thanks!

[2018-11-16 04:09] AdanCortes commented on #504
After many unsuccessful attempts to install osxfuse via the PKG file, I was able to install it on 10.13.6 High Sierra by:
1. Installing all system updates
2. Issuing the following commands on a terminal
<code><pre>
sudo spctl --master-disable
sudo reboot
brew cask install osxfuse
sudo reboot
</pre></code>

[2018-11-16 17:52] mpechner commented on #504
That is it.  It is a recentish update.  Because I tit not have this issue before.  This is begin  called a feature to improve security.  But, no, a bug to require these steps.

[2018-11-17 11:44] stgarf commented on #404
Yea, seems it's using libfuse 2.9.7

[2018-11-24 21:31] iw5ejm commented on #542
MacOS Mojave 10.14.1 (18B75) not working: no network device displayed, fuse 3.8.2 correctly installed

[2018-11-26 17:16] LBensman commented on #542
Same issue as reported by @iw5ejm .

Path:
1. Upgraded to Mojave and fuse stopped working.
2. Upgraded FUSE to 3.8.2 and it started working.
3. Today macos installed update which made it now macos 10.14.1.
4. FUSE now refuses to work - fails to mount remote linux drive.
[code]
Note that https://osxfuse.github.io/ lists sshfs stable release as 2.5.0.  Seems I have more recent one, so I assume I don

[2018-11-29 09:30] nickolaym opened #556 "3.8.2 always crashes Finder, and now it crashed whole MacOS!"
Finder crashes every day, sometimes every few hours.
This night the OS crashed. Here is the panic report it displayed after reboot.

[code]

[2018-11-30 02:05] cameron-simpson commented on #421
I have just spent some time with this error "LSOpenURLsWithRole() failed with error 5", and have devised a workaround for my particular case. I'm working on a Python implemented filesystem via llfuse and osxfuse behind that.

I've been opening the mounted filesystem with "open /path/to/mountpoint" and getting the cited error message.

The Finder does a getxattr of "com.apple.FinderInfo"; returning

[2018-11-30 02:29] cameron-simpson commented on #421
... and now I'm back to the same error message. So this is not a fix or workaround :-(

[2018-11-30 14:50] keeninter commented on #542
OpenDrive (www.opendrive.com) for Mac does not work on Mojave with osxfuse 3.8.2 on some machines: mounting is done but then only read access is enabled, write operations are not performed.

[2018-12-02 08:47] plashenkov opened #557 "Mounting in a brand-new way"
It looks like new macOS allows to mount 3rd-party file systems without low-level mechanisms, using other techniques. Mountain Duck built in this way: no installation required, no admin privileges required. Just run the app and you are able to mount.

Is there any chance FUSE for macOS will implement this mechanism?

Some links:
Mountain Duck info about this: https://mountainduck.io/comparison/
Not

[2018-12-05 15:48] mixtly87 opened #558 "autoinstall-osxfuse-core not working on macOS Mojave"
I use `autoinstall-osxfuse-core` as a pre-install script of my macOS app and it doesn't seem to work on macOS Mojave.

The output I get is:

[code]

Is this a valid issue and are there any plans to fix this?

[2018-12-06 05:27] ksherlock commented on #557
Mountain duck seems to run an [NFS server in userspace](https://github.com/iterate-ch/kfs/tree/feature/mountainduck).  The OS X NFS fs connects to the userspace NFS server which converts NFS requests into other protocols (and back).  It's an impressive hack, to say the least.

[2018-12-06 20:45] wang3t opened #559 "osxfuse-3.8.2.dmg installation fails on latest macOS."
1. Download "osxfuse-3.8.2.dmg" and
2. tried to install to latest macOS,
3. It fails with "The FUSE for macOS installation package is not compatible with this version of macOS."

[2018-12-07 14:31] daynaskully commented on #542
Updated a bunch of mac's to mojave now that it's been out for a few months (developer preview of course being available a few months before that).

Cant get fuse to work (version 3.7 doesn't offer updates) manually installing the most recent version 3.8 doesn't work either -- same problem of "too old for os".

Is this project abandoned for osx or something? Any alternatives?

[2018-12-07 14:32] daynaskully commented on #508
I'm having the same issue of 3.8 not working with mojave.

[2018-12-07 14:33] daynaskully commented on #559
+1

[2018-12-07 14:40] misku commented on #542
@daynaskully The project is not abandoned, but it's developed *for free* during @bfleischer *free time*.

[2018-12-08 02:19] singularitti commented on #550
More details, this is what we see on the upper level panel:
<img width="780" alt="dark" src="https://user-images.githubusercontent.com/25192197/49680700-9a2bc200-fa65-11e8-8d4a-8ed44962ae54.png">
But when we click FUSE icon, we see a light mode panel:
<img width="780" alt="light" src="https://user-images.githubusercontent.com/25192197/49680710-b2034600-fa65-11e8-9784-89adff65ab5d.png">
We wish FUS

[2018-12-08 05:56] choury commented on #523
I meet the same issue...

[2018-12-08 23:43] jaredpz opened #560 "Mount remote drive that requires VPN to connect"
Hi all,

I want to mount a drive using sshfs on a server that I use a VPN to connect to.  I have no problem mounting the drive when I'm connected to the VPN, but once I'm off the network the server is no longer available and the drive becomes inaccessible.  After I've disconnected if I try to `ls` the directory where I put the mount it just says "ls .: device not configured" and the mounted drive

[2018-12-12 00:22] PeterWq opened #561 "BAD signature from "Benjamin Fleischer <fleiben@gmail.com>" [expired]"
Hi, getting an error for a signature verification;
Downloaded the next files from the https://github.com/osxfuse/osxfuse/releases:
osxfuse-3.8.2.dmg
osxfuse-3.8.2.sha256
osxfuse-3.8.2.sha256.sig
When trying to verify the signature in terminal:

Downloads >gpg --verify osxfuse-3.8.2.sha256.sig osxfuse-3.8.2.sha256
gpg: Signature made Sun Jul  1 10:03:29 2018 PDT
gpg:                using RSA key 13

[2018-12-13 00:04] neoadventist commented on #478
@uniqueum solution worked for me. After I upgraded, I could see the remote file system via the terminal but not via finder. After setting the additional options I was able to see it again! Thanks!

[2018-12-14 14:43] mixtly87 opened #562 "'Failed to make configuration' while building osxfuse on macOS 10.14"
I'm facing following issue while trying to build the osxfuse:

[code]

Did anyone encounter this or does anyone know how to fix this?

[2018-12-14 16:17] bfleischer commented on #561
The signature is valid, I just checked. The key has been renewed months ago. Please refresh your keys by calling `gpg --refresh-keys`.

[2018-12-14 16:20] bfleischer commented on #560
I think this is something that would need to be handled by sshfs, not FUSE. Could you please open an issue in the sshfs issue tracker: https://github.com/libfuse/sshfs/issues

[2018-12-14 16:20] #560 closed, assigned to bfleischer

[2018-12-14 16:23] bfleischer commented on #559
Version 3.8.2 works fine on macOS 10.14. Which version of macOS are you using?

[2018-12-14 16:26] bfleischer commented on #562
Did you install all required tools (autoconf automake libtool gettext)? I'm still using 10.13 to build FUSE releases.

[2018-12-14 16:38] mixtly87 commented on #562
Hm, looks like I didn't have all tools installed. Anyways, I installed them and now the error is:
[code]

However, I can also successfully build on 10.13, but when I run Distribution.pkg I get an Alert that 'The FUSE for macOS installation package is not compatible with this version of macOS.'

The very same installer works OK on macOS Mojave 10.14.2 however.

So now we have two issues:
1. Why bui

[2018-12-14 16:45] bfleischer commented on #562
Let's start with the build error. Please read the README.md. When using Homebrew you need to run `brew link --force gettext` otherwise its macros are not found.

When building the FUSE kernel extension you need the specific SDK for the version of macOS that the kernel extension is supposed to run under. This means, to build FUSE for macOS 10.13 you need an Xcode version that includes the 10.13 SDK

[2018-12-14 16:57] bfleischer commented on #559
I just checked on macOS 10.14.2. FUSE 3.8.2 can be installed without any issues. Are you using the official installer package?

[2018-12-14 17:10] mixtly87 commented on #562
1. Fixed. osxfuse now successfully builds on macOS Mojave. Looks like the problem was that I didn't follow the README instructions carefully.

2. Thanks for the tip! I'll try installing Xcode 9 alongside Xcode 10 (if it's possible at all) and check back the results.

[2018-12-14 17:13] bfleischer commented on #557
Implementing an user space NFS server is not a new technology. What Mountain Duck is doing has been possible for ages. In fact, Apple's FTP implementation uses the exact same approach. The downsides of using an NFS server instead of FUSE are worse performance and the lack of low level system integration. There are some features (local mounts, Spotlight support, Trash folder, ...) that will not wor

[2018-12-14 17:23] bfleischer commented on #556
FUSE is not to blame for this crash. The backtrace of kernel functions that lead to the crash does not contain any FUSE function call. What makes you believe FUSE is to blame, other than the fact that the FUSE kernel extension was loaded at the time of the crash?

Here the symbolicated backtrace:

[code]

It looks like the issue is somehow triggered when the login window tries to access compressed

[2018-12-14 17:52] bfleischer commented on #558
This is definitely a bug and needs to be fixed. Thanks for the bug report.

[2018-12-14 17:54] bfleischer commented on #555
Check /usr/local/lib. If you find libfuse.dylib then the compatibility layer is installed.

[2018-12-14 17:54] #555 closed, assigned to bfleischer

[2018-12-14 17:56] bfleischer commented on #550
Getting this to work might not be trivial because FUSE still needs to support old versions of macOS. I will look into it but this has a low priority.

[2018-12-14 19:17] bfleischer commented on #562
Yes, you can certainly install Xcode 9 alongside Xcode 10. By the way, official releases are built using Xcode 3.2.6 (patched), Xcode 6.4, Xcode 7.3.1, and Xcode 10.1, all on the same machine running macOS 10.13.

[2018-12-14 20:16] yingbo commented on #548
Reproduced the error. macOS Mojave 10.14.2, word 181208, fuse 3.8.2.

[2018-12-15 02:15] 266918 opened #563 "Operation not supported on socket Error"
MacOS: 10.14.2 (18C54)
ntfs-3g 2017.3.23
mount: sudo /usr/local/bin/ntfs-3g /dev/disk2s1 /Volumes/NTFS -olocal -oallow_other
copy error: could not copy extended attributes to /Volumes/NTFS/test/Transactions.csv: Operation not supported on socket

[2018-12-15 02:29] plashenkov commented on #557
Okay, I see now, thank you @ksherlock and @bfleischer. Do you see any meaning in implementing NFS in osxfuse? Or there is no point?

[2018-12-17 13:20] aleksandr-skobelev-epam opened #564 "readdir is broken in multithread environment"
If we have several concurrent requests for listing of the same directory with a lot of entries in it, and are using readdir in the new mode (i.e are keeping offsets while filling the directory entries) there is a chance that the one of that requests will finish first and the rest ones get incomplete listing.

The reason for this issue seems to be in `fuse_dh.filled` flag that is set to 1 in the be

[2018-12-17 19:39] bfleischer commented on #558
Fixed!

[2018-12-17 19:39] #558 closed, assigned to bfleischer

[2018-12-17 21:52] #562 closed, assigned to bfleischer

[2018-12-17 23:10] bfleischer commented on #563
Please note that NTFS-3G and FUSE for macOS are independent projects. Should you run into NTFS-3G related issues please post the issues on the NTFS-3G support forum at http://tuxera.com/forum/viewforum.php?f=7.

[2018-12-17 23:10] #563 closed, assigned to bfleischer

[2018-12-17 23:22] #561 closed

[2018-12-18 04:47] bfleischer commented on #538
This is another case of macOS is not Linux. The macOS kernel does not pass the exact path you specified when calling statfs(2) to the FUSE kernel extension. I believe this makes more sense than the Linux approach. At least in case of macOS statfs(2) is supposed to return the same data for every path on a volume.

[2018-12-18 04:47] #538 closed, assigned to bfleischer

[2018-12-18 05:53] bfleischer commented on #550
The only way to enable the dark mode for the preference pane, I have found so far, is building the preference pane with the macOS 10.14 SDK, but that will not be possible since we need to support older versions of macOS as well. Any suggestions?

[2018-12-18 06:01] bfleischer commented on #513
com.apple.FinderInfo is required to set the volume icon. Removing it will remove the volume icon.

[2018-12-18 06:01] #513 closed, assigned to nobody

[2018-12-18 06:02] bfleischer commented on #511
No helpful feedback, closed.

[2018-12-18 06:02] #511 closed, assigned to bfleischer

[2018-12-18 06:07] bfleischer commented on #484
Since there is no kernel debug kit for version 17C205 there is nothing I can do. Feel free to reopen the issue if you can reproduce the panic with an up to date version of macOS.

[2018-12-18 06:07] #484 closed, assigned to bfleischer

[2018-12-18 06:08] bfleischer commented on #480
No feedback, closed.

[2018-12-18 06:08] #480 closed, assigned to bfleischer

[2018-12-18 09:08] singularitti commented on #550
Is there a way for dynamically switching themes between operation systems?

[2018-12-20 12:31] mixtly87 commented on #350
How to uninstalling osxfuse as if it never existed on macOS?

The first time you install osxfuse on your machine, you get the 'System Extension Blocked' dialog.

If you uninstall osxfuse and reinstall it, you will never again get the 'System Extension Blocked' dialog.

I would like to bring the system into such state that it shows that dialog so that I need to manually Allow the extension in Secur

[2018-12-20 12:33] mixtly87 opened #565 "How to uninstall osxfuse as if it never existed on macOS?"
The first time you install osxfuse on your machine, you get the 'System Extension Blocked' dialog.

If you uninstall osxfuse and reinstall it, you will never again get the 'System Extension Blocked' dialog.

I would like to bring the system into such state that it shows that dialog so that I need to manually Allow the extension in Security & Privacy options.

Is there a way to do that?

[2018-12-20 13:36] ghost commented on #565
"Test User Approval Kernel Extension Loading on mac (TN2459)"
https://stackoverflow.com/a/52888465/1032277

[2018-12-24 00:23] keeninter opened #566 "OpenDrive on Mojave: only read operations work."
After createFileAtPath(),  setAttributes() and writeFileAtPath() do not get called, removeItemAtPath() is called instead. Tested on Mojave (including 10.14.2) with OSXFUSE 3.8.2 and 3.8.3. Surprisingly, on at least one machine everything works fine.

[2018-12-27 12:11] mixtly87 commented on #558
I see that 3.8.3 is in Pre-Release state for 9 days now. When can we expect it to be official release?

[2018-12-28 08:08] senochow commented on #542
https://osxfuse.github.io/
3.8.2 is ok

[2018-12-30 18:45] #565 closed, assigned to bfleischer

[2018-12-30 18:46] bfleischer commented on #559
No feedback, closed

[2018-12-30 18:46] #559 closed, assigned to bfleischer

[2018-12-31 00:07] andreiborisov commented on #550
Separate build for macOS 10.14+?

[2019-01-01 00:21] superbogie commented on #550
Granted this is only a minor cosmetic issue but if it's ever addressable - and in addition to where singularitti pointed to, maybe also look here?:
https://developer.apple.com/documentation/appkit/supporting_dark_mode_in_your_interface

[2019-01-02 10:54] TheGauge commented on #545
I'm also experiencing this issue on two separate MacBooks, one with a vanilla Mojave install, the other upgraded from High Sierra.  They have very little common software installed on them but they do have FUSE for macOS (v3.8.2) and pCloud Drive (now v3.7.7) installed.

Often when I shut down the computers the menu bar disappears but the desktop and dock remain and nothing happens.  I can still la

[2019-01-02 22:04] asayyah commented on #536
Any updates on this? I'm facing the same issue.

[2019-01-05 10:44] ggrelet commented on #437
Here is another workaround for those of you who can't perform a proper click due to "X" Application being open.
•Open the **Apple Script Editor**,
•Copy / paste this code
[code]
But change the coordinates in the `{ }` to make it match the actual **Allow** button. You can find those coordinates easily with the built-in screenshot tool (`Cmd + Shift + 4` by default).
•Build
•Launch (you probably nee

[2019-01-08 17:50] jee1mr commented on #363
Any update on this?

[2019-01-11 09:45] ghost commented on #485
I am not using osxfuse, and I have the same issue.
Here are some further threads on this topic. They have not solved the problem for me, but might help you debug.

https://answers.microsoft.com/en-us/msoffice/forum/msoffice_word-mso_mac/how-to-stop-mac-creating-a-separate-backup-folder/e3021801-2f82-4a64-b3f6-95675fef337d

https://community.spiceworks.com/topic/1946621-tmp-file-issue-office-2016-f

[2019-01-11 11:15] rainforest1155 opened #567 "Kernel panic with 3.8.2 on OS 10.12.6"
I just updated (2 days ago) from 10.11.6 to 10.12.6 and using an external drive with a Veracrpt container, after about 20 min, my Mac crashed.

This is the panic log:
[code]

Note that the external drive and Veracrypt container are formatted with NTFS (I'm using Paragon NTFS for Mac), but it doesn't seem to be part of the backtrace from what I can tell.

Are you able to tell anything from the log?

[2019-01-13 21:18] kaushiks opened #568 "Stat after a rename might return the wrong atime"
The attrcache has to be invalidated after a rename (unless the volume's been mounted with noatime?)
[code]

[2019-01-14 08:10] z3thon commented on #533
I have the same need. Is this number set somewhere in the config files? How can I increase the number of mounts I can have? Is there some code I could just modify myself? Or is there a lot of math that goes on that would have to be updated to run more than 64 mounts?

[2019-01-14 09:30] z3thon commented on #533
I have found the setting buried within fuse_param.h

If I were to update this myself and push the update to you would you accept it? Or is this still a change you feel uncomfortable making? I would like to set the limit to 512 or even 1024.

[2019-01-14 12:44] irzyxa commented on #166
Do you have any examples at the moment?

[2019-01-15 03:50] M0pbucket commented on #567
I have been getting kernel panics sporadically since October 2018. The can happen multiple times a day or every few days. There appears to be no regularity to it except that it continues to happen.

I am using Fuse 3.8.3, the same issue was happening on a previous version.

I am mainly using AFPS Mac filesystem but also use Box Drive (Dropbox alternative). Occasionally the kernel panic reports tha

[2019-01-16 00:44] esetleges commented on #542
I guess (if you have done it before) you have to disable the SIP in recovery mode then move the ntfs-3g tools into the system (root) and after enable SIP again.

I got no right to write NTFS (after upgrading to Mojave) while was not repeating these steps until the last point (csrutils disable, blabla, csrutils enable):
https://www.howtogeek.com/236055/how-to-write-to-ntfs-drives-on-a-mac/

Advise

[2019-01-16 03:59] taiyodayo commented on #503
I have the same problem and it is quite a big problem for me since our office switched entirely to Google drive file stream.
Has anyone found a workaround yet?

[2019-01-21 18:38] aiasi opened #569 ".fuse_hidden files linger after upgrade to macOS Mojave"
After I upgraded from High Sierra to Mojave, I began noticing the .fuse_hidden files appearing, especially if I open/edit/save a Word file.
I was able to reproduce the problem with the LoopbackFS example program and w/both OSXFUSE 3.8.2 and 3.8.3.

Steps to reproduce:
0) Environment: macOS Mojave 10.14.2 / FUSE 3.8.3
1) Download fresh copy of LoopbackFS
2) Launch in Xcode ver 10.1
3) Drag an exist

[2019-01-24 23:47] cnesty opened #570 "sshfs freezes on mac osx mojave 10.14.1 with vagrant"
craignesty$ vagrant --version
Vagrant 2.2.3
SHFS version 2.5 (OSXFUSE SSHFS 2.5.0)
OSXFUSE 3.8.3
FUSE library version: 2.9.7

Guest Additions Version: 5.2.22
default: VirtualBox Version: 6.0
default: Mounting shared folders...
    default: /vagrant => /Users/craignesty/Documents/GATECH/CS6200

Vagrant creates a shared folder.

If I do this
 sshfs vagrant@default:/vagrant/myproject ./myproject

My

[2019-01-25 20:30] jbarros35 commented on #342
oh boy that's terrible annoying!

[2019-01-28 12:13] M0pbucket commented on #567
These kernel panics happen very regularly- I have had 4 today. Is there any fixes for this?

[2019-01-29 18:55] stysedo opened #571 "Conflicting info for stable vs. pre-release versions"
Not to be too pedantic but...
The main FUSE page indicates that version 3.8.3 is the current stable release, while the Downloads[1] page indicates that 3.8.2 is the "Latest Release" and 3.8.3 is "Pre-release."

[1] https://github.com/osxfuse/osxfuse/releases

[2019-01-29 19:06] bfleischer commented on #571
Thanks, fixed!

[2019-01-29 19:06] #571 closed, assigned to bfleischer

[2019-01-30 10:18] koczkatamas opened #572 "Question: hardened runtime / kext-dylib compatibility"
First of all, I'd like to thank you for this great project! :)

So we are turning on [Hardened Runtime](https://developer.apple.com/documentation/security/hardened_runtime_entitlements) in our application and we have to [disable library validation](https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_security_cs_disable-library-validation) to be able to load osxfuse's d

[2019-01-31 12:26] bfleischer commented on #572
Including the dylib in your application will cause issues. Currently the library checks the version of the kernel extension. If it does not match the library's version you won't be able to mount your volume. Right now there is no guarantee that an older dylib will work with a newer kernel extension.

However, I'm planning to remove the version check when the interface is stable. But this might tak

[2019-01-31 12:26] #572 closed, assigned to bfleischer

[2019-01-31 12:39] bfleischer commented on #567
@rainforest1155 please report the panics to Apple. The panic you posted here is not caused by FUSE for macOS. As you can see both kernel extensions in the backtrace (com.apple.driver.DiskImages and com.apple.iokit.IOStorageFamily) are part of macOS. There is no indication that FUSE might be to blame for the panic.

@M0pbucket The panic log does not point to Box or FUSE. The backtrace does not cont

[2019-01-31 12:39] #567 closed, assigned to nobody

[2019-01-31 21:02] M0pbucket commented on #567
Thank you for your help.

[2019-02-01 00:32] nickolaym commented on #556
This crash appears only after I mount a remote volume.
So it makes me blame.
Maybe FUSE just triggers my system to go to the fall, - some specific memory layout... I don't know.

[2019-02-06 17:36] amirrajan commented on #544
This is the fix: https://github.com/amirrajan/RubyMotionBridgeSupport/commit/4b821d3756d2b40c739f1d40a785e3165566e573

[2019-02-06 17:36] #544 closed, assigned to nobody

[2019-02-11 07:07] louismartin commented on #424
Same problem with EncFS that uses osxfuse, any news on this?

[2019-02-13 11:44] jmmv commented on #352
Maybe my original context for this issue was wrong. I was just able to run Xcode tools after "re-exposing" the whole root directory under a FUSE file system. (Or maybe Xcode has been fixed to cope with the lack of `getattrlist`.)

However, while investigating the code, I found that the OSXFUSE kext claims to support `VOL_CAP_INT_ATTRLIST`, which corresponds to the `getattrlist` vnop — but this vno

[2019-02-18 04:09] ragreddy commented on #341
@pdgehrke's link helped me.
https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/

[2019-02-18 07:22] karanambhanu commented on #548
It happens with Mac OS High Sierra and Mojave. At certain times I am able to open a word/excel document in fuse mounted folder. But some times, the word /excel document does not open and shows a pop up saying  " Word experienced an error trying to open the file.Try these suggestions
* check the file permissions for the document or drive
* Make sure there is sufficient free memory and disk space.
*

[2019-02-19 03:21] ahmedelz commented on #504
Thanks @AdanCortes. These commands worked for me on 10.14.3.

[code]

[2019-02-19 04:39] AdanCortes commented on #504
I'm glad it helped.
El feb. 18, 2019 21:21, "ahmedelz" <notifications@github.com> escribió:

[2019-02-22 00:11] z3thon commented on #533
Ok, I have tinkered a bit and it's clear that you can't just change the # 64 to whatever number you want it to be. Been compiling my own versions of the code to get what I need and the program isn't having it.

Where in the code are there other dependencies related to the max number of possible mounts?

[2019-02-22 01:08] z3thon commented on #533
So I'm testing a 128 connection version but I don't know what all dependencies are. There are some in fuse_param.h and fuse_preprocessor.h, are there any other dependencies any where else?

After I find them all and make the changes can I make a push to git?

[2019-02-22 02:38] z3thon commented on #533
helper.c line 154

64 -> 128

How much of the code relies on the exactness of all the parameters listed out in the preprocessor file?

I'm not talented enough to write new code if it's not just based off these numbers. Is there any way we could pay you to make the number of mountable objects unlimited or at least make the roof something like 4096 instead of 64?

@bfleischer

[2019-02-22 20:44] z3thon commented on #277
@ratson are the mount points in your system similar to symbolic links in a file system? I know it's been a while since you worked on whatever project it was, but I'm running into the same problem and looking for some solutions. I'm essentially making symbolic links for users and being limited to 64 symbolic links makes scalability difficult.

Was your implementation and use of zfs similar to this?

[2019-02-24 10:45] ScuroNeko opened #573 "Sometimes disk is read-only"
Sometimes after reboot from Windows in mac, volume is read-only.

[2019-02-26 21:47] jeffreydlong commented on #533
My testing indicated that changing OSXFUSE_NDEVICES in fuse_param.h was all that was needed.  But I also don't have a file named helper.c

[2019-02-26 23:24] yang opened #574 "ntfs-3g files not showing in Finder"
I realize ntfs-3g is a different project, but reporting in case others have seen this and it's not just me (or in the off chance it's an osxfuse issue), especially since this is a common use case and documented on the osxfuse wiki.

On Mojave, installing osxfuse + ntfs-3g via either brew or macports mounts fine, but files don't show up in Finder (can only see folders), even though all files are vi

[2019-02-28 18:26] xguse commented on #481
krickets... ?

[2019-03-02 17:21] gdudek opened #575 "Fuse for Google Drive: suggest you add link for fuse-google-drive"
There is a Google Drive fuse file system that should be added to the list:

https://github.com/jcline/fuse-google-drive

[2019-03-07 05:27] MichalMisiaszek commented on #447
Amazing but true! Thanks

[2019-03-10 17:02] Dauphin38 commented on #556
Finder crash with 3.8.3 and Mojave bêta 10.14.4 (18E205e)

[2019-03-10 17:03] Dauphin38 commented on #545
Finder crash with 3.8.3 and Mojave bêta 10.14.4 (18E205e) and Cloud 3.7.9

[2019-03-11 11:33] Lite5h4dow opened #576 "SSHFS returns "missing host" when attempting to connect to host."
Command:
`sshfs uname@xxx.xxx.xxx.xxx ~/Net\ Drive/ .`

Expected result:
successful connection

Actual Result:
[code]

steps to replicate:
unknown (jus ttry connecting to a host i guess)

Further Details:
SSH works fine. using ftp clients works fine, just not sshfs 🤷‍♂️

[2019-03-13 02:58] AAR15 opened #577 "Lacie Public Private MacFuse"

[2019-03-13 04:02] AAR15 opened #578 "Lacie Public Private"
1.  I have a Lacie 1 TB external hard drive with a Google developed " Public / Private " section.
It worked fine on a 2012 iMac3.4GHz intel i 7 running Sierra , then High Sierra. Then when I installed Mojave the " Public/ Private " section opened but became " read only ".

2.  Then ( February 2019 ) the iMac hard drive started to fail.

3.  I replaced the iMac with a new 2017 model with Mojave. I

[2019-03-13 19:36] manuelcherubim commented on #390
Since the current implementation of sshfs for osx

-contains obvious and major bugs (unusable for me through slow speed and Umlaut issues)
-isn't maintained and outdated (last version 2.5.0 from 2014)
-leads to issues on osxfuse like: "SSHFS release on osxfuse homepage is quite old, and is confusing me" #404

a libfuse3 upgrade is highly requested so the current releases of libfuse SSHFS could be

[2019-03-13 23:12] overheadhunter commented on #390
Cryptomator would benefit from faster directory listings, if readdirplus could be implemented. That said, we would like to create a libfuse Java binding using Panama, which is currently scheduled for Java 13 in late 2019.

[2019-03-19 10:57] AdithyaURRao commented on #548
Even i am facing same issue. Even if you try to modify a word/excel file same issue occurs all the time in FUSE mounted folder.
Any resolution for this ?

[2019-03-19 11:01] karanambhanu commented on #548
I haven't make it to work so far. Not sure if this is something related to Microsoft office package not supporting the files in a mounted folder.??

[2019-03-19 21:58] mfeblowitz opened #579 "Why are directory dates all set to Dec 31 1969 on s3fs mounted dirs?"
After mounting an s3 bucket, the mount point and all subdirectories show the date `Dec 31  1969` and a size of `0`. This also is the case for (sub)directories newly created on the cloud side.

The dates look ok when looking on S3 directly, and also when using fuse on Linux.
This is v 1.85 on Mojave 10.14.3

[2019-03-20 02:19] deepgoyal25 opened #580 "App crashing with SIGABRT"
Hi Team,

We have a macos app which is built using Xamarin Mono framework and we are using osxfuse in our app.
We are noticing that the app is crashing randomly for our users and we are not able to root cause the issue. Below is the stack trace we got for our signal handler: -

0   AmazonWorkDocsDriveNativeDrive.dylib 0x000000010bf0426a AppErrorHandler + 138
1   libsystem_platform.dylib

[2019-03-20 14:32] wanderingsol commented on #574
i am seeing this issue as well, tried with different options but to no avail. commands tried are:
ntfs-3g /dev/disk2s1 /Volumes/NTFS -o local -o allow_other -o defer_permissions
ntfs-3g /dev/disk2s1 /Volumes/NTFS -o local -o allow_other
ntfs-3g /dev/disk2s1 /Volumes/NTFS -o local

[2019-03-21 05:39] deepgoyal25 commented on #580
Below is another instance where we are noticing app crashing on setattr_x call: -

Thread 9 Crashed:: tid_c203
0 libsystem_kernel.dylib 0x00007fff59c19b66 __pthread_kill + 10
1 libsystem_pthread.dylib 0x00007fff59de4080 pthread_kill + 333
2 libsystem_c.dylib 0x00007fff59b751ae abort + 127
3 com.Amazon.MyApp 0x000000010fd1ed3b mono_handle_native_crash + 603
4 libsystem_platform.dylib 0x00007fff59dd

[2019-03-21 16:50] deepgoyal25 commented on #580
We are using Fuse 3.8.2 at present in which we are getting the above error. In Fuse 3.8.3, we have the commit https://github.com/osxfuse/kext/commit/416c143fef5853bd24460522cc882559c3164f73 which fixes the vnode issue after file is renamed. Can someone tell if having FUSE 3.8.3 will fix the above issue?

@bfleischer Can you please provide your comments?

[2019-03-22 12:48] Hamid-Najafi opened #581 "Cant mount ext4"
Error:
`Assertion failed: ((size_t)pread_ret == size), function __disk_read, file disk.c, line 110.`

Command:
`sudo ext4fuse /dev/disk1s2 /Volumes/rpi -o allow_other`

[2019-03-23 23:25] profrink commented on #384
I had the same problem but for me helped only following option:
sshs user@ip:/path mountpoint -oauto_cache,reconnect,defer_permissions,noappledouble,negative_vncache,volname=

The remote folder is shown as volume with my login name. If I use a volname=test I got a empty finder folder.

[2019-03-26 04:41] noobmaster29 commented on #578
I'm having the same issue.

[2019-03-27 04:14] lassiter commented on #363
I can confirm it's a issue on Mojave too.

[2019-03-27 17:12] Bibi commented on #574
Same issue here. Everything up-to-date, macOS 10.14.4.

[2019-03-28 03:54] akositey commented on #542
Thanks you for this! I'll share mine for others to try.

In my case also updating Fuse did not do the job since. I think after update(maybe to 10.14?) somehow Homebrew went missing in the system but FUSE remained. I did these steps:
1. Update Xcode from App Store (Since it prompted me to do so the other day)
2. Update Fuse to latest 3.8.3
3. Install Homebrew
4. Reinstalled NTFS-3g (followed the [N

[2019-03-28 09:56] legsak1mbo commented on #548
We've seen the same here. But we also see this behaviour with Word on an SMB share mounted via Cmd+K in the Finder so I would suggest that it's actually a Word bug.

[2019-03-29 05:52] AAR15 commented on #578
I may be able to help. After a ridiculous path I got there.

1. 	Forget OSXFUSE 3.8.3 / Compatibility layer - doesn’t work.

2.     Forget Windows unless the external drive has been set up for Windows / Mac

3.     Forget Mojave

4.     Forget Lacie - they would not have a clue. The advice I got from them was 1. erase the disk ( exactly what I did NOT want ) or 2. plug into a windows machine - the

[2019-03-29 18:06] mfeblowitz opened #582 "Device not configured, not unmountable"
Scenario:

- Mac loses contact with s3
- any access results in a "Device not configured" message
- umount complains of device busy; same for the recommended `diskutil unmount`
- lsof does not find the mounted dir - not when specified as device id or mount path

So far, the only way I've found to have it let go is to reboot.

Any recommendations?

[2019-03-29 18:18] mfeblowitz commented on #582
according to [this](https://stackoverflow.com/questions/14057830/unmount-the-directory-which-is-mounted-by-sshfs-in-mac), the following command does work:

`umount -f <path>`

[2019-03-29 18:18] #582 closed, assigned to nobody

[2019-03-29 23:39] kousu commented on #519
I'm seeing this too.

I just discovered [`noappledouble`](https://github.com/osxfuse/osxfuse/wiki/Mount-options#noappledouble) and [`noapplexattr`](https://github.com/osxfuse/osxfuse/wiki/Mount-options#noapplexattr) yesterday and added them to my mount command. I really like that you exposed these options because these "dot underbar" files (which is what `dot_clean(1)` calls them) are messy, but w

[2019-03-30 18:49] csuka commented on #363
any fix?

[2019-04-01 18:16] brett-hosking commented on #574
Also having this problem, macOS 10.14.4

[2019-04-03 15:52] Bibi commented on #574
From [https://www.tuxera.com/community/ntfs-3g-faq/](url):
"If you use Mac OS X or FreeBSD and have at least one very long filename with national characters and the filename length translates into more than 255 UTF-8 bytes (higher chance with Korean and Greek languages) then Mac OS X and FreeBSD will not show any files in the directory."
That might be the problem in my case!

[2019-04-03 16:37] brett-hosking commented on #574
That doesn't seem to be the problem for me. I have tried multiple hard drives, including some that have been freshly formatted (I created some files to test). No joy :(

Perhaps not a huge problem as I can still access them via the terminal but it would be nice to be able to use the Finder as well.

[2019-04-05 16:10] Longhanks opened #583 "Sign with custom Kernel Extension certificate"
Hi,

in case that I've got certificates for Developer ID Application, Developer ID Installer and one for signing Kernel Extensions (pending), what's the preferred way of signing the frameworks, libraries and the kext with those certificates? When providing the argument `--code-sign-identity` the `build.sh` script errors out with `Illegal option 'code-sign-identity'`.

Thanks for any help!

[2019-04-05 16:30] bfleischer commented on #583
Andreas, please use the official releases instead of building FUSE yourself.

If you absolutely need to build FUSE yourself because your life depends on it, you need to make sure to completely rebrand it, otherwise it will interfere with official releases. This is a lot of work, complicated, and error prone. It also means you will need to maintain your FUSE fork in the future, resulting in even mo

[2019-04-05 16:30] #583 closed, assigned to nobody

[2019-04-06 19:35] exiledpoacher commented on #545
Upgraded FUSE to v3.8.3 (including MacFUSE compatibility layer) with pCloud 3.8 and macos 10.11.6 (El Capitan) on my MacBook 5.2 (White 2009 model) seems to have solved the shutdown/restart problem discussed above.

[2019-04-09 09:36] Longhanks opened #584 "Enable hardened runtime"
Hi, sorry to bother you again.

I'm currently trying to get an application notarized as is required beginning in macOS 10.14.5 (see https://developer.apple.com/documentation/security/notarizing_your_app_before_distribution), but I'm getting into trouble, because osxfuse is not notarized and cannot be because it doesn't use the hardened runtime.

The hardened runtime can be enabled by providing the

[2019-04-09 19:20] jtpereyda commented on #437
Reports of uninstalling BetterTouchTool suggested that I should uninstall a similar extension, SteerMouse. That Worked for me.

[2019-04-10 13:33] wolfposd commented on #384
This seems to be unresolved,

Whenever Im mounting a network drive with sshfs some of the files/folders are not visible from finder, but they do show up in terminal

OSX: 10.14.4
SSHFS version 2.10
OSXFUSE 3.8.3
FUSE library version: 2.9.7

Im mounting with no special options:
`sshfs username@networkdrive:/path/ ~/mnt/path`

in Finder some folders appear empty, but when I `cd` there and do `ls -l`

[2019-04-10 18:13] bfleischer commented on #584
Are you bundling libosxfuse with your app?

[2019-04-10 22:40] kelek commented on #478
All I needed was `-o follow_symlinks`.  The options above didn't work for me when combined with `,IdentityFile=<file>` and produced a `failed to mount ... mnt@/dev/osxfuse0: Operation not permitted`, most likely because it was a `sshfs` without running as root.

[2019-04-11 08:51] Longhanks commented on #584
Not directly inside of the application bundle, but I'm thinking of shipping a *.pkg installer that contains Bundle.pkg and PrefPane.pkg from osxfuse (as well as the application bundle), so that potential users don't have to run two installers. This *.pkg currently fails notarization with for example the following issues:

[code]

[2019-04-11 08:52] Longhanks commented on #584
Not directly inside of the application bundle, but I'm thinking of shipping a *.pkg installer that contains Bundle.pkg and PrefPane.pkg from osxfuse (as well as the application bundle), so that potential users don't have to run two installers. This *.pkg currently fails notarization with for example the following issues:

[code]

[2019-04-12 18:13] bfleischer commented on #584
Ok, this is bad. Enabling the hardened runtime requires that binaries are built with at least macOS SDK 10.9. Most parts of FUSE are built with an older SDK. The fastest way to address this is most likely dropping support for anything below macOS 10.9.

[2019-04-15 15:11] dmitryd commented on #384
`-o defer_permissions` always helps me.

[2019-04-15 15:33] netheril96 opened #585 "Unicode normalization for Finder"
The original issue is [here](https://github.com/netheril96/securefs/issues/74). The gist: even though securefs, a FUSE filesystem I've written, passes filenames as is, Finder insists that the filenames must be in NFD format, as if securefs were the same as HFS+. So why? Does Finder treats any osxfuse volume in the same way as HFS+ volume, or do I have pass some flags to osxfuse to signal that it d

[2019-04-17 02:34] SombiriX commented on #576
Try changing the command to `sshfs uname@xxx.xxx.xxx.xxx:/absolut/path/to/Net\ Drive/ .` the `:` is required to specify a remote path.

[2019-04-17 07:08] mixtly87 opened #586 "Notarizing osxfuse or apps using it"
Signing your apps for Gatekeeper: https://developer.apple.com/developer-id/

Apple: _Starting with the public release of macOS 10.14.5, all new kernel extensions and updates to kernel extensions need to be submitted for notarization._

Is there going to be a support for this for osxfuse? Will osxfuse get notarization? If not, will we still be able to notarize apps using osxfuse under the hood?

[2019-04-18 12:13] hjmallon commented on #586
Related to https://github.com/osxfuse/osxfuse/issues/584

You should be able to notarize apps with OSXFUSE in their installation bundles when the above issue is addressed.

[2019-04-20 05:48] wmertens commented on #567
I just had this same panic (the one in vm_pageout) in a 2017 MBP that got an SSD replacement under the program, on 10.14.4 with nothing installed. The only difference is the line number.

I never had this crash before the replacement.

So I'm guessing this is a hardware issue I'll have to return the MBP again and be without it for another week, in a possibly endless loop :(

[2019-04-22 11:56] arvgord opened #587 "offset 0 in the write method several times during writing a file"
@bfleischer Thank you for implementation fuse for macOS!
I develop a network file system on JAVA for macOS with the help of OSXFuse and java library [jnr-fuse](https://github.com/SerCeMan/jnr-fuse).
It works mostly well, I can read data from the server and can write data to the server. But sometimes errors occur. I tested it on macOS High Sierra 10.13.6 and macOS Mojave 10.14.3 on both systems was

[2019-04-23 08:08] netheril96 commented on #585
Is anybody monitoring this issue tracker at all?

[2019-04-23 21:31] aiasi commented on #587
I believe I am seeing something similar to your problem. In my case, I'm writing a file and sometime before its done with all the writes, a read() is called on that same file (using a different FD). That read causes the writes to reset to almost the beginning of the file and fills it with junk data.

Appears to occur at random times but perhaps in conjunction with previously written files. The key

[2019-04-25 01:51] cafarm opened #588 "Allow osxfuse to function on macOS 10.13+ without reboot"
This may not be possible with Apple’s new restrictions in 10.13+ on third party extensions, but there are use cases where a machine cannot be rebooted but would still like to utilize osxfuse.

One use case that’s of interest to me is on cloud CI providers like Travis CI where dependent software needs to be installed on-the-fly during each build. osxfuse previously worked for this use case (pre 10.

[2019-04-29 06:59] arvgord commented on #587
Yes, read is called every time when offset reset to 0.

[2019-04-29 21:42] kainjow commented on #580
Seems to be #356

[2019-04-29 23:38] kainjow commented on #409
@bfleischer any update on a possible fix for this?

[2019-05-01 16:16] bfleischer commented on #409
@kainjow The rename issue should be fixed in version 3.8.3. Did you test with 3.8.3?

[2019-05-01 16:47] bfleischer commented on #409
Scratch my previous comment. I'm able to reproduce the issue with the latest version of FUSE.

[2019-05-01 17:24] kaushiks commented on #409
@bfleischer @kainjow The rename issue is mostly fixed. Please see https://github.com/osxfuse/kext/pull/12 for a fix to an issue we ran into in our testing.

[2019-05-01 17:25] bfleischer commented on #409
Ok, after performing some more tests I can confirm that the fix to #466 in version 3.8.3 fixed the original issue @sarat-ravi described. When running @sarat-ravi test application on 10.13 and 10.14 `exchangedata()` fails with `Operation not supported`. This is due to the fact that Apple did deprecate the `exchangedata()` function in 10.13 and replaced it with `renamex_np()`. `exchangedata()` does

[2019-05-01 17:27] bfleischer commented on #409
@kaushiks Thanks. I've already merged your fix in the upcoming 3.9.0 release. This is the version I ran the tests with.

[2019-05-01 17:39] kaushiks commented on #409
@bfleischer Thank you!

[2019-05-01 19:51] bfleischer commented on #409
For me @sarat-ravi's test code works fine on 10.12, 10.13, and 10.14, so I'm closing the issue.

[2019-05-01 19:51] #409 closed

[2019-05-03 20:35] bfleischer commented on #436
@jeremyspiegel, @kainjow FUSE for macOS 3.9.0 adds a new mount option called `noautonotify`. When this option is present the kernel extension will no longer post file system change notifications automatically. Then it is completely up to you to post notification for remote changes.

[2019-05-04 12:26] bfleischer commented on #586
The latest release of FUSE for macOS is fully notarized.

[2019-05-04 12:27] #586 closed, assigned to bfleischer

[2019-05-04 12:29] bfleischer commented on #584
FUSE for macOS 3.9.0 is fully notarized. I enabled the hardened runtime for all executables. However, you will still need to allow third party libraries when enabling the hardened runtime.

[2019-05-04 12:29] #584 closed, assigned to bfleischer

[2019-05-04 12:38] bfleischer commented on #588
FUSE does not require you to reboot your Mac on a fresh install. The Travis CI issue you are referring to is caused by Apple requiring users to consent before new kernel extensions can be loaded for the first time. Apple will not change this policy, so you will need to talk to the Travis CI guys. There is nothing that could be done from the FUSE end to address this issue. Travis needs to disable t

[2019-05-04 12:38] #588 closed, assigned to bfleischer

[2019-05-04 12:39] bfleischer commented on #581
Please raise this issue with the maintainers of ext4fuse.

[2019-05-04 12:39] #581 closed, assigned to bfleischer

[2019-05-04 12:43] bfleischer commented on #580
@deepgoyal25 I tried contacting you via email. No one else reported this issue. Unless Amazon is willing to sponsor the FUSE for macOS project financially this issue is closed. Sorry, I'm done working for free for big companies.

[2019-05-04 12:43] #580 closed, assigned to bfleischer

[2019-05-04 12:48] bfleischer commented on #578
Please refer for all Lacie Public Private issues to Lacie. Lacie is not using FUSE the right way and bundled a very outdated version of FUSE, the last time I checked. I tried to contact them but was ignored.

[2019-05-04 12:48] #578 closed, assigned to bfleischer

[2019-05-04 12:49] #576 closed, assigned to bfleischer

[2019-05-04 12:53] bfleischer commented on #579
Please raise this issue with the maintainers of s3fs. Unless s3fs provides the correct dates there is not much FUSE can do.

[2019-05-04 12:53] #579 closed, assigned to bfleischer

[2019-05-04 13:00] bfleischer commented on #574
Please note that NTFS-3G and FUSE for macOS are independent projects. Should you run into NTFS-3G related issues please post the issues on the NTFS-3G support forum at http://tuxera.com/forum/viewforum.php?f=7.

[2019-05-04 13:00] #574 closed, assigned to nobody

[2019-05-04 13:03] bfleischer commented on #570
I this still an issue?

[2019-05-04 13:07] bfleischer commented on #566
Please raise this issue with the OpenDrive team.

[2019-05-04 13:07] #566 closed, assigned to bfleischer

[2019-05-04 13:08] bfleischer commented on #556
Since there have not been any new insights, I'm closing the issue.

[2019-05-04 13:08] #556 closed, assigned to bfleischer

[2019-05-04 13:12] #542 closed, assigned to nobody

[2019-05-04 13:15] bfleischer commented on #524
You need to provide more information. With the information given I could only guess and that's not very productive. Try to provide step-by-step instructions so that I can reproduce the issue.

[2019-05-04 13:17] bfleischer commented on #537
Is this still an issue with the latest release of FUSE for macOS?

[2019-05-04 13:22] bfleischer commented on #549
I'm sorry for the late reply and that I cannot be of more help, but I have no idea where the "no path for address" could be coming from. All I can say is that FUSE volumes will be unmounted automatically on macOS in case the file system daemon becomes unresponsive for 60 seconds (default value). This time limit can be increased to up to 600 seconds. I don't know your specific file system but if it

[2019-05-04 13:22] #549 closed, assigned to bfleischer

[2019-05-04 13:24] bfleischer commented on #521
Sorry for not replying earlier. I'm assuming by now you've found a solution.

[2019-05-04 13:24] #521 closed, assigned to nobody

[2019-05-04 13:26] bfleischer commented on #523
Sorry for not replying earlier. If this is still an issue feel free to reopen the issue.

[2019-05-04 13:26] #523 closed, assigned to nobody

[2019-05-04 19:41] yang commented on #574
Sadly that forum has been frozen for some time now.

[2019-05-04 22:30] kainjow commented on #550
Linking to 10.14 doesn’t mean you can’t support older versions. For example the nib could stay the same but at runtime could update the control colors via the @available condition.

[2019-05-04 22:30] kainjow commented on #575
Hasn’t been updated in 3 years? Why not just use Google’s official products?

[2019-05-07 19:32] bfleischer commented on #568
Thanks for looking into the issue!

[2019-05-07 19:32] #568 closed, assigned to bfleischer

[2019-05-08 12:17] bfleischer commented on #587
@arvgord, @aiasi Can you reproduce the issue with the loopback file system? I need to be able to reproduce the issue in order to fix any bugs. Are you both developing file systems in Java with jnr-fuse?

I'm assuming you are developing commercial software? If so, please contact me via email. You can find my email address on my GitHub page. I'm done working for free and am looking for sponsors.

[2019-05-08 12:18] #575 closed, assigned to nobody

[2019-05-08 15:46] aiasi commented on #587
@bfleischer, thanks! No, in my case I am not using Java/JNR-fuse but C++/Swift. However, I believe I was able to resolve my problem by updating the file size attribute in attributesOfItem(). In my application, file content is dynamically manipulated and it was a matter of telling FUSE about that. I have not seen another zero-ed offset in my testing over the last few days but I have some additional

[2019-05-09 12:42] emou opened #589 "[3.8.3, Mojave] osxfuse_admin_group is 0 after initial install, 80 on kext reload"
Repro case: OSX Mojave, osxfuse 3.8.3, seems to work with 3.9.0 although I couldn't find any related changes that explain why.

* On a fresh OSX installation install for the first time, allow the blocked extension in the preferences pane.
* The admin_group is set to 0:
[code]
* Unload the module (reboot works as well)
[code]
* Load it again
[code]
* admin_group is now 80 ("admin"):
[code]

[2019-05-10 16:14] ronammar commented on #529
I can confirm this for OSXFUSE v3.8.3 and v3.9.0 with SSHFS v2.10 and macOS v10.14.4.

scp speeds are roughly 100x faster over both wifi and ethernet.

[2019-05-11 22:50] ipatch commented on #589
Can confirm getting the same reset behavior on macOS 10.13.6

[code]

**Output**

ProductName:    Mac OS X
ProductVersion: 10.13.6
BuildVersion:   17G6030

[2019-05-11 22:59] ipatch commented on #524
@lstalbow @BEFH

When y'all run 👇, what is the output of the below command?

[code]

I had to manually set mine on my box to `1` then I am allowed to mount fuse file systems without required super user privileges.  Keep in mind if you're working on a shared computer this poses possible security issues, but if you're the only person who uses and attaches file systems on your computer then I'd I set

[2019-05-11 23:11] ipatch commented on #359
@bfleischer

I'd go ahead and close some of these issues that you labeled **feedback required** it makes others browsing through open issues to find on going issues.

[2019-05-11 23:15] ipatch commented on #234
@jamie-arcc

could you be more specific with what you are not understanding?  I don't mind updating the wiki or adding new items to make things more clear if that could help.

[2019-05-14 12:52] emou opened #590 "Source code for 3.9.0 missing?"
The `osxfuse-3.9.0` tag shows an empty directory:
https://github.com/osxfuse/osxfuse/tree/osxfuse-3.9.0

Checking out with git also produces an empty directory.
The archives from there releases page are also empty, i.e. https://github.com/osxfuse/osxfuse/archive/osxfuse-3.9.0.zip

[2019-05-14 12:59] bfleischer commented on #590
That's on purpose. If you are using FUSE for macOS for a commercial software project, feel free to contact me via email. You can find my email on my GitHub page.

[2019-05-14 12:59] #590 closed, assigned to bfleischer

[2019-05-15 09:02] mk-conn commented on #570
+1 - But not especially with vagrant and not the whole machine (macOS 10.14.4), only the Finder freezes when trying to mount a remote (remote is not mounted... so I have to ctrl+c the sshfs command)

[2019-05-15 13:45] emou commented on #589
Note that it seems to work in 3.9.0 using the installer from the github releases page.
@bfleischer Is the installer in 3.9.0 by any chance setting the group in a postinstall script?
If yes, do you plan to fix it in the core code, so this behavior doesn't depend on the installer?

[2019-05-15 15:38] cpcallen opened #591 "Less convoluted volume names"
When I mount my Android phone using [Android File Transfer for Linux](https://github.com/whoozle/android-file-transfer-linux) the resulting volume gets named `OSXFUSE Volume 0 (aft-mtp-mount)`, which I do not find very meaningful or descriptive.

It would be nice if mounted volumes would get named for the device/volume being mounted or the mountpoint ("Pixel" and "pixel" respectively, in my partic

[2019-05-15 16:06] compuguy commented on #590
@bfleischer So the source code to 3.9.0 will not be released?

[2019-05-15 18:37] bfleischer commented on #591
This is not an FUSE bug. The file system is simply not providing a name for the mounted volume.

[2019-05-15 18:37] #591 closed, assigned to bfleischer

[2019-05-15 18:41] bfleischer commented on #589
When FUSE is installed, the installer tries to load the kernel extension, but does not initialize the admin group sysctl. Later when you try to mount a volume, FUSE detects that the kernel extension is already loaded and does not set the admin group either. As a workaround you can unload the kernel extension after the installation is complete or reboot your Mac.

[2019-05-15 19:23] bfleischer commented on #590
@compuguy For now I will not release the source code. To make a long story short, I cannot keep working on FUSE for free. I've been asking for financial support for three years, but nothing much came of it. Moving forward with FUSE is only possible if enough companies are willing to pay for the continued development. Please contact me via email, if you are using FUSE for macOS for a commercial sof

[2019-05-15 19:55] ipatch commented on #589
@bfleischer

Not trying to contradict what you said above but from my experience the FUSE kext does not load until I try to mount a file system that relies on the kernel extension itself.  That said, I install osxfuse via brew along with the various fuse file systems, ie. fuse-ext2 and ntfs that I work with via brew as well.  Before I upgraded to 3.9.0 the other day I was having to set the below,

[2019-05-21 08:22] emou commented on #589
@bfleischer thanks for the reply! However, I am still wondering why the behavior with 3.9.0 is different vs 3.8.3 on a fresh OSX Mojave install. Immediately post-installation (after allowing the extension) with 3.9.0 the osxfuse admin group is set to 80, while with 3.8.3 it is 0.

[2019-05-21 13:14] jief666 commented on #498
I think I have the same problem. And it's not about asian version.
In the kext, you are using MAXNAMLEN as the max length of a name. It seems logical, alright, but it's doesn't work with UTF8. One char can be 3 chars (which is common for asian version).

Try a file named : abcdefghijklmnopqrstuvwxyzàáâãäåæçèéêëìíîïðñòóôõöøùúûüýþāăąćĉċčďđēĕėęěĝğġģĥħĩīĭ

[2019-05-21 17:29] jief666 commented on #574
I've a project that use osxfuse. I have that problem on Lion, but not on High Sierra. Can't test Mojave.
I've traced everthing, using a sample with only one file called "file.txt" (no long file name or utf8 here), and I can't see anything different.
Anyone got a clue ?

[2019-05-21 21:56] alanhoyle opened #592 "On macOS 10.14.x, update throws a 32-bit warning on "ksurl""
I just updated from FUSE 3.8.x to 3.9 via the FUSE Control Panel, and when I clicked the "Update" button, it popped up a window complaining that "ksurl" needed to be updated or it would stop working on future versions of macOS. I've seen a similar pop-up for other apps that have small 32-bit pieces.

If this hasn't been updated in 3.9, it really should be pretty soon, as it will stop working in ma

[2019-05-23 21:16] jarrocha commented on #584
@bfleischer I would like to see the code changes to this latest commit you did when there are no sources when checking out the latest tag 3.9.0. I'll appreciate your help.

[2019-05-26 11:56] garfieldnate commented on #437
Does anybody else have the issue where the "allow" button doesn't even show up in the pane? This is very confusing. When I dump the currently allowed extensions, it looks like Fuse is already allowed:

    $ sudo sqlite3 /var/db/SystemPolicyConfiguration/KextPolicy
    SQLite version 3.22.0 2018-01-22 18:45:57
    Enter ".help" for usage hints.
    sqlite> .headers on
    sqlite> select * from kex

[2019-05-27 05:53] jon-blum opened #593 "Extension installer still not authorised on 10.14 Mojave"
Just did an install of OSXFuse-3.9.0.dmg on a clean Mojave VM... this is the version with the notarised disk image and binaries, which I thought would resolve the Gatekeeper-related install problems on Mojave.

The installer proceeded just fine until the last screen -- at which point it brought up the usual "System extension blocked" / "allow loading system software from developer 'Benjamin Fleisc

[2019-05-27 11:29] jief666 commented on #574
I found my problem. I was returning 0 instead of an error when there was no com.apple.FinderInfo extended attribute.
Maybe ntfs-3g is doing the same mistake ?

[2019-05-28 13:16] bfleischer commented on #593
Please read up on how kernel extension notarization works. Kernel extensions that are not notarized will not load on 10.14.5. This has nothing to do with the "Allow loading system software from developer 'Benjamin Fleischer'" dialog. Notarization is simply an additional requirement and does not replace the need to allow the software.

The fact the the "Allow" button does not appear on your system

[2019-05-28 13:16] #593 closed, assigned to bfleischer

[2019-05-28 13:19] bfleischer commented on #593
I'm using VMware Fusion and the "Allow" buttons appears as expected after installing FUSE for the first time.

[2019-05-28 13:27] #495 closed, assigned to bfleischer

[2019-05-28 13:28] #474 closed, assigned to bfleischer

[2019-05-28 13:33] bfleischer commented on #441
Has been addressed a long time ago, so I'm closing the issue. `fuse_invalidate_path()` is the function to use.

[2019-05-28 13:33] #441 closed, assigned to bfleischer

[2019-05-28 13:34] bfleischer commented on #528
I've cleaned up the milestones.

[2019-05-28 13:34] #528 closed, assigned to bfleischer

[2019-05-28 13:55] bfleischer commented on #592
The issue is fixed in the new 3.9.1 release. Thanks for reporting it.

[2019-05-28 13:55] #592 closed, assigned to bfleischer

[2019-05-28 14:00] bfleischer commented on #589
The issue is fixed in the new 3.9.1 release.

@emou Like I said code-wise there is no difference between 3.9.0 and 3.8.3 in this regard. When installing FUSE there is a race between the installer loading FUSE, which sets the admin group to 80, and the system preferences loading FUSE after the user clicked on the allow button, which does not set the admin group at all. The behavior is pretty much u

[2019-05-28 14:00] #589 closed, assigned to bfleischer

[2019-05-28 16:16] alanhoyle commented on #592
Thank you!

[2019-05-29 21:08] kainjow opened #594 "Unable to change case of file name in Finder"
If a file is renamed to be a different case in Finder, for example hi.txt -> HI.txt, Finder generates an error:

I have reproduced this with loopback FS.

[2019-05-29 21:16] bfleischer commented on #594
Is the underlying file system case sensitive?

[2019-05-29 21:18] kainjow commented on #594
Underlying FS for loopback is normal APFS, so case insensitive.

Wonder if it's related to the use of VOL_CAP_FMT_CASE_PRESERVING? https://github.com/osxfuse/kext/blob/support/osxfuse-3/osxfuse/fuse_vfsops.c#L799

[2019-05-30 12:32] peter-donov commented on #537
Sorry, for the delayed reply. I can confirm the issue was present in version 3.8.3, which was the latest version at the time you asked. I can see that now 3.9.0 is available. We'll check it out and get back to you.
However, I totally forgot to mention that we define FUSE_USE_VERSION=29. Could that be related?

BTW what does the label "sponsor needed" I check the site and it doesn't mention how to

[2019-06-04 05:20] beaurepair opened #595 "osxfuse not compatible with MacOS Catalina"
Just update to the MacOS 10.15 (Catalina) Developer Preview and FUSE now reports it doesn't work!
I'm running v3.8.2 but can't update (running the latest versions gets an error that the package is incompatible with this version of MacOS)

[2019-06-04 15:18] eskimo commented on #595
Tried to modify the build scripts and force it to compile, but even after getting it to compile it doesn't seem to work. Seems like it's gonna need some extra work.

[2019-06-04 17:14] bfleischer commented on #595
FUSE needs to be updated for every major macOS update. I'm working on it. However, Apple made it a lot harder this time.

[2019-06-04 19:32] andreasgal commented on #595
Can you explain?

[2019-06-05 18:18] Hamid-Najafi commented on #595
is there any mount_ntfs in Catalinas sbin ?

[2019-06-06 18:51] tholu commented on #595
Thanks for your work @bfleischer ! Can you tell us some details?

[2019-06-07 17:23] mcafaro commented on #595
Per [Apple](https://www.apple.com/macos/catalina-preview/features/), kernel extensions must now run in userspace:

**DriverKit and user space system extensions**
Previously many hardware peripherals and sophisticated features needed to run their code directly within macOS using kernel extensions, or kexts. Now these programs run separately from the operating system, just like any other app, so the

[2019-06-07 17:47] bfleischer commented on #595
@mcafaro That's simply not correct or at least not the full story. With macOS 10.15 Apple is introducing DriverKit, which is a replacement for IOKit kernel extensions, only IOKit kernel extensions. But FUSE ist not based on IOKit. Instead it uses the BSD VFS API of the kernel. This is a completely different kernel subsystem. There is no BSD VFS API replacement in user space in macOS 10.15.

By the

[2019-06-07 17:50] mcafaro commented on #595
@bfleischer My mistake then. I thought that's what you may be referring to with the comment "Apple made it a lot harder this time."

[2019-06-11 07:17] wenboma opened #596 "If folder name start with "[", in some Mac, children excel file , will save fail"
for example:
path is : /[Team/A/B/c.xlsx
in some Mac, edit c.xlsx,  will save fail

[2019-06-12 06:50] wenboma opened #597 "If path Deep to many , cause path length to long , docx file will can not open"
for example:
path is : /反映确认用/名称未設定フォルダ/名称未設定フォルダ/名称未設定フォルダ/名称未設定フォルダ
/名称未設定フォルダ/名称未設定フォルダ/名称未設定フォルダ/名称未設定フォルダ/名称未設定フォルダ/名称未設定フォルダ/名称未設定フォルダ/名称未設定フォルダ/名称未設定フォルダ/名称未設定フォルダ/12.docx
open 12.docx , fail

[2019-06-12 13:06] kainjow commented on #597
What app are you opening the file with? I’ve seen similar behavior and I think it’s a limitation with Office.

[2019-06-13 02:15] x572b opened #598 "multiple password prompts when mounting remote"
Hi. Client is OSX 10.14.5 Macbook Pro (and a mac mini client as well shows the same behavior).

When I sshfs another mac computer I am prompted to enter my password multiple times.

`JOHNs-MacBook-Pro-2:~ john$ sshfs katie@katieserver.local:/ ~/mnt/katie/ -o defer_permissions,Ciphers=aes128-gcm@openssh.com,Compression=no,auto_cache,volname=KatieServer`
`Password:`
`Password:`
`Password:`
`katie@ka

[2019-06-13 03:22] x572b commented on #598
Uh - I feel idiotic. I thought the password prompt was for my password (user initiating the mount) - but it was for the remote user password (indicated in the sshfs command.) So - not a bug or an issue, just a problem between the computer and the keyboard.

[2019-06-13 03:22] #598 closed, assigned to nobody

[2019-06-13 05:59] wenboma commented on #597
I try in osfuse Demo
this file can open normal in local but fuse demo can not open

[2019-06-13 13:09] pmetzger commented on #590
Just FYI, the result of this is that MacPorts is going to stay on the previous version and I suspect other people are going to fork it. I don't think this is a viable plan for you.

[2019-06-13 14:01] bfleischer commented on #590
@pmetzger Existing versions of FUSE will work on MacOS X 10.5 to macOS 10.14. As a matter of fact, none of the versions supports macOS 10.15. Forking FUSE is certainly possible and, if you like, you can go ahead and do so. It would be great to have a second developer working on FUSE. Please keep in mind that you will need a certificate for signing the FUSE kernel extensions. Even certificate appli

[2019-06-13 16:20] pmetzger commented on #590
And? That's hardly a big deal. I've been paying for a "real" developer account for many years now. It's not an impediment. MacPorts could get such a thing itself for the organization; it has friends at Apple. But I will have to think about how much I care about this. It might be easier to simply stop using the tool entirely.

You might not be able to solve it, but alienating your potential support

[2019-06-13 17:46] bfleischer commented on #590
Try applying for a kernel extension singing certificate. That's not the standard Developer ID certificate every registered developer gets. Then when you maintained a project like FUSE for macOS alone for eight years we may talk again. Have you ever written a single line of kernel code or debugged a massively parallel file system? Trust me, that's a big deal.

If you chose to stop distributing FUSE

[2019-06-13 20:24] compuguy commented on #590
@bfleischer At a minimum, the fact that osxfuse is no longer open source (nor will the source code be provided) should be notated in the README.md.

[2019-06-13 21:23] atc07 commented on #595
@beaurepair Do you have any date when you think FUSE may be updated for Catalina?

[2019-06-14 20:31] alanhoyle commented on #592
As an aside, I finally updated again  (from 3.9.0 to 3.9.2) and I can confirm that the issue did not crop up this time.  Thanks again!

[2019-06-16 14:58] pmetzger commented on #590
Yes. I've written a ton of kernel code. But this is irrelevant — it's an ad hominem. It makes no difference to my argument if I've never written a line of any sort of code.

Oh, and let me note that ad hominem attacks only make it much less likely that you will ever get what you want. Who would want to raise money to help someone who insults people?

If I decide osxfuse is important enough to me,

[2019-06-16 17:16] bfleischer commented on #590
I've been asking for pretty much any form of support for years. FUSE needs a lot of work to get where it should be. Many parts of the code are old and need to be rewritten to add support for new features or getting rid of performance bottlenecks. Most parts of the FUSE kernel extension are more than a decade old. We still don't have libfuse 3 support for macOS. The Objective-C framework does not e

[2019-06-17 04:56] vgough commented on #590
Certainly this change of status warrants a mention in the README?  I came here to diagnose an error, only to be very confused that the source here does not match what is installed.  I don't have an opinion at the moment on what development model is best, but I find it disturbing that the source / licensing status isn't mentioned at all.   If you're looking for support, it would also help to mentio

[2019-06-18 21:26] pmetzger commented on #590
Then drop it and let someone else maintain it.

[2019-06-20 08:30] stonespirit commented on #595
@bfleischer @beaurepair
When can you update the OSXFuse to support MacOS 10.15? Thanks

[2019-06-20 08:36] beaurepair commented on #595
@atc07 @stonespirit I am in now was associated with this. I just reported the issue.

[2019-06-20 09:08] legale commented on #341
Got the similar problem.
sudo sshfs -o identityfile=~/.ssh/id_rsa ...  worked
sudo sshfs -o identityfile=/root/.ssh/id_rsa ...  password asked
mount -a password asked

The problem was with the access rights:
/root/.ssh 600
~/.ssh/id_rsa 600

The problem was solved when i chmod 700 /root/.ssh

[2019-06-20 10:01] paaguti commented on #341
Pffff... that's going to break the rest of the ssh tools, I would NEVER do
it.

/Pedro A. Aranda

On Thu, 20 Jun 2019 at 11:08, legale <notifications@github.com> wrote:

--
Fragen sind nicht da um beantwortet zu werden,
Fragen sind da um gestellet zu werden
Georg Kreisler

[2019-06-20 16:45] CunningLogic opened #599 "Remove OSXFuse button does nothing"
Installed Version 3.9.2
Mojave 10.14.5
TrashCan Style Mac Pro

Trying to trace down a kernel panic after updating to Mojave, couldnt uninstall OSXFuse, updated to latest version, still can not uninstall it.

Any advice?

[2019-06-20 16:56] CunningLogic commented on #599
worked after rebooting a couple times, pretty sure issue with my mac

[2019-06-20 16:56] #599 closed, assigned to nobody

[2019-06-20 23:09] stysedo opened #600 "GPG key expired"
As of June 17, 2019 it looks as though the GPG key used to create the detached signatures for FUSE for macOS/osxfuse assets has expired.

[2019-06-20 23:49] bfleischer commented on #600
I’ve extended the key several hours ago. You’ll need to update it from a key server.

[2019-06-20 23:49] #600 closed, assigned to nobody

[2019-06-21 14:46] DiegoGiovany commented on #595
Can I help in some way? Thanks for your work man !!!

[2019-06-21 16:12] bfleischer commented on #595
I've patched most incompatibilities I could find. The issue I'm working on right now is the installer plugin (for loading the kernel extension and making sure the user allows it) being broken. This looks like a bug in Catalina but I cannot be sure.

[2019-06-21 17:53] davsinghm commented on #595
i'm running latest 10.15 version (developer beta 2) and will be happy to do any tests related to this.
apart from the new restart requirement ([50340461](https://developer.apple.com/documentation/macos_release_notes/macos_catalina_10_15_beta_2_release_notes)) on installing/loading third party kexts through system preferences, other older apps (not updated for Catalina) seems to be working fine so

[2019-06-22 22:34] tholu commented on #595
I would also happily test the new version. Will always update to the latest developer beta (since a lot of things are still broken).

[2019-06-24 08:27] ocverclock commented on #447
for me egal

[2019-06-25 14:10] ceo0x commented on #595
Thanks @bfleischer, i would like to test the beta version too! just updated to catalina public beta and cant mount my veracrypt disks now :3 .

[2019-06-25 15:30] compuguy commented on #590
Do you have a Patreon account (or with an equivalent service)? I'm sure there are users out there that would like to contribute to the continuing development of osxfuse @bfleischer.

[2019-06-25 19:01] BEFH commented on #524
Sorry I missed this. I haven't been able to reproduce this recently. It may be fixed.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-25 20:06] bfleischer commented on #524
I'm closing the ticket. Feel free to re-open it is you can reproduce the issue.

[2019-06-25 20:06] #524 closed, assigned to bfleischer

[2019-06-26 16:06] beaulac commented on #503
Issue still occurs with osxfuse 3.9.2

Incompatibility works both ways – Google Drive File Stream is not able to start if the osxfuse kext is loaded:
[code]

Workaround:
`sudo kextunload -b com.github.osxfuse.filesystems.osxfuse` to use file stream

[2019-06-26 16:59] bfleischer commented on #503
This is what happens if a developer tries to rebrand osxfuse to put their own name on it (dfsfuse) and does a poor job. Say thanks to Google. There is nothing I can do from this end.

[2019-06-26 20:46] GraemeAllanBryce commented on #595
Interesting to see that the new Amazon AWS WorkDocs mac client bundles Fuse.  It too will not load on Catilina.  Will be interesting to see if the beta can be installed to resolve this.

[2019-06-27 02:57] yanyue commented on #518
1) I umount files using -f option.
2) I remove the local dir for sshfs.
3) recreate local dir for sshfs
4) exec sshfs again.

finallly, I found dir from my Finder

[2019-06-27 20:48] wesdunn commented on #595
I'll throw my hat in the ring for testing a beta version as well. Is there a branch/submodule branch I could check out to build what you have working?

[2019-06-28 07:24] ssyroezhkin commented on #341
OMG, I've just realized the thing on my MacOS.
When I did `sudo sshfs ...` I was asked for the sudo password, not for the host password.
Stupid me. Hope it will help someone. ;)

[2019-06-29 01:54] stefkes commented on #447
@arevaloaraque  how do you use the keyboard to press Allow? I can't tab on to the button to press enter. Clicking the mouse does nothing.

EDIT: clicking with the mouse works after closing VLC

[2019-06-29 08:24] chriz74x opened #601 "after installing Mojave 10.14.5 became super slow, spinning wheel, PKD and Routined constantly crashing"
I think these tools destroyed something in my computer. Uninstalling didn't make any difference. I am constantly getting pkd crashes due to some com.apple.pluginkit not found when trying to write to some strangely named folder. I think this software is trying to register something to be made persistent in Finder or something and is failing miserably. I am not at my PC now so I can't paste the erro

[2019-06-29 09:43] bfleischer commented on #601
FUSE for macOS does not rely on plugins or use com.apple.pluginkit in any way. I don't think FUSE is to to blame for the issues you are seeing.

This reinforces my doubts about FUSE being to blame for the issues. FUSE is a completely passive software component. It does not register any components.

[2019-06-29 09:43] #601 closed, assigned to bfleischer

[2019-06-29 10:10] chriz74x commented on #601
Interesting. The only thing I did apart installing FUSE was updating brew

[2019-07-02 21:08] bfleischer commented on #590
Patreon and similar crowdfunding services do not work for me. It's complicated and I don't want to bore you with the details. There are some tax-related issues in Germany. If Plus3 IT would like to support my work, there is no need to go through Patreon, simply contact me by email.

[2019-07-03 00:23] pmetzger commented on #590
So you're upset that no one is supporting you, but you've provided no obvious way for normal people to support you? And it's "complicated" why you can't use a crowdfunding site?

[2019-07-03 09:41] bfleischer commented on #590
@pmetzger I've never complained about normal people not supporting the project and I will never ask end users for financial support. FUSE will always be free. However, what I'm asking for is for companies, that are selling FUSE-based products or rebrand FUSE and bundle it with their apps, to re-invest some of the profits in the continued development of FUSE on macOS, if they can afford it. I don't

[2019-07-03 13:22] mixtly87 commented on #595
@bfleischer Is there ANYTHING we can do to help?

[2019-07-03 17:32] compuguy commented on #590
When I asked you @bfleischer if you had a Patreon (or Ko-fi, etc), I was speaking for myself, not my current employer (my current employer doesn't sell or bundle osxfuse). I am just an end user of osxfuse.

[2019-07-03 17:50] pmetzger commented on #590
How would any of them even know how to do that if they're unaware you want help and provide no mechanism by which they can help you? (If you are providing such a mechanism, it's well enough hidden not to be obvious even if someone is deliberately looking for it.)

[2019-07-03 21:05] rccharles commented on #597
What macOS application are you using to open the file ( we are not talking about the version of Fuse )?

I have run into the length of the file path limitation in Microsoft Office in Word 2011. It's around 253 to 260 characters.

You should try making a short in length alias of the file.  Open the alias.

[2019-07-04 06:19] eternali2097 commented on #595
I'm just an early adopter. I may not be a developer but I will be happy to do some testing as well. I have recently updated to MacOs Catalina and I have some applications that need FUSE who stopped working. Looking forward to a the next FUSE beta.

[2019-07-04 06:54] emou commented on #589
@bfleischer so there's nothing that you think can be done to fix this?

[2019-07-04 07:27] bfleischer commented on #589
Please see my previous comment, the issue is fixed in 3.9.1 and 3.9.2.

[2019-07-04 07:36] teachiebird commented on #595
Looking for the next beta of FUSE to support macOS Catalina :-)

[2019-07-04 15:58] ankitshah009 commented on #595
Yes this is great news. Is there a timeline for the next beta release?

[2019-07-04 20:02] jonathancross opened #602 "Verify correct PGP key?"
Hi, I am trying to verify the **correct** GPG key used to sign releases here.
[code]

Unfortunately this key is not in the OpenPGP Web Of Trust.

I also don't see it clearly posted anywhere in forums, Keybase, or here on GitHub, so it really could be a key created by anyone hypothetically.

@bfleischer Can you please post your key fingerprint in the project [README](https://github.com/osxfuse/osxf

[2019-07-04 20:07] bfleischer commented on #602
You can find my key in the release notes for version 3.6.0. It is the first release I signed using GnuPG.

https://github.com/osxfuse/osxfuse/releases/tag/osxfuse-3.6.0

But I agree, I could post it somewhere more prominent. I don't know anybody with a "trusted" key, who could sign mine.

[2019-07-04 20:10] jonathancross commented on #602
That was fast, thanks!
I just sent you an email as you were responding.
I'd be happy to exchange signatures if there is an opportunity (my [key is in the WOT Strong Set](https://pgp.cs.uu.nl/stats/c0c076132ffa7695.html)).

[2019-07-05 03:58] wingnut87 commented on #595
Next beta is out, and installer seems to be working.
I was also having issues with PIA VPN installing, worked perfect.
Looking forward to trying OSXFuse in Catalina!!!!!!!   Then I can ditch the mohave on my platter and move to Catalina on NVME completely.

[2019-07-05 06:48] mixtly87 commented on #595
@wingnut87 What do you mean 'Next beta is out'? I don't see anything new in releases nor does FUSE PreferencesPane report that new Beta is available.

[2019-07-05 07:58] eternali2097 commented on #595
@mixtly87 I agree with you. There does not seem a new release yet.
@wingnut87  is there any private link? :P

[2019-07-05 10:45] bfleischer commented on #595
@wingnut87 The installer is still broken in macOS Catalina Beta 3. The issue is related to third-party installer plugins like the FUSE plugin to guide users to the Security system preferences to allow the FUSE system extension to load. Apple is aware of the bug and is working on fixing it.

If all goes according to plan I will post a new FUSE release supporting Catalina tomorrow.

[2019-07-05 16:30] selfagency commented on #595
I'm on Public Beta 2:

[code]

[2019-07-06 11:30] garethgeorge commented on #595
Getting a similar error to the one reported above.
[code]

[2019-07-06 14:27] davsinghm commented on #595
what you see is just package not being compatible with macOS as OP has already reported. `brew` just [downloads the same](https://github.com/Homebrew/homebrew-cask/blob/master/Casks/osxfuse.rb) .dmg file from this repo and install it through CLI tools (e.g. `pkgutil`). you would get same error if you try to manually install osxfuse .pkg file.
so, `brew` has nothing to do with this.

what should ha

[2019-07-06 18:21] bfleischer commented on #595
The new 3.10.0 release adds experimental support for Catalina.

[2019-07-06 18:21] #595 closed, assigned to bfleischer

[2019-07-06 20:26] jshicks66 commented on #595
@bfleischer   Hi Benjamin, Thanks so much for all of your efforts addressing the Catalina challenge.  Would it be possible for me to enjoy 3.10 as well.  :-)

[2019-07-06 20:29] jshicks66 commented on #595
@bfleischer I found it.  Thanks again for all of the work and rapid turnaround.  Fingers crossed. :-)

[2019-07-07 03:15] atc07 commented on #595
@jshicks66 were you able to get it to work? Whenever I download the 3.10 and restart my computer, it says Fuse needs to update, and once I select "update" it then says that Fuse is not compatible with this Mac OS version.

[2019-07-07 08:48] bfleischer commented on #595
@atc07 Which application or file system are you trying to use, that triggers the error message? Maybe the application uses a custom version of FUSE.

[2019-07-07 08:59] ghost commented on #595
I get the same error as atc07 when trying to restart my pCloud drive

[2019-07-07 13:25] jshicks66 commented on #595
@atc07 Fuse 3.10 seemed to solve my issues.  I am using macOS Catalina Version 10.15 Beta (19A501i) if that matters to the group.  After the original update to Catalina, my "Fuse dependent" application that was triggering some issues was CloudMounter.  The reason I am sharing this is that CloudMounter has a similar sort of function as PCloud.  I was able to use CloudMounter, per their recommendati

[2019-07-09 12:45] bfleischer commented on #595
@grandmasterHH From what I can tell pCloud uses an unmodified version of FUSE. Updating FUSE to 3.10.0 should work. However, pCloud Drive is currently shipping with an outdated version of FUSE. It might be best to raise the issue with the pCloud team.

[2019-07-09 16:29] compuguy commented on #584
@jarrocha He's no longer posting source code for recent releases see #590 for more information.

[2019-07-10 11:01] jshicks66 commented on #595
@grandmasterHH here is the response I received from PCloud ...   Thank you for contacting pCloud's Support.

Please note that we are not supporting the beta versions. We will support Catalina as soon as it is officially released.

Please ask if you have any questions.

Regards,
Chris
pCloud Support Team

[2019-07-10 13:03] atc07 commented on #595
Received the same response from PCloud, pushed a little more and they came back with this response:

Please be advised that our macOS team is working on the problem and in a day time, we will send you a build that you will need to install so you can work with pCloud from macOS Catalina.

Looks like it will be updated to work soon!

[2019-07-10 13:43] ghost commented on #595
Dear jshicks66,
dear atc07,

Thank you so much for your commitment. It remains exciting - thank God we can still use it over the web

[2019-07-10 15:26] jshicks66 commented on #595
@grandmasterHH @atc07
Same here... I'm happy that this is being resolved.  I was a little surprised by the initial response.  This is very encouraging.  Fingers crossed for you. :-)

support@pcloud.com
8:37 AM (2 hours ago)
to me

Hello,

I hope you are doing well.

Please be advised that our macOS team is working on the problem and in a day time, we will send you a build that you will need to ins

[2019-07-11 06:57] mixtly87 commented on #592
@bfleischer  @alanhoyle
My users still see this message without exception even when updating to latest osxfuse 3.9.2.
The way they update fuse is usually via autoinstall script instead of PreferencePane, but some also use FUSE PreferencePane to update to latest version.

Did anyone notice similar behavior?

[2019-07-11 07:46] bfleischer commented on #592
The issue is fixed in version 3.9.1. This means that users will not see the warning when updating from a version greater or equal to 3.9.1 to a newer version, e.g. 3.10.0.

Are you sure your users were already on 3.9.1 when updating to 3.9.2?

[2019-07-11 13:59] foxdelta99 commented on #504
Hello,

I've got the same kind of problem, on High Sierra. Neither dmg install nor brew install work. The brew install error is slightly different as the one stated above:
[code]

The proposed solution consisting in running the
``` sudo spctl --master-disable```
command does not work for me either.

Any ideas ?

[2019-07-11 15:43] atc07 commented on #595
The fix is here. I just received the following response:

I hope you are doing well.

Please download the build version from the following link and install it on your macOS Catalina machine.
https://my.pcloud.com/publink/show?code=XZqo337Zu5XrRaIXevb3nFNkQ4BKc4VLmTzX

If you don't have FUSE 3.10.0 installed, you can download it from here:
https://github.com/osxfuse/osxfuse/releases/download/osxfus

[2019-07-11 15:46] manuelrocha88 commented on #595
@atc07 it works. Thanks for the share.

[2019-07-11 15:51] atc07 commented on #595
@manuelrocha88 works for me too. Pcloud has always been great with support. I'm glad this wasn't a big push to get them to update before the official release of Catalina.

[2019-07-14 00:32] murilo8812 commented on #363
use rsync instead of cp worked for me

[2019-07-14 04:12] retokromer commented on #363
Or `gcp --preserve=mode,timestamps` works on my end.

[2019-07-15 22:51] strib opened #603 "Release tags for 3.10.0 and 3.9.X point to empty repos"
I might be doing something wrong, but starting with the 3.9.0 release tag, I'm unable to see any source code in the github repo.  e.g.: https://github.com/osxfuse/osxfuse/tree/osxfuse-3.10.0.  The `git clone` command from the main readme also checks out a blank repo.

The source code downloads from the github releases page are also empty.

The tags for 3.8.3 and earlier (e.g. https://github.com/os

[2019-07-16 05:46] unspam commented on #595
Just wondering... is this working well enough now? (One would hope, given this thread has become inactive now!)
My question is directed at those now using Catalina extensively and have mounted cloud storage. I have a pCloud subscription as well as use CloudMounter for Google Drive, and this (lack of Fuse) was the main thing holding me back from upgrading.

[2019-07-16 07:16] bfleischer commented on #595
@unspam The ticket is inactive because the compatibility issue with Catalina has been resolved, at least from the FUSE end. FUSE for macOS is compatible with the existing Catalina betas. If you are running into issues with pCloud or other third-party apps please contact their respective support teams.

[2019-07-17 03:48] pratmeno commented on #595
Updated to 10.15 19A512f and looks like the NTFS-write is broken again (thanks Apple!). Read works just fine.

[2019-07-17 18:28] Bob590 opened #604 "osxfuse crashes if -odebug is not supplied to fuse_main"
I'm experiencing a strange behavior in a experimental fuse application.
If I call fuse_main with argv that specify -odebug all works and of course I get the log in my debugger console. If I omit this option the program crashes.
Exception Type:        EXC_BREAKPOINT (SIGTRAP)
Exception Codes:       0x0000000000000002, 0x0000000000000000
Exception Note:        EXC_CORPSE_NOTIFY
The parameters that I

[2019-07-17 18:42] bfleischer commented on #604
`-odebug` implicitly adds `-f`. The file system runs in foreground mode. I'm assuming your file system does not like running as daemon. Have you tried using the `-f` option instead of `-odebug`?

[2019-07-18 06:39] Bob590 commented on #604
Sorry, maybe I have not explained it well. The problem is opposite. If I DONT'T put -odebug the program crashes. If I put it then all is working well. I wish to eliminate the debug log.

[2019-07-18 06:47] Bob590 commented on #604
BTW: I have tried versions 3.9.0, 3.9.1, 3.10.0 and all behave the same. My User mode file system is written in Qt and running on Mac Osx Mojave. The odd is that the crash report tell me that crashes in get_attr but I'm not able to put a breakpoint there. I mean that I put the breakpoint at the crash line (as the Console App tell me) but it crashes and the breakpoint doesn't hit. With the -odebug

[2019-07-18 07:08] Bob590 commented on #604
TEST RESULT: Adding -f with or without -odebug seems to solve the problem. Please can you explain me what the -f is doing? Thank you. I have mainly cloned the loopback example to build my file system.

[2019-07-18 07:11] bfleischer commented on #604
I'm assuming there is a bug in your file system that causes the crash when your file system runs in background as a daemon. Running it with `-f` instead of `-odebug` keeps your file system in foreground without printing the debug logs.

[2019-07-18 07:35] Bob590 commented on #604
That's exactly what I have done and you see above my results. Please can you explain me the difference between with or without -f ?

[2019-07-18 07:51] Bob590 commented on #604
I forgot to mention that I was also using the -s option to have my file system working. Now I have put -f without -s and it works well. In this way the -odebug is don't care (with or without always works).

[2019-07-18 08:20] rgaufman opened #605 "Failed to configure target"
I am following the installation instructions, but seeing this:

[code]

Any ideas?

[2019-07-18 08:36] bfleischer commented on #605
Did you install all dependencies listed in the README? Please run `./build.sh -v 5 -t distribution` to increase the verbosity of the build script.

[2019-07-18 15:24] rgaufman commented on #605
I installed the dependencies and seeing this:

[code]

[2019-07-18 16:04] dcolley commented on #595
The update is available in Prefs...
![image](https://user-images.githubusercontent.com/1845970/61473317-154f4200-a97e-11e9-8a90-639f194eac1a.png)

... but the update never completes...
![image](https://user-images.githubusercontent.com/1845970/61474041-a7a41580-a97f-11e9-8c71-29b51c939882.png)

However, the manual installation did the upgrade, and VeraCrypt is working again. Yay!

[2019-07-19 16:59] yan12125 commented on #603
osxfuse is no longer open source since version 3.9.0. Some more details can be found in https://github.com/osxfuse/osxfuse/issues/590.

[2019-07-19 18:45] bonner opened #606 "Failure to install on OS X 10.13.6"
I am getting the following failure when trying to install fuse 3.6.0-3.10.0 on my macbook pro with OS X 10.13.6

Jul 19 10:21:51 GC02WT3VBHTD6E Installer[1962]: -[IFDInstallController(Private) _buildInstallPlanReturningError:]: file://localhost/Volumes/FUSE%20for%20macOS/Extras/FUSE%20for%20macOS%203.6.0.pkg#Core.pkg
Jul 19 10:21:52 GC02WT3VBHTD6E Installer[1962]: Set authorization level to root f

[2019-07-19 22:26] bfleischer commented on #605
Have you checked the config.log file? This is most likely an issue with your build environment.

May I ask why you are trying to build FUSE yourself? It would be so much easier to use the official installer.

[2019-07-19 22:32] rgaufman commented on #605
I thought I'm meant to :) - brew doctor isn't showing any errors and I don't have any issues compiling anything else. I am trying to compile because I started receiving this error:

<img width="532" alt="Screenshot 2019-07-19 at 23 30 37" src="https://user-images.githubusercontent.com/33842342/61569049-6e51cf80-aa7d-11e9-9e74-d5d2137ec503.png">

I've used the official installer and my problem went

[2019-07-19 22:32] #605 closed, assigned to bfleischer

[2019-07-20 20:29] compuguy commented on #603
As @yan12125 said, @bfleischer is no longer releasing the source code for osxfuse. I wish he would mention this either on the osxfuse website and/or the readme for the repo.

[2019-07-20 21:02] strib commented on #603
Understood thanks, somehow I missed that earlier issue.

[2019-07-20 21:02] #603 closed, assigned to nobody

[2019-07-21 14:03] bfleischer commented on #604
Without having access to the source code of your file system I can only guess, but it looks like your file system is not thread safe and does not handle well being being run as daemon. This can have various reasons. However since this is not a bug in FUSE for macOS, I'm closing the issue.

[2019-07-21 21:07] andreipro1002 opened #607 "Disable osx alerts"
Hello,
We have a project where we use the fuse operations from https://github.com/libfuse/libfuse/blob/master/include/fuse.h, and we were wondering if it's possible to replace the mac os default alert with a custom one. For example, if a folder is read-only and we try to compress a file, it will trigger the function _int (*create) (const char *, mode_t, struct fuse_file_info *);_ and the system wi

[2019-07-22 03:19] pratmeno commented on #595
Tried the usual - uninstall/reinstall, ntfs3G et al but no luck with getting write to work.

[2019-07-22 06:13] toos55 commented on #595
Tried installing amended pcloud ATC07 mentions in message of 11 days ago. Am not able to install it because Catalina Security feature does not allow approving your source as a safe source.        On a side note: I did easily install FUSE for MacOS 3.10.0

[2019-07-22 10:54] bfleischer commented on #607
The alerts or error messages, that are displayed by Finder, cannot be altered.

[2019-07-22 10:54] #607 closed, assigned to bfleischer

[2019-07-22 16:19] Bob590 commented on #604
Yes, that could be the case. I'll investigate to find where the problem could be. Meanwhile my file system works well with the -f option and thus I'm doing my experiments with it for now.
Thank you for your support!

[2019-07-24 17:22] bonner commented on #606
Did a clean install and I am still getting the same thing...

[2019-07-25 21:00] lukethompsxn opened #609 "Not detecting FUSE_USE_VERSION on macOS Mojave"
I have `#define FUSE_USE_VERSION 31` prior to including the `fuse.h` header, however, osxfuse is not detecting this definition and is overwriting it on line 28 of osxfuse/fuse/fuse.h.

It has defined it to use an old version which causes the compatibility checks to fail.

A workaround is to simply modify line 28 on `fuse.h` to use the version you wish to use but this is a hassle.

Seems similar to

[2019-07-25 21:26] bonner commented on #606
update:
Still unable to do a proper installation

The last thing I tried was to copy the .pkg file from a mounted dmg to another location (this was not necessary) /Volumes/Data/InstallFuse/fuse.pkg, from there I ran

`/usr/bin/sudo -E -- env LOGNAME=username USER=username USERNAME=username /usr/sbin/installer -pkg ./fuse.pkg -target /Volumes/Data -verbose`

This wrote the contents (as far as I kno

[2019-07-25 22:24] AdsonCicilioti opened #610 "Auto Mount NTFS with volname"
I am in High Sierra and correctly installed osxfuse and ntfs-3g.

My goal is to auto mount an NTFS Partition from my Second HD.

I replaced native mount_ntfs with ntfs-3g, so this NTFS Partition is booting itself on boot with this horrible name - `OSXFUSE Volume 0 (ntfs-3g)`.
The partition has the label=Storage.
I tried to create an entry in `/etc/fstab`:
[code]
It works when I run `sudo mount -a`

[2019-07-26 03:36] bfleischer commented on #610
If the file system does not specify a volume name at mount time osxfuse will need to use a fallback. That's what seems to be happening here. Please raise this issue with the rtfs-3g team. I don't think this is a FUSE issue.

[2019-07-26 03:36] #610 closed, assigned to bfleischer

[2019-07-26 03:37] bfleischer commented on #609
FUSE for macOS does not support version 31, yet. We are still using libfuse 2.

[2019-07-26 03:37] #609 closed, assigned to bfleischer

[2019-07-26 03:46] bfleischer commented on #606
I have never been able to reproduce this issue but I don't think FUSE is to blame for this.

[2019-07-26 04:04] #604 closed, assigned to bfleischer

[2019-07-26 06:14] lukethompsxn commented on #609
I do not think this is the issue, I have tried specifying version 26 and still run into the same problem

[2019-07-26 16:32] bonner commented on #606
Yes, I agree, unsure why fuse is exposing the issue, but it certainly seems to be something very unusual with my file system and/or os.
I have posted to the mac forums: https://discussions.apple.com/thread/250513560

[2019-07-27 12:50] mvmn commented on #358
How can one check the amount of free slots? What are those slots to begin with - are they mentioned in any Apple documentation? Can we ask Apple to increase number of those to something reasonable? What does it take to increase this number?

[2019-07-28 12:37] bfleischer commented on #358
I don't think you can. The system will return an error when you try to register a new device and all slots are taken.

I don't know of any good Apple documentation regarding the device slots. All character device families visible in `/dev` need to be registered and the total number of is limited.

https://developer.apple.com/documentation/kernel/cdevsw?language=objc

Apple would need to alter the

[2019-07-28 13:09] mvmn commented on #358
Thank you very much for the response.

I've googled through documentation on macOS, Darwin and BSD and found information on character devices, but have found no mention of "slots" and no information on limits on number of those devices.

Is there really no documentation that mentions this? How did people even come up with terms like "slot" then? And how did it became known that 10.12 had 6 of thos

[2019-07-28 13:12] bfleischer commented on #358
I came up with the term "slot" for lack of any other word, that explains the situation well, and I found the number of of free "slots" by reading though the kernel code and registering more and more devices until the system returned an error.

[2019-07-28 13:20] mvmn commented on #358
Oh, I see.

Which APIs did you use to register character device BTW? Did you use something like cdevsw_add?

[2019-07-28 13:27] bfleischer commented on #358
See https://github.com/osxfuse/kext/blob/support/osxfuse-3/osxfuse/fuse_device.c#L547

[2019-07-28 13:27] mvmn commented on #358
So you did use cdevsw_add. Good.
Thank you very much for all the details!

[2019-07-28 13:34] mvmn commented on #358
P.S. It seems the term "slot" is actually used in kernel code
https://github.com/apple/darwin-xnu/blob/master/bsd/kern/bsd_stubs.c

[2019-07-28 14:00] mvmn commented on #358
P.P.S. Looking at bsd_stubs.c and https://github.com/apple/darwin-xnu/blob/master/bsd/dev/i386/conf.c seems like the limit is the size of `cdevsw` structure (defined as `const int nchrdev = sizeof(cdevsw) / sizeof(cdevsw[0]);`)

The structure and thus the limit is platform dependent, but looks like for i386 it has size of 42, where free slots initially are 1, 9 to 11 and 13 to 41 (inclusive). Thus

[2019-07-30 14:12] mixtly87 opened #611 "Weird Finder behavior with osxfuse based VFS."
I'm having a very weird issue with Finder and displaying content of my VFS. Files are appearing and disappearing randomly on folder-open action.

Best way to describe it is to have a look at the video:
https://public.centerdevice.de/73f3c0c4-5b83-4bec-8067-6e5e536d8632

This is not apparent with Terminal. In terminal, listing folder content always returns same valid result.

I wonder if it could b

[2019-07-30 23:23] mixtly87 commented on #611
Looks like the problem was with the error returned in `openFileAtPath` in case file is not available locally.
An error with code ZERO(0) used to be returned. If different error code is set (like EACCES(13)) then the issue goes away.

`*error = [NSError errorWithPOSIXCode:EACCES];`
Closing issue.

[2019-07-30 23:23] #611 closed, assigned to nobody

[2019-07-31 19:13] sadegs123 opened #612 "Fuse not compatible with macOS Catalina Beta 5"
Can you please update Fuse for Catalina beta 5? I am trying to use share file and it gives me an error saying fuse is not compatible with my drive.

[2019-08-01 07:04] fuzzy76 commented on #234
I think people are looking for something like "getting started with osxfuse". It is not necessarily clear for everyone that you have to go into the filesystem-specific wiki article. At least I was looking for something a bit more introductory.

[2019-08-01 07:22] bfleischer commented on #234
@fuzzy76 Feel free to write such a guide. The wiki is writable.

[2019-08-01 07:52] bfleischer commented on #612
The latest release of FUSE for macOS, 3.10.2 as of writing this, is compatible with Catalina. All you need to do is update.

[2019-08-01 07:52] #612 closed, assigned to bfleischer

[2019-08-01 07:56] bfleischer commented on #606
I'm closing the issue. Feel free to update it in case there are any new information or workarounds.

[2019-08-01 07:56] #606 closed, assigned to nobody

[2019-08-05 06:54] s20blast opened #613 "can't set NSFileSystemFileNumber attribute"
(I asked same question to [stackoverflow](https://stackoverflow.com/questions/57305086/cant-set-nsfilesystemfilenumber-with-osxfuse-framework))

I'm trying to make an in-memory-filesystem with fuse.
I installed [FUSE for macOS 3.10.2](https://github.com/osxfuse/osxfuse/releases/download/osxfuse-3.10.2/osxfuse-3.10.2.dmg) on mac os 10.14.4
I created swift project with xcode 10.2.1 and linked with O

[2019-08-05 13:26] RIX808 commented on #341
After making sure permissions were correct, resent keys, it was still not working.

Then I stumbled on this which I had not done previously and had not seen anyone mention.

**https://unix.stackexchange.com/questions/37168/unable-to-use-o-allow-other-with-sshfs-option-enabled-in-fuse-conf**

After enabling I ran my sshfs commands without sudo and it all worked perfectly.

[2019-08-07 05:19] s20blast opened #614 "broken buffer of writeFile callback function"
I'm expanding my in-memory-filesystem from [this](https://github.com/osxfuse/osxfuse/issues/613)
and I have another problem when I create new text file from bash shell.

the scenario is like this.

[code]

[code]

[code]

[code]

[code]

when I comment out "contents" callback function,
then it works OK.

(same operation after comment out)

[code]

[code]

[code]

[code]

environment is same as pre

[2019-08-07 07:27] bfleischer commented on #614
Please remove the contents callback. It is only required if you do not implement the open and read callbacks.

The header states:

[code]

[2019-08-07 07:45] s20blast commented on #614
@bfleischer then, If I implement open/release/read, should I not implement contents?

[2019-08-07 08:18] bfleischer commented on #614
Yes, implementing the contents callback causes the issue above. create will call through to your delegate. Then your write callback is called with `111`. The file handle is in open/release/read mode.

Then when you enter `222 <enter>` it looks like the file is opened a second time in read-only mode. You have now two open file handles, one in contents mode (read-only) and one in open/release/read m

[2019-08-07 08:23] s20blast commented on #614
@bfleischer thank you!

[2019-08-07 08:23] #614 closed, assigned to bfleischer

[2019-08-11 10:29] bugo99iot commented on #574
Same issue here.

[2019-08-14 12:49] interkelstar commented on #574
Same for me

[2019-08-18 00:31] LeeBinder commented on #390
I also kindly request libfuse3 for macOS.

May I ask what the problems are - what are the hurdles?

[2019-08-18 00:54] LeeBinder commented on #390
I also kindly request libfuse3 for macOS.

May I ask what the problems are - what are the hurdles?

[2019-08-19 09:55] legsak1mbo opened #615 "Files not opening through Finder in Catalina"
Testing with the latest Catalina beta. We've updated to the latest FUSE and got our code signed and notarised. The drive mounts fine and most operations seem to work as expected. However double-clicking on a file in Finder does not seem to open it. The target application opens as expected but then sits idle in the dock with no windows. However, opening a file using the File > Open dialog from with

[2019-08-21 11:19] laszloagardi commented on #615
Have the same issue here, tested with the HelloFS example project.

[2019-08-21 22:59] bfleischer commented on #615
Mounting the volume with the local option seems to work in some cases. I‘m still investigating the issue, but the lack of any error messages make the task difficult.

[2019-08-22 01:39] silvamac commented on #595
1) Remove pCloud
2) Open Preferences
3) Unistall FUSE (right click) and restart
4) Install FUSE vers 3.10.2 from https://github.com/osxfuse/osxfuse/releases/download/osxfuse-3.10.2/osxfuse-3.10.2.dmg
5) Restart your Mac
7) Install last version of pCloud and autentificate
6) That's all !!

[2019-08-22 12:28] legsak1mbo commented on #615
Ah yes, the local option seems to work here too. Looks like Box are using that option - whose app works in Catalina - but pCloud are not - and their app also seems to work fine.

Also, possibly related, Box seems to be signed an notarised but pCloud does not.

[2019-08-24 16:46] bfleischer commented on #615
As far as I can tell the launched application uses the wrong path to open the double-clicked file. I don't know if the wrong file path was passed to the application from Finder (or launchd) or if the file path is altered by AppKit.

It looks like the path of the double-clicked file is treated as a relative path and is appended to the current working directory of the running process. The process th

[2019-08-24 23:14] cadmartin opened #616 "osxfuse's new non-free license"
New releases have the following message in their description:

However the `LICENSE` file does not reflect the new licensing terms.

For those of us considering contributing this project or using it as a dependency, can we get a clarification on the project's new non-free license from @bfleischer?

Thanks

[2019-08-26 09:55] tabletenniser commented on #574
Same issue for me, command used:
brew install ntfs-3g
sudo mkdir /Volumes/NTFS_RW
sudo /usr/local/bin/ntfs-3g /dev/<partition_name> /Volumes/NTFS_RW -olocal -oallow_other

[2019-08-26 11:29] DigitalGuardianDev opened #617 "Latest notarized kexts are not stapled with tickets"
Hi,

If the network is down when the osxfuse is run for the first time, the fuse is not starting has the kext is not stapled with the ticket.

Can you please staple the ticket before creating the package file.

[2019-08-27 08:40] Cyberbeni opened #618 "Mounting silently fails when permission has been granted but the OS hasn't been restarted yet"
On Catalina, you need to restart the OS after enabling the kernel extension in system preferences. There is no notification posted and there is no alert presented in non quiet mode.

Also making a separate notification for every mount error is not that great. There should be 1 notification that includes the errorcode and a suggested error message, so people who want to show error messages on their

[2019-08-27 12:33] pittnerK commented on #595
Running macOS Catalina Beta 10.15, tried to install osxfuse -3.10.2.dmg nd it just hangs at the WAITING FOR OTHER INSTALLATIONS TO COMPLETE.

and the install log:

<img width="1528" alt="Screen Shot 2019-08-27 at 8 32 13 AM" src="https://user-images.githubusercontent.com/54583810/63771491-42f4a880-c8a5-11e9-9d05-f783991bc3dc.png">

Any ideas what might be holding up the install?

[2019-08-28 10:51] cristinasitaa opened #619 "Workaround for move event on locked files"
Hi,

When trying to move a locked file, a new file is created and .create operation is called. Is there a workaround to be able to delete the file from the previous location?

Any help is much appreciated!
Thanks!

[2019-08-29 11:37] 123me opened #620 "Can't get rid of error"
Can't uninstall osx fuse and keep getting this message every time I boot up:

"The OSXFUSE library version this program is using is incompatible with the loaded OSXFUSE kernel extension."

Mac version 10.14.6

[2019-08-30 02:51] chelrich opened #621 "Unsupported macOS Version"
I updated to Catalina V10.15 Beta and now am getting multiple pop-ups stating: "This version of FUSE is too old for the operating system.  Please upgrade your FUSE installation to one that is compatible with the currently running version of macOS."

I have attempted uninstalling FUSE in every way I can.  I have also installed the new version, uninstalled it again, and repeated multiple times.  I'v

[2019-08-30 05:53] bfleischer commented on #621
Do you recognize the app symbol one the left in the dialog? This is not an official FUSE version. The official FUSE version would display the FUSE icon, which is different.

You need to get in touch with the developers of the custom version of FUSE. Obviously they did a poor job and did not fully rebrand their custom version.

[2019-08-30 23:59] chelrich commented on #621
Oh my goodness!  That makes so much sense.  Thank you so much for pointing that out--figured it out.

[2019-08-30 23:59] #621 closed, assigned to bfleischer

[2019-08-31 09:13] xzhorikx commented on #574
Can confirm that the issue still exists.

`ls -al` shows that files can be read, however they are not displayed in finder
![image](https://user-images.githubusercontent.com/37912817/64061855-a4d84980-cbe8-11e9-80a7-b6bf3c89dd23.png)
![image](https://user-images.githubusercontent.com/37912817/64061865-b7eb1980-cbe8-11e9-8998-2750585a3d9e.png)

NTFS mounted using: `sudo /usr/local/bin/ntfs-3g /dev/d

[2019-08-31 17:56] bfleischer commented on #620
It looks like you are using an app that is constantly reinstalling FUSE. This is not the standard FUSE behavior. FUSE does not reinstall itself.

Furthermore the error suggest the developer of the app that displays the error is not using FUSE in the right way. Could you check which app is responsible for the error. It most likely starts automatically when you log in.

[2019-08-31 18:00] bfleischer commented on #618
We need to wait for one of the next beta releases or the GM release of Catalina. I believe the reboot requirement will not be present in the final Catalina  release.

[2019-08-31 18:02] bfleischer commented on #617
I upload the final release Disk Image to Apple's notarization service. As such it is not possible to staple the ticket to the kernel extensions. The ticket is stapled to the Disk Image.

[2019-08-31 18:11] bfleischer commented on #617
I can reproduce the issue on macOS 10.14. I assumed the ticket stapled to the disk image would be sufficient but apparently this is not the case. Stapling the ticket to the individual kernel extensions would complicate the build process significantly.

[2019-09-02 20:25] zhanglp99 commented on #504
I come cross the same issue as "foxdelta99",  the below  recipe :
"sudo spctl --master-disable
sudo reboot
brew cask install osxfuse
sudo reboot "  does not work for me,
 any update ?

[2019-09-04 12:56] andreipro1002 opened #622 "Error 100057"
Hey,
I happened to receive the error 100057 quite often when debugging my app, and happened also to the clients when trying to copy multiple files on the mounted fuse volume. Do you know any reason why this error occurs and is there any fix for it? Thanks in advance.
<img width="399" alt="Screenshot 2019-09-04 at 15 52 11" src="https://user-images.githubusercontent.com/4287792/64256491-44207800-cf

[2019-09-04 13:16] bfleischer commented on #622
Which file system are you using?

[2019-09-05 12:38] nedex opened #623 "Creation date always as epoch with sshfs [MacOS >= 10.14.5]"
**UPDATE for future viewers**: I've mistaken `ctime` for creation time, while on macOS it is `birthtime`. I don't know how it used to work in the past.

Every server I try to mount with sshfs has files and directories with creation date of 01.01.1970 (via stat or finder informations).
I've tried multiple versions and combinations of osxfuse and sshfs and it doesn't seem to work.
Maybe the problem

[2019-09-05 15:19] tchkreddy commented on #574
Is there a solution for this?

[2019-09-06 00:01] andreipro1002 commented on #622
@bfleischer Hey, I'm not sure I understand what do you mean, I'm using the fuse file system.

[2019-09-06 08:26] DigitalGuardianDev opened #624 "osxfuse 3.10.2 causes panics on macOS catalina (10.15 Beta 7)"
Installed osxfuse 3.10.2 on macOS catalina (10.15 Beta 7). The install was successful. On attaching a USB thumb drive to the system, it panics with following panic report.

panic(cpu 2 caller 0xffffff7f9dca7707): "osxfuse: What kind of a flag is this (4)?"@/Users/benjamin/Arbeit/FUSE/Repositories/osxfuse/kext/osxfuse/fuse_file.h:80
Backtrace (CPU 2), Frame : Return Address
0xffffff81f8ef3690 : 0xf

[2019-09-06 08:40] bfleischer commented on #624
This is a known issue. Apple made some modifications to the kernel in Catalina. The kernel uses an undocumented flag that FUSE does not know how to handle. All known cases of this happening seem to be triggered by Spotlight (mds_stores).

Fixing this would be much easier if Apple had released the source code of the kernel.

[2019-09-06 08:48] bfleischer commented on #622
FUSE is a building block to develop actual file systems. FUSE itself is not a file system. Most likely you installed FUSE as a dependency of an app. Do you remember the name of the app? What are you using the FUSE volume for?

Nevertheless, you need to report this issue to the developer of the actual file system.

[2019-09-06 11:20] neutrinos93 opened #625 "the file system is not available (255), Mojave 10.14.6"
Hello,

it is the first time I try to install oxsfuse on my laptop with MacOSX 10.14.6. I'm installing the FUSE version 3.10.2.

I ran the following commands:
`mkdir ~/app`
`sshfs remotelocation ~/app -o volname=app`

and I got the error
`mount_osxfuse: the file system is not available (255)`.

I also tried to reboot the system before and after installing fuse and still had the same problem... any

[2019-09-06 14:11] andreipro1002 commented on #622
@bfleischer We are using FUSE for a file sharing app, and I'm currently working on the project fixing some issues. As far as I see, the error occurs when the file system is disconnected. Have you ever encountered this problem before?

Edit: the FUSE library used is osxfuse-3.10.2

[2019-09-06 20:57] bfleischer commented on #622
Ok, so you are the developer of the file system. I don't know what the specific error code means but your file system is most likely not behaving the way it should. Maybe you could try stripping down the file system to find out which part is causing the error. Or you could run FUSE in debug mode and look for any file system operation that returns an error.

[2019-09-08 11:47] 123me commented on #620
Thanks - think it was Sdrive.

[2019-09-08 11:47] #620 closed, assigned to bfleischer

[2019-09-10 13:14] Puntoboy commented on #612
This is causing an issue with the latest Catalina beta. I have installed it but I am still getting the error pop up from Citrix Files (aka ShareFile).

[2019-09-10 13:19] bfleischer commented on #612
@Puntoboy Please raise this issue with Citrix. Citrix is not using official FUSE for maCOS releases. They need to update their custom version of FUSE to work with Catalina.

[2019-09-10 13:20] Puntoboy commented on #612
Thanks. I didn't realise that. The OP mentioned Share File so I assumed this was fixed.

[2019-09-11 02:21] mawenbo opened #626 "call func "resourceAttributes",icon sometimes not correct"
call func "resourceAttributes",set icon for folder
in macOS 10.14 , icon sometimes incorrect

[2019-09-11 13:56] Robert-F commented on #615
While I could reproduce this issue up until Beta 7, I cannot reproduce it in the latest Beta 8 anymore. So it may have been caused by a bug in macOS which has been fixed by Apple.

[2019-09-12 12:34] laszloagardi commented on #615
If "direct_io" mount option is specified, then Preview still cannot open the files. Now an error appears that the file may be damaged, when it is not. Other apps seem to open the files correctly through Finder.

Preview logs the following error message to console:
default 10:40:38.388686+0200    Preview com.apple.revisiond [WARNING] This volume is runnning "osxfuse" which is not supported
default

[2019-09-15 15:32] bfleischer commented on #625
Please post questions like this on our Google group at https://groups.google.com/forum/#!forum/osxfuse-group.

[2019-09-15 15:32] #625 closed, assigned to bfleischer

[2019-09-15 15:34] #622 closed, assigned to bfleischer

[2019-09-15 15:36] bfleischer commented on #618
Beta 8 does lo longer require a reboot after installing a new kernel extension. So I'm closing the issue.

[2019-09-15 15:36] #618 closed, assigned to bfleischer

[2019-09-15 20:07] bfleischer commented on #624
The issue should be fixed in the new 3.10.3 release.

[2019-09-15 20:07] #624 closed, assigned to bfleischer

[2019-09-15 20:17] bfleischer commented on #615
I can confirm that the issue (files not opening) was caused by a bug in Catalina. Thank you to everyone who looked into the issue and helped tracking it down.

[2019-09-15 20:17] #615 closed, assigned to bfleischer

[2019-09-16 14:29] Cyberbeni commented on #618
@bfleischer Are you sure? It is still part of the release notes. It only asked for restart the first time (when the user has to press allow in system preferences) and I don't have a clean install to easily try it out.

[2019-09-16 14:40] bfleischer commented on #618
Yes, I‘m sure.

[2019-09-16 15:09] bobetocalo commented on #481
?????

[2019-09-17 18:14] joconnorak opened #627 "Duplicate a file in Catalina beta 7 in the finder and it disappears"
Has anyone else seen this?
Beta 7, duplicate a file on the file system, duplicate it. It appears briefly then disappears until the media is unmounted and re-mounted.

[2019-09-17 20:28] d235j commented on #616
@cadmartin the project is no longer open source either.

The latest at https://github.com/osxfuse/osxfuse/tree/support/osxfuse-3 is v3.8.3.
https://github.com/osxfuse/osxfuse/tree/releases contains no code.

Silently making a project closed-source like this, is at the very least, poor form. The updater should at least notify end users that this is happening, as well.

This post on the Google group

[2019-09-17 21:15] bfleischer commented on #616
@d235j How would you have handled the situation? You have read #590, so you know that FUSE on macOS would most likely have died without external funding. Trust me, I tried to convince companies to fund the project for years but nothing much came of it.

@cadmartin FUSE releases up until version 3.8.3 are open source. For now, newer releases are closed source, with libosxfuse being the exemption. F

[2019-09-17 21:18] bfleischer commented on #627
Duplicating files on a LoopbackFS volume on beta 8 works fine for me. Which file system did you use?

[2019-09-17 22:13] d235j commented on #616
@bfleischer while I dislike that it’s closed source, that is a separate issue. I’m only advocating for transparency here.

Informing people means updating the main repo README to state that versions starting with 3.9.0 are no longer open source, and that versions starting with 3.10.0 are under a new license, with a link to the license, and

Informing people updating from 3.8.0 or 3.9.0 to 3.10.0 u

[2019-09-17 22:28] joconnorak commented on #627
Thanks. I must have an error in my file system which previous OS’s didn’t hit.

Jim

[2019-09-18 17:57] joconnorak commented on #627
I don't see any errors in calls to my file system, but I'm mounting in an odd place. Will let you know what I find.

[2019-09-18 21:47] csjx commented on #503
I use keybase.io and it too has a FUSE implementation (`kbfs`).  It seems to not load at times, and I at some point found a post that ` com.intel.kext.intelhaxm` conflicts with it.  I had the same Google Drive File Stream issue with the `dfsfuse` kext not loading, so I tried `sudo kextunload -b com.intel.kext.intelhaxm`. It worked - the Sign In screen appears now after hours of troubleshooting. I

[2019-09-18 22:15] bfleischer commented on #503
@csjx The issue you are seeing is most likely caused by macOS running out of free device slots. The number of device slots is limited. Intel HAXM and kbfs each need a free device slot. A lot of other software does, too. VirtualBox for example needs multiple device slots. Some virus scanners take up device slots, too. This can result in macOS running out of device slots and this prevents kbfs from

[2019-09-20 12:15] DigitalGuardianDev commented on #624
The issue is not observed in 3.10.3 pre-release. Any plan for it's official release?

[2019-09-20 15:28] Patrick-vB commented on #437
I had to disable the SONOS controller app in order to allow the installation.
🤦‍♂

[2019-09-20 15:36] YehudaBialik commented on #437
My problem was Forticlient, but the button was available in Safe boot.
Moved to Mosyle, now no problems.

On Fri, Sep 20, 2019 at 11:29 AM Patrick-vB <notifications@github.com>
wrote:

[2019-09-21 17:03] bfleischer commented on #624
Usually I wait one or two weeks before promoting a developer preview to stable. 3.10.3 will become the new stable release next week, unless critical bugs are reported.

[2019-09-23 05:27] joconnorak commented on #627
Using the loop back file system I can repeat the problem by mounting the file system into a special mount point -- ~/.folder/disk3s2_random
So this is odd.

[2019-09-23 15:02] codechikbhoka commented on #478
I had the similar problem, killed sshfs forcefully and restarted it again. It worked :)

[2019-09-24 09:07] skorotkiewicz commented on #574
I have that problem too.

[2019-09-25 05:25] hctest155 opened #628 "In Catalina Beta 9, cannot open image files with "direct_io" mount option."
Hello, bfleischer.

In Catalina Beta 9 (19A573a), Image files not opening through Finder and not showing thumbnail.
I think that it is similar to #615 issue.

You said that it was caused by a bug in Catalina and already fixed by Apple,
but Preview application still cannot open the image files with “direct_io” mount option.
On the other hand, QuickTime Player works fine with audio or video files.

[2019-09-27 16:04] LBensman commented on #45
I'm still having this issue, and none of the solutions above work.  I did notice some commonality of behavior when this happens, and hope that it helps.

My setup is 4 mount points (1 being used the most and I always notice the issue on it, but that's likely simply due to usage pattern).  All mount points are only accessible when VPN is running.  The most used mount point is mostly used to edit fi

[2019-09-30 08:19] themiyan commented on #570
+1 i use sshfs to load a remote disk and i have a similar problem:

`sshfs account@server.nl: ~/mnt/disk_name -o follow_symlinks,volname=disk_name,defer_permissions,auto_cache
`

when i cd and list file the terminal hangs and so does the finder. After a while an error is given as
`Device not configured`

running: macOS 10.14.6
SSHFS version 2.10
OSXFUSE 3.10.3
FUSE library version: 2.9.7

[2019-09-30 14:57] ipleten opened #629 "MacOS 10.14.6 kernel panic"
I'm not sure that osxfuse is culprit. I'm trying to run 'telepresence' to connect to k8s cluster via VPN
`
telepresence --swap-deployment pipe-test-977 --namespace ps --docker-run --rm -it pipe-test --method container --expose --port 8080 `

[2019-09-30 15:53] bfleischer commented on #629
FUSE is not to blame for this crash. It does not appear in the back trace that lead to the crash. You could try to report the crash to the docker team. The current process that triggered the panic is `com.docker.vpnki`.

[2019-09-30 15:53] #629 closed, assigned to bfleischer

[2019-09-30 18:18] joconnorak commented on #627
The problem has to do with the allow root user option. If I don't allow root then things appear to work properly. The fuse group is set to a group that the file system user is in, it appears. I'm chasing this down, but posting here my intermediate discovery in case anyone else is interested.

[2019-10-02 05:47] joconnorak commented on #627
Benjamin,
Allow Root option on the loopback file system doesn't work in the beta 10 Catalina Finder. The file appears on the Finder until the copy completes. New files written to the media have similar problems.

I forgot what I lose if I turn off allow root. Seems like I turned this on back in the mists of time and I don't remember why.

[2019-10-02 21:12] Angha opened #630 "sshfs not working on mac mojave version 10.14.5 (18F132)"
No error while installing or mounting, but  it actually not getting mounted. ls to the mountpoint is blank.

$ sshfs -V
SSHFS version 2.5 (OSXFUSE SSHFS 2.5.0)
OSXFUSE 3.10.3
FUSE library version: 2.9.7
fuse: no mount point

[2019-10-07 13:24] laszloagardi commented on #615
@bfleischer do you have any information if the bug is being fixed in Catalina? I'm still experiencing the same issue on Beta 10 (GM).

[2019-10-07 16:12] kwcooper opened #631 "SSHFS: What configuration is needed to edit files locally from the remote machine?"
I would like to open a file on the remote server locally, and then edit, save, etc. However, mac os seems to be unable to save the file via a notification 'unable to save file', and then later complains that the volume does not support 'permanent version storage'.
I remember reading somewhere that osxfuse does not support version control. But I can edit files fine via the terminal in an ssh tunnel

[2019-10-08 19:30] philipbergen opened #632 "Hard link (not symbolic) fails with examples/fusexmp_fh.c"
Not sure if this is the correct channel. I want to extend on `fusexmp_fh.c` for a project, but I have a serious problem. Calls to `link(2)` fails even though the paths it is working on are absolute and on the underlying filesystem.

Out of desperation I tried to issue `system("ln <path from> <path to>")` and that works. :-O

Repro is very simple, just build and mount fusexmp_fh.c and run something

[2019-10-08 20:20] philipbergen commented on #632
Seems to work with `filesystems-c/loopback/loopback.c`. Mysterious.

[2019-10-08 20:20] #632 closed, assigned to nobody

[2019-10-09 12:42] mercadodiego commented on #574
I've the same issue

[2019-10-09 23:09] colatkinson commented on #628
@hctest155 @bfleischer I can confirm that I am also experiencing this on Catalina's stable release.

Are there any clues as to the underlying issue, or if there are any workarounds? This is borderline breaking the FS from a typical user's PoV due to how many file types are affected.

[2019-10-10 19:45] qiongwu7 opened #633 "OSXFUSE installation failed on Mac Mojave 10.14.6 - Error Domain=NSPOSIXErrorDomain Code=13 "Permission denied""
Hi,

I got a new Mac, the OS version is macOS Mojave, 10.14.6. Then, I try to install osxfuse with the command "brew cask install osxfuse", but the installation is failed. I searched online and tried "csrutil disable" to recreate the /var/folders/zz files, but doesn't help. Below is the error logs. Does anyone have an idea about this error? Thanks in advance!

2019-10-10 11:40:11-07 QIOWU-M-71WQ s

[2019-10-11 01:51] chavo163 opened #634 "Cant open extensions or download 3rd party applications"

[2019-10-11 04:58] bfleischer commented on #634
Could you provide some information as to what is not working and how this is related to FUSE?

[2019-10-11 05:20] chavo163 commented on #634
<img width="481" alt="Screen Shot 2019-10-11 at 1 15 22 AM" src="https://user-images.githubusercontent.com/56419619/66626158-37dfa880-ebc5-11e9-9ead-d189ffe219d9.png">
<img width="686" alt="Screen Shot 2019-10-11 at 1 15 30 AM" src="https://user-images.githubusercontent.com/56419619/66626160-37dfa880-ebc5-11e9-9c21-890f21144e8a.png">
<img width="572" alt="Screen Shot 2019-10-11 at 1 15 40 AM" src=

[2019-10-11 05:21] chavo163 commented on #634
<img width="668" alt="Screen Shot 2019-10-11 at 1 20 48 AM" src="https://user-images.githubusercontent.com/56419619/66626220-66f61a00-ebc5-11e9-9d3d-86c258ebdea2.png">

[2019-10-11 05:22] bfleischer commented on #634
Please report the issue to the pCloud team. It looks like they are shipping an old version of FUSE.

[2019-10-11 05:22] #634 closed, assigned to bfleischer

[2019-10-12 10:03] lezgomatt commented on #574
For those who are encountering this issue, try adding `-o auto_xattr`. It did the trick for me. Someone should probably update the wiki to include this.

I also made a Python script called [ezntfs](https://github.com/lezgomatt/ezntfs) to automate the process. You can install it via `pip3 install ezntfs`. It only requires NTFS-3G and Python 3.6 or up to be installed.

The script should make the pro

[2019-10-12 21:21] skorotkiewicz commented on #574
`-o auto_xattr` work for me! Thanks @undecidabot

this is my mount command now:

[code]

![Screenshot 2019-10-12 at 23 23 00](https://user-images.githubusercontent.com/899351/66707820-540b5300-ed47-11e9-8897-95e75f4e78ae.png)

[2019-10-14 05:02] nedex commented on #631
What's your command for mounting?

[2019-10-14 05:03] nedex commented on #630
Try with defer_permissions and allow_other options

[2019-10-14 07:35] EveryGoodUsernameIsTaken opened #635 "Can't delete osxfuse.fs"
This file remains after uninstalling FUSE for MacOS, and won't delete no matter what Terminal command I enter.

Suggestions?

[2019-10-14 13:54] #635 closed, assigned to nobody

[2019-10-14 23:06] kwcooper commented on #631
Hello! it is:

sshfs ********@*********:folder/otherFolder/ ~/MOUNT/ -p 22

On Sun, Oct 13, 2019 at 10:02 PM nedex <notifications@github.com> wrote:

--

-K. W. Cooper

[2019-10-15 19:30] gioalex opened #636 "Failed installation of osxfuse on 10.15 Catalina"
Hi all,
here the commands used to install osxfuse.

In the main log I saw a 404 error while fetching osxfuse-3.8.3_0.**darwin_19**.x86_64.tbz2 package.
Hope this help..

tnks
Alessandro

alex@iMac-di-Alessandro bindfs-1.14.1 % sudo port install osxfuse
Password:
--->  Computing dependencies for osxfuse
--->  Fetching archive for osxfuse
Warning: Your DNS servers incorrectly claim to know the addre

[2019-10-15 19:40] bfleischer commented on #636
Please raise the issue with the MacPorts team. MacPorts ships an outdated version of FUSE that is not compatible with macOS Catalina. The easiest way to resolve this issue might be downloading the installer from https://osxfuse.github.io and installing it manually.

If you are interested in the full story, see https://github.com/osxfuse/osxfuse/issues/590 and the linked issues.

[2019-10-15 19:40] #636 closed, assigned to bfleischer

[2019-10-15 19:48] gioalex commented on #636
Thank you bfleischer for your response!

[2019-10-16 01:12] burger-drip opened #637 "Spelling ARCHITECTURES vs ARCHITECURES may cause issues in build.sh"
Sorry to nag, but I noticed this could lead to issues when creating non-existent variable names

$ grep -i ARCHITE build.sh

[code]

$ grep -rI ARCHITE *

[code]

[2019-10-16 13:27] nedex commented on #631
I can confirm it actually works.
So make sure you have enough rights to edit files (ie. check the user you're using for connecting).

[2019-10-16 21:32] kwcooper commented on #631
I'm curious why you might think it would be a rights issue (do you mean rights with osxfuse?), for as I mentioned editing via ssh works fine from the remote machine, but not from the osxfuse mounted connection? Am I missing something under the hood? (ie. add permissions for osxfuse?)

[2019-10-17 06:34] nedex commented on #631
For example, if you connect to the server as the user A, but your Mac's user is B, I think you may have some problems. In this case, you may try using flags like `defer_permissions` so your command would look like:

`sshfs ********@*********:folder/otherFolder/ ~/MOUNT/ -o defer_permissions`

For details:
https://github.com/osxfuse/osxfuse/wiki/Mount-options#default_permissions-and-defer_permissio

[2019-10-17 10:34] fourjs-oe commented on #595
Works for me - Thank you

[2019-10-18 12:37] andreeacazacusin commented on #628
Are there any updates on this issue?
We are currently experiencing problems with Fuse 3.10.3 on Catalina, while trying to open images and pdfs.
Also, when opening a zip file we receive a 512 error, from Archive Utility

[2019-10-20 13:49] antoniosamuels opened #638 "Version 3.10.3 -- The FUSE for macOS installation package is not compatible with this version of macOS Catalina."

[2019-10-21 19:24] fulldecent commented on #638
It is possible that FUSE died with Catalina and won't come back. If so, the issue is that it should be stated correctly here https://github.com/osxfuse/osxfuse.github.com/blob/master/index.html#L8

[2019-10-21 19:35] dl-sledding opened #639 "GIDs incorrect in Finder on mounted SSHFS"
First time user of SSHFS on OSx.  We have run into an issue with GIDs.

I can ssh (or sftp from the OSx box to my Linux fileserver, and everything looks correct.  GIDs look normal.  However, when I mount that location using SSHFS in OSx and browse using Finder, the GIDs are displayed incorrectly.  For example, I have a "marketing" group, with a GID of 8192 (on the server).  When I browse a folder

[2019-10-21 19:48] kevin52408 opened #640 "volname not being respected"
A co-worker who first upgraded to Catalina noticed, and then when I upgrade my machine it started doing it as well. We both are running 3.10.3. If I run:

[code]

then the mount will be labeled as 'remoteDir' in Finder. But if I have the remote server mount at root:

[code]

then the mount will be labeled 'localDir', but in neither instance will it use 'specialName'. I tried adding -d to the sshfs

[2019-10-22 07:34] fredriklindellckp commented on #627
Benjamin,

Any updates on this issue, we see the same behaviour on released 10.15 Catalina with OSXFUSE 3.10.3 and the loopback example (loopback.c). Items created in the "looped" directory is only seen briefly and then vanish from the finder view. Item is created and seen in the backing folder. Once remounting the loopback the items are seen. Elaborating with the different OSXFUSE options doesn't

[2019-10-22 18:01] joconnorak commented on #627
I had to turn off “allow root” to get things working.
I don’t know if this is fundamentally an Apple bug or not.

[2019-10-23 06:44] fredriklindellckp commented on #627
We don't use the allow root option at all but are seeing the items created in the fused root folder briefly appear and then disappear. Issue is reproduced with:

diskutil umount /Volumes/UNTITLED
sudo diskutil mount -mountpoint /tmp/cp/me_mounts/\_disk2s1\_/\_UNTITLED\_ disk2s1
sudo ./loopback /Volumes/UNTITLED -omodules=threadid:subdir,subdir=/tmp/cp/me_mounts/\_disk2s1\_/\_UNTITLED\_ -oallow_oth

[2019-10-23 11:37] tchkreddy commented on #574
Surprisingly, the problem is resolved for me without -o xauto_attr! I was retesting to try it, but found it working even before fix

I just used
sudo /usr/local/bin/ntfs-3g /dev/disk2s1 /Volumes/NTFS -olocal -oallow_other

[2019-10-23 13:04] jarrocha commented on #627
Hello Fredrik,
If you open a file and then try to save it in your mounted volume, do you get an error regarding a file lock? Try removing the allow_other option and see if it helps.

[2019-10-23 23:33] kwcooper commented on #631
This fixed it for me! Thanks!

[2019-10-23 23:33] #631 closed, assigned to nobody

[2019-10-24 11:43] jonallen356 opened #641 "Unsupported macOS Version"
I just updated my Mac to Catalina (10.15) and am now receiving an error message that pops up in about six successive dialogue boxes. When I clear them out by clicking OK, they just come back over top of whatever window I am working on. I cannot function with this happening. Here is the error message:

I have updated to the latest version of FUSE from the website and restarted with no change.

Can

[2019-10-24 11:47] bfleischer commented on #641
You are probably using an unofficial version of FUSE and need to update that version as well. Some developers took the FUSE source code, recompiled it and distributed it as part of their apps, without properly rebranding it. Which FUSE-based apps are you using?

[2019-10-24 12:08] jonallen356 commented on #641
Thank you, I just figured it out. I am using Citrix ShareFile and after updating that app I have no more error messages.

[2019-10-24 12:13] #641 closed, assigned to bfleischer

[2019-10-24 14:54] epos-eu commented on #595
that works for me as well.
thanks

[2019-10-25 10:52] bfleischer commented on #639
UIDs and GIDs are only integer values. When translating UIDs and GIDs to names macOS uses its local mapping table. That is perfectly normal and not any different when mounting an external hard disk. In other words, this is not a bug.

Have you tried the defer_permissions mount-option?

If the file system retrieves file information from another computer and reports user/group IDs as is, the kernel

[2019-10-25 10:55] bfleischer commented on #638
@antoniosamuels You are not providing any information at all. There is nothing anyone could do to help you without knowing what you are trying to accomplish. I'm assuming you are trying to install FUSE, right?

@fulldecent What makes you think FUSE died? Version 3.10 is compatible with Catalina.

[2019-10-25 10:57] bfleischer commented on #637
Thank you very much!

[2019-10-25 10:57] #637 closed, assigned to bfleischer

[2019-10-25 10:58] bfleischer commented on #630
@Angha Is this still an issue?

[2019-10-25 13:05] dl-sledding commented on #639
Hi Benjamin, and thanks for the response!

    When translating UIDs and GIDs to names macOS uses its local mapping table. That is perfectly normal and not any different when mounting an external hard disk.

So, in the case of AFP or SMB/CIFS, why does the problem not exist?  These are also remote FS protocols that are used by Finder.  Additionally, when using SFTP or SSH from the CLI, the proper

[2019-10-25 13:07] fulldecent commented on #638
Sorry. I have been misreading https://library.panic.com/transmit/transmit5/transmit-disk/#transmit-disk-has-been-discontinued-as-of-transmit-5-6-0 to understand that Catalina does not support FUSE (which is part of Transmit Disk). Please ignore my note above.

[2019-10-25 13:51] bfleischer commented on #639
Hi Alex,

I'm not an AFP or SMB expert. They might be using a mechanism similar to the `defer_permissions` switch in FUSE or GIDs and UIDs are being mapped.

When using SSH or SFTP from the CLI, macOS is not responsible for controlling access to files and folders on the server. The server handles that part. This is what the `defer_permissions` option is for, letting the server control access inste

[2019-10-25 13:51] #639 closed, assigned to bfleischer

[2019-10-25 23:46] antoniosamuels commented on #638
Problem resolved

[2019-10-25 23:46] #638 closed, assigned to bfleischer

[2019-10-27 19:50] bfleischer commented on #628
From what I can see Preview tries to `mmap(2)` the image file. However, `mmap()` is not supported when mounting a volume with the `direct_io` option. `direct_io` is a hack that bypasses the normal I/O flow in the kernel. As a result some common file system features like memory mapping files are not available. Is there any particular reason you are using the `direct_io` mode?

[2019-10-27 19:58] bfleischer commented on #628
On macOS 10.14 Preview.app supports reading the file without using `mmap(2)`.

[2019-10-30 22:23] joconnorak opened #642 "How does one get source code for 3.10 versions?"
I'm required to run static analysis over the source code.

[2019-11-04 07:08] hasse69 commented on #642
Source code is located under the git submodules which requires a few extra steps
[code]

[2019-11-04 07:11] joconnorak commented on #642
That is what the instructions say.
It doesn’t get you the current code, though.

[2019-11-04 07:18] hasse69 opened #643 "Debug output problem"
I am currently debugging a problem a user is having and debug output looks a bit strange
[code]
I would have expected error 0 to be presented as "success"?
This is supposed to be version 3.10.3 of OSXFUSE.
I snooped around a bit in source code and could only find this in fuse/lib/fuse_lowlevel.c
[code]
which looks perfectly fine, error 0 should resolve to the success branch?
The file system is how

[2019-11-04 07:21] hasse69 commented on #642
So what does it say when you do `git submodule update`?
You should see something like the below, this example was from master
[code]

[2019-11-04 07:27] joconnorak commented on #642
According to this page all of those SHAs are 2 years old:

https://github.com/osxfuse/osxfuse

[2019-11-04 07:28] hasse69 commented on #642
Arh, you are right. Checking out the 3.10 tags only leaves us with an empty repo :(
Sorry for not reading your issue report subject properly.

[2019-11-04 07:28] joconnorak commented on #642
Thanks for the reply. :)

[2019-11-04 07:30] hasse69 commented on #642
For what it is worth, from what I can tell it broke starting at tag osxfuse-3.9.0.
I have nothing to do with the development of OSXFUSE, only saw your issue and thought it was a no brainer, my bad.

[2019-11-04 07:42] hasse69 commented on #642
You should be able to run from support/osxfuse-3?
According to master branch nothing has really happend the last couple of years besides this
[code]
and there are more recent changes in branch support/osxfuse-3.
And according to commit history, a change was made about a year ago to fuse.
Can only assume this is the most recent change?
[code]

[2019-11-04 09:02] bfleischer commented on #642
I stopped releasing the source code of FUSE for macOS starting with version 3.9.0. libosxfuse is an exception to this. So, this is not a bug.

The most recent source code release is 3.8.3 which can be found on the support/osxfuse-3 branch. However, version 3.8.3 does not support macOS 10.14.6 and macOS 10.15.

[2019-11-04 09:02] #642 closed, assigned to bfleischer

[2019-11-04 18:34] colatkinson commented on #628
Interesting--good to know what the source of the changed behavior was.

We currently use `direct_io` because our FUSE is a "middle layer," depending on some underlying FS for information. This can become complicated especially with Samba/NFS backends.

In order to move away from it, we're currently experimenting with using `attr_timeout=0` instead. Does using this option allow osxfuse to take a mo

[2019-11-04 22:20] hasse69 commented on #643
Ok, I think I have found the cause of this anomaly.

The output is _not_ coming from OSXFUSE, it comes from the MacFUSE compatibility layer.
My file system configuration picked up the MacFUSE library before the OSXFUSE one.
That seems to be the reason for the problems some users are having. But before closing this issue, one question would be nice to get an answer too. Is MacFUSE really expected t

[2019-11-04 22:26] bfleischer commented on #643
The last version of macOS fully supported by the original MacFUSE was Mac OS X 10.5.

You should never link against the compatibility layer. FUSE for macOS does not even contain headers for the linking against the compatibility layer. It exists only to support legacy MacFUSE file systems binaries that might still be floating around. It is an optional install that the user has to check manually to

[2019-11-04 22:42] hasse69 commented on #643
Thanks, clear as milk :)
Closing.

[2019-11-04 22:42] #643 closed, assigned to nobody

[2019-11-06 21:26] hasse69 opened #644 "Help text not working?"
My file system is using the fuse argument parsing helpers, i.e. a construct like this
[code]
This let me do things like
[code]
But when doing this on OS X I get this
[code]
I.e. there is both an error thrown about a missing mount point and (I assume here OSXFUSE has a lot of options) missing display of available mount options too.
Is OSXFUSE not fully supporting the Linux reference implementation

[2019-11-08 07:23] andreipro1002 opened #645 "Problem with deleting .docx files"
Hello,
It seems to be a problem with deleting the .docx files using the LoopbackFS sample project (https://github.com/osxfuse/filesystems) on OSX Catalina. When deleting the .docx file, the callback removeItemAtPath is not called, and after the file is gone, a temp file .fuse_hidden0000 appears in the same directory. Do you know any solutions for this? Thanks in advance.

[2019-11-09 12:55] rh314 commented on #544
404 at the moment 😢

[2019-11-09 23:01] amirrajan commented on #544
@rh314 It's been moved to http://github.com/amirrajan/rubymotion-bridgesupport.

I'm almost done with Catalina fixes ^_^

[2019-11-09 23:35] amirrajan opened #646 "Heads up/warning: BridgeSupport issues on Catalina"
It's that time of the year again. I'll post updates with regards to Catalina as they come. Keep an eye on the following repo: http://github.com/amirrajan/rubymotion-bridgesupport

[2019-11-10 05:24] rh314 commented on #544
Thank you so much! 😄

[2019-11-10 16:50] bfleischer commented on #627
I can reproduce the issue with the C loopback file system. However, with LoopbackFS it works just fine in my case (with or without `allow_root` and `allow_other`).

[2019-11-10 18:54] bfleischer commented on #627
It looks like the issue is caused by a change in macOS 10.15. loopback uses `opendir(3)`, `readdir(3)` and `closedir(3)` to list the contents of a directory on the backing volume.

When calling `opendir(3)` macOS 10.15 seems to create a view of the current directory contents. This view is not updated when files are added or removed from the directory. That's why duplicated files disappear immediat

[2019-11-10 19:28] #627 closed, assigned to bfleischer

[2019-11-10 19:29] bfleischer commented on #627
The above commit fixes the loopback issue on macOS 10.15. No FUSE update is required.

[2019-11-11 07:52] joconnorak commented on #627
Thanks!
Will try out your changes to the C loopback myself.

[2019-11-11 07:54] fredriklindellckp commented on #627
Excellent, will try the changes

[2019-11-11 08:24] fredriklindellckp commented on #627
Tried it and works. Thanks

[2019-11-11 16:00] pedrosanta commented on #503
Yes, this is royal annoying on Google part. 😔 (Going through the same conflict, wanted to have Google Drive File Stream and osxfuse/sshfs running at the same time.)

[2019-11-11 19:13] lukelane124 opened #647 "GCC not listed as dependency"
When install sshfs on Catalina I get an error about [no installed system compiler capable of compiling python available, please install gcc] which in my opinion should already be there...

I'm 100% not familiar with the brew backend system, so it may be a python issue and not an sshfs issue.
[Command output.txt](https://github.com/osxfuse/osxfuse/files/3832866/file2.txt)

[2019-11-12 20:10] jch708 opened #648 "Can't mount EFS drives in software, unsure of next step"
A forewarning: I'm new to GitHub, coding, and third-party programming in general so bear with me!

I believe an issue like this has been discussed before on here, but unsure it relates specifically to this issue: I currently work at a media company that utilizes EditShare for file storage, where a few of us have updated to Catalina. ES mounts drives either through EFS (Amazon's Elastic File Storag

[2019-11-13 07:20] vincentdchan opened #649 "Can I customize location of Temporary Items on FUSE Volumn?"
Common softwares such as Office and TextEdit will generate some .sb files on the same folder when saving the files. It's annoying.
Can I customize the location of temporary files?

I have monitored changes of Google Drive. Common softwares create a folder named '.Temporary Items' on the root of FUSE Volumns. How can Google Drive implement it?

[2019-11-13 18:16] vict0rsch commented on #390
Same question as @LeeBinder : has the project been discontinued or something? I also need this (for `sshfs`)

[2019-11-17 22:25] gxfxyz commented on #585
I've encountered the same issue with [rclone mount](https://rclone.org/commands/rclone_mount/). In the rclone osxfuse volume, folders with NFC form unicode names (e.g. `'ô' == '\xf4'`) would become empty in Finder. Finder only can show the folder contents if its name is in NFD form (e.g. `'ô' == 'o\u0302'`).

----

Update:

Passing this option `-o modules=iconv,from_code=UTF-8,to_code=UTF-8-MAC` t

[2019-11-18 09:18] lightning-zgc commented on #424
I meet this problem too! After some experiments, I found a possible way. I'm not sure this is a bug in OXSFUSE or something else. I tested this on gocryptfs and it worked.
[code]
---
More info:
When the `.Trashes` folder is empty while deleting files, the finder will set the attr of the `.Trashes` folder to `d-wx-wx-wt`. This would make the `.Trashes` unreadable and further cause the Trash functio

[2019-11-19 14:23] arsayu opened #650 "Not working on Catalina 10.15.1"
Im unable to paste on NTFS drive.
Already updated FUSE on 3.10.3

[2019-11-19 18:56] kainjow opened #651 "Rejecting Finder eject"
We use `fuse_setup()` and then `fuse_loop_mt()`. In Finder if you eject the volume, `fuse_loop_mt` exits with 0. Is there a way to hook into this functionality to provide better user experience, such as prompting the user to quit the client program?

[2019-11-21 13:11] dverevkin opened #652 "ABI incompatibility with kexts compiled with SDK < 10.10."
Hello!
I've encountered compatibility problem of my kext that was built with SDK 10.9 with the latest versions of osxfuse (VeraCrypt, Boxcryptor). When I call vnode_getattr in my kext with vnode located on fuse filesystem, kernel crashes with panic report. According to this report there was an attempt to access memory page missed in RAM (CR2 register stores this address). Over time investigating t

[2019-11-21 16:27] pale2hall opened #653 "Finder Doesn't Respond while SSHFS is waiting for Password"
Dumb weird edge case.

I have my password for an ssh server saved in an image document on my Mac.  I used sshfs to mount a remote server, and when it asked for the password, I went to go open the Image.  Finder couldn't open the Image "Preview" Viewer while SSHFS was waiting for my password.  When I tried to relaunch Finder, thinking it had crashed, it relaunched, but wouldn't let me open a finder

[2019-11-22 06:03] amirrajan commented on #646
Here's the fixes that worked for me: https://github.com/amirrajan/rubymotion-bridgesupport/commit/e5864430a3b9535fe69a4e91be3acf0f2c769bbe

[2019-11-22 06:05] amirrajan commented on #544
@rh314 : https://github.com/osxfuse/osxfuse/issues/646

[2019-11-22 08:47] calenz opened #654 "Missing 'Allow' pane in Security & Privacy after installing OSXFuse 3.10.3 on macOS Catalina 10.15.1"
After installing osxfuse-3.10.3.dmg on macOS Catalina 10.15.1, I am stuck at the last step of the installer, as the system extension required for mounting FUSE volumes could not be loaded. Opening Security & Privacy system preferences will take me to the General tab but there is no Allow button.

[2019-11-22 10:37] cbertelli commented on #630
Getting the same problem, I tried with these options:
`sshfs user@host.doma.in:/home/user ~/mnt/server -o idmap=user -o follow_symlinks -o defer_permissions -o allow_other`
getting the same behaviour: `Device not configured`.
when debugging the connection I got a Floating point exception: 8 (division by zero) which seems to be usual for ssh connections. Maybe it's a security issue caused by recent

[2019-11-25 14:24] vincentdchan commented on #649
use `local` mount can solve

[2019-11-25 14:24] #649 closed, assigned to nobody

[2019-11-25 19:47] umlmaster commented on #650
Same problem here: read works fine, write not available

[2019-11-25 19:53] bfleischer commented on #650
You probably need to (re-)install NTFS-3G. FUSE on its own does not support writing to NTFS volumes. FUSE is a building block used by NTFS-3G to add NTFS write support to macOS.

Please see https://github.com/osxfuse/osxfuse/wiki/NTFS-3G

[2019-11-25 19:53] #650 closed, assigned to bfleischer

[2019-11-26 05:31] bfleischer commented on #652
The issue should be fixed in the upcoming 3.10.4 release.

[2019-11-26 05:31] #652 closed, assigned to bfleischer

[2019-11-28 12:24] indywidualny commented on #574
True. `-oallow_other` is a solution! Awesome!

[2019-11-29 06:22] fingon commented on #630
This is happening for me too, and still on 10.14.6. It started sometime this autumn, so 10.14.something.

If I have the motivation I will either debug this, or upgrade to Catalina, as I like using sshfs.

[2019-11-29 16:11] leszek-s commented on #636
After installing osxfuse manually from dmg downloaded from https://osxfuse.github.io/ you might want to execute this:
sudo ln -s /usr/local/lib/pkgconfig/fuse.pc /opt/local/lib/pkgconfig/fuse.pc
After that mac ports will be able to detect that you already have osxfuse and will not throw errors when you install other packages that depend on osxfuse.

[2019-12-03 13:39] tomisavolainen commented on #654
I encountered this as well today. No Allow button and developer name.

[2019-12-04 14:41] pkhoueiry opened #655 "Kernel Panic and autorestart in Catalina 10.15.1"
I am experiencing kernel panics with autorestart following ssh or mount after upgrade to Catalina 10.15.1. I am suspecting fuse since filesystems.afpfs and filesystems.msdosfs and fileutile are among the top kext affected.

Any hint?

[2019-12-04 15:04] bfleischer commented on #655
Please post the actual panic log that is displayed after your Mac reboots. You should be able to find the previous panic logs in the Console app.

However, filesystems.afpfs and filesystems.msdosfs have nothing to do with FUSE.

[2019-12-04 15:10] bfleischer commented on #654
You are probably using a third-party tool that is able to generate input events. macOS will not display the "Allow" button in case a tool that is able to virtually press the button is running.

Some popular tools and hardware that might cause this are:

* BetterTouchTool
* MagicPrefs
* Wacom Pro tablet
* Karabiner
* Chrome
* VLC
* Microsoft wireless mouse
* SONOS controller app

[2019-12-04 15:14] bfleischer commented on #648
You need to update your EditShare client software. EditShare is using a custom version of FUSE.

[2019-12-04 15:14] #648 closed, assigned to bfleischer

[2019-12-04 15:16] bfleischer commented on #647
This is not a FUSE issue. Please raise this issue with the Homebrew team.

[2019-12-04 15:16] #647 closed, assigned to bfleischer

[2019-12-04 15:19] bfleischer commented on #646
FUSE dropped BridgeSupport in version 3.9.0. The feature does not seem to be widely used and was causing many issues.

[2019-12-04 15:19] #646 closed, assigned to bfleischer

[2019-12-04 15:21] tomisavolainen commented on #654
Actually we were able to fix this by restarting the OS :D

ke 4. jouluk. 2019 klo 17.10 Benjamin Fleischer <notifications@github.com>
kirjoitti:

[2019-12-04 15:26] calenz commented on #654
I do have Chrome (but it's the most commonly used browser) but none of those apps that generate input events. I had temporarily deleted Chrome and restarted my MacBook but that still didn't work. I thought I had seen the Allow button before for some other apps on my system.

[2019-12-04 15:31] bfleischer commented on #444
Is this still an issue with the latest version of FUSE?

[2019-12-04 15:32] #456 closed, assigned to bfleischer

[2019-12-04 15:33] #359 closed

[2019-12-04 15:33] #337 closed

[2019-12-04 15:36] #130 closed

[2019-12-04 15:36] #111 closed

[2019-12-04 15:37] bfleischer commented on #140
Please re-open the ticket if this is still an issue on a recent version of macOS with the latest version of FUSE.

[2019-12-04 15:37] #140 closed

[2019-12-04 15:40] #112 closed

[2019-12-04 15:41] #153 closed

[2019-12-04 15:42] #573 closed, assigned to nobody

[2019-12-04 15:42] #165 closed

[2019-12-04 16:16] bfleischer commented on #654
@calenz The above list of tools is not exhaustive. Screen sharing might cause the issue, too. You could try checking the log in Console app. See https://github.com/osxfuse/osxfuse/issues/437 for details.

[2019-12-05 18:30] lozog commented on #574
I am still having this issue even with the `-o auto-xattr` flag.

`sudo /usr/local/bin/ntfs-3g /dev/disk2s2 /Volumes/seagate-ntfs -olocal -oallow_other -o auto-xattr` is my mounting command

[2019-12-05 21:06] lgander opened #656 "OS X wont boot after installing (stop sign). How to completely uninstall from terminal?"
I need to uninstall from terminal. Which files should i remove?
Thanks

[2019-12-05 21:15] lgander commented on #656
I searched *osxfuse* and deleted everything including that name. Still unable to boot.
Hopefully there are some files I´m missing and someone can point me to them.

[2019-12-07 02:32] vincbeaulieu commented on #656
After restarting my computer, my finder stop booting, it get stuck at loading. So I've uninstalled FuseOSX using safe mode and I had the same issues. But now, after uninstall, even in safe mode the finder does boot.

[2019-12-07 02:35] vincbeaulieu opened #657 "Finder stop responding (everything stop responding) safe mode not even working"
After restarting my computer, my finder stop booting, it get stuck at loading. So I've uninstalled FuseOSX using safe mode and restarted the computer, and I had the same issues. So, I came back to safe mode but now, even in safe mode the finder does respond.

[2019-12-07 08:43] bfleischer commented on #657
It is very unlikely FUSE for macOS is to blame for this. FUSE is a completely passive component. The FUSE kernel extension is not even loaded automatically on system starts. This means that, unless you are using an application, that mounts a FUSE volume on system starts, FUSE can in no way interfere with macOS starts.

The fact that the issue persists even after uninstalling FUSE suggests that the

[2019-12-07 08:47] bfleischer commented on #656
It is very unlikely FUSE for macOS is to blame for this. FUSE is a completely passive component. The FUSE kernel extension is not even loaded automatically on system starts. This means that, unless you are using an application, that mounts a FUSE volume on system starts, FUSE can in no way interfere with macOS starts.

The most important file to remove would be the FUSE file system bundle which is

[2019-12-07 13:34] lgander commented on #656
Ok, so i think it was a problem with paragon ntfs. Here is what happened to me, and how I fixed it:

First I Installed paragon. Asked me to restart. After restarting I couldn´t boot (stop sign). Solution to that:
1- Boot in recovery mode (cmd+r), open disk utility, mount disk, open terminal
2- `find / -name *paragon*`
3- `rm “path/file”` (copied every path/file that showed after the "find" command

[2019-12-07 15:12] wawork commented on #654
I had the same issue just now. It appears that is due to the fact that I had 'System Preferences' open when installing the package.
All I had to do was: closing 'System Preferences' while having the installer still open and than press the button for "Opening Security & Privacy" and there was the button to create an exception.
Hope that helps, Walter

[2019-12-08 19:14] avatar-lavventura opened #658 "$MFTMirr does not match $MFT (record 3)"
I have upgraded my macOS from High Sierra to Catalina, which, I think, causes for me to have following error. Is there any way to fix this error?

    $ mkdir /Volumes/FOLDER
    $ sudo /usr/local/bin/ntfs-3g /dev/disk2s1 /Volumes/FOLDER -olocal -oallow_other -o auto_xattr
    $MFTMirr does not match $MFT (record 3).
    Failed to mount '/dev/disk2s1': Input/output error
    NTFS is either inconsi

[2019-12-08 20:46] bfleischer commented on #658
I'm sorry, but I cannot help you with this. Please note that NTFS-3G and FUSE for macOS are independent projects. Should you run into NTFS-3G related issues, please raise the issue with the NTFS-3G maintainers.

[2019-12-08 20:46] #658 closed, assigned to bfleischer

[2019-12-08 20:48] bfleischer commented on #656
@legandro Thanks for posting your findings.

[2019-12-08 20:48] #656 closed, assigned to bfleischer

[2019-12-08 21:21] vincbeaulieu commented on #657
Couldn't solve the issue on my session so I created another admin session and deleted my old session. On the new session, I am running the Beta version and it is running flawlessly. On my old session, I didn't run the uninstaller of the stable release prior to the installation of the Beta. I don't know if this is the cause of my issue, so I am mentioning it but, it can also be just a matter of cir

[2019-12-08 21:22] #657 closed, assigned to bfleischer

[2019-12-08 21:39] bfleischer commented on #617
The issue is addressed in FUSE for macOS 3.10.4.

[2019-12-08 21:39] #617 closed, assigned to bfleischer

[2019-12-09 08:30] avatar-lavventura commented on #658
Thanks. Where would be correct place the raise the issue to reach NTFS-3G maintainers?

[2019-12-09 08:46] bfleischer commented on #658
You could try the NTFS-3G support forum at http://tuxera.com/forum/viewforum.php?f=7. Tuxera is the company behind NTFS-3G.

[2019-12-11 09:23] Lusitaniae commented on #616
I agree, it should be more transparent, and the readme and license files should be updated.

Otherwise, fully understand you make it close source and ask for commercial license.

[2019-12-11 13:56] nrdev88 commented on #550
This is true. Has nothing to do with support. You can easily build a preference pane with 10.15 SDK for almost all older versions.

[2019-12-11 14:40] bfleischer commented on #550
@kainjow @nrdev88 This is not the whole story and you are oversimplifying things.

On 10.6 64 bit preference panes need to support garbage collection. However, garbage collection feature has since been dropped from the macOS SDK. To make things even more complicated, newer versions of macOS will not load preference panes, that are built using garbage collection. The 32 bit image of the preference

[2019-12-11 15:23] kainjow commented on #550
It’s almost 2020, it’s odd to me that 10.6, garbage collection, and 32-bit  are concerns. Seems like osxfuse’s support for archaic macOS versions is overcomplicating the story ;)

[2019-12-11 16:02] bfleischer commented on #550
@kainjow The master branch (Version 4 of FUSE for macOS) drops support for 10.5 to 10.8, but I did not have time to update the preference pane or finish work on the master branch. Sadly. supporting at least the last 5 major versions of macOS seems to be required by many companies.

[2019-12-11 17:22] avatar-lavventura commented on #658
They don't have any sign-up option to their forum, and I am unable to open a topic for that reason.

[2019-12-11 18:02] fulldecent commented on #590
Yup, it perfectly reasonable for the maintainer to continue development and release only binaries. License allows it and that good.

As an end user I generally prefer open source software so this is a loss for me. And I know maintaining projects is hard, it would be nice if this could be released dual-license to restrict commercial use but then also include a community funding approach. Maybe GitH

[2019-12-11 18:14] joshlawrence commented on #590
@pmetzger or fork it and do it yourself?

[2019-12-11 20:29] patmoore commented on #590
@bfleischer  I agree with your move. Purists don't seem to understand banks accept only euros, dollars, pounds, yen, etc.

2 suggestions:

1. you put the source into some sort of escrow service. So in the event of death, or ?, your work can continue to be built on once you are beyond cares.
2. consider creating coursework/book (for $$ of course) based on your learnings from writing osxfuse.

The c

[2019-12-11 20:39] patmoore commented on #590
@bfleischer

You shouldn't "ask" here. Irregardless of "profit", if a commercial entity is using your work, they should expect to pay for it. A business expects to pay for all the other components that goes into the product they build. osxfuse is just another component in the BOM.

[2019-12-12 04:03] freeplant commented on #616
Hi @bfleischer,

We are using OSXFuse in our product. We are recently noticed the license issue. We have funded Dokany project for two years.  So we'd like to know the details on how to fund OSXFuse. The email is already sent to you.

[2019-12-12 13:05] ar0ra1 commented on #655
I updated OSXFuse to 3.10.4 and then updated Mac OS to 10.15.2

During the update process, I got Kernel Panic.

Also, since updating to Catalina, OSXFuse has been unreliable.
Yesterday itself, I mounted my cloud and started using VScode over it.
2 times, the connection was disconnected, all of the work done was lost, and it hung VSCode as well.

[2019-12-12 13:09] bfleischer commented on #655
@ar0ra1

Please post the panic log. Without the log there is nothing I can do.

Which file system are you using? Did you report the issue to the actual developer of the (third party) file system?

[2019-12-12 18:48] pmetzger commented on #590
The word is "regardless".

Why? If your license doesn't require payment, why should anyone be expected to pay?

I make my own work available under open source licenses and do not expect commercial entities, or anyone else, to pay me for use of the software. If you want to be paid, then don't use an open source license.

[2019-12-13 14:43] emmemme opened #659 "sshfs doesn't work on Catalina"
I migrate to a new mac book pro with Catalina version 10.15.2 (19C57)
I installed with brew osxfuse and sshfs

From terminal
`sshfs -V`
returns
`SSHFS version 2.10
OSXFUSE 3.10.4
FUSE library version: 2.9.7
fuse: no mount point`

The ssh command with id_rsa works

but when I try to use my old command (it works on High Sierra)

`sshfs -o defer_permissions -o IdentityFile=/Users/xxx/.ssh/id_rsa,reco

[2019-12-13 14:50] bfleischer commented on #659
I'm sorry but your bug report does not provide much information to go on. Which version of FUSE and SSHFS are you using? What exactly is not working? Do you see an error message?

FUSE for macOS 3.10 supports macOS Catalina. SSHFS should run fine, too. Can you check if you are using up-to-date versions of FUSE and SSHFS.

[2019-12-13 15:58] emmemme commented on #659
Sorry. The problem was a lack of permissions on local folder. I changed them and everything works!

[2019-12-14 17:12] vincbeaulieu opened #660 "Finder stop responding when connection drop"
When my connection drop, the finder stop responding for a good 4 to 5 min.
No kernel panic, no crash report, just Finder is not Responding, then it come back to normal.
I am on Mojave, 10.14.6, using the osxfuse Beta.

[2019-12-15 11:17] #659 closed, assigned to bfleischer

[2019-12-15 11:19] emmemme opened #661 "Catalina and sshfs: ls command returns "Device not configured""
I migrate to a new mac book pro with Catalina version 10.15.2 (19C57)
I installed with brew osxfuse and sshfs

From terminal
sshfs -V
returns
[code]

The ssh command with id_rsa works

but when I try to use my old command (it works on High Sierra)

`sshfs -o defer_permissions -o IdentityFile=/Users/xxx/.ssh/id_rsa,reconnect root@x.x.x.x:/var/www/html /Users/xxx/Remotes/yyy`

listing the folder wit

[2019-12-15 17:58] cbertelli commented on #630
Sorry! I verified versions and the issue is different.
I installed osxfuse via macbrew
`brew cask install osxfuse`
and I got version 3.10.4.
Then I installed sshfs with it, and this is not a cask, so:
`brew install sshfs`
and I got version 2.10.
So it's not the same bug. "Downgrading" to 2.05, the version which is downloadable here, I got it working, even if with a different behaviour. When unmoun

[2019-12-16 19:28] marcuspecht opened #662 "ting to sftp.tudelft.nl"

[2019-12-16 22:39] bfleischer commented on #662
Your bug report does not contain any useful information. Feel free to re-open the ticket after adding an actual issue description.

[2019-12-16 22:39] #662 closed, assigned to bfleischer

[2019-12-17 01:44] lins05 opened #663 "Notarized program linked to libosxfuse crashes on Catalina"
Hi,

We have a program that makes use of osxfuse and libosxfuse, and it seems not working anymore on osx 10.15 after it's notarized.

This happens for both osxfuse 3.8.2 and osxfuse 3.10.4.

What has been done so far:
1. Exclude the libosxfuse.dylib from our application bundle. This doesn't make any difference.
2. Add an entitlement like this:
[code]
But that doesn't help either.

Any suggestions

[2019-12-17 02:48] exedore6 commented on #616
The empty zip and tarball for the source is pretty shifty. Some of us are using it for personal use because the code is available. I understand the need to monetize it, especially with it being a kernel extension as apple tightens the screws.

But if you're gonna lock it up. I really think you need to be crystal clear that not only is the program non-free (with an undisclosed cost for a commercial

[2019-12-17 12:40] GabrielRavier commented on #590
Why can't a model similar to the one Qt uses be adopted here ? (that is, having the source be available, while still requiring payment for use in commercial products)

If adopting such a model is possible, why not do it ?

[2019-12-17 16:00] pmetzger commented on #590
Qt doesn't require payment for use in commercial products. It's LGPLed. Oh, and I see no reason that commercial entities should have to expect to pay to use open source programs either — the word you are looking for when you expect someone to pay is "proprietary license". People don't routinely pay for Linux, or GCC, or dozens of other things that involve vastly more work than a FUSE implementatio

[2019-12-17 17:39] bfleischer commented on #590
@pmetzger One difference between GCC, Linux and FUSE for macOS (besides the complexity) is most likely the number of active contributors working on each project. Some Linux developers are full-time employees who are being paid for their work on Linux.

[2019-12-17 18:59] bfleischer commented on #663
`com.apple.security.cs.allow-jit` and `com.apple.security.cs.allow-unsigned-executable-memory` should not be required for using FUSE. However, you need to make sure to allow loading third party libraries in your entitlements, otherwise libosxfuse cannot be loaded.

[2019-12-18 03:40] lins05 commented on #663
@bfleischer  Thanks for the reply! However that doesn't seem to make a difference. Actually I noticed similar things in osxfuse 3.9.0 release announcement:

![Screen Shot 2019-12-18 at 11 36 39 AM](https://user-images.githubusercontent.com/717363/71053841-c7d43c80-218a-11ea-8107-3653cd7183e3.png)

So  yesterday I tried with this updated the entitlement file, but the problem still remains:

[code]

[2019-12-18 17:06] pmetzger commented on #590
So what? If you are making something open source, the expectation is that people can use it without paying you, and that they in fact _will_ use it without paying you. Getting upset about that is churlish. If you want to insist that people pay you, then don't work on open source.

[2019-12-18 17:15] GabrielRavier commented on #590
If the license forbids you from doing something (such as using the project commercially (non-commercial use clause)) or forces you to make your own project open source in order to link to the one the license applies to (copyleft like the AGPL), then that's a legal requirement. Violating that requirement would be breaking the law (in which case the lawbreakers would be easily prosecutable).

Making

[2019-12-18 19:16] bfleischer commented on #590
That's true, but my hope was that enough companies would support the project's continued development or that the project would attract more regular contributors. Eight years later I came to the conclusion, that this did not work out.

That's exactly what I did.

[2019-12-18 20:52] pmetzger commented on #590
Let me repeat: *IF YOU DO NOT TELL PEOPLE YOU NEED HELP, NO ONE IS KNOW YOU WANT ANY.*

[2019-12-18 21:04] bfleischer commented on #590
@pmetzger This was three years ago: https://groups.google.com/d/msg/osxfuse-group/BPIHlQMq6Gk/iVrud_gEKQAJ

[2019-12-19 01:06] SpamControl commented on #590
@pmetzger

This is a _straw man_ argument. No one argued that these product were not free to use. The reason the author decided to closed its source is to be able to fund himself for working on it.

That is simply not true. Take a look at RedHat Enterprise or Gitlab's platform. Those projects are open-source but the companies are still trying to make people pay for their product.

Stop your unbase

[2019-12-19 12:55] lins05 commented on #663
The problem is resolved ... I got some inspiration from https://forums.developer.apple.com/thread/120647 and realized in our program the binary that links to libsoxfuse is launched as a child process of the main program. And it looks like the entitlements attached to the application has no effect on the child process.  After adding the entitlement to the child process binary, it no longer crashes

[2019-12-19 12:55] #663 closed, assigned to bfleischer

[2019-12-19 18:08] jarrocha commented on #654
I have seen this issue before on Catalina. If you try installing a different program that triggers this it will show up. After that, you can try with the original program. I don't think this is an issue with osxfuse.

[2019-12-19 23:20] pmetzger commented on #590
In the one case, RedHat charges for support, not the code. You can run something identical (Centos) for no cost. In the case of Gitlab, you can use the open source version for free; if you want closed source features you pay for those.

How about I do what I want, and you do what you want, and we accept that we both have a right to whatever opinions we wish?

[2019-12-20 14:29] peter-donov opened #664 "fuse_notify_inval_inode() loses higher 32 bits of inode id - doesn't work with 64-bit inodes"
Based on osxfuse **3.8.3** sources of the **kext** - the 64-bit inode id returned by `fuse_notify_inval_inode_out_get_ino()` is cast to `ino_t` which is 32-bit
[code]

The problem persists in **3.10.4**, according to the kext symbols. Here's the output from a debug session:
[code]

This makes `fuse_lowlevel_notify_inval_inode()` always return `-ENOENT` and the kernel cache cannot be purged.

[2019-12-20 14:30] peter-donov commented on #537
Superseded by #664

[2019-12-20 14:30] #537 closed, assigned to bfleischer

[2019-12-21 10:16] emmemme commented on #661
Sorry, it's a folder permission problem. After change of the write permissions on local folder, all it's work! Sorry again.

[2019-12-21 10:16] #661 closed, assigned to bfleischer

[2019-12-21 18:27] ipatch commented on #616
i do agree there should have been some notice about the licensing changes, but in the author's defense a PR could be sent to update the README in this project to reflect the new licensing.

and yes, I'm very well aware that i could send such PR, but i'm not fully aware of all the different versions fuse or licenses, as I just came here because FWR fuse is no longer working on my box 🤷‍♂️ with ntfs

[2019-12-23 05:40] flaw600 commented on #616
It's not really our responsibility to update the License or the Readme: it's the maintainer's - especially if the maintainer is explicitly changing the type of project this is.

[2019-12-23 15:01] jlmoya commented on #574
I too had been struggling with this issue and can confirm that

`sudo /usr/local/bin/ntfs-3g /dev/disk3s1 /mnt/usb1 -olocal -oallow_other -oauto_xattr`

solved the problem for me on Mojave 10.14.6

[2019-12-23 21:40] bfleischer commented on #664
Thank you very much for the very detailed bug report. I was under the impression, that `__DARWIN_64_BIT_INO_T` would be defined in the kernel space, too. Then `ino_t` would be a `__uint64_t`, which is obviously not the case. Great find!

The fix will be in the next update.

[2019-12-23 21:40] #664 closed, assigned to bfleischer

[2019-12-24 12:06] amirrajan commented on #646
No prob! Thanks for letting me know. Our commercial product relies of BridgeSupport, so we always have a working version (in the off chance y'all decide to reintegrate BridgeSupport).

[2019-12-26 22:47] feross commented on #590
@pmetzger You are not entitled to free labor from others under the terms that you dictate. If you don't help to maintain this project then you don't get a seat at the table when making decisions. Please stop whining.

[2019-12-27 05:21] MarkDana commented on #660
the same issue

[2019-12-27 06:17] sryze opened #665 "How to make chmod ignore errors?"
I would like to make the "chmod" system call not return any errors and fail silently. I need this to make some third-party tools work with files on my NTFS volume. Those tools try to change permissions and fail because chmod returns "Operation not permitted" errors. One example is Android Studio's Gradle plugin.

I think I need to turn on the ["silent" option of NTFS-3G](https://www.tuxera.com/com

[2019-12-29 19:44] bfleischer commented on #665
NTFS-3G and FUSE for macOS are independent projects. Please report issues related to NTFS-3G to the NTFS-3G maintainers. The previous support forum can be found at http://tuxera.com/forum/viewforum.php?f=7.

[2019-12-29 19:44] #665 closed, assigned to bfleischer

[2019-12-29 19:48] bfleischer commented on #655
I'm going to close the issue due to the lack of feedback. Without panic logs or detailed repro steps there is nothing I can do.

[2019-12-29 19:48] #655 closed, assigned to bfleischer

[2019-12-29 19:49] #654 closed, assigned to bfleischer

[2019-12-29 20:18] bfleischer commented on #640
The `volname` option works fine for me on Catalina when using the SSHFS 2.5.0 build from https://osxfuse.github.io.

[code]

[2019-12-29 20:18] #640 closed, assigned to bfleischer

[2019-12-31 01:21] blesliecan opened #666 "Word documents are corupted after save."
Using the loopback FS, if I edit a .docx document and save it back I cannot open it again. A bin dump of the document shows that large chunks of it have been wiped out. (set to zero).

I am using FUSE for macOS version 3.10.4 running on OSX 10.15.1.
I am using "Word for Mac" version 16.13.1 (180523)

[2019-12-31 12:55] edouardmercier commented on #460
From my experience, via the command line, this can be solved by using the `-o modules=iconv,from_code=UTF-8,to_code=UTF-8-MAC` option.

[2019-12-31 13:35] tothrobert commented on #460
Thanks a lot! 👍

Von meinem iPhone gesendet

[2019-12-31 14:19] #460 closed, assigned to nobody

[2020-01-01 00:47] pmetzger commented on #590
@feross I think the person who is whining is the author.

[2020-01-01 07:47] kwcooper commented on #45
Same issue for me, with none of the suggested solutions seeming to work apart from just making a new directory to mount to.

MacOS Catalina
FUSE 3.10.4
SSHFS 2.5.0

[2020-01-02 15:10] blesliecan commented on #666
I switched back top FUSE for macOS version 3.10.3 and the problem persists. Maybe something has changed in OSX 10.15.1?

[2020-01-02 23:38] bfleischer commented on #590
@pmetzger I explained my reasons for stopping to release the source code and the recent license change. I have changed the terms, but I did not stop maintaining FUSE for macOS or releasing updates. Did you contribute to the FUSE for macOS project other than expressing your opinion repeatedly? We must have have different definitions of whining. I think it is time for you to move on.

[2020-01-02 23:48] GabrielRavier commented on #590
@bfleischer I still would hope that you understand that you can release the code without making the project free for commercial use. You could make the code public, while using a license that would restrict people from freely using the project for commercial use. Then, there would be no difference with the situation in which you don't release the code (if they wanted to go into illegality they'd j

[2020-01-03 00:00] pmetzger commented on #590
As I've said, if I decide at this point that I care enough about the continued existence of FUSE for the platform, I'll fork it. At the moment, I simply not sufficiently interested. Should that change, I will not be "contributing" to this effort, which is not open source, I'll simply fork it and avoid having further contact with the existing contributors.

I've done this in the past, by the way. I

[2020-01-06 14:16] shell362 commented on #45
Let me join your club, guys.

[2020-01-08 05:53] yuliswe commented on #524
I'm sorry, is this documented anywhere?
[code]
I spent 5 hours looking for a solution until I found this issue.

[2020-01-09 21:04] jdeibele opened #667 "Can't approve extension with Catalina 10.15.2"
I'm using Homebrew to install, following the instructions here: https://www.maketecheasier.com/mount-access-ext4-partition-mac/

I rebooted.   When I try to mount the external drive, I get a prompt to approve an extension but the security panel turns blank.   I can't access any of the sub panels, like Firewall.

mount_osxfuse: the file system is not available (1)

Which is reasonable, since the ex