[2022-05-20 17:34] SophieOstmeier commented on #851
Had the same problem.
Resolved after restarting my Mac.
Good luck!

[2022-05-20 22:16] nammminn2 commented on #529
It's still slow video loading in a millisecond

[2022-05-21 07:47] pguzowski commented on #850
I am getting the same error as @j-rahman when trying to fix this
[code]

Was any solution found? Or is rebooting the only way? This is the first time this error has happened to me, and I regularly sleep the macbook (M1, macOS 12.3.1 21E258) between work and home for more than a year, and mount macfuse volumes each time

[2022-05-21 09:34] tormodwill commented on #529
Have you measured your speed ? What speed are you experiencing ? What speed do you want ?

[2022-05-21 09:38] tormodwill commented on #529
Remember that the sshfs traffic is encrypted, which will slow down the speed.

[2022-05-21 09:47] tormodwill commented on #529
Did you try my link or to edit the sshfs.c ?

[2022-05-22 23:05] juanpc2018 opened #891 "XFS"
Having R&W support for XFS is very important...
Large 18TB drives dont like Ext4, complain making weird noises, Non-stop.
Havent tested Btrfs.
NTFS needs constant defrag, Not used in Windows Server.
ExFAT has very bad support in Linux, also feels weird/slow.
Free NTFS driver for Linux does Not like large 18TB drives.
HFS+ was nice for OSX, but... Wiki claims does Not have Checksums?
HFS+ free driv

[2022-05-23 15:36] AlexC127 commented on #851
Thanks @GuillaumeHullin,  It works.
I can now skip the "sudo kextunload -b io.macfuse.filesystems.macfuse" command now.

[2022-05-23 15:36] #851 closed, assigned to bfleischer

[2022-05-23 20:57] bfleischer commented on #891
What exactly is this ticket about? Are you arguing for someone to implement XFS as a FUSE file system? This would be beyond the scope of the macFUSE project.

However, as far as I can tell there is a project named fuse-xfs which uses macFUSE and supports reading XFS volumes.

[2022-05-24 00:20] nammminn2 commented on #529
I usually watch everything through emby or movist pro so its fine ill just use it view my files I guess since its really slow

[2022-05-24 04:50] andyincali commented on #791
I got this to work on an M1 Macbook by booting into Recovery mode (hold down the power button for startup options). In recovery, open Terminal and run this command to add the osxfuse developer ID to the allowed list:
[code]
Once that is done, you can verify it like so:
[code]

After this, I was able to boot into macOS, install osxfuse, and approve the kext when prompted. Note that I did not have t

[2022-05-29 09:35] makramakramakra opened #892 "macFUSE won't install on unsupported Mac (MBP 2011, Monterey)"
Hi Benjamin,

thanks for the great work you do! Cryptomator in combination with macFUSE works great - on almost all of our Macs. More precisely:
MB10,1 (2017), m3, Mon; MBA6,1 (2014), i5, Big Sur; MBP10,2 (2012), i5, Mon OCLP; MBP9,1 (Mid 2012), i7, Mon OCLP; iMac13,1 (Late 2012), i5, Big Sur OCLP; MBP6,2 (Early 2010), i5, Big Sur OCLP; MB6,1 (Late 2009), Big Sur OCLP; MB5,1 (Late 2008), Big Sur O

[2022-05-29 10:49] ghost opened #893 "Closed Source Security"
In issue #841, there was a discussion about having a closed source project and what that means for the security of end users.

The point you (Benjamin) got across was that you should be compensated for your work, because without compensation to you the project would be unsustainable. And this makes sense.

You and @hackerb9 talked about trust, specifically how users can trust that osxfuse is free

[2022-05-31 15:56] nikola-sh opened #894 "fuse fails to stat a directory that was a regular file previously"
Assume a fuse filesystem that has a file with path `/foo`.
Filesystem is implemented in such way that access to file `/mode_switch`  changes `/foo` to a directory.
If someone stats /foo, switches mode, tries to stat /foo then — input/output error occurs:

[code]
If we remove first `stat /tmp/1/foo` all will be fine:
[code]

Filesystem implementation:
<details><summary>file_to_dir.c</summary>

[cod

[2022-06-03 21:50] mcajina74 commented on #879
Using JamfPro, I was able to get past this issue using an "**Approved Kernel Extensions**" payload in a Configuration Profile. You have to check both boxes, "**Allow users to approve kernel extensions**" and "**Allow standard users to approve legacy kernel extensions (macOS 11 or later)**." This will allow a non-Admin user to approve the KEXT. Please see my screen shot below. I tested this in both

[2022-06-06 09:36] ferdnyc commented on #879
Interesting, and encouraging, @mcajina74 !

Have you been able to test it on Silicon hardware, by any chance? There, I fear, is where this will unfortunately break down. Apple have made it very clear they consider installing kexts on Silicon Macs to be a security compromise only permissible when booted into the system's recovery environment. :disappointed:

Still, even if it only works for Intel M

[2022-06-06 13:10] mcajina74 commented on #879
@ferdnyc , I did not test on an M1 Mac. I apologize for not mentioning that I tested on Intel. Since I don't have an M1 Mac available for testing, I tend to forget they exist.

Yes, the restart is a bit annoying, but the System Extension warnings are also confusing to the end user. One says it's blocked, and the other says it's been updated when it's a fresh installation. Either one will take you

[2022-06-07 01:39] aaronp613 opened #895 "Updated needed to work on macOS 13"
Unsupported macOS Version: "The installed version of macFUSE is too old for the operating system. Please upgrade your macFUSE installation to one that is compatible with the currently running version of macOS."

[2022-06-08 14:00] NewAlexandria commented on #895
Thanks, came here for this.  Eager to trial OSX 13/ventura features, but relying on `kbfs` still.

@bfleischer if the repo sponsors are not active, and thus you're not active on this, can you let us know here please?

[2022-06-08 15:59] bfleischer commented on #895
Working on it. Initial tests are promising. Give me a few days

[2022-06-13 08:40] serlou commented on #856
The same happened to me.
**Solution:** Go to Settings -> MacFUSE, and update the software to the latest stable version.

[2022-06-13 19:18] kupietools commented on #363
None of these solutions worked for me on mojave. rsync just gave me `rsync error: some files could not be transferred (code 23) at /BuildRoot/Library/Caches/com.apple.xbs/Sources/rsync/rsync-52.200.2/rsync/main.c(996) [sender=2.6.9]`, all other suggestions above result in "device not configured" error.

[2022-06-14 09:49] DarrenPIngram opened #896 "Feature request/bug? Case in MacOS directories"
Hi.

Macfuse mounted to Dropbox via rclone. Latest version of both apps.

If (bold shows the change)

National-Press-Club-Address Volodymyr Shalkivskyi - Ukrainian Embassy'**S** Charge D'Affaires

exists in a directory you cannot rename it to

National-Press-Club-Address Volodymyr Shalkivskyi - Ukrainian Embassy's Charge D'Affaires

As it claims a file exists. So you have to add a space, let it re

[2022-06-14 09:50] DarrenPIngram opened #897 "Feature request? Cache"
Would it be possible for osxfuse to create a cache locally of directory information?

Situation. If the connection is lost or the mount stops when restarting osxfuse remembers "nothing" and it takes time to rebuild, when accessed, large directory trees etc. Even if it could remember from the cache and update from that, this would be a nice little time saver.

Thanks!

[2022-06-14 13:04] Scvairy commented on #896
Is you file system case-sensitive?
Mine is not and I have no problem with mounted via macfuse volumes.

[2022-06-14 15:10] bfleischer commented on #896
@DarrenPIngram macFUSE supports case-sensitive and case-insisentiie file systems. The issue you are running into is most likely caused by the actual file system implementation you are using. The file system is probably declaring to be case-sensitive, although it is not. This would result in the issue you are describing.

[2022-06-14 15:14] bfleischer commented on #897
The sort of caching you are describing would need to be implemented in the actual file system, not macFUSE. macFUSE does not have enough information about the context of your data to make smart caching decisions. Have you tried raising the issue with the file system developer?

[2022-06-14 15:16] DarrenPIngram commented on #897
Thanks. It was worth asking. I doubt Apple would bother and then they'd cripple it somehow & only give to the latest version.

—-
Via iPad. Hopefully with not too many typos.

[2022-06-14 15:17] DarrenPIngram commented on #896
Ah, understand. I hate Apple's AFPS from a trial on my desktop. I think I need to do a full reinstall to rid my laptop of their innovation.

—-
Via iPad. Hopefully with not too many typos.

[2022-06-15 10:31] iMonZ commented on #895
Sounds nice!

[2022-06-17 04:09] dev-coco commented on #895
Is there any progress?

[2022-06-17 14:39] RichardLee0211 commented on #828
mystery system response when it doesn't do what they say.
the error persists after reboot on macOS 11.6.7. tried 20 times, and clear system caches did the trick.
hope a little log helps diagnose, and people on this are awesome.

[code]

[2022-06-18 01:17] #897 closed, assigned to bfleischer

[2022-06-18 01:17] #896 closed, assigned to bfleischer

[2022-06-18 01:19] bfleischer commented on #895
The newly released 4.4.0 build comes with experimental support for macOS 13.

[2022-06-18 01:19] #895 closed, assigned to bfleischer

[2022-06-18 01:50] bfleischer commented on #893
There is still no user space API for developing full-featured file systems on macOS. And even if there was, it would not solve the VeraCrypt issue you are mentioning. A closed source user space file system implementation would still have full access to the encrypted data on the VeraCrypt volume. The underlying issue is not the kind of API that is used to develop file systems, it is transparency.

[2022-06-18 01:51] #891 closed, assigned to bfleischer

[2022-06-18 02:57] bfleischer commented on #888
The issue you are running into is most likely related to sshfs. I think, the best starting point for investigating the issue would be the error handling in sshfs. sshfs should gracefully unmount the volume in case the connection is lost or cannot be established in the first place.

My main focus is maintaining macFUSE. This rarely leaves any time to look into sshfs-specific issues.

FUSE on Linux

[2022-06-18 03:06] bfleischer commented on #892
macFUSE does not rely on Metal. Not sure why it does not work for you. The preference pane calls `/Library/PreferencePanes/macFUSE.prefPane/Contents/MacOS/autoinstall-macfuse-core -v --print` to determine wether macFUSE is installed or not. What does the command return in your case?

Did you try running the uninstaller from the macFUSE disk image in the Extras folder and then reinstalling macFUSE?

[2022-06-18 04:14] nirmit commented on #895
So far, worked without issues.  Thank you, @bfleischer!

[2022-06-18 12:43] nirmit commented on #893
Hey @bfleischer, apologies if this question has already been answered, but how can one donate to this project?  I couldn't find any links on the project page or repo.

[2022-06-20 10:12] porg commented on #888
Thanks for the infos.

However you do it eventually: Make it clear for users who are willing to report/contribute, to find the right place.

As you are in control of both osxfuse and macfuse now, this should be do-able for you.

[2022-06-24 05:17] DarrenPIngram opened #898 "Finder not "refreshing" after directory changes"
MacOS 10.14.6, MacFuse 4.2.5

I've noticed this issue increasingly and I've not figured out a why. I could not see if there was any logging in Macfuse to enable to possible note issues.

Rclone (latest) mounted, initially with vfs cache full, now changed to writes (no difference).

You can have a directory, with contents within, yet when you change its directory name it does not then show the cont

[2022-06-24 11:09] makramakramakra commented on #892
Thanks for your answer. Right now, the MBP isn't here. And: I reverted it to Big Sur. ASAP I'll install a Monterey volume with macFUSE on it and report what I get.

And yes: I had used the uninstaller.

[2022-06-28 18:11] mikecuoco commented on #793
I'm having the same issue with macFuse 4.4.0 on Monterey Version 12.3.1. I'm using the following sshfs version.

[code]

Has this been addressed?

[2022-06-29 11:45] bcodermicro opened #899 "Monterey + 4.4.0 - phantom sshfs processes"
[code]
When unmounting from finder a lot of times the sshfs processes are left in the process list...

[2022-06-29 12:11] AzlanNI opened #900 "Macfuse hangs itself after a short time"
Hello Everyone!

I am really new to mounting with MacFuse so maybe i am missing something.

I just donwloaded macFUSE4.40 and SSHFS 2.5.0 on my Macbook Air. And tried to mount our HPC Cluster whichs bs is Linux.

I created a mount folder on my Desktop and used:

fuser -c /mountfolder directory

After that  i use the command :

Username@adress.de: /Directory on the HPC i want to mount /directory of

[2022-06-30 10:24] moshix commented on #363
this works for me:

- mount the file system on a Linux box
- scp the files from your Mac over to the Linux box and let Linux write the files to the file system

Yes, it's a bit more cumbersome, and slower, but it gets it done.

As an alternative, you can scp the files to your own Mac. This also works for me. Must faster.

[2022-07-03 23:19] RokerHRO commented on #829
I got the same problem and it is still not working, even after "waiting for a while".

[2022-07-07 14:35] frakman1 opened #901 "Hangs with MacOS 13 Ventura"
I installed the latest Macfuse: `macfuse-4.4.0.pkg` and sshfs: `sshfs-2.5.0.pkg`
I am using a MacBook Pro M1 Max with MacOS 13.0

When mounting a remote folder, it hangs and occasionally prints out some error logs like:
`   unique: 10, error: -2 (No such file or directory), outsize: 16`

Even though I am mounting a remote folder with just 3 files, the sshfs logs indicate looking for files in the r

[2022-07-07 22:56] bkmcfarland commented on #754
how can this have been closed when the problem still persists with macfuse 4.4 running on macOS Monterey 12.4?? Possibly someone could post the bug number(s) for the issues with kernel extension consent with macos ??

[2022-07-09 17:28] clemaredev commented on #871
Specifically for ext4 there is a solution that worked for me in this article: https://github.com/gerard/ext4fuse/issues/66
(on 14 Apr 2021, username marcuspridham https://github.com/marcuspridham)

[2022-07-14 05:43] aleith opened #902 "getting kernel panics when Mac is in sleep. has crashed 3x today while asleep"
not sure it's macfuse causes this, but I recently updated it and **macfuse** is mentioned in the crash report:

[code]

[2022-07-19 23:07] BrianLovelace128 opened #903 "macfuse 4.3.1 hangs on python mmap call on Monterey"
We use macfuse and interact with the filesystem from python and have found that on Monterey with macfuse 4.3.1 we run into a hard hang when writing to a memory mapped file using the python mmap module. I've pasted the minimal python test case below. The I/O appears to be in an uninterruptable state as `kill -9` does not terminate the process. Additionally, any other interaction with the broken mou

[2022-07-20 07:47] SzVLsY opened #904 "M1 chip Mac can't reload extensions"
A brand new system on initial installation and startup I receive a notification that extensions were disabled and I can allow extensions in settings.

But at that point I restored the security settings in recovery mode and I did not uninstall macfuse.

Then when I reduce security again and allow kernel extensions I don't get any more notifications asking if I enable extensions.

I have tried all o

[2022-07-20 14:30] dlangille commented on #856
This is what worked for me. I'm not on M1, I'm on intel.

[2022-07-22 04:48] DarrenPIngram opened #905 "Taming Finder?"
Firstly, thank you for the work on this essential application.

Is there, by any chance, a way for OSXFUSE to better tame Apple's legendary stable and reliable Finder (note a slight irony).

I am running the latest version of OSX/MACFUSE and Rclone, yet when rclone reports a busy resource (e.g. too many writes) it is a lottery whether Finder will decide to throw a strop in various ways, but most r

[2022-07-22 11:18] nioshield opened #906 "macOS Monterey how to install osxfuse"
# max os  version
macOS Monterey
12.4

# installation error
installer: Error - The FUSE for macOS installation package is not compatible with this version of macOS.

[2022-07-22 11:20] bfleischer commented on #906
The version of macFUSE you are trying to install is not compatible with macOS 12. Download the latest version and try again.

[2022-07-22 11:20] #906 closed, assigned to bfleischer

[2022-07-22 11:25] nioshield opened #907 "macOS Monterey how to install osxfuse ?"
# mac os version
macOS Montery
12.4

# error message
installer: Error - The FUSE for macOS installation package is not compatible with this version of macOS.

[2022-07-22 11:26] bfleischer commented on #907
Duplicate of #906. Closed.

[2022-07-22 11:26] #907 closed, assigned to bfleischer

[2022-07-22 11:31] bfleischer commented on #904
macFUSE will display a prompt whenever you try to mount a volume unless the security settings allow the macFUSE kernel extension to be loaded.

What file system are you trying to use? What happens when you try to mount a macFUSE-based file system?

Messing with system cache or the kernel extension cache should not be required, not on a fresh macOS installation. Clearing  the kernel extension cache

[2022-07-22 11:40] bfleischer commented on #898
If you are not seeing the correct file structure after unmounting and re-mounting the volume (or rebooting in between) you are most likely dealing with an rclone caching issue. The are no caches in macFUSE that would survive an unmount and re-mount.

Please note that the file system (rclone, in your case) needs to inform macFUSE of remote changes so that Finder can be refreshed. This means, macFUS

[2022-07-22 12:21] nioshield commented on #906
@bfleischer  I use brew install osxfuse report  this error,what is the difference between macfuse and osxfuse ?

[2022-07-22 16:51] bfleischer commented on #906
osxfuse is the old name for FUSE on macOS, macFUSE is the new name. For details see https://github.com/macfuse/macfuse/wiki/History.

Homebrew is not shipping the latest version of macFUSE. You can download the latest version from https://macfuse.io.

[2022-07-22 18:11] 94gwz commented on #877
hello i have the same issue, how had you solved it ?

[2022-07-22 18:19] 94gwz opened #908 "SOLVED : Impossible to validate in pref pane "Benjamin Fleischer", it never appears in security pref pane"
installing Macfuse on 10.14.6

When i install the app, i have the followinf message :
"Systems Extension blocked
The system extension required for mounting macFUSE volumes could not be loaded.
Please open the Security & Privacy System Preferences pane, go to the General preferences and allow loading system software from developer "Benjamin Fleischer". A restart might be required before the system

[2022-07-24 06:52] SzVLsY commented on #904
No, I'm sure I'm not getting any prompts whether I turn off SIP or not, and I'm sure I've lowered the security settings.

On the first mount I saw the prompt, then reduced security then allowed the kernel extensions, then I restored the security settings, but when I mounted again I saw no prompt and the VC prompts that the kernel extensions were not being read. The error code was already submitted

[2022-07-24 12:01] DarrenPIngram commented on #898
OK thank you for the feedback. I do not know if it is Finder not reading or
responding to "busy" messages or whether Rclone could be better making
whatever notification. That knowledge is way above my grade.

On Fri, 22 Jul 2022 at 14:40, Benjamin Fleischer ***@***.***>
wrote:

[2022-07-25 09:33] troubleatmill commented on #877
Hi
I booted into recovery mode as per here:

https://developer.apple.com/documentation/security/disabling_and_enabling_system_integrity_protection

Rebooted and approved OSXFuse and then re-enabled SIP.

[2022-07-25 22:37] festus77 commented on #908
#94gwz - did you get this figured out? Having same issue.

MacOS 12.5 (Macbook Pro - m1)
macFUSE 4.4.0
VeraCrypt 1.25.9

Thanks,
festus

[2022-07-27 07:47] 94gwz commented on #908
Hello, i solved the issue with the time machine back-up, I revert to Fuse 3.10.4 already, previously, installed & signed.
And now it works as before.

[2022-07-29 17:03] joyoustr opened #909 "Cannot Install Mac OS On SSD Disk After Trying Installation"
Apart from High Sierra or Windows as I try, Big Sur and Monterey can not be installed on a brand-new SSD disk. It repeats trying to install MacOs while telling "29 minutes remaining". It starts over and over.

These are the commands that I use while trying to install:

_/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
brew cask install osxfuse
brew in

[2022-08-07 03:50] ksherlock commented on #793
An alternative approach, which works for both low level and high level, is to use `fuse_opt_parse` to whitelist known good options. Any unspecified options will call the callback function with `FUSE_OPT_KEY_OPT` so you can detect it early.  The downside is there seem to be around 150 valid options (but then again, chances are nobody knows or cares about 95% of them).

[code]

[2022-08-07 07:34] SN-F-QR commented on #363
Can be solved by using sudo before rsync

[2022-08-08 11:56] itefect commented on #908
I have the same problem.
Someone is able to give some hint how to fix it or debug the issue locally?

ps. I'm this-kind-of who doesn't have backups...

[2022-08-12 13:28] DarrenPIngram opened #910 "Sponsoring"
Any plans to offer sponsorship via Github? You probably won't be rich but it can be the thought, even if a pensioner's pocket goes only so many ways. I don't know the practicalities or if they take a large chunk however!

[2022-08-12 21:02] skkii commented on #754
Sorry to say, but this solution only works for a Part of the users. Many of us work primarily on business/corporate hardware. Here the option to disable Gatekeeper and/or security settings is simply not possible.

[2022-08-12 23:22] tjluoma commented on #754
Nobody should be disabling Gatekeeper for any reason. Apps need to update or cease to exist if they can't function with Gatekeeper.

[2022-08-14 13:11] DarrenPIngram opened #911 "Issue with modification time changes?"
Does MacFuse (latest version on MacOS 12.5) "take over" elements of the local drive insofar as its interaction with the underlying data?

Trying to track down a strange problem with network drive storage (rclone, mounted via MacFuse) but have not reached a "pointing fingers" element.

Going back to first principles. Looked at a file downloaded (Locally) today. The modified time does not change in

[2022-08-16 03:50] allenoper opened #912 "Macfuse system extension fail issue"
Hi

Macfuse system extension(Benjamin Fleischer) fails in one of our MacBooks
If I reboot after allow system extension, tell them to reboot again
(system preference -> Benjamin Fleischer extension allow -> reboot -> system preference -> Benjamin Fleischer extension allow -> reboot...... repeat~~)
Help me

Environment
 - OS : MacOS Monterey 12.5 (Apple Intel T2 security chip)
 - Macfuse : 4.4.0

Ho

[2022-08-18 18:01] memegauste opened #913 "GRUB won't compile while using macFuse on macOS 12.5.1"
Hey, I am not sure if this belong here, but I'm trying to compile GRUB from `GNU` project and I get this error:
[code]

I'm quite not sure where it's trying to find `osxfuse`, but when I call ` ls /usr/local/lib | grep fuse` I get this result:
[code]

So, I think the library is here but the linker can't find it.
I suppose this is easily fixable by doing symlinks - but I don't know which. Can you h

[2022-08-19 09:31] kondak3 opened #914 "macOS monterey 12.5.1 apple M1 chip with macFuse 4.4.1 mount and unmount happening immediately"
We implemented macOS application using file system (https://github.com/osxfuse/filesystems).
This one working fine without any issue in "Intel machines".

[2022-08-19 18:37] bfleischer commented on #914
You need to provide more information. In case your file system is open source, provide a link to the repository. The [filesystems](https://github.com/osxfuse/filesystems) repository contains many different demo file systems. Which one did you base your file system on?

[2022-08-19 18:56] bfleischer commented on #913
Looks like `LDFLAGS` are not passed to grub-mount build target. `libosxfuse.2.dylib` is a symlink pointing to `libfuse.2.dylib`. If ld were looking for libosxfuse in `/usr/local/lib`, it should work. It might be best to raise the issue with the GRUB team. I don't know anything about how their build process works.

[2022-08-19 19:02] bfleischer commented on #912
Did you check the logs with `kmutil log` right after trying to load the macFUSE kernel extension?

Did you try running `kmutil trigger-panic-medic --volume-root /Volumes/<YourVolumeName>` in recovery mode?

[2022-08-19 19:09] bfleischer commented on #909
I'm not sure that I understand what you are trying to do. You can't install macOS on a NTFS volume. And you shouldn't need macFUSE to install macOS on an external SSD. Can you explain what you are trying to accomplish?

[2022-08-19 20:17] NewAlexandria commented on #908
@itefect you can pull data the long way: even without the FS integration, you can use `keybase fs cp ....` to manage access to files/data

[2022-08-21 23:50] bfleischer commented on #623
This not a bug in macFUSE. macFUSE supports the concept of creation time. It works fine with the Loopback reference file systems.

SSHFS uses the SFTP protocol. Many Unix file systems don't have the concept of creation time. The POSIX standard does not mandate it. Support for supplying the creation time of a file is an optional extension to the SFTP protocol. In case the server does not pass a cre

[2022-08-21 23:50] #623 closed, assigned to nobody

[2022-08-22 02:35] bfleischer commented on #903
This issue is fixed in macFUSE 4.4.1.

[2022-08-22 02:35] #903 closed, assigned to bfleischer

[2022-08-22 02:39] bfleischer commented on #901
Could you check if the issue still exists with macFUSE 4.4.1? The 4.4.1 update addresses a bug that might be to blame for the hang you are seeing.

[2022-08-22 15:20] nedex commented on #623
I'm using SSHFS on other clients and it works (for example sshfs on Debian or other SFTP clients), while using the same servers on macOS using macFUSE don't work.

This feature stopped working at some point, since I used this feature to copy some files while keeping the creation date.

If you need more proof please let me know.

[2022-08-22 15:27] frakman1 commented on #901
Thank you for the update.
After I ran into this problem with `osxfuse`, I found an alternate solution using `macSSHS`/`macfuse` :

https://github.com/tormodwill/macSSHFS

In conjuction with `brew install macfuse`, I was able to get `sshfs` to work that way.

Unfortunately, since they have different dependencies (`load_macfuse` vs `load_osxfuse`), I won't be able to test the `osxfuse` method as I b

[2022-08-22 16:02] leehauser opened #915 "Unable to validate system extention on MacOS Ventura"
I'm running Ventura on an M1 MacBook Air, trying to open a VeraCrypt volume on an APFS formatted external hard drive. I have MacFuse 4.4.1 installed. I haven't tried to open this volume since installing the Ventura beta, it worked fine on an earlier MacFuse under Monterey (sorry, don't remember the MacFuse version).

When I try to mount the volume, it tells me the extension has been updated. I go

[2022-08-22 16:31] kondak3 commented on #914
We are using "LoopbackFS" in swift. Same code, based on swift version changed syntax and folder choosing dynamical.
This code working Intel machines. But Apple M1 chip machines observed mount and unmount happening immediately.
Machine not responding few mins/seconds.

[2022-08-22 19:52] bfleischer commented on #914
The latest version of the Loopback file systems can be found here: https://github.com/macfuse/demo

For me, the Swift version works perfectly fine on M1 Macs. There is no automatic unmounting. You might want to look into your modifications or build settings.

[2022-08-22 20:13] bfleischer commented on #915
I don't see any obvious reasons in the log that would explain why the kernel extension cannot be loaded. Did you try triggering the panic medic in recovery mode?

In any case, please use Apple's Feedback Assistant app and create a feedback ticket. This looks like something Apple should look into. Kext management has been buggy since macOS 11 when Apple rewrote the kext management system.

For me t

[2022-08-22 20:19] bfleischer commented on #901
macFUSE and osxfuse are the same. Since version 4.0 osxfuse is called macFUSE. Support for macOS Ventura was added in macFUSE 4.4.0. osxfuse 3.x never supported Ventura.

[2022-08-22 20:19] #901 closed, assigned to bfleischer

[2022-08-22 20:20] #913 closed, assigned to bfleischer

[2022-08-22 21:07] bfleischer commented on #623
It's not about proof. macFUSE supports creation times. You can check with with the loopback reference file systems (https://github.com/macfuse/demo). This means it's not a macFUSE issue.

Excerpt from man 2 stat:
[code]

`st_ctime` is not the creation time of the file, `st_birthtime` is. `st_birthtime` might not be set by the sshfs version you use.

[2022-08-22 21:10] nedex commented on #623
I'm using the latest version of sshfs available, the 2.5.0 (as also stated in the issue).

[2022-08-22 21:35] bfleischer commented on #623
Version 2.5.0 from the macFUSE website does not set `st_birthtime`.

With the 2.5.0 version the creation date should always have been 01.01.1970. That's why I was asking which version of SSHFS you were using.

Anyway, this is not a macFUSE bug. Implementing this feature in SSHFS should be possible for servers that pass the creation time of files. SSHFS is not well maintained currently.

[2022-08-22 21:41] nedex commented on #623
Now I'm getting it, thank you.

I also opened the issue on the sshfs repo, maybe it should be re-opened at this point.

EDIT: I'll try add native birthtime support and add a flag to "infer" it from other dates (it's useful for me, it might for others too).

[2022-08-24 18:37] bfleischer commented on #911
macFUSE does not interfere with files outside of macFUSE volumes. Renaming a file (on the macOS system volume) does not update its last modification date. This is the expected behavior since the file's content has not been modified.

[2022-08-24 18:37] #911 closed, assigned to bfleischer

[2022-08-25 02:38] bfleischer commented on #754
@tjluoma You don't need to disable Gatekeeper or System Integrity Protection to use macFUSE. I can't stress this enough.

----

**Intel**

On Intel Macs you get a prompt when trying to load the macFUSE kernel extension for the first time. You'll need to click on the 'Allow' button in the system preferences, then reboot your Mac and you are good to go.

**Apple Silicon**

On Apple Silicon Macs you

[2022-08-25 02:38] #754 closed, assigned to nobody

[2022-08-25 03:08] leehauser commented on #915
Hi,

I did try the kernel panic trigger, and it didn't make any difference other than the initial message about clearing the kernel extension cache after the first reboot. Trying to mount the VeraCrypt volume again just started me through the same routine. I admit I'm not sure, beyond clearing the cache, what the kernel panic trigger is supposed to do or what else I would look for -- if clearing t

[2022-08-25 06:53] DarrenPIngram commented on #911
Presumably the same is with a mount within Macfuse?
E.g. you mount volume "dog" (rclone dropbox volume), copy a file to "dog"
from system drive (non Macfuse)? Same if you copy a file and then edit the
file name ?

I've since understood that on a system volume just editing the filename
does not change the file in itself (thus not changing modification time).
Is this the same within Macfuse?

On Wed

[2022-08-25 11:19] kondak3 commented on #914
`We changed all the mentioned build settings and framework. Single mount creation working.`

Added mount creation code in separate class.

Creating more than one mount. MountPath and rootPath passing dynamically.

We are trying 1 to 10 mounts, after creating 3 or 4,

machine is freezing few mins. system not responding.

mount folder, unmount time getting below error message.

[2022-08-25 19:24] bfleischer commented on #754
Installation instructions for macFUSE with screenshots: https://github.com/macfuse/macfuse/wiki/Getting-Started

[2022-08-26 04:13] bfleischer commented on #914
It's not recommended serving multiple file systems from the same process. Technically it's possible, but not recommended.

The issue you are running into is moste definitely caused by your modifications of the LoopbackFS demo app. Is this a commercial project?

[2022-08-26 10:15] fa8sanger opened #916 "Unable to use MacFuse Apple M1 macbook"
Thank you for MacFuse, I've been using it over years!
Unfortunately, after getting a new laptop running on Apple M1 chip, I am not able to use it anymore.
Whenever I try to mount a disk a window opens saying "System Extension Blocked" recommending to open Sys Prefs...
However, in Sys Prefs there is no option to "allow loading system software from developer "Benjamin Fleischer"" or anything like th

[2022-08-27 03:58] bfleischer commented on #916
Please see https://github.com/macfuse/macfuse/wiki/Getting-Started. Did you enable support for third party kernel extensions in recovery mode?

[2022-08-28 16:52] fa8sanger commented on #916
Many thanks for getting back to me. I didn't know about that possibility. I'll talk to our IT team and see if that helps. I hope so!

[2022-08-29 16:23] kondak3 commented on #914
We are not using any commercial purpose. Let us if any feasibility to create more than one mount without any issues.

[2022-08-29 18:18] bfleischer commented on #914
You might want to look into your memory management. Not retaining the GMUserFileSystem instances could lead to immediate unmount.

[2022-08-31 03:36] bfleischer commented on #911
Yes, at least it should be. I depends on the specific implementation of the file system (rclone in your case). macFUSE aims to behave exactly as the built-in Apple file systems.

[2022-09-01 04:30] kondak3 commented on #914
We didn't retaining instance of GMUserFileSystem. Still we are facing auto unmount in Apple M1 and macOS 12.5.1

[2022-09-01 13:32] kondak3 commented on #914
The latest version of the Loopback (https://github.com/macfuse/demo) modified with multiple mounts.
https://github.com/kondak3/LoopbackFS-Swift

This Loopback working without fail in "macOS Monterey(v12.3) with Intel Core i5" and macFuse 4.4.1.

But same Loopback in "macOS Monterey(v12.5.1) with Apple M1 chip" and macFuse 4.4.1. Getting auto-unmount with error of `fuse: writing device: Socket is n

[2022-09-01 14:44] Unnameless commented on #893
Indeed, but correct me if I'm wrong, the the third party gets to audit the closed code, that clearly means they get to see the code, meaning a some sort of NDA contract has to be signed. Otherwise the audit becomes pointless, as the auditor cannot make public the findings without revealing any or much of the source code. It could at best reveal the security issues only to the dev, in which the dev

[2022-09-01 16:59] robd003 opened #917 "Why is this closed source?"
Wouldn't it be more beneficial to have this as an open source project so that the community could submit bug fixes?

[2022-09-02 00:32] bfleischer commented on #893
@Unnameless

The point of security audits is to discover vulnerabilities and making sure those vulnerabilities are addressed. This is usually achieved by publishing security issues after the developers have been given enough time to address those issues. Security researchers can reveal vulnerabilities without posting any of the audited source code. In fact, this is common practice. Revealing vulne

[2022-09-02 00:33] bfleischer commented on #893
@nirmit Currently there is no way for individuals to donate to the macFUSE project.

[2022-09-02 00:33] #893 closed, assigned to bfleischer

[2022-09-02 00:47] bfleischer commented on #917
In an ideal world macFUSE would be open source and companies making a profit from it would be willing to support its continued development. But we are not living in an ideal world. Please see https://www.theregister.com/2019/12/16/fuse_macos_closed_source/ for a more detailed answer.

[2022-09-02 00:47] #917 closed, assigned to bfleischer

[2022-09-02 00:57] nirmit commented on #893
What about corporate donations? :)

[2022-09-02 01:05] bfleischer commented on #893
@nirmit Please drop me an email. You can find my email address on my GitHub Profile.

[2022-09-02 01:06] #916 closed, assigned to bfleischer

[2022-09-02 04:04] bfleischer commented on #914
Your demo code work fine for me on an M1 Mac mini with macFUSE 4.4.1. No errors whatsoever.

[2022-09-02 04:45] kondak3 commented on #914
Please run more than one time. Mine MacBook Pro, Apple M1 Pro.

[2022-09-02 12:02] makramakramakra commented on #892
I finally got hold of the MBP 8,1 again, installed Monterey and macFUSE from scratch. Result: Works flawlessly. I have no clue, what had gone wrong.

Thanks again for your efforts!

[2022-09-02 14:29] bfleischer commented on #892
I'm grad everything works for you now.

[2022-09-02 14:29] #892 closed, assigned to bfleischer

[2022-09-02 17:40] bfleischer commented on #914
Works fine for me. I ran the app and it mounted the volumes. Then I unmount the volumes terminated the app and ran it again.

[2022-09-04 04:38] kondak3 commented on #914
MacBook Pro, Apple M1 Pro, still we are facing the auto unmount issue.

[2022-09-04 19:08] soleroitsolutionsltd opened #918 "OSXFuse not loading when booting from external drive"
It would seem that it is not really a MacFuse issue as it is apparently not possible to load a KEXT when booting a Silicon system underOS 12.5.x from an external external disk (even with all integrity checks tuned off).
Is it so or is this specific to OSXFuse ?

[2022-09-05 14:19] bfleischer commented on #918
I don't have an external Thunderbolt disk at hand, so I cannot try to reproduce the issue. It would be great if someone else with an external thunderbolt disk could give it a try.

But, there is nothing I could do from the macFUSE end to either allow or disallow loading the macFUSE kernel extension when booting macOS from an external volume. Since loading macFUSE works fine when booting from an in

[2022-09-05 14:22] bfleischer commented on #914
Like I said, it works for me. I cannot reproduce the issue. I highly doubt this is a general issue or a bug in macFUSE. I'm sorry, but you'll need to investigate this on your end.

[2022-09-05 15:22] bfleischer commented on #909
Closed for no feedback.

[2022-09-05 15:22] #909 closed, assigned to bfleischer

[2022-09-06 07:00] cloverenergy commented on #918
Apparently a macOS bug (or limitation, although not sure what it would help with).

[2022-09-06 07:15] xkenokabe commented on #915
I think you have to allow the system extension.
See below for instructions.
https://iboysoft.com/mac-data-recovery/enable-thirdparty-extension.html

[2022-09-06 07:20] xkenokabe commented on #912
It seems that you are using the wrong method to allow the system extension. See below for how to do it.
https://iboysoft.com/mac-data-recovery/enable-thirdparty-extension.html

[2022-09-08 15:47] jpiel commented on #858
Is there any news in Apple's API giving hope of a replacement of the KernelExtension by a SystemExtension ?

[2022-09-08 22:22] christhomas opened #919 "Possible to create a version that doesn't require disable SIP?"
I'm curious whether it's possible to create a version of this extension in the future that doesn't require to disable SIP. When I last did that after upgrading to my M1 macbook, I immediately ran into the "No administrator" problem and I had to do a full reinstall and file system clone across a SFTP connection because everything I tried to bring it back to normal failed.

Is the reason we need to

[2022-09-08 22:25] NewAlexandria commented on #919
I know this was mentioned on one of the Issues or PRs already.  You don't need to disable SIP if you install it correctly.

[2022-09-08 22:42] christhomas commented on #919
I was gonna say I'll go look for that, then I realised that the source is closed and I can't look any of it :P But do you know why SIP needed disabling in the first place?

[2022-09-10 15:32] bfleischer commented on #858
Apple did not announce such an API at this year's WWDC. But if you read the release notes of macOS Ventura closely there are some hints that Apple is working on a new API.

[2022-09-12 15:50] cloverenergy commented on #918
I can confirm that it is not possible to load a KEXT on an externaly booted system - no idea why Apple disallows it (assuming it is a concious decision, not "just" an oversight).

FWIW trying with TUXERA NTFS driver (commercial product, but they never had anyone report the issue so far):

/usr/bin/kmutil load --bundle-path /Library/Filesystems/tuxera_ntfs.fs/Contents/Resources/Support/10.9/tuxera_

[2022-09-12 16:27] bfleischer commented on #919
There is no need to disable SIP. https://github.com/macfuse/macfuse/wiki/Getting-Started includes step-by-step instructions for installing macFUSE on Intel and Apple Silicon Macs.

Currently there is no non-kernel API for developing full-featured file systems for macOS.

There is no official information from Apple when the new non-kernel API for developing full-featured file systems will be made a

[2022-09-12 16:27] #919 closed, assigned to bfleischer

[2022-09-12 16:30] bfleischer commented on #918
@cloverenergy Thanks for the update.

[2022-09-19 18:49] NSExceptional commented on #751
Hey all; what's the status of this? Trying to install `sshfs` from homebrew yields `no bottle for Apple Silicon`. Was the homebrew stuff never updated?

[2022-10-06 06:44] dhanjit-groww commented on #884
How was this resolved?

[2022-10-11 08:07] DarrenPIngram commented on #896
Must say I can't be sure. APFS Encrypted according to Disk Utility.

However I've just done a test on a local directory (desktop) and I could
rename say Test.txt to test.txt without any error.

I can't say I recall the issue on my office computer, but I've been using
it on my laptop for several weeks (where the issue was noticed) due to my
long-term illness making me sleep more (so easier to be in

[2022-10-11 08:32] 94gwz commented on #908
Hello, i solved the issue with the time machine back-up, I revert to Fuse 3.10.4 already, previously, installed & signed.
And now it works as before.

[2022-10-19 18:19] charman2 commented on #908
@itefect I have the same problem. @NewAlexandria could you expand on your suggestion?

[2022-10-19 18:37] 94gwz commented on #908
Hello
The topic may be due to the SIP
Try this :
1. Uninstall macFUSE
2. Reboot into Recovery mode and in Terminal do the command csrutil disable
3. Reboot into macOS and install macFUSE or OSXFUSE.
4. Enable extension in Security & Privacy
(5. don't forget to csrutil enable if you did that step)

But be carreful, the SIP protect the system, disable it supposed to be very prudent when you Install

[2022-10-19 19:07] charman2 commented on #908
This worked! Thanks. macFUSE had been installed as part of something else, so I wasn't even aware it was the problem until I saw this thread. Much appreciated.

[2022-10-20 12:44] epaterlini commented on #826
Same problem here, this is very frustrating. Every time I run the command sshfs if, for some reason, connectivity cannot be estabilished or I press CTRL-C, the entire system goes into unusable state! I have to hard reboot...this is not nice at all :-(

[2022-10-26 11:12] michaelowenfinoa opened #920 "Please renew PGP signing key and post link to it on a public key server"
Hi,

I downloaded the latest version of OSXfuse and when I attempt to cryptographically verify it using the PGP signature provided, I am told that the signing key (which I had found a long time ago) has expired.

I am unable to locate a renewed signing key. Is it possible for you to renew your PGP signing key and post a link to the renewed key on a public key server?

Thanks

[code]

[2022-10-26 18:13] bfleischer commented on #920
Please see https://github.com/osxfuse/osxfuse/issues/679

Key servers seem to disappear quite frequently, but you can download the key from  https://osxfuse.github.io/static/53C918C1A2818875.asc

[2022-10-26 18:13] #920 closed, assigned to bfleischer

[2022-10-27 04:10] vernodia opened #921 "Mac osxfuse not compatible with Ventura"
Hi,

Updated to OS Ventura and it says need to update osxfuse.  Where can I download the version that works with Ventura?

Thanks

[2022-10-27 15:54] adamcweiner commented on #921
I had the same issue but then upgraded to the latest stable release (`macFUSE 4.1.1`) and things seem to work now.

[2022-10-29 08:57] superbonaci commented on #590
Can't install `dislocker` on macOS Ventura because the source code is missing:

[brew install dislocker on macOS Ventura](https://github.com/orgs/Homebrew/discussions/3844)

[2022-10-29 09:03] superbonaci opened #922 "dislocker not compatible with macFUSE"
I'm trying to run `dislocker` on macOS Ventura but unfortunately the brew.sh formula is not compatible with the closed source version:
[brew install dislocker on macOS Ventura](https://github.com/orgs/Homebrew/discussions/3844)

[2022-10-30 20:00] superbonaci opened #923 "Request for license change"
This is a request to release all macFUSE source code under the GPL license.

[2022-10-31 07:49] tuobraun commented on #921
I have exactly the same issue on 4.1.1 saying that the version is no longer supported.

[2022-10-31 08:55] bfleischer commented on #921
You can use the integrated update mechanism to upgrade to the latest version. To do so, open System Preferences and go to the macFUSE preference pane. Alternatively, you can download the latest release from the project's website https://macfuse.io or https://osxfuse.github.io. Support for Ventura has been added in version 4.4.0. The latest release, at the time of writing this, is version 4.4.1.

[2022-10-31 08:55] #921 closed, assigned to bfleischer

[2022-10-31 08:57] bfleischer commented on #923
I'm respectfully declining the request as it would most likely have a negative impact on the project's funding.

[2022-10-31 08:57] #923 closed, assigned to bfleischer

[2022-11-01 15:59] danielhladky commented on #915
Hey @leehauser or @bfleischer - Is there a solution / fix for the issue with VeraCrypt and FUSE? I just upgraded to Ventura Version 13.0 I get this error when trying to mount and open a file: "mount_macfuse: the file system is not available (1)

macFUSE version 4.4.1 installed

I am using VeraCrypt almost on a daily base. Therefore need a solution (help) as I am dependent on it! Much appreciated.

[2022-11-01 16:04] leehauser commented on #915
As soon as I installed Ventura RC2 the kernel extension problem disappeared and I was able to install it and use VeraCrypt without issue. It didn’t even require me to validate or okay the extension, it just started working.

[2022-11-01 16:04] #915 closed, assigned to bfleischer

[2022-11-02 13:23] 4bondarenko opened #924 "Does not work on macOS Ventura 13.0 !!!"
Macfuse 4.4.1 stopped working after system update to macOS Ventura 13.0
System freezes on drive connection attempt
System: Macbook Air M1

[2022-11-02 13:26] bfleischer commented on #924
Please provide more information about what you are trying to do and the actual file system you are using. Did you report the issue to the developer of the actual file system implementation you are trying to use? macFUSE 4.4.1 works fine for me on Ventura.

[2022-11-02 13:36] 4bondarenko commented on #924
I tried to connect using version 4.2.1 and failed.
Error
_Unsupported macOS Version
The installed version of macFUSE is too
old for the operating system. Please
upgrade your macFUSE installation to
one that is compatible with the currently
running version of macOS._
I updated MacFUSE to 4.4.1 restarted system and tried to connect via same SSH command
sshfs -o allow_other,default_permissions user_n

[2022-11-02 19:33] S-AT commented on #924
I had a similar one. My mac did not freeze though, but Finder did.
Moving/renaming the mount points fixed the issue, but it doesn't look as a right way to fix it.

@4bondarenko , thanks for the hint.

[2022-11-02 23:34] moinessim commented on #826
Same problem here

[2022-11-03 08:18] OliverDrechsler commented on #924
i had the same (were I used it within veracrypt), but I solved it with `brew uninstall macfuse` and installed it again with `brew install mccfuse`.
After a reboot it worked for me

[2022-11-03 11:58] woncheol-kim commented on #924
I have a similar, but more complex one:

At first, I had a system freeze problem after system update to Ventura.

Then I came to know that, for homebrew, macOS Ventura requires Xcode 14.1 which had not been released back then.
Anyway, I had tried to brew update macfuse which looked successful. But I had the same system freeze problem.

Now Apple finally released Xcode 14.1 - but after updating it,

[2022-11-03 16:02] hellmany commented on #924
Same problem, but when i solve it with different folder - very slow speed on reading writing on fuse partitions.

[2022-11-04 09:38] bjnpck commented on #924
Same, pcloud virtual drive is not working anymore due to macfuse incompatibility with Ventura.

[2022-11-04 11:15] bfleischer commented on #924
It seems a couple of things are getting mixed up here. First of all, macFUSE includes support for Ventura since version 4.4.0 which was released in June. If you are using an older version, I recommend updating to the latest macFUSE release. The recommended way of installing macFUSE is running the installer from https://macfuse.io.

@bojan-liquity pCloud uses a custom version of macFUSE. This means

[2022-11-04 12:53] 4bondarenko commented on #924
Yes, I had all permissions on `/local_folder`
Folder was owned by user
I'm sure that problem happened because this folder was previously mounted in old Fuse version.
Problem happened after system upgrade to MacOs Ventura withoout dismounting drive.
And nothing helped me. I tried to restart, dismount drive and so on. (drive looked mounted and command umount -f /Users/$user_name/Desktop/local_folder

[2022-11-04 15:18] S-AT commented on #924
@bfleischer , huge thanks for the great job you've done!

@4bondarenko , better way to unmount is
`diskutil unmount force /Users/$user_name/Desktop/local_folder`

[2022-11-04 15:51] bjnpck commented on #924
@bfleischer yeah, had just to update pcloud

[2022-11-05 05:08] sk-gaurav opened #925 "After mount, not able to view files in finder but visible in terminal"
Mac OS Monterey Version 12.6.1 Apple M1 chip

I am running some infrastructure command which needs mounting support on Mac. Initially when I run the command, I got the following error.

_Error: mount: cannot locate OSXFUSE_

After which I installed macFUSE from https://osxfuse.github.io/ . Now, mounting is done properly when I run the command, but I'm not able to see the files on the finder. Only

[2022-11-05 17:21] bfleischer commented on #925
Which file system are you using?

Please note: macFUSE is a building block used by third-party developers to build actual file systems. Usually it is best to raise issues like this one with the developer of the actual file system you are trying to use. In most cases the file system developer is best suited for analyzing such issues.

[2022-11-05 17:42] bfleischer commented on #922
Not all components of macFUSE are open source. The Homebrew team decided not to ship macFUSE versions that contain closed source components. That's a political decision of the Homebrew team and there is nothing I can do about that.

If you are interested in the reasons why macFUSE is not completely open source, please see https://github.com/macfuse/macfuse/wiki/Open-Source-Status.

[2022-11-05 17:42] #922 closed, assigned to bfleischer

[2022-11-05 17:50] bfleischer commented on #914
I'm closing this issue for lack of feedback.

[2022-11-05 17:50] #914 closed, assigned to bfleischer

[2022-11-05 17:51] #918 closed, assigned to bfleischer

[2022-11-05 17:52] #908 closed, assigned to nobody

[2022-11-05 18:01] bfleischer commented on #900
macFUSE unmounts unresponsive volumes after daemon_timout (mount option, defaults to 60 seconds). If you are dealing with a slow network connection or large files, your file system might become unresponsive or appear dead. That being said, version 4.4.0 contained a bug that could lead to a deadlock with similar effects. The bug was fixed in 4.4.1. I'm assuming this is what caused your freezes with

[2022-11-05 18:01] #900 closed, assigned to bfleischer

[2022-11-08 22:43] stanaka6 commented on #925
Hi @bfleischer,

I'm having a similar issue that @sk-gaurav posted.

I used the macFuse for several weeks without any issues. However, now when I try to mount using `sshfs` on the Terminal, I cannot see the folder in Finder, but visible in the Terminal. I could not access files in the mounted folder. For example, if I try to access a file in the folder on R, I will get the following error:

[code]

[2022-11-15 03:42] jainraje commented on #813
Hi,
I'm running big sur and have exact same issue.
cmd_prompt>sshfs --version
SSHFS version 2.5 (OSXFUSE SSHFS 2.5.0)
FUSE library version: 2.9.9
fuse: no mount point

The remote system has rebooted so the local mount point is lost. I'm not finding a way to add it back or unmount without a *painful* reboot.

cmd_prompt>sshfs Smith@ipaddr:/home/Smith ~/mounts/XYZ
mount_macfuse: mount point /Users/S

[2022-11-15 06:30] tormodwill commented on #813
Hi

You can try the following command :

sudo umount /Users/Smith/mounts/XYZ

Best regards

Tormod Willassen

[2022-11-15 11:15] sdobbelaere commented on #924
Updated macfuse, reboot and all was fixed.

[2022-11-18 21:13] Anatoly4444 commented on #754
Can't give access for macfuse. Old way to make it on Ventura does not work

[2022-11-19 18:41] jainraje commented on #813
Hi Tormod,
Your suggestion worked. I am now able to remount (ie sshfs) it back to my local system. Very, very good. Thank-you!
--Rajeev

[2022-11-19 19:32] michaelezra commented on #924
11/19/2022: The latest macfuse  + lates MacOS + latest Veracrypt = ad hoc reboot!
Would appreciate help!

[2022-11-20 13:58] bfleischer commented on #924
@michaelezra Please post the corresponding panic log.

[2022-11-20 14:09] michaelezra commented on #924
@bfleischer I am a bit new to Mac.. trying to figure out how. The last crash/restart happened yesterday.
1. can the panic log be retried for the prior date (11/19)?
2. could you please point which steps should I follow to get it?
Thanks!

[2022-11-20 14:12] michaelezra commented on #924
Is that it?
<img width="845" alt="image" src="https://user-images.githubusercontent.com/13765421/202906956-b460d480-b2e6-414c-b80b-3d78a505bbff.png">

[2022-11-20 14:13] bfleischer commented on #924
Nope, open the Console App and check under Reports. There should be a crash with "Kernel" in its name.

[2022-11-20 14:18] michaelezra commented on #924
Crash reports are empty:
<img width="995" alt="image" src="https://user-images.githubusercontent.com/13765421/202907033-43d57a8c-50fb-4e3c-a1ed-027ffbbcacb9.png">

[2022-11-20 14:20] michaelezra commented on #924
any of these?
<img width="994" alt="image" src="https://user-images.githubusercontent.com/13765421/202907398-5c9491a0-241b-4c72-9548-b59136bb2ce8.png">

[2022-11-20 14:23] michaelezra commented on #924
after the crash and automatic restart there was a prompt to send report to Apple.
I scanned through the text and as I recall I saw macfuse mentioned.
Not sure how to retrieve that now, perhaps its in one of these logs?

[2022-11-20 14:32] bfleischer commented on #924
The panic log should be available in the Console app. Panic logs have the ".panic" extension, not ".diag". They should be stored in `/Library/Logs/DiagnosticReports` or `/Library/Logs/DiagnosticReports/Retired`. Please note that this is the global Library folder, not the one in your home directory.

[2022-11-20 14:42] michaelezra commented on #924
(zip was here)
does sharing these files here.. introduce any security risk to my device?
Please let me know when you get this, I will delete

[2022-11-20 14:46] michaelezra commented on #924
also.. this issue appeared soon after I installed the latest version of macfuse-4.4.1
Version macfuse-4.2.4 was running without issues on MacOS 12.x

[2022-11-20 15:08] bfleischer commented on #924
None of the three panics seems to be caused by macFUSE.

The error strings of the three panics are:

* panic(cpu 1 caller 0xfffffe0014635a18): vm_page_reactivate_local: found vm_page_t(0xfffffe0027d6b350) with wrong cpuid @vm_resident.c:5691
*  panic(cpu 1 caller 0xfffffe00192e97e8): wire_count == 0, m = 0xfffffe002c2ab700, obj = 0xfffffe103a1c9100 @vm_pageout.c:7824
* panic(cpu 0 caller 0xfffffe0

[2022-11-20 16:27] michaelezra commented on #924
[bfleischer](https://github.com/bfleischer), thanks for looking into this.
By any chance, do you see anything about Veracrypt, as this is what I use to mount the volume.
Other than that.. I submitted to this to Apple, so hopefully they will look into this as well.

I ran MacOs for almost a year and until these incidents its been 100% stable, with macfuse and Veracrypt volume in use.

[2022-11-20 17:09] OliverDrechsler commented on #924
@michaelezra : as I stated above https://github.com/osxfuse/osxfuse/issues/924#issuecomment-1301769384
it worked for me again after uninstall und install again.... with the latest MacOS....
Maybe one thing what you also could check is the permissions  in Settings -> Security -> File System access for Veracrypt....
I have in my mind that after upgrade to Ventura it got lost for Veracrypt... and I h

[2022-11-20 17:18] bfleischer commented on #924
@michaelezra Verycrypt is not a kernel extension, that's why it would not appear in a backtrace of a kernel panic log.

In an ideal world, no user space application (this includes Veracrypt) should not be able to crash the macOS kernel. If this happens nonetheless, it points to a bug in the kernel that needs to be addressed by Apple. Your panics might have been indirectly triggered by a third-part

[2022-11-21 03:18] woncheol-kim commented on #924
Hi, I got similar problems with the latest versions of macOS, macfuse and rclone.
Firstly, my sistem info:

OS: macOS 13.0.1 22A400 x86_64
Host: Macmini8,1
Kernel: 22.1.0
CPU: Intel i7-8700B (12) @ 3.20GHz
GPU: Intel UHD Graphics 630
Memory: 7964MiB / 16384MiB

And I've found the logs as below:

"macOSPanicString" : "panic(cpu 2 caller 0xffffff7fa0634aa6): fuse: What kind of a flag is this (8100)?

[2022-11-22 07:14] Mandibul01 opened #926 "The macFUSE installation package is not compatible with this version of macOS. Ventura 13.0.1"
Hello. Just updated to Ventura and MacFUSE begun to give problems.
The error triggers when launching Bitrix24.
I'm a regular user using my Mac to connect to the company services.

Mac system settings has MacFuse 441 ready to install but then return the above error.

Any help would be appreciated.

[2022-11-23 19:59] Aswad1979 commented on #926
Same here!

[2022-11-24 22:21] bfleischer commented on #926
macFUSE 4.4.1 is compatible with Ventura. The error you are seeing is displayed when trying to install an old version of macFUSE on Ventura. Bitrix24 might be including an old version of macFUSE. You can download the latest version macFUSE from https://macfuse.io.

[2022-11-30 09:07] geroyche commented on #924
Just to chime in, I too experienced freezes trying to do my "regular olde mounts" after uprading both macOS to Ventura and macFUSE to 4.4.1. In the end I deleted the existing mount point folders thanks to @4bondarenko's findings (permissions looked fine, umount said they were not mounted). They were recreated (I need them to have the same name) on the next mount and everything worked again.

[2022-11-30 21:11] jdha commented on #925
@sk-gaurav I was having similar issues (OSX 12.6.1, M1, macFUSE 4.4.1, SSHFS 2.5) where I could only see the contents of the mounted fs using iterm, but not in Finder. I downgraded to macFUSE 4.2.5 and now I can see all the files and folders in the mounted directory using Finder. Hope that at least gives you a working solution.