[2017-08-02 14:12] mcgyver83 opened #401 "Error code -36 for Sierra 10.12.5"
Hi, I'm able to read file from an NTFS usb hdd but when I try to copy on the usb NTFS drive a file I always get
The Finder can’t complete the operation because some data in “abcdefg.rar” can’t be read or written.
(Error code -36)

[2017-08-02 16:12] ylluminate commented on #399
See: https://github.com/alexchandel/procfs/issues/6

[2017-08-02 19:40] ajmas opened #402 "Packaging for file system handlers?"
[osxfuse.py.txt](https://github.com/osxfuse/osxfuse/files/1195297/osxfuse.py.txt)

Would the be any value creating a packaging for filesystems designed to be used with OS Fuse and then creating a UI that can leverage any of them. The draft idea would be as follows:
[code]

A fusefs package would contain:

-  plist describing the file system
   - Name
   - Description
   - FS identifier, so it can

[2017-08-02 20:07] adolfoinigo opened #403 "brew link ntfs-3g ; Error: The `brew link` step did not complete successfully"
Hello team

I have issues to install home brew. Im using Sierra 10.12.6 and has the last update. when I tried to install from home are I obtain this:

Error: The `brew link` step did not complete successfully
The formula built, but is not symlinked into /usr/local
Could not symlink lib/pkgconfig/libntfs-3g.pc
/usr/local/lib/pkgconfig is not writable.

You can try again using:
  brew link ntfs-3g
=

[2017-08-02 21:49] adolfoinigo commented on #403
I answer My self because the solution works

It was a permissions on the folder /usr/local/lib/pkgconfig that is the one that homebrew uses for packages

I ran in console listed commands.

$ brew doctor

and then

I used the command that Homebrew recommends.

$ sudo chown -R $(whoami) /usr/local/lib/pkgconfig

It asked for password and then I used the link command

$ brew link ntfs-3g
Linking /usr

[2017-08-02 21:50] #403 closed

[2017-08-03 14:17] misku commented on #396
Tested. It works with big ass file systems.

[2017-08-07 19:55] copumpkin opened #404 "SSHFS release on osxfuse homepage is quite old, and is confusing me"
From what I see on the homepage, the most recent Mac-native SSHFS release on the osxfuse homepage is from 2014 and is 2.5.0, when the latest sshfs release is 3.2.0 from yesterday. It's unclear (for a new user) if we're supposed to use the old release on the homepage, or compile our own SSHFS, or if there's some incompatibility preventing the latest SSHFS from working on macOS.

Can the situation b

[2017-08-12 08:56] munishkumar631 commented on #401
I'm also facing same issue, is someone looking in it?

[2017-08-13 12:43] pari-pacc opened #405 "Build error"
NWHM0091:~ root# git clone https://github.com/osxfuse/osxfuse.git
Cloning into 'osxfuse'...
remote: Counting objects: 2335, done.
remote: Total 2335 (delta 0), reused 0 (delta 0), pack-reused 2335
Receiving objects: 100% (2335/2335), 1.54 MiB | 828.00 KiB/s, done.
Resolving deltas: 100% (1338/1338), done.
NWHM0091:~ root# cd osxfuse/
NWHM0091:osxfuse root# ls -la
total 120
drwxr-xr-x  15 root  whe

[2017-08-13 12:50] bfleischer commented on #405
Please read the README.md first before opening issues. The readme contains build instructions you don't seem to have followed. First of all you need to recursively clone the repository, install external dependencies and then run the build script with the correct parameters.

[2017-08-13 12:50] #405 closed

[2017-08-15 09:16] pankajso commented on #401
I'm also facing same issue.

[2017-08-20 18:00] rhen49 commented on #340
Having the exact same problem.  I was trying to follow the instructions [here](http://osxdaily.com/2014/03/20/mount-ext-linux-file-system-mac/) which I guess are wrong.  After following through what was said above and installing ext4fuse I can run this without errors:

[code]

However, when I try to CD to the mount point I get this:

`-bash: cd: LTemp: No such file or directory`

In this case I ha

[2017-08-21 06:18] marty-b1 commented on #340
I learned from another site that you need to use the "-o allow_other" flag if you want to be able to see the files if you are not root.

The command should look like this:

`sudo ext4fuse /dev/disk2s1 /LTemp -o allow_other`

[2017-08-22 07:00] martijnotto opened #406 "fuse_unmount hangs indefinitely"
I am developing a filesystem for Linux and osx (and eventually Windows too). I have initially written it on Linux (as that is what I use myself and know quite well) and am now in the process of porting it to osx.

The filesystem is written using the lowlevel API, using a libuv event loop. I have a signal handler to trap SIGINT and SIGTERM. When received, I call the following functions:

[code]

On

[2017-08-22 08:56] martijnotto commented on #406
Interestingly, if the mount _is_ busy (e.g. there is terminal open somewhere within the mount point) the application does close down properly, but the mount point is left. If the mount point is _not_ busy, the application hangs while shutting down.

[2017-08-23 06:10] ondrejF opened #407 "Fuse is not working on mac os x 10.13 Beta (17A352a)"
Trying to use FUSE version 3.6.3 with ExpanDrive on Mac OS 10.13 Beta (17A352a), getting message FUSE  version is unsupported on this version of Mac OS..

[2017-08-23 06:15] bfleischer commented on #407
Please report the issue to the ExpanDrive support team. ExpanDrive is based on an unofficial, modified version of FUSE that does not seem to be compatible with 10.13, yet. However, official FUSE for macOS releases starting with 3.6.0 work on macOS 10.13.

[2017-08-23 06:15] #407 closed

[2017-08-23 07:26] ondrejF commented on #407
Thanks for prompt and clear answer. I will contact ExpanDrive

Regards & Thanks

Ondrej Felix

On 23 Aug 2017, 08:15 +0200, Benjamin Fleischer <notifications@github.com>, wrote:

[2017-08-23 19:44] bfleischer commented on #406
On macOS (and BSD, as far as I know) you need to call unmount before shutting down the FUSE session. Calling unmount before closing the session ensures that FUSE is able to empty all kernel-side caches.

[2017-08-23 19:44] #406 closed

[2017-08-24 11:04] martijnotto commented on #406
I had the same idea and have already tried this. Unfortunately it makes no difference. fuse_unmount hangs whether or not it is executed before or after closing the session. The only time it does not hang is when it fails (because the mount is still active).

[2017-08-25 14:24] mickaphd opened #408 "Index FUSE drive?"
I would like to know if it's possible to index a fuse network drive with spotlight in macOS? I use pCloud (which use fuse) for example and I didn't find any way to index it and then use it with Spotlight.
Thank you!

[2017-08-26 01:54] mbakkokom commented on #342
I also have the same problem. But when **I unmount then mount it again**, the copied files appeared fine...

If I want to copy some files after previous copy operation finished, **it will fail**. Again, I just need to unmount then mount it again then do my next batch of copy.

Do we have any workaround for this?

EDIT: You should use Terminal for copying file, moving, removing, etc. I can't reliab

[2017-08-27 03:23] christancho commented on #341
Hi everyone,
It's kind an old topic, but I have the same issue, I run:
sshfs -d root@myserver:/var/www/html/ /Users/chris/Documents/remote -o allow_other,defer_permissions,IdentityFile=/Users/chris/Documents/chris.priv

And I get: Enter passphrase for key <keyname>
I tried going to root directory "/" but no luck... am I missing something?

Here's the version I'm using:
SSHFS version 2.5 (OSXFUSE S

[2017-08-27 04:35] FlorianBador commented on #341
Did you try the equivalent w/ an ssh command? That would tell you if at least the authentication works or if it's a problem specific to the mounting/sshfs. You can then verbose ssh with -vvv or -vv if too much.
You can also try scp to see if you can copy a file. If scp and ssh work fine then there's a mounting issue.
Also make sure to umount the directory before you try mounting it, because someti

[2017-08-27 23:48] bfleischer commented on #406
Are you sure you are still processing FUSE requests after calling `fuse_unmount ()`? You need to make sure that the channel is not closed before receiving `FUSE_DESTROY`.

I'm not sure if it helps, but if you are looking for an minimal example file system have a look at hello_ll (https://github.com/osxfuse/filesystems/blob/master/filesystems-c/hello/hello_ll.c).

[2017-08-27 23:54] bfleischer commented on #401
I'm assuming you are using NTFS-3G. If so, please report the issue on the NTFS-3G support forum at http://tuxera.com/forum/viewforum.php?f=7. NTFS-3G and FUSE for macOS are independent projects. NTFS-3G related issues should first be reported to the NTFS-3G team.

[2017-08-27 23:56] bfleischer commented on #408
Sadly it is not possible to index network drives. This is a limitation of Spotlight, not FUSE. However if you mount the volume using the `local` option Spotlight can be enabled.

[2017-08-27 23:56] #408 closed

[2017-08-28 21:29] sarat-ravi opened #409 "exchangedata fails with ENOENT if one of the files is recently moved to different directory"
# Overview
`exchangedata` fails with ENOENT if one of the files is recently moved to different directory, because the path of the recently renamed file according to the fuse userspace library is incorrect. More specifically, the path of the recently renamed file is composed of the file's *old* parent (before the rename), with the file's *new* name.

Upon digging further into the fuse kext, it appe

[2017-08-28 23:21] sarattall commented on #356
In all cases of this issue I've observed so far, the crash happens typically during the `exchangedata` call, where one of the files involved in `exchangedata` has been recently moved into a different folder.

This issue might be related to https://github.com/osxfuse/osxfuse/issues/409

[2017-09-04 00:03] fridaynext commented on #358
Is there another way to free up slots, like uninstalling and reinstalling Fuse?  I've uninstalled Virtualbox completely, deleted the one profile I had in Tunnelblick, and uninstalled Tunnelblick, and I'm still getting the KBFS error.  Any other options besides a whole new reinstall of macOS?  Is there a command I can run to delete interfaces?

[2017-09-04 13:06] mhariri commented on #315
Had this problem, and https://github.com/osxfuse/osxfuse/issues/315#issuecomment-258456598 worked for me, so no need to unload virtualbox drivers.

[2017-09-06 23:14] gabriel commented on #358
Did you restart after uninstalling?

[2017-09-08 21:02] mklein-de opened #411 "doesn't compile with Xcode 8.2.1 on 10.11.6"
see https://trac.macports.org/ticket/54781

This is not specific to macports, `./build.sh -t distribution -v 5` fails the same way with commit a770e21acc1e518a18ec246be6195b58b07a92a5

[2017-09-09 15:14] bfleischer commented on #411
Xcode 8 does not contain the OS X 10.11 SDK, so you cannot build kernel extensions for 10.11 with it. Unlike regular macOS oder iOS applications kernel extensions do not support setting a deployment target. This is not a bug.

[2017-09-09 15:14] #411 closed

[2017-09-09 15:20] bfleischer commented on #398
Which file system are you using? Appending files works fine with the loopback reference file system.

[2017-09-09 15:30] bfleischer commented on #400
For historic reasons the FUSE library on macOS is named libosxfuse.dylib, not libfuse.dylib. I haven't used rfusefs before so I don't know if it is compatible with macOS. You should check with the rfusefs developers.

In general when building console applications linking against FUSE it is a good idea to install pkg-config first. pkg-config is used by many build systems to look up external librari

[2017-09-09 15:30] #400 closed

[2017-09-09 15:34] bfleischer commented on #396
Thanks. I did a little refactoring (removed the statfs_x_ok flag) and added support for OSXFUSE.framework.

[2017-09-09 15:34] #396 closed

[2017-09-12 10:45] misku commented on #396
I've seen the clean up code. Thank you for your help.

[2017-09-17 18:02] andlabs commented on #164
What would be needed to add support for it? I'd like to be able to make a character device for various reasons, and I'm not quite sure where to start with building such a kernel extension myself (I bought the Amit Singh book at least). Thanks!

[2017-09-18 07:39] martijnotto commented on #406
I cannot process anything _after_ fuse_unmount(), because the call never completes. Because the program blocks in fuse_unmount(), none of the handlers are ever called.

[2017-09-18 08:13] yiskwang opened #412 "Should the write callback function be called every 4096 bytes?"
I just installed the latest version of OSX FUSE with max_write=33554432
and mounted my own file system.

When I run an application using fwrite() with a large size buffer,
.write callback function is called with 4096-byte chunks.

I have also tried to mount with -o direct_io, but I failed to see a single callback.

Could you tell me how to solve this problem?

[2017-09-18 13:45] gtimmy opened #413 "Source code archive doesn't contain code from submodules"
Releases tab contains links to the source code, but these archives don't have a code from submodules. Without these directories you are not able to build FUSE, it means that these archives are useless. Does it make sense?

[2017-09-18 14:17] pmalhaire commented on #413
It seams like a GitHub issue : [see this](https://stackoverflow.com/questions/34719785/how-to-add-submodule-files-to-a-github-release).

As a workaround if you want to get the code to build a specific release (here 3.7.0)  you can use :

[code]

[2017-09-18 14:56] gtimmy commented on #413
Yes, this command is presented in README.md, but there is no issue to checkout the specific version. The main problem is that these archives are useless for the now and `release.sh` should be updated somehow. This issue is a request for the @bfleischer attention :)

[2017-09-18 16:48] bfleischer commented on #412
On macOS you need to use the mount-time option iosize instead. See https://github.com/osxfuse/osxfuse/wiki/Mount-options#iosize for details.

Please note the the global I/O size can be overridden on a file by file basis. If you return a `st_blksize` != 0, FUSE will use `st_blksize` as I/O chunk size for this particular file.

[2017-09-18 16:48] #412 closed

[2017-09-19 07:13] Bleistein opened #414 "Size of filesystem reported with 0 on macOS 10.13 GM and osxfuse 3.7.0"
On macOS 10.13 Beta (17A362a) bindfs 1.13.7 will report a capacity of 0 of the mounted filesystem when used with osxfuse 3.7.0. The mount point filesystem is APFS.

Rolling back to osxfuse 3.6.3 shows the correct filesystem sizes again.

[2017-09-19 07:19] bfleischer commented on #414
Can you reproduce this issue with the loopback file system?

[2017-09-19 07:47] paaguti commented on #414
Same here with ntfs-3g on macOS 10.12.6. reverting to 3.6.3 corrects the
issue (at least for me TM)

BR, /Pedro A. Aranda

El 19 sept. 2017 9:13, "Michael Bleistein" <notifications@github.com>
escribió:

On macOS 10.13 Beta (17A362a) bindfs 1.13.7 will report a capacity of 0 of
the mounted filesystem when used with osxfuse 3.7.0. The mount point
filesystem is APFS.

Rolling back to osxfuse 3.6.3 s

[2017-09-19 07:48] mpartel commented on #414
bindfs's statfs impl doesn't differ much from the loopback one: https://github.com/mpartel/bindfs/blob/master/src/bindfs.c#L1147 where `process_path` returns a path relative to bindfs's working directory, which is the source directory.

@Bleistein does this also happen when the source and destination directories are different (i.e. `bindfs /foo /bar` instead of `bindfs /foo /foo`)?

[2017-09-19 08:07] Bleistein commented on #414
We where testing under our user home with something like "bindfs ~/a ~/b"...

[2017-09-19 08:52] Bleistein commented on #414
We compiled the current repository "c" version of the loopback filesystem. It shows exactly the same behaviour as bindfs...

[2017-09-19 16:45] maclarry opened #415 "Macfuse compatibity layer for oxsfuse and mac high sierra"
Installed Fuse for macOS 3.7 on mac high sierra beta(GM).  Pop up screen shows no macfuse compatibilty layer when I try to open file.  I checked compatibility layer on install.

[2017-09-19 16:56] bfleischer commented on #415
What exactly are you trying to do? The MacFUSE compatibility layer supports old MacFUSE file systems. You cannot open a file with the compatibility layer.

[2017-09-19 17:12] maclarry commented on #415
Sorry for the incomplete explanation.  I  was trying to open an Veracrypt encrypted volume that I had created earlier with veracrypt.   It kept showing I needed a compatibility layer installed.  I did find a solution.  I removed fuse and reinstalled fuse again.  Then I uninstalled Veracrypt and reinstalled it.  I can now open the veracrypt volume.  All seems fine.  Thanks for the reply.

[2017-09-19 17:12] #415 closed

[2017-09-19 17:18] Nizarius commented on #414
macOS 10.12.6, osxfuse 3.7.0 - the same problem as described above.

[2017-09-19 18:55] dstyp commented on #414
Same here. macOS 10.12.6 after updating to osxfuse 3.7.0

[2017-09-19 19:38] swt2c commented on #373
As a note, it does appear that this bug has been fixed in 10.13.

[2017-09-20 06:27] bfleischer commented on #414
This issue affects file systems that are using the high-level C API and FUSE modules. I'm currently testing a fix.

[2017-09-20 13:56] pmalhaire opened #416 "compilation fails under macOS 10.13 with XCode 9"
[EDIT 27 09 2017]
the only remaining bug to build under macOS 10.13 concerns gen_bridge_metadata.
the bug is in the os but there is a workaround thanks to @swt2c see [link](https://github.com/osxfuse/osxfuse/issues/416#issuecomment-330980225)
[END EDIT]

High Sierra will be released very soon and the project is not compiling using it.

Here is what I got when compiling osxfuse under High Sierra Be

[2017-09-20 15:42] swt2c commented on #416
For the error about `kOSKextReturnSystemPolicy`, that identifier is defined in the 10.13 SDKs in `libkern/OSKextLib.h`, so I think the proper fix would be to move those three lines to after where `libkern/OSKextLib.h` gets included.

[2017-09-20 16:35] pmalhaire commented on #416
@swt2c it makes sense but just switching the order does not work I must be missing something

[2017-09-20 18:58] swt2c commented on #416
@pmalhaire what version of 10.13 beta are you using?

[2017-09-20 20:25] pmalhaire commented on #416
@swt2c
macOS 10.13 17A360a
Xcode 9.0 beta (9M136h)

[2017-09-20 20:28] swt2c commented on #416
@pmalhaire I didn't see the same error related to `kOSKextReturnSystemPolicy` when I tried compiling on the GMC.  However, I saw a different error when compiling mount_osxfuse that you (apparently) didn't see.  So I wonder if perhaps you are running an older version of the beta?

Anyway, I submitted https://github.com/osxfuse/support/pull/5 to fix the error with PostInstall and the error that I sa

[2017-09-20 20:36] pmalhaire commented on #416
@swt2c I have no update pending so I am at the last version of the os and Xcode

I had the same fix for post install which seems logical

what is you bridge workaround skipping it as I did or you got something better ?

[2017-09-20 21:03] swt2c commented on #416
I'm running:
macOS 10.13 Beta (17A362a) (GM candidate - note this version doesn't show up as an upgrade in app store, you have to reinstall)
Xcode 9.0 (9A235) (official release, not beta)

The bridge workaround I used was to symlink /Applications/Xcode.app/Contents/Developer/Toolchains/OSX10.13.xctoolchain to /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain so that ge

[2017-09-20 21:05] pmalhaire commented on #416
Your damn right, beta to gm is not automated

[2017-09-20 21:14] swt2c commented on #416
Yep, it's annoying.  It looks as if the Xcode update might not be either, given that it doesn't seem to be offering you the final version of Xcode 9.  You might have to uninstall and reinstall that too.  :-(  Another 5GB download... :(

[2017-09-21 06:20] bfleischer commented on #414
The new 3.7.1 release (https://github.com/osxfuse/osxfuse/releases/tag/osxfuse-3.7.1) should fix this. Could you give it a try?

[2017-09-21 07:10] LRDN commented on #414
Many thanks. Works perfectly with macOS 10.12.6 and SSHFS 2.5.0 now.

[2017-09-21 16:40] pmalhaire commented on #416
@swt2c
I updated Xcode and the `kOSKextReturnSystemPolicy` is a bug due to Xcode 9 beta, it's fixed with Xcode 9.

[code]

So I guess the other error you got `error when compiling mount_osxfuse`seems to be GMC regression.
Hopefully the release will fix it, let wait the 25th

[2017-09-21 17:24] swt2c commented on #416
@pmalhaire Benjamin merged my PR which fixes the mount_osxfuse compile problem.

I believe the only problem remaining now is the `gen_bridge_metadata` problem, for which I still don't see a way for osxfuse to work around.

[2017-09-21 17:44] bfleischer commented on #414
Thanks to everyone who reported the issue and @LRDN for testing the new release.

[2017-09-21 17:44] #414 closed

[2017-09-21 17:53] bfleischer commented on #416
3.7.1 should compile with Xcode 9 after symlinking the toolchain, at least it worked for me. Let's wait and see if Apple addresses the toolchain issue. I don't think it will take long before Apple releases Xcode 9.0.1. This is not the only bug in Xcode 9.0.

@pmalhaire Thanks for reporting the issue. If I remember correctly `kOSKextReturnSystemPolicy` has been introduced in Xcode 9 beta 3. Maybe y

[2017-09-21 18:12] swt2c commented on #416
You are right - they are usually pretty quick to issue Xcode updates.

However, I think the problem with gen_bridge_metadata is in macOS itself (actually the problem seems to be with `/System/Library/BridgeSupport/ruby-2.3/bridgesupportparser.bundle`) as gen_bridge_metadata seems to be present even without installing Xcode or command line tools.  I have to wonder if bridgesupportparser.bundle shou

[2017-09-21 19:20] divamgupta opened #417 "Mounted SSHFS showing zero space"
I use the latest osxfuse on macOS sierria. I had mounted the a SSHFS drive using:

` sshfs -o allow_other,defer_permissions  divam14038@k40: ~/k40_mount`

But df -h command shows zero space.

`divam14038@k40:    0Bi    0Bi    0Bi   100%       0          0  100%   /Users/divamgupta/k40_mount`

The server is a centOS server with quota enabled. But I am only using 50% of the quota.

[2017-09-21 19:34] bfleischer commented on #417
Please update to FUSE for macOS 3.7.1. This is a known bug in version 3.7.0.

[2017-09-21 21:20] henryzhangsta opened #418 "Unable to load kernel extension in macOS 10.13 GM"
I am not able to load the kernel extension version 3.7.1 in the GM. For some reason osxfuse is not finding its dependencies even though they are clearly there.

**kextutil output**
[code]

**kextstat output**
[code]

[2017-09-21 21:33] bfleischer commented on #418
Works fine for me. Have you tried rebooting your Mac?

[2017-09-21 21:34] henryzhangsta commented on #418
Yes. Uninstalled, rebooted, then reinstalled and rebooted.
System Integrity Protection is also completely disabled

[2017-09-21 21:51] divamgupta commented on #417
Yes, it is working now.

[2017-09-21 21:51] #417 closed, assigned to nobody

[2017-09-21 23:24] mstgrv opened #419 "Prefpane doesn't use system font"
<img width="780" alt="screenshot 2017-09-21 19 10 28" src="https://user-images.githubusercontent.com/31542657/30722698-a6b0a41c-9f00-11e7-9642-3d0f30cbb44d.png">

Bit pedantic, but the text in the upper half of the prefpane window isn't the default system font on Sierra - seems to be the old default OS X font from pre-Yosemite. Would look nicer if the system font was used for the whole shebang.

[2017-09-22 00:07] swt2c commented on #418
Works fine for me also.  You don't need to disable SIP.

[2017-09-22 05:58] bfleischer commented on #418
@henryzhangsta Just to make sure, did you install the official 3.7.1 build from the GitHub Releases page or did you build FUSE from source or use a package manager like MacPorts or Homebrew?

[2017-09-26 09:11] Alex-C-Eltima opened #420 "Spotlight on 10.13"
Hi! Our app mounts disks with "local" and "allow_other" keys. On 10.12 the Spotlight search by name works perfectly. But on 10.13 Spotlight locates the files, but returns the attached error upon opening in Finder.

![screen shot 2017-09-22 at 16 43 57](https://user-images.githubusercontent.com/17063982/30852122-6bcb60a6-a2b3-11e7-9b32-00f0f80c216f.png)

Is this a bug, or some misconfiguration on o

[2017-09-26 13:15] lonetis opened #421 "sshfs on macOS High Sierra (10.13)"
Mounting a directory with sshfs in macOS High Sierra (10.13) on an APFS File System and opening that directory in Finder results in the following error: **LSOpenURLsWithRole() failed with error 5 for the file PATH TO DIR**.

However, navigating via terminal in that mounted directory still works. Just cannot open the mounted directory in Finder.

[2017-09-27 07:17] oschettler opened #422 "SpaceMonkey / High Sierra: "Installed version of macOS unsupported""
FUSE for macOS 3.7.1
Space Monkey 0.7.26

After upgrade to macOS High Sierra (and upgrading osxfuse to 3.7.1), when starting SpaceMonkey, I get a dialog box that says

[code]

[2017-09-27 08:36] pmalhaire commented on #416
I tested again with official 10.13 release

the only issue left is [gen_bridge_metadata](https://github.com/osxfuse/osxfuse/issues/416#issuecomment-331225058)

@bfleischer your choice to keep the issue or close it as we don't know when Apple will wake up.

[2017-09-27 15:42] swt2c commented on #422
Does Space Monkey use the unmodified osxfuse distribution?  If not, you will have to obtain support from them.

[2017-09-27 20:02] IgorNav commented on #422
FUSE for macOS 3.7.1
After upgrade to macOS High Sierra, when the system starting there are 3 messages same like oschettler wrote: The installed version of FUSE is too old for the operating system. Please upgrade your FUSE installation to one that is compatible with the currently running version of macOS.

[2017-09-27 20:30] bfleischer commented on #422
Official FUSE for macOS releases are compatible with High Sierra since version 3.6.0, which was released on June 13.

@oschettler Space Monkey probably contains a custom version of FUSE that is not up to date or you are using an unofficial FUSE for macOS build. Can you send me a download link for Space Monkey?

@IgorNav Which FUSE based application are you using?

[2017-09-27 20:38] IgorNav commented on #422
For now I just installed MacOS high sierra and when it started there are 3 messages appear with this info: The installed version of FUSE is too old for the operating system. Please upgrade your FUSE installation to one that is compatible with the currently running version of macOS. Version of FUSE is 3.7.1 How can I know which FUSE based application I'm using?

[2017-09-27 20:46] IgorNav commented on #422
Also could you tell me please how can I delete FUSE permanently?

[2017-09-27 20:49] swt2c commented on #422
@IgorNav you will have to figure out which FUSE-based applications you have installed.  Run
`ls -l /Library/Filesystems` from a terminal and report the results.

[2017-09-27 20:53] IgorNav commented on #422
Last login: Wed Sep 27 22:49:04 on console
MacBook-Air-IgorMac:~ igormac$ ls -l /Library/Filesystems
total 0
drwxr-xr-x  2 root  wheel  64 15 июл 23:38 NetFSPlugins
drwxr-xr-x  3 root  wheel  96 19 фев  2016 fusefs_txantfs.fs
drwxr-xr-x  3 root  wheel  96 21 сен 09:11 osxfuse.fs
drwxr-xr-x  3 root  wheel  96  6 июн 07:46 strongfuse.fs

THATS IT

[2017-09-27 22:06] bfleischer commented on #422
@IgorNav You have three versions of FUSE:

* osxfuse.fs is FUSE for macOS
* strongfuse.fs is an unofficial FUSE fork maintained by the ExpanDrive team
* fusefs_txantfs.fs is a custom version FUSE that is installed by Tuxera NTFS for Mac

It might be best to start by checking if your versions of Tuxera NTFS for Mac and ExpanDrive are outdated. If so update to the latest version.

If you want to rem

[2017-09-27 22:20] IgorNav commented on #422
Many thanks!!!

[2017-09-27 22:38] inwardgarden commented on #422
Apparently file transfer software Transmit 5 must contain it's own version of FUSE as well. Any time I try to use Transmit Disk I get an incompatibility error, and I have 3.7.1 installed. More than likely will require an update from Panic Software themselves to resolve.

[2017-09-27 22:44] bfleischer commented on #422
@bscottx Yes, Panic uses a custom version of FUSE for Transmit Disk. I have not verified this, but judging from the change notes the latest version of Transmit is supposed to work on High Sierra. If you already have the latest version you need to get in touch with Panic.

It would be so much easier if everyone were using the official FUSE release instead of shipping their own version.

[2017-09-28 07:14] lakshmi-subramanya opened #423 "Finder hangs while mounting using OS Fuse 3.6.3 on Mac OS 10.13"
Finder hangs resulting in system freeze at times while mounting Filr application on Mac 10.13 using OSX Fuse version 3.6.3.

This Finder hang is observed every time system is restarted.

The common sample of Filr and Finder hang is:
--------------------------------------------------------------------------------------------------------------------------------
    +                       2492 _DADi

[2017-09-28 09:19] pmalhaire opened #424 "Trash can't be enabled in macOS Sierra and High Sierra using loopbackFS"
This is not properly an osxfuse issue I guess it's a behavior change in macOS.
Hopefully, I just missed something in configuring the volume and I'll had that to the FAQ.

From my past experience the following did enable the thrash in the osxfuse volume.

[code]

Restart the Finder

I tried this using the loopbackfs and it did not work.

### Things I tried :

- using `user:staff` instead of `root:w

[2017-09-29 01:50] ghost opened #425 "I upgraded to macOS High Sierra now can't access VeraCrypt drives"
Hi,

After upgrading to High Sierra I came to know osxfuse incomplateblitiy issue with the new apple file system with, thus can't access my drives in Vercrypt. Is there a way to go back to the old file system or a workaroundd to get access to my veracrypt drives... Highly appreciated your help.

[2017-09-29 05:13] bfleischer commented on #425
How did you determine that FUSE is incompatible with High Sierra? FUSE supports High Sierra since version 3.6.0, which was released in June. Which version are you using?

Have you reported the issue to the VeraCrypt team?

[2017-09-29 06:32] ghost commented on #425
Hi,

I'm on the latest version of fuse...And veracrypt says the same they support new file system of Mac... So APFS is supported by FUSE

[2017-09-29 07:58] pmalhaire commented on #425
I have an apfs drive with macOS 10.13 and loopbackfs works.

[2017-09-29 08:06] ghost commented on #425
![screen shot 2017-09-29 at 12 04 38](https://user-images.githubusercontent.com/32378430/31006606-67e06c4a-a50e-11e7-9a14-b112e344e999.jpg)
I get this screen can't access the drives and still... Thank you for your swift replies

[2017-09-29 10:26] radj commented on #423
This also happens using osxfuse 3.7.1

[2017-09-29 23:08] bfleischer commented on #423
Are you using the official FUSE 3.7.1 release or did you build FUSE yourself? Is Filr using libosxfuse or a different library, like bazil/fuse?

[2017-09-29 23:39] bfleischer commented on #425
@Muscati143 I ran a quick test with VeraCrypt on macOS 10.13. I was able to create and mount an exFAT formatted container file without any issues.

VeraCrypt uses FUSE to mount the decrypted volume. FUSE is not involved in the device or partition selection process. I'm pretty sure FUSE is not to blame for the empty list. The VeraCrypt team might be able to help you.

[2017-09-30 03:42] lakshmi-subramanya commented on #423
We are using OSX Fuse officially released package, we install OSXFuse (silent installation) as part of Filr installation. We are using OSXFuse.framework and implementing those delegates using Objective C.

[2017-09-30 03:46] lakshmi-subramanya commented on #423
[Sample of FilrFS_FinderHang.txt](https://github.com/osxfuse/osxfuse/files/1346095/Sample.of.FilrFS_FinderHang.txt)
[Sample of Finder.txt](https://github.com/osxfuse/osxfuse/files/1346096/Sample.of.Finder.txt)

Attached samples of both Filr Fuse component and Finder, when hang is observed for better understanding of the issue.

[2017-09-30 09:18] radj commented on #423
@bfleischer The official one from releases page for my case.

Also we have the same stack with what was posted in OP.  Starting from `CFURLCopyResourcePropertyForKey ` and onwards. The difference is we were creating a `CFURLRef` to the mount point.

[2017-10-02 02:25] btamayo commented on #422
@bscottx @bfleischer Transmit 5 itself does support High Sierra (10.13), but Transmit Disk's kernel extension (MacFUSE) seems to have trouble with it.

[The technical details](https://library.panic.com/transmit5/transmit-disk/#technical-details-and-the-future-of-transmit-disk) didn't seem clear to me whether MacFUSE works with High Sierra or if they decided not to enable it at all. It does ship wi

[2017-10-02 04:15] radj commented on #423
Let me know if I should start a separate thread for this.

I was able to reproduce this on objective-C/LoopbackFS with a few minor changes (see patch in attached zip) to simulate what was happening in our code:

* Set deployment target to 10.10 to allow use of `LSShared*` APIs. This is deprecated (and probably makes this invalid) but doing this here to demonstrate the bug.
* When `didMount:` callb

[2017-10-02 06:26] pmalhaire commented on #422
@btamayo It seams clear in the link you shared that Transmit itself needs to be remade. It does not seam to be related to Osxfuse at all or their own fork is doomed.
Osxfuse is used in many projects that require small latency.
This confirms what's bfleicher is saying, you have to contact them.

[2017-10-02 07:21] nast90210 commented on #425
I have the same problem - veracrypt don't see any partitions. It's seems to be problem with fuse. Because I can create and mount container. But when I try to mount partition with APFS veracrypt say that it's read-only. So I think fuse just can't see APFS disk.

[2017-10-02 08:30] inwardgarden commented on #422
Yeah, I did contact them and got the above response posted by btamayo (and Transmit 5 itself works fine, it's specifically Transmit Disk which I forgot is a separate app that hooks into Transmit 5, not PART of Transmit 5).

They are re-architecting Transmit Disk completely for 10.13 apparently due to some other things they are having to change too. I just happened to notice the error (which I thin

[2017-10-02 11:23] typcn commented on #425
![image](https://user-images.githubusercontent.com/8022103/31075141-b912ba28-a739-11e7-8e7e-778a99ef617c.png)

Same here, I can only see the DMGs.
I think this is a issue with VeraCrypt.

[2017-10-03 12:10] hjmallon opened #426 "Sierra Secure Kext Loading pop up System Preference button doesn't work"
The OSFUSE popup with the button that is meant to open the security preferences panel doesn't work for me. I am getting a log messages as follows. The button makes the System Preferences App in the dock bounce indefinitely.

    Oct  3 12:48:38 MacBook-Pro com.apple.xpc.launchd[1] (com.apple.xpc.launchd.domain.system): Could not import service from caller: caller = mount_osxfuse.546, service = com

[2017-10-04 15:44] damonearp commented on #398
This is a custom filesystem that isn't open sourced yet. I went back and tried running it through the debugger again and found that our stat wasn't updating st_size correctly, this seems to be part of the reason the offset parameter is incorrect. Oddly this doesn't happen on linux with libfuse. Feel free to close this, OS X support is low priority for us and I've been tied down with other issues.

[2017-10-05 20:10] kevinlieser opened #427 "FUSE do not show Volume Icon"
Fuse 3.7.1 on macOS High Sierra do not show the volume icon on path "/.VolumeIcon.icns" of the disk. On macOS Sierra and a previous version of FUSE this works very well.

Just seeing the default "FUSE" finde Icon.

[2017-10-05 20:27] bfleischer commented on #427
Are you using the volicon mount-time option?

[2017-10-05 20:46] kevinlieser commented on #427
I am using sshfs to mount my SSH drive. I tried the volicon option but it seems it have no impact with SSHFS. But the description of volicon says something like "this option do the nessecary things to show up the icon -> simulating the icon to the root of the drive unter "/.VolumeIcon.icns" where the icons should be". And if the option only simulates the icon at this path where it in my case reall

[2017-10-05 21:11] bfleischer commented on #427
There are a number of reasons. Apple might have made some icon-related changes to Finder in High Sierra. The permissions, owner, or group of your icon file might be causing the issue. Or the icon file itself could be the problem.

Starting with version 3.6.1 high-level FUSE file systems (like SSHFS) fall back to the default FUSE volume icon if no other volume has been specified at mount-time. This

[2017-10-06 07:24] kevinlieser commented on #427
Ok, got it working. Deleted my "real" .VolumeIcon.icns files, added the volicon option and restarted the computer. Thanks!

[2017-10-06 07:41] lakshmi-subramanya commented on #423
Hi bfleischer,

Is there any updates on this issue? This is blocking our release that supports Mac OS 10.13.

We are facing the hang whenever our code access file system to access any files or while copying files from bundle to app support location.
Once we unmount our Filr, the Finder hang is not observed, system is back to normal.

Hoping for the speedy response on this issue.

[2017-10-07 15:26] amirrajan commented on #416
Re: `gen_bridge_metadata` /cc @swt2c : https://gist.github.com/amirrajan/ead10b1acf6b60678e1b8332d571aae8

[2017-10-07 16:24] swt2c commented on #416
@amirrajan Thanks, but I think the problem here is as I noted in an earlier comment - `gen_bridge_metadata` imports `bridgesupportparser` but `bridgesupportparser` can't resolve its shared library dependencies.    So the problem is really with `bridgesupportparser.`

[2017-10-07 22:34] amirrajan commented on #416
@swt2c sorry, some clarification:

1. The [`high-sierra`](https://github.com/amirrajan/BridgeSupport/tree/high-sierra) branch is what you'd want to look at.

2. We had to patch [`gen_bridge_metadata`](https://github.com/amirrajan/BridgeSupport/blob/high-sierra/gen_bridge_metadata.rb) to keep it working for 10.12+ (subsequent patches were needed given that 10.13 now uses ruby 2.3).

3. This is "[ve

[2017-10-07 23:18] devavret commented on #421
Can you check that the path where you're mounting has no illegal character. I had the exact same issue. In my case, I was mounting in a folder that was inside a hidden folder (/Users/deva/.sshfs/folder1) and renaming .sshfs to sshfs fixed it.

[2017-10-08 03:35] aronkihui opened #428 "How can I to format to NTFS?"
How can I to format to NTFS file system? Is it possible?

[2017-10-08 20:28] qolson11 opened #429 "High serria"
Just upgraded to high sierra version 10.13 (17A365)
and lost my NTFS write support, how do i fix it. is it the same way as pervioues where its fixed thru the recovery terminal.
Sorry if this has been asked b4.

[2017-10-09 11:25] lakshmi-subramanya opened #430 "Mac 10.13 Finder hangs leading to system freeze when mounted and any file in the file system is accessed"
Finder hangs resulting in system freeze at times while mounting Filr application on Mac 10.13 using OSX Fuse versions 3.6.2, 3.6.3 and 3.7.1.

Hang related samples/stack traces are attached.

This is ship stopper for us and blocking our release to support Mac OS 10.13.
Any workaround or fixes at the earliest is more appreciable.

[2017-10-09 16:06] lonetis commented on #421
Mounting a directory via sshfs on macOS High Sierra (17A405) now works without any problems. Don't really know what happened but issue seems to be fixed now. Thanks for your advise. But it now works even with illegal characters, so mounting in a .sshfs directory should work now.

[2017-10-09 16:06] #421 closed, assigned to nobody

[2017-10-10 11:02] lakshmi-subramanya commented on #430
[Sample of FilrFS_FinderHang.txt](https://github.com/osxfuse/osxfuse/files/1371621/Sample.of.FilrFS_FinderHang.txt)
[Sample of Finder.txt](https://github.com/osxfuse/osxfuse/files/1371622/Sample.of.Finder.txt)

[2017-10-11 04:18] loom1 commented on #157
I am having the same problem where finder reports that "there isn’t enough free space."
The directory I have mounted is a scratch filesystem with 10PB free space, but Get Info
shows Zero bytes.
I am using:
sshfs myname@example.ca:/scratch/myname MountFolder -o auto_cache,reconnect,defer_permissions,noappledouble -o allow_other

[2017-10-12 06:05] bfleischer commented on #429
First of all you should make sure you have the latest versions of FUSE and NTFS-3G. You can find installation instructions for NTFS-3G on the following Wiki page: https://github.com/osxfuse/osxfuse/wiki/NTFS-3G

If it still does not work, please post the issues on the NTFS-3G support forum at http://tuxera.com/forum/viewforum.php?f=7. I don't know if there are any NTFS-3G compatibility issues with

[2017-10-12 06:11] bfleischer commented on #428
FUSE is basically a library that is used as a building block for many different file systems. NTFS-3G is one of those file systems. It lets you write data to NTFS volumes and it allows you to format a volume to NTFS.

Please note that NTFS-3G and FUSE for macOS are independent projects. For details and instructions on how to use NTFS-3G please refer to the NTFS-3G project. Should you run into NTFS

[2017-10-12 06:11] #428 closed, assigned to bfleischer

[2017-10-12 06:11] #427 closed, assigned to bfleischer

[2017-10-12 06:13] bfleischer commented on #418
There has been no further feedback, so I'm closing this issue.

[2017-10-12 06:13] #418 closed, assigned to bfleischer

[2017-10-13 02:48] aronkihui opened #431 "How to format a volume at ntfs on MAC OS?"
How to format a volume at ntfs on MAC OS?

[2017-10-13 05:05] bfleischer commented on #431
Please don't double post your questions. Original issue: #428

[2017-10-13 05:05] #431 closed, assigned to bfleischer

[2017-10-13 05:39] aronkihui commented on #428
O... sorry for duplicate. It was a mistake. Sorry. -_-

[2017-10-13 05:46] aronkihui commented on #428
This is my last question, I swear.  "It lets you write data to NTFS volumes and it allows you to **format** a volume to NTFS"  the point is I can't get any info about how to format to NTFS using Fuse. :(. Can it format to NTFS a volume actually?

[2017-10-13 06:11] bfleischer commented on #428
Like I wrote before, FUSE is only the building block. It is used for countless third-party file systems. NTFS-3G is one of those third-party file systems. FUSE on its own cannot format volumes to NTFS, but NTFS-3G can.

I haven't used recent versions of NTFS-3G, so I cannot give you a definitive answer. That's why I recommended asking the NTFS-3G team for help. As far as I know you can use the `mk

[2017-10-13 22:20] zhudhjen commented on #429
  I encountered a problem when installing NTFS-3G 2017.3.23 with HomeBrew on macOS 10.13. Compilation failed due to a change of `struct stat`.

[2017-10-16 06:15] tuononh commented on #342
Same here on Sierra. As @mbakkokom said, when the error diaglog appear, unmount then click ok. The file will appear just fine.

[2017-10-16 11:39] pollymow opened #432 "osxfuse uninstalled behind my back"
Sorry for having to bother you with this – kind of – side issue:
Something is installing osxfuse behind my back on user login on my 10.9 system.
Easy – so I thought – to find out:
• check login items
• check launch control entries, deamons etc.
• do a full text search of my complete user account (+ system) to find any suspicious entries relating to osxfuse (found DiskDrill option to keep osxfuse u

[2017-10-16 17:23] qolson11 commented on #429
wait is needing nfts-3g a new thing, cause i cant remember needing that in older versions. is it because of the new file system BS the apple is doing with high serria

[2017-10-16 18:10] bfleischer commented on #429
@zhudhjen Please report the issue to the Homebrew team. I did not run into any issues installing NTFS-3G on High Sierra.

@qolson11 NTFS-3G has always been required if you want to edit files on or copy files to NTFS volumes. This has nothing to do with Apple's new default file system APFS. FUSE is a building block that is used by third-party file systems like NTFS-3G.

[2017-10-16 18:20] qolson11 commented on #429
@bfleischer oh, i guess iv just forgotten that i havent needed to modify anything since the original serria beta last year

[2017-10-16 20:10] bfleischer commented on #423
@radj Thanks for the patch.

Calling back into the file system in the `didMount:` handler is a bad idea and will in most cases lead to a file system deadlock. This is not a bug in FUSE. Please keep in mind that at the point of your `[self createSidebarItem:mountPath]` call the volume has already been mounted but file system requests are not served until after `didMount:` returns.

So, if you (or a

[2017-10-16 20:38] bfleischer commented on #430
Please do not double post issues. Original issue: #423

[2017-10-16 20:38] #430 closed, assigned to bfleischer

[2017-10-16 21:49] bfleischer commented on #423
@lakshmi-subramanya Judging from the FilrFS sample you are calling `LSSharedFileListInsertItemURL()` in your `didMount:` handler. This will lead to a deadlock on High Sierra. For details see my previous response to @radj. Adding the sidebar item asynchronously should work.

I would like to comment on this. As you know FUSE for macOS is open source and can be freely used by anyone. But the fact tha

[2017-10-16 21:49] #423 closed, assigned to bfleischer

[2017-10-16 21:53] bfleischer commented on #432
What exactly is bothering you, that FUSE is installed when you login or that FUSE is uninstalled when you login?

[2017-10-16 21:57] #422 closed, assigned to bfleischer

[2017-10-16 21:57] #429 closed, assigned to bfleischer

[2017-10-16 23:58] pollymow commented on #432
It is bothering me that
(a) Some process tries to uninstall FUSE, though it is needed by at least VeraCrypt and DiskDrill, maybe others.
(b) That this uninstall – seemingly – leads to a major downgrade.
(c) That this uninstall seems to fail every time (leaving VeraCrypt complaining).
(d) That all of this is done behind my back, without my consent,
(e) by a process I am unable to identify
(f) and w

[2017-10-17 02:30] radj commented on #423
@bfleischer Makes a lot of sense! Thanks for pointing that out. Our work around for this was to delay the sidebar item creation via delayed dispatch but we will change to do the dispatch to main queue instead.

[2017-10-17 06:07] bfleischer commented on #432
Ah I see. It was not clear to me that a process is trying to uninstall FUSE in order to install an older version of the software. Some developers don't seem to understand that downgrading FUSE is a really bad idea and doing so behind the back of users is even worse.

Have you checked your ~/Library/LaunchAgents and ~/Library/LaunchDaemons directories?

[2017-10-17 18:31] lpantano opened #433 "High Sierra kernel panic when `umount` sshfs volumen"
Hi,

I have been using sshfs since forever without problem in the past. Thanks so much for support this tool.

Sadly, in the last week, after updates, I have kernel panics when I am trying to umount the volumen.

Normally I mount using `sshfs` command. And when I type `umount` the system crash. See below what I could recover.

This is the command I use: `'sshfs orchtransf:. ~/orch -o follow_symlin

[2017-10-17 20:01] bfleischer commented on #433
Thanks for the detailed bug report. However, the kernel panic seem to originate in the com.crowdstrike.sensor kernel extension. In fact the backtrace does not contain anything FUSE related. Judging from their website, Crowdstrike seems to be an endpoint protection software, but I have never used it.

Symbolicating the backtrace, so that we know what's happening before the panic, requires the kerne

[2017-10-17 20:26] lpantano commented on #433
Thanks so much for the detail explanation, I'll do that for sure!

Thanks!!!

[2017-10-18 09:59] Clax666 commented on #278
I'm also having the same issue using Qt to run a process

[2017-10-18 21:30] bfleischer commented on #433
I was able to dig up the kernel debug kit. The symbolicated backtrace looks like this:

[code]

It seems CrowdStrike is passing NULL to the vnode_put() function. I'm not sure why they might be doing that, but this will trigger a kernel panic. To me this looks like a bug in the CrowStrike kernel extension.

[2017-10-18 21:36] lpantano commented on #433
oh! thanks so much for your time, I'll send this information as well. I'll reopen if the error persists after they check this and I get more information.

Thanks!

[2017-10-18 21:36] #433 closed, assigned to nobody

[2017-10-19 22:20] jeremyspiegel opened #434 "volicon mod time updated on getattr, causing Finder readdir loop"
Since updating to osxfuse 3.7.1 from 3.6.3, I noticed that sometimes Finder gets into a state where it will issue readdirs every second. It normally performs lots of getaddrs, but this readdir behavior is new and led to some performance issues.

I found that the new vnode_notify code was being called in fuse_vnop_getattr via fuse_internal_attr_loadvap, in response to an updated mod time for `/.Vol

[2017-10-20 05:51] bfleischer commented on #434
Nice find. Thanks for the bug report. I'll look into it.

[2017-10-20 20:40] solj opened #435 "update documentation for tunables value"
It seems as though the name for the tunables value on OS X has changed since this was written. Here is a patch for the page with the new tunables value:

    diff --git a/Mount-options.md b/Mount-options.md
    index 3d3e744..74094a6 100644
    --- a/Mount-options.md
    +++ b/Mount-options.md
    @@ -5,10 +5,10 @@ By default, osxfuse limits volume access to the user that mounted the volume. No

[2017-10-24 07:41] Alex-C-Eltima opened #436 "Incorrect work of kernel notifications"
Hi,

My app uses OSXFuse with Objective-C framework, how can I manage kernel notifications about file system changes? They are working incorrectly right now.

At the moment, in OSXFuse 3.7.x, the system is being notified even about the first reading of the folder. So, Finder (or other apps assigned to file system changes) starts recurrently reading all subfolders, when I've just opened the root di

[2017-10-26 06:20] bfleischer commented on #436
Thanks for the bug report. I will look into it.

[2017-10-26 19:03] vssbg opened #437 "System Extension Blocked message in High Sierra"
Hello,

I am trying to install an app named pCloud.
It requires FUSE.
Installation of FUSE is OK and I see it in System Preferences.

When I start the pCloud it gives me the message on the picture attached to the message.

I don't understand how to add it, because when I try to add something it opens Finder and I don't know where the FUSE is.

Spotlight search doesn't find it...

Any suggestions?

[2017-10-29 12:04] jarjartee opened #439 "Can NOT make FUSE work with High Sierra 10.13.1 Beta"
been trying latest version of FUSE - NOT playing ball with HS Beta, did try a Trial Version of Paragon ExtFs - this works fine - NO glitches. Bear in mind I'm NOT a programmer so will NOT be able to give very detailed reports unless  guided into directories / files etc. So just to summarise - .ext3/4 NOT showing in Finder - it DOES show in DiskUtility BUT not able to mount

[2017-10-30 05:34] gtimmy commented on #437
You have to open `System Preferences -> Security & Privacy -> General` or click `Open System Preferences`button and click `Allow` for Benjamin Fleischer

[2017-10-30 05:37] gtimmy commented on #426
But System Preferences App is still accessible if you open if by yourself? Because it looks like an issue with a System Preferences not with button.

[2017-10-30 08:45] radj opened #440 "Blocking readFileAtPath in LoopbackFS delays next contentsOfDirectoryAtPath"
Experiment:
I modified LoopbackFS to block for 10 seconds when `readFileAtPath:` is read for a specific file path to simulate latency from a source. I am on 10.13 with osxfuse 3.7.1 installed. This also occurs with 10.12.6.

Observed:
When I open this file and immediately browse to another folder when `readFileAtPath:` starts to block, `contentsOfDirectoryAtPath:` does not get called immediately.

[2017-10-30 11:10] vssbg commented on #437
It works! Thanks a lot! :)

[2017-10-30 11:21] gtimmy commented on #437
Message tells the same thing ;)

[2017-10-30 17:11] hjmallon commented on #426
System Preferences can be opened manually. I assumed that the problem was something to do with "Because they have no knowledge of users, daemons also have no access to the window server, and thus no ability to post a visual interface or launch a GUI application." from Apple docs. (https://developer.apple.com/library/content/documentation/MacOSX/Conceptual/BPSystemStartup/Chapters/DesigningDaemons.

[2017-10-31 15:49] kiril-kirov opened #441 "Notify osxfuse for external change, using the high-level API"
Hello,

We have implemented a distributed file system, using the high-level API of osxfuse. But now we have a situation. Is there _any_ way to notify the high-level API for external changes?

It looks like we need `fuse_lowlevel_notify_*` functions, but can we use then in _any_ way with the high-level API?
Any approach will be highly appreciated - could even be a short-term solution (or a hack) un

[2017-11-03 20:54] itamargru opened #442 "can't eject the mounted folder"
[code]

[2017-11-05 11:07] RafalLukawiecki commented on #437
I have just tried installing, and reinstalling OSXFuse several times, with plenty of reboots along the way. I am afraid that the "Allow" button on the System Preferences pane does nothing in my case. I can press it, but nothing happens. Installer does not complete, OSXFuse does not work.

For what it is worth, installation using MacPorts (with a workaround for another issue) gets me to the same po

[2017-11-05 11:43] RafalLukawiecki commented on #437
For what it is worth, dumping the kext_policy shows that the extension is still not "Allowed" (see value of 0 for column `flags`:
[code]
If you have any suggestions, please share, other than completely disabling the HIgh Sierra SKEL system. Thank you.
PS. Even after fully uninstalling the software, the above entry remains in the KextPolicy table. I wonder if that is expected behaviour of SKEL or i

[2017-11-05 12:12] RafalLukawiecki commented on #437
I thought I would see if I could install the extension if I were to build locally, but I am afraid both the master and support/osxfuse-3 branches fail to build:
[code]
Giving up, hoping for suggestions.

[2017-11-05 21:28] lfpippa commented on #439
Same here. I tried both on 10.13.1 (17B48), the stable release, and 10.13.2 (17C60c), the beta release.

[2017-11-05 21:34] catrancher commented on #437
I'm having the same issue on High Sierra as @RafalLukawiecki.  The "Allow" button on the Security & Privacy System Preferences pane is doing nothing when I try to install OSXFuse.  Since the KEXT is not being allowed, the install never completes.  I've rebooted numerous times.  I'm open to any suggestions also.

Thanks!

[2017-11-06 08:48] KobeLuo opened #443 "Xcode9 edit file use LoopbackFS"
When i mount one disk use LoopbackFS, I recorded the log as follow:

- create Dir:/(A Document Being Saved By Xcode)
- create File:/(A Document Being Saved By Xcode)/A.txt,flags:2562,mode:420
- release:/(A Document Being Saved By Xcode)/A.txt,flags:2562
- move:/(A Document Being Saved By Xcode)/A.txt to dest:/A.txt
- remove Dir:/(A Document Being Saved By Xcode)
- remove File:/A~.txt

I founded i

[2017-11-06 14:17] iapYang commented on #439
Just upload to HS 10.13.1, not working.

[2017-11-06 14:44] gtimmy commented on #437
@RafalLukawiecki @catrancher I've faced with a similar issue when `Allow` button does nothing and it has been reported to Apple, they haven't provided a solution, they just said that it can be caused by some installed software which can capture mouse clicks (maybe even LittleSnitch, not sure) and this button is able to pressed only by user and it's a feature and not a bug. I have to notice that th

[2017-11-06 14:49] catrancher commented on #437
@gtimmy Very interesting.  Many thanks!  As it turns out, I was running a copy of MagicPrefs.  Quit that and ran the FUSE install again and it worked properly.  I was able to "allow" the KEXT.  Thanks a lot for the tip.

[2017-11-06 14:54] gtimmy commented on #443
You won't get an event about create A.txt because it's how Xcode works. Create a temp file and tries to move a temp file to A.txt it's done in order to save your work and don't lose it during the saving. A.txt may be busy by another program or locked or anything else. Anyway, it's not a Xcode-unique technic, MS Office does the same thing and TextEdit and etc. So, it's not a OSXFUSE issue.

[2017-11-06 15:01] gtimmy commented on #442
`umount -f`

[2017-11-06 15:10] gtimmy commented on #440
How do you test? With a Finder.app? If yes, try to reproduce it with a Terminal.app I faced with a similar issue with a Finder

[2017-11-06 15:18] radj commented on #440
@gtimmy If using only one session with Terminal, it's not possible to reproduce because the read will have to wait to finish (ex `cat`) before you can call another command. It's not possible to test asynchronous behavior with Terminal unless forking or using multiple sessions.

How are you testing with Terminal?

[2017-11-06 15:21] gtimmy commented on #440
Yes, I'm talking about multiple sessions.

[2017-11-06 15:22] radj commented on #440
Gotcha. I'll try again when I get back to my desk.

[2017-11-06 22:44] teckdan opened #444 "High Sierra - Fuse crashing"
I see this message in the logs generated by my app

Abnormal termination of fuse thread

Version installed : 3.7.1

[2017-11-07 03:06] KobeLuo commented on #443
@gtimmy  I'm sorry,I don't know how do i to receive the create event about path `/A~.txt` ?
There is does't work for my workspace if i trash one file on server before the file create, or i need do some thing to adpt it in this case.

[2017-11-07 09:01] svalgaard commented on #421
I had the exact same issue and no illegal characters involved. Reboot did not help.
Reinstalling sshfs from macports made it work again.

[2017-11-07 15:22] rivera-ernesto commented on #437
In 10.13.1 I don't even see the developer name in the pane.

[2017-11-07 17:38] mixtly87 commented on #441
Workaround I practice: if I want to notify VFS new file/folder is created/deleted/renamed/updated... I always go through loop where SyncEngine invokes file-system operation on VFS as 3rd party client. Example of remotely uploaded file:
1. remote change is detected in SyncEngine via pulling (ie every 5 seconds)
2. SyncEngine informs the VFS about a change (invokes `NSFileManager.createFileAtPath(..

[2017-11-08 14:39] ligand-lg commented on #437
me too!! thanks @catrancher

[2017-11-08 15:07] RafalLukawiecki commented on #437
The workaround suggested by @gtimmy 4 posts above (Recovery mode boot then edit the KextPolicy database directly) has worked for me. Thank you!

[2017-11-08 15:40] diobosco opened #445 "Installation (3.7.1) hangs"
Hi

I couldn't finish the installation of Fuse for macOS (3.7.1). It stops shortly before the end in the step "Validating packages..". I check marked also "MacFUSE Compatibility Layer".
[Installationlog FUSEformacOS.txt](https://github.com/osxfuse/osxfuse/files/1454461/Installationlog.FUSEformacOS.txt)

Can you help me, please?

Further testing showed that FUSE for macOS could be installed when I

[2017-11-09 02:14] AlexWang-16 opened #446 "Error 255 when attempting to mount ssh drive"
Hey everyone, I'm a first time macfuse and sshfs user. I've installed Macfuse v3.7.1 as well as ssh fs.

I then performed the following steps:
1. Opened terminal and navigated to my desktop
2.  `mkdir server`
3. `sshfs admin@192.168.1.5:/ server:/`

I got the following message
`mount_osxfuse: the file system is not available (255)`

Can someone please help me out? How can I get sshfs to work? I'm

[2017-11-09 13:58] jimrome opened #447 "Installation of latest FUSE fails on High Sierra"
"The installer encountered an error that caused the installation to fail"

[2017-11-09 22:39] swt2c commented on #446
Try `sshfs admin@192.168.1.5:/ server` instead.

[2017-11-09 22:48] AlexWang-16 commented on #446
Just tried it and it didn't work either.

I tried the following

`sshfs root@192.168.1.5:/ server`

`sshfs root@192.168.1.5:/ /Users/Alex/Desktop/server`

I got the same error on both attempts.

[2017-11-10 10:01] radj commented on #447
* Is this version 3.7.1?
* Where did you pick it up from?
* Can you spot anything fishy in `/var/log/install.log`?

We've been testing this here on High Sierra and our installs for 3.7.1 DMG downloaded from releases page always succeeds. Can even update fine from System Preferences.

[2017-11-10 10:21] radj commented on #440
@gtimmy So I tried this setup: two separate Terminal session windows, both set working directory by `cd` into the LoopbackFS mounted volume.

1. On Terminal A, `cat test-sleep-file.bin` which triggers `readFileAtPath:`. A `sleep(10)` inside `readFileAtPath:` simulates a read wait.
1. On Terminal B, `ls -la` to trigger `contentsOfDirectoryAtPath:`. The `ls` on Terminal B blocks and waits for the `r

[2017-11-10 10:45] radj commented on #443
@KobeLuo I cannot reproduce the sequence above. I do not have a remove for a file ending with tilde. Maybe it was created by Xcode before you started monitoring logs?

Or you might want to add a log at `openFileAtPath:` because depending on the `mode` parameter, this can also create a file.

[2017-11-10 10:46] radj commented on #444
@teckdan Can you attach a crash log or at least the crash stack? And what were you doing on the mounted volume that led to the crash? Can you reproduce this crash using LoopbackFS?

[2017-11-10 19:30] maxio110 commented on #315
Update to new system High Sierra works for me eventually (someone mentions it has more slots for extensions)

[2017-11-10 23:01] therealjimwolff commented on #416
I had a clean Xcode 9.1 and High Sierra 10.13.1. I couldn't build the high sierra branch of BridgeSupport either from github. But I was able to manually copy the stuff from "version 2.0" into the various places. Then reboot, and check the mod dates that the manual install of everything stuck (which I had to redo a few times and fresh reboot). Then I could build with these patches referenced above

[2017-11-11 13:23] jimrome commented on #447
The update to FUSE worked from the preference pane.

[2017-11-11 15:56] stvcisco commented on #447
I'm trying a new install and it fails because the signature. Pressing "Allow" on the security preferences does nothing so the install can't complete. (yes, with 3.7.1)

[2017-11-11 16:23] stvcisco commented on #447
Interesting... I exited MagicPrefs and tried again, and it allowed the "Allow".  Not sure why that mattered, but it unblocked me.

[2017-11-11 20:43] ashcass commented on #384
I'm having the same issue with mac OS 10.13.1:
sshfs me@ip:/path /Users/me/test -o local
works, but without -o local I can only see the mounted disk in terminal (not Finder)

[2017-11-12 01:36] iomz commented on #447
I have the same issue with @stvcisco.
The version is also 3.7.1 but pressing "Allow" button on Security & Privacy > General doesn't do anything.
Not using MagicPrefs.

[2017-11-12 01:37] twoelevenjay commented on #444
@radj I am having this issue as well and not finding any relevant crash logs. Maybe I am looking in the wrong place. Where should I look?

[2017-11-12 02:29] teckdan commented on #444
I can see in the log of the application I use, which is FileCloud. If you can tell me where to look for Fuse's logs, I can pull the info.

17:11:24:535 [1] [default[#1]]:I: Entering Fuse thread
17:11:24:535 [1] [default[#1]]:I: umount -f /Users/Dany/FileCloud/
17:11:24:539 [1] [default[#1]]:I:  Mount options =  -odefault_permissions,-f,daemon_timeout=30,kill_on_unmount
17:11:25:202 [1] [default[#1

[2017-11-12 02:59] twoelevenjay commented on #444
For me after upgrading to High Sierra i attempted to sshfs like I have a 100 times and it told me my version of fuse was not supported by High Sierra so i upgraded fuse, sshfs and attempted it again. Now it freezes my entire macbook pro late 2016 + touchbar, every time.

[2017-11-13 00:45] bfleischer commented on #434
The above commits fix the issue. Instead of returning the current time the volicon module now returns the mount time. I think this is semantically more correct than returning Jan 1 1970.

[2017-11-13 00:45] #434 closed, assigned to bfleischer

[2017-11-13 01:06] stollge commented on #425
Also problems with High Sierra, upgraded latest issues of VeraCrypt and osxfuse but files missing after April 2016! Help.

[2017-11-14 14:36] kodsama commented on #425
I confirm the bug. Just installed high sierra and the latest osxfuse (3.7.1) and veracrypt (1.21) can't see any drives anymore...

[2017-11-14 16:58] qvantor commented on #425
After update to High Sierra I got this error, when i try to mount my disc:
![screen shot 2017-11-14 at 18 57 13](https://user-images.githubusercontent.com/9914154/32793108-b039959c-c96d-11e7-974c-31455647425d.png)
Is anyway to decrypt data from my veracrypt file?

[2017-11-15 03:37] jeremyspiegel commented on #434
Thanks for the fix, it makes sense.

However, I think the new `vnode_notify` code is causing another similar issue. For example, suppose a new file is remotely added to an already large folder, and as part of this I am updating the modification time of the folder and performing a `stat` on the folder. This is causing the `fuse_vnop_getattr` for the folder to notice the updated modification time, g

[2017-11-15 03:40] KobeLuo commented on #443
@radj Thank you for reply and find the question exactly,
I founded the function `openFileAtPath:`maybe will create one file.

- open file, path:/Personal Folder/FILES/A.sb-86d9b9e7-oartUn, model:0
- read file:/Personal Folder/FILES/A.sb-86d9b9e7-oartUn, range:[0-16]
- the resource key of path:/Personal Folder/FILES/A.sb-86d9b9e7-oartUn is not found!!!
- remove file,/Personal Folder/FILES/A.sb-86d9

[2017-11-15 10:28] wsajosh commented on #401
Same issue here too

[2017-11-15 21:48] Ajaybh opened #448 "Implement support for READDIRPLUS"
Hi,

Today, Fuse seems to be making a lot of attributes calls. Basically, it asks for the attributes for each path returned in the contents call. This is turning out to be a big performance bottleneck for our application as our application allows having large amount of data in folders. For 15K items, it takes about 3-4 minutes to show up the items in the Finder and we certainly have instances with

[2017-11-16 09:35] aleksandr-skobelev-epam opened #449 "FUSE mount sporadically fails on call to waitpid() with ECHILD error."
We have Mono based application that sporadically fails to mount Fuse drive with error the following message:
_fuse: failed to mount file system: No child processes_
The problem seems to be in that the call to the `waitpid()` function in `fuse/lib/mount_darwin.c:fuse_mount_core()` sometimes fails with `ECHILD` error code.
It is unclear exactly why this happens yet. The most possible reason is that

[2017-11-16 12:54] oehm-smith opened #450 "Binary .sig file"
The file https://github.com/osxfuse/osxfuse/releases/download/osxfuse-3.7.1/osxfuse-3.7.1.sha256.sig is coming out as binary for me and failing the `gpg --verify`.

[2017-11-16 18:09] MilesRomney commented on #425
I had a similar problem, and upgraded to Fuse 3.7.1. which resolved it:

https://osxfuse.github.io/

[2017-11-19 09:27] Popkultur opened #451 "unreliable behavior (no mount, dismount)"
Hi,

I experience an unreliable behavior. Sometime my ntfs-disk is dismounted after 1 hour, sometime it is even not mounted after all. Also I can not delete files from the drive.

I'm with openBSD 6.2 and Windows 10, Dualbooting by BIOS and using an exchange disk for my data. The disk is a generic 6TB drive (wd green, probably).

it says now:

The disk contains an unclean file system (0, 0).
Metad

[2017-11-20 10:16] cybermaxs opened #452 "Hangs - High Sierra"
Since I've switched to High Sierra, it's impossible to get oxsfuse working.
I am used to encfs and sshfs (boths depending on osxfuse), and I am reporting the bug here because I have the exact same behavior with the two tools: it just hangs and nothing is mounted.

I am a bit lost and here is what I have done :
- tested several versions osxfuse 3.6.X/3.7.X (install is always OK)
- tested installati

[2017-11-21 01:14] njm2112 commented on #425
@qvantor: I am getting the "mount_osxfuse" error on Sierra 10.12.6 with OSXFUSE 3.7.1 installed. I don't think that particular error is directly a result of the High Sierra upgrade.

[2017-11-21 04:52] baldr1k commented on #447
I have the same issue as @iomz. Not using MagicPrefs

[2017-11-21 13:32] cybermaxs commented on #452
Reinstalled High Sierra and issue is gone. I really don't understand what happened during the first install.

[2017-11-21 13:32] #452 closed, assigned to nobody

[2017-11-21 14:59] swt2c commented on #451
It doesn't sound like you are using FUSE for macOS.  Are you?

[2017-11-21 17:25] Popkultur commented on #451
no, actually not. I don't even really know what FUSE is. okay. Wrong thread, wrong repository.

[2017-11-21 17:26] #451 closed, assigned to nobody

[2017-11-22 01:42] KobeLuo opened #453 "is it possible to refresh Finder manually via OSX FUSE?"
- we are making virtual drive via OSX FUSE, and connect to server
- Now, server did change, I want to refresh finder manually

### is it possible to do it via fuse?

[2017-11-22 05:13] Ajaybh commented on #453
Try NSWorkspace.shared().noteFileSystemChanged(path)

[2017-11-22 05:45] KobeLuo commented on #453
Yes, ` NSWorkspace.shared().noteFileSystemChanged(path)` it's work.

#### Note:
- the code must execute in main thread,else the finder will not responding.

Thanks. @Ajaybh

[2017-11-22 11:29] pirana-sas commented on #447
If you use a wacom (as we do) nothing happens when clicking on Allow. But when we clicked it using a normal mouse, it worked. Maybe this will solve it also for you.

[2017-11-23 10:12] KobeLuo opened #454 "save being edited file will report another application did modify"

[2017-11-23 12:33] oehm-smith commented on #450
I apologise.   I didn't realise that binary sig files were possible.  It failed at first for me the other day and hence my concerns.  I DL'd again and updated GPG and it is working this time.  Sorry for the noise!

[2017-11-23 12:33] #450 closed, assigned to nobody

[2017-11-23 16:12] SplitInf commented on #45
`sudo diskutil unmount force /mount/path `
works for me consistently so far

[2017-11-24 03:37] #454 closed, assigned to nobody

[2017-11-24 03:37] #453 closed, assigned to nobody

[2017-11-24 03:38] #443 closed, assigned to nobody

[2017-11-25 15:43] Ahmet-Ozkaya commented on #425
I face exactly the same problem ghost faced. I updated FUSE and Veracrypt. But mounted volume shows empty directory.

[2017-11-26 04:00] iomz commented on #447
Although it's not a essential solution, I disabled SPI in Recovery Mode (boot pressing &#8984;+r and `# csrutil disable`) to detour all the third party kernel extension security thing and kept it disabled. So far I'm able to use FUSE like before.

Looks like High Sierra has issues around this KEXT blocking.
Found a thread about VMWare extension: https://discussions.apple.com/thread/8087342

[2017-11-27 07:30] bakku commented on #425
I got the same error as @qvantor. On Sierra I did not get it, but after updating it occurs.

[2017-11-27 08:40] bakku commented on #425
Updating osxfuse AND rebooting fixed it for me 👍

[2017-11-27 23:44] #398 closed

[2017-11-29 11:58] Ajaybh commented on #448
Hi Benjamin,

While exploring a bit more on the ReadDirPlus feature support. I stumbled upon readdirattr callback and thought if somehow OSX can call this kext API rather than readdir, I may find a good starting point for extending the support. Unfortunately, with the changes done so far, I haven't been able to validate that assumption as OSX is still calling readdir.

Here are the changes that I

[2017-11-29 17:31] jeremyspiegel commented on #448
@Ajaybh, we might need to implement `getattrlistbulk`? See https://github.com/openzfsonosx/zfs/issues/445.

[2017-11-30 00:29] Ajaybh commented on #448
Thanks @jeremyspiegel. Will take a look at getattrlistbulk.

[2017-11-30 08:22] KobeLuo opened #455 "How to tell fuse need update internal cache"
- osx fuse loaded one file and readed the file data.
- now, server did modify the file, we delete the file of local data, and need refresh the fuse cache.
- how to tell fuse to reload the file metadata and read the file data again?

[2017-11-30 09:20] #455 closed, assigned to nobody

[2017-11-30 15:49] mbsabath opened #456 "Unmounting sshfs drive causes system crash"
On Mac OS 10.12.6, on a 2017 MacBook Pro.

Unmounting a drive on both the command line (`umount <relative and absolute path>`) and in finder causes a forced restart. My theory is that somehow the local file system is being unmounted. Has anyone else ran into this error?

[2017-11-30 19:12] siosys opened #457 "Build Error macOS 10.13"
Trying to build osxfuse 3.7.1 I'm encountering the following error:

:info:build ** BUILD FAILED **
:info:build The following build commands failed:
:info:build 	PhaseScriptExecution BridgeSupport\ Metadata build/OSXFUSE.build/Release/OSXFUSE.build/Script-28D525C40EA8076400B7CF7B.sh
:info:build (1 failure)

I saw this was an issue back in June, but my understanding is that this should be fixed for

[2017-11-30 23:13] nythepegasus opened #458 "The many "osxfuseXX" files under /dev"
I'm sorry if this is a stupid question, but what are the "/dev/osxfuseXX" used for? I currently have 64 of these files.. Are they something I should worry about consuming a lot of storage?

[2017-11-30 23:15] Nemant commented on #111
+1

[2017-12-01 17:25] steveatinfincia commented on #458
The OSXFUSE kext uses tiny device files in `/dev/` to let apps communicate with it. They don't take up any space and shouldn't cause problems.

[2017-12-01 18:53] swt2c commented on #457
See #416

[2017-12-01 19:37] #457 closed, assigned to bfleischer

[2017-12-01 19:38] #458 closed, assigned to bfleischer

[2017-12-01 19:40] bfleischer commented on #432
No feedback in over a month, so I'm closing the ticket.

[2017-12-01 19:40] #432 closed, assigned to bfleischer

[2017-12-03 18:14] 6pm opened #459 "ntfs-3g Error code -36"
I checked [linux.die.net/man/8/ntfs-3g.probe](https://linux.die.net/man/8/ntfs-3g.probe) and didn't found error with code 36.
What is means this error? And how I fix it?

[2017-12-05 10:28] gwerty commented on #437
I had the same issue, and also had an input modifying application running like Apple said.

In my case I only had to stop **BetterTouchTool**, and I could click the Allow button in the prefPane just fine!

Interesting...

[2017-12-06 13:59] kotov01 commented on #425
Tell me please where to click that would update FUSE)))

[2017-12-06 14:01] bakku commented on #425
You can find some instructions here: https://github.com/osxfuse/osxfuse/wiki/FAQ#22-how-can-i-keep-fuse-for-os-x-up-to-date

[2017-12-06 14:09] kotov01 commented on #425
Thank you very much))) everything works)))

[2017-12-10 14:17] mlouism commented on #397
Do you have any update about this issue. I'm using pCloud and other private Cloud which using Fuse time/date are not accurate and it is impossible to manage files.

[2017-12-10 18:28] cgarrigues commented on #447
I had a similar issue to pirana-sas. I was remotely logged into the system and it didn't work. When I got on the actual screen the click did work.

There is apparently a security check to assure that you're using the local mouse to Allow access.

I guess this makes sense.

[2017-12-11 11:15] tothrobert opened #460 "Problem with umlauts ('ä','ö','ü')"
I have a Macbook Pro with High Sierra and the latest version of Fuse (3.7.1) installed. I use Fuse together with SeaFile. Everything works fine, unless I put files (& folders) with umlaut ('ä', 'ö' or 'ü') characters in their names into my mounted Fuse-Volume. When I open the volume, the files (& folders) with umlauts appear twice in the list. When I remove one of them, both files/folders will be

[2017-12-11 13:53] webgast opened #461 "Failed to parse version of Xcode at path '/Developer'"
Hi, I updated to OSX 10.13 today and noticed my Mac Fuse was no longer working. Tried this version, but when building, I get this error:

[code]

Please help!

[2017-12-11 15:45] webgast commented on #461
I have tried reindexing spotlight, to no avail:

https://github.com/osxfuse/osxfuse/issues/310

`sudo mdutil -i on /`

[2017-12-11 15:54] webgast commented on #461
After reindexing, I tried the ./build.sh -t distribution as sudo, which seemed to do a bit more:

[code]

note, there IS a directory /tmp/osxfuse/distribution

[2017-12-11 22:25] vzakuta commented on #456
For me as well - same behavior on Mac OS 10.12.6. Started happening as soon as I upgraded from El Capitan to Sierra. Unmounting either on command line or via the Finder or via MacFusion causes forced system restart.

Here is the kernel panic log

[MacSierraKernelPanicOSXFuse.txt](https://github.com/osxfuse/osxfuse/files/1555920/MacSierraKernelPanicOSXFuse.txt)

[2017-12-11 22:32] bfleischer commented on #456
Could you please post the kernel panic log? Without the logs it is virtually impossible to diagnose the issue. You should be able to find the relevant logs in `/Library/Logs/DiagnosticReports`. Alternatively you can try to reproduce the panic and then copy the complete report from the panic alert (after your Mac has restarted) and post that.

[2017-12-12 10:30] webgast commented on #461
Hm, just installing the .dmg 3.7.1 solved everything for me:

https://github.com/osxfuse/osxfuse/releases

[2017-12-12 22:45] #461 closed, assigned to bfleischer

[2017-12-12 22:45] shelbyKiraM opened #462 "macOS 10.13 - T:framework | Failed to build target"
[code]

Where to go from here?

[2017-12-12 22:54] bfleischer commented on #462
You can increase the verbosity by running the build script with `-v 5`.

    ./build.sh -v 5 -t distribution

macOS 10.13 contains a broken version of the `gen_bridge_metadata` tool needed to build BridgeSupport for the FUSE framework. For details see #416. You can fix this by running the following command in Temrinal:

    ln -s XcodeDefault.xctoolchain /Applications/Xcode.app/Contents/Developer/

[2017-12-12 23:19] shelbyKiraM commented on #462
Trying to build cuz of these errors from TransmitDisk using FUSE 3.7.1:

- https://www.dropbox.com/s/olnuxvt57u82vzx/Screenshot%202017-12-12%2015.16.45.png?dl=0
- https://www.dropbox.com/s/xawppip11j6dm5c/Screenshot%202017-12-12%2015.16.56.png?dl=0

[2017-12-12 23:23] bfleischer commented on #462
As far as I know TransmitDisk uses a custom version of FUSE. It might be best to get in touch with Panic to resolve this issue. You might need to upgrade TransmitDisk.

[2017-12-12 23:25] shelbyKiraM commented on #462
Ah. Closing, and going to them. Thanks.

[2017-12-12 23:25] #462 closed, assigned to bfleischer

[2017-12-13 11:56] webgast commented on #461
Hi @bfleischer why did you close this? I am still intrigued why this build did not work for me, do you have any idea?

[2017-12-13 15:07] vzakuta commented on #456
I just posted the kernel panic log.
[MacSierraKernelPanicOSXFuse.txt](https://github.com/osxfuse/osxfuse/files/1555922/MacSierraKernelPanicOSXFuse.txt)

[2017-12-13 16:54] ericlindell commented on #397
I don't know. sorry.
I only know it does when I copy files from my android (or within my android)

On Sun, Dec 10, 2017 at 9:17 AM, mlouism <notifications@github.com> wrote:

--
Eric Lindell
NYC  NY
646.648.6207

[2017-12-13 21:06] bfleischer commented on #461
I don't recommend building FUSE yourself because you would need a Developer ID certificate for signing kernel extensions to do so. This is not the standard Developer ID certificate every registered Apple developer gets. For singing kernel extension you need to apply for a special special certificate. If you don't have such a certificate you would need to disable macOS's System Integrity Protection

[2017-12-13 21:08] webgast commented on #461
Hi,

Thanks! I now have the problem that I can see the files in the command line
and in an editor but not in Finder. Do you know what could be wrong?

I need it for work :/

Cheers,

Johan

On Wed, 13 Dec 2017 at 22:06, Benjamin Fleischer <notifications@github.com>
wrote:

[2017-12-14 21:12] mlouism commented on #397
On Mac OS X whatever version, when editing file with TextEdit for example, when file is updated on disk, Date/Time are changed both on Created Field and Modified Field of the file thus rendeng file management impossible in a Synchronised environement like a Cloud system! Do you able to reproduce this behavior on Android?

Thanks!

[2017-12-14 23:43] #419 closed, assigned to bfleischer

[2017-12-14 23:49] bfleischer commented on #456
@vzakuta The panic is caused by the CrowdStrike Software you are using. As you can see in the following extract from the panic log the FUSE kernel extension does not play a part in the backtrace that lead to the panic.

[code]

Please contact the CrowdStrike team for support. This is something they need to have a look at.

@mbsabath Are you using the CrowdStrike software, too? It would be great if

[2017-12-15 14:02] vzakuta commented on #456
Thanks!
Will do. It’s the antivirus that runs on my machine.
Vitaly

From: Benjamin Fleischer <notifications@github.com>
Reply-To: osxfuse/osxfuse <reply@reply.github.com>
Date: Thursday, December 14, 2017 at 6:49 PM
To: osxfuse/osxfuse <osxfuse@noreply.github.com>
Cc: Vitaly Zakuta <zakuta@g.harvard.edu>, Mention <mention@noreply.github.com>
Subject: Re: [osxfuse/osxfuse] Unmounting sshfs drive c

[2017-12-15 17:33] SBUtltmedia commented on #404
I'd like clarification too, I tried to compile sshfs but ran into a fuse3 dependency . A contributor says that osxfuse is based on fuse 2, is this true? https://github.com/libfuse/libfuse/issues/204

[2017-12-18 00:50] nhooyr commented on #437
Trying to edit the database directly gives me

[code]

Any ideas?

[2017-12-18 18:27] heywoodlh opened #463 "ar"

[2017-12-18 18:27] #463 closed, assigned to nobody

[2017-12-19 17:50] jaytruepill commented on #437
Disabling MagicPrefs did it for me. Thank you!

[2017-12-19 17:53] gtimmy commented on #437
@nhooyr do it in Recovery mode

[2017-12-21 11:16] oprog commented on #421
I had a similar issue and fixed with running:
 _xcode-select --install_
in terminal.
Have no idea why it fixed the issue but now fuse/sshfs works just like before the High Sierra update.

[2017-12-22 09:44] baszero commented on #341
Has this been solved? I have the same problem today

just using `ssh user@remote` works fine.
But when calling
`sudo sshfs -o allow_other,defer_permissions,IdentityFile=~/.ssh/id_rsa root@xxx.xxx.xxx.xxx:/ /mnt/droplet`
it does log me in automatically.

[2017-12-26 01:38] spectral54 opened #464 "Darwin or osxfuse kext de-dupe opendir calls, can lead to corrupt readdir results"
The problem:
Two separate processes on the machine can attempt to read from the same directory at the same time and one of them can end up with missing or duplicated entries.

Details:
Somewhere (Darwin kernel, or the osxfuse kext) appears to de-dupe opendir() requests, including across-processes.  When process A requests some entries with offset=0, our FUSE daemon receives a call asking it to res

[2017-12-27 17:22] yan12125 commented on #310
```sudo mdutil -i on /``` also fixes the issue for me!

[2017-12-27 17:38] yan12125 commented on #380
Got a similar issue (@rpath/libclang.dylib missing). My workaround is:

[code]

Technical details:
```otool -l /System/Library/BridgeSupport/ruby-2.3/bridgesupportparser.bundle``` says RPATH is /Applications/Xcode.app/Contents/Developer/Toolchains/OSX10.13.xctoolchain/usr/lib, while there's only /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain. Sounds like an Xcode bu

[2017-12-28 11:14] peterbaral commented on #422
This is a fix for Expandrive 5.5.x on Mac OS X 10.13 High Sierra:

0) Quit Expandrive
1) Install current version of OSXFuse from https://osxfuse.github.io
2) Go to /Library/Filesystems on your Mac
3) Rename Expandrives custom version of OSXFuse from strongfuse.js to _strongfuse.js (to save it)
4) Symlink osxfuse.fs to strongfuse.fs
5) Launch Expandrive

[2018-01-02 17:18] DanielFarber commented on #446
Are you simultaneously running VMWare Fusion?

[2018-01-03 04:25] alexvsarash opened #465 "I installed FUSE, restarted my mac, no difference when opening an NTFS drive ..."
Running macOS 10.13.2

[2018-01-03 06:32] jim-fun commented on #465
I think you have to mount the volume manually. Unmount from macOS and then mount with ntfs-3g.

"man ntfs-3g" for more help.

[2018-01-03 11:15] kaushiks opened #466 "FUSE bug: rename isn't updating the parent of a moved child."
I'm writing a simple FUSE filesystem that is very similar to the loopback filesystem from the examples directory [1]. I believe I've run into what appears to be a bug in FUSE (that I'm able to reproduce in my filesystem and the loopback filesystem).

The command I use to run the loopback filesystem is:
sudo ./loopback /Volumes/loop -omodules=threadid:subdir,subdir=/tmp/dir -oallow_other,native_xat

[2018-01-03 15:41] guyzmo commented on #446
Hi, I'm having the same error, when doing a command I've been running regularly for a while. I'm pretty sure it was working during december, and it's not anymore. I'm ssh-ing from a mac client to a linux server.

on the mac:

[code]

on the linux:

[code]

there's nothing visible in the logs, and nothing with `-d` option. `ssh` to the server works.

[code]

[2018-01-03 15:48] guyzmo commented on #446
ok, I finally found out what it was. It was related to the number of virtual devices allowed: cf https://github.com/osxfuse/osxfuse/issues/358

I shut the smbfs kernel extension, and voila !

[2018-01-04 07:37] kaushiks commented on #466
FWIW, I did some debugging and this doesn't appear to be a bug in the user mode code.

If I do this
[code]
and then look at the FUSE callbacks that are getting called, I see a couple of getattr calls:
[code]
Oddly, it skips over calling getattr for /foo/top. My theory is that this is because the driver is failing to recognize that bar's parent has changed after the rename. It appears to wrongly as

[2018-01-04 08:22] kaushiks commented on #466
/cc @unsound.

[2018-01-04 21:49] ILAgent opened #467 "Erase a flash disk with Disk Util in ntfs-3g"
Hello !
I've installed Fuse and ntfs-3g, restarted my Mac (OS X Sierra), but Disk Util isn't offering ntfs-3g as  available FS.  How can I format my drive in ntfs-3g ?

[2018-01-05 01:11] maenpaa24 opened #468 ""No version of Xcode found""
Hi!

I have properly installed autotools and libtool. When I run ./build.sh to build osxfuse it says "No version of Xcode found". This is the max-verbose output in case it is useful:

DEFAULT_BUILD_CONFIGURATION=Release
DEFAULT_BUILD_DIRECTORY=/tmp/osxfuse
DEFAULT_LOG_VERBOSE=2
DEFAULT_PREFIX=''
DEFAULT_SDK=10.12
DEFAULT_SDK_10_10_ARCHITECURES=([0]=i386 [1]=x86_64)
DEFAULT_SDK_10_10_COMPILER=com.a

[2018-01-05 13:25] maenpaa24 commented on #468
One just have to index or reindex the spotlight. Which can be done with the following command:

`sudo mdutil -i on /`

[2018-01-05 13:26] #468 closed, assigned to nobody

[2018-01-08 18:03] hasibahmed commented on #421
For me, reinstalling osxfuse and sshfs didn't do it, required a reboot too.

[2018-01-09 21:50] SPFPDX opened #469 "FUSE Stopped Working After Upgrade to 10.13.2"
I've been using FUSE for almost a year to access network drives at work, which use NTFS. Since updating from MacOS 10.13.1 to 10.13.2, I have encountered difficulties. While I can mount the drives, copy to them, copy out of them, and open files from them, I am unable to manipulate files on the drives. Attempting to move a file or folder into another folder, or renaming a folder or file results in

[2018-01-10 03:22] ILC2018 commented on #425
Hello everyone! I had the same problem as Ghost; I actually did not have FUSE. I downloaded it, but nothing changed. I contacted veracrypt; however in the meantime I discovered that if you select "mount all devices" instead of just "mount", and entering the password for that specific volume, I am able to access it.

Cheers!

[2018-01-10 19:28] gprakash1 commented on #469
Even I am facing the same issues after updating to 10.13.2, SD cards not readable now. Will there be a fix released soon?

[2018-01-16 13:58] swt2c commented on #448
Did you have any luck investigating this?

[2018-01-17 19:59] llahnoraa commented on #437
@gtimmy when you said "capture mouse clicks" that got me thinking.. instead of using the mouse, I used the keyboard and tabbed all the way till it highlight "Allow" and I hit spacebar.

**It worked!** Thank you very much!

[2018-01-17 20:18] nhooyr commented on #437
@gtimmy didn't end up testing it yet because I got busy but will do soon, your response was appreciated. thank you.

[2018-01-18 02:32] nakarin4350 commented on #342
Try Paragon Driver for macOS and it s free for Seagate.

[2018-01-18 16:59] hasibahmed commented on #421
Hi, this is back again, reinstalling osxfuse / rebooting didn't help. Any ideas ?

[2018-01-18 18:55] Ajaybh commented on #448
Hi Scott,
I couldn't get anytime to look into this? We did few optimizations in our app side to make the navigation bit faster, however for best experience i agree this capability is definitely needed.

Since the last update, I tried repeating the same steps with getattrlistbulk just like readdirattr but couldn't get Finder to call on this new capability.  My guess is we would need to move to late

[2018-01-19 05:19] thorlando commented on #341
I too am experiencing this.

`ssh user@host -i ~/.ssh/key` works just fine

`sshfs -o IdentityFile=~/.ssh/key` prompts for a password.

I also tried setting it up in ~/.ssh/config and no dice. I'm on Mac OS X 10.12.6

[2018-01-21 22:53] KiSchulte commented on #437
Yepp BTT was my problem as well.

[2018-01-22 01:50] mcmara commented on #380
Got a similar issue as well (.dylib missing). The previous workaround of user yan12125 worked perfectly for me (I have the same environment), and I was able to build osxfuse via macports. Thank you.

[2018-01-22 15:02] meffovic commented on #341
I've got the same issue, and the directory and identity file permissions are correct.
~/.ssh (0700/drwx------)
~/.ssh/id_rsa (0600/-rw-------)

When using ssh directly, it works just fine, but when running
_'`sshfs -p2222 -o allow_other,default_permissions,IdentityFile=~/.ssh/id_rsa,reconnect meffe@x.x.x.x:/ /mnt/remotedir`'_ it prompts for the password.

I'm doubting we're the only ones experienc

[2018-01-24 00:12] sarat-ravi opened #470 ""vnode changed type behind us" + EIO on local creation of a file with same path as original path of remotely renamed folder despite fuse_notify_inval_entry"
# Overview
I created a filesystem that can have local operations as well as remote operations, where remote operations are ones that interact with the filesystem data-structures directly without going through the filesystem APIs. In order to notify the FUSE kext of these remote changes, I'm relying on the `fuse_lowlevel_notify_*` family of functions.

For remote renames, I'm using `fuse_lowlevel_n

[2018-01-24 18:26] southrivertech opened #471 "Objective-C LoopbackFS fails with Office 2016 Save"
Hi,

I'm using the Objective-C LoopbackFS sample to mount a local folder as a volume. Works great. I then run any Office 2016 app (on Mac High Sierra) and when I save it I get a Save error.

Has anyone else seen this issue?

Thanks!

[2018-01-25 08:38] raman-sidarakin-epam commented on #440
@gtimmy , @radj
Hi, everyone. Faced the same behavior. When `readFileAtPath:` is blocked (waits for something), then all metadata callbacks like `contentsOfDirectoryAtPath:` or `attributesOfItemAtPath:` not being called until `readFileAtPath:` unblocked. It also reproducible with Loopback FS using Finder.app or Terminal.
Did you find some workaround or some specific approach to avoid this?

[2018-01-25 10:25] Jarown commented on #437
Smart thinking @llahnoraa, that did the trick! (i also disabled BetterTouchTool, I didn't check if that was actually necessary)

[2018-01-26 15:54] mayankchat opened #472 "error: osxfuse: fuse_vnop_readdir failed (err=13)"
I am getting message in console

osxfuse: fuse_vnop_readdir failed (err=13)

I am using OSX el captain.  How do I correct it?

Thanks.

[2018-01-26 16:54] swt2c commented on #472
What FUSE filesystem are you using?

[2018-01-26 17:07] mayankchat commented on #472
None.  I have Fuse 3.7.1 installed.

[2018-01-26 17:12] swt2c commented on #472
FUSE doesn't do anything by itself.  You have to be using a FUSE filesystem to see that error.  What does `mount` show?

[2018-01-26 17:15] mayankchat commented on #472
/dev/disk0s2 on / (hfs, local, journaled)
devfs on /dev (devfs, local, nobrowse)
/dev/disk2s2 on /Volumes/1 TB HD 2016 - 1 (hfs, local, journaled)
/dev/disk0s4 on /Volumes/50 GB HD 2017 - 2 (hfs, local, journaled)
/dev/disk2s4 on /Volumes/1 TB HD 2016 - 2 (hfs, local, journaled)
map -hosts on /net (autofs, nosuid, automounted, nobrowse)
map auto_home on /home (autofs, automounted, nobrowse)
Disk D

[2018-01-26 17:18] mayankchat commented on #472
Disk Drill is a Data Recovery software.

[2018-01-26 17:18] swt2c commented on #472
You are using 'Disk Drill' FUSE filesystem.  You will have to ask the authors of Disk Drill about that error you are seeing.

[2018-01-26 17:19] mayankchat commented on #472
ok Thanks

[2018-01-30 15:04] gudstrand commented on #469
I am also seeing issues.  I am trying to mount disk and am getting an error that the MacFUSE does not support the version of Sierra (10.13.2) that I am using.  This is a real pain, any ETA on when this may be addressed?   Is this being worked on?

[2018-01-31 22:11] SPFPDX commented on #469
I ended up starting an Apple ticket which escalated to senior advisor and then engineers. They suggested upgrading to 10.13.3, which was released in the meantime. This fixed my problem. I'm no expert, but I've been told that the native MacOS should be able to access _network_ drives that are using NTFS. Accessing drives physically connected to the Mac is different. Whatever, try upgrading to 10.13

[2018-01-31 22:31] bfleischer commented on #469
Let me start by saying that FUSE for macOS is compatible with macOS 10.13 and has been since macOS 10.13's release last year. FUSE is a building block, that is used by third-party developers to build actual file systems. NTFS-3G is such a file system.

While FUSE is compatible with macOS 10.13 the particular third-party file systems you are using might not be.

@gudstrand Please make sure to use t

[2018-02-03 05:19] SPFPDX commented on #469
Thanks to bfleischer for responding. I am rather naïve about all this. But my understanding is that my office network is a Windows server and the developer of NTFS is Microsoft. I'm not sure the FUSE was involved at all (even though that was what the high-level Apple consultant thought at first. Apparently MacOS can access network NTFS servers natively. Clearly, in retrospect, MacOS 10.13.2 caused

[2018-02-03 14:29] bfleischer commented on #469
@SPFPDX Thanks for clearing things up. You are right, you only need FUSE and NTFS-3G to access NTFS disks that are attached to your Mac via USB or Thunderbolt.

[2018-02-05 20:48] bfleischer commented on #436
The issue should be fixed in commit https://github.com/osxfuse/kext/commit/938b6fc5d8f3a28a48bbd15dfbf6575ec1c989a2.

[2018-02-05 20:48] #436 closed, assigned to bfleischer

[2018-02-05 20:53] bfleischer commented on #467
Please note that NTFS-3G and FUSE for macOS are independent projects. Should you run into NTFS-3G related issues please post the issues on the NTFS-3G support forum at http://tuxera.com/forum/viewforum.php?f=7.

As far as I know it is no longer possible to for third-party file system developers to integrate their file systems with Disk Util. But if you know your way around Terminal, you can always

[2018-02-05 20:53] #467 closed, assigned to bfleischer

[2018-02-05 20:58] bfleischer commented on #459
Please note that NTFS-3G and FUSE for macOS are independent projects. Should you run into NTFS-3G related issues please post the issues on the NTFS-3G support forum at http://tuxera.com/forum/viewforum.php?f=7.

As far as I know the error originates from Finder and it seems to to be triggered by NTFS-3G. So far I have not been able to reproduce the issue with other file systems. This is something

[2018-02-05 20:58] #459 closed, assigned to bfleischer

[2018-02-05 21:53] bfleischer commented on #435
Thanks

[2018-02-05 21:53] #435 closed, assigned to bfleischer

[2018-02-05 21:56] bfleischer commented on #439
FUSE is a building block that is used by third-party developers to build actual file systems like ext4fuse. FUSE on its own cannot read ext3 or ext4 volumes.

[2018-02-05 21:56] #439 closed, assigned to bfleischer

[2018-02-05 22:00] #425 closed, assigned to bfleischer

[2018-02-06 07:21] iabhi7 opened #473 "How to connect to a specific port?"
I want to connect to port `3002` of `myuser@myserver`
I guess by default the port that it connects to is `22`. How can I change it to connect to a port specified?

[2018-02-06 07:24] bfleischer commented on #473
This sounds more like a SSHFS question than a FUSE question. I have not tried it but the man page of sshfs says to use the `-p` option to specify a port.

[2018-02-06 07:24] #473 closed, assigned to bfleischer

[2018-02-08 07:27] aleksandr-skobelev-epam opened #474 "exchangedata is broken for opened files"
If to keep opened file descriptors on files that is going to be exchange, the `exchangedata` operation won't perform properly. Here the output from a `test_exchange` utility on local disk:

    $ ./test_exchange /private/tmp
    File 3 has path "/private/tmp/file_exchange_1.txt".
    File 3 (length = 26, read = 26) contains "abcdefghijklmnopqrstuvwxyz".
    File 4 has path "/private/tmp/file_excha

[2018-02-09 20:40] jcoop39803 opened #475 "No support for libewf after FUSE version 3.6.0"
Please bundle the libewf package back into your next FUSE update;  it causes instability in software that I use when I upgrade my FUSE past 3.6.0.  Thank you

[2018-02-11 00:38] trireme commented on #340
"-o allow_other" flag works only if the ID of your user matches the ID of the user (or group) of the directories and files on the mounted hard drive, otherwise you want see them. You can create a user or group with the ID which has permission to see the directories and files with System Settings->User & Groups

[2018-02-11 04:04] OptimusPrimeCao opened #476 "mac high sierra system crash"
After install sshfs, my os system frequently crash these days, below is my crash log, anyone could help me on this?

Anonymous UUID:       55509958-BAAC-E247-56D7-0873FBD1ED32

Sun Feb 11 10:22:01 2018

*** Panic Report ***
panic(cpu 2 caller 0xffffff80160b954c): "a freed zone element has been modified in zone kalloc.64: expected 0xfacade2eacec48f9 but found 0xfacafe2eacec48f9, bits changed 0x2000

[2018-02-11 15:08] bfleischer commented on #476
The crash is triggered by something Google Chrome does.

The backtrace leading to the kernel panic does not contain anything related to FUSE or SSHFS. The panic log lists all kernel extensions that play a part in the crash:

[code]

As you can see, FUSE (`com.github.osxfuse.filesystems.osxfuse`) is not in the list. It seems to be a mere coincidence that the panic occurred shortly after you install

[2018-02-11 15:08] #476 closed, assigned to bfleischer

[2018-02-11 23:43] bfleischer commented on #475
FUSE for macOS releases have never contained libewf. If you are having issues with libewf, please contact the developers of libewf.

[2018-02-11 23:43] #475 closed, assigned to bfleischer

[2018-02-13 06:06] KobeLuo opened #477 "Why fuse always call getAttr with outdated file when open microsoft word/excel"
### Description:
- When i double click one office(MS word/excel) file, i found that osxfuse always call getAttributes function for some files which has been deleted.
- and every time always call these files.
![error report](https://user-images.githubusercontent.com/26185543/36135430-0032f0bc-10c6-11e8-8276-590e7e91a111.png)

### Questions:
- how to fix it?

***
### Envir:
OSX FUSE for Mac OS: 3.7.

[2018-02-13 07:15] bfleischer commented on #477
FUSE forwards file system operations initiated by other processes to the FUSE daemon running in user space. FUSE does not generate file system operations out of the blue. Office in particular generates a lot of getattr requests. I don't think this is a bug. If you receive a getattr request for a file that has been deleted, simply return ENOENT.

[2018-02-13 07:48] KobeLuo commented on #477
@bfleischer
Thanks great for your reply.

The question is why system will call getattr request for a file that has been deleted ,and these files aways same .
Has some cache in the some place of system ?

It's not a  issue for functionally, but a lots of getattr request will reduce efficiency, we save one large office file on mount disk very slowly.  we want to improve it.
but there has one applica

[2018-02-15 13:34] hasibahmed opened #478 "LSOpenURLsWithRole() failed with error 5 sshfs macOS High Sierra"
Hello, I would like to open issue [#421](https://github.com/osxfuse/osxfuse/issues/421) again. I am facing this issue after updating to High Sierra. Initially this issue was solved by reinstalling sshfs and rebooting. However, the issue came back again. Since then I have tried several approach. Sometimes it would work and other times problem shows up. It seems completely random and unfortuantely I

[2018-02-15 16:03] Ajaybh commented on #356
We're seeing a similar crash but with Word document editing rather than Excel document. The issue involves performing save-as and leaving the system idle for a long time. The crash is hard to reproduce but with inactivity, chances of its occurrence are high. Seems like Finder/Fuse is purging its cache after sometime.

The issue could be because of the bug in exchangeData as mentioned above.

I cou

[2018-02-15 16:23] Ajaybh commented on #474
Observing a crash in this functionality, not sure if the cause has to do anything with this defect.

### unique: 84, success, outsize: 32 unique: 82, opcode: EXCHANGE (63), nodeid: 648, insize: 84, pid: 54252
### fuse internal error: node 32768 not found

Here's a snippet of some of the events that I found interesting:
_unique: 81, opcode: FSYNC (20), nodeid: 648, insize: 56, pid: 54252 fsync[1058

[2018-02-19 01:35] doublsky commented on #478
I am having the same issue. It happens to one of the server I use, but not others. Could it be an issue on the remote side?

[2018-02-19 18:31] swhobbit commented on #310
Why in Ceiling Cat's Name does it rely on Spotlight? I don't see why Spotlight is needed to look in a known location.

Spotlight is EXPLICITLY disabled on this machine, it consumes resources and does evil things when I'm trying to eject disks.  This sounds like a solution looking for a problem.

[2018-02-20 10:28] AAniculaesei-modus opened #479 "When I try to enter the mounted directory it stalls"
So my directory is 'M360AWS' .. and when I do: cd M360AWS, it just hangs there
Also, I am trying to use PHP Storm .. and not even that can open the project
I just set everything up .. does it need time to sync everything, or ?

[2018-02-20 13:19] Pfaeff commented on #341
I am having a similar issue. For me, it works fine when running it from a terminal. But having it in the .profile causes it to ask for a password.

[2018-02-21 11:59] tofutim opened #480 "volicon: missing 'iconpath' option"
I am attempting to mount a qcow2 image using libqcow and osxfuse. However, when I do so, I see
[code]
I had installed osxfuse using `brew install caskroom/cask/osxfuse`. Is the iconpath a compile time option? How do I fix this? I am on OSX 10.13. I'm guessing I have to somehow hook up the icns file.

[2018-02-21 16:41] tofutim commented on #427
Kevin, can you give more information on how you did your workaround. I am using qcowmount and seeing
[code]
On OSX 10.13. I used `brew cask install caskroom/cask/osxfuse`

[2018-02-21 19:44] kevinlieser commented on #427
I am using `sshfs` and providing the volicon option with `... -o volicon=/Path/to/MyIcon.icns ... `. So nothing special...

[2018-02-22 13:53] tharwan opened #481 "remote host has disconnected on macOS 10.12.6"
Hi, I am running into a strange issue. I am trying to mount a share on my synology NAS via sshfs.

When I try to do it with Transmit (the Panic transfer app) everything works fine, and from what I understand they use fuse and sshfs for mounting under the hood.

When I try to mount from the terminal via sshfs everything seems to work fine until I try to open a file. Browsing the directories is stil

[2018-02-22 21:57] pmalhaire commented on #416
working now

[2018-02-22 21:57] #416 closed

[2018-02-25 22:16] bfleischer commented on #474
@aleksandr-skobelev-epam Thanks for the bug report and the super helpful test utility. The issue should be fixed by commit https://github.com/osxfuse/kext/commit/d5e4099ba108bf1f8813883b9251f8dfc948cdd4.

@Ajaybh I don't think your issue is related to Aleksandr's issue. Which file system are you using? Please try to reproduce the issue with the loopback file system, in case you are not already usi

[2018-02-27 10:28] aleksandr-skobelev-epam commented on #474
@bfleischer Thank you!

[2018-02-28 13:42] bddavison commented on #478
Problem for me too.  FUSE for macOS 3.7.1 on High Sierra 10.13.3.

[2018-03-02 22:54] ghost commented on #478
I have the same problem

[2018-03-05 02:29] veloper commented on #422
@peterbaral - This totally works with Transmit 4 as well!

Edit: Never mind, it sort-of worked but i ran into another issue within transmit 4 itself.

[2018-03-06 17:44] pjetr3k commented on #341
same here, `ssh` connecting without issues, `sshfs` prompts for password every time, host added to ssh config, and key added to ssh-agent

[2018-03-07 09:00] Pfaeff commented on #341
I solved it. The ssh directory and files have to have these exact permissions:

.ssh directory 700
private key 600
public key 644

not more and not less. It doesn't work if those files have less restrictive permissions. I would guess due to security reasons.

[2018-03-07 09:44] kreintjes commented on #342
Same problem over here when mounting an external hard drive with ntfs-3g. When I reconnect the drive (thus remounting it with mac's default ntfs driver), the files do appear as @mbakkokom said. However, when I unmount and mount again with ntfs-3g, the files still don't show up, so I am unable to delete them as well. Any solution would be greatly appreciated.

Versions:
ntfs-3g: 2017.3.23 external

[2018-03-08 08:17] rfjakob opened #482 "gocryptfs trouble: "osxfuse: vnode changed generation""
I recenty got a ticket filed against gocryptfs with macos users seeing errors when copying files: https://github.com/rfjakob/gocryptfs/issues/213

Extracting a big tarball reproduces the issue, tar reports lots of
[code]
and in dmesg these [osxfuse errors](https://github.com/osxfuse/kext/blob/534773bd3135f04b7f6fb801faa2f8991daf4a6b/osxfuse/fuse_node.c#L225) show up:
[code]
Doing the same test wit

[2018-03-10 09:30] sideeffect42 opened #483 ""Unable to contact update server" on Mac OS X 10.5"
When launching the FUSE preference pane on Mac OS X 10.5.8 it displays the message "Unable to contact update server" instead of checking for updates (and prompting for an update if one is available).

[2018-03-11 09:18] benrubson commented on #406
@bfleischer, @martijnotto, we are facing the same issue in EncFS.
We mount the Fuse FS using `fuse_main()`, and unmount using `fuse_unmount(mountpoint, nullptr)`.
It works perfectly on Linux, FreeBSD, Windows (Dokan).
But fails on Mac OS, `fuse_unmount` returns but does not unmount.
Any solution ?
Thank you very much 👍

[2018-03-12 00:30] unobe opened #484 "OS X 10.13.2 kernel panic using rsync and FUSE for macOS 3.7.1 (upspinfs)"
I'm not sure where precisely the cause of this bug is happening, so am reporting to Apple, this project, and [upspin.io](https://github.com/upspin/upspin/issues/576).

1. What version of osxfuse are you using? The latest download for OS X (FUSE for macOS 3.7.1)
2. What operating system and processor architecture are you using? OS X 10.13.2 iMac (21.5-inch, Late 2013) 2.7 GHz Intel Core i5
3. What

[2018-03-13 11:52] raubreywhite commented on #363
This seems to be a problem on High Sierra, copying to a rclone mounted drive.

[2018-03-13 18:02] jeremyspiegel opened #485 "Word creates temp folders when saving existing .doc file"
When running loopback, open an existing .doc file, make an edit, and save. Word 2016 creates a temp folder with a name of the form `test.doc.sb-6d6ce842-tI5oYC`, and this folder isn't removed until the document is closed in Word. It seems that this is a known issue when opening such files over an SMB share (https://community.spiceworks.com/topic/1946623-office-mac-2016-word-when-saving-creates-a-f

[2018-03-13 18:23] DoaneAS commented on #478
also having this issue.  I'm able to cd to the mounted directory in a shell and cp files for example onto my desktop, but all Finder integration is broken.  Fuse 3.7.1, MacOS 10.13.3.

[2018-03-14 23:43] kaushiks commented on #409
This I believe is also what leads to the issue I'd reported earlier: https://github.com/osxfuse/osxfuse/issues/466.

@sarattall How are you guys working around this bug?

[2018-03-14 23:49] kaushiks commented on #466
https://groups.google.com/forum/#!searchin/osxfuse-group/mv$20barry%7Csort:date/osxfuse-group/XamzKH7BA30/yDPt68FsBQAJ is another instance of this problem that I'm able to reproduce in my filesystem too.

[2018-03-16 17:31] rfjakob commented on #482
Root cause was a bug in the go-fuse library, fixed by
https://github.com/hanwen/go-fuse/pull/206/commits/3bcf9f9f127139c90f23dbe0fe4f469e242c311a

Sorry for the noise!

[2018-03-16 17:31] #482 closed, assigned to nobody

[2018-03-18 22:11] chaevnicher opened #486 "Error opening '/dev/disk2s1': Resource busy"
return
Error opening '/dev/disk2s1': Resource busy
Failed to mount '/dev/disk2s1': Resource busy
Mount is denied because the NTFS volume is already exclusively opened.
The volume may be already mounted, or another software may use it which
could be identified for example by the help of the 'fuser' command.

[2018-03-18 22:35] bfleischer commented on #486
This is an NTFS-3G issue. Please note that NTFS-3G and FUSE for macOS are independent projects. Should you run into NTFS-3G related issues please post the issues on the NTFS-3G support forum at http://tuxera.com/forum/viewforum.php?f=7.

[2018-03-18 22:35] #486 closed, assigned to nobody

[2018-03-20 04:55] Marty56 opened #487 "Cannot find the description on how to use Fuse"
A getting started is missing.

A lot of talks about APIs and stuff but a simple "getting started" is missing or at least I could not find it after having search for 20 minutes. It would be great to put a link on the home page.

The FAQ talks about "4.2. I mounted a "FUSE for OS X" volume ..." but no doc on "how to mount a FUSE for OS X volume". I guess this is a just too trivial question for Fuse

[2018-03-20 23:03] SajadMirzaei opened #488 "Do not receive a RELEASE after opening a file in shell with 'tail' command or with 'Microsoft Powerpoint' and editing and removing the file at the same time"
## Overview
When the `-o "hard_remove"` is used, removing a file while it is open by other programs (processes) does not generate a `RELEASE` signal.
I opened a file with 'cat' command and in a separate terminal used the 'tail' command. I edited the file with 'cat' and the update showed up in 'tail'. If I use 'rm' command in a different terminal and remove the file, closing the 'cat' will ctrl+C w

[2018-03-27 11:44] alew3 commented on #341
Always asks for a password whatever I try.

[2018-03-27 12:14] pjetr3k commented on #341
I think that part of the problem is the fact that it looks for the key in root home dir, it stoped asking for password when I used `/home/username` instead of `~` in path to the key on ubuntu linux, on macOS i don’t even have to specify the `identityFile`,  it works after just adding key to ssh-agent

[2018-03-28 11:47] 0Dmitry opened #489 "Help wanted: Is there a way to tell if a file is being opened directly by the user with a double click."
We are trying to build a virtual disk that shows files from a remote file storage. And we want that the user could be able to see the whole folder structure and files that exists in the remote storage through this virtual disk, but the files should be downloaded from the remote storage only when the user has double-clicked on a file. The problem is that when I open a folder in the mounted fuse dri

[2018-03-28 11:51] bududomasidet commented on #489
the same problem there, please help

[2018-03-28 16:13] jamie-arcc commented on #487
+1 on this.  I am also having issues with configuration.  sysctl does not show the paths listed on the "mount options" page in the wiki. vfs.general does not contain anything related to osxfuse.

[2018-03-28 16:19] jamie-arcc commented on #234
not sure that I can contribute much to this, but bumping because I personally could really use this.  I'm coming from linux so a lot of this stuff is alien to me.

[2018-03-28 16:20] jamie-arcc opened #490 "sysctl on High Sierra 10.13.3 does not show 'vfs.generic.osxfuse' path"
Just installed 3.7.1 using the dmg installer from the website onto 10.13.3, running on a Late 2012 21.5" Core-i7 iMac. I am trying to follow the directions in the mount options wiki page, but the referenced path 'vfs.generic.osxfuse' is not being shown by sysctl, even after a reboot.  the FUSE menu appears in system preferences.

[2018-03-28 21:11] pcouture opened #491 "Warning FUSE not supported on High Sierra"
I'm not able to mount a drive with FUSE 3.7.1 since updating to High Sierra. I get these errors when using via Transmit.

![image](https://user-images.githubusercontent.com/404929/38056623-cb74e40a-3291-11e8-8b8b-b194b839a5e4.png)

![image](https://user-images.githubusercontent.com/404929/38056640-d7e6e7b0-3291-11e8-88b7-ec827a636dd5.png)

[2018-03-28 22:55] LishengZhou commented on #484
My iMac (macOS High Sierra) got kernel panic after rsync too...

[2018-03-29 07:48] #489 closed, assigned to nobody

[2018-03-29 11:24] ghost commented on #406
I don't think you're facing the same issue that I do. For me fuse_unmount just hangs indefinitely. The only way to stop and unmount was to use hdiutil eject -force, so I wrote a quick bash script that traps signals, then sends the signal to the application in the background and then runs hdiutil. When hdiutil is run the fuse_unmount function returns.

It's a gory solution, but it works.

[2018-03-30 05:58] SlapstickMarmalade commented on #83
I do not understand the people condoning the behaviour of @Mertonoia. No matter what the perceived damage caused by the software, it is provided free and with absolutely no warranty of any kind. And yet, @bfleischer seems committed to sorting peoples' issues out.

@Tesselator

Yeah right:

She basically threatened and then questioned the morals of someone who's making a _very_ useful piece of soft

[2018-03-30 17:16] yuchant commented on #437
All, I am using a Wacom Pro tablet. The allow button did nothing for me, but if I used the system trackpad, the button worked.

"It's a feature not a bug" was a great hint.

If it's a feature, it should show to the user that a third party click was detected.

[2018-03-31 01:11] Ajaybh commented on #474
Thanks @bfleischer for looking at the logs that I shared. The problem I reported is quite hard to reproduce. It happens with Word document editing and requires a long wait & a lot of save-as operations. Not sure if I would be able to easily reproduce the issue with loopback file system.
The issue has disappeared after we disabled the Exchange data call.
I will try enabling the flow with your fix.

[2018-03-31 04:13] pcouture commented on #491
So the issue is that older versions of transmit doesn't work with the latest version of FUSE. I updated to the latest which was 5 and it worked.

[2018-03-31 04:13] #491 closed, assigned to nobody

[2018-04-02 02:53] Serubin opened #492 "Frequent System Freezes and Crashes"
Hello!

I've been having some odd problems on a Macbook Pro 2017 TB running 10.13.3. When doing io intensive work such as npm i or rsyncing data off the EncFS/FUSE drive my computer tends to freeze up and crash or EncFS/FUSE becomes unreachable (though the EncFS/FUSE drive is still mounted).

I've been collecting logs to see what might be the cause, but both FUSE and EncFS logs seem normal. Happy

[2018-04-02 19:01] raycasanova43 opened #493 "Internal FUSE error (rc=1)"
Unable to mount Egnyte Connect due to the following error:

"Mount Failed
Internal FUSE error (rc=1) while attempting to mount the file system. For now, the best way to diagnose is to look for error message using Console."

I've uninstalled/re-installed macOS X FUSE and re-installed the latest version of Egnyte Connect and I'm still getting the same error message.

![image001](https://user-images.

[2018-04-06 08:10] frankanneveld commented on #331
Without reboot you can do :

`diskutil unmount force /Users/Ansible/Desktop`

[2018-04-07 01:35] JuliaPoole929Ns commented on #342
Force Close
I’ve run into this sort of a problem from time to time. Quitting and restarting the Finder will often clear up the problem. Sometimes restarting my Mac will suffice.
for more info visit this URL
https://www.errorsolutions.tech/error/mac-error-code-36/

[2018-04-10 22:23] kode54 commented on #437
Quick hint to anyone having that "Allow" button problem: The Console.app will display the emitted messages telling you which PID is interfering with input. You can use Activity Monitor or Console.app and the `ps` command to find which process that PID belongs to. In my case, it was my own audio player app, Cog, presumably hooking due to its crappy decade old Media Keys hook. If only I knew a bette

[2018-04-11 02:33] jeremyspiegel commented on #488
I created a more minimal reproducible case:
[code]

The release for `fd1` is called with `close(fd1)`, but no release occurs for `close(fd2)`. Also, `close(fd2)` returns 0 (to indicate success).

[2018-04-12 08:09] kaushiks commented on #466
Hi @bfleischer, Could you take a look at this bug report please? Happy to provide any other context / code you might need to reproduce the problem. Thanks.

[2018-04-13 07:55] ruclsq commented on #380
and now I have the same problem to set up sshfs on macOS 10.13.2,
Error: Failed to build osxfuse: command execution failed
Error: See /opt/local/var/macports/logs/_opt_local_var_macports_sources_rsync.macports.org_macports_release_tarballs_ports_fuse_osxfuse/osxfuse/main.log for details.
Error: Follow https://guide.macports.org/#project.tickets to report a bug.
Error: Processing of port sshfs fail

[2018-04-14 01:03] hualig opened #494 "Any method to clone mounted volume as image?"
Mac DiskUtility dose not list mounted volume. Is it possible to use, like dd, to clone the volume to local machine as an image file.

[2018-04-14 01:05] #494 closed, assigned to nobody

[2018-04-15 08:10] billziss-gh opened #495 "Possible deadlock during rename in 3.7.1"
I am developing a file system which I am testing with [fsstress](https://github.com/billziss-gh/secfs.test/tree/master/fsstress) on macOS. I believe I may have stumbled upon a deadlock in rename.

I can reproduce this problem using the following fsstress command line. This fails with:

[code]

Notice that operation `2/99 truncate` succeeds and `0/22 rename` fails with error `57 ENOTCONN`. Subseque

[2018-04-16 13:22] kaushiks commented on #495
FWIW, I routinely run into this while running fsstress too and I suspect this is #466.

[2018-04-16 17:09] HSoeren opened #496 "Problems with install due to something in the security tab"
![image](https://user-images.githubusercontent.com/25493517/38824358-42bd473e-41a9-11e8-8c73-32487927f47b.png)
(UI in german) - It asks me for the permission to trust the software by Benjamin Fleischer, if i click on "Erlauben" (Allowing to run it) nothing happens. I just reinstalled software, looked for updates for my macbook and rebooted it two or three times. Is there something to consider ?
Th

[2018-04-16 18:52] billziss-gh commented on #495
`Rename` may be the hardest operation to get right in a file system. Deadlocks like this are not uncommon.

Consider a file system that locks directories. To `rename` it must acquire locks in `oldpath` and `newpath`. Often this is done by locking individual path components. If any of these components are the same the result is deadlock. This is avoided by detecting the directory loop and returning

[2018-04-17 09:24] vadim-alexeev-distillery commented on #440
Hi all,
I faced the same issue. All callbacks are blocked until readFileAtPath is finished. In case when **readFileAtPath** falls into loading data from the network this issue leads to the bad user experience. Finder may hang trying to get file attributes till the reading is done. For a big file, after several minutes hanging Fuse drive is finally unmounted.

@gtimmy, @radj have you achieved some

[2018-04-19 17:45] jcjohnson commented on #381
I'm running into the same issue, with OSXFUSE 3.6.3 and SSHFS 2.5 on OSX 10.12.5. Is there any known fix or workaround?

[2018-04-20 07:13] akhaisin commented on #496
This https://github.com/osxfuse/osxfuse/issues/437#issuecomment-358425747 helped me.

[2018-04-20 14:53] petersohn opened #497 "Appending does not work when direct_io is set"
I used [this example](https://www.cs.nmsu.edu/~pfeiffer/fuse-tutorial/)  to reproduce the problem. All it does is replicate a directory and log all operations. Without any special mount options, it works well. However, with the `direct_io` mount option, appending to a file does not work. Instead of writing to the end of the file, the contents are written to the beginning. The same happens if I mod

[2018-04-22 08:45] benrubson commented on #497
I faced the same issue with FreeBSD :
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=220185

[2018-04-24 10:34] petersohn commented on #497
It looks like the issue has a fix already committed: https://github.com/osxfuse/kext/commit/10412fb23bda9693ae8e7f7859e5d80df2406c63

When are you planning the next release?

[2018-04-25 11:31] squiles commented on #437
Karabiner wasn't allowing me to click the button just in case anyone has the same problem

[2018-04-26 09:20] mawenbo opened #498 "path length limit (if the path language is chinese, Japanese, Korean)"
when path language is chinese , japanese, korean, if the file path name is to long , it will not show this file ,and not show the other file or folder.

can you tell me the rule of judge the path length (language is not english),so I can delete the path if the  path name is too long

[2018-04-26 14:34] wschenk commented on #437
For me it was Chrome that was blocking, as I discovered by looking at Console.app and seeing the pid in the error message.

[2018-04-27 23:06] Mathieu-Gosbee-ConnectedLab opened #499 "[Swift] Asynchronous task and synchronous return"
I'm unable to run an asynchronous task to fetch data using the following signature as it expects a synchronous return value:
`readFile(atPath path: String!,
                                  userData: Any!,
                                  buffer: UnsafeMutablePointer<Int8>!,
                                  size: Int,
                                  offset: off_t,

[2018-04-28 08:35] waxxmaster commented on #375
Hi, i got the same random issue with FUSE 3.7.1 and SSHFS 2.5.0 under macOS 10.13.4 , i'm using sshfs for years, and this is the first time i got this problem (new computer, with fresh macOS 10.13.4)

I'm using the following commands :

umount -f /Volumes/ssh_cesium
sudo mkdir -p /Volumes/ssh_cesium
sudo chown ${USER} /Volumes/ssh_cesium
sshfs -o reconnect -C -o workaround=all -o IdentityFile=~/.s

[2018-04-28 13:31] uniqueum commented on #478
Running High Sierra (10.13.4) here too, Fuse for macOS 3.7.1, SSHFS 2.5.0

It helped to play around with the options (-o) a little. Had the same problem upon just mounting via
sshfs user@server:/ ~/server ,
but the remote drive/path is perfectly accessible via Finder, if I mount it this way:
sshfs -o auto_cache,allow_other,defer_permissions,volname=server user@server:/path/to/home/ ~/server .

Hop

[2018-04-30 22:04] doomchild commented on #493
I have this same problem using Transmit Disk.

[2018-05-02 10:38] daslicht commented on #380
is there meanwhile a solution ?

[2018-05-02 12:18] JohnsonY1995 opened #500 "MacOS 10.13 Build Failure"
I am on MacOS 10.13.4, but getting below build failure when installing osxfuse with `sudo port install osxfuse`

It is complaining an image is not found in /System/Library/BridgeSupport/ruby-2.3/bridgesupportparser.bundle, and the .bundle file does exist.

[code]

[2018-05-02 13:11] JohnsonY1995 commented on #500
Creating a symbolic link OSX10.13.xctoolchain to XcodeDefault.xctoolchain solved the issue.

[2018-05-02 13:11] #500 closed, assigned to nobody

[2018-05-02 20:39] Mathieu-Gosbee-ConnectedLab commented on #499
The "answer" is `DispatchSemaphore`.
[code]

There doesn't seem to be a way to do it natively async.

[2018-05-03 10:18] andresodio commented on #437
Thanks, @wschenk ! I was about to go crazy and closing Chrome did the trick :)

[2018-05-03 19:47] fardelian commented on #437
I started Console.app and then I clicked on the "Allow" button (which didn't work) but in Console I could see which PID was interfering with my mouse. I did a `ps axu | grep PID` and found the culprit: VLC Player. I quit VLC, I clicked the "Allow" button again and everything worked. I did not expect VLC to interfere with my mouse at the OS level.

[2018-05-04 19:23] lugipfupf commented on #437
In my case it was Spotify. Thanks :-)

[2018-05-06 22:17] alexanderharm opened #501 "How to set creation time"
FUSE itself does not seem to have support for file creation time (birth time, `Btime`). Is there an attribute in osxfuse I can use to set the creation time of a file? Currently all files show as created on `1970-01-01` in Finder.

rfjakob/gocryptfs#229

[2018-05-08 06:22] bfleischer commented on #497
Thanks for the bug report. The new 3.8.0 release fixes the issue.

[2018-05-08 06:22] #497 closed, assigned to bfleischer

[2018-05-08 06:24] bfleischer commented on #496
This is a duplicate of issue #437. #437 already contains a pretty extensive list of applications that are messing with allowing third party kernel extensions in system preferences.

[2018-05-08 06:24] #496 closed, assigned to bfleischer

[2018-05-08 06:27] bfleischer commented on #499
If you are looking for a asynchronous API you might want to consider using the low level FUSE C API. Other than that some form of semaphore or locking mechanism should work, as @Mathieu-Gosbee-ConnectedLab explained.

[2018-05-08 06:27] #499 closed, assigned to bfleischer

[2018-05-08 06:28] bfleischer commented on #490
Are you sure the FUSE kernel extension was loaded at the time you checked for vfs.generic.osxfuse?

[2018-05-08 06:34] bfleischer commented on #501
FUSE for macOS sends `FUSE_GETXTIMES` messages to your user space file system daemon. You need to reply with the creation time. I don't know how this is handled by the Go library you are using. But this is definitely no t a limitation of FUSE.

[2018-05-08 06:34] #501 closed, assigned to bfleischer

[2018-05-08 12:17] jamie-arcc commented on #490
I am not sure how I would check that, but I will try to figure that out. I installed it per the directions and even rebooted numerous times.  I am still somewhat new to Mac, coming mostly from Linux.

update:

No, It doesn't appear to be loaded.

[2018-05-08 12:43] jamie-arcc commented on #490
I just installed 3.8.0 and the issue is resolved by that.

[2018-05-08 12:43] #490 closed, assigned to bfleischer

[2018-05-08 22:59] billziss-gh commented on #495
The following patch on osxfuse/fuse appears to fix the problem for me:

[code]

I will submit as PR against osxfuse/fuse.

[2018-05-09 16:47] billziss-gh commented on #495
Please note that additional testing has revealed that the above patch does not handle all cases.

[2018-05-09 21:18] deinfluence opened #502 "Version 3.8.0: Upgrade prompting for older version (3.7.1)"
Just upgraded to 3.8.0 and its prompting to upgrade (downgrade) to an older version. Assume its an issue on the website rather than code

![fuse issue](https://user-images.githubusercontent.com/27931868/39840259-c3eba8d6-53ac-11e8-9805-5db69609ec1b.jpg)

[2018-05-09 23:01] dany20mh commented on #502
It's because the 3.8.0 is beta version and you don't have **Show Beta Versions** checked so the latest available version would be 3.7.1

[2018-05-09 23:15] deinfluence commented on #502
Its not beta any more: https://osxfuse.github.io/2018/05/07/OSXFUSE-3.8.0..html

[2018-05-10 10:03] czypku commented on #45
sudo diskutil umount force /path

works for me!

[2018-05-10 14:48] bfleischer commented on #502
Thanks @dany20mh

[2018-05-10 14:48] #502 closed, assigned to bfleischer

[2018-05-10 14:51] bfleischer commented on #484
Is this still an issue with the new 3.8.0 release?

[2018-05-10 19:47] LishengZhou commented on #484
Thanks for asking! The issue has gone after I re-installed High Sierra. Sorry for not updating earlier!

-Lisheng

[2018-05-10 19:47] billziss-gh commented on #495
This patch which I am currently testing resolves the discussed deadlock:

[code]

More information on this patch in libfuse/libfuse#245.

[2018-05-11 09:34] kilokoloko commented on #280
hi everybody

i have the same problem.
After upgrading fuse and tuxera to the newest version on mac high sierra, private-public hasn't been working.

need help pls

<img width="616" alt="capture d ecran 2018-05-11 a 11 29 36" src="https://user-images.githubusercontent.com/39187150/39917675-feaf180c-5516-11e8-8b5f-18b6e280c40b.png">
<img width="455" alt="capture d ecran 2018-05-11 a 11 29 47" src="

[2018-05-11 14:45] fardelian commented on #437
@l3robot Maybe you have another app that's stealing the clicks. Does Console.app say anything helpful in the event list?

[2018-05-11 18:09] bfleischer commented on #483
Thanks for the bug report. OS X 10.8 and earlier versions do not seem to support the TLS standard required for downloading the release file, that is hosted on GitHub. Opening the FUSE for macOS website https://osxfuse.github.io/ in Safari does not work either on OS X 10.8 and earlier versions. This could be related to https://githubengineering.com/crypto-deprecation-notice/.

However, I don't thin

[2018-05-11 20:18] bfleischer commented on #484
@unobe Can you reproduce the kernel panic somewhat reliably? It would be great if you could post a panic log with the most recent version of macOS (17E202). Apple has not release a kernel debug kit for the specific version of macOS you were using at the time of the panic. This means that I'm only able to symbolicate the FUSE part of backtrace, which is not very helpful in this particular case.

[2018-05-11 20:38] bfleischer commented on #480
Which version of FUSE are you using? The iconpath option is required when loading the volicon module at mount-time. It's not a compile-time option. I've never used qcowmount, but judging from your description I think it would be best to raise the issue with the qcowmount team.

[2018-05-11 20:41] bfleischer commented on #469
Since there has not been any further feedback in months I'm going to close the issue.

[2018-05-11 20:41] #469 closed, assigned to bfleischer

[2018-05-11 20:44] #465 closed, assigned to nobody

[2018-05-11 20:47] bfleischer commented on #447
Duplicate of #437.

[2018-05-11 20:47] #447 closed, assigned to nobody

[2018-05-11 21:04] sideeffect42 commented on #483
The reason for the failure is GitHub having dropped TLS 1.0 support for sure.
There's a few options I can think of, neither is ideal:

1. Move to a "less-secure" host
As you said this not ideal, but in terms of security it would not be worse than before.
The supported ciphers could be customized to get the best out of what's available. The result should not be too bad, especially since it's just t

[2018-05-14 02:48] danielbair opened #503 "Google Drive File Stream conflicts with FUSE for macOS"
I have found that com.github.osxfuse.filesystems.osxfuse and com.google.dfsfuse.filesystems.dfsfuse conflict.

To get FUSE for macOS to work I have to run:
`sudo kextunload -b com.google.dfsfuse.filesystems.dfsfuse`
If I don't do this then I get this error:
`mount_osxfuse: the file system is not available (255)`

I am reporting this in case any others might encounter this issue.

[2018-05-16 17:27] iamphoccer commented on #337
I am seeing the same error trying to install 3.8.0 on Sierra:

May 16 12:16:15 hostname installd[497]: PackageKit: Install Failed: Error Domain=PKInstallErrorDomain Code=120 "An unexpected error occurred while moving files to the final destination." UserInfo={NSUnderlyingError=0x7ff4b6c49030 {Error Domain=NSPOSIXErrorDomain Code=13 "Permission denied"}, NSLocalizedDescription=An unexpected error o

[2018-05-17 11:42] RiccardoBellatalla commented on #342
Solved using the "cp" command from command line.

**cp ~/myfile.txt  /Volumes/NTFS**

If you want to check the progress of running "cp" just press CTRL + T

[2018-05-17 13:31] Alex-C-Eltima commented on #420
This behavior seems to be fixed in 3.8.0 build released on 07 May 2018

[2018-05-17 13:33] Alex-C-Eltima commented on #436
Hi, the issue seems to still occur in 3.8.0 build, released on May 07, any help is appreciated.

[2018-05-17 14:03] bfleischer commented on #436
Can you provide an example project so that I can reproduce the issue? The loopback file system did not generate unexpected notifications in my tests.

[2018-05-17 14:04] bfleischer commented on #420
Thanks for the feedback.

[2018-05-17 14:04] #420 closed, assigned to bfleischer

[2018-05-17 14:56] Alex-C-Eltima commented on #436
Thank you for your reply, we will prepare and provide you with an example shortly.

[2018-05-17 17:04] billziss-gh commented on #495
The latest patch that fixes the problem is the one below.

A variant of this patch is currently being reviewed as a libfuse PR. Once the patch is accepted in libfuse I will also submit as a PR in osxfuse/fuse as well.

[code]

[2018-05-18 10:58] Alex-C-Eltima commented on #436
Sorry for misunderstanding, we have debugged the issue closer and, while preparing the example for you, found that the problem with 3.8.0 was instigated by our own code. Please close the ticket and accept my apologies.

[2018-05-18 14:29] Alex-C-Eltima commented on #436
Ok, it seems to be rather specific case for particularly our scenario, but I will try to explain. In older version of OSXFuse (3.6.3) there was no such problem at all, it occured in 3.7.

In 3.7 you’ve added functionality to notify the system about all modifications of the items (files/folders) upon first detection of the item and upon change of its “modification date” parameter. Which resulted in

[2018-05-19 04:07] iicky commented on #437
Thanks @wschenk! Chrome was the issue for me as well.

[2018-05-22 14:44] hutber opened #504 "Unable to install in High Sierra, hangs on Validating Packages 3.8.0 & 3.7.0"
I am trying to install via PKG.

I will install with all options or without, the outcome is the same. I follow the steps, then the install starts.
Once it reaches the Validating packages... the bullets on the left change from Installation to the `Complete Installation` being darker grey, but still not changing
![image](https://user-images.githubusercontent.com/1344898/40369870-dba48bd0-5dd6-11e8-9

[2018-05-24 14:25] jasonkhadka commented on #492
I have similar problem right now. MacBook Pro 2017 (10.13.4).
If I try to mount a drive ` sshfs user@x.x.x.x:/home/user/drive /Users/name/Documents/mount -ovolname=my-mount`
and this freezes the terminal and the computer. I updated Fuse to `3.8` and this problem still persists.
This problem started this week, for some reason.

[2018-05-28 02:58] dkotama commented on #504
have you tried using brew installer ?

`brew cask install osxfuse`

[2018-05-30 05:24] biomystery commented on #478
SSHFS version 2.5 (OSXFUSE SSHFS 2.5.0)
OSXFUSE 3.8.0  (upgraded from 3.7.xx)
FUSE library version: 2.9.7

sshfs -o follow_symlinks,auto_cache,allow_other

The error is  disappeared  after reboot/

[2018-05-30 14:05] yan12125 commented on #380
I submitted a bug report to Apple. A copy of that bug can be found at https://openradar.appspot.com/40649128. By the way, rumors have that the priority of a bug gets increased if more people report the same bug.

@daslicht, @ruclsq : You may want to create a symlink as described in https://github.com/osxfuse/osxfuse/issues/380#issuecomment-354148424

[2018-06-01 08:40] aristako commented on #421
Throwback, but one of the options specified [here](https://blog.bmonkeys.net/2013/slowdowns-using-vpn-and-mac-os-x) made the problem go away for me. Good luck!

[2018-06-02 17:44] ysmolski opened #505 "Unable to build 3.8.0 via macport, El Capitan"
Previous version (3.7.1_0) was compiled fine in the same environment.
Please see attached log:
[code]

[2018-06-03 17:46] bfleischer commented on #505
There is probably something wrong with the build configuration. This is something the MacPorts team needs to look into. It seems the kernel extension is built with the macOS 10.12 SDK but the undeclared identifiers from the build log are definitely available in macOS 10.12.

I would like to add that building FUSE yourself for production use is a really bad idea. It will be virtually impossible to

[2018-06-03 17:46] #505 closed, assigned to bfleischer

[2018-06-03 17:48] bfleischer commented on #498
What file system are you using? Have you tried contacting the developer of the particular file system?

[2018-06-03 17:50] bfleischer commented on #493
Are you using the latest versions of Egnyte Connect and Transmit Disk?

[2018-06-03 18:20] doomchild commented on #493
Yes, I'm using the latest version of Transmit Disk.  The problem seems intermittent; it doesn't happen all the time, and when it does, I have to reboot to fix it.

[2018-06-03 18:47] ysmolski commented on #505
Thank you. I will forward this to macports team.

[2018-06-04 13:00] dictvm commented on #503
This is indeed quite a problem since we switched from Google Drive to File Stream. Sometimes it works after dancing around a fire while installing, uninstalling and rebooting a bit.

[2018-06-04 19:21] ghost opened #506 "Unable to install in Mac OS 10.13.5"
Hi,
I tried to install the latest release under Mac OS 10.13.5. The installer told me that the extension for mounting FUSE could not be loaded. In the system preferences "Security & privacy" I tried to allow the extension. But I can click a million times - and nothing happens. Is this a problem with the latest release of Mac OS or am I doing something wrong?

![screenshot 2018-06-04 um 21 19 51](h

[2018-06-05 04:52] ivancitin opened #507 "Help - using a larger iosize"
Hello,

I was wondering if anyone could help me in figuring out how to get better write performance, basically being able to use a larger `iosize`. I have tried setting it to the maximum `32 MB` but the maximum i can see being used is `131072`. I'm setting `st_blksize = 0` in the `stat` in both the `getattr` and the `fgetattr`.

I'm mounting using `fuse_main(...)` with this arguments:
[code]

Anyo

[2018-06-05 09:30] ghost commented on #506
Re-installed & worked now.

[2018-06-05 09:30] #506 closed, assigned to nobody

[2018-06-05 23:11] 19h opened #508 "[Tracking] Support macOS Mojave"
This is a tracking issue for MacOS Mojave support. At the time of writing the distributed binary doesn't run on said OS version and it should be figured out if there is anything broken by Mojave in the lower-level code,

🐝

[2018-06-06 15:40] puhtaytow opened #509 "I'm not able to compile under macOS10.14 with Xcode10 - Beta"
I'm not able to compile due to:

`Assertion 'common_is_variable DEFAULT_SDK_10_14_ARCHITECURES' failed
at common_variable_clone (./build.d/lib/common.sh, line 501)
at common_variable_clone (./build.d/lib/common.sh, line 514)
at build_target_invoke (./build.sh, line 656)
at build_main (./build.sh, line 942)
at main (./build.sh, line 950)`

[2018-06-06 20:31] DJBenson commented on #509
Same here - exactly the same error message.

EDIT: Did you check out the support/osxfuse-3 branch as master doesn't have the 10.14 changes. I cloned support/osxfuse-3 and got an error about SDK 10.5 not being available so I edited build.d/targets/release.sh and replaced 10.5 with 10.14 and also added 10.14 into the case statement further down and got a bit further - I still get a build failure on

[2018-06-07 09:02] puhtaytow commented on #509
Hi DJBenson,

I think it won't work as since 10.5 there was a lot of heavy changes under macOS (previously OS X) hood, and to what I know Fuse needs custom kernel modules (KEXT) which probably won't work at all.

PS. I'm trying to trick it as well :) so far without luck.

[2018-06-08 07:10] lungj commented on #509
If you compile with verbosity at level 9, you'll get a lot of useful error messages:
`./build.sh -t distribution -v 9`
You should then remove `i386` from from the list of architectures to build for in `build.d/defaults.sh` for `DEFAULT_SDK_10_14_ARCHITECURES`.

A bunch of headers also use system header angle brackets instead of double quotes. When you compile, the compiler will tell you what to fi

[2018-06-08 11:29] warrentheranga commented on #509
Did you create the symlink like this:
cd /Applications/Xcode.app/Contents/Developer/Toolchains
sudo ln -s XcodeDefault.xctoolchain OSX10.14.xctoolchain

Otherwise where are you getting the OSX10.14.xctoolchain from?

Thank you

[2018-06-08 11:31] dannote commented on #509
@warrentheranga In this case I get the following errors:
[code]

[2018-06-08 12:27] dannote commented on #509
So I managed to build it successfully by linking `libclang.dylib` as @lungj suggested.

That's what I get now:

[code]

and

[code]

[2018-06-08 12:54] warrentheranga commented on #509
Actually, are you running Xcode 9.4 as well as the beta?

[2018-06-08 13:35] lungj commented on #509
@warrentheranga, I am running only Xcode 10 beta (with command-line tools); I put it in `/Applications/Xcode-beta.app`. My `/Applications/Xcode.app` has no real Xcode. I created the directory to house the symlink using `mkdir -p /Applications/Xcode.app/Contents/Developer/Toolchains/OSX10.14.xctoolchain/usr/lib`.

[2018-06-08 14:07] warrentheranga commented on #509
That was the missing step, brilliant thank you

[2018-06-09 15:35] eskimo commented on #509
If anyone has an error like "error: possibly undefined macro: AM_ICONV" it's related to gettext. I solved it with "brew link gettext --force"

[2018-06-09 18:21] lungj commented on #509
@dannote , if you're getting error 255, you may need to disable SIP (System Integrity Protection) by rebooting into recovery mode and running the command from the terminal:

    csrutil disable

SIP prevents unsigned kexts from being loaded, amongst other things, and thus may be preventing your self-compiled osxfuse kext from loading.

[2018-06-09 18:43] jcameronjeff commented on #508
Same issue here.

[2018-06-09 20:36] eskimo commented on #509
Anyone have any luck mounting sshfs? Can't seem to get it going on my end.

[2018-06-10 16:57] mannuk commented on #437
Apart from @llahnoraa says. If you can't navigate using the tab key, activate this setting https://support.apple.com/en-us/HT204434

[2018-06-10 20:36] kszys commented on #380
The workaround from yan12125 works like a charm!

[2018-06-11 01:59] kevin-zhu-ca opened #510 "Kernel panic for osxfuse 3.8.0 on macOS 10.13"
Hi guys:
    I'm getting kernel panic for osxfuse 3.8.0 on macOS 10.13.5. I've checked system log, and it seems osxfuse kext has a conflict with an App I've already installed. As far as I know is that my App calls system function `vnode_getattr`, which is hooked by osxfuse and then the kernel panic occurrs. Could you please help check this out?
Thanks.

Below is the crash report:

Fri Jun  8 15:46

[2018-06-11 06:18] bfleischer commented on #510
This is the symbolicated backtrace:

[code]

To me it looks like Trend Micro is sending a NULL `vfs_context_t` to FUSE when calling vnode_getattr. This is definitely nothing they should be doing. I think I can work around this, but the culprit here is Trend Micro.

[2018-06-11 06:25] kevin-zhu-ca commented on #510
Hi Benjamin:
Thank you for your help! I'll check that out with Trend Micro :-)

[2018-06-12 11:52] XNinety9 commented on #508
same for me!

[2018-06-13 02:34] katzly commented on #508
same same

[2018-06-13 15:43] ctp2nd commented on #508
[Edits added because @bfleischer said this is not a good idea]

I think I may have found a functional [But Very Bad] solution to running OSXFuse on Mojave:

In terminal [You probably shouldn’t]:

sudo cp -R /Library/Filesystems/osxfuse.fs/Contents/Extensions/10.13 /Library/Filesystems/osxfuse.fs/Contents/Extensions/10.14

Backstory [I’m not a smart man]:  I have a script that uses sshfs & osxfuse

[2018-06-13 17:22] bfleischer commented on #508
@ctp2nd I cannot stress enough that this is a really bad idea. The FUSE kernel extension needs to be patched for almost every new release of macOS. This is the case for Mojave. FUSE relies on kernel data structures that change from macOS release to macOS release. Creating the symlink like you did results in FUSE operating with the wrong offsets. In this particular case your system might deadlock a

[2018-06-13 17:26] alexk403 commented on #508
@ctp2nd pending the severity of what @bfleischer just said... I can confirm this workaround does indeed work and can now mount, read, and write files successfully on 10.14.

[2018-06-13 17:51] ctp2nd commented on #508
@bfleischer, thanks for the warning.  The only reason I thought to copy/paste & rename the symlink is due to the ones that are already there indicating that OSXs 10.13 & 10.12 point at and use the FUSE kernel extension for OSX 10.11, 10.10 uses 10.9, and 10.8 & 10.7 use 10.6’s.  I see that the kext’s do change periodically and I don’t doubt that Mojave will/may need a new one.

@alexk403 Thanks fo

[2018-06-13 17:57] bfleischer commented on #508
@ctp2nd The different extensions for 10.5, 10.6, 10.9, and 10.11 are due to new API that Apple has added in these releases. Unlike normal apps, kernel extension can not be built with backwards compatibility. There is no deployment target setting. This means every time Apple adds a new kernel API that FUSE uses, I add a new kernel extension. But that's only half of the story. At runtime each kernel

[2018-06-13 18:00] ctp2nd commented on #508
@bfleischer, thanks again.  This discussion reminds me why I normally just lurk and leave the commenting and suggestions to you experts.  I really do appreciate the information.

[2018-06-15 17:55] shiggins8 commented on #358
@bfleischer where did you find the documentation for that number? And are you aware of any way that I can check for that number dynamically from an app I'm coding on MacOS?

[2018-06-16 10:25] ghost commented on #509
I was able to build it successfully however when trying to mount a Veracrypt container (which was the whole point) in 10.14, I get "/var/folders/vr/bxpntfsn5c14zd97tkz56mx40000gp/T//.veracrypt_aux_mnt3/control

VeraCrypt::FilesystemPath::GetType:45"

[2018-06-16 10:37] XNinety9 commented on #508
Any news from osxfuse maintainer? I heavily rely on osxfuse for my day-to-day work, and as a dev I need to stick to osx Mojave 😭

[2018-06-18 01:11] bfleischer commented on #488
Thanks for the very detailed bug report and sample code. The issue should be fixed in version 3.8.1. Can you confirm that the issue has been resolved?

[2018-06-18 01:37] bfleischer commented on #510
Version 3.8.1 contains a workaround for this issue. It would be great if you could confirm that the issue is indeed resolved.

[2018-06-18 06:16] bfleischer commented on #508
A few hours ago I have released version 3.8.1, which adds, among other things, experimental support for macOS 10.14. It would be great if you could give it a test drive and let me know if you ran into any issues.

[2018-06-18 08:52] XNinety9 commented on #508
Thanks a lot, I'm installing it right now.

[2018-06-18 11:52] Spydar007 commented on #508
Working fine here, thanks a lot!

[2018-06-18 12:16] bfleischer commented on #509
A few hours ago I have released version 3.8.1, which adds, among other things, experimental support for macOS 10.14. It would be great if you could give it a test drive and let me know if you ran into any issues.

[2018-06-18 13:05] warrentheranga commented on #509
Success! mounted the drive on my raspberry pi over ssh. reading and writing fine too

[2018-06-18 14:27] Qiaoyf96 commented on #508
I tried to use sshfs to map a local folder to remote, and then my local folder just disappeared... when I want to recreate the folder, it is said "File exists."; when I want to cd the folder, it is said "the directory does not exist." 😂

[2018-06-18 15:05] ctp2nd commented on #508
@bfleischer just installed and it connected to all my remote mounts.  Thank you, I appreciate the work you do.

[2018-06-18 17:41] alexk403 commented on #508
3.8.1 doesn't seem to be working with latest version of Transmit, can anyone else confirm or deny? When I click mount as disk, it loads for a couple seconds then stops, but nothing is mounted.

[2018-06-18 17:45] DJBenson commented on #509
`The following build commands failed:
	PhaseScriptExecution BridgeSupport\ Metadata /Users/jonathan.thomson/osxfuse/framework/build/OSXFUSE.build/Release/OSXFUSE.build/Script-28D525C40EA8076400B7CF7B.sh`

[2018-06-18 19:06] crudehung commented on #508
It also not working with the  latest version of pCloud and Veracrypt.
10.14 Mojave cannot locate (or mount) the network drive or pCloud. In case of Veracrypt, something is missing after trying to mount the encrypted vault.

[code]

_

[2018-06-18 19:07] Spydar007 commented on #508
It's working for me with Veracrypt

[2018-06-18 20:27] krlmrr commented on #508
I can confirm. It’s not working with Transmit...

Thanks!

-Karl
On Jun 18, 2018, 12:41 PM -0500, Alex Kapustka <notifications@github.com>, wrote:

[2018-06-19 01:33] ghost commented on #509
Back with a Veracrypt update, Tried creating a new hidden container and it failed with the same message as above after getting to the end of container creation. I'm not too sure whether to discuss it here or Veracrypt repo

[2018-06-19 01:35] ghost commented on #508
Another one here to confirm not working with Veracrypt per @crudehung 's error message. Same thing happens when attempting to create a new hidden volume or new file in general.

[2018-06-19 05:03] katzly commented on #508
not working with pcloud

On Mon, Jun 18, 2018 9:35 PM, MarsWanKenobi notifications@github.com  wrote:
Another one here to confirm not working with Veracrypt per @crudehung  's error
message.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-06-19 09:29] kevin-zhu-ca commented on #510
Hi @bfleischer:
      Thank you for your workaround. I've verified Fuse 3.8.1 and the issue is fixed. Yet after I performed command `ifuse iPhone`, the mounting folder iPhone disappears and iPhone is not mounted, which feels a little weird.
      Also, Trend Micro as well provides a fix of this issue. So I wonder if possible, it is better that it could work correctly along with the latest bug-free

[2018-06-19 10:18] pavelnovac commented on #508
Thx, it's working for me with Диск-О

[2018-06-20 08:10] XNinety9 commented on #508
Not working with pCloud on macOS Mojave. pCloud client says nothing, but pCloud Drive can't mount.

[2018-06-20 09:40] Clax666 commented on #278
To run a process I had to implement my own task runner using core foundation stuff rather then using QProcess from Qt. However it was just a workaround not a real solution

[2018-06-20 13:35] suy commented on #278
The workaround that I did is mentioned on the comment: I install the default signal handler, then I send a signal my own process.

Part of the problem was mitigated because I ended up launching a process to do the file system work, and communicating with the rest of the application via IPC. This is very ugly, error prone, inefficient and an issue when debugging. So I really don't recommend it. But

[2018-06-21 15:41] lungj commented on #509
I was able to use Veracrypt with branch support/osxfuse-3 commit de73426.

[2018-06-21 23:08] jeremyspiegel commented on #440
I'm seeing the same problem. I ran the loopback filesystem, and introduced a 10 second sleep in the read() function. Then, in one terminal window, I ran `cat` on a file, and while that was hung, in another terminal window, I ran `stat` on the same file. The `stat` hung until the read had completed.

[2018-06-25 13:18] jerrycopus commented on #508
Also confirming Crudehung's report of 3.8.1 issue with VeraCrypt 1.23-BETA0 on macOS 10.13.5 High Sierra. 3.8.0 works fine.

<img width="532" alt="screen shot 2018-06-24 at 7 37 39 pm" src="https://user-images.githubusercontent.com/17318530/41861024-c5b57d1c-7865-11e8-87ed-57c25d7334ca.png">

[2018-06-25 13:38] Queequeg92 commented on #508
3.8.1 seems working with pCloud.

[2018-06-25 14:43] austrasien commented on #508
3.8.1 not working with pCloud on **macOS Mojave.**

[2018-06-26 00:44] Queequeg92 commented on #508
@austrasien Try to install 3.8.1 with MacFuse Compatibility Layer. It works for me on macOS Mojave with pCloud.
![screen shot 2018-06-26 at 08 40 48](https://user-images.githubusercontent.com/8766653/41882718-0837e9ec-791d-11e8-830c-accec84597a2.png)

[2018-06-26 06:11] austrasien commented on #508
@Queequeg92 I've installed MacFuse Compatibility Layer but it still doesn't work.
Specs: MacBook Air (13" mid-2013) macOS Mojave bêta 10.14 (18A314h).

[2018-06-26 06:30] opt9 commented on #493
So do I. I'm using Transmit Disk.

[2018-06-26 12:27] HelmoHass opened #511 "Issues on 10.12.6"
had to revert back to 3.8 since with this release disks are not recognized/mounted.

[2018-06-26 20:15] saibv commented on #504
I am seeing the same issue with the package installer on High Sierra. The brew installer doesn't work either..

brew cask install osxfuse
Updating Homebrew...
==> Caveats
To install and/or use osxfuse you may need to enable their kernel extension in

  System Preferences → Security & Privacy → General

For more information refer to vendor documentation or the Apple Technical Note:

  https://devel

[2018-06-26 21:30] wtfn2 commented on #508
<img width="420" alt="ohne titel" src="https://user-images.githubusercontent.com/40613401/41940238-5f7f3572-7998-11e8-8f66-41e9144cb977.png">

5K late '15 on Mojave public beta 1 with Fuse 3.8.1 and Veracrypt 1.2.3 Beta 0, vault on external USB drive.

Any news on 3.8.2? :-)

[2018-06-26 21:35] bfleischer commented on #508
Please raise the VeraCrypt issues with the VeraCrypt team. In Mojave you need root permissions to open devices. This might be causing the VeraCrypt issues. But this is something the VeraCrypt team needs to  look into.

[2018-06-26 22:37] wtfn2 commented on #508
Boom! Working!

To other Veracrypt users: Just open Veracrypt with sudo via terminal and it will mount properly.

sudo /Applications/VeraCrypt.app/Contents/MacOS/VeraCrypt

Thanks bfleischer!

[2018-06-27 09:15] marcmiquel commented on #508
It does not work for me on Mojave.
I uninstalled it, installed it, installed with compatibility layer, and nothing.
I am using macOS Mojave Version 10.14 Beta (18A314k) with a MacBook Pro (2013).

I am not using Veracrypt nor Pcloud. I just need to mount a server location as a folder to work.

@bfleischer should I do something in particular?

[2018-06-27 21:20] jedeloya opened #512 "Include osxfuse inside my App bundle."
Hi.

My question is more about support services for enterprises, can you please send me information about that?

We are working on a solution that will use osxfuse to make a filesystem. And we have some doubts about the distribution of our app.

What is the best way to distribute our solution? Inside of our app include kext and run an instance of it?, or require to the final user to install osxfus

[2018-06-27 23:56] jerrycopus commented on #508
Done: https://sourceforge.net/p/veracrypt/tickets/212/

[2018-06-28 00:11] 19h commented on #508
Requiring root permissions for device access in MacOS Mojave seems like a questionable design decision considering the upcoming radioactive fallout in the form of PrivilegedHelperTools.

I wonder if mounted ftp connections through Finder (using /System/Library/Filesystems/ftp.fs/Contents/Resources/mount_ftp) use undocumented APIs or some kind of permission sorcery to allow non-wheel users to acces

[2018-06-28 00:42] soleti commented on #508
Same problem here. I am just trying to mount a folder on a remote server. If I run the usual `sshfs` command it doesn't return any error, but then when I try to access the folder it says `No such file or directory`. The weird thing is that if I try to remove the folder (that should not exist) I get `rm: app: Operation not permitted`. I tried also with `sudo`, same problem.

Update: apparently it's

[2018-06-28 02:15] DavidHaynesHasGitHub commented on #508
Having issues where the mounted drives arent appearing. Cant find them in finder, or with ls in the folders. Nothing special in how I am trying to access the server.

[2018-06-28 15:42] MIchaelKa commented on #508
3.8.1 does not work for me with LoopbackFS.
MacBook Pro (2017) and macOS Mojave Version 10.14 Beta (18A314k)
Has anybody tried to test it with LoopbackFS?

[2018-06-29 03:40] tliet commented on #437
@kode54 Thanks for the hint that the console showed the PID of the culprit. In my case, it was PowerKey, a small app that prevents the Eject key on the keyboard from opening the DVD tray.

The sequence of resolving this issue is:

1. Open the Console app and Search for 'Dropping', it will start showing only lines with "Dropping mouse down event because sender's PID ([value]) isn't 0 or self ([valu

[2018-06-29 06:52] kode54 commented on #437
I have a workaround for this in Cog, by the way. It would be nice if word of this could be spread to other developers. It is sort of inconvenient to not have hotkeys in Preferences, but it should prevent mouse clicks from being hooked and blocked. Basically, I added com.apple.systempreferences to the blacklist in my software, so it stops hooking when that becomes the active process. Hopefully, it

[2018-06-29 08:52] gtimmy commented on #508
@DavidHaynesHasGitHub Mounted drives are available via terminal with sudo rights, or Finder running with root, but it's unacceptable usage scenario, I suppose.

How osxfuse is going to be used in Finder?

[2018-06-29 08:59] gtimmy commented on #512
We've created our own installer which contains osxfuse installer inside and install it by script `sudo installer -pkg {OSXFUSE_INSTALLER} -target / -applyChoiceChangesXML {OSXFUSE_INSTALLER_SETTINGS}`

[2018-06-29 21:27] jedeloya commented on #512
Hi.

Thanks a lot, you mean that using something like Whitebox Packages in the before installation scripts, i can run this?

Can you explain the OSXFUSE_INSTALLER_SETTINGS part?

Thanks in advance

[2018-06-29 23:30] ktw5691 commented on #508
For anyone using encfs on Mac OS Mojave, I was able to install osxfuse from the 3.8 branch. I can start a <sudo bash> session and then use  <sudo encfs> and this will let me use the terminal to navigate the encrypted drive. However, I cannot access the drive thorough finder and echo concerns that using <sudo> to do all of this is not ideal.

[2018-06-29 23:32] ktw5691 commented on #508
For anyone using encfs on Mac OS Mojave, I was able to install osxfuse from the 3.8 branch. I can start a session and then use `sudo bash` and `sudo encfs` and this will let me use the terminal to navigate the encrypted drive. However, I cannot access the drive thorough finder and echo concerns that using to do all of this is not ideal. Thanks to everyone above in this issue for the useful comment

[2018-06-30 21:17] Prostak commented on #509
In **MacOS 10.11.6** (which is the latest OS I can install on my box):
while using **veracrypt 1.22**

when using **osxfuse 3.8.1** I get the same "VeraCrypt::FilesystemPath::GetType:45" error as above (similar filename: /var/folders/.../.veracrypt_aux+mnt3/control) - in the end of a container creation.

osxfuse **3.7.1 is OK** with the same OS and veracrypt.

[2018-07-01 08:09] idrassi commented on #508
@bfleischer: As I’m the author of VeraCrypt, I have been redirected here concerning the issue happening with 3.8.1 Pre-release under OSX HighSierra 10.3.5. I understand that there are changes in OSX 10.4 but why OSXFuse requires now being root on OSX 10.3.5? Is not it possible to require root only on OSX 10.4?

Moreover, requiring root privileges to access OSXFuse mount points will dramatically ch

[2018-07-02 13:08] jerrycopus commented on #508
Confirming that version 3.8.2 (released 7/1/18) DOES work with macOS 10.13.5 and VeraCrypt 1.23-BETA0 now. Thanks!

[2018-07-02 13:35] austrasien commented on #508
Confirming that version 3.8.2 (released 7/1/18) DOES work with macOS 10.13.5 and pCloud 3.6.3 now. Thanks!

[2018-07-02 13:41] marcmiquel commented on #508
Thanks!
ᐧ

Missatge de austrasien <notifications@github.com> del dia dl., 2 de jul.
2018 a les 15:35:

[2018-07-02 14:59] ktw5691 commented on #508
Confirming that the .dmg of osxfuse 3.8.2 works with encfs! Thanks!

[2018-07-02 15:01] submarine89 commented on #508
osxfuse 3.8.2 works with Cryptomator on Mojave.

[2018-07-02 15:13] gtimmy commented on #508
Yes, it works for me as well on 10.14. I think it's happened because of these commits: [25af0](https://github.com/osxfuse/support/commit/25af01a8e16c1299253b91a742ce4b1d3b08139a) and
[2cdc5](https://github.com/osxfuse/support/commit/2cdc56004c4552211b45ef6661b6f50903236ade). Now it works again! Thanks!

[2018-07-02 16:21] GrandM1961 commented on #509
I got only one problem with using this osxfuse
xcodebuild: error: 'osxfusefs.xcodeproj' does not exist.

any idea to resolve this?

[2018-07-02 17:36] gtimmy commented on #512
You can modify (enable or disable) installing options (see screenshot) by applying settings file.
<img width="732" alt="screen shot 2018-07-02 at 20 32 25" src="https://user-images.githubusercontent.com/4819559/42177945-41fbd14c-7e37-11e8-9845-dd5bb9f6d6a8.png">

To get options file - run command `installer -pkg {FUSE_INSTALLER_PATH}.pkg -showChoicesXML > {OSXFUSE_INSTALLER_SETTINGS}.plist`. You c

[2018-07-02 18:01] alexk403 commented on #508
3.8.2 confirmed as working on latest Mojave Beta 2 with latest version of Transmit/Transmit Disk. Thanks a lot @bfleischer !!

[2018-07-03 07:15] wtfn2 commented on #508
3.8.2 works with Veracrypt 1.23 Beta 0. No root needed.

[2018-07-03 07:48] lesinigo commented on #315
I _did_ have this problem on High Sierra (macOS 10.13.5, no other updates available) and there were no reboot or reinstall that could help. But I can confirm that removing an old unused third-party kext fixed the problem.

The total number of kexts returned by `kextstat` actually _increased_ after the fix due to an increase in `com.apple.*` kexts being loaded (don't ask me why. Maybe it's due to t

[2018-07-03 14:33] jedeloya commented on #512
Hi.

Thanks a lot for your reply, I'm going to test this and post if work for me.

Best Regards.

[2018-07-04 10:12] jief666 opened #513 "FinderInfo for root directory"
Why the extended attribute "com.apple.FinderInfo" is forced for root.
I mean, if there isn't, Fuse will generate one ?

It's annoying for me because it always report syncs as modified. I patched volicon_listxattr to not report "com.apple.FinderInfo" if there isn't. Ans it seems to work. So I wonder if it's shouldn't be removed ?

[2018-07-04 10:20] jief666 opened #514 "git clone broken"
git clone --recursive -b support/osxfuse-3 git://github.com/osxfuse/osxfuse.git doesn't work :

Submodule path 'fuse': checked out '5de674354557075bec27e80eaeeac8d4e171f83b'
error: Server does not allow request for unadvertised object 60c55dd9d4f717033943a0127d83b0a10741a404
Fetched in submodule path 'kext', but it did not contain 60c55dd9d4f717033943a0127d83b0a10741a404. Direct fetching of that c

[2018-07-04 16:31] GrandM1961 opened #515 "No formatting in macOS Mojave"
I have installed the latest version of osxfuse and I can read and write to ntfs formatted harddrives, but I cannot reformat it into NTFS. it shows greyed out
![schermafbeelding 2018-07-04 om 18 31 31](https://user-images.githubusercontent.com/19931368/42287869-7cce8e7c-7fb8-11e8-855e-511257a9d903.png)

[2018-07-04 19:42] nboaldin commented on #45
still have to use 'diskutil unmount path/to/volume'

[2018-07-06 13:29] misku commented on #514
I confirm. This `osxfuse` commit: https://github.com/osxfuse/osxfuse/commit/1dc4b528c9fcbbcf1150574bd0ea2d2daf079e00 refers to non-existing commit (`60c55d`) in `kext` submodule: https://github.com/osxfuse/kext/commits/support/osxfuse-3
@bfleischer could you please update `kext` repo? Thanks!

[2018-07-06 19:26] bfleischer commented on #514
Thanks, I've pushed the missing commit.

@jief666 Do not recompile libosxfuse. Link against the one in `/usr/local/lib`. If you ship your own version of libosxfuse your file system will break with every new release of FUSE for macOS! If your goal is to prevent your app from crashing on launch (in case FUSE is not installed), then weakly link against libosxfuse. This way your app will launch even i

[2018-07-06 19:26] #514 closed, assigned to bfleischer

[2018-07-06 19:32] bfleischer commented on #515
Please note that NTFS-3G and FUSE for macOS are independent projects. Should you run into NTFS-3G related issues please post the issues on the NTFS-3G support forum at http://tuxera.com/forum/viewforum.php?f=7.

As far as I know you need to use a command line tool that ships with NTFS-3G to re-format volumes.

[2018-07-06 19:32] #515 closed, assigned to nobody

[2018-07-06 19:36] bfleischer commented on #512
Please make sure in your installer that you don't downgrade the current FUSE installation if a newer version of FUSE (than the one you are shipping with your app) is already installed.

[2018-07-06 19:36] #512 closed, assigned to nobody

[2018-07-06 21:09] jief666 commented on #514
I'm recompiling osxfuse because of #513. I wanted to understand and try to remove these fake FinderInfo attribute, to see what happen before reporting.
Thanks.

[2018-07-06 21:10] jief666 commented on #514
which branch should I clone to recompile the library to work with packaged version 3.8.0 (the one currently installed on my Mac. I can upgrade if needed) ?

[2018-07-09 17:08] Serubin commented on #492
It's been very difficult to pin point where this is coming from as the logs all look normal and it seems to be an issue specifically with the newer MBPs.

[2018-07-09 19:54] MuhsinFatih commented on #508
I am on macOS Mojave 10.14 (18A314h), neither version (3.8.1, 3.8.2) works for me. I get the following on 3.8.1:
![image](https://user-images.githubusercontent.com/8341386/42472414-33d41b94-838f-11e8-943f-8c525c657b2c.png)
and on 3.8.2, it mounts and works but is extremely slow. Even if I use `-odefer_permissions,noappledouble` it still takes 5 seconds to cd in a folder

[2018-07-09 19:59] Qiaoyf96 commented on #508
@MuhsinFatih You must have the sudo permission on this, like:
[code]

[2018-07-10 01:51] jeremyspiegel commented on #440
I enabled FUSE_TRACE_OP in kext/osxfuse/fuse.h, with a 10 second sleep in the read() function in my loopbackfs. I also added an IOLog for right before fuse_vnop_read returns.

I found that fuse_vnop_getattr isn't called until after the 10-second pause when fuse_vnop_read returns. So it seems like the wait that is hanging the stat call might be in the kernel itself rather than in the osxfuse kext.

[2018-07-10 03:04] MuhsinFatih commented on #508
@LegaDyan but I didn't mount with sudo

[2018-07-10 06:25] habibutsu opened #516 "fuse-ext2: command not found"
After trying install osxfuse from `osxfuse-3.8.2.dmg` on High Sierra 10.13.4 `fuse-ext2` is not available, besides in the folder `/System/Library/Filesystems` no any new items.

[2018-07-10 22:28] jeremyspiegel commented on #440
I also tried setting a 10-second sleep at the top of fuse_vnop_read via msleep (rather than sleeping in my user-mode FS), and saw the same behavior where the fuse_vnop_getattr for the stat wasn't called until after the read returned.

[2018-07-10 23:44] jeremyspiegel commented on #440
I was unclear about how nodes are locked, but now I see now that the node is locked before entering `fuse_vnop_read` in `fuse_biglock_vnop_read`. If I call `fuse_nodelock_unlock(fvdat)` before `cluster_read` in `fuse_vnop_read`, and then `fuse_nodelock_lock(fvdat, FUSEFS_EXCLUSIVE_LOCK)` afterward, then my `stat` is able to complete while the `read` is blocked.

I'm not sure if this is safe to do

[2018-07-10 23:49] jeremyspiegel commented on #488
@bfleischer, I've confirmed that the issue is resolved in 3.8.1. Thanks!

[2018-07-11 06:23] KobeLuo opened #517 "FUSE invoke [NSNull Length] And [NSNull enumerateByteRangesUsingBlock] on MacOS"
FUSE invoke the NSData methods `length` and `enumerateByteRangesUsingBlock`   use NSNull instance, the screenshot as below:
![screen shot 2018-07-11 at 11 08 48 am](https://user-images.githubusercontent.com/26185543/42548841-be930e8a-84fb-11e8-9abf-98c3b05a39f4.png)

And I did check my code carefully, all of the funcs parameters in  fuseloopInvoke did check, could you help me.

Environment:
Mac OS

[2018-07-12 02:20] KobeLuo commented on #517
Has anyone encountered this problem?

[2018-07-12 12:12] DigitalGuardianDev commented on #507
Hi Ivan,

I'm also facing the same issue and wondering if you found any workaround.

[2018-07-12 14:42] misku commented on #507
Hi guys, did you try setting a larger `blocksize`, e.g. `blocksize=32768`?

[2018-07-12 16:41] rahimnathwani commented on #437
I couldn't click 'Allow' with my Microsoft wireless mouse (which uses a USB dongle), but clicking the trackpad worked fine.

[2018-07-17 05:31] DigitalGuardianDev commented on #507
Thanks Misku, the blocksize helped to increase the write speed upto 1MB per block.

[2018-07-21 15:52] astro313 opened #518 "sshfs folder/directory disppeared after mounting"
Hi,

I am using mac OSX 10.9.5, SSHFS version 2.5 (OSXFUSE SSHFS 2.5.0), OSXFUSE 3.8.1, FUSE library version: 2.9.7. Every time I found remote folder to my local folder, the local folder just disappears. I have tried using the different flags e.g., -o allow_other,defer_permissions but none of that solved the issues. Any ideas?

Thanks.

[2018-07-24 04:40] drewchapin commented on #437
Many thanks to @andresodio! I too had Chrome open (Chromium specifically). Note that clicking "Close" is not enough. I had to click "Quit".

[2018-07-24 14:28] alinicholls commented on #508
Currently I am not able to run 3.8.2 with macOS 10.14 beta 4.  Is there a timeline for a FUSE update that will support this macOS version?  Many thanks!

[2018-07-24 17:42] KizzyCode commented on #508
On my 10.14 beta 4, version 3.8.2 works flawlessly. Can you give further information where it fails?

[2018-07-25 09:22] alinicholls commented on #508
Thanks for the reply - this led me to check my installation and I was on 3.8.0 but thought I had already installed 3.8.2 (testing on too many systems at once!).  I have now installed 3.8.2 and things are working for me :)

[2018-07-25 12:49] kiril-kirov opened #519 "Using noappledouble causes `cp -r` failures (and also fails copy-paste via Finder)"
Hi,

I'm trying to use `noappledouble` to avoid polluting the mounted FS with `.DS_Store` files, but this causes some issues.

For example, `cp` fails with error code `1`:

[code]

Similar thing happens in the Finder, too (no matter if the hidden files are shown or not): trying to copy-paste a folder containing .DS_Store from the local FS into a fuse mounted FS results in the following error:
[cod

[2018-07-25 17:58] jedeloya commented on #512
Hi.

How can I check if there is an installed version and wich version is it?

[2018-07-26 00:05] Sebastian-blu commented on #510
I just got my 2018 mbp migrated from my 2016 mbp. I enabled fuse and restarted and now the computer won't get pas the loading screen and I can't get it to start in safe mode. The only think I enabled in security was fuse. Im not sure what kernel panic is but I think maybe that is what is happening here? any advice would be amazing im lost here it was working and now its dead

[2018-07-26 00:19] Sebastian-blu opened #520 "3.8.2 broke my 2018 i9 mbp"
hey I just migrated things over from my 2016 mbp and updated fuse and gave it permission to run cause it was blocked. and when I restarted the computer can't get past the loading screen. I can't boot into safe mode either so i guess I have to boot into recovery and redo the whole process. But I am confused on what might have happened here? it was fine and now not so fine. This is a bit above my un

[2018-07-26 06:25] bfleischer commented on #520
FUSE is a completely passive system extension. That means unless you are starting an app or manually mount a file system that requires FUSE, the FUSE kernel extension will not even be loaded and cannot interfere with your system. In any case it will first be loaded after your system hast successfully booted. I don't think FUSE is to blame for your current situation.

You can try to booting your Ma

[2018-07-26 07:16] Sebastian-blu commented on #520
yep your correct its not fuse, it happens whenever I allow an unidentified dev in the security and privacy settings. It happened with fuse first then I reinstalled the os from recovery mode and when it was finished fuse was working fine with pcloud. Then I allowed the dev of sound flower and the same thing happened it wouldn't boot after it restarted, and I had to reinstall macOS again lol. So its

[2018-07-26 13:29] shrimpwagon commented on #518
Same here.

Seems to work the first time then maybe some timeout makes it disappear.

The mount point seems to stay in tact if you check it via terminal but the folder is gone from Finder.

[2018-07-26 14:42] jedeloya opened #521 "Problem with installer"
Hi, I have tried to run installer from a script as you told me on another issue, I used this  command to get the options file:

installer -pkg {FUSE_INSTALLER_PATH}.pkg -showChoicesXML > {OSXFUSE_INSTALLER_SETTINGS}.plist

After I ran the next script using generated options file:

sudo installer -pkg {OSXFUSE_INSTALLER} -target / -applyChoiceChangesXML {OSXFUSE_INSTALLER_SETTINGS}

But I get this

[2018-07-26 20:12] jedeloya commented on #521
Other question, how can I check for installed Fuse version? This is for not to downgrade an installed fuse distribution.

Best Regards.

[2018-07-27 07:10] hrishi3390 opened #522 ""installer -package" command not working on OSX on 10.14 beta 4"
sudo installer -package ~/Downloads/osxfuse-3.8.2.pkg  -target /

Above command giving below error on mac 10.14 beta 4
installer: Error - the package path specified was invalid: '~/Downloads/osxfuse-3.8.2.pkg'

[2018-07-27 14:31] bfleischer commented on #520
Thanks for the feedback. It will most definitely be useful for others running into the same issue.

[2018-07-27 14:31] #520 closed, assigned to bfleischer

[2018-07-29 05:04] tmlbl opened #523 "Having trouble getting started from hello example"
Hi, I have been having some trouble adapting the hello filesystem example to build a custom filesystem. Here is my code:

[code]

This is the behavior I assume would result from the above code:
* `ls` of mountpoint shows `.` and `..` only
* `ls` of some file like `mountpoint/foo` shows a regular file of fixed size
* Any other operation to read or open a file like `cat mountpoint/foo` results in no

[2018-07-31 00:10] zhanglp99 commented on #504
I got the same issue. Installation hang on "Validating packages...", any idea to solve it ?

[2018-07-31 08:29] kiril-kirov commented on #518
I have a similar situation. An application, that works totally fine with MacOS Sierra (10.12.6), behaves strangely in MacOS High Sierra (10.13.6). Both Macs have the same OsxFuse installed: 3.7.1.

The situation in High Sierra: the mounted Fuse FS works perfectly fine in the terminal, but in the Finder, the files just disappear. They are shown for a few seconds, then they disappear. After restarti

[2018-07-31 08:31] kiril-kirov commented on #518
O, it's definitely related to the extended attributes.

I just tried with `noapplexattr` and it started working normally.

@astro313 @shrimpwagon can you, please, try to mount the SSHFS with `-o noapplexattr`? Thanks!

[2018-07-31 08:41] kiril-kirov commented on #518
Hmm, I also wonder if it can be somehow related to https://github.com/osxfuse/osxfuse/issues/513 (and I was also wondering about this xattr in the root folder)

[2018-07-31 13:22] kiril-kirov commented on #518
Oh, we figured it out and it's totally unrelated. I'll share what we found out, just in case this is useful, but I can also delete my comments, if they are totally useless. Sorry for the spam.

The problem was in our software, which uses OSXFuse (and has nothing to do with sshfs):
When the OS asks for an attribute (tries to get it), we return ENODATA, instead of ENOATTR. The reason for this is Lin

[2018-07-31 13:32] astro313 commented on #518
@kiril-kirov I tried mounting with `-o noapplexattr`, but didn't solve the problem. I am not sure if I understand your latest comment. sshfs updated correspondingly? Should I update sshfs to solve this? Thanks.

[2018-07-31 14:22] kiril-kirov commented on #518
@astro313 I updated my comment. No, it has nothing to do with sshfs, it was a bug in our code, that uses OSXFuse.

Thanks for testing with `noapplexattr`. It's now even more obvious, that this is totally different issue and has nothing to do with the one, I was trying to troubleshoot.

[2018-07-31 19:44] lstalbow opened #524 "allow_other not working with sshfs"
We tried to mount a remote file system with `sshfs -o allow_other ...` and it gave us the error `mount_osxfuse: failed to mount /hpc@/dev/osxfuse0: Operation not permitted`.  The macbook pro is using High Sierra version 10.13.5  and the latest versions of OSXfuse and sshfs.

[2018-07-31 20:17] ldartez commented on #516
bump...same issue here

[2018-08-01 02:06] Martin812 opened #525 "fuse:failed to exec mount program :operation not permitted(with osxfuse"
when I mount the file system. It always  show mount failed and operation permitted. I want to know  if there is somewhere I should edit.

[2018-08-02 13:13] chrissurf opened #526 "FUSE for macOS - overload when use Veracrypt Volume (create and open)"
Hello,

i have the Problem with FUSE when use a Veracrypt Volumen over 1,5 TB.
A Volumen wiht 2 TB and more are can open, but when i copy for example 3 Files with 1 GB, 500 MB, 800 MB the File Transfer are very slow. When the Transfer Rate are in kb/s the Finder freeze and i must restart the Mac.
When i copy smaler files in Frirst and secound again it copy the first step. But the Secound Copy are

[2018-08-06 23:41] sbruzzone opened #527 "Prompts for password more than 20 times"
Hi, I'm trying to uninstall osxfuse with the following:
brew cask uninstall osxfuse
then this happens:
Uninstalling Cask osxfuse
==> Running uninstall process for osxfuse; your password may be necessary
==> Unloading kernel extension com.github.osxfuse.filesystems.osxfusefs
Password:
Password:
==> Uninstalling packages:
com.github.osxfuse.pkg.Core
Password:
Password:
Password:
Password:
Password:

[2018-08-09 13:34] peloncano commented on #315
Had this problem, and https://github.com/osxfuse/osxfuse/issues/315#issuecomment-258456598 worked for me as well

[2018-08-10 10:44] ThomasWaldmann opened #528 "milestones"
https://github.com/osxfuse/osxfuse/milestones these look a bit strange:
- most of these (100%) milestones should be closed (as they are done and released)
- the ones that are not yet 100% done, but a release has been made already point to some problem (either an issue was not closed although it has been fixed or an issue planned to get fixed for that milestone wasn't fixed for that milestone and s

[2018-08-12 00:04] netw0rkf10w opened #529 "sshfs is very slow"
Hello,

I used `sshfs` to mount a folder on my Mac:
`sshfs 123.456.789.0: /Users/name/Documents/mount`
but then observed that the file transfer/reading/writing speed is very slow.

Is there a way to improve this please?

Thank you very much in advance for your help!

SSHFS version 2.10
OSXFUSE 3.8.2
FUSE library version: 2.9.7
macOS version: 10.13.6

[2018-08-12 21:15] vasi-stripe opened #530 "Sparse files no longer work"
I've tried returning an `st_blocks` field different from `st_size / 512`, and it doesn't seem to affect anything. This is true even with `-o sparse` passed as an option.

I've verified that this is also the case when using the `ufs` example filesystem, even though it seems to support sparse mode: https://github.com/osxfuse/filesystems/blob/master/filesystems-c/unixfs/ufs/ufs_mainx.c#L98 . There's

[2018-08-13 21:03] bjornbennett commented on #422
@veloper how did you make it work for Transmit 4?

[2018-08-13 21:06] veloper commented on #422
@bjornbennett - I'm sorry to say that it did __NOT__ actually work after all. I'll edit my comment, sorry for the false hope :(

[2018-08-13 21:10] bjornbennett commented on #422
@veloper haha thanks for at least letting me know!

[2018-08-16 17:38] hbast commented on #194
I add this information because I is not that obvious.

The error messages means that mount_fuse is in the correct path. You can therefore generate a symbolic link like:

`sudo ln -s /usr/local/bin/mount_fuse /sbin/mount_fuse`

or for bindfs

`sudo ln -s /usr/local/bin/bindfs /sbin/mount_fuse.bindfs`

[2018-08-19 18:34] pale2hall commented on #437
@tliet I just got it to work with 10.13.6.  Had to enable the feature in Keyboard as suggested above.

[2018-08-22 15:12] kiril-kirov opened #531 "statfs_x: what values to use for statfs::f_flags, statfs::f_type and statfs::f_fsubtype?"
I'm currently implementing a callback for `statfs_x`. I can fill almost all fields (I think) appropriately, but I have no idea what values to use for the the fields above.

`man statfs` gives *some* possible flags, but says nothing about type/subtype.

I took a look at `::statfs("/"...)`, nothing really interesting came out.

I guess all three fields can be set to 0?
I wonder if this can break som

[2018-08-23 20:43] eduardsui opened #532 "hello.c example doesn't work as expected"
I've installed osxfuse on macOS 10.13.6. I've compiled hello.c example, it runs, but when in cd into mnt directory, I get:

$ cd mnt
cd: error retrieving current directory: getcwd: cannot access parent directories: Input/output error

Am I doing something wrong ?

[2018-08-23 20:51] eduardsui commented on #532
I noticed that I got both libfuse and libosxfuse. I was linking against libfuse instead of osxfuse. Everything works perfect when using -losxfuse.

[2018-08-23 20:51] #532 closed, assigned to nobody

[2018-08-26 22:03] kainjow commented on #522
Apparently you're giving it a path that doesn't exist. It's not a fuse issue.

Does `osxfuse-3.8.2.pkg` exist inside your Downloads folder?

[2018-08-28 02:08] arevaloaraque commented on #447
I used the the keyboard to press "Allow" button and it's works for me. If you press button using click does not works.

[2018-08-28 09:34] derappelt commented on #390
Is there any progress on implementing libfuse 3?
Is a FUSE for macOS 4.0 release in planing?

[2018-08-29 05:49] hrishi3390 commented on #522
I run same command with 3.7.1 osxfuse..it works file. But does not run with osxfuse-3.8.2.pkg
Yes. osxfuse-3.8.2.pkg exists inside Downloads folder

[2018-08-30 07:29] hrishi3390 commented on #522
It is having problem when run silently on terminal. Do we have way to install osxfuse-3.8.2.dmg silently. again attaching command to reproduce the issue
$installer -package ~/Downloads/osxfuse-3.8.2.dmg -target /
$installer: Error - the package path specified was invalid: '/Users/dguser/Downloads/osxfuse-3.8.2.dmg'.

[2018-08-30 07:33] bfleischer commented on #522
No wonder that it does not work. osxfuse-3.8.2.dmg is a disk image! You need to run the installer command with the actual installer package as argument.

[2018-08-30 07:33] #522 closed, assigned to bfleischer

[2018-08-30 07:38] hrishi3390 commented on #522
So dont we have any option to install osxfuse silently ??

[2018-08-30 08:01] bfleischer commented on #522
You can install FUSE silently, but you need to call the installer command on the actual installer package from the dmg file, not the dmg file itself. The dmg file is not a valid installer package. That's what the installer command is trying to tell you.

A dmg file is a disk image, a virtual disk so to speak, and not an installer package, that can be installed.

[2018-08-30 15:56] jeffreydlong opened #533 "raise OSXFUSE_NDEVICES > 64"
Hi, I have roughly 120 file systems I'd like to mount but am hitting the current 64 limit.  I understand the memory implications with doing this but think my 16 GB system can handle it.  Thus I would like to see if the device limit could be raised?  Thanks

[2018-09-02 01:40] TiansuYu opened #534 "Root-changed mount tool, NTFS still cannot be written."
I have followed the instructions on this website (downloaded rtfs-3g from brew, and changed the OS mount-tool with ntfs-3g-tool in recovery mode), however the NTFS disk could not be written.

In recovery mode, the two
`sudo mv "/Volumes/Macintosh HD/sbin/mount_ntfs" "/Volumes/Macintosh HD/sbin/mount_ntfs.orig"
sudo ln -s /usr/local/sbin/mount_ntfs "/Volumes/Macintosh HD/sbin/mount_ntfs"`
lines has

[2018-09-02 07:23] yurikoles commented on #534
@Miraclei you had moved the binary, just run `brew reinstall ntfs-3g`.

[2018-09-02 11:43] TiansuYu commented on #534
I tried, but this is still not working.

Reinstall:
`Tiansus-MacBook-Pro:~ tiansuyu$ brew reinstall ntfs-3g`
`==> Reinstalling ntfs-3g `
`==> Downloading https://homebrew.bintray.com/bottles/ntfs-3g-2017.3.23.high_sier
Already downloaded: /Users/tiansuyu/Library/Caches/Homebrew/ntfs-3g -2017.3.23.high_sierra.bottle.tar.gz`
`==> Pouring ntfs-3g--2017.3.23.high_sierra.bottle.tar.gz`
`🍺  /usr/local/C

[2018-09-02 12:25] yurikoles commented on #534
Please try to use just `ntfs-3g` command without path.

[2018-09-04 00:02] TiansuYu commented on #534
Thanks, @yurikoles a lot. It worked, but the system says I'm a unprivileged user, thus cannot mount.
`tiansuyu$ ntfs-3g /dev/disk2s1 /Volumes/NTFS -olocal -ooallow_other`
`Unprivileged user can not mount NTFS block devices using the external FUSE
library. Either mount the volume as root, or rebuild NTFS-3G with integrated
FUSE support and make it setuid root. Please see more information at
http://

[2018-09-06 12:50] RicardoAnjos commented on #493
@raycasanova43  This can be triggered by different reasons. the most common by far is that the user recently made a clean install in a macOS 10.13 High Sierra and since High Sierra, kernel extensions need to be accepted by the user. Please check the following link to check/solve this scenario: https://helpdesk.egnyte.com/hc/en-us/articles/115002904012-How-to-Approve-Egnyte-s-Kernel-Extension-in-ma

[2018-09-07 22:19] jeremyspiegel commented on #436
This is also still a problem for my filesystem in osxfuse 3.8.2. If I have a folder whose modification date changes frequently, the new system notifications cause Finder/Chrome/etc to issue a readdir on the folder whenever osxfuse notices that the folder's modification date has changed. This causes high CPU usage if the folder has a large number of children. This problem does not happen in osxfuse

[2018-09-08 21:20] docdyhr commented on #508
@bfleischer Thank you for the good work making Keybase work on Mojave Beta!

[2018-09-10 07:57] armarti commented on #503
Same issue here when trying to install Google Drive File Stream. To get it to work I needed to unload osxfuse with `sudo kextunload -b com.box.filesystems.osxfuse` (not sure `sudo` is necessary, but that's what I did). I'm sure something else is broken somewhere but I don't know what yet.

[2018-09-10 20:21] BEFH commented on #524
This is a major issue that we're having on multiple laptops. Can someone please take a look?

[2018-09-15 02:07] ivancitin opened #535 "Help - Building from source"
Hello, i'm trying to build from source, in a Mac 10.12, the build succeed, but when i try to install the created Distribution, i get the error that the package is not compatible, if i install only the generated Core package, it does install, but when it's used i get the error that the installed version of fuse is too old.

Can someone please help me with the build options, i basically want an inst

[2018-09-15 23:03] holesch opened #536 "Cannot enable non-blocking IO"
I'm trying to enable non-blocking IO to integrate osxfuse into a `select()`/`poll()` based event loop. Setting `O_NONBLOCK` with `fcntl()` fails with `Invalid argument`.

The following code works on Linux, but doesn't work on macos:
[code]

On macos the output is `Error setting O_NONBLOCK: Invalid argument`.

[2018-09-20 16:19] peter-donov opened #537 "Inodes behave like lost in certain cases"
I am experiencing an issue, where inodes behave like lost in certain cases.

I cannot see any forget requests issued and `fuse_lowlevel_notify_inval_inode` returns ENOENT, while all along file system operations keep on comming.

You can see the situation in the below log for a particular inode number.
[code]
osxfuse version: 3.8.2
macOS version: 10.13.6

[2018-09-21 06:47] mozgit commented on #381
The same problem today.

[2018-09-22 19:03] smessmer opened #538 "statfs path parameter missing"
Hello,

I noticed while developing https://www.cryfs.org that osxfuse doesn't pass through the `path` parameter to `statfs()` correctly. On Linux, it works as specified.

A minimal example:

- The filesystem is based on the hellofs example from here, but adds a statfs implementation that logs the path parameter it gets: https://pastebin.com/MhGmsLxZ
- Calling the file system is a small program tha

[2018-09-25 10:15] ghost opened #539 "Egnyte Desktop Connect Issue"
Hi Team,

I am not able to set-up Egnyte desktop connect on my PC. When I try to login with my username and password it keeps showing processing.

Please help me in installing this.

Thanks!
Murshid Ali
Mob- +91 991 145 8507

[2018-09-25 13:07] jdgiotta opened #540 "Reboot Causes FUSE Devices to Disappear"
There maybe a way to resolve this that I can't find in the docs/wiki, but whenever I reboot my machine the /dev/osxfuse* devices disappear.

The only way I can get them back is to re-install.

[2018-09-26 15:30] sebsto commented on #540
I observed the same on Mojave.  10.14.0

[2018-09-26 18:58] liujianqiao opened #541 "Unsupported macOS Version"
After I upgrade to the latest macOS (Mojave Version 10.14), the osxfuse refuses to work properly.
There is a pop-up window saying "Unsupported macOS Version: The installed version of FUSE is too old for the operating system. Please upgrade your FUSE installation to one that is compatible with the currently running version of macOS."

[2018-09-26 19:03] bfleischer commented on #541
Please follow the instructions and install the latest version of FUSE and you should be fine.

[2018-09-26 19:03] #541 closed, assigned to bfleischer

[2018-09-26 19:08] bfleischer commented on #540
The FUSE kernel extension is loaded when the first FUSE file system is mounted. As such it is not loaded automatically after reboots. This means the /dev/osxfuse* devices are not available until you mount the first file system.

To load the FUSE kernel extension manually call `/Library/Filesystems/osxfuse.fs/Contents/Resources/load_osxfuse`.

[2018-09-26 19:08] #540 closed, assigned to bfleischer

[2018-09-26 19:10] bfleischer commented on #539
Please contact the Egnyte support team.

[2018-09-26 19:10] #539 closed, assigned to bfleischer

[2018-09-26 19:13] bfleischer commented on #534
@Miraclei Mounting a NTFS-3G file system requires root permissions. This means you need to call the ntfs-3g command with sudo:

`sudo ntfs-3g /dev/disk2s1 /Volumes/NTFS -olocal -ooallow_other`

[2018-09-26 19:13] #534 closed, assigned to bfleischer

[2018-09-26 19:18] bfleischer commented on #533
I'm not a big fan of raising the default device limit, as I don't think many users will mount more than 64 file systems at the same time. However, it might be possible to add an option to specify the number of devices you need. Could elaborate what you need that many devices for?

[2018-09-26 19:22] bfleischer commented on #527
Please contact the Homebrew team. Installing (and uninstalling) FUSE via Homebrew is not officially supported by the FUSE for macOS project. However, the Homebrew maintainer who is responsible for the osxfuse cask, might be able to help you.

[2018-09-26 19:22] #527 closed, assigned to bfleischer

[2018-09-26 19:25] TiansuYu commented on #534
@bfleischer Thanks, that's exactly what I had done, but clearly not working. I actually gave up on editing my NTFS drives. And I am attributing this to my own physiological electro-magenetic field that I am a living computer Reissner-Nordström black hole. (which, in a large part explains everything going on with every generation of my laptop) :) You can close this up. 👍

[2018-09-26 19:26] bfleischer commented on #525
Please contact the developer of the file system that you are trying to mount. With so little information it's hard to provide any useful advice.

[2018-09-26 19:26] #525 closed, assigned to bfleischer

[2018-09-26 19:30] bfleischer commented on #517
Have you figured out the issue in the meantime? I don't think FUSE is to blame for this. The framework never calls `enumerateByteRangesUsingBlock`.

[2018-09-26 19:31] bfleischer commented on #516
fuse-ext2 is a separate project. As such you need to install fuse-ext2 independently of FUSE.

[2018-09-26 19:31] #516 closed, assigned to bfleischer

[2018-09-26 19:36] bfleischer commented on #508
FUSE seems to be working well on Mojave, so I'm closing the issue.

[2018-09-26 19:36] #508 closed, assigned to bfleischer

[2018-09-26 19:41] bfleischer commented on #509
For all of you having issues related to VeryCrypt, please contact the VeraCrypt team.

@GrandM1961 Please follow the build instructions to the letter. You probably did not clone the osxfuse repository recursively.

[2018-09-26 19:41] #509 closed, assigned to bfleischer

[2018-09-26 19:42] bfleischer commented on #511
Which release are you referring to? Version 3.8.2 should be working fine on macOS 10.12.

[2018-09-26 19:45] bfleischer commented on #510
The kernel panic seem to be resolved, so I'm closing the issue.

[2018-09-26 19:45] #510 closed, assigned to bfleischer

[2018-09-26 19:48] bfleischer commented on #493
Is this still an issue with the latest version of FUSE?

[2018-09-26 19:53] bfleischer commented on #535
Please use the official installer package instead of distribution your own FUSE builds. Shipping custom builds will most likely cause issues and makes debugging crashes virtually impossible for me. Can you elaborate why you need custom builds?

[2018-09-27 08:30] yannperey commented on #508
Sorry but the osxFuse is freezing on a fresh new Mojave system. Only option, kill the associated process. I'm using the official release of Mojave. Any clue on this ? (I've tried the 3.8.2 version)

[2018-09-27 14:13] jeffreydlong commented on #533
A configurable run-time option would/should totally work for me. I'm a sys admin basically and currently have about ~120 systems I take care of so it is easier to just have them all mounted rather than having to deal with them individually as needed (plus I can then search for files across all of them in one shot).  sshfs has been a life-saver for not having to deal with NFS, etc.

[2018-09-27 14:22] ebarchukov commented on #508
For Transmit and sshfs... used this 'sudo cp -R /Library/Filesystems/osxfuse.fs/Contents/Extensions/10.13 /Library/Filesystems/osxfuse.fs/Contents/Extensions/10.14'
And it's working....

[2018-09-27 14:39] bfleischer commented on #508
@ebarchukov Don't do this! I cannot stress this enough. Please update FUSE to the latest version. 3.8.2 is compatible with macOS Mojave and does not require any hacks like using an incompatible kernel extension on 10.14.

It's not. Trust me.

[2018-09-27 14:40] bfleischer commented on #508
@yannperey Which file system are you using? Have you raised the issue with the file system developer?

[2018-09-27 14:44] ebarchukov commented on #508
3.8.2 - works... Thanks!

[2018-09-27 14:48] yannperey commented on #508
I’ve not raised anything as I do not know how to do it. I don’t know what else I can say except that I’m using the latest version of a Mojave (10.14) released on the 25th September officially by apple.
Just starting the 3.8.2 installer which since 2 hours  is saying « Attente de la fin des autres installations » so something like « Waiting for the end of the other installations »...

[2018-09-27 14:56] yannperey commented on #508
Sorry, my bad. An old installation process of pCloud was still running in the background. Killing it allows me to run the osxFuse 3.8.2 without any issue on OS X Mojave. Sorry for that.

[2018-09-28 01:55] KobeLuo commented on #517
@bfleischer  I added one NSNull extension to avoid this kind of logs as following code:
[code]
I didn't understand why this function invoke will only happens on xcode9?

## The another important question is:
Could i have any measure to debug the osxfuse code on xcode instead use FUSE library?  Our team made one virtual disk and data sync from our server base on OSXFUSE library, but when the micros

[2018-09-28 04:53] chrissurf commented on #526
Hello,
could you please give me a reply.
Tanks
Dear Christian

[2018-09-28 10:16] gvansanden opened #542 "osxfuse not compatible with MacOS Mojave"
I just upgraded and get the message that FUSE is too old for my OS.
I'm on 3.7.1 and update check gives no newer (beta) versions