[2020-01-09 21:28] jarrocha commented on #667
I'll suggest to try and install osxfuse from the website yourself, at the end of the installation you should get a prompt to approve the extension: https://osxfuse.github.io/2019/12/05/OSXFUSE-3.10.4.html

[2020-01-10 03:16] jdeibele commented on #667
Thanks very much for the suggestion.   After rebooting, that did work.

It turns out there's nothing on this disk that I want but it's nice to be able and look and be sure before formatting it.

Thoughts on closing this issue?    It might affect other Homebrew users or it might just be something odd on my system.

[2020-01-10 08:20] bfleischer commented on #667
I‘m going to close the issue. Homebrew runs the same installer from the website. There should not be a difference. I think this was just a hiccup on your system.

[2020-01-10 08:20] #667 closed, assigned to nobody

[2020-01-10 13:08] seheatwole opened #668 "sshfs freezes system after failure of login"
When I mess up the pin for my login or the connection fails, osxfuse locks up finder and gradually the rest of the system locks up and requires a hard reboot to clear.

I am on a 2019 Macbook Pro with MacOS Mojave 10.14.6
SSHFS version 2.5 (OSXFUSE SSHFS 2.5.0)
OSXFUSE 3.10.3
FUSE library version: 2.9.7

[2020-01-14 22:17] overflood opened #669 "osxfuse panic crash "osxfuse: What kind of a flag is this (4)?""
Running often into this attack. osxfuse seems to get used by seadrive / visual studio sometimes with (wrong?) commands.

[code]

[2020-01-14 23:03] bfleischer commented on #669
You are using a very outdated version of FUSE. FUSE for macOS 3.8.2 does not support macOS Catalina. The kernel extension won't even load on Catalina unless someone messed with the install. This is causing the panic. Upgrade to the latest version of FUSE and the panic is gone.

[2020-01-14 23:03] #669 closed, assigned to bfleischer

[2020-01-14 23:36] overflood commented on #669
Thanks @bfleischer , I've guessed it, but I've uninstalled FUSE everywhere where I can and its still on the system. How can I really uninstall it, when kext etc. were removed? Where is FUSE located in this case?

[2020-01-15 10:24] vincentdchan commented on #498
@bfleischer Will this issue be fixed?

[2020-01-15 11:43] alnr commented on #667
I have this same problem (Catalina 10.15.2).

The installer shows this dialog
![Screenshot 2020-01-15 at 12 41 50](https://user-images.githubusercontent.com/3969502/72431162-6a84d880-3794-11ea-8a14-c4715d6b80b1.png)

When clicking on "Open Security & Privacy System Preferences", I get this dialog (no mention of Benjamin Fleischer).
![Screenshot 2020-01-15 at 12 43 03](https://user-images.githubuse

[2020-01-15 12:28] bfleischer commented on #667
@alnr You are probably using an app that can create keyboard or mouse events. See https://github.com/osxfuse/osxfuse/issues/437 for reference.

[2020-01-15 22:19] blesliecan commented on #666
To reproduce this you need to mount the file system with:
./loopback /Volumes/loop -omodules=threadid:subdir,subdir=/Users/me/tmp -onative_xattr,volname=LoopbackFS,local,allow_other

If mounted with out the 'allow_other' everything works OK.

[2020-01-16 15:34] torarnv commented on #165
I can reproduce this with sshfs on macOS 10.15

[2020-01-16 15:34] torarnv commented on #165
SSHFS version 2.5 (OSXFUSE SSHFS 2.5.0)
OSXFUSE 3.8.2
FUSE library version: 2.9.7

[2020-01-16 15:45] torarnv commented on #165
[code]

[2020-01-16 15:49] torarnv commented on #165
Is this a problem in OSXFUSE, or in sshfs?

[2020-01-17 19:06] blesliecan commented on #666
After more testing it looks like this was not actually an osxfuse bug.

[2020-01-17 19:06] #666 closed, assigned to nobody

[2020-01-22 01:53] waddles opened #670 "USB timeouts"
I am not certain if this problem is due to `osxfuse` or `fuse2fs` (part of `e2fsprogs`) but when I attempt to write a file on the USB device it seems to time out, causing `fuse2fs` to crash.

I have used Dtrace to trace the calls to osxfuse and results are stored in https://gist.github.com/waddles/a70bbf4098eeda6ab2e5401a0973a63d

Basically, the `release` system call seems to take forever and `fus

[2020-01-22 19:00] creativeprojects commented on #669
I've had the issue today (again) even though I've installed the new version. It turns out that the old version was still loaded for some reason. I think Seadrive is packaging its own version of osxfuse like you can see:

% find /Applications/SeaDrive.app -name "*.kext"
/Applications/SeaDrive.app/Contents/Resources/osxfuse.fs/Contents/Extensions/10.8/osxfuse.kext
/Applications/SeaDrive.app/Contents

[2020-01-23 19:04] edmc-ss opened #671 "Getting errno "bad file descriptor" writing to /dev/osxfuse0 on occassion"
Caveat: Not using user-mode (C) library as my application is in Golang (see https://github.com/swiftstack/fission) - this is strictly attempting to talk via FUSE device file to OSXFuse's .kext

In the aforementioned Golang package (fission), there is an example (fission-ramfs) that you can easily run. Just compile with Golang v1.13+ on your Mac. The program takes a single argument... an empty dire

[2020-01-25 21:30] overflood commented on #669
Thank you @creativeprojects for this helpful tutorial! That was what I need. The clean unloading of the kext-file made it.

[2020-01-26 20:53] jandrewb opened #672 "Build from source fails with Xcode 11"
I may be doing something wrong, but the project is not building with Xcode 11.3 (on macOS 10.15). Am I missing something obvious, or is Xcode 11 not yet supported?

When I run:
./build.sh -t distribution

I get the following output:
Assertion 'common_is_variable DEFAULT_SDK_10_15_ARCHITECURES' failed
at common_variable_clone (./build.d/lib/common.sh, line 501)
at common_variable_clone (./build.d/l

[2020-01-28 01:14] edmc-ss commented on #671
Not making much progress on this... source code would be nice :-).

I notice that the two Bazil FUSE examples are read-only so no help there...

Looking at github.com/hanwen/go-fuse & github.com/jacobsa/fuse for hopefully better examples that might either exhibit the same problem or show a different usage of OSXFuse's .kext that doesn't fail in this way...

Meanwhile, I've verified the failure hap

[2020-01-28 01:28] edmc-ss commented on #671
To duplicate:
1) Install Golang
2) Locate or create a dir for Golang work (e.g. ~/go)
3) export GOPATH=~/go (or whereever you put it)
4) export PATH=$PATH:$GOPATH/bin
5) mkdir -p $GOPATH/src/github.com/swiftstack
6) cd $GOPATH/src/github.com/swiftstack
7) git clone https://github.com/swiftstack/fission.git
8) cd fission/examples/fission-ramfs
9) go install .
10) mkdir mount_point
11) fission-ramfs

[2020-01-28 15:39] rca commented on #628
The Dropox-like [cloud storage service, Tresorit](https://tresorit.com/) has a "drive" feature that's built on top of FUSE.  It appears this bug is affecting its ability to open PDFs and images through the Drive.

Any idea if this issue is being addressed or is it on the back burner?

Thank you!

[2020-01-28 23:52] edmc-ss commented on #671
Thanks for taking a look at this Benjamin...
In the meantime, I've found an even easier way to trigger the anomaly:
    dd if=/dev/zero of=mount_point/foo bs=128k count=1 seek=6
Yup - all I'm doing is asking dd to seek 6 "blocks" (i.e. 6 * 128KiB) into the new file before doing a single 128KiB write. The SetAttr works just fine... but the immediately following Write (with the offset == the size th

[2020-01-31 16:58] robmaz opened #673 "wrong include path?"
Installing the MacOS .dmg via brew cask osxfuse (which appears to just download and run the installer) creates an osxfuse.pc package configuration file in /usr/local/lib/pkgconfig. The include path specified in this file is

  /usr/local/include/osxfuse/fuse

This appears to be incorrect. A fuse.h is already found in /usr/local/include/osxfuse and it appears that fuse apps want to include other he

[2020-01-31 21:27] kevin52408 commented on #640
I was using the same version of sshfs. There was an update for Catalina that came out this week (10.15.3) and that fixed the issue.

[2020-02-01 13:49] FurloSK commented on #585
I am encountering the very same issue using pCloud (which, in turn, requires and uses FUSE under its hood). Is there any workaround for me, a "common" user?

[2020-02-02 17:48] bfleischer commented on #628
@rca Please contact Tresorit regarding the issue. Tresorit does not contribute to the FUSE for macOS project.

[2020-02-03 15:45] diegovillanueva commented on #570
same problem with macos 10.14.5 and
SSHFS version 2.10
OSXFUSE 3.8.3
FUSE library version: 2.9.7

[2020-02-04 14:28] rca commented on #628
Thanks, I have contacted them.

Also, fwiw, I tried sshfs and it does not exhibit the same issue.  PDFs and images display just fine.

[2020-02-04 18:55] agrajag9 commented on #633
Just got here from trying to install VirtualBox 6.1.2 on 10.14.6 which only works if you leave out the OSXFUSE module. This install still fails even if run with `sudo installer -pkg /Volumes/VirtualBox/VirtualBox.pkg -target /`

[code]

[2020-02-06 11:48] alnr commented on #667
Even after booting to safe mode, I still cannot get the message to show up... I think I tried everything.

[2020-02-06 20:12] edmc-ss commented on #671
Very discouraging lack of progress on this significant failure.

Background: I developed package fission precisely to multi-thread the FUSE upcall handling (as was not adequately done by at least Bazil FUSE but also, I claim, the other two Golang libraries for doing the same3).

Anyway, I just disabled the multi-threading behavior and the "bad file descriptor" errors became much harder to replicat

[2020-02-06 20:18] edmc-ss commented on #671
The aforementioned `dd` command, if seeking to 8 (128KiB) blocks instead of 6, and converting my package fission to be single threaded results in the "bad file descriptor" error immediately... and it happens on the reader! Previously, the (first) "bad file descriptor" error would be hit by the writer... either on the setattr (we are seeking/extending the file size after all), the write itself, of

[2020-02-06 23:25] edmc-ss commented on #671
Even simpler repro...
TERM 1: `fission-ramfs mount_point`
TERM 2: `for i in `seq 5000`;do stat mount_point >/dev/null 2>&1;done`
After about 4800 stats (YMMV), the "bad file descriptor" error will regularly hit

[2020-02-09 12:37] sryze commented on #665
I'm sorry but the forum that you linked to appears to be dead and I can't register there (it has no registration page). Not to mention their "Mac OS X Questions & Problems" section is locked.

[2020-02-09 12:57] sryze commented on #665
I've finally figured this out.

In my /sbin/mount_ntfs script there was a line:

[code]

but my actual user ID is 501, so ntfs-3g mounted my NTFS volume with the wrong user ID this whole time! I don't know where 502 came from (GROUP_ID was correct though).

After I replaced the user ID and commented out these lines:

[code]

I'm not getting "Operation not permitted" errors anymore 😃

[2020-02-09 17:17] bfleischer commented on #665
Thanks for posting the solution to your problem!

[2020-02-10 11:07] phretor commented on #630
Same issue on macOS 10.14.6 and osxfuse 3.10.4. After a while it gives a `Device not configured`.

[2020-02-10 20:11] Stakaitis commented on #672
I'm having the same issue Xcode (Version 11.3.1), macOS Catalina (version 10.15.3)

[2020-02-11 05:39] edmc-ss commented on #671
I've added a "hellofs" example to my Golang package "fission" to keep what I'm emulating as simple as possible - and to match a typical example FUSE file system popular in Linux's FUSE, OSXFuse, and the 3 other Golang wrappers around the user mode side of FUSE.

Still the same result is very possible... but I was able to notice one very interesting thing. I added code to dump out what is received

[2020-02-11 05:58] edmc-ss commented on #671
Apparently, there is some program "polling" the mount point:
  /System/Library/PrivateFrameworks/SyncedDefaults.framework/Support/syncdefaultsd

[2020-02-11 06:13] edmc-ss commented on #671
Ok... so I have verified that the InHeader coming up from OSXFuse .kext is definitely *NOT* giving me UNIQUE IDs. Kinda makes it hard to respond to them e.g. out of order.

Is this true? Is OSXFuse basically not setting the UNIQUE field in the InHeader and hence ignoring the UNIQUE field in the returned OutHeader?

Here is my Golang declaration of the InHeader:

type InHeader struct {
	Len     uin

[2020-02-11 06:16] edmc-ss opened #674 ".kext appears to reuse UNIQUE values in successive upcalls"
As per FUSE in e.g. Linux, the .Unique field in the InHeader is supposed to be, uh, unique. This is used in order that FUSE might be able to issue multiple such upcalls to the user mode agent and receive responses to them perhaps out of order and be able to sort out which responses go with which requests.

I've logged the unmarshalled InHeader's coming up from OSXFuse .kext and see that they are r

[2020-02-11 06:17] edmc-ss commented on #674
This is perhaps related to my other issue where the .kext would appear to be closing the /dev/osxfuse* file out from under my user mode code (https://github.com/osxfuse/osxfuse/issues/671).

[2020-02-11 06:35] edmc-ss commented on #674
I should add that I have not seen a Unique value reused while a prior use of the Unique value was still in use... so perhaps this is "ok". Perhaps the author has an array or something where each slot is simply indexed by Unique and, hence, doesn't need a map-like mechanism to look up the context of the upcall being responded to. Hard to say without confirmation (or seeing the source code :-)).

[2020-02-11 06:37] edmc-ss commented on #671
As I noted in Issue #674, it could be that the reuse of Unique values is actually "ok" so long as they aren't reused until after the user mode agent has responded to their prior use. This does appear to be my case at least...

So I keep looking... guessing at what Benjamin could be thinking here. He has opted not to address this issue at this time since it "only affects my code" alas.

We'll be se

[2020-02-11 12:42] bfleischer commented on #674
Yes, the FUSE kernel extension on macOS reuses tickets, as the requests are called in the kernel extension. But it is ensured that the user space library will not receive calls with the same "unique" value at the same time. The kext only reuses uniques after the user space file system server signals that it is done with the request.

This design decision dates back to the old MacFUSE days and does

[2020-02-11 12:42] #674 closed, assigned to bfleischer

[2020-02-11 13:28] bfleischer commented on #673
The fuse.h file in /usr/local/include/osxfuse exists only for legacy reasons. This is the intended behavior.

[2020-02-11 13:28] #673 closed, assigned to bfleischer

[2020-02-11 13:39] bfleischer commented on #672
The latest version available in source form in the repository is 3.8.3, which does not support running on macOS 10.15. The latest version of FUSE, that supports running on macOS 10.15, is only available in binary form and can be downloaded from https://osxfuse.github.io.

[2020-02-11 13:39] #672 closed, assigned to bfleischer

[2020-02-11 20:15] ivancitin opened #675 "Question - KEXs deprecation"
Hi,

I just went through this page [apple-deprecating-macos-kernel-extensions](https://www.zdnet.com/article/apple-deprecating-macos-kernel-extensions-kexts-is-a-great-win-for-security/) and was wondering how will this affect osxfuse?

Thanks

[2020-02-11 20:18] bfleischer commented on #675
It won't affect FUSE since FUSE is not using any of the deprecated APIs. VFS plugins, like the FUSE kernel extension, have not been deprecated by Apple. Furthermore there is no alternative system extension API to develop file systems.

[2020-02-11 20:18] #675 closed, assigned to bfleischer

[2020-02-11 20:28] ivancitin commented on #675
Good to know, thanks for the clarification.

[2020-02-11 20:33] jarrocha commented on #675
Hey Benjamin,
Do you think this FileProvider API is more of an alternative right now?
[FileProvider API info](https://developer.apple.com/documentation/fileprovider?language=objc)

Do you see this API causing the deprecation of VFS plugins in the future? I know it's hard to tell right now but just wanted to see your thoughts.

[2020-02-14 02:56] bfleischer commented on #675
As far as I know, Apple silently removed the FileProvider feature from macOS 10.15 during the beta phase. I don't know if the feature has returned in a recent 10.15.x update, but I don't think it has.

However, the FileProvider API does not allow you to implement fully functional file systems. It is intended for cloud services but not general purpose file systems. FUSE offers much more flexibility

[2020-02-15 12:54] joex92 opened #676 "Can't download any of the releases"
When trying to download the files, I get redirected to this address: https://github-production-release-asset-2e65be.s3.amazonaws.com/1867347/58615480-1769-11ea-8f1f-f6cc029e4f08?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20200215%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20200215T125234Z&X-Amz-Expires=300&X-Amz-Signature=d05ee650296f9816805734eb30b47c131d087e698d1b33

[2020-02-15 12:56] joex92 commented on #676
I could only download the 3.10.0 version from WayBackMachine here: https://web.archive.org/web/20190717045806/https://github.com/osxfuse/osxfuse/releases but can't get the latest version... I'll try it...

[2020-02-15 13:30] bfleischer commented on #676
I can download 3.10.4 without any issues. Could you try again? Maybe this was a GitHub issue.

[2020-02-17 21:34] jarrocha commented on #675
Thanks for your comments.

[2020-02-19 07:01] vasi opened #677 "Stall in fuse_unmount after session exit in signal handler"
My filesystem [attempts to kill itself in a signal-handler](https://github.com/vasi/squashfuse/blob/master/ll.c#L433-L436) using `fuse_session_exit`, if it's been idle too long. This works fine on Linux. But with osxfuse, the main function stalls when it calls `fuse_unmount`, for around a minute.

Any idea what's going on here?

I tried to look at libfuse for inspiration, and [this commit](https:/

[2020-02-19 07:10] bfleischer commented on #677
FUSE on macOS might need to flush some dirty pages from kernel memory when you unmount the file system. What you are doing effectively prevents FUSE from doing this. This will lead to data loss in some situations. You are seeing a 60 seconds delay because you are running into a timeout. The FUSE kernel extension is trying communicate with the file system server running in user space, but gives up

[2020-02-19 07:10] #677 closed, assigned to bfleischer

[2020-02-19 07:10] #676 closed, assigned to bfleischer

[2020-02-19 08:37] vasi commented on #677
So there's no way for a filesystem to cause itself to unmount? It has to be via `unmount` at the command-line?

[2020-02-19 08:57] bfleischer commented on #677
Sure there is, call fuse_unmount(). But you will need to wait before until the event loop exits or, in case you implemented your own event loop, wait until you receive a FUSE_DESTROY message from the kernel. The same approach works on Linux as well.

[2020-02-19 09:23] bfleischer commented on #677
This commit has not made it way into official releases. I've been trying to use DiskArbitration to unmount FUSE file systems. When support for renaming FUSE volumes is enabled, the mount point of a FUSE volume will change while the file system is mounted. This is where DiskArbitration comes into play.

If you are evaluating FUSE for macOS for commercial use, feel free to contact me. You can find m

[2020-02-21 04:21] vasi commented on #677
Isn't that what I was originally doing?
- Call `fuse_exit_session` to trigger the event loop ending
- Wait for the event loop to end, and control to return to main
- Call fuse_unmount. But it stalls.

Is there a different sequence of events you would expect to work?

The only thing I've been able to make work is actually calling `umount()` in my signal handler. Is that how signal handling for eg:

[2020-02-21 19:19] develth commented on #590
Fleischer Vs. Metzger

If you're German it's a funny battle 😂

[2020-02-22 09:08] paaguti commented on #590
🤪🤪🤪

Enviado desde mi iPhone

[2020-02-23 22:11] jmonroe91 opened #678 "iOS FUSE plugin?"
Is there a free, standalone open-source FUSE plugin to mount an iOS device as a filesystem? I have looked but can only find such a thing as part of a another application (I think it was iExplorer?)
I want to sync files using rsync to a file manager application on the iOS device.

[2020-02-24 18:07] dgordoncal commented on #616
@bfleischer We would like to hire you & contribute to keep this project going.  How can we best reach you?  We tried Gmail but never heard back.

[2020-02-24 20:11] aboersch commented on #660
the same issue

[2020-02-25 12:26] WillSkates opened #679 "Can't verify GPG signature: sks.keyservers.net reponding with 502 or 504."
Hello!

I can't currently verify the gpg signature for any release because sks.keyservers.net is responding with a 502 or 504 error when I access https://sks-keyservers.net/pks/lookup?op=vindex&search=0x135F164B411BAA1F4A4BCD37617A3461802608A1.

Is the key available anywhere else?

Cheers,
Will

[2020-02-25 17:23] chrisbehanna commented on #590
The latter case is also true for RedHat.  If you want the super-gee-whiz-bang management tools for integrating with OpenLDAP/Active Directory, you have to pay for them.  Ditto for live migration support for VMs.

I've been a huge fan of osxfuse for many years, as an end-user.  @bfleischer, I'm not flush with cash right now, but I'd be happy to toss something in a tip jar somewhere when I'm able, i

[2020-02-25 22:20] bfleischer commented on #678
I don't know of any stand-alone FUSE file system for mounting iOS devices.

Please ask questions like this on the [FUSE for macOS Google Group](https://groups.google.com/forum/#!forum/osxfuse-group). The issue tracker should only be used for actual issues.

[2020-02-25 22:20] #678 closed, assigned to bfleischer

[2020-02-25 22:52] bfleischer commented on #679
Hi Will, you can download the key from https://osxfuse.github.io/static/53C918C1A2818875.asc.

[2020-02-25 22:52] #679 closed, assigned to bfleischer

[2020-02-26 02:44] jarrocha commented on #678
A good alternative is to look into the FileProvider API for iOS.

[2020-02-26 08:33] stonespirit opened #680 "OSXFuse framework fails to load after Runtime Hardened enabled"
Hi

OSXFuse framework fails to load after Runtime Hardened enabled,
Step:
1 Run code sign script:  codesign --force --options=runtime --deep -s "xxxxxx" -v  LoopbackFS.app
2 Run LoopbackFS.app, and Crash, Crash log:

Process:               LoopbackFS [65779]
Path:                  /Users/USER/Library/Developer/Xcode/DerivedData/LoopbackFS-hffmrmxbhukvbmegaiowlsgnngiw/Build/Products/Release/Loopbac

[2020-02-26 08:35] stonespirit commented on #680
I found same issue, like this:
https://forums.developer.apple.com/thread/118067
https://forums.developer.apple.com/message/390019#390019

Is there any solution about this issue?
Thanks

[2020-02-26 08:56] stonespirit commented on #680
MacOS:10.15
XCode:11

[2020-02-26 09:05] bfleischer commented on #680
As part of my regression tests I'm building a version of LoopbackFS with the hardened runtime feature enabled. I never ran into any issues with Xcode 10.

Did you make sure to disable library validation when enabling the hardened runtime? Running the codesign command does not suffice.

[2020-02-26 09:19] stonespirit commented on #680
Yes, I  have made sure to disable library validation.
I am trying to notarize my app, and "LoopbackFS" is demo, but the steps are same.

[2020-02-26 09:30] bfleischer commented on #680
Why are you running codesign manually? When you do this you need to make sure to include the correct entitlements. Please check the entitlements after re-signing LoopbackFS.

[2020-02-26 09:32] stonespirit commented on #680
I am trying to notarize my app, and code sign by script

[2020-02-26 11:22] paaguti commented on #590
right now, but I'd be happy to toss something in a tip jar somewhere when
I'm able, if you can arrange for such to exist.
+1

On Tue, 25 Feb 2020 at 18:40, Chris BeHanna <notifications@github.com>
wrote:

--
Fragen sind nicht da um beantwortet zu werden,
Fragen sind da um gestellet zu werden
Georg Kreisler

[2020-02-27 04:03] stonespirit commented on #680
Thanks, this issue has been resolved by adding codesign --entitlements

[2020-02-27 04:04] #680 closed, assigned to bfleischer

[2020-02-28 03:09] stonespirit opened #681 "Could not load FUSE preference pane in system preferences"
Could not load FUSE preference pane in system preferences

Step:
1 Click "Fuse"  in system preferences
2 Popup alert "Could not load FUSE preference pane"
3 Reinstall OSXFuse，but still reproduce

MacOS:10.15.3

[2020-02-28 03:33] stonespirit commented on #681
Uninstall and reinstall, and resolved

[2020-02-28 03:33] #681 closed, assigned to nobody

[2020-02-29 16:35] bfleischer commented on #550
The feature is implemented in the upcoming version 4.0.0.

[2020-02-29 17:04] bfleischer commented on #670
From the perspective of FUSE it should not make any difference if the backing storage is connected over USB or is a file on an internal volume. Since it works for the file I don't think this is a general issue with FUSE. I've used fuse-ext2 successfully with an USB memory stick before. That's why I think it would be best to forward your findings to the fuse2fs team. Maybe they can debug the issue.

[2020-02-29 17:14] bfleischer commented on #651
Have you tired looking into the DIskArbitration API? As far as I remember it allows you to interrupt unmounts. `DARegisterDiskUnmountApprovalCallback` might be what you are looking for.

[2020-02-29 17:14] #651 closed, assigned to bfleischer

[2020-02-29 18:12] bfleischer commented on #633
I have never been able to reproduce the issue. This means there is nothing I can do to address it.

Only a very small fraction of people seem to be running into this. This makes me believe that the FUSE installer is not to blame for this. After all it seems to be a permission issue the installer process is running into. It could be that the permissions of a standard directory have been altered by

[2020-03-03 13:53] Vovo232 opened #682 "External HDD with FUSE file system won't mount in OS X Catalina"
Hi guys,

Since I update my MacBook Pro to Catalina FUSE stopped working.

We have 360 VR Camera Nokia OZO and its HDD is formatted with FUSE-PC file system.
It won't mount...

I can see it in Disk Utility, I can also mount it manualy, but I can't access the files...

Anyone has encountered this kind of issue?

Thank you very much!

[2020-03-03 22:19] bfleischer commented on #682
Do you mean NTFS-3G? I don't know what you mean by FUSE-PC file system.

Make sure you update FUSE to the latest version. It might be necessary to re-install NTFS-3G. In any case, please report the issue to the developer of the file system you are using.

[2020-03-03 22:19] #682 closed, assigned to bfleischer

[2020-03-04 10:14] Vovo232 commented on #682
Hi Benjamin,

thank you for reply.

File system Fuse-PC I don’t know either… its dedicated format for Nokia OZO professional VR Cam, unfortunately.
Nokia support recommended us to upgrade FUSE (we did it as a very first thing)
It is possible that is some kind of NTFS-3G, but anyway…

On MAC with El Capitan (OS 10.11.6) with FUSE 3.7.1. - it works perfectly, but on all our new Macs with Catalina an

[2020-03-06 07:05] waddles commented on #670
Well, I tried this again today but with the USB drive connected directly to the mac and it does the same as in the gist.

When doing `echo baz > baz.txt`,  the relevant part is:
[code]

So basically, we see it do `getattr`, `write`, `getattr`, `flush`, `lock`, `release`, `access`. Something is causing it to take about 284 seconds to return from `release`, in which time fuse2fs has timed out and di

[2020-03-06 10:04] MichaelVoelkel opened #683 "How to use it?"
I find nothing about how to use fuse. Is there some page with examples?

[2020-03-06 10:26] bfleischer commented on #683
FUSE is a building block used by (third party) file systems. If you are looking for a specific FUSE-based file system, you should find information on how to use the particular file system on the developer's website. If you are a developer looking for example file systems, check the [filesystems](https://github.com/osxfuse/filesystems) repo.

Please post question like this on the [FUSE Google Group

[2020-03-06 10:26] #683 closed, assigned to bfleischer

[2020-03-11 16:39] sit23 commented on #381
I've just had the same problem with the following versions:
[code]
Is this in line to be fixed? Thanks!

[2020-03-13 00:55] kainjow opened #684 "Files fail to save after enabling "Ignore ownership on this volume""
Here's a weird one. I reproduced with LoopbackFS.

1. Run a fuse mount
2. Open a file in TextEdit and verify you can save. Keep the file open.
3. On an external volume (you can also use a mounted disk image), Finder > Get Info the volume and uncheck "Ignore ownership on this volume"
4. Go back to the file in TextEdit and try to save. You'll get an error like "The document x could not be saved":

<

[2020-03-13 04:57] GJRobert opened #685 "[Q] Meaning of "mount_osxfuse: cannot stat the mount point..."?"
I have used [bindfs](https://bindfs.org/) and osxfuse for a while. But in the recent week, I have encountered twice the situation as described below:

1.  All of sudden, my mounted folders are all unmounted for unknown reason.
2. I try to execute bindfs commands again, with the following error:
[code]

Restarting the system usually makes bindfs work again, but this does re-occur.
How should preven

[2020-03-16 15:41] martinosorb commented on #45
`killall sshfs` was sufficient for me.

[2020-03-18 14:13] davehodg opened #686 "No sshfs"

[2020-03-18 14:29] bfleischer commented on #686
You need to install SSHFS separately.

[2020-03-18 14:29] #686 closed, assigned to bfleischer

[2020-03-19 20:22] AlexanderLill commented on #567
I've been having the same problem and sometimes it took hours to panic, and sometimes it happened right away. I had a suspicion that the power management of the external USB drive is responsible for this and double-checked my energy management settings to never turn off hard drives and never sleep. Until now there were no further panics!

[2020-03-22 08:28] vincbeaulieu opened #687 "duplication of Macintosh HD during mount of SSHFS Volumes"
![Screen Shot 2020-03-22 at 4 29 29 AM](https://user-images.githubusercontent.com/37360448/77245559-c127ec00-6bf5-11ea-81a7-679c71c79a53.png)

The image speak by it self.

I'm using the latest version of FUSE and SSHFS on mojave.

I relaunched Finder but it did not solve the issue.

[2020-03-22 08:40] spreaderman opened #688 "OSX Catalina - Cannot move files to trash or delete / Can create, save, rename"
I am using OSX Catalina with FUSE & sshfs.  Everything works except moving to trash.  I get error 8062 from OSX.  Of course if I use 'rm' at the command line, it works.  Is this a known issue?  I would have thought one could map the 'move to trash' to at least, 'rm'. Not possible?  Any help appreciated.

    sshfs -o allow_other,defer_permissions root@example.com:/ /Users/myuser/Desktop/remoteWebS

[2020-03-22 13:49] albertz commented on #390
Is there any update here? The latest SSHFS version is 3.7.0.

[2020-03-23 19:43] edmc-ss commented on #671
I thought I'd try yet again to narrow down the issue... and I think I have some interesting evidence of what is going on.

First of all, I implemented an example "fission-hellofs" that, as other equivalents have done, is a read only file system with a single file ("Hello") in it that can be read.

Anyway, since the whole point of package fission is to be able to multithread, I thought the problem

[2020-03-25 17:33] edmc-ss commented on #671
I have finally resolved the issue... and I dare say it was entirely my fault as Benjamin suspected. Indeed, I doubt there would have been any evidence of the issue visible to him debugging the .kext.

To summarize the error, I was constructing an *os.File in Golang to pass to the way you launch a subprocess to execute the equivalent of fusermount... the lifetime of this *os.File would eventually f

[2020-03-25 17:33] #671 closed, assigned to bfleischer

[2020-03-28 13:41] bfleischer commented on #671
Thanks for the update. This might prove very helpful to others.

[2020-03-30 15:11] mikescar commented on #685
Hi @GJRobert Perhaps the google group would be better place to find answer: https://groups.google.com/forum/#!forum/osxfuse-group

[2020-04-06 09:42] zehongs commented on #653
Same problem with Catalina 10.15.4. But mine is worse, since it couldn't establish a mount point correctly. I had to shutdown mac to bring everything back.

[2020-04-06 10:21] zehongs commented on #653
I just found that I need manually give the `full disk access permission` to my terminal (in my case, iTerm). And everything works fine now!

[2020-04-13 21:34] Google-Autofuzz opened #689 "Integrating with OSS-Fuzz"
Greetings osxfuse developers and contributors,

We’re reaching out because your project is an important part of the open source ecosystem, and we’d like to invite you to integrate with our [fuzzing](https://www.owasp.org/index.php/Fuzzing) service, [OSS-Fuzz]( https://opensource.googleblog.com/2016/12/announcing-oss-fuzz-continuous-fuzzing.html ). OSS-Fuzz is a free fuzzing infrastructure you can

[2020-04-16 11:09] mishz commented on #627
https://github.com/osxfuse/osxfuse/issues/627#issuecomment-537345757

[2020-04-18 22:09] amoffat commented on #453
I wasn't able to get NSWorkspace noteFileSystemChanged working (even called it on the main thread), but I did have luck with `fuse_invalidate_path` called with a mount-relative path.

[2020-04-19 05:13] PenelopeFudd opened #690 "MacOS 10.15.4: mount ok, but ls gives 'operation not permitted'"
Hi;

I'm trying to mount an AWS S3 bucket on /tmp/my-test-bucket, and getting a frustrating problem:
[code]
The problem is not with '[yas3fs](https://github.com/danilop/yas3fs)', as it happens with '[sshfs](https://github.com/osxfuse/sshfs)' too:
[code]
I'm really bemused by all this: when I run sshfs with the -d option, there are no error messages shown, apart from 'No such file or directory' for

[2020-04-19 05:19] PenelopeFudd commented on #690
Addendum: I just tried '[s3fs-fuse](https://github.com/s3fs-fuse/s3fs-fuse)', and it worked perfectly (read/write/delete) in my home directory, but not in the /tmp directory.

Cheers!

[2020-04-21 13:22] pjastrzabek commented on #342
Same issue here..
Mounting external 2TB drive. I have the same "magic" of files appearing or not depending how I mount the drive..

 copying with "mc" was the easiest workaround...

[2020-04-22 00:09] FranklinYu commented on #590
I’d like to support this argument: [License Zero](https://licensezero.com) is designed exactly for that purpose. Removing the source-code isn’t necessary at all for the goal of raising funds.

I’m personally fine with the decision of making it non-open-source; I only mean that there might be a way to serve the goal better, like raising more funds, or raising them more sustainably. This could help

[2020-04-27 01:10] gMan1990 opened #691 "how to mount a Finder dir ? LoopbackFS"
`mount -t osxfuse` ?

[2020-04-27 03:05] jrgleason opened #692 "Assertion 'common_variable_is_legal_name XCODE_SDK_10_15.4_XCODE' failed"
Per the instructions I run

    ./build.sh -t distribution

But I get...

[2020-04-27 06:15] bfleischer commented on #691
FUSE file system are not mounted using the `mount` command. You need to call the file system binary with a set of parameters that depend on the file system.  At least you need to specify the mount point.

[2020-04-27 06:15] #691 closed, assigned to bfleischer

[2020-04-27 06:19] bfleischer commented on #692
The FUSE source code, that is available in the repository, is version 3.8.3, which is not compatible with macOS 10.15 or Xcode 11. The source code for the latest version of FUSE, that is compatible with Catalina, is not publicly available.

[2020-04-27 06:19] #692 closed, assigned to bfleischer

[2020-04-30 02:13] gMan1990 commented on #691
@bfleischer

[code]

[2020-04-30 07:04] bfleischer commented on #691
As I explained earlier you need to call the file system binary, not the mount command. You can mount a loopback volume by calling loopback with the following parameters.

[code]

[2020-04-30 07:14] gMan1990 commented on #691
@bfleischer where is the `loopback` application? I can't find it / How to install it

[2020-04-30 10:28] misku commented on #691
@gMan1990 https://github.com/osxfuse/filesystems/tree/master/filesystems-c/loopback

[2020-05-01 13:30] jasonxxd commented on #518
This issue still exists on my side. I'm wondering if this issue is being solved?

[2020-05-04 00:39] warlordjc commented on #578
Solved:
I had the same issue, this was working fine till I moved to OSX Catalina then all hell broke lose. My data was locked. To resolve:
1. I created a bootable USB with OSC High Sierra https://www.macworld.com/article/3204672/how-to-create-a-bootable-macos-high-sierra-installer-drive.html
2. Follow the steps to reboot the computer into OSX High Sierra on the USB
3. In my case I was using the La

[2020-05-05 20:18] tg-z commented on #688
hi, i'm not sure if its a known issue, but there are a few possible workarounds that might simplify moving something to trash. here's a short shell script/bash function:
[code]

[2020-05-07 20:11] MrCaringi commented on #341
IT WORKED!

[2020-05-10 14:51] kondak3 opened #693 "How to distribute mac application?"
We done one application using your osxfuse. How to submit application in app store include with framework. we can't to tell the end users to install osxfuse manually.

we are getting below error.

Dyld Error Message:
  Library not loaded: /Library/Frameworks/OSXFUSE.framework/Versions/A/OSXFUSE
  Referenced from: /Users/USER/Desktop/*/LoopbackFS.app/Contents/MacOS/LoopbackFS
  Reason: image not fo

[2020-05-11 08:04] sporring commented on #529
I confirm this with:

SSHFS version 2.10
OSXFUSE 3.10.4
FUSE library version: 2.9.7
macOS v. 10.15.4

I tried with fuse from osxfuse.github.io and sshfs as well as sshfs installed from macports (had to sudo "ln -s /usr/local/lib/pkgconfig/fuse.pc /opt/local/lib/pkgconfig/fuse.pc" in order for macport not to try to install the broken macfuse in macport). On my wifi, Copying large files from a sshfs

[2020-05-12 10:04] jfb007 commented on #692
Does this mean, the project "osxfuse" is dead for Catalina and future versions of macOS?

[2020-05-12 10:16] bfleischer commented on #692
No, it does not. Version 3.10 supports Catalina. But starting with version 3.9.0 I stopped releasing parts of the source code. The last version, with the complete source code available, is 3.8.3.

[2020-05-13 22:52] MaciejJezierski opened #694 "a"

[2020-05-13 22:53] #694 closed, assigned to nobody

[2020-05-18 10:52] #234 closed

[2020-05-21 13:31] bfleischer commented on #693
You cannot distribute FUSE for macOS in the App Store. This means the core feature of your app must work without FUSE for macOS being installed. Then when a user want to use an additional feature (file system integration) you can redirect the users to a support article on your website containing instruction on how to install FUSE for macOS and other required components.

Please note that FUSE for

[2020-05-21 13:31] #693 closed, assigned to bfleischer

[2020-05-21 13:32] #690 closed, assigned to nobody

[2020-05-21 13:36] #633 closed, assigned to bfleischer

[2020-05-21 13:37] #493 closed, assigned to bfleischer

[2020-05-22 02:34] didactic-drunk commented on #693
Could using [A kernelless filesystem](https://github.com/iterate-ch/kfs) or nfs as a backend solve this issue?

Pros:
* Can provide file system mounting directly from app store without additional installation.
* Kernel driver not needed.
* Less specialized knowledge.
* Possibly faster development.
* Special signing key not required.
* Each app can have it's own fuse version without relying on a si

[2020-05-27 08:42] milicasan commented on #381
Same problem here: keeps getting me blocked from the national supercomputer.

SSHFS version 2.5 (OSXFUSE SSHFS 2.5.0)
OSXFUSE 3.10.4
FUSE library version: 2.9.7
MacOS 10.14.6

It would be great to have this fixed, I am effectively unable to use sshfs.

[2020-05-27 13:30] netscylla commented on #692
Catalina & Macports - We installed the binary 3.10.4 from the main website, then symlinked the files in /usr/local/include/fuse to /opt/local/include/fuse - complied fine, and should remain fine when we apply future updates.  I think brew doesn't have this issue at it uses /usr/local.

[2020-05-27 15:08] NHuebnerWMG commented on #234
Yeh so I installed and reinstalled and it says I'm updating it. I have no idea how to use OSXFuse. It's not in my applications... I tried doing something like "Connect to a server" then typed my ssh:// server, and it took me to a Terminal tab. I've used this in Windows I think a while back but the Mac version kind of dumps you off the side of a cliff.

Feel free to throw your "first time user" app

[2020-05-28 18:49] karolisr commented on #692
Hmmm. Is there a way to make the MacPorts port work with Catalina?

[2020-05-31 11:48] bfleischer commented on #692
The MacPorts version of FUSE for macOS is outdated and does not support macOS 10.15. Using it on 10.15 will cause issues and could lead to data loss. I've bee in contact with someone from the MacPorts team, but they don't want to update the FUSE port due to FUSE no longer being open source in its entirety.

[2020-06-01 08:17] jbarros35 commented on #428
the easier solution should install windows via bootcamp.

[2020-06-02 08:40] juliangruber commented on #675
We just requested a signing certificate with kext capabilities from apple and this was their response:

[2020-06-03 10:14] nathanfranke commented on #341
Edit: Figured out how to fix it. On the **server**, run these commands:
[code]

If it still does not work, try running `cat /var/log/auth.log` on the **server**.

[2020-06-03 18:08] jwmerrill opened #695 "FUSE write failure when using tup on macOS 10.15.5"
Cross-posted from tup issue: https://github.com/gittup/tup/issues/395

**Version info:**
macOS: 10.15.5 (19F101)
tup: 0.7.8 (installed with homebrew)
osxfuse: 3.10.4, 3.10.5

[Tup](http://gittup.org/tup/) uses FUSE to monitor file system access during builds.

When I run `tup` on the example project from [A First Tupfile](http://gittup.org/tup/ex_a_first_tupfile.html), I see the following output:

[2020-06-05 02:29] gittup commented on #695
I believe I've fixed this issue in tup itself. There seems to be something new in 10.15 that was causing a problem with the way tup used fuse. I can reproduce the issue in an example fuse filesystem by doing the following:

1) Running fuse_main in a thread
2) Accessing a file in the fuse fs from another thread
3) Calling fchdir() in the fuse hook (I think it has to try to fchdir() to the parent of

[2020-06-05 05:34] JerryPeng21cuhk commented on #381
Same problem here. The campus network admin reported me the ssh brute force attack coming from my Mac laptop. The reason is the sshfs auto-reconnection behaviour. don't know how to disable it.

[2020-06-08 07:03] #594 closed, assigned to bfleischer

[2020-06-10 10:51] maglite85 opened #696 "Error Code 100006 when coping files from my LTO"
Hello,

I've been using fuse in combination with my LTFS formatted LTO Drive for years without any problems.

Since a couple of weeks I always get the Error Code 100006 whenever I try to copy files from the LTO Drive to my Hard Drive.

Do you have any suggestions how I can fix this problem?

Thank you so much

[2020-06-10 10:54] bfleischer commented on #696
I'm sorry, but I cannot help you with this. I don't have access to a LTO drive. Please report the issue to the LTFS maintainer.

[2020-06-10 10:54] #696 closed, assigned to bfleischer

[2020-06-10 20:17] earlthesquirrel opened #697 "Is the Unix FS UFS file system able to mount Sun OS disk images?"
I've got the new Fuse install and also downloaded the filesystems git repo and was able to build that.

However, I have a "ufs" executable but no clear instructions how to use it.  Is it functional enough to be able to mount, read and write Sun OS disk images?  (I'm trying to do some restoration on some Sun boxes and getting the OS onto a disk has been a big challenge.)  I'm hoping Fuse could be o

[2020-06-11 02:10] HashaRock opened #698 "New OSXFuse User with Mac Error "The operation can’t be completed because an unexpected error occurred (error code 100102).""
I have just installed OSXFuse and it seems to be working fine. The external drive is mounted properly but when I try to transfer files to the External drive, I get this message:
"The operation can’t be completed because an unexpected error occurred (error code 100102)."

Does anyone know why this is not working? I have used Tuxera's free trial and it works fine, but I want an answer to why my comp

[2020-06-13 09:33] bfleischer commented on #675
@juliangruber File Provider support is still not available in macOS 10.15.5. Xcode clearly states: File Provider extensions are not available when building for Mac Catalyst. The documentation is not up to date.

[2020-06-13 09:57] bfleischer commented on #697
I'm sorry, but I don't know if it will work. Please post questions like this on our Google Group https://groups.google.com/forum/#!forum/osxfuse-group. The issue tracker should only be used for reporting bugs.

[2020-06-13 09:57] #697 closed, assigned to bfleischer

[2020-06-13 10:01] bfleischer commented on #698
Please note that FUSE for macOS and NTFS-3G are independent projects. If you run into any issues with NTFS-3G please raise the issues with the NTFS-3G maintainers.

[2020-06-13 10:01] #698 closed, assigned to bfleischer

[2020-06-13 10:07] bfleischer commented on #670
There has not been any new information in two months, so I'm going to close the issue.

[2020-06-13 10:07] #670 closed, assigned to bfleischer

[2020-06-13 10:09] #602 closed, assigned to nobody

[2020-06-13 23:15] hasselhoffd opened #699 "Bad signature for 3.10.6?"
Hello - I'm trying to verify the signature of the sha256 file and am receiving  a "BAD signature" message. When I execute the same procedure for 3.10.5, it appears to be 'ok'. Please see the results below.
thanks!

From 3.10.6:

gpg: Signature made Mon Jun  8 05:43:26 2020 PDT
gpg:                using RSA key 135F164B411BAA1F4A4BCD37617A3461802608A1
gpg: BAD signature from "Benjamin Fleischer <fl

[2020-06-14 12:50] jonathancross commented on #602
Great to see you've been signing releases and commits!

[2020-06-14 13:54] bfleischer commented on #699
The signatures of 3.10.5 and 3.10.6 are both valid for me:

[code]

Maybe your .sh256 or .sig file was corrupted during the download?

[2020-06-14 17:28] VaZ420 commented on #504
Anyone stomp this bug out yet after a year ?!??!
Same thing is happening to me in Mojave 10.4.6.
Manually added the osxfuse prefpane and it says FUSE DOES NOT APPEAR TO BE INSTALLED.
Clicking install FUSE asks for my password and then Nothing. FUSE DOES NOT APPEAR TO BE INSTALLED.
What is this bug ??

[2020-06-14 17:41] bfleischer commented on #504
@VaZ420

I have never been able to reproduce the issue. Without being able to reproduce it, there is nothing I can do. The issue is most likely caused by something on your Mac. It could be number of things.

If possible, try installing FUSE on a clean install of macOS and I'm sure it will work just fine.

[2020-06-14 17:43] VaZ420 commented on #504
Yes it generally works on all systems except for mine recently. Ok in vmware mojave too.
I had it installed for years and the 2nd last update failed so i removed it. Then i installed the latest .pkg and it gets stuck on Validating…

[2020-06-14 18:46] hasselhoffd commented on #699
Hi - You are correct. It appears there was something wrong with the 'sha256' file for some reason. After downloading and verifying again, it was fine.

I appreciate you taking the time to respond.

Regards

xxxxxxx$ gpg --verify /Users/xxxxxxxxx/Downloads/osxfuse-3.10.6.sha256.sig
gpg: assuming signed data in '/Users/xxxxxxxxx/Downloads/osxfuse-3.10.6.sha256'
gpg: Signature made Mon Jun  8 05:43:2

[2020-06-14 22:35] #699 closed, assigned to bfleischer

[2020-06-15 17:14] karimelsaidy opened #700 "where are deleted files go after delete from ntfs volume ?"

[2020-06-15 17:51] bfleischer commented on #700
I'm sorry, but I cannot help you with that. There might be tools to restore your partition, but I don't know any of them. You could try a general purpose Apple support forum.

[2020-06-15 17:51] #700 closed, assigned to bfleischer

[2020-06-17 08:13] mixtly87 opened #701 "Volume mount icon not visible anymore since update to osxfuse 3.10.6"
Since I updated osxfuse to 3.10.6, my app's volume mount icon is not showing anymore. Instead, the default one is shown.

Here is the mount-volume code:
[code]

Is anyone else experiencing similar issue?

[2020-06-17 09:23] Artoria2e5 opened #702 "Feature request: Linux-style xattr namespace translation"
A lot of userspace FSes are written with Linux-style xattr in mind, which doesn't really work the same way as xattr on macOS. The main difference is that Linux xattrs use *namespaces* with different privillege levels represented by prefixes, while macOS use "open" xattrs without such a format requirement. As a result, when a request is made to write, say, `com.apple.quarantine`, the userspace FS i

[2020-06-17 09:50] Artoria2e5 opened #703 "extended_security conflicts with allow_others"
I am trying to mount NTFS-3G with full Unix permissions and ACL. However, after running the following command as root, all access from other users fail with "No message available on STREAM":

[code]

Removing the `extended_security` makes it work again with functional Unix permissions. You will need to run `ntfsusermap` to get the UIDs mapped beforehand.

[2020-06-17 09:52] bfleischer commented on #703
Please report the issue the the NTFS-3G maintainers.

[2020-06-17 09:52] #703 closed, assigned to bfleischer

[2020-06-17 10:08] Artoria2e5 commented on #703
I am still thinking this may be a fuse thing. Let me test this on a much more simplified `LoopBackFS` then.

[2020-06-17 10:55] Artoria2e5 commented on #703
Not reproduced with LoopBackFS. Will report to NTFS-3G.

[2020-06-17 13:17] nedex commented on #623
The bug is still there.
Does anybody has a clue?
Otherwise I would need some help to build and debug personally...

[2020-06-17 14:34] maxcaibm commented on #570
Sorry for bumping this issue, but just wondering if anyone has found a resolution? I am experiencing similar issues and have not found one.

[2020-06-17 20:25] mcicak commented on #701
I'm also experiencing the same issue with osxfuse filesystems examples.

[2020-06-18 11:38] EverlyScott opened #704 "The operation can't be completed because an unexpected error occurred (error code 100096)."
(This might be an issue with NTFS-3G... I would post it to their forums but I cannot figure out how to make an account on their forum software from 2001)

I just installed OSXFuse and ntfs-3g on my Hackintosh running Catalina 10.15.4 so I can read and write to my Windows drives on macOS, but I'm getting this error when trying to copy any file to an NTFS drive:
[code]
If I click OK, the dialogue bo

[2020-06-18 11:55] bfleischer commented on #704
I'm sorry, but I cannot help you with that. Please report NTFS-3G issues to the NTFS-3G team.

[2020-06-18 11:55] #704 closed, assigned to bfleischer

[2020-06-23 01:59] ceo0x opened #705 "osxfuse not compatible with MacOS Big Sur"
Just updated to the MacOS 10.16 (Big Sur) Developer Preview and FUSE doesn't work

[2020-06-24 08:41] dustinrouillard commented on #705
I know it's only just come out, but do we know enough about Big Sur yet to know what the eta might be, and if they'll be any complications?

[2020-06-24 10:24] yaboi007 opened #706 "Cannot copy or move files containing emojis"
results in error code -36

[2020-06-24 10:25] bfleischer commented on #706
Which file system are you using?

[2020-06-24 11:16] bfleischer commented on #705
So far things are looking good, but there are still a few pieces missing. The Big Sur kernel debug kit is one of them.

[2020-06-24 13:50] tholu commented on #705
Thanks for your work on that, let me know if you need any help testing! @bfleischer

[2020-06-24 14:14] yashendra2797 commented on #705
Best of luck everyone! Please let me know if there's any way I can help.

[2020-06-24 19:49] ankitshah009 commented on #705
Thanks for your work on this @bfleischer - this is one of the those softwares which helps make Mac experience smoother. let me know if theres any way to help out.

[2020-06-24 22:58] emergencynap commented on #705
@bfleischer if you want remote access to a machine that has Apple Silicone, please let me know.  We should have one arriving July 10th and we’re planning to test osxfuse among other kexts.

[2020-06-26 18:21] arwebSE commented on #574
thanks a lot for this! this solved the issue for me on Catalina

[2020-06-29 13:51] Robert-F commented on #706
I don't know if this is related to @yaboi007's problem, but the built-in macOS iconv fork seems to be buggy (*) and does not support all (any?) emojis.

Steps to reproduce:
 * Execute in Terminal: echo foo🙂bar | iconv -f UTF-8 -t UTF-8-MAC
 * Expected result: foo🙂bar
 * Actual result: foo�bar

We resolved this issue by implementing the NFD to NFC conversion in our user-space code instead of using

[2020-06-29 18:16] WardsParadox commented on #705
Is the new version of fuse going to be kext-less so as not to require this behavior to enable?

https://developer.apple.com/documentation/apple_silicon/installing_a_custom_kernel_extension#3618381

[2020-06-30 12:50] SkyperTHC opened #707 "s"

[2020-06-30 13:25] #707 closed, assigned to nobody

[2020-07-01 07:48] windroad77 opened #708 "Problems using file with titles containing Korean"
Hi~!

Files with Korean titles cannot be played in the case of videos, and files in comic books cannot be opened.

1. When connecting only plexdrive or rclone for google drvie
    - If the Korean title is short, click the name change, hit enter and try again, but it will play, but it will be separated when checked in the Google driver.
   - If the Korean title is long, the above method cannot be u

[2020-07-02 12:53] kiril-kirov commented on #701
Same here, I can confirm the missing icon as well.

[2020-07-02 16:25] jarrocha commented on #701
Try adding the **local** mount option

[2020-07-02 17:58] iamanujvrma commented on #705
I am having the same issue. Is someone already working on this one ?

[2020-07-03 08:44] IainCollins262 commented on #596
On macOS 10.15 at least folders are allowed to start with a '[' character. Assuming folders are allow to start with a '[' character for the version of macOS which you are currently running then this sounds like an issue with the tool which you are using to edit the excel file with rather than a FUSE issue.

[2020-07-03 15:12] Planetxfuse opened #709 "FUSE for macOS not compatible with macOS 10.14?"
After an update to Mojave my Veracrypt container does not mount anymore and I get the error message:
mount_osxfuse: the file system is not available (255)

I tried to load the kext, but without success.
[code]

![veracrypt](https://user-images.githubusercontent.com/67795690/86481048-820a4a80-bd4f-11ea-96c2-4774ec14c652.png)
Under macOS 10.13 the container is still mountable.
Any help is very much

[2020-07-03 15:16] Planetxfuse commented on #709
FUSE for macOS: 10.13.6
VeraCrypt: 1.24 Update 4

[2020-07-03 16:31] jarrocha commented on #709
The osxfuse version you install must have the kext for your OS. In your case, this directory has to exist:
**/Library/Filesystems/osxfuse.fs/Contents/Extensions/10.13** for High Sierra
**/Library/Filesystems/osxfuse.fs/Contents/Extensions/10.14** for Mojave
Make sure you have a version that is compatible with 10.14, maybe reinstalling the newest version could fix this.

[2020-07-03 16:36] jarrocha commented on #708
Hello,
Could you give us an example of Korean titles that gives you an issue?

[2020-07-03 17:11] Planetxfuse commented on #709
Many thanks for your comment!
I tried first to uninstall/reboot and then reinstall the latest version of osxfuse, 10.13.6.
The folder 10.14 is present as an alias to the folder 10.10.
I even tried to reinstall VeraCrypt. The strange thing, it is possible to create a new container, but impossible, to mount it accordingly.

![folders](https://user-images.githubusercontent.com/67795690/86488104-79197

[2020-07-03 17:16] Planetxfuse commented on #709
Edit:
 is present as an alias to the folder 10.10. ->  is present as an alias to the folder 10.11

Sorry, my fault.

[2020-07-03 19:06] bfleischer commented on #709
@Planetxfuse Please raise the issue with the VeraCrypt team.

[2020-07-03 23:13] windroad77 commented on #708
1. Install osxfuse

2. Connect Google Drive with plexdrive and rclone
-All Korean title files are not executed
(ex)Comic book korean title:
100명의 영웅을 키운 최강 예언자는, 모험자가 되어서도 세계의 제자로부터 사랑 받고 있습니다.
Drama korean tile: 굿 닥터.avi)

3. Relink the connected folder with the following command
     sshdfs -o defer_permissions -o modules=iconv,from_code=utf-8,to_code=utf-8-mac
-When files with long characters (

[2020-07-04 01:32] bfleischer commented on #701
This issue was introduced in version 3.10.5 and is fixed in version 3.11.0.

[2020-07-04 01:32] #701 closed, assigned to bfleischer

[2020-07-04 01:33] #709 closed, assigned to nobody

[2020-07-04 01:57] bfleischer commented on #705
The new 3.11.0 release contains experimental support for macOS 11.0 (Intel).

@WardsParadox Apple has not announced an alternative API. Kernel extensions are the only way to develop full-featured file systems on macOS.

[2020-07-04 01:57] #705 closed, assigned to bfleischer

[2020-07-04 02:02] WardsParadox commented on #705
Thanks. I’ll open feedback ASAP

[2020-07-06 19:49] XNinety9 commented on #705
3.11.0 works for me on Big Sur. Thanks @bfleischer !

[2020-07-07 23:14] sumanthratna commented on #705
Not totally related, but will this ever be renamed to something like macosfuse? osxfuse is a little misleading now because Apple Silicon with Big Sur won't be macOS 10.x, it'll be macOS 11.x :)

[2020-07-08 06:52] x4base commented on #194
＠pasnox, I use LaunchDaemons instead of fstab to mount at boot and it works. See my comment in mpartel/bindfs#87

[2020-07-14 14:32] shayneoneill commented on #705
Is therea a timeframe on a functional big sur version? This ones caught me unawares , and the experimental build does not appear to work (veracrypt claims theres no kext installed)

[2020-07-14 14:36] bfleischer commented on #705
@shayneoneill Please report the issue to the Veracrypt team. This is something they need to look into. From the FUSE end everything should be working.

[2020-07-14 14:49] tholu commented on #705
@shayneoneill Works totally fine for me with Veracrypt.

[2020-07-20 08:14] Cyberbeni opened #710 "Writing URLs to pasteboard fails with 3.11.0"
We are allowing users to copy files from our app by writing the FUSE URLs to the pasteboard like this:
[code]
Trying this on 10.15.5 with osxfuse 3.11.0, I get the following error in the console for some files (one per url): [general] Sandbox extension data required immediately for flavor public.file-url, but failed to obtain.
And pasting in Finder does nothing.
Opening/copying those files through

[2020-07-20 08:27] Cyberbeni commented on #710
Hmm, looks like for some files it works and for some, it doesn't.

[2020-07-24 12:00] wwxiaoqi opened #711 "FUSE you can read and write Fetching…"
I think this is not a good question, so I closed.

Version info:
 
macOS: 10.15.6
ntfs-3g: 2017.3.23 external FUSE 29
Osxfuse: 3.11.0
 
Ntfs-3g uses FUSE to Sharing&Permissions Fetching…

![Snipaste_2020-07-24_19-57-13](https://user-images.githubusercontent.com/52415314/88388870-f2086f80-cde7-11ea-8a91-b3c30cef9854.png)

[2020-07-25 17:39] aprilspace commented on #363
sudo rsync -aP source destination

[2020-07-27 06:27] mityada opened #712 "Entry timeout"
It seems that OSXFUSE kext completely ignores [entry timeout](https://github.com/osxfuse/kext/blob/support/osxfuse-3/osxfuse/fuse_kernel.h#L375) sent from userspace (judging by 3.8.3 source, but later versions behave in a similar way).

Is explicit invalidation the only way to remove vnode from the name cache?

Also, is there a particular reason for this behavior comparing to the Linux implementat

[2020-07-28 19:59] bfleischer commented on #712
This feature has not been implemented, yet. Entry timeouts are currently ignored on macOS.

When the kernel extension discovers that a vnode has disappeared, its entry is purged from the name cache. Explicit invalidation is another way to purge the name entry.

[2020-07-29 09:33] #711 closed, assigned to nobody

[2020-07-29 23:00] rsegretin commented on #675
@juliangruber did they actually point you to use a feature that is just not there? I've been researching ways to create placeholders for files that are only available in a cloud server, and thought I would be able to use File Provider, but it seems it won't be available in Catalina. Only way around might be VFS Kext, but that answer you received kinda worries me.

[2020-07-30 07:05] juliangruber commented on #675
I've posted the whole response, unfortunately that's all we got

[2020-07-30 17:02] CodeBotFly commented on #503
I was going through some of the new documentation for Apple and I think I found the new API's you might be looking for concerning Kext free options. https://developer.apple.com/documentation/endpointsecurity. I was on a call with our Mac Solutions Engineer at work and brought up the Kextless options. He also pointed me at the EndpointSecurity methods. He said everything is getting new names and fu

[2020-07-30 17:10] bfleischer commented on #503
@CodeBotFly The new EndpointSecurity framework does not allow you to develop file systems. It is not a replacement for in-kernel file systems. The EndpointSecurity framework is intended for security software like virus scanners.

[2020-07-31 19:21] rsegretin commented on #675
Your certificate was intended for Catalina, right?

[2020-07-31 19:26] juliangruber commented on #675
That is correct

[2020-07-31 19:28] rsegretin commented on #675
I think I'm more worried now. Thanks a lot.

[2020-08-01 07:31] hiteshbal91 commented on #574
I am also having same issue where I can see the folders from Finder App but not files but it is visible from command lines. I have tried the provided solution but I am getting error as follows.

[code]

MacOs: Catalina
Version: 10.15.5

[2020-08-01 09:26] bfleischer commented on #574
@hiteshbal91 You need to unmount the volume fist before you can re-mount it. There is already a volume mounted on `/Volumes/HDB`.

[2020-08-03 05:32] hiteshbal91 commented on #574
thanks, @bfleischer resolved my issue.

[2020-08-03 09:02] dmorn opened #713 "Kernel panic developing custom 9p server"
I'm working on a custom [9p server](github.com/jecoz/flexi). Every once in a while my mac gets restarted with this error
[code]

It might also be that this is completely my fault, as my code is responding to 9p requests. Let me know if you think this is a bug in my side or fuse's one!

osxfuse version:
[code]

[2020-08-03 16:27] dmorn commented on #713
[code]

[2020-08-04 14:51] dmitvitalii commented on #45
Same issue:
macOS 10.15.6
SSHFS 2.10
OSXFUSE 3.11.0

Didn't work:
[code]

[This solution helped](https://github.com/osxfuse/osxfuse/issues/45#issuecomment-21943107).

[2020-08-04 18:50] Ac2zoom commented on #705
Did these tests end up succeeding?

[2020-08-05 19:47] bfleischer commented on #705
@Ac2zoom I have enrolled in the Universal App Quick Start Program on day one. I am currently working on a major FUSE update. This will include support for Apple Silicon. There are still some issues, that result in a very poor user experience. I contacted Apple Worldwide Developer Relations on July 16th regarding these issues. But so far I have not received a response.

[2020-08-07 07:12] Cedrun opened #714 "Fuse does not do anything"
Hello,

I am new in Mac world. I installed the lastest version of Fuse for read and write in NTFS disks and I can't.

I have a Fuse icon on the control panel but I can't configure anything.

Can anybody help me?.

Thanks in advance

[2020-08-07 07:28] bfleischer commented on #714
You will need to setup NTFS-3G, too. FUSE is the foundation for NTFS-3G but does not provide read-write access to NTFS volumes on its own. NTFS-3G is the actual file system implementation. See https://github.com/osxfuse/osxfuse/wiki/NTFS-3G for more details and installation instructions.

[2020-08-07 07:28] #714 closed, assigned to bfleischer

[2020-08-07 07:30] Cedrun commented on #714
Thank you for your answer.

[2020-08-08 21:30] darsnack commented on #705
Can someone help me out and explicitly describe the steps they took to get 3.11.0 working with Big Sur? I read through the Apple document linked above, but none of those directions seemed to apply to me.

[2020-08-08 21:36] XNinety9 commented on #705
@darsnack juste use the uninstall script provided in the installation package, and install 3.11.0. It works just fine out of the box.

[2020-08-08 21:46] darsnack commented on #705
Thanks. I did the following:
[code]
Then used the preference pane to install 3.11.0 which worked fine. But I still get the following when trying to mount with `sshfs`:
[code]

[2020-08-08 22:11] darsnack commented on #705
Updating for other people facing the same issue. Managed to get it working. You need to run `sshfs` to let it fail, then go to "System Preferences > Security & Privacy > General" and there should be a message about apps that are prevented from running. Authenticate and approve the extension by @bfleischer (Benjamin Fleischer). Then run the following:
[code]
Hopefully you see a `0` print out for th

[2020-08-18 13:15] michael-tracxpoint commented on #341
When using sudo, the private key of root is used, so make sure that root can ssh to target first.

[2020-08-18 14:16] ghost commented on #704
Can reproduce. This seems to be POSIXErrorENODATA, aka the "No message available on STREAM" stuff. So similar to osxfuse/osxfuse#703.

Mounting with NTFS-3G's native xattr turned off but using `auto_xattr` makes it work, so the issue is likely in the xattr handling of ntfs-3g itself. Using the `-o debug` option shows finder and spotlight requesting a bunch of non-existing attributes.

Comparing th

[2020-08-19 16:17] yleme commented on #342
Using terminal + rsync worked fine!

Thanks @kreintjes  and @RiccardoBellatalla

[2020-08-20 08:02] Sculptort commented on #578
I tried to do this but I am not very knowable about programs or tech stuff. When I have followed you instructions I get these messages
![Untitled 2](https://user-images.githubusercontent.com/69959451/90732458-09415c80-e2c3-11ea-9d95-779d09f21b0a.jpeg)
![Untitled 3](https://user-images.githubusercontent.com/69959451/90732488-152d1e80-e2c3-11ea-8531-61e99f6aa2bd.jpeg)
I have over 20 years of images

[2020-08-21 08:39] Sculptort opened #715 "Lacie Private-Public locked folder"
I was stupid enough to update my apple OS to Catalina and now I cannot open my private-public folder. Lacie are no help at all and neither is Apple. I was told I should get a computer that is old and operates on an older system, which I now have and it operates on High Sierra 10.13.6 It still won't open my folder. I have over 20 years of images on my Lacie Private-Public folders.
Why no one was wa

[2020-08-22 07:53] Smiley006 opened #716 "An unexpected error occured-cryptomator"
[An unexpected error occured.docx](https://github.com/osxfuse/osxfuse/files/5112074/An.unexpected.error.occured.docx)

[2020-08-22 08:29] Sculptort commented on #716
I am not sure that this helps. What can I do about it?

[2020-08-22 09:58] bfleischer commented on #716
Please raise the issue with the Cryptomator team. They need to look into it, there is nothing I can do from the FUSE end.

[2020-08-22 09:58] #716 closed, assigned to bfleischer

[2020-08-22 10:03] bfleischer commented on #715
First of all try to install the latest version of Private-Public then install the latest version of FUSE. This might help. Last time I checked LaCie was shipping a very outdated version of FUSE with their software. That‘s why you need to install FUSE after Private-Public.

Ultimately this is an issue that LaCie would need to look into as it is happening with their their software.

[2020-08-22 23:46] Artoria2e5 commented on #698
This is a EOPNOTSUPP. How are you mounting it, like what exactly are your flags?

[2020-08-22 23:49] Artoria2e5 commented on #703
Now that NTFS-3G got their ENOATTR thing together, this is still partially failing: `chmod +a` works but `chmod 644` doesn't. The worst part is that I can't even see a `setattr` or a `chmod` request in the debug log. Any idea what kind of macOS security magic this is?

Nevermind, `inherit` is on.

[2020-08-23 08:26] Sculptort commented on #715
Thank you for your reply but Lacie have washed their hands about my problem. Apart from paying out to a lawyer I am lost as what I should do next? I will try and find and load the last version of Private-Public and see if that works

[2020-08-23 08:30] Sculptort commented on #716
How do I contact Cryptomator team. I am new to all this and the site. A
total newbie to any kind of programing or anything technical with computers.
Kind regards
Terry

On Sat, Aug 22, 2020 at 10:58 AM Benjamin Fleischer <
notifications@github.com> wrote:

[2020-08-23 08:30] Sculptort commented on #715
Thank you for your reply but Lacie have washed their hands about my
problem. Apart from paying out to a lawyer I am lost as what I should do
next? I will try and find a load the last version of Private-Public and see
if that works

On Sat, Aug 22, 2020 at 11:03 AM Benjamin Fleischer <
notifications@github.com> wrote:

[2020-08-23 09:33] bfleischer commented on #715
If you know that Lacie Private-Public works on a specific version of macOS you could set up a virtual machine with that specific version of macOS, open your vaults and copy their contents to another place. This will be quite some work, but it might be a viable option to rescue your data. That's pretty much all the advice I can offer.

[2020-08-23 09:33] #715 closed, assigned to bfleischer

[2020-08-23 09:38] bfleischer commented on #716
@Sculptort If you google "Cryptomator", their [website](https://cryptomator.org) is the first hit. You can find the support options in the footer of the Cryptomator website.

[2020-08-23 12:23] Sculptort commented on #715
My problem is that I cannot find a Lacie Private-Public download for Mac
anywhere on the web including Lacie. I have tried about 15 sites that say
they can provide this but none can.

On Sun, Aug 23, 2020 at 10:33 AM Benjamin Fleischer <
notifications@github.com> wrote:

[2020-08-23 17:07] Sculptort commented on #715
Ok I now have Lacie manager for High Sierra but still having problems with the OSFUSE

[2020-08-24 20:01] uwillenbacher opened #717 "Write permission"
Hello,

First up, let me Thank you for this wonderful App.

So I am using Banktivity on my MacBook Pro (Catalina) and I am used to store my data on Dropbox, I am using cryptomator to crypt my data and it in turn uses FUSE to virtual mount the de-crypted data on my Mac.

When I try to safe my data I get a dialog box claiming that I need to change permissions, i.e. can not write the data. I checked

[2020-08-25 17:34] benchchen888 opened #718 "On Catalina 10.15.6, I can only see folders in finder, but not files"
My version of OSX is Catalina10.15.6. I have installed osxFuse 3.11.0 and NTFS-3G, and I have disabled SIP. I use "`Sudo Ln -s /usr/Local/Cellar/NTFs-3G/2017.3.23_3/sbin/mount_ntfs /sbin/mount_ntfs`" for automatic mount, but I can only see folders in finder, but not files. Files can be viewed using the terminal "`ls /Volume/ XXX`", but using the terminal "`mv /Volumes/Software/xxx.dmg ~/Downloads`

[2020-08-26 00:05] Jinchuurikki opened #719 "Error message AskPassTool is missing"
I use FUSE for MacOS v3.11.0 in combination with Forklift v3.4.1 on a macbook running Catalina MacOS.
I have been happily using this combo for the past couple of weeks, using the the feature "Mount as Disk”.
This morning I mounted a hard drive to upload a file (about 1.4 GB in size) to the server but I kept on receiving an error after about 300-500 MB.
So I thought to check for updates for Forklif

[2020-08-26 00:07] #718 closed, assigned to nobody

[2020-08-26 03:01] viniciusbossle commented on #574
To change "auto mount" of MacOS, you just need to edit /usr/local/sbin/mount_ntfs (a bash script) and add "-o auto_xattr" parameter to command line.

[2020-08-26 03:52] bfleischer commented on #719
Please get in touch with the ForkLift support team. They need to look into this. Furthermore I would like to add that ForkList is not contributing to the continued development of FUSE for macOS.

[2020-08-26 05:18] Jinchuurikki commented on #719
I will do.
Thanks Benjamin for your reply.

Best regards
Pietro Lubich

Mob 027 463 5253  |  Skype live:pietro_556

[2020-08-26 09:06] kronosboy opened #720 "auto mount not working well"
mounting the HD using
`sudo /usr/local/bin/ntfs-3g /dev/disk1s1 /Volumes/NTFS -o local -o allow_other -o auto_xattr -o auto_cache`
using **-o auto_xattr** works fine
but if I replace the Mac Os mount tool with the one of ntfs-3g doing
`sudo ln -s /usr/local/sbin/mount_ntfs "/Volumes/Macintosh HD/sbin/mount_ntfs"`
The HD can be mount in read/write mode but can't see preview or open file directly fo

[2020-08-26 15:39] 0jg opened #721 "osxfuse mounted drive may cause kernel panics and Finder issues on Big Sur"
Hi,

On every use of osxfuse on Big Sur (build 20A5354i, latest developer beta), osxfuse seems to be causing issues with Finder. If I am dealing with files on a mounted remote server, Finder always hangs and requires a restart. When restarting, it shows the error `LSOpenURLsWithRole() failed with error -1 for the file /System/Library/CoreServices/Finder.app.`.

My Mac then frequently kernel panics

[2020-08-26 15:41] bfleischer commented on #721
Could you please post the panic log?

[2020-08-26 15:59] 0jg commented on #721
Sure—here is one of the logs. I'm not sure I can see anything related to sshfs/osxfuse, but the panics always seem to happen when using a mounted drive.

https://gist.github.com/j-griffiths/03f38663d6aae012d400c145610d1b86

[2020-08-27 14:04] dfg-re commented on #574
thanks @viniciusbossle. It works and mounts automatically the drive.

MacOS: Catalina
Version: 10.15.6

[2020-08-27 14:16] 0jg commented on #721
The kernel panics and Finder crashes seem to have been resolved with a PRAM reset and disk First Aid (although it seems the PRAM reset is the magic thing to do!) This seems to be a repeating issue with the latest beta and—I believe—not specific to osxfuse, e.g., https://developer.apple.com/forums/thread/657905.

[2020-08-28 00:45] bfleischer commented on #721
Thanks for the update and the link to the developer forum. The panic log you posted does not contain any indication that FUSE might be to blame. The FUSE kernel extension was not loaded at the time of the crash.

[2020-08-28 00:45] #721 closed, assigned to bfleischer

[2020-08-28 21:25] bfleischer commented on #720
Please raise this issue with the NTFS-3G team. The mount script is not part of FUSE for macOS.

[2020-08-28 21:25] #720 closed, assigned to bfleischer

[2020-08-29 18:58] bfleischer commented on #717
Please raise the issue with Cryptomator support. They need to look into this.

[2020-08-29 18:58] #717 closed, assigned to bfleischer

[2020-08-29 19:09] bfleischer commented on #713
I have not seen this issue before. Apple has not released debug symbols for this particular version of the kernel. This means I can only symbolicate the two FUSE calls in the stack. But this does not really help.

[code]

Can you reproduce the issue with macOS 10.15.6 and post another panic log?

What did you do to trigger the issue? Can you provide some repro steps?

[2020-08-30 00:27] uwillenbacher commented on #717
I did... no response yet. thank you...

[2020-08-30 14:23] izackp opened #722 "Mac OS 11.0 SDK and Arm64 Support"
- Build scripts need to be updated to accept sdk 11
- Projects need to change so valid architectures include arm64 and possibly arm64e
- PAGE_SIZE is no longer a constant which causes some build issues in mount_osxfuse and osxfuse projects
- The build script eventually ends with this error "T:prefpane           | Failed to locate autoinstaller" which I'm not sure what is trying to find it and wher

[2020-08-31 20:24] bcarusodev commented on #574
thanks @viniciusbossle very useful

[2020-09-01 04:22] calishajj opened #723 "Unable to contact update server"
Help! This software has saved me before from having to buy a new laptop. My macbook is old and apple system updates no longer work on it. When that happened everything stopped wanting to work. I found Fuse and downloaded the 3.8 version and it worked beautifully to update my system. Well it's time again and I got the new Fuse 3.11.0. but every time I click check for updates it says unable to conta

[2020-09-01 07:25] bfleischer commented on #723
Legacy versions of macOS do not support the latest TLS standard (https) required for contacting the update server. You will have to download the latest version of FUSE and install it manually.

[2020-09-01 07:25] #723 closed, assigned to bfleischer

[2020-09-04 14:19] Miroslav-Ivanov opened #724 "Xcode 11.7 not able to install osxfuse"
Hi all. I am having troubles installing osxfuse from command line trough MacPorts.

The issue is : Assertion 'common_variable_is_legal_name XCODE_SDK_10_15.6_XCODE' failed

Please find error code from terminal.

Assertion 'common_variable_is_legal_name XCODE_SDK_10_15.6_XCODE' failed
at array_create (./build.d/lib/array.sh, line 47)
at xcode_find_sdk_add (./build.d/lib/xcode.sh, line 49)
at array_

[2020-09-04 14:21] #724 closed, assigned to nobody

[2020-09-05 00:58] rafaeltrojan opened #725 "all files have hidden in the finder on external HD"
I've used an external HDD, with NTFS on Mojave.
The first time the mount worked, but now the finder does not show the HD files.
I think that the files is there, because the capacity used is the same...

[2020-09-05 01:15] bfleischer commented on #725
Please report the issue with the NTFS-3G developers. There is nothing I could do to help you. FUSE for macOS and NTFS-3G are independent projects.

[2020-09-05 01:15] #725 closed, assigned to bfleischer

[2020-09-09 12:46] tholu opened #726 "Mounting NTFS via VeraCrypt fails again on Big Sur Beta 6"
After the release of 3.11.0 (see #705) everything worked fine (mounting NTFS via VeraCrypt).

However after updating to MacOS Big Sur Beta 6 - 11.0 Beta (20A5364e) - it fails with the following error message: `hdiutil attach failed - no mountable file systems`

When trying to mount manually with Tuxera Diskmanager, the error message is the following:
`Error while mounting disk2: Too many levels of

[2020-09-09 19:30] zambaras commented on #726
I'm also having this problem on the latest Big Sur developer build.  My VeraCrypt containers are located on a remote SMB volume and I initially thought this was related but after moving them locally I'm having the same problem.  Hope this gets sorted soon.

[2020-09-10 15:33] samvanstroud opened #727 "Unsupported macOS Version on MacOS 10.15 and FUSE 3.11"
Hi,

I have just updated to MacOS 10.15.6.

I also updated FUSE to 3.11.0, so I should be compatible with MacOS 10.15.
![Screenshot 2020-09-10 at 16 26 59](https://user-images.githubusercontent.com/16232199/92754206-84f26e80-f382-11ea-9a54-2eb63b05c50b.png)

When running sshfs, at the command prompt I get
`mount_osxfuse: the file system is not available (2)`

The following dialog appears.
![Screen

[2020-09-11 05:16] watanaberyunosuke commented on #726
I am currently having the issue with cryptomator. The error message as follow:

: ru.serce.jnrfuse.FuseException: Unable to mount FS, return code = 1
	at ru.serce.jnrfuse.AbstractFuseFS.mount(AbstractFuseFS.java:283)
	... 14 more

[2020-09-11 09:12] ketsapiwiq commented on #698
I had the same problem, had to mount it with `-o local -o allow_other -o auto_xattr -o auto_cache` instead of only `-olocal -oallow_other`. Found this solution from #704.

[2020-09-15 00:05] Jimbow500 commented on #518
Try adding `-o allow_other`

[2020-09-15 09:07] #727 closed, assigned to nobody

[2020-09-18 19:21] tholu commented on #726
Works again in Big Sur Beta 7 - 11.0 Beta (20A5374g).

[2020-09-18 19:21] #726 closed, assigned to nobody

[2020-09-20 08:07] berni0108 commented on #574
Great! 👍 Worked for me as well on macOS Catalina 10.15.6
Thanks @viniciusbossle

[2020-09-25 22:46] tormodwill opened #728 "Fuse will only load with SIP disabled"
MacOS Mojave  10.14.6

Disabled SIP :
`Tormods-MacBook-Pro:~ tormod$ kextstat|grep fuse
 164  0 0xffffff7f84831000 0x1a000  0x1a000  com.github.osxfuse.filesystems.osxfuse (3.11.0) E8885520-BA4F-3A9F-92C5-03F90FF86802 <8 6 5 3 1>
Tormods-MacBook-Pro:~ tormod$ `

all sshfs and commands work when
`csrutil disable`

When
`csrutil enabled`

Then there is no output of the commad
`kextstat|grep fuse
`

[2020-09-29 04:51] iaxat opened #729 "Git not working with macFUSE 4"
Hello I am trying to clone repositories inside my google drive which is mounted to my system using Rclone and have install OSX Fuse from the website. But the cloning is not happening.

Although I am able to write text files or just copy or paste or open and edit but the cloning is not working, and since the cloning itself is not working I can for sure say the other git commands will not work but t

[2020-10-01 22:14] amgdeveloper commented on #574
I'm having this problem with macOs 10.14, I used to follow [these steps ](https://coolestguidesontheplanet.com/how-to-write-to-windows-ntfs-external-disk-drives-on-macos-mojave-and-sierra/) to be able to write in NTFS partitions. But I don't know what has changed in my computer. I've tried executing sudo /usr/local/bin/ntfs-3g /dev/disk2s1 /Volumes/test/ -olocal -oallow_other -oauto_xattr but I st

[2020-10-01 22:18] amgdeveloper commented on #725
Did you manage to solve it?, I'm having the same problem

[2020-10-02 21:02] tsimmons opened #730 "New releases but no new source, repo not updated; source code download only includes license.txt"
Where is the source code? It would be nice to see a changelog and view the source code changes.

The last commit to the repo is 2017 but there have been several releases since then, plus the "source code" downloads from the releases page only includes license.txt.

[2020-10-02 21:07] tsimmons commented on #730
Oh, my bad. I failed to properly research this; This project hasn't been open source for quite some time, [see this thread](https://groups.google.com/g/osxfuse-group/c/_5PBFQ_BQB8/m/z1mu2H0rFAAJ?pli=1).

[2020-10-02 21:07] #730 closed, assigned to nobody

[2020-10-04 03:04] flumiie commented on #574
Is there any way I can run ntfs-3g command on startup? I tried it via LaunchDaemons but It has been unsuccessful for me and I don't want to run the command every startup

[2020-10-04 04:42] ColinInBelgium commented on #445
Three years later ... I have the same problem with the latest version of OSXFuse : Hangs at end of validation when I check the needed "MacFUSE Compatibility Layer".

Does anyone have a solution? Thanks.

[2020-10-04 07:40] ColinInBelgium opened #731 "OSXFuse Installation Hangs when Compatibility Layer Option selected"
OSXFuse and Veracrypt were working until I reinstalled Mojave 10.14.6

When I try to reinstall OFXFuse (including compatibility layer for legacy MacFUSE file systems) it hangs at the end of the "validation of packages”:
![Screenshot 2020-10-04 at 09 37 01](https://user-images.githubusercontent.com/54828701/95009816-2a68cd00-0625-11eb-8426-909a1bd574c7.png)

It installs without that option, but on

[2020-10-07 03:35] nvmnghia opened #732 "Cannot select installation disk"
I'm stuck at this:

![image](https://user-images.githubusercontent.com/22721156/95284623-d100d800-0888-11eb-9e7a-c448d74b0240.png)

Furthermore, when installing with homebrew, I get this error:

[code]

How can I fix this?

[2020-10-08 02:28] rickygm commented on #704
I have the same problem with Catalina 10.15.7, when it is copying a file to a drive it gives me that error 100096.

any news?

[2020-10-08 06:00] pat-s opened #733 "Issues on Big Sur Beta 9: "Missing extension with identifier com.github.osxfuse.filesystems.osxfusefs""
When upgrading via `brew` I see

[code]

I've run `/Library/Filesystems/osxfuse.fs/Contents/Resources/load_osxfuse; echo $?` as suggested in #705 which returned 0 and also allowed the app in the system extension panel (including a reboot).

[2020-10-08 06:21] bfleischer commented on #733
Please report this issue to the Homebrew team. The identifier `com.github.osxfuse.filesystems.osxfusefs` is not correct. It needs to be `com.github.osxfuse.filesystems.osxfuse`. And it should not be necessary for Homebrew to unload the FUSE kernel extension. The FUSE installer already does this.

[2020-10-08 06:21] #733 closed, assigned to bfleischer

[2020-10-08 06:24] bfleischer commented on #732
I don't know what might be causing your root volume not showing up in the installer, but this looks more like a macOS issue than a FUSE issue. You will probably run into the same issue with other installers, too. The best might be to raise the issue with Apple support.

[2020-10-08 06:24] #732 closed, assigned to bfleischer

[2020-10-08 07:21] pat-s commented on #733
Could it be that the macOS internal identifier changed somehow between Catalina and BigSur? I see that the correct one exists in the homebrew formula and guessing that something happens behind scenes.
Hence I am not sure what if there is anything that can be done on brew's side.

It fails when purging the old install - maybe it works if I trigger a manual uninstall and a fresh install again?

[2020-10-08 07:28] bfleischer commented on #733
The `kextunload` command (with the wrong bundle identifier) is called by Homebrew. This is not done by macOS or FUSE.

The cask contains the wrong identifier: https://github.com/Homebrew/homebrew-cask/blob/master/Casks/osxfuse.rb

[2020-10-08 08:00] pat-s commented on #733
Ah!

I changed it locally and wondered because the install still failed. I got confused because the diff is only the `fs` at the end.

Somehow the old identifier is still used for purging even when the formula is updated.

The following worked

[code]

[2020-10-09 14:03] Tomon613 opened #734 "On Catalina "Assertion 'common_variable_is_legal_name XCODE_SDK_10_15.6_XCODE' failed""
Trying osxfuse installation from source on catalina (macOS 10.15.6), ./build.sh stoppped with below message:
[code]

How can I fix it?

[2020-10-09 14:07] bfleischer commented on #734
FUSE for macOS is no longer open source. The source code in the repository (version 3.8.3) does not support macOS 10.15.

[2020-10-09 14:07] #734 closed, assigned to bfleischer

[2020-10-10 10:39] ThomasWaldmann commented on #390
`borgbackup` currently uses `python-llfuse` (which is unmaintained and uses libfuse 2).
The successor project `pyfuse3` requires libfuse3.

So, to keep `borg` running on macOS, we'll need libfuse3 api at some time in the not so far future.

[2020-10-14 08:53] vijaynr opened #735 "Open System Preferences dialog keeps on showing up."
Hi, first and foremost, Thanks for this wonderful framework. It solves most of our problems.

I have a fresh installation of macOS 11 Beta. Then,  when I try to install MyApp which installs osxfuse along with it on that machine, it asks us to navigate to 'System Extensions -> General' and approve the System Extension that's getting loaded. But When I click OPEN, it goes away and comes back again a

[2020-10-14 09:01] bfleischer commented on #735
Until the kernel extension has been allowed to load by the user, the alert is displayed on every mount attempt. It looks like something on your Mac tries to mount a volume again and again and again ...

[2020-10-14 09:50] vijaynr commented on #735
Yes, you are correct the application which uses osxfuse tries mounting again and again. Now the follow-up question, Does the alert only come when the mount happens?  Or does it come immediately after osxfuse is installed? I would prefer the alert immediately after install though.

[2020-10-23 12:43] rwiesbach commented on #437
Based on the comments I don't know yet whether the absence of the button (not the disfunctionality) is caused by the same issue on other Mac OS Versions. In Console (which to me is a synonym for shell or terminal, but not in the world of biten fruits) I was not able to find out which application causes the absence
 of the button on my 10.14 machine.

Thats a really stupid idea from Apple. Instead

[2020-10-28 20:36] dmilojkovic76 commented on #574
Thanks @viniciusbossle.

Also, thanks to @lezgomatt.

`-o auto_xattr` fixed it for me on Mojave 10.14.6.

[2020-10-30 07:58] dragonandy commented on #574
ITS NOT a osxfuse bug.The problem may be the `mount_ntfs` mounting scipt.ntfs-3g still works on macOs Catalina 10.15.6 with some modification
INFACT you will need mounting parameter `-o auto_xattr` in the script
first I found this online how macports make ntfs+osxfuse works in finder

backup `mount_ntfs` to `mount_ntfs.orig` and try modified `mount_ntfs` script

put the script below into `mount_nt

[2020-10-30 08:30] bfleischer commented on #722
Version 4.0.0 adds support for Apple Silicon.

[2020-10-30 08:30] #722 closed, assigned to bfleischer

[2020-10-30 09:45] Cyberbeni opened #736 "Duplicate prefpane after installing 4.0.0"
Updating through the old pref pane failed and when I downloaded the installer manually and installed the update (it said update for both the framework and the prefpane), the old prefpane remained but a new one (macFUSE) also appeared.

[2020-10-30 09:49] bfleischer commented on #736
Thanks for reporting the bug. Until the issue is fixed, you can remove the old preference pane manually by ctrl-clicking on it and selecting "Remove ..." in the context menu.

[2020-10-30 14:43] FGasper opened #737 "4.0.0: Installer prefs pane needs title?"
I see this when trying to install in Mojave:

![image](https://user-images.githubusercontent.com/844867/97718776-b216ef80-1a9c-11eb-8803-b9449446385d.png)

[2020-10-30 14:44] bfleischer commented on #737
Which version are you trying to install? 4.0.0?

[2020-10-30 16:07] FGasper commented on #737
Yes, sorry.

[2020-10-30 17:28] vijaynr opened #738 "Update available: 3.11.2 is shown for macFuse 4.0.0"
![image](https://user-images.githubusercontent.com/17999110/97737275-cdb4e100-1b02-11eb-907e-60188c58cf0e.png)
This is after installing the macFuse 4.0.0.

[2020-10-30 17:32] bfleischer commented on #738
The latest non-beta version is 3.11.2. If you check the "Show Beta Versions" checkbox, it will say 4.0.0 is the newest release.

The behavior is not ideal, but I don't consider this a bug.

[2020-10-30 17:32] #738 closed, assigned to bfleischer

[2020-10-30 18:55] bfleischer commented on #737
Fixed in the upcoming 4.0.1 release.

[2020-10-30 18:55] #737 closed, assigned to bfleischer

[2020-10-30 22:05] patdiddy opened #739 "preferences pane says 3.11.2 installed even after running a manual install"
When I tried using the "update FUSE" option in the preferences pane, nothing happened, so I downloaded the installer. After it was successfully installed, I manually allowed it to run in the security preferences pane. Upon returning to the FUSE pane, it's still saying that I don't have 4.0.0 installed. I'm running macOS 10.15.7 on MacBookPro16,1.

A screenshot is attached below
[Screen Shot 2020-1

[2020-11-01 04:19] whitewhidow opened #740 "failed to mount FUSE fs: exit status 1 when run in github runner on osx11"
hi,

When trying to perform a mount action using `rclone` on an **osx11(big-sur) github runner**, without installing osxfuse first, it will ofcourse error saying it needs osxfuse, which makes sense, however.

When i do in fact install osxfuse, it still errors saying:
`failed to mount FUSE fs: exit status 1`

_Now, i know that osxfuse seems to normally require a reboot, **however**,_

**i have the

[2020-11-01 10:08] KORraNpl commented on #740
@whitewhidow AFAIK, restart is needed on Big Sur, it's a new thing. See: https://developer.apple.com/documentation/macos-release-notes/macos-big-sur-11_0_1-beta-release-notes

[2020-11-01 10:43] bfleischer commented on #740
You need to follow the instructions displayed by the FUSE installer/mounter and macOS Big Sur. Big Sur will tell you if a reboot is required, when allowing the kernel extension to load in system preferences. Big Sur requires a restart before new or updated kernel extensions can be loaded.

[2020-11-01 10:43] #740 closed, assigned to bfleischer

[2020-11-01 16:07] bfleischer commented on #736
The issue is fixed in the upcoming 4.0.1 release. Upgrading from version 3 to version 4.0.1 will remove all files from version 3.

[2020-11-01 16:07] #736 closed, assigned to bfleischer

[2020-11-01 16:14] bfleischer commented on #731
The "Validating packages" phase is managed by the macOS installer automatically. I cannot reproduce the issue and I don't think there is anything I can do about it.

However, the compatibility layer was only intended for Google MacFUSE 2.x based file systems. The Google MacFUSE project was abandoned more that 10 years ago, therefore the compatibility layer should no longer be needed. In fact, macF

[2020-11-01 16:14] #731 closed, assigned to nobody

[2020-11-01 16:49] bfleischer commented on #550
macFUSE 4.0.0 supports dark mode on macOS 11. The new 4.0.1 release also supports dark mode on macOS 10.14 and 10.15.

[2020-11-01 16:49] #550 closed, assigned to bfleischer

[2020-11-01 23:04] AlbertHusniaux commented on #739
Similar issue.  Preference pane shows version 4.0.1 as the installed version, but mentions there is an update available, 3.11.2 being mentioned.  Weird: it should mention that no update is available.  By the way: it does not display OSXFUSE in the prefence pane, but macFUSE.
How should I correct this?

[2020-11-02 08:54] AlbertHusniaux commented on #739
Screenhot pertaining to the previous comment.

<img width="671" alt="macFuse Preference Pane error" src="https://user-images.githubusercontent.com/39201940/97848391-4da09e00-1cf1-11eb-8e3b-093dce328702.png">

[2020-11-02 09:06] bfleischer commented on #739
There are two seeds:

* the stable release seed and
* the developer release seed (beta versions)

The preference pane checks if you are on the latest version for the selected seed. If you are not it will provide the latest version on the seed as an update.

You installed version 4.0.1 (developer release), but you did not select "Show Beta Versions". So you specifically told the updater that you wa

[2020-11-02 09:06] #739 closed, assigned to nobody

[2020-11-02 09:08] bfleischer commented on #735
The alert is displayed by the FUSE installer if is it not run silently in background.

[2020-11-02 09:08] #735 closed, assigned to bfleischer

[2020-11-02 09:13] AlbertHusniaux commented on #739
Solved.  Thank you.

[2020-11-02 09:15] bfleischer commented on #728
All official releases of FUSE are properly signed and notarized to load fine with SIP enabled.

If it does not load for you, the issue is most likely caused by something on your Mac. The FUSE installation might be damaged or there could be a system policy preventing third party kernel extensions from loading.

[2020-11-02 09:15] #728 closed, assigned to nobody

[2020-11-02 09:19] AlbertHusniaux commented on #739
Dear Benjamin,

I appreciate your quick reaction.

i had a tick in the “developer” box in the previous preference pane, the OSX Fuse one.

For some reason, this tick disappeared when upgrading to the 4.0 version.

I had to manually delete the older preference pane as well and restart the Mac, when performing this update.

All seems fine now.

Congrats for the product and your speedy reaction.

Cor

[2020-11-02 09:52] tormodwill commented on #728
Hello

Thanks for the reply.

Here is some of the things I have done to my mac :
https://discussions.apple.com/thread/251719580?page=2 <https://discussions.apple.com/thread/251719580?page=2>
Any idea what causes SIP to shut down Fuse ?

I also find that other user have the same problem :
https://groups.google.com/g/osxfuse-group/c/J-jpwgWaJK4 <https://groups.google.com/g/osxfuse-group/c/J-jpwgWaJK

[2020-11-02 11:36] whitewhidow commented on #740
ah ok ,   so so far,   this is normal and expected behaviour then right? > (no reboot for catalina needed, bir-sur does need reboot)

outside of the normal install, is there ANY way to get this kernel extention loaded without a reboot AT ALL on big-sur (like modprobe on linux), that i could use to have my CI tests not fail (they cannot be rebooted, so will never be able to mount now ?))

thx for t

[2020-11-02 11:39] whitewhidow commented on #740
when using the actual gui,  that actuall seems to also be the case on catalina, ask you to unlock settings and allow unsigned things, and also tells me to reboot (even tho its not actually needed appearantly...)

, yet the gitlab catalina runner does all this, and works, without a reboot or manual interaction

[2020-11-02 11:45] bfleischer commented on #740
Big Sur builds a cache containing all allowed kernel extensions. It will only load extensions from that cache. Swapping the cache requires a reboot. There is no obvious way around the reboot requirement. Please raise this issue with Apple.

[2020-11-02 11:52] whitewhidow commented on #740
ok thx !

[2020-11-02 11:56] whitewhidow commented on #740
sorry to bother you with one final question,   any idea on a timeline as to when the new (currently)prerelease version will appear in brew ? (are we talking days, or probably more like weeks atleast)

[2020-11-02 16:20] NorseGaud commented on #729
The best thing to do is to provide steps to replicate this. This also should include versions of macOS, FUSE, etc.

[2020-11-02 16:26] #719 closed, assigned to bfleischer

[2020-11-02 16:31] bfleischer commented on #687
I highly doubt this is caused by FUSE.

[2020-11-02 16:31] #687 closed, assigned to nobody

[2020-11-02 16:33] #685 closed, assigned to nobody

[2020-11-02 16:54] vincbeaulieu commented on #687
Well it only happened when I mounted Fuse and it was every time. Then when I restarted the computer, the admin session I was using was now corrupted. I had to go create a new admin account from the guest account. Every single time that I used SSHFS. I have uninstalled it, and reinstalled it, and I was still having the same issues. The only way I manage to stop getting those issue is by stopping us

[2020-11-02 17:04] bfleischer commented on #687
FUSE does not create items in the Finder's sidebar. FUSE does not contain any code to do so. You the only one who reported this issue. This makes me believe it is caused by something on your Mac or the way you are using SSHFS.

Unless you overlay any system folders in your user account or the Volumes folder with your mount point I don't see how using FUSE could corrupt your user account. You did n

[2020-11-02 17:19] vincbeaulieu commented on #687
You are probably right. If I ever come back to the app I'll be more specific went encountering such an issue. But I really appreciate that you have given feedback.

[2020-11-02 17:55] bfleischer commented on #740
I'm usually promoting new releases to stable after one or two weeks, if no bugs are reported. I cannot speak for Homebrew.

[2020-11-02 20:38] lukeweller commented on #45
I'm running into the same problem as of November of 2020.  Whenever sshfs breaks, I'm unable to kill it or restart it without rebooting.  In addition, it also blocks every process that attempts to access the affected directory (mount, umount, diskutil, hdiutil, find, ls, cd, etc.).  These blocked processes don't respond to ctrl-c, and I'm forced to open up a new shell and send a kill signal to sto

[2020-11-03 00:07] mixtly87 opened #741 "Getting kext load failed error when switched to macFUSE 4.0.1"
So I updated OSXFUSE to macFUSE and replaced the OSXFUSE.framework with macFUSE.framework in my app and now I have an issue with macFUSE 4.0.1. When my app tries to mount the volume, the following error occurs:

[code]

I'm mounting like this:
[code]

macOS Big Sur 11.0.1 Beta (20B5012d)
MacBook Pro (Retina, 13-inch, Late 2013)

Did anyone encounter similar issue?

Also, I have some questions:
1.

[2020-11-03 14:21] kwcooper commented on #45
Interesting those didn't work for you. I use those commands so often I set
up aliases.

`alias fixFS="killall sshfs"`
`alias MTFX="umount -f ~/<mount directory>"`

Just to add another example of the problem on my 2019 MBP running 10.15.6

On Mon, Nov 2, 2020 at 12:39 PM Luke Weller <notifications@github.com>
wrote:

[2020-11-03 19:44] lukeweller commented on #45
@kwcooper Thanks for taking the time to respond.

Would you be able to share the output of `ps aux | grep sshfs` and `ps aux | grep mount` on your system right before you call those two aliased commands?  I think it might be possible that my specific issues are my own doing, and not the fault of sshfs (at least not entirely).

For reference, my output when running those commands is currently:
[cod

[2020-11-05 00:37] wez opened #742 "document new mount protocol for 4.0.0"
Over in https://github.com/facebookexperimental/eden we talk directly to the kernel component of both linux and osxfuse so that we are able to migrate live mounts from one version of the software to another without unmounting (we call this mechanism "graceful restarts").  We don't (cannot!) use libfuse and we perform our own `mount` syscall with appropriate mount options.

With the new 4.x release

[2020-11-05 02:37] hmijail opened #743 "version mismatch?"
I'm trying to build libfuse/sshfs, which requires osxfuse. So I installed FUSE for macOS 3.11.2.

The sshfs build fails because it tries to find `fuse3` through `pkg-config`.
But `pkg-config`'s packages only list a `fuse` which says `Version: 2.9.7`.

So, what is the actual library version of osxfuse? Should the pkg-config file list another version number?

[2020-11-05 15:21] bfleischer commented on #743
FUSE for macOS 3.11.2 ships with a modified version of libfuse 2.9.7. You will need to use sshfs 2.x.

[2020-11-05 15:21] #743 closed, assigned to bfleischer

[2020-11-05 20:42] iaxat commented on #729
System information:
Macos - Catalina - 10.57
OSxFUSE - Latest Version

The steps are as follows:
1. Install FUSE from website
2. Install rclone
3. Create gdrive in rclone
4. Mount using Rclone
5. Clone any github repo using git to the mounted drive

This cloning used to work in linux and still does, like ubuntu. But does not work and there is some issue with FUSE or may be some specific setting th

[2020-11-07 16:47] mascguy commented on #616
@bfleischer I'm interested in providing voluntary contributions to the project, if that's an option.

[2020-11-08 15:04] bfleischer commented on #616
@mascguy Thanks for your offer. You can find my email address on my GitHub profile. How would you like to contribute?

[2020-11-08 15:42] mascguy commented on #616
I'd like to volunteer my time, in whatever way I can. Whether it's testing, documentation, sample filesystems, social media... anything to reduce the burden of maintaining the project.

I'll reach out privately via e-mail.

[2020-11-09 17:54] xerc commented on #630
after upgrade from 10.13 to 10.14.6 (18G6032) sshfs fails with
[code]
tried most (?) combinations; brew (as before) than Stable Releases 3.11.2 + SSHFS and Beta 4.0.2
=> kext will not show up in kextstat, not in folder nor @ Settings > Security > General .. any ideas?

[2020-11-10 09:06] okla commented on #720
@kronosboy You can `sudo nano /usr/local/sbin/mount_ntfs` and add **-o auto_xattr** line here

[2020-11-10 12:50] xerc commented on #630
the first folder was fix'd via RecoveryMode (looks like the upgrade/SIP missed to change this)
`chflags restricted /private/var/db/KernelExtensionManagement`
[code]

[2020-11-12 20:08] mixtly87 commented on #741
I deleted macFUSE and then installed the OSXFUSE latest version, restarted the MBP, but I'm still getting the error:
[code]

in my app console. Should I completely reinstall the macOS? I'm using macOS Big Sur 11.0.1

[2020-11-12 20:14] mixtly87 commented on #741
When I try manually:
[code]

Does anyone have a hint on how to fix the state?

[2020-11-12 21:52] surak commented on #347
Interestingly, this error reappeared with MacFuse 4.0.2

[2020-11-13 00:33] fjarlq commented on #616
These [Homebrew](https://brew.sh/) packages will no longer be supported by Homebrew due to their dependence on FUSE, which Homebrew can no longer afford to support as an external dependency (as a "cask", in Homebrew parlance):

afuse, archivemount, avfs, bindfs, btfs, cryfs, curlftpfs, dislocker, encfs, ext2fuse, ext4fuse, fuse-zip, gcsfuse, gitfs, gocryptfs, goofys, ifuse, mp3fs, ntfs-3g, rofs-fi

[2020-11-13 08:40] MyopicPaideia commented on #741
Getting the same error all of the sudden as well trying to mount my GDrives via rclone. It started while I was still on OSXFuse so I tried to update to macFUSE to fix it - no dice.

But it is still working on my 2016 13,1 MBP using the same macOS 11.0.1 and the latest OSXFUSE? Weird.

Have tried updating, have had multiple reboots, etc.

     dlg@MBP1422017 ~ % rclone mount TTCAB: /Users/Shared/rc

[2020-11-13 14:09] dziny commented on #741
I'm seeing the same issue after upgrading two separate computers. Kext does not load with the error as above (3rd post).

[2020-11-13 14:32] bfleischer commented on #741
I'm currently working on 4.0.3. It will address some compatibility issues.

macFUSE includes a OSXFUSE.framework symlink. Your App will continue to work just fine if you built it using OSXFUSE 3.

It is just a matter of linking against the new framework. The API is mostly the same. I removed some deprecated non-portal functions from libfuse and added new callbacks to the Objective-C framework. Hav

[2020-11-13 14:57] bfleischer commented on #741
Regarding the loading issues of the "kext load failed" issues:
-603946996 means kOSKextReturnValidation (Validation failures encountered; check diagnostics for details)

Can you please check if the following paths exist?

`/Library/StagedExtensions/Library/Filesystems/osxfuse.fs/Contents/Extensions/10.11/osxfuse.kext`

For macFUSE 4 ist should be

`/Library/StagedExtensions/Library/Filesystems/mac

[2020-11-13 15:00] bfleischer commented on #713
There is nothing I can do without feedback, closed.

[2020-11-13 15:00] #713 closed, assigned to bfleischer

[2020-11-13 15:17] MyopicPaideia commented on #741
The path exists for me (macFUSE 4) - Do I delete only the kext file itself, or the entire macfuse.fs package?

I see no macFUSE kext file in the StagedExtenstions folder

[2020-11-13 15:43] bfleischer commented on #741
Try deleting `/Library/StagedExtensions/Library/Filesystems/macfuse.fs`.
If `/Library/StagedExtensions/Library/Filesystems` is empty, delete the folder as well.
If `/Library/StagedExtensions/Library` is empty, delete the folder as well.

That is weird. But it would explain the kextload error log. macOS failed to stage the extension.

FUSE simply ties to load the kernel extension (similar to the ke

[2020-11-13 16:18] dziny commented on #741
I can confirm: there is no macfuse.kext in /Library/StagedExtensions but the directory /Library/StagedExtensions/Library/Filesystems/macfuse.fs existed, I've deleted since.
My upgrade was directly from Catalina to the just released Big Sur (without going through any beta version).

[2020-11-13 20:32] j-rahman commented on #550
@bfleischer Do you have a tentative date for when version 4.0.0. would be released?

[2020-11-14 08:31] iaxat commented on #729
Label should be changed, feedback has already been provided.

[2020-11-14 08:38] mcicak opened #744 "FUSE update to 4.0.2 from Preferences Pane is (somewhat) broken"
1. Open System Preferences
2. Open FUSE
3. Enable Beta versions
4. Click Update
5. Update fails with error message
6. Tap on FUSE in System Preferences; error shows: “FUSE” can’t be opened because it isn’t available.
7. Right click on FUSE icon and 'Remove FUSE Preferences Pane"; error "The operation couldn’t be completed. (install assistant error -200.)" is displayed

8. After closign System Pref

[2020-11-14 09:12] mixtly87 commented on #741
Good to know!

But what about projects built with and embedding macFUSE.framework?
Ie, currently I can't Archive my xcode (Xcode 12.2) project because it complains that OSXFUSE.framework doesn't support arm64 architecture. So I updated fuse on my MBP to 4.0.2 and included macFUSE.framework instead of OSXFUSE.framework in my project.
Will users still having 3.11.2 installed on theirs Macs be able t

[2020-11-14 12:49] dziny commented on #741
I've found the following workaround. After installing maxfuse 4.0.2 I didn't have the folder
/Library/StagedExtensions/Library/Filesystems/macfuse.fs/Contents/Extensions/11/
I've manually created it and placed macfuse.kext into it.
Then I've executed
sudo kextload /Library/StagedExtensions/Library/Filesystems/macfuse.fs/Contents/Extensions/11/macfuse.kext
and after approving it in Securing center

[2020-11-14 13:34] andreyboxti commented on #705
Hey!
I have just reinstalled fuse.
After that, you need to allow this software in the MacOS settings.

[2020-11-14 15:13] bfleischer commented on #741
Thanks for providing the workaround.

The kernel extension is not supposed to load automatically at boot time. It is loaded when the first FUSE file system is mounted. This means your script should not be required.

[2020-11-14 15:59] dziny commented on #741
Well it does not. If I don't execute loading the kext, my mount fails :(

[2020-11-15 19:32] bfleischer commented on #741
@dziny This could have many causes. Your workaround might not fix the issue. The file system you are using might not be compatible with the latest version of FUSE or it might use a third party library, that needs to be updated. Without more context it is impossible to make an educated guess.

[2020-11-15 19:41] bfleischer commented on #742
Ten days ago, I contacted you via email regarding the issue and an opportunity for Facebook to sponsor the continued development of FUSE on macOS. Since I have not received a reply, I was wondering, if you received my email.

[2020-11-15 19:41] bfleischer commented on #744
Have you tried closing (Quit) System preferences and then opening it again?

[2020-11-15 19:42] bfleischer commented on #744
What exactly is the error message?

[2020-11-15 19:45] mcicak commented on #744
After reopening system preferences, state was correct: macFUSE was displayed instead of previous FUSE.
However the initial experience of updating osxfuse to macFUSE beta was broken.
I'm not currently at the mbp but I stated the errors I got in the original message in this issue. They were shown in alert dialogs.

[2020-11-15 19:52] bfleischer commented on #744
Your ticket description does not contain the error message for step 5, or I am missing something. In any case, it would be great if you could update the description or point me to the message. Thanks.

[2020-11-15 19:54] mcicak commented on #744
Mhm I see. Ok, I'll investigate and try to reproduce and get back when I have more info.

[2020-11-16 12:19] MyopicPaideia commented on #741
Just want to update this. I got it to work in macOS 11.0.1 using the latest releases of macFUSE. All I had to do was disable SIP by restarting in recovery mode and doing `csrutil disable`, then restarting normally.

Then you run your mounting command once, triggering a warning about the extensions trying to be used. Allow the system extensions to be used, and then restart again one more time.

Now

[2020-11-16 12:33] bfleischer commented on #741
@MyopicPaideia You should not have to disable SIP in order to use macFUSE. macFUSE is properly signed and notarized. Even though disabling SIP seems to solve the issue for you, it is not be required in general.

[2020-11-16 12:42] MyopicPaideia commented on #741
@bfleischer understood, but I still had to allow it via System Preferences in the General section of the Security & Privacy pane. And Big Sur informed me that I would need to do a restart of the system in order for the allowed third party (yes properly signed, your name came up as the developer) extensions. Just saying...

I think my machine may have gotten its kernel extension cache locked, corru

[2020-11-16 13:27] bfleischer commented on #729
The issue is caused by an upstream change in libfuse.

[2020-11-16 15:54] iaxat commented on #729
What should be done about it? What are the ways that it can be solved.

[2020-11-16 15:55] mcicak commented on #744
Here are some more details: I tried to update FUSE 3.11.2 on another MBP to latest beta version.

When I pressed Update FUSE button it started the updated process which ended in showing System Preferences view with 'There was an error in FUSE preferences.' alert. Tapping the FUSE icon results in 'FUSE can't be opened because it isn't available.'.

Not sure if this is perhaps a bug in macOS's Syste

[2020-11-16 21:25] bfleischer commented on #729
I've reverted the change. It seems to be inherently flawed for file systems that call the filler function with non-zero offsets in the readdir file system callback. This will always trigger the EIO error you are seeing  with git.

[2020-11-16 21:25] #729 closed, assigned to bfleischer

[2020-11-16 23:20] mixtly87 commented on #741
What finally worked for me:
1. Uninstall macFUSE
2. Reboot into Recovery mode and in Terminal do `csrutil disable` - but as @bfleischer this step is probably not needed.
3. Reboot into macOS and install macFUSE or OSXFUSE.
4. Enable extension in Security & Privacy

(5. don't forget to `csrutil enable` if you did that step)

P.S.
I had no content in /Library/StagedExtensions folder

[2020-11-16 23:37] mixtly87 commented on #741
I can confirm that apps linked with OSXFUSE will work on systems having macFUSE installed.
However, vice versa does not apply of course: if you link your app with macFUSE, the target system must have macFUSE installed on it.

Conclusion would be that we should continue to link our apps with OSXFUSE for a while to give customers enough time to update their FUSE to macFUSE - once macFUSE is released

[2020-11-16 23:58] dziny commented on #741
This worked for me but not the last step. When I reenable `csrutil enable` the kext will not load. I had to do `csrutil enable --without kext`. If kext protection activated I never get the Security & Privacy popup.

[2020-11-17 00:14] bfleischer commented on #741
You will need to link against macFUSE 4, if you want to ship a native Apple Silicon (or universal) binary. If you are fine with Rosetta, linking against the old 3.11 release should work.

[2020-11-17 00:43] mixtly87 commented on #741
Oh yes! I dropped the Apple Silicon in my thoughts. Thanks for a reminder.

[2020-11-17 00:54] iaxat commented on #729
So does this require me to update to the new version, or will it get updated automatically?

[2020-11-17 07:53] bfleischer commented on #729
You will need to update to version 4.0.3 when it is released.

[2020-11-19 02:34] chfanghr commented on #668
Same here with Big Sur 11.0.1. Any progress after 10 months?

[2020-11-19 10:59] niceonegary opened #745 "Can't mount partition"
This is probably just user error but I'm getting the following when trying to mount a partition of an NTFS disk

NTFS signature is missing.
Failed to mount '/dev/disk4': Invalid argument
The device '/dev/disk4' doesn't seem to have a valid NTFS.
Maybe the wrong device is used? Or the whole disk instead of a
partition (e.g. /dev/sda, not /dev/sda1)? Or the other way around?

[2020-11-19 11:05] bfleischer commented on #745
`/dev/disk4` is the whole disk, not a partition. Try mounting the actual NTFS partition.

Please note that NTFS-3G and FUSE are independent projects. Please contact the NTFS-3G support for NTFS related questions.

[2020-11-19 11:05] #745 closed, assigned to bfleischer

[2020-11-21 16:37] florian-obradovic commented on #741
Anyway to get osxfuse (installed via brew, coming from catalina upgrade to big sur) working without the csrutil workaround?

[2020-11-22 18:17] helblinglilly commented on #347
I am also getting this error again. I thought it was BigSur related and I tried reinstalling MacFuse 4.0.3 after disabling csrutil as stated in #741 by mixtly87.
![Screenshot 2020-11-22 at 18 14 59](https://user-images.githubusercontent.com/29527289/99911838-e02fce00-2cee-11eb-9d72-dd0473a4c0e9.jpg)
![Screenshot 2020-11-22 at 18 15 05](https://user-images.githubusercontent.com/29527289/99911840-e1

[2020-11-22 22:39] bfleischer commented on #347
@CamperGuy The issue you are running into is not related to loading the kernel extension. The version of SSHFS, that you are using, was linked against a legacy version of the FUSE library. Run the following command in Terminal to create a symlink pointing to the new version of the library. The "dyld: Library not loaded ..." error should then be gone.

[code]

[2020-11-23 13:02] helblinglilly commented on #347
That fixed it! Thank you so much

[2020-11-23 13:08] guycalledseven commented on #590
As an avid user of osxfuse/fuse, after reading this depressing thread, I am gonna reference issue #742 here for future reader to see that currently there are possibilities for this project to get proper funding:

[2020-11-23 14:54] MrMartinuk opened #746 "Kernel extension cannot be loaded on Big Sur due to legacy BlackBerry driver"
I've read all the other posts, but I can't get OSX/Mac fuse working on Big Sur :(  I've tried disable SIP, tried all the other work arounds. To no avail. If I load the kernel extension manually, I get this horrible error moaning about some Blackberry stuff. I have tried deleting all mentions of Blackberry anywhere but it still errors.  Any  advice appreciated

sudo kextload macfuse.kext

Executing

[2020-11-23 15:05] bfleischer commented on #746
This is a know issue/bug of Apple's new Kext Manager implementation on macOS Big Sur. FUSE does not in any way depend on the BlackBerry kernel extension.

Have a look at the section "Removing BlackBerry drivers" on https://bombich.com/kb/ccc5/some-third-party-storage-drivers-may-cause-hardware-misbehavior. After removing the BlackBerry driver make sure to reboot your Mac.

[2020-11-23 15:17] bfleischer commented on #746
Make sure to load the proper kernel extension for Big Sur after removing the BlackBerry driver. If you are using macFUSE 4 the correct path is `/Library/Filesystems/macfuse.fs/Contents/Extensions/11/macfuse.kext`

[2020-11-23 15:38] MrMartinuk commented on #746
Thanks, that worked! thought I had removed all the blackberry bits and pieces but found a few more as per the guide.

Thanks for that. I feel I have got my life back now ! :)

[2020-11-23 15:40] bfleischer commented on #746
I'm glad it worked!

[2020-11-23 15:40] #746 closed, assigned to bfleischer

[2020-11-24 10:23] mbirth opened #747 "Enabling kernel extensions on M1 Mac fails with error 11"
I am trying to install osxfuse 4.0.3 on my new M1 Mac and macOS tells me to change the security policy in the Recovery Environment. However, when trying this, I get the error:

    The operation couldn't be completed.
    (com.apple.BootPolicy.updateTagError error 11.)

Any hints?

[2020-11-24 10:30] mbirth commented on #747
Never mind. Booted back into the system, then back into the Recovery Environment and suddenly it worked without complaining.

[2020-11-24 10:30] #747 closed, assigned to nobody

[2020-11-24 13:47] Yichao-Yao commented on #347
Same error after using BigSur
When I tried this suggested command to fix the libosxfuse_i64.2.dylib error:
ln -s "libfuse.2.dylib" "/usr/local/lib/libosxfuse_i64.2.dylib"
it shows the permission denied:
ln: /usr/local/lib/libosxfuse_i64.2.dylib: Permission denied
What should I do to solve this error?

[2020-11-24 13:51] bfleischer commented on #347
@Yichao-Yao Run the commend with sudo.

`sudo ln -s "libfuse.2.dylib" "/usr/local/lib/libosxfuse_i64.2.dylib"`

You need to be an admin user and enter your password when prompted. I will add the symlink in the next macFUSE update.

[2020-11-24 13:56] Yichao-Yao commented on #347
Thx a lot, it works well now

[2020-11-24 16:35] nevets963 commented on #741
Atleast in my case, I solved this issue through an update of FUSE.

Inside System Preferences under the FUSE icon:
![Screenshot 2020-11-24 at 16 32 32](https://user-images.githubusercontent.com/1112574/100123640-a8519380-2e72-11eb-9cd9-fd790663da07.png)

Click 'Check for updates'
![Screenshot 2020-11-24 at 16 32 48](https://user-images.githubusercontent.com/1112574/100123752-c3bc9e80-2e72-11eb-8a5

[2020-11-26 17:26] drak01 opened #748 "SSHFS mount folder disappears after trying to enter after mounting sshfs"
I'm on OSX Catalina.  When I try to mount using sshfs I'm unable to access the mounted folder.  It disappears and says

-bash: cd: test: No such file or directory

Let me show you.

Davids-MacBook-Pro:Downloads davidrak$ mkdir test
Davids-MacBook-Pro:Downloads davidrak$ sudo sshfs -o port=222,IdentityFile=/Users/davidrak/.ssh/id_rsa davidrak@blank:/var/www/html ~/Downloads/test -d
-603947007
-6039

[2020-11-26 21:29] ikitayama opened #749 "System Extension Blocked"
I'm on M1. Is this still expected behavior with the Beta 4.0.3?

[2020-11-26 21:39] bfleischer commented on #749
4.x supports M1 Macs. You need to provide  more context. Did you enable loading third party kernel extensions in recovery mode?

[2020-11-26 21:42] ikitayama commented on #749
Yes, I did.

On Fri, Nov 27, 2020 at 6:39 AM Benjamin Fleischer <notifications@github.com>
wrote:

[2020-11-26 21:44] ikitayama commented on #749
The latest macOS Big Sur 11.0.1.

On Fri, Nov 27, 2020 at 6:42 AM Itaru Kitayama <itaru.kitayama@gmail.com>
wrote:

[2020-11-26 21:45] ikitayama commented on #749
I just saw I have both FUSE and macFUSE, is this causing the trouble?

On Fri, Nov 27, 2020 at 6:43 AM Itaru Kitayama <itaru.kitayama@gmail.com>
wrote:

[2020-11-26 21:50] ikitayama commented on #749
Now I have this:

[code]

[2020-11-26 22:04] bfleischer commented on #749
See #347.

[2020-11-26 22:37] ikitayama commented on #749
Thanks, but now I am seeing the Subject message again.

[2020-11-26 22:49] ikitayama commented on #749
@bfleischer do you have access to M1?

[2020-11-26 22:50] ikitayama commented on #749
I'd appreciate suggestions from the current M1 owners.

[2020-11-26 22:54] ikitayama commented on #749
I don't think this is possible on Big Sur, no?
[code]

[2020-11-26 23:14] bfleischer commented on #749
Please read the ticket to the end. You are missing a symlink for SSHFS to work.

[2020-11-26 23:27] ikitayama commented on #749
I have this though:

[code]

[2020-11-27 00:33] ikitayama commented on #749
Switching to the release 4.0.2 worked for me. I.e., I was able to make the system recognize you as a trusted developer.

[2020-11-27 00:34] #749 closed, assigned to bfleischer

[2020-11-27 00:42] nedex commented on #623
Still the same up to Big Sur 11.0.1 ...

[2020-11-27 10:06] dcolley opened #750 "build fails on OSX 11 M1"
Following the build instructions - but taking HEAD - as follows:

[code]

I'm on Big Sur 11.0.1
I have Xcode Version 12.2 (12B45b) and command line tools installed.

[code]

[2020-11-27 10:19] dcolley commented on #750
I tried hacking the build.d / sh file.

[code]

... but I am not able to go any further

[code]

[2020-11-27 10:19] bfleischer commented on #750
The source code that is available in the repository is for version 3.8.3, which supports macOS 10.5 to macOS 10.14. macOS 11 and Apple Silicon are not supported by version 3.8.3. You will need macFUSE 4 for your M1 Mac. The source code of version 4 is not publicly available.

[2020-11-27 12:12] Wilkolicious commented on #750
@bfleischer Appreciate your work on osxfuse/macfuse!

Will the source for version 4 be open sourced in the future?

[2020-11-27 13:16] dcolley commented on #750
My immediate need has faded... I switched from VeraCrypt to **_encrypted DMG_** for the time being.
I will check back from time to time to see when I can switch back.

[2020-11-27 13:24] Wilkolicious commented on #750
@dcolley What are you attempting to achieve?  If you wish to use VeraCrypt with macFUSE, then it works as of this build: https://github.com/veracrypt/VeraCrypt/issues/702#issuecomment-734507631

To clarify, it works with `VeraCrypt_1.24-Update8` + `macFUSE 4.0.3` albeit via Rosetta 2.  Performance seems great, but more use-cases are needed.

Or perhaps you're adamant on only using from source buil

[2020-11-27 15:43] dcolley commented on #750
@Wilkolicious thanks! That comment is 16 hours old and I did not see it. I tried it and it works for me.
I am a purist, so when the normal distro didn't work I tried to compile from source... in the end I figured I'd just settle for any solution and switch back when a VeraCrypt is available for M1.
Turns out I only had to wait a couple of hours ;)

I think I'll close this ticket. My original probl

[2020-11-27 15:43] #750 closed, assigned to bfleischer

[2020-11-27 17:43] Harry1993 opened #751 "SSHFS: Apple Silicon Native Support"
As of now, here is how to run sshfs natively on your Apple M1 devices.

I bought a MacBook Air M1 notebook and I want to run sshfs natively. However, macports fails to compile osxfuse (I believe it will be fixed soon, but I don't wanna wait), so I manually downloaded and installed macFUSE 4.0.3 as it is arm64-native. Then, I downloaded sshfs 2.10 (sshfs 3.* are not compatible with osxfuse) and tri

[2020-11-29 14:32] zebu1er commented on #668
Same on OSX10.15...

[2020-11-30 05:04] owenschris commented on #751
Thanks for posting the workaround. I think the release as of today (4.0.4) is arm64-native ~~and now includes sshfs bundled with it~~.

The only real steps were Big Sur related:

- I needed to do the permissions recovery boot to allow non-Apple extensions.
- I also needed to change some mount points in old scripts since there have been changes to what locations are read-only in the filesystem.

Wo

[2020-11-30 05:20] Harry1993 commented on #751
Thanks! I just installed Version 4.0.4 and rebooted. Could you tell me where to find the sshfs executable that is bundled?

[2020-11-30 06:09] owenschris commented on #751
Oops, you're right. Your workaround works with the 4.0.4 release, but sshfs isn't included from what I see. It looks like I built sshfs following your suggestions but was actually stuck in a bad permissions state or had some issue with the files that was fixed by the update or the additional reboot. Sorry about that.

[2020-11-30 13:34] znek opened #752 "kGMUserFileSystemMountPathKey removed in macFUSE 4.0.x"
kGMUserFileSystemMountPathKey (@"mountPath")  has been removed in macFUSE 4.0.x, meaning that macFUSE isn't binary compatible with OSXFUSE, which is a pitty. Would it be possible to reintroduce the key with a future 4.0.x update?

[2020-11-30 14:03] dps-910 commented on #741
I did this and it worked, thanks 👍

[2020-11-30 14:21] bfleischer commented on #752
Thanks for the bug report. macFUSE 4 is not supposed to break binary compatibility with existing file systems. The key is deprecated, so I removed it from the header, but I forgot to keep exporting the constant. The userInfo dictionary still contains the mount path for now. However, the @"mountPath" key will not longer be present in version 5.

[2020-11-30 14:55] bfleischer commented on #752
The issue will be fixed in the upcoming 4.0.5 release.

[2020-11-30 14:55] #752 closed, assigned to bfleischer

[2020-11-30 19:35] sunknudsen opened #753 "Installing osxfuse using brew omitting preference pane"
Is it possible to install osxfuse using brew omitting preference pane?

[2020-11-30 19:39] bfleischer commented on #753
I'm sorry, but I'm not the maintainer of the osxfuse brew cask. Please raise the question with the cask's maintainer.

[2020-11-30 19:39] #753 closed, assigned to bfleischer

[2020-12-02 14:05] ExactObject opened #754 "Benjamin Fleischer Extension Won't Install on M1 MacBook Pro"
I'm running the 11.1 Beta (20C5048k) on a M1 Macbook Pro.  When installing MacFuse 4.0.4, the Benjamin Fleischer extension is blocked and so use the Security & Privacy preference to allow it.  After allowing, the OS wants a reboot to rebuild the extension library, and about 80% through the reboot process, a silent failure occurs and the system reboots by itself.  Head back to the Security & Privac

[2020-12-02 20:24] djkcel commented on #754
I'm running the same os on an M1 MacBook Air.

I had to boot into recovery mode and then launch the "Startup Security Utility." From here I enabled kernel extensions and rebooted, after which I was able to "allow" in the security prefpane. However it still doesn't work. When I try to actually mount a volume in terminal I get

`"kext load failed: -603947007"`

After trying to manually load the kext

[2020-12-03 17:40] drak01 commented on #748
I figured out the issue.. It looks like if I use 'sudo' then I get these problems, but if I mount sshfs without sudo then the directories are mounted with no problem.

[2020-12-03 17:40] #748 closed, assigned to nobody

[2020-12-04 04:05] vijaynr commented on #754
@djkcel  are you sure you are loading the correct kext? I can see **osxfuse is renamed to macfuse** in versions 4+.
The kext path would be something like this `/Library/Filesystems/macfuse.fs/Contents/Extensions/11/macfuse.kext`

The one you are trying to load might have **Intel only support**. Please check.

[2020-12-05 02:17] ikitayama opened #755 "zsh is slow"
`zsh + macFUSE` is slow in handling files and directories on FS remotely mounted. Switching back to bash I get reasonable performance.

[2020-12-05 15:59] lxchtan opened #756 "Updated to macOS 11.1 beta, kext load failed"
The macfuse installed version is 4.0.4.

When I run `sshfs`, it shows that

[code]

Try to run

[code]

It complained

[code]

Security & Privacy pane didn't have the warnings to allow, when I try the method in #741.

What's wrong?

[2020-12-05 18:34] bfleischer commented on #756
Delete `/Library/Extensions/spl.kext`. This kernel extension is not compatible with macOS 11 and prevents other kernel extensions from loading. That's why the FUSE kernel extension cannot be loaded in your case. As far as I know spl.kext is related to OpenZFS.

[2020-12-05 18:34] #756 closed, assigned to bfleischer

[2020-12-05 19:45] bfleischer commented on #754
@djkcel The version of FUSE you are using is not compatible with Apple Silicon Macs. Please upgrade to macFUSE 4

[2020-12-05 20:12] lxchtan commented on #756
It worked, thanks a lot.

[2020-12-06 06:27] GregDunn1953 commented on #741
Mac OS 10.14.6 - uninstalled FUSE, did the reboot/crsutil disable and then installed FUSE 4.0.4/rebooted.  FUSE will load and work properly as long as I have SIP disabled or use '--without kext' but if I attempt to enable SIP again and load FUSE, I get this:

<img width="426" alt="FUSE error" src="https://user-images.githubusercontent.com/48167374/101273147-e8612200-3760-11eb-97c7-f89a6ddaba67.png

[2020-12-06 13:14] NYC-Jim commented on #705
Thank you!!!

[2020-12-06 18:07] bfleischer commented on #741
@GregDunn1953 You might be using an app or tool that is able to synthesize keyboard or mouse events. If you are using one of these apps or tools, macOS might not display the Allow button in system preferences. Please see #654.

[2020-12-06 19:40] bfleischer commented on #751
Currently I do not have time to create a pull request for SSHFS. The old 2.5.0 build should still work fine with macFUSE 4.0.4 on Big Sur.

@Harry1993 It seems you have already patched 2.10 to work with macFUSE 4.0.4. Please create a pull request on the upstream SSHFS repository at https://github.com/libfuse/sshfs/. Thanks.

[2020-12-06 19:40] #751 closed, assigned to nobody

[2020-12-07 06:32] GregDunn1953 commented on #741
Good thought!  Unfortunately, I'm not running any app which does that.  Just to be sure, I rebooted in Safe mode and tried to access MacFUSE again; still, the "Allow" button does not appear.  I checked the console log and only found the following references to MacFUSE:

error	01:04:30.072488 -0500	kextd	Unable to stage kext (/Library/Filesystems/macfuse.fs/Contents/Extensions/10.12/macfuse.kext) t

[2020-12-07 08:20] bfleischer commented on #741
This is the reason why the kernel extension cannot be loaded. macOS will not load any kernel extensions that have not been properly staged (`/Library/StagedExtensions`).

[2020-12-07 15:50] GregDunn1953 commented on #741
I get that - unfortunately I have no idea how to make the installer or OS stage the kext.  I did a full filesystem check to make sure permissions were set properly, removed the staging directories (even running kextcache --clear-staging), removed FUSE and then rebooted, finally doing a new install of FUSE.

Unfortunately, when I try to load FUSE, I still get the dialog but no option to "allow" in

[2020-12-10 10:45] susheelbhanu commented on #705
As described by @andreyboxti I did the following:
`brew install --cask osxfuse`

And then added the permissions in the `Settings > Security & Privacy > General` to allow the extension

It works now!

[2020-12-12 05:40] odalage opened #758 "Unable to update to FUSE 4.0.4"
I am tryin g to update FUSE version from 3.10.4 to 4.0.4 in the preference pane but after a few seconds of seemingly trying to update, it goes back to the previous state.
Do I have to remove it (uninstall) and reinstall FUSE?

[2020-12-12 10:25] knightjp opened #759 "Installation using MacPorts and on Automount on Big Sur"
I am trying to edit the NTFS-3g after installing it. Following the instructions from the site below.

https://trac.macports.org/wiki/howto/Ntfs3gFinder

But even though I try the following like I did for Catalina, "`sudo mount -uw /`"

But I get this error...

[code]
I tried disabling SIP, but that does not work either. After disabling SIP, when I do this command,

`sudo mv /sbin/mount_ntfs /sbin/

[2020-12-13 09:36] #755 closed, assigned to nobody

[2020-12-13 12:23] cionz0 opened #760 "/sbin/ read-only in Big Sur even after apfs unlockVolume"
I've installed all the required things by following https://github.com/osxfuse/osxfuse/wiki/NTFS-3G#auto-mount-ntfs-volumes-in-read-write-mode and I want to mount automatically in RW mode ntfs volumes.

Of course, I've disabled SIP.

When I run `diskutil apfs unlockVolume disk1s1` it says that the volume is already unlocked.

But then, when I try to backup `/sbin/mount_ntfs ` I get an error saying

[2020-12-14 20:16] mike-kfed commented on #741
I opened a bug in homebrew to no longer install the old osxfuse, there I posted a workaround how to load the macfuse instead Homebrew/homebrew-core#66915 I hope this helps

[2020-12-15 07:31] tommythorn commented on #754
UPDATE 2: I don't know what I did wrong but`kmutil unload --bundle-path /Library/Filesystems/macfuse.fs/Contents/Extensions/11/macfuse.kext` _does_ work and will carry me over until the next version (now to see if I can make Keybase work with it).

[2020-12-15 12:57] Europa2010AD opened #761 "Can "prevent 3rd-party extension loading" be re-enabled after successful install?"
My system is running MacOS 11.1 on a Mac Mini M1.

The extension loading prevention feature that's disabled in safe-mode during installation -- can it be re-enabled after verifying MacFuse works as intended? Or will it prevent the extension from loading at the next reboot?

[2020-12-15 21:15] prantlf commented on #358
I [forked](https://gist.github.com/prantlf/23bafe218e8a2def8085772ebe9bda62) Erik Gomez's [script](https://gist.github.com/erikng/d85b17e6e13fd8dcad7cf51d1c6b3a1c) (found in an [article](https://blog.quirke.org/macos/catalina/panic/fail/2019/10/28/post.html)) to list the loaded kernel extensions, unload some [as suggested](https://github.com/osxfuse/osxfuse/issues/358#issuecomment-316164723) by @g

[2020-12-15 21:28] prantlf commented on #630
@xerc, you could run `sudo dmesg` right after `sshfs` failed. If you see this, there are no free virtual device slots on your machine:

    fuse: Failed to register major device number

I [was able](https://github.com/osxfuse/osxfuse/issues/358#issuecomment-745572140) to free one slot when reading #358.

[2020-12-15 22:51] xerc commented on #630
i saw it; go into Recv.Mode and execute the `chflags` command above - should fix this issue LT

[2020-12-15 23:08] prantlf commented on #358
By the way, @bfleischer, I am thankful that you publish installable packages at https://osxfuse.github.io/. When I tried `brew cask install osxfuse`, it failed. It tried to change the owner of `/usr/local/lib/sentinel.dylib`. It was not possible, because Sentinel protects its files. (All files in `/usr/local/lib` are owned by me, `sentinel.dylib` by `root`.) I have no idea why Homebrew (apparently

[2020-12-18 13:50] NewAlexandria commented on #754
I have this issue, but with version 4.0.4.  I am testing on a new MacBookPro (silicon / M1), Big Sur (obviously).
* I tried installing normally + security panel to accept.   (not-working)
* I also tried `csrutil disable` after an uninstall of macfuse, then reinstalling, security panel allow, and related requisite reboots (not-working)
* I tried manually loading the kext via the terminal.  This wor

[2020-12-18 13:52] NewAlexandria commented on #761
Try it and report back.  I've read that some have issues and some don't.

[2020-12-18 14:54] bfleischer commented on #761
@Europa2010AD You will need to leave your M1 Mac mini in "reduced security mode", otherwise macOS will refuse to load third-party kernel extensions.

[2020-12-18 14:57] #761 closed, assigned to bfleischer

[2020-12-19 20:53] knightjp opened #762 "Unable to install ntfs-3g using MacPorts"
When I try to install ntsf-3g on MacPorts, I get this.
[code]

[2020-12-21 17:30] chbtoys commented on #705
Awesome! Thanks for the hard work!

[2020-12-21 20:46] veganmaister commented on #754
I’m experiencing the same problem with 4.0.4 which has subsequently broken pCloud.

[2020-12-21 20:52] veganmaister commented on #754
Is there any way we can help fast track the resolution here? I find it astounding how a little OS extension has completely broken productivity on M1 Macs.

[2020-12-22 06:07] Char1esFu opened #763 "Unable to map virtual drives in macOS Big Sur 11.1, Apple silicon macbook"
![image](https://user-images.githubusercontent.com/58471920/102854325-467a4e80-445d-11eb-8e4e-923984eed772.png)

Thanks to macFUSE 4.0.4 update, cloud drive mapping has been available on new apple silicon macbooks. But in the latest version it's not working again. the main drive I use is called pCloud, it can map cloud drive as if it works locally while occupying no more than 5GB of cache file. Th

[2020-12-22 17:25] tigger4t commented on #741
I am trying to install Macfuse 4.0.4 on a 2019 Mac with Mojave 10.14.6 after Veracrypt stopped working as it was unable to load FUSE.  When trying to install FUSE I do not get an option in the Privacy pane to allow software from Benjamin Fleischer and have tried most if not all of the solutions in this discussion.  Can anyone help please?

*** UPDATE ****

A reinstall of MacOS Mojave fixed the pro

[2020-12-23 16:20] vordenken commented on #758
Had the same problem. I just manually downloaded the newest version from the GitHub releases and installed it without a problem.

[2020-12-24 02:38] Diaz1999 commented on #704
not that I know of. the notice at the bottom of the NTFS-3G wiki here is still in place, so I guess no.

[2020-12-24 11:26] technicaltitch opened #764 "Driver seems to cache error state of path, even if reconnecting the disk fixes the file (file issue was lack of power to the USB hub)"
I have come across the error message below, seemingly due to the driver caching that a particular couple paths are invalid:

The Finder can’t complete the operation because some data in FILENAME can’t be read or written.
(Error code -36)

I connected two external disks via a hub. Everything seemed fine, but as soon as I pasted a couple files from one disk onto the other, the hub ran out of power a

[2020-12-25 18:14] Feuermurmel opened #765 "Never seeing the FORGET op-code"
To gain experience with macFUSE, I've implemented a toy filesystem using the [Python-LLFUSE](https://github.com/python-llfuse/python-llfuse) package and am running it agains macFUSE 4.0.4 on macOS 10.13.6. Python-LLFUSE is giving me access to the low-level interface of libfuse 2 (`struct fuse_lowlevel_ops`).

The problem that I'm running into is that I'm never seeing a call to `forget()`. My assum

[2020-12-28 18:24] maticrivo opened #766 "/sbin/mount_ntfs keeps getting back to original"
Hi, following the guide https://github.com/osxfuse/osxfuse/wiki/NTFS-3G#auto-mount-ntfs-volumes-in-read-write-mode-on-macos-1015-catalina on mac os Big Sur I successfully renamed the original mount command to `mount_ntfs.orig` and created the new `mount_ntfs` file with the contents on the guide, but when restarting back to normal the file I added is deleted and the original file is back in it's pl

[2020-12-28 21:42] maticrivo commented on #760
I'm facing the same issue.. any idea how to solve this?

[2020-12-30 02:45] williamhoney commented on #741
@GregDunn1953  I have exactly the same machine, Mojave, no Default Folder X and I get exactly what you get.

Same error in Console about kext failed to stage.

This I have not tried yet as I hope for the solution.

@tigger4t suggested to reinstall Mojave. Really?

@bfleischer would highly appreciate your thoughts.

Is there a way to let the installation stage the kext?

PS. Forgot to say that I ac

[2020-12-30 03:52] williamhoney commented on #741
Here is what helped me:

https://github.com/pqrs-org/Karabiner-Elements/issues/2373#issuecomment-676121212

quote here for convenience:

The user StoneJT received great praise for this in the thread I quoted above, pls thank him if it worked for you.

[2020-12-30 05:26] GregDunn1953 commented on #741
First of all I looked at the private/var/db and KernelExtensionManagement is NOT set to restricted, nor is its subdir "Staging".  But com.apple.rootless was set on both directories.  So on to the next step.

Rebooted into Recovery mode.  Note that you may need to actually mount your Mac HD before continuing.  On my system it was NOT mounted, possibly because I'm using FileVault.

Found the KernelE

[2020-12-30 10:30] tigger4t commented on #741
Hi - I have a similar issue with Parallels but a Ctrl+R at state and reinstalling Mojave fixes it every time.  My guess is that FUSE and Parallels installs are over-writing or corrupting something but I lack the expertise to find out what.

[2020-12-30 12:21] eyeran opened #767 "can't mount a drive in rclone"
hey there,

when I'm trying to mount a drive (google drive in my case) using rclone, i get the following error:

`2020/12/30 13:13:05 Fatal error: failed to mount FUSE fs: cannot locate OSXFUSE`

Since my programming skills are not that advanced, I don't really know what to do from there on.
I'm using a MBP from late 2013 with the latest version of Catalina running on it and have the latest versio

[2020-12-30 14:09] bfleischer commented on #767
Please raise the issue with the rclone team. rclone might need to be updated to be compatible with macFUSE 4.

[2020-12-30 14:09] #767 closed, assigned to bfleischer

[2020-12-30 14:40] eyeran commented on #767
alright, thank you! :)

[2020-12-30 20:39] mcfearsome commented on #747
I am experiencing this as well and rebooting and retrying does not change anything.

Oddly when I go into the utility, the "Reduced Security" radio button is checked. What I cannot do is check "Allow user management of kernel extensions...", trying to do that results in an error.

I am not familiar with this utility and it's full purpose but that box seems like one I want checked.

Appreciate any

[2020-12-31 20:44] unbeatable-101 commented on #747
Try again, it worked for me on an M1 MacBook Air

[2020-12-31 21:20] mcfearsome commented on #747
And...same result.

[2020-12-31 21:50] unbeatable-101 commented on #747
Are you doing it by using the dialogue box in system preferences or by manually rebooting?
@mcfearsome

[2021-01-01 06:28] Aholicknight commented on #681
I am having this same issue on Big Sur...does anyone know how to fix?

[2021-01-02 01:54] mcfearsome commented on #747
I am rebooting and using the "Startup Security Utility"

[2021-01-03 17:48] Coeur commented on #762
Returning to macFUSE 3.x seems to solve the compatibility issue for now.
NTFS-3G doesn't seem to work with macFUSE 4.x (yet?), which might not be so surprising since its last release was apparently [nearly 4 years ago](https://www.tuxera.com/community/ntfs-3g-release-history/). There is still activity on the repository (from 2 months ago), so maybe one of the devs will do something about it? https

[2021-01-04 19:34] Flynamic commented on #45
Same problem here, nothing in this thread worked so far except rebooting. This basically means that I have to unmount the folder before the connection is cut, or otherwise every process interacting with this folder in any way will freeze, including Finder – which will immediately exit everytime I try to restart it.

[2021-01-05 11:33] Andrysky commented on #668
on OSX10.15.7
macFUSE 4.0.5
SSHFS 2.5.0

I use the key in ssh-agent, so the login should be successful, because ssh works

maybe you need some kind of logs?

[2021-01-06 21:13] tiiiecherle commented on #741
The following works for me.

macOS 11.1
macFUSE 4.0.5 (also works for Virtualbox extensions)
SIP settings in Recovery: `csrutil enable --without debug --without fs `

1   copy the extension to
`/Library/Apple/System/Library/Extensions/`

2  load the extension manually (only has to be done once)
`sudo kextload /Library/Apple/System/Library/Extensions/macfuse.kext`

3   confirm security popup

4   o

[2021-01-07 05:28] johnothwolo commented on #763
Apple looks like they're now completely locking down macOS, which feels like a middle finger to free software (like Linus to Nvidia). @bfleischer do you think FUSE will survive this?

[2021-01-07 07:45] Char1esFu commented on #763
Hi, it seems like the problem is not with macFUSE, but with software developer. Yesterday pcloud support staff contacted me by email that they have already updated the software for macOS 11.1, making it functional again to mount virtual drive to Finder. It's working for both macFUSE 4.0.4 and 4.0.5.

[2021-01-07 09:28] muscovitebob commented on #574
Thanks for this. For some reason my latest brew install of ntfs-3g still does not include the line you added in your MR (checked via `cat /usr/local/Cellar/ntfs-3g/2017.3.23_3/.brew/ntfs-3g.rb`). `brew info rtfs-3g` output:

[code]

Hence I still observe the original bug. Any idea why I might be fetching an outdated brew bottle despite installing so recently?

[2021-01-07 09:42] bfleischer commented on #763
Let me start by saying that pCloud is not to blame here. In macOS 11 Apple completely rewrote the Kext Manager component. Unfortunately, with all new software there are bugs. Since the first release of macOS 11, I raised 11 issues with Apple. Four of the issues have been addressed in the meantime. Seven are currently open. For three of these seven remaining issues, FUSE contains workarounds. This

[2021-01-07 09:46] bfleischer commented on #762
@knightjp MacPorts does not ship the latest version of macFUSE. I recommend downloading the installer from https://osxfuse.github.io. Please raise the issue with MacPorts.

[2021-01-07 09:46] #762 closed, assigned to bfleischer

[2021-01-07 09:59] bfleischer commented on #754
macFUSE 4 is required on M1 Macs. Older releases of FUSE do not support the new processor architecture. Please keep in mind that Rosetta, which translates old Intel apps to run on M1 Macs, does not support translating kernel extensions. That's why you will need to upgrade to macFUSE 4.

@veganmaister There is no need downvote this. It's a matter of fact.

In macOS 11 Apple completely rewrote the K

[2021-01-07 10:06] tommythorn commented on #754
@bfleischer Thanks for the informative update.  This is the kind of things we should expect with the M1 transition and I'm glad progress is being made.  Is subscribing to this bug the best way to monitor the progress?

[2021-01-08 01:06] inklesspen opened #768 "Is MacFUSE still open-source?"
The "source" tarball for recent releases contains only the license file. However, this license file still has references to "source distributions".

Will the source for 4.x be available, or is this project becoming closed source?

[2021-01-08 08:35] bfleischer commented on #768
The latest version of the source code, that is available on GitHub, is for 3.8.3. For the time being most components of macFUSE are closed source. libfuse, which is covered under the LGPL, can be found on https://github.com/osxfuse/fuse/tree/master/.

[2021-01-08 08:35] #768 closed, assigned to bfleischer

[2021-01-08 08:55] ahmadazimi commented on #342
Same issue with Catalina 10.15.4
No updated?

[2021-01-08 09:15] vijaynr opened #769 "Does macFuse only work with reduced system security in Apple Silicon?"
I had to Reduce the System Security and Allow loading of third party kernel extensions to load the macFuse kernel extension on Apple silicon Macs? Is there no work around for it?

[2021-01-08 17:18] bfleischer commented on #769
That's the way Apple designed macOS 11 on Apple Silicon Macs. I'm afraid there is no way around it. The process is not user friendly, but at least you have to do this only once.

That being said, if there was a new non-kernel API for developing full-featured file system, I would update FUSE to use the new API, but there is no such non-kernel API.

[2021-01-08 17:18] #769 closed, assigned to bfleischer

[2021-01-12 05:45] balupton opened #770 "v4 is called macfuse but the readme says osxfuse is the successor of macfuse"
https://github.com/osxfuse/osxfuse/releases/tag/macfuse-4.0.5

yet

So confused

[2021-01-13 18:48] DeadlySurgeon opened #771 "Closed source is harming other open source projects"
First off, I acknowledge that I'm very late to the party on this, but I only really started needing fuze for one of my new projects recently.

I fully understand the struggle of having to support a project, unpaid, but there is something that I don't understand. Why closed source? You said that it's because companies keep using your software without any upstream compensation, but you don't need th

[2021-01-13 18:51] DeadlySurgeon commented on #771
I unfortunately don't have much time to deal with this further, and it's put my personal project on hold probably indefinately, but if I have time I plan on going around to other open source projects that have either died or dropped Mac support and posting them here.

[2021-01-14 12:48] bfleischer commented on #771
macFUSE has been open source for many years and was covered under a BSD license. As a result the project was forked numerous times. Several companies maintained their own rebranded forks of FUSE. With every new macFUSE release they would merge the upstream changes into their private repositories and "put their name" on it without contributing to the effort.

I doubt changing the license, without g

[2021-01-14 14:05] krim404 commented on #771
Changing to closed source has a major impact on the way other open source projects will handle osxfuse. They will see it as non trustworthy and this way it will not be supported anymore. And tbh - as an end user i also have a bad feeling to install this software, knowing that noone can evaluate the trustworthyness.

Sadly, companies who bundled osxfuse in the past will not change their behaviour.

[2021-01-14 14:27] bfleischer commented on #771
The are no "official OSX APIs" that would allow you to implement a full-featured file system in user-space. But this is not really the point here.

Going closed source was not a rash decision. I've been asking for any form of support for years before that, but nothing much came of it. There were only two options, abandon the project or find a way to get the required funding, so that I can keep wor

[2021-01-14 14:42] DeadlySurgeon commented on #771
First, thank you for the well written out response. I found it very informative and I appreciate you taking out the time for me.

I suppose that's rather fair, I didn't think about that.

This very much bothers me if [bazil/fuse](https://github.com/bazil/fuse) didn't even put in any effort into working with you.

Then I'm glad you took the path that you did. Thank you for your contributions, even

[2021-01-14 14:43] #771 closed, assigned to bfleischer

[2021-01-14 14:44] DeadlySurgeon commented on #771
Closing this question as I got the answers to my question. Thanks!

[2021-01-15 09:21] piotrkolanowski opened #772 "Downloads doesn't work anymore"
Download get stale after ~600 kiB.
Happens on each version (4.0.5, 4.0.4 and 3.11.2 tested).

[2021-01-15 09:24] bfleischer commented on #772
Works fine for me. If this issue persists, please raise it with the GitHub team. GitHub manages the downloads.

[2021-01-15 09:24] #772 closed, assigned to bfleischer

[2021-01-16 14:34] BernhardMB commented on #763
@bfleischer Are there maybe some news meanwhile ? I am having the same problem, when trying to start Veracrypt using Fuse on an M1 MacBook. When I am trying "advanced" settings, it suggests me some modifications in security settings for kernel extensions (see attached screenshot). I didn't try this because I would not feel very comfortable doing this, also I am not sure if it would change somethin

[2021-01-16 14:44] bfleischer commented on #763
@BernhardMB On M1 Macs you need to allow loading third party kernel extensions in recovery mode before you will be able to use macFUSE. This is the way Apple has designed the process on M1 Macs. There is currently no way around this. Please follow the instructions on the screenshot you posted.

[2021-01-16 14:57] bfleischer commented on #770
Fixed

[2021-01-16 14:57] #770 closed, assigned to bfleischer

[2021-01-18 08:45] olvrlrnz opened #773 "renameat stuck - process killed"
I'm writing a new file system. As usually, I start with loopbackFS and modify as necessary. Since my goal is to mount a folder to the same file system path, I have to use the *at variants of various calls. In case of rename:
[code]

where `rootFolderFd` is a file descriptor to the now "invisible" source directory. `make_relative_path` translates e.g. `/foo.txt` to just `foo.txt`.

So far, `rename`

[2021-01-19 20:12] bfleischer commented on #773
File system callbacks are not allowed to call back into the FUSE file system, i.e. trigger file system operations on the FUSE volume. This can result in a deadlock in the FUSE kernel extension.

I'm assuming your renameat() call triggers such a file system operation along the way. This fits your dispatch_async() observation.

This might be due to some implementation differences between Linux and m

[2021-01-20 08:06] olvrlrnz commented on #773
I tried a different scenario:

- Have a folder, e.g. `$(HOME)/mnt` with a file `foo.txt` in it
- Compile and run the following program:
[code]
- For simplicity I attached an empty disk image there: `hdiutil attach ~/empty.dmg -mountpoint ~/mnt`
- Continue the test program
- `renameat` gets called and returns immediately without error

This is basically what loopback fs does except this works. And

[2021-01-20 08:43] bfleischer commented on #773
If you want to know where the file system hangs, have a look at the stackshot command line tool. It should allow you to capture kernel stack traces when your file system hangs. It should then be relatively easy to see what's going on.

This scenario might look similar but it is completely different.

When your file system is stuck in the rename callback the files and folders on the FUSE volume, th

[2021-01-20 22:16] knightjp commented on #760
I would like to find a solution to this as well.

[2021-01-20 22:19] knightjp commented on #766
How did you manage to rename the file. I always get an error stating that the section is only read only.
`mv: rename /sbin/mount_ntfs to /sbin/mount_ntfs.orig: Read-only file system`

[2021-01-20 23:05] Laurazepam commented on #766
"sudo mount -uw /" will mount root as rw, sip needs to be disabled for this to work

[2021-01-21 18:37] knightjp commented on #766
I tried this... disabled SIP and then rebooted the system.
I got this error...
`mount_apfs: volume could not be mounted: Permission denied
mount: / failed with 66`

[2021-01-22 02:27] Linus-XZX opened #774 "Localization?"
I personally believe this project can benefit from adding localizations, and this shouldn't be difficult, since the main part displayed to the user is mostly the Preference panel.

My thanks in advance.

[2021-01-22 02:34] Linus-XZX commented on #766
This seems to be a macOS feature... Whenever an update is installed many modified system files get reverted. As far as I'm concerned this reverting would cover practically everything with the `com.apple.rootless` xattr.

[2021-01-22 08:47] knightjp commented on #766
You do have a point. I would say that when it comes to security, it probably is a good policy. But not for those of us that want to have added functionality of writing to a NTFS formatted drive..

[2021-01-22 11:17] ajay-gh opened #775 "GPG signature problems"
Downloading of Macfuse 4.0.5 and trying to verify the file's signature, I see this

Going back to my GPG keychain it appears that the associated key has a different fingerprint (0093 B21E F45D 6352 84F6   A147 53C9 18C1 A281 8875), with the same email in use. Updating from the key server, this is not rectified. I do not see a way to "add  trust" to the key with fingerprint 135F or to verify this k

[2021-01-22 11:52] bfleischer commented on #775
Please see https://github.com/osxfuse/osxfuse/issues/679

[2021-01-22 11:52] #775 closed, assigned to bfleischer

[2021-01-22 11:54] bfleischer commented on #774
Can you contribute any localizations?

[2021-01-23 01:16] crosscontrol commented on #485
I also am not using osxfuse but I was having a very similar issue and I want to post what fixed this for me. What I was seeing: multiple of those temporary folders were created and Word couldn't save files at all. The temp folders would persist after closing Word. After this fix, a single folder still shows up but is removed after a few moments (without having to close Word).

For my issue, the so

[2021-01-23 17:18] NotANormalNerd opened #776 "Installer does not run natively on Apple Silicon"
Heyhey ^^,

I just got my M1 Macbook Pro and I am trying to get stuff to work without Rosetta 2, so I was pleasantly surprised when I saw that this project was already ready available for native Apple Silicon.

I downloaded the 4.0.5.dmg and tried installing it but the installer came up with the need to install Rosetta 2. Am I holding it wrong or is this a bug?

Nonetheless thanks for the amazing

[2021-01-23 17:29] NotANormalNerd opened #777 "Permission for distribution with brew cask"
Hello Benjamin,

When I am already here: I saw you changed the License  `redistributions bundled with commercial software are not allowed without specific prior written permission`
My question and hereby also asking for permission just to clarify: Do you consider homebrew commercial software (it's open source so I would not) or is homebrew still allowed to distribute the osxfuse cask version 4 goi

[2021-01-23 17:29] bfleischer commented on #776
The macFUSE Installer runs natively on Apple Silicon. All FUSE runtime components (kernel extension, load and mount helper, libraries) also run natively on Apple Silicon. The uninstaller requires Rosetta.

[2021-01-23 17:32] NotANormalNerd commented on #776
<img width="1164" alt="image" src="https://user-images.githubusercontent.com/2896599/105609417-78a70500-5da9-11eb-9850-e27de4fb2255.png">

Hey bfleischer, thanks for the quick response.
Maybe I am also just wrong on the naming here: if I run the installer (.pkg) from the 4.0.5.dmg I downloaded here from Github Releases I get the above message.

I also tried installing it with brew cask but the For

[2021-01-23 17:35] NotANormalNerd commented on #777
Nvm. Did not see the name change.

[2021-01-23 17:35] #777 closed, assigned to bfleischer

[2021-01-23 17:37] NotANormalNerd commented on #776
I get the same error with brew

[code]

[2021-01-23 17:45] bfleischer commented on #776
That's interesting. As far as I can tell the installer process itself runs natively on Apple Silicon, at least that's what activity monitor says. Maybe the installer detects that one of the components namely the uninstaller, is not yet universal.

How did you uninstall Rosetta?

[2021-01-23 17:50] NotANormalNerd commented on #776
I did not install it in the first place. I am currently just waiting for support of most libraries and programs (docker for mac e.g.). I have a second (intel) MBP which still works for now, but I would like to change to the M1 asap.

Why did you not get around also providing the uninstaller as a Apple Silicon Binary? I have no Idea of OSX distribution.

[2021-01-23 17:50] bfleischer commented on #777
For the record, I do not consider Homebrew commercial software. The license change does not affect Homebrew.

[2021-01-23 21:13] NotANormalNerd commented on #776
I found this article:
https://scriptingosx.com/2020/12/platform-support-in-macos-installer-packages-pkg/

and also this one beforehand:
https://mjtsai.com/blog/2020/11/19/rosetta-2-not-preinstalled/

And examined the pkg from 4.0.5 and it is indeed missing the `hostArchitecture` attribute.

[2021-01-24 20:28] ajay-gh commented on #679
Any chance you could explain, why you wouldn't upload your public (up-to-date) key to a key server, and publish the key's fingerprint on the Macfuse page. This way you don't have to answer repeated questions from users who can't figure it out, and users don't have to wonder why this unusual approach. Thank you for bearing with me.

[2021-01-24 20:41] bfleischer commented on #679
@ajay-gh I used to upload the key until the sks key servers went down. Can you suggest a different server?

[2021-01-24 20:51] bfleischer commented on #679
I tried uploading the key again. This time it worked. It seems only the web lookup is down.

This one seems to work: http://keys.gnupg.net/pks/lookup?op=vindex&fingerprint=on&search=0x53C918C1A2818875

[2021-01-25 01:42] Linus-XZX commented on #774
(Sorry about the delay, was on some personal business.) I'd like to but I'm not sure where they all are or how to upload them... I can find a localizable.strings in the pkg installer (but it seems to be for the installer itself) and an About.html in the prefPane that seem localizable, but there still seems to be some missing stuff on either side, and I couldn't find the corresponding files in any

[2021-01-25 08:55] ajay-gh commented on #679
I am using the GPG keychain for Mac. About 1 year ago, the standard key server used by this application got replaced by different / new one ( hkps://keys.openpgp.org ). Since then no problems at all. Interestingly enough, before there was a choice of 3 or 4 keyservers, since the change this is no longer the case.

[2021-01-25 22:58] bentitmus commented on #741
I had a similar issue and the solution proposed by @tiiiecherle works for me (copying the extension to the specified location before manually loading it). I am on macOS 11.1 on an Apple Silicon MacBook Air.

[2021-01-26 08:31] wulaitianc commented on #596
I met the same problem here.
If the path contains both "[" & " ]"(e.g. /[folder]A/test.xlsx, /folderA/t[e]st.xlsx), save excel always fail.

<img width="422" alt="Screen Shot" src="https://user-images.githubusercontent.com/17898549/105819915-cfa01a80-5ff3-11eb-9286-89a9d7e2f29c.png">
I believe it's a fuse bug, because I can save excel with such path on ~/Desktop.

[2021-01-26 08:33] bfleischer commented on #596
Try the same thing on an FAT formatted volume

[2021-01-27 00:02] bfleischer commented on #774
Could you please send me an email. You can find my address on my GitHub profile. I will then send you a list of the localizable strings.

[2021-01-27 00:26] bfleischer commented on #485
When implementing the FUSE renamex callback, mounting with the local flag and setting up a .TemporaryItems folder structure on the FUSE volume, FUSE should behave like HFS when saving Word documents.

[2021-01-27 00:26] #485 closed, assigned to bfleischer

[2021-01-28 01:13] Linus-XZX commented on #774
Email sent. I accidentally used my iCloud mail instead of the Live mail I list in my profile, but they should have the same name.

[2021-01-28 02:35] wulaitianc commented on #596
Tested on FAT32 with LoopbackFS demo, still couldn't save excel with "[]" in the path.

[2021-01-28 13:59] NotANormalNerd commented on #776
@bfleischer Do you already already know when you will be able to package a new release?
macFuse would be a way for me to workaround docker-for-mac not being available for M1, since I could work with a sshfs on a linux machine.

[2021-01-28 16:13] dagi3d commented on #668
same here...

[2021-01-28 20:03] bfleischer commented on #596
What I meant was, try testing this on a FAT formatted volume without LoopbackFS and macFUSE. Last time I tested this, it failed, too, without macFUSE being the mix.

The macFUSE code does not contain any checks or conditions that would explain the "[" issue. macFUSE does not care about the characters in the file name. It is unclear what triggers the error, but it affects other file systems as well

[2021-01-28 22:42] ajay-gh commented on #679
Nothing has changed. After update of the fleiben@... key from 2 keyservers (using GPG keychain), I cannot verify / confirm your actual, valid key ID or fingerprint against a different (trusted) source - e.g. your fingerprint published here on github. My suggestion : publish the fingerprint right here in this thread after verifying it has not expired, and it has the key ID A2818875 (or another one

[2021-01-28 23:48] fabrivelas commented on #776
@bfleischer I have the same issue that @NotANormalNerd describes. Thanks for your great work! I hope that 4.0.6 will come out soon. ;-)

[2021-01-29 00:19] bfleischer commented on #679
Fingerprint: 0093B21EF45D635284F6A14753C918C1A2818875
Long key ID: 53C918C1A2818875
Short Key ID: A2818875

Key on Key Server: http://keys.gnupg.net/pks/lookup?op=vindex&fingerprint=on&search=0x53C918C1A2818875
Key on GitHub: https://osxfuse.github.io/static/53C918C1A2818875.asc

[2021-01-29 00:20] Tagnal-git opened #778 "Issues mounting in OS 11.1"
I am testing on an OS 11.1 machine and running our 3rd party version of macFUSE 4.0.5 (SSMFS).  Sometimes when I run our app, it properly mounts the file system.  If I then close our app, it unmounts the file system and quits.  If I try to relaunch and remount the file system, I do get the kGMUserFileSystemDidMount notification, however, the file system doesn't appear to mount in the Finder.  And

[2021-01-29 00:51] bfleischer commented on #778
@Tagnal-git Please send me emails regarding SSMFS support. You can find my email address on my GitHub profile.

[2021-01-29 00:51] #778 closed, assigned to bfleischer

[2021-01-29 04:38] Chasapple4 opened #779 "macOS is blocking macFuse even after it is approved"
macOS 11.1 is blocking macFUSE 4.0.5 but not macFUSE 4.0.2 (have to downgrade, can confirm as VirtualBox Win 10 guests will crash and XP guests are semi stable in Virtualbox 6.1.18 with macFUSE 4.0.5 but are fine with 4.0.2)

[2021-01-29 09:21] ajay-gh commented on #679
Perfect, this should help anybody searching for your public key in the macfuse/osxfuse thread, and trying to match these data. I have just publicly signed your key on hkps://keys.openpgp.org

[2021-01-29 10:26] bfleischer commented on #779
macFUSE does not interfere with VirtualBox in any way. If macOS is not loading the 4.0.5 kernel extension, how can macFUSE 4.0.5 cause issues with VirtualBox?

Are you prompted to approve the kernel extension again? If this is the case, you are running into a bug in macOS 11. Apple re-wrote the Kext Manager component, that is responsible for loading kernel extensions in macOS 11. As with all new s

[2021-01-29 13:12] Chasapple4 commented on #779
VirtualBox uses macFuse for many of the guest OSes now, macFuse 4.0.5 worked with 6.1.16 just fine, after 6.1.18 it did not.  A previous versions VirtualBox I had to revert to macFuse 4.0.2 for any Windows guest VM to load.
`https://www.virtualbox.org/manual/UserManual.html#vboximg-mount
https://www.virtualbox.org/manual/UserManual.html#licOsxFuse
Oracle does not fully list in the user manual what

[2021-01-29 16:21] someone857 commented on #754
I'm having the same or similar issue. I get to this loop where System Preferences wants me to "Allow" every time, and after a restart there's a popup stating "System Extension Error" and telling me it needs to rebuild, and then there's the Allow button again.
Not sure if that makes a difference, but I partitioned my macOS with 2 Volumes. In the first (original) I was able to install macFUSE 4.0.5

[2021-01-29 16:30] bfleischer commented on #754
@someone857 This is a known bug in macOS. It's unclear what triggers it. Apple is working on a fix. As a workaround you can try triggering the new panic medic.

To do so, run the following command in Terminal in the recovery environment. You will probably need to update the root volume path (/Volumes/System) since you have two macOS installs.

[code]

This disables loading third-party kernel exten

[2021-01-29 17:38] doits commented on #424
Thanks for https://github.com/osxfuse/osxfuse/issues/424#issuecomment-554926401, I could enable Trash with this, too. One remark though: This has to be present when the filesystem is mounted already. So to make it work:

- mount the filesystem
- `mkdir .Trashes`
- `chmod 700 .Trashes`
- `mkdir .Trashes/$UID`
- unmount the filesystem
- mount it again

trash should work now!

[2021-01-29 17:57] someone857 commented on #754
Thanks for your reply @bfleischer . I saw your comment on https://github.com/osxfuse/osxfuse/issues/779#issuecomment-769719520 shortly after I wrote this. I tried running this code, but it gave me the same results (and btw trigger-panic-medic is not a flag, so the actual command is `kmutil trigger-panic-medic --volume-root /Volumes/MyVolume`).
When I logged to my OS it told me the extensions were

[2021-01-31 18:40] deravade opened #780 "Fuse produces error 'something went wrong while installing FUSE for MacOS'"
I installed Fuse 3.11.2 (and later also 4.0.5) on MacOs 11.0.1 (Big Sur). Installation seems to go fine, but later it produces an error.

![Something went wrong while installing FUSE for macos](https://user-images.githubusercontent.com/75120259/106394194-a02a4d00-63fb-11eb-8957-e7acf718fe71.jpg)

Restarting computer as suggested in the error message (attached) and also un & reinstalling doesn't he

[2021-01-31 19:07] bfleischer commented on #780
The error message is displayed by Tresorit, not macFUSE. Please raise the issue with the Tresorit team.

Please know that Tresorit is not contributing to the continued development of the macFUSE software. I asked the Tresorit team for financial support, in order to be able to continue maintaining macFUSE in the future, but they declined. I'm sorry, but I cannot provide support for Tresorit issues.

[2021-01-31 19:07] #780 closed, assigned to bfleischer

[2021-01-31 19:47] deravade commented on #780
Although it’s displayed by Tresorit that doesn’t necessarily mean it’s a bug in Tresorit. That’s why i logged the issue on Github.

I’m sorry to hear Tresorit declined your request. I’ve passed your response to Tresorit. Let’s see what they come back with.

[2021-02-01 08:15] pmalhaire commented on #424
great look like fixed

[2021-02-01 08:15] #424 closed, assigned to nobody

[2021-02-01 15:47] MIraola opened #781 "sshfs installation problem macFUSE"
Hi,

I am working with a M1 Macbook with Big Sur. After installing FUSE 3.11 and later updating it to macFUSE 4.0.5, I try to install sshfs running the following command:

_brew install sshfs_

which gives me this error:

sshfs: FUSE for macOS is required for this software. OsxfuseRequirement unsatisfied!

Can you help me to find a solution, please? Thanks.

[2021-02-01 15:53] bfleischer commented on #781
If you want to use brew to install sshfs, please raise this issue with the Homebrew team.

Alternatively you can download an older version of sshfs from https://osxfuse.github.io.

[2021-02-01 15:53] #781 closed, assigned to bfleischer

[2021-02-01 16:04] MIraola commented on #781
Good. I have installed it from the repository you have written. Thank you.

[2021-02-02 02:24] Chasapple4 commented on #779
macOS 11.2 looks to be blocking both 4.0.2 & 4.0.5 of macFuse
kmutil --trigger-panic-medic --volume-root /Volumes/System did not work

Is there a terminal command you know of to force macOS to load the System Extension?  (I have 2 that are already approved but macOS is blocking months after they were approved)

[2021-02-02 22:54] bfleischer commented on #779
macOS is not blocking macFUSE per se. As I explained before Apple's new Kext Manager implementation on macOS 11 has some bugs and enters an inconsistent state from time to time.  All you can do is uninstall macFUSE, triggering the panic medic, reboot your Mac, reinstall macFUSE and try again. Reinstalling macOS might work, too. There is very little that can be done from the macFUSE end, Apple need

[2021-02-02 22:57] bfleischer commented on #754
@someone857 Yes, the only proper solution is for Apple to address the bug. In the meantime you can try uninstalling macFUSE, triggering the panic medic, rebooting a couple of times and then reinstalling macFUSE. At some point macOS will load the extension.

[2021-02-03 19:22] Chasapple4 commented on #779
Strange that worked.  Do you have any info on the bug report? (I think it affects both macOS 10.15.x and macOS 11.2), don't want to have to redo the uninstall and  recovery mode fix every days/ weeks.

Should this be changed to waiting on a fix from Apple for the label?

[2021-02-03 22:30] roblarose opened #782 "macOS Mojave is reporting kext error when QUITTING Osiris"
I'm working this issue with Projective.io support, but effectively what we're seeing is on Mojave systems enrolled in Jamf MDM, with the team ID 3T5GSNBU6W approved, we can launch Osiris & mount filesystem, and the kext loads as expected.

On QUIT of the application, it's throwing an error "There was a problem with OSReturn. Unknown kext error: -603946981"

On a system that is not enrolled in MDM,

[2021-02-03 23:11] bfleischer commented on #779
macOS 10.15 should be fine. The kernel extension loading issues are a result of bugs that were introduced in macOS 11. Apple is investigating the issues. I do not know when Apple will release the fix.

[2021-02-03 23:16] Chasapple4 commented on #779
I was seeing the bug on macOS 10.15.7 also (tho not as bad) with a different system extension that was already approved, but was blocked in early December 2020.  Then I saw it a bit in 11.0.1 and in 11.1 with MacFuse not loading at all and sometimes would only load with the 4.0.2 prerelease, and higher versions would not load.

[2021-02-04 20:07] wglas85 commented on #668
Same here, on OSX10.15.7 macFUSE 4.0.5, SSHFS 2.5.0.
This is really annoying and lead to a series fo hard reboots and is rendering osxfuse unacceptable for us.
What kind of logfiles may we provide in order to analyse the problem?

[2021-02-04 20:15] bfleischer commented on #668
I think this issue needs to be addressed in SSHFS, not macFUSE. At least SSHFS would be the logical start point for investigating this issue. My main focus is macFUSE, not SSHFS. If anybody wants to take a shot at this, help is always welcome.

[2021-02-04 20:33] antoniobcii opened #783 "Benjamin Fleischer Extension Won't show "allowed" button on Mac Pro running mojave 10.14.6"
I am running Yoyotta V 3.0 LTO back up on a MacPro 13 running mojave 10.14.6. I installed macfuse version 4.0.5 and when I try to run a back up it gives me an error message (pic attached) saying that the system extension is blocked and that I need to approve it in the preference panel.

When I go there there's no "allow" button. I tried uninstalling and rebooting, then installing again and rebooti

[2021-02-04 23:21] NSExceptional opened #784 "Feature request: "device type" mount option"
I see there is a `volicon` mount option for specifying a (static) icon, which is nice, but there is no way to get a dynamic icon that tints itself properly in light-mode or dark-mode like the sidebar icons do in Finder. These are the icons I'm referring to:

<img width="186" alt="Screenshot 2021-02-04 at 1 41 49 PM" src="https://user-images.githubusercontent.com/8371943/106967552-fbff1980-670c-11e

[2021-02-07 16:51] canversemike commented on #751
Also got this working today with 2.5 by removeing # include <fuse_darwin.h>
Cheers.

[2021-02-08 09:25] AaronDavidSchneider commented on #390
Another kind reminder that it would be great to have `libfuse3` support in osxfuse

[2021-02-09 20:00] Chasapple4 commented on #779
After a few restarts of the Mac looks to be blocked again

[2021-02-09 21:10] Chasapple4 commented on #779
Found this in the console (when I tried to boot a Win 10 guest VM)
`2021-02-09 14:08:33.145059 -0700	default	14:08:33.145059-0700	kernelmanagerd	validating extension at /Library/Filesystems/macfuse.fs/Contents/Extensions/11/macfuse.kext
2021-02-09 14:08:33.146804 -0700	info	14:08:33.146804-0700	kernelmanagerd	Collision: replacing Kext io.macfuse.filesystems.macfuse v2053.20 in executable kext bund

[2021-02-09 21:19] Chasapple4 commented on #779
Ran the installer again (on macOS 11.2.1)
`2021-02-09 14:11:19.541294 -0700	default	14:11:19.541294-0700	kernel	hfs: mounted macFUSE on device disk2
2021-02-09 14:11:19.702014 -0700	info	14:11:19.702014-0700	sharedfilelistd	[<private>] resolving item: macFUSE [D81832C2-B7E1-4055-A5DF-68BE47F136FD] - URL:/Volumes/macFUSE options: 768
2021-02-09 14:11:19.704097 -0700	info	14:11:19.704097-0700	shared

[2021-02-12 16:59] jkowalski commented on #628
FWIW I'm seeing similar behavior on macOS 11.1 + MacFuse 4.0.5.

I accidentally used DIRECT_IO flag in my code and it appears that this was causing `Preview` to **issue a read of 1 byte** instead of 4096 only (at least that's how it appeared at the FUSE layer). The read succeeded but Preview said the file is corrupted.

Without DIRECT_IO flag the read was 4096 bytes as expected.

Side-by-side logs

[2021-02-15 14:55] tobihagemann opened #785 "Mount point is not "persistent" / Unable to keep "favorite" in Finder's sidebar"
### Description

When adding a mount point to Finder's sidebar (under "Favorites"), the location becomes unavailable after re-mounting it to the same mount point. This only happens if the mount point is inside `/Volumes`.

<img width="372" alt="finder-warning" src="https://user-images.githubusercontent.com/2924160/107960260-b2cc8680-6fa4-11eb-9971-9bec2f8f451b.png">

### System Setup

* Operating

[2021-02-16 16:15] Chasapple4 commented on #779
Strange workaround that may or mayn't work, is that I ran the macFUSE 4.0.5 installer again and right after clicking close (when the install finished) opened the VMs I had been not having any luck with.

[2021-02-18 16:40] lipo2lipo commented on #783
Same problem here. MacOS 10.14.6 incl. all updates, lates MacFUSE. With SIP disabled, extension allowance request does not appear, Veracrypt works fine. With SIP enabled, extension notice appears, when I click the "Show Preferences ...", Preferences -> Security-> General window appears, but nowhere is mentioned Benjamin Fleischer extension, therefore no Allow button.
In High Sierra it worked fine,

[2021-02-18 16:46] bfleischer commented on #783
macOS might not display the allow button in case you are using third-party tools, that are capable of generating input events (mouse clicks or keyboard events). This is a security feature to make sure that the user clicks the allow button and not an app. See the following tickets:

https://github.com/osxfuse/osxfuse/issues/654
https://github.com/osxfuse/osxfuse/issues/437

[2021-02-18 19:04] lipo2lipo commented on #783
Solution found - the one mentioned in #741 (https://github.com/osxfuse/osxfuse/issues/741#issuecomment-752318425)
helped - I did delete  directory "/private/var/db/KernelExtensionManagement" and it was recreated by system again. Once mounting a container in Veracrypt - button Allow appeared in System preferences/Security/General and was able to click it. Now Veracrypt works again with SIP enabled.

[2021-02-19 17:15] saikamat commented on #705
Thank you @bfleischer . that's really helpful. Couldn't have been able to proceed without it.

[2021-02-23 18:58] bfree-github opened #786 "Need ssh KeyAlgorithms support"
In order to connect to servers via KeyAlgorithms, we need to be able to pass through the following ssh arguments:

-o KexAlgorithms
-o HostKeyAlgorithms

Is there a way for sshfs to pass arguments to ssh, or otherwise support KeyAlgorithms?

[2021-02-26 18:08] bfleischer commented on #786
This is the wrong place for SSHFS feature requests. Please raise the issue with the sshfs maintainers at https://github.com/libfuse/sshfs.

[2021-02-26 18:08] #786 closed, assigned to bfleischer

[2021-02-26 18:11] bfleischer commented on #783
Thanks for posting the solution.

[2021-02-26 18:11] #783 closed, assigned to bfleischer

[2021-02-26 18:18] bfleischer commented on #782
I don't have any hand-on experience with MDM enrolled systems and I cannot test this setup. But I am not aware of any issues.

Raising the issue with Projective.io is the right thing to do. If the error is displayed by Osiris, they should be able to find out what triggers it.

[2021-02-26 18:18] #782 closed, assigned to bfleischer

[2021-02-26 18:26] bfleischer commented on #766
The proper way to add support for writing NTFS volumes would probably be to create a file system bundle in /Library/Filesystems instead of replacing a system tool in /sbin. But this would be beyond the scope of the macFUSE project.

[2021-02-26 18:26] #766 closed, assigned to nobody

[2021-02-26 18:32] misku commented on #782
The problem has already been fixed ~2 weeks ago. Thank you @bfleischer for answering.

[2021-02-27 01:01] bfleischer commented on #551
Let's take the Korean character 폴 as an example. There are two UTF-8 representations of this character:

- The NFC representation: 0xED 0x8F 0xB4
- The NFD representation: 0xE1 0x84 0x91 0xE1 0x85 0xA9 0xE1 0x86 0xAF

Using the NFC representation the character 폴 requires 3 bytes. Using the NFD representation the character requires 9 bytes.

On macOS the maximum number of bytes per file name is 255

[2021-02-27 01:01] #551 closed, assigned to nobody

[2021-03-01 16:55] bfleischer commented on #498
This is not a macFUSE issue. File names on macFUSE may be 255 bytes long, not 255 UTF-8 characters. You need to make sure to use the NFC representation instead of the NFD representation to fit more characters in the 255 bytes.

[2021-03-01 16:55] #498 closed, assigned to bfleischer

[2021-03-01 16:59] #444 closed, assigned to bfleischer

[2021-03-01 17:00] #426 closed, assigned to nobody

[2021-03-01 17:01] #343 closed

[2021-03-01 17:03] #358 closed

[2021-03-01 17:08] #399 closed

[2021-03-01 17:10] mvmn commented on #358
What happens if you install Homebrew into a dir in user home directory instead of the default location? It should keep all dependencies inside that directory AFAIK.

I use this to ensure it doesn't mess with SIP and other things in macOS - I've got homebrew in ~, and as far as I can tell it installs all libs into ~/homebrew/var/lib now

[2021-03-01 17:14] #503 closed, assigned to nobody

[2021-03-01 17:37] #526 closed, assigned to nobody

[2021-03-01 17:47] #492 closed, assigned to nobody

[2021-03-04 22:43] scrutinizer11 commented on #744
I have an issue that is very similar but in my case, I ended up having two FUSE panes - '"FUSE" and "macFUSE". The OS is macOS 10.9. It showed the update was available, so I wanted to update from 3.11.2 but it stuck on "Updating". I then closed Preferences and updated manually by downloading the package from the official site. It reported installation success however I got 2 FUSE icons. Acting on

[2021-03-05 14:39] scrutinizer11 commented on #744
**SOLUTION FOUND**.
I trashed that macFUSE pane then put it back and restarted. After that "System Preferences" shows only the correct icon.

[2021-03-06 00:01] Chasapple4 commented on #779
Another reinstall, and wait about 12 hours and macOS decided to load it.

[2021-03-06 06:53] ijoseph commented on #779
Here's my story:
1. I had 11.1 (I believe) and had installed and was using 4.0.5 successfully.
2. I updated to 11.2. At this point it claimed the extension was blocked; it prompted me to rebuild my kext cache and restart; after restarting, the same thing happened (apparently something in the rebuild/ restart process had failed).
3. I updated to 11.3 Beta (20E5186d). Same issue.
4. I manually [trig

[2021-03-06 08:40] jief666 commented on #498
Anyway MacFUSE can be updated to accept more than 255 bytes ?

[2021-03-06 09:32] bfleischer commented on #498
255 bytes is the standard. Most file system do not support longer file names. See https://en.wikipedia.org/wiki/Comparison_of_file_systems.

It might be possible to increase the limit, but this would raise a lot of issues, e.g. copying a file with a longer name than 255 bytes to an APFS, HFS+ or exFAT volume would no longer work.

[2021-03-06 19:32] bfleischer commented on #498
The hard limit for file names on macOS 11 seems to be 1024 bytes (including the terminating \0 character).

[2021-03-06 19:52] bfleischer commented on #779
From what I have heard, the kernel extension loading issues should be fixed in an upcoming macOS 11.3 beta release.

[2021-03-08 10:53] #744 closed, assigned to bfleischer

[2021-03-09 13:50] RelaticsSys opened #787 "Allow button doesn't show up"
I'm trying to use Veracrypt. After installing both Veracrypt and osxfuse, I get notified to allow/approve the system extension by Benjamin Fleischer. When going to the Security & Privacy screen, I do not see a allow button. Tried reinstalling.

I've been looking up older topics and trying fixes, but can't seem to find anything. (Like closing Chrome, VLC, wireless mouse etc)

[2021-03-09 17:35] Chasapple4 commented on #779
After macOS 11.2.3 update it was blocked again, ran the installer again 4.0.5 and then it loaded fine (no restart needed)

[2021-03-10 08:41] dwt opened #788 "[Big Sur] Seeing two icons in System Settings"
<img width="335" alt="image" src="https://user-images.githubusercontent.com/57199/110600916-bd81d200-8184-11eb-9e27-2c4851072ca7.png">

Both seem to be version 4.0.5 - should one of them be removed?

[2021-03-10 08:45] bfleischer commented on #788
If you still see two FUSE icons after restarting System Preferences, please remove the "FUSE" preference pane by right-clicking on in and selecting "Remove ..." from the context menu. "macFUSE" is the new preferences pane from version 4.

[2021-03-10 08:45] #788 closed, assigned to bfleischer

[2021-03-10 15:09] dwt commented on #788
thx

[2021-03-11 14:44] PrzemekCh commented on #787
same for me

[2021-03-11 14:53] RelaticsSys commented on #787
I found out. I needed to turn on Reduced Security in Startup tools (M1 Macbook)

[2021-03-11 14:53] #787 closed, assigned to nobody

[2021-03-11 21:21] andyanderson opened #789 "Mounted Disk Naming"
I’m using macFUSE and mounting a remote file system via sshfs onto a directory on my desktop, e.g.

**$** _/usr/local/bin/sshfs aanderson@cluster: ~/Desktop/cluster_

Once it’s mounted I can reference the contents of this folder in the CLUI with _~/Desktop/cluster_. In the GUI, sshfs helpfully replaces the folder icon with a disk icon.

However, in the GUI it also changes the folder name to **macF

[2021-03-14 11:05] bfleischer commented on #776
The issue is addressed in the new 4.1.0 release.

[2021-03-14 11:05] #776 closed, assigned to bfleischer

[2021-03-14 11:08] bfleischer commented on #789
Please see https://github.com/osxfuse/osxfuse/wiki/Mount-options. The volname option is what you are looking for.

[2021-03-14 11:08] #789 closed, assigned to bfleischer

[2021-03-14 16:59] andyanderson commented on #789
Thanks! That works perfectly.

I had looked at the man page, but didn’t notice these extra options on the wiki.

— Andy

[2021-03-15 21:48] NotANormalNerd commented on #776
Thank you for your work.

[2021-03-18 08:58] fabrizziosoares commented on #779
I am new in this discussion, but I wonder if to install MacFuse and approve it, the only way is reducing security in startup tools. Is it possible to install MacFuse and keep high security?

[2021-03-18 09:16] bfleischer commented on #779
@fabrizziosoares No, on M1 Macs you need to run macOS in "reduced security mode", otherwise third-party kernel extensions cannot be loaded. Your system is not any less secure than macOS 10.15 ever was.

@Chasapple4 The latest macOS release (macOS 11.3 beta 4) addresses the approve-restart loop bug.

[2021-03-18 09:16] #779 closed, assigned to bfleischer

[2021-03-18 13:45] Chasapple4 commented on #779
@bfleischer After the macOS 11.2.3 it worked as I mentioned after I ran the installer again, and then had to wait a few hours (tho I tried 12 hours later and things were working again).

[2021-03-18 17:45] fabrizziosoares commented on #779
Thanks @bfleischer . Apple being Apple!

[2021-03-19 07:06] iaxat commented on #729
I updated it but the issue persists.

[2021-03-19 08:02] bfleischer commented on #729
Cloning works again since version 4.0.3 with the loopback reference file system. This means, if you are still running into the issue with >= 4.0.3, the rclone team needs to look into this.

[2021-03-21 12:28] krappdirk opened #790 "Unable to mount into macOS Catalina through SyncMate"
I have the licensed version of SyncMate and use Macos Catalina. To mount my Android device, I have installed as needed https://osxfuse.github.io and "allowed" loading the OS extension in the Mac Preferences / Security & Privacy / General.

Nevertheless, the mount fails with the following error message:
"""
Error
Mount unavailable. You need to install Fuse for OS X to activate this feature.
"""

Al

[2021-03-21 12:53] bfleischer commented on #790
Please raise this issue with the SyncMate team. SyncMate is not supporting the continued development of macFUSE. This means not even one cent of what you paid them reached this project. I hope you can understand, that I cannot provide support for their product.

[2021-03-21 12:53] #790 closed, assigned to bfleischer

[2021-03-21 13:06] krappdirk commented on #790
Hi Benjamin,

Thanks for your instant feedback, as well as the hint that there is nothing more you can help with from your end.

I have reached out to [SyncMate team](https://www.sync-mac.com/de/contacts.html) already before I brought this to attention here. If it's okay 4U, I will let them know what you have just told me, once they come back to me with a ticket ID.

Again thanks & have a great Su

[2021-03-21 19:36] slawek-es commented on #779
As a perhaps interesting data point, I found that macOS 11.2 will enter the "approve loop" for extensions which have been loaded from a directory under `/Applications`. After approving the kext and restarting, I was getting logs like:
[code]
and
[code]
Obviously, this is a problem if you bundle your kernel extension along with your application.

As a workaround, I can copy the extension directory

[2021-03-21 20:44] haochiche opened #791 "mount_macfuse: the file system is not available (1)"
Hi

I'm trying to use sshfs command, but it pop up a window shows:
<img width="328" alt="Screenshot 2021-03-21 at 22 35 37" src="https://user-images.githubusercontent.com/32489318/111920213-7229c680-8a96-11eb-97a2-aa8c6e9006b4.png">
After I click the 'Open system perferences', it give error message:
`mount_macfuse: the file system is not available (1)`

Also the security panel shows nothing. I can

[2021-03-21 22:22] Chasapple4 commented on #779
Update to [4.1.0 ](https://github.com/osxfuse/osxfuse/releases/tag/macfuse-4.1.0)and it worked right away

[2021-03-21 22:26] bfleischer commented on #779
@slawek-es macOS 11.3 beta 4 fixes the issue.

[2021-03-22 09:16] haochiche commented on #791
My issue is the same as this one:
https://github.com/osxfuse/osxfuse/issues/741#issuecomment-752318425

And I followed this method, but still failed to fix it. I can confirm the restricted flag is set, but still, it shows the same problem.

Then I rebooted to the safety mode, this time the error message changed, it now shows
[code]
But again, if I return to the normal mode, the original error mess

[2021-03-22 09:50] haochiche commented on #791
then I followed this https://github.com/osxfuse/osxfuse/issues/741#issuecomment-728388877
It seems to work with `csrutil disable`. The Security & Privacy showed up and I clicked allow.

However, after I enable the csrutil, it shows the same error again and asks me to allow the extension but no any information shows up in the Security & Privacy.
`mount_macfuse: the file system is not available (1)`

[2021-03-22 10:42] haochiche commented on #791
It finally working after I set `csrutil enable --without kext`. Not sure why, would be appreciated if anyone has a better solution.
Many thanks

[2021-03-22 17:10] krappdirk commented on #790
Last update, just for the sake of completeness:

SyncMate team told me to go with FUSE v3.11.2, and I can confirm that it works with SyncMate Expert v8.1.475. ✅

Of course I told them that

- it is already seven versions behind, with only 2 older versions offered in the release list, and they may have to consider vanishing that versions one day
- they should consider improving SyncMate and its ins

[2021-03-22 19:23] bonifatius5 opened #792 "Fehler in den (macFUSE) Systemeinstellungen nach Installation"
Ich habe die neuste Staple Version von macFUSE (4.1.0) installiert. Ich nutze ein MacBook Pro M1. Ich habe die Kernel Erweiterungen in den Startoptionen angepasst. Beim Versuch, die macFUSE-Einstellungen in den Systemeinstellungen zu starten kommt folgende Fehlermeldung (siehe Bildschirmfoto). Eine Idee, woran es liegen kann?
<img width="875" alt="Bildschirmfoto 2021-03-22 um 20 23 28" src="https:

[2021-03-22 21:59] crmscenarios commented on #754
This thread on Apple's boards helped me out:
https://discussions.apple.com/thread/252261556

[2021-03-23 23:57] #488 closed, assigned to bfleischer

[2021-03-27 06:56] bonifatius5 commented on #792
The problem still exists. Here again in English: I have installed the latest Staple version of macFUSE (4.1.0). I am using a MacBook Pro M1. I have adjusted the kernel extensions in the startup options. When trying to launch macFUSE preferences in System Preferences the following error message comes up (see screenshot). Any idea what the problem could be?

https://user-images.githubusercontent.com

[2021-03-28 12:04] DanielSmedegaardBuus opened #793 "FUSE filesystem hangs irrevocably on typo in mount options, blocks shell"
Hi :)

I was playing around with squashfs-fuse, and created a test squashfs, pictures.squashfs, then mounted it successfully under `~/mnt`, and had a look around.

I then wanted to find out how to make everything r/w (I'll be using UnionFS on top of squashfs, and I want everything to be writable to everyone). Muddled around on the interwebs, then tried mounting with this typo:

`squashfuse -o dmes

[2021-03-30 11:26] Evkva opened #794 "macOS big sur 11.2.2 Homebrew can't install ntfs-3g"
![截屏2021-03-30 下午4 46 26](https://user-images.githubusercontent.com/32220583/112981130-55c01500-918d-11eb-87fd-8529a9a51fc0.png)
My CPU is intel,but
![截屏2021-03-30 下午7 25 36](https://user-images.githubusercontent.com/32220583/112981411-ba7b6f80-918d-11eb-9648-b71617b7a304.png)

[2021-03-30 11:32] bfleischer commented on #794
Please raise this issue with the Homebrew team.

[2021-03-30 11:32] #794 closed, assigned to bfleischer

[2021-03-31 18:41] AyaanZaveri opened #795 "Rclone mount not working with FUSE on M1 Macs."
Everytime I use the `rclone mount...` command, **FUSE** says:

<img width="286" alt="Screen Shot 2021-03-31 at 2 37 50 PM" src="https://user-images.githubusercontent.com/63752541/113194041-adfb2380-922e-11eb-85c7-b03d440fe902.png">

I tried going to security and privacy, enabled my system extensions and restarted my computer 3 times. Am I doing something wrong? I'm currently running [4.1.0](https:

[2021-03-31 18:45] bfleischer commented on #795
If possible, please upgrade to macOS 11.3 beta 4 or later. Apple addressed this bug in macOS 11.3 beta 4.

[2021-03-31 18:45] #795 closed, assigned to bfleischer

[2021-03-31 18:50] AyaanZaveri commented on #795
Thanks!

[2021-03-31 21:55] AyaanZaveri commented on #795
@bfleischer Is there any way to do this without installing a beta version?

[2021-04-01 07:33] bfleischer commented on #795
You can retry the process multiple times, uninstall macFUSE, restart, reinstall it. Triggering the panic medic in the recovery recovery mode helps sometimes. After enough retries it will work, but the easiest way to solve this is upgrading to macOS 11.3.

[2021-04-03 04:03] AyaanZaveri commented on #795
Thanks, but 11.3 isn’t out yet, right?

[2021-04-07 04:59] viraths commented on #518
`sshfs user@example.net:/home/user/ ~/RemoteHome -o volname=RemoteHome`

Above worked for me. You need to use `-o volname=WhatEverNameYouWantToUse` option and should be all good.

[2021-04-07 18:05] dlaxar commented on #793
Hi,

it's probably not very helpful but I've had a remarkably similar issue with ssfs + osxfuse (both via Homebrew today). In fact even successful mounts seem to "ruin" mountpoints/folders forever. `ls`, `mv`, ... all of them hang. Next step I can't open any windows on my machine, then the browser tabs hang (although `top` gives me plenty of free CPU, mem, ...). At last the whole file system in Fi

[2021-04-08 08:40] ahuber21 commented on #793
I experience the same issues and I noticed that in these cases the `macfuse` process is waiting in uninterruptible sleep. I'd be happy to help if there's anything I can do.

[2021-04-08 10:54] Timmmm opened #796 "Clarify naming & versions"
So as I understand it originally there was [macFUSE](https://code.google.com/archive/p/macfuse/), which was followed by *osxfuse*, which is possibly also known as [*FUSE for MacOS*](https://github.com/osxfuse/osxfuse/tree/master#fuse-for-macos)? If you follow the [FUSE for macOS Project](http://osxfuse.github.io/) link in that Readme it takes you to `osxfuse.github.io` and the page is all about *m